<base href="http://bbs.nankai.edu.cn/"><!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <link rel="icon" href="data/favicon.ico" />
    <base href="http://bbs.nankai.edu.cn/" />
    <title>我爱南开BBS</title>
    <link href="static/lib/css/bootstrap.min.css" rel="stylesheet" />
    <link href="static/sky/dist/css/welcome.css" rel="stylesheet" />
    <meta property="wb:webmaster" content="3d2a4ebb3ca37c72" />
</head>
<body>
    <img id="img" src="data/uploads/picture/Untitled1.jpg" alt="welcome-img" />
    <div id="navbar" class="navbar navbar-inverse">
        <div class="navbar-inner">
            <div class="container">
                <div class="nav-collapse collapse">
                    <form class="form-inline pull-left" action="javascript:login()">
                        <input type="text" id="username" class="input-medium" placeholder="用户名" />
                        <input type="password" id="password" class="input-medium" placeholder="密码" />
                        <label class="checkbox" title="保持登录3天"><input type="checkbox" id="remember" />保持登录</label>
                        <button id="btn-login" type="submit" class="btn btn-primary">登录</button>
                    </form>
                    <ul class="nav pull-right">
                    <!--
                        <li><a href="welcome/new_students">新生入口</a></li>
                    -->
                        <li><a href="#register" data-toggle="modal">注册</a></li>
                        <li><a href="welcome/old_user">老用户通道</a></li>
                        <li><a href="main">游客模式</a></li>
                        <li><a href="#findpwd" data-toggle="modal">找回密码</a></li>
                    <!--
                        <li><a href="http://webscan.360.cn/index/checkwebsite/url/bbs.nankai.edu.cn" name="6f6c40e6a864942763e5ad18f7e02e23" ></a></li>
                    -->
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <form id="register" class="modal hide fade" aria-labelledby="register-lable" aria-hidden="true" action="javascript:register()">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 class="register-lable">注册</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span8" style="border-right:1px solid #eee;">
                    <div class="form-item">
                        <label class="form-label" for="reg-urp-name">信息门户帐号</label>
                        <input type="text" id="reg-urp-name" />
                    </div>
                    <div class="form-item">
                        <label class="form-label" for="reg-urp-pwd">信息门户密码</label>
                        <input type="password" id="reg-urp-pwd" />
                    </div>
                    <div class="form-item">
                        <label class="form-label" for="reg-nickname">BBS昵称</label>
                        <input type="text" id="reg-nickname" />
                    </div>
                    <div class="form-item">
                        <label class="form-label" for="reg-pwd1">BBS密码</label>
                        <input type="password" id="reg-pwd1" />
                    </div>
                    <div class="form-item">
                        <label class="form-label" for="reg-pwd2">BBS密码确认</label>
                        <input type="password" id="reg-pwd2" />
                    </div>
                    <label class="checkbox register-detail">
                        <input type="checkbox" id="reg-readme" />用户必读
                    </label>
                </div>
                <div class="span4">
                    <p class="lead">注册说明</p>
                    <small>所有信息都是必填信息，其中信息门户的帐号即为以后登录我爱南开BBS的帐号。注册前请阅读<a target="_blank" href="welcome/about/user_protocol/">【我爱南开BBS用户管理规定】</a>，勾选用户必读即视为同意此规定。点击确定后请不要刷新页面（可能会有一小段的等待），注册成功时会自动登录。</small>
                </div>
                <div id="reg-alert"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
            <button class="btn btn-primary" type="submit">确认</button>
        </div>
    </form>

    <form id="findpwd" class="modal hide fade" aria-labelledby="findpwd-lable" aria-hidden="true" action="javascript:findpwd()">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 id="findpwd-lable">找回密码</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span8" style="border-right:1px solid #eee;">
                    <div class="form-item">
                        <label class="form-label" for="findpwd-urp-name">信息门户帐号</label>
                        <input type="text" id="findpwd-urp-name" />
                    </div>
                    <div class="form-item">
                        <label class="form-label" for="findpwd-urp-pwd">信息门户密码</label>
                        <input type="password" id="findpwd-urp-pwd" />
                    </div>
                    <div class="form-item">
                        <label class="form-label" for="findpwd-pwd1">新密码</label>
                        <input type="password" id="findpwd-pwd1" />
                    </div>
                    <div class="form-item">
                        <label class="form-label" for="findpwd-pwd2">新密码确认</label>
                        <input type="password" id="findpwd-pwd2" />
                    </div>
                </div>
                <div class="span4">
                    <p class="lead">找回密码说明</p>
                    <small>由于密码都是加密储存的，所以如果您忘记了密码，我们只能在验证身份后让您设置新的密码。</small>
                </div>
                <div id="findpwd-alert"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
            <button class="btn btn-primary" type="submit">确认</button>
        </div>
    </form>
	 <form id="urp_ident" class="modal hide fade" aria-labelledby="urp_ident-lable" aria-hidden="true" action="javascript:urp_identy()">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 class="urp_ident-lable">认证</h3>
        </div>
        <div class="modal-body">
            <div class="row-fluid">
                <div class="span8" style="border-right:1px solid #eee;">
                    <div class="form-item">
                        <label class="form-label" for="reg-urp-name">信息门户帐号</label>
                        <input type="text" id="ide-urp-name" />
                    </div>
                    <div class="form-item">
                        <label class="form-label" for="reg-urp-pwd">信息门户密码</label>
                        <input type="password" id="ide-urp-pwd" />
                    </div>
                    <div class="form-item">
                        <label class="form-label" for="reg-urp-pwd">BBS密码</label>
                        <input type="password" id="ide-pwd" />
                    </div>
                </div>
                <div class="span4">
                    <p class="lead">认证说明</p>
                    <small>认证后，BBS的帐号为信息门户帐号，密码为原来的帐号密码</small>
                </div>
                <div id="reg-alert"></div>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
            <button class="btn btn-primary" type="submit">确认</button>
        </div>
    </form>
</body>
    <script>
        var _baseurl = 'http://bbs.nankai.edu.cn/',
            urp_ident = -1;
    </script>
	<script src="static/lib/js/jquery-1.11.2.min.js") ?>"></script>
    <script src="static/lib/js/bootstrap.min.js") ?>"></script>
    <script src="data/user/js_min/lib/ajax.js"></script>
    <script src="static/sky/dist/js/welcome.js"></script>
</html>
