<base href="http://news.nankai.edu.cn/xfjs/system/2018/11/13/000418648.shtml"><HTML>
<HEAD>
<title>高等学校学术委员会规程--学风建设专题</title>

<style type="text/css">
<!--
body {
	background-color: #e6e7e9;
}

-->
</style></HEAD>
<BODY LEFTMARGIN=0 TOPMARGIN=0 MARGINWIDTH=0 MARGINHEIGHT=0>


<body>
<div align="center">
  <table width="950" border="0" cellspacing="0" bgcolor="#FFFFFF">
    <tr valign="bottom" bgcolor="#FFFFFF">
      <td colspan="4" height="120"><div id="logo">
<!--enorth cms{ banner-xf }enorth cms-->
<div align="center"><img src="http://news.nankai.edu.cn/pic/0/00/03/53/35304_345297.jpg" width="950" height="126"></div>

<!--enorth cms{ banner-xf }enorth cms-->
</div>        </td>
    </tr>
    <tr valign="top" bgcolor="#FFFFFF">
      <td colspan="4"><table width="950" border="0" cellspacing="0" cellpadding="0">
        <tr bgcolor="CCCDCF">
          <td width="45" height="23">&nbsp;</td>
          <td width="581" height="23">
<!--function position() parse begin-->
您当前的位置 ：<a href=http://news.nankai.edu.cn/xfjs/>学风建设专题</a>&nbsp;正文
<!--function: position() parse end  0ms cost! -->
 </td>
          <td width="324" height="23" valign="middle"><div align="center">
<!--enorth cms{ baidu }enorth cms-->
			 <!--Baidu站内搜索开始-->
<script language="javascript">
function baidusearch () {
var wd=document.getElementsByName("wd")[0].value;
var link="http://www.baidu.com/s?si=news.nankai.edu.cn&cl=3&ct=2097152&tn=baidulocal&word="+wd;
window.open(link); }
</script>
<input type="text" name="wd"/><input type="submit" onclick="javascript:baidusearch()" value="新闻网搜索" />
<!--Baidu站内搜索结束-->
<!--enorth cms{ baidu }enorth cms-->

             </div></td>
        </tr>
        <tr>
          <td colspan="3"><img src="http://news.nankai.edu.cn/images/jiewei/position.jpg" width="950" height="15"></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td width="694"><div align="left">　</div></td>
      <td width="3" rowspan="3"><div align="left">
        </div></td>
      <td width="4" rowspan="3" background="http://news.nankai.edu.cn/images/xian2.jpg">&nbsp;</td>
      <td width="245" rowspan="3" valign="top"><div align="center">
<!--enorth cms{ bianlan-xf }enorth cms-->
<HTML>
<HEAD>
<TITLE>南开新闻网</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=gb2312">
<link href="http://news.nankai.edu.cn/css/index.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.STYLE2 {font-size: 16px}
-->
</style>
</HEAD>
<BODY BGCOLOR=#FFFFFF LEFTMARGIN=0 TOPMARGIN=0 MARGINWIDTH=0 MARGINHEIGHT=0>

<style type="text/css">
<!--

-->
</style>
<table width="240" border="0">
  <tr>
    <td valign="top"><img src="http://news.nankai.edu.cn/pic/0/00/12/61/126152_221937.jpg" width="230" height="31" border="0"></td>
  </tr>
  <tr>
    <td>
<!--function guide5(xfjsdt,1,10,false,·,none,none,none) parse begin-->
<table width="100%"  >
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182638.shtml"   target="_blank" >教育部有关负责人就新出台的学风建设文件答记者问 </a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182637.shtml"   target="_blank" >教育部开展高校学风建设专项教育和治理行动 </a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182636.shtml"   target="_blank" >南开大学师德建设工作情况（2013）</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2013/05/29/000128014.shtml"   target="_blank" >南开大学2011年学风建设年度报告</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182639.shtml"   target="_blank" >“南开大学研究生学风建设专题网站”开通</a></td></tr>
</table>

<!--function: guide5(xfjsdt,1,10,false,·,none,none,none) parse end  78ms cost! -->
</td>
  </tr>
  <tr>
    <td> </td>
  </tr>
  <tr>
    <td> </td>
  </tr>
  <tr>
    <td><img src="http://news.nankai.edu.cn/pic/0/00/12/61/126153_700572.jpg" width="230" height="31"></td>
  </tr>
  <tr>
    <td>
<!--function guide5(yxtd,1,10,false,·,none,none,none) parse begin-->
<table width="100%"  >
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182615.shtml"   target="_blank" >南开大学公司治理研究中心创新团队纪实</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182634.shtml"   target="_blank" >学风纯正高尚的楷模 ——记明史大家南开大学历史学院教授南炳文先生</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182635.shtml"   target="_blank" >学高为师，身正为范——记南开大学经济学院副教授刘凤义</a></td></tr>
</table>

<!--function: guide5(yxtd,1,10,false,·,none,none,none) parse end  47ms cost! -->
</td>
  </tr>
  <tr>
    <td> </td>
  </tr>
  
  <tr>
    <td><img src="http://news.nankai.edu.cn/pic/0/00/12/61/126154_978978.jpg" width="230" height="31"></td>
  </tr>
  <tr>
    <td><div align="center"><a href="http://ygb.nankai.edu.cn/xfjs/index.html"><img src="http://news.nankai.edu.cn/pic/0/00/08/31/83124_825347.jpg" width="230" height="44" border="0"></a></div></td>
  </tr>
</table>

<!--enorth cms{ bianlan-xf }enorth cms-->
</div></td>
    </tr>
    <tr>
      <td valign="top"><div align="left">
        <table width="85%" border="0" align="center" cellpadding="2" cellspacing="0">
          <tr>
            <td><div align="center"><span class="title">高等学校学术委员会规程 </span></div></td>
          </tr>
          <tr>
            <td><div align="center">来源：
<!--function source_without_pub_date() parse begin-->

<!--function: source_without_pub_date() parse end  0ms cost! -->
　发稿时间：
<!--function pub_date() parse begin-->
2018-11-13 17:00
<!--function: pub_date() parse end  0ms cost! -->
</div></td>
          </tr>
          <tr>
            <td><hr width="95%" size="1" noshade></td>
          </tr>
          <tr>
            <td><span class="main">
<!--function content() parse begin-->
<p align="center"><strong>第一章 总则</strong></p>
<p align="left">　　第一条 为促进高等学校规范和加强学术委员会建设，完善内部治理结构，保障学术委员会在教学、科研等学术事务中有效发挥作用，根据《中华人民共和国高等教育法》及相关规定，制定本规程。</p>
<p align="left">　　第二条 高等学校应当依法设立学术委员会，健全以学术委员会为核心的学术管理体系与组织架构；并以学术委员会作为校内最高学术机构，统筹行使学术事务的决策、审议、评定和咨询等职权。</p>
<p align="left">　　实施本科以上教育的普通高等学校学术委员会的组成、职责与运行等，适用本规程。</p>
<p align="left">　　第三条 高等学校应当充分发挥学术委员会在学科建设、学术评价、学术发展和学风建设等事项上的重要作用，完善学术管理的体制、制度和规范，积极探索教授治学的有效途径，尊重并支持学术委员会独立行使职权，并为学术委员会正常开展工作提供必要的条件保障。</p>
<p align="left">　　第四条 高等学校学术委员会应当遵循学术规律，尊重学术自由、学术平等，鼓励学术创新，促进学术发展和人才培养，提高学术质量；应当公平、公正、公开地履行职责，保障教师、科研人员和学生在教学、科研和学术事务管理中充分发挥主体作用，促进学校科学发展。</p>
<p align="left">　　第五条 高等学校应当结合实际，依据本规程，制定学术委员会章程或者通过学校章程，具体明确学术委员会组成、职责，以及委员的产生程序、增补办法，会议制度和议事规则及其他本规程未尽事宜。</p>
<p align="center"><strong>第二章 组成规则</strong></p>
<p align="left">　　第六条 学术委员会一般应当由学校不同学科、专业的教授及具有正高级以上专业技术职务的人员组成，并应当有一定比例的青年教师。</p>
<p align="left">　　学术委员会人数应当与学校的学科、专业设置相匹配，并为不低于15人的单数。其中，担任学校及职能部门党政领导职务的委员，不超过委员总人数的1/4；不担任党政领导职务及院系主要负责人的专任教授，不少于委员总人数的1/2。</p>
<p align="left">　　学校可以根据需要聘请校外专家及有关方面代表，担任专门学术事项的特邀委员。</p>
<p align="left">　　第七条 学术委员会委员应当具备以下条件：</p>
<p align="left">　　（一）遵守宪法法律，学风端正、治学严谨、公道正派；</p>
<p align="left">　　（二）学术造诣高，在本学科或者专业领域具有良好的学术声誉和公认的学术成果；</p>
<p align="left">　　（三） 关心学校建设和发展，有参与学术议事的意愿和能力，能够正常履行职责；</p>
<p align="left">　　（四）学校规定的其他条件。</p>
<p align="left">　　第八条 学校应当根据学科、专业构成情况，合理确定院系（学部）的委员名额，保证学术委员会的组成具有广泛的学科代表性和公平性。</p>
<p align="left">　　学术委员会委员的产生，应当经自下而上的民主推荐、公开公正的遴选等方式产生候选人，由民主选举等程序确定，充分反映基层学术组织和广大教师的意见。</p>
<p align="left">　　特邀委员由校长、学术委员会主任委员或者1/3以上学术委员会委员提名，经学术委员会同意后确定。</p>
<p align="left">　　第九条 学术委员会委员由校长聘任。</p>
<p align="left">　　学术委员会委员实行任期制，任期一般可为4年，可连选连任，但连任最长不超过2届。</p>
<p align="left">　　学术委员会每次换届，连任的委员人数应不高于委员总数的2/3。</p>
<p align="left">　　第十条 学术委员会设主任委员1名，可根据需要设若干名副主任委员。主任委员可由校长提名，全体委员选举产生；也可以采取直接由全体委员选举等方式产生，具体办法由学校规定。</p>
<p align="left">　　第十一条 学术委员会可以就学科建设、教师聘任、教学指导、科学研究、学术道德等事项设立若干专门委员会，具体承担相关职责和学术事务；应当根据需要，在院系（学部）设置或者按照学科领域设置学术分委员会，也可以委托基层学术组织承担相应职责。</p>
<p align="left">　　各专门委员会和学术分委员会根据法律规定、学术委员会的授权及各自章程开展工作，向学术委员会报告工作，接受学术委员会的指导和监督。</p>
<p align="left">　　学术委员会设立秘书处，处理学术委员会的日常事务；学术委员会的运行经费，应当纳入学校预算安排。</p>
<p align="left">　　第十二条 学术委员会委员在任期内有下列情形，经学术委员会全体会议讨论决定，可免除或同意其辞去委员职务：</p>
<p align="left">　　（一）主动申请辞去委员职务的；</p>
<p align="left">　　（二）因身体、年龄及职务变动等原因不能履行职责的；</p>
<p align="left">　　（三）怠于履行职责或者违反委员义务的；</p>
<p align="left">　　（四）有违法、违反教师职业道德或者学术不端行为的；</p>
<p align="left">　　（五）因其他原因不能或不宜担任委员职务的。</p>
<p align="center"><strong>第三章 职责权限</strong></p>
<p align="left">　　第十三条 学术委员会委员享有以下权利：</p>
<p align="left">　　（一）知悉与学术事务相关的学校各项管理制度、信息等；</p>
<p align="left">　　（二）就学术事务向学校相关职能部门提出咨询或质询；</p>
<p align="left">　　（三）在学术委员会会议中自由、独立地发表意见，讨论、审议和表决各项决议；</p>
<p align="left">　　（四）对学校学术事务及学术委员会工作提出建议、实施监督；</p>
<p align="left">　　（五）学校章程或者学术委员会章程规定的其他权利。</p>
<p align="left">　　特邀委员根据学校的规定，享有相应权利。</p>
<p align="left">　　第十四条 学术委员会委员须履行以下义务：</p>
<p align="left">　　（一）遵守国家宪法、法律和法规，遵守学术规范、恪守学术道德；</p>
<p align="left">　　（二）遵守学术委员会章程，坚守学术专业判断，公正履行职责；</p>
<p align="left">　　（三）勤勉尽职，积极参加学术委员会会议及有关活动；</p>
<p align="left">　　（四）学校章程或者学术委员会章程规定的其他义务。</p>
<p align="left">　　第十五条 学校下列事务决策前，应当提交学术委员会审议，或者交由学术委员会审议并直接做出决定：</p>
<p align="left">　　（一）学科、专业及教师队伍建设规划，以及科学研究、对外学术交流合作等重大学术规划；</p>
<p align="left">　　（二）自主设置或者申请设置学科专业；</p>
<p align="left">　　（三）学术机构设置方案，交叉学科、跨学科协同创新机制的建设方案、学科资源的配置方案；</p>
<p align="left">　　（四）教学科研成果、人才培养质量的评价标准及考核办法；</p>
<p align="left">　　（五）学位授予标准及细则，学历教育的培养标准、教学计划方案、招生的标准与办法；</p>
<p align="left">　　（六）学校教师职务聘任的学术标准与办法；</p>
<p align="left">　　（七）学术评价、争议处理规则，学术道德规范；</p>
<p align="left">　　（八）学术委员会专门委员会组织规程，学术分委员会章程；</p>
<p align="left">　　（九）学校认为需要提交审议的其他学术事务。</p>
<p align="left">　　　第十六条 学校实施以下事项，涉及对学术水平做出评价的，应当由学术委员会或者其授权的学术组织进行评定：</p>
<p align="left">　　（一）学校教学、科学研究成果和奖励，对外推荐教学、科学研究成果奖；</p>
<p align="left">　　（二）高层次人才引进岗位人选、名誉（客座）教授聘任人选，推荐国内外重要学术组织的任职人选、人才选拔培养计划人选；</p>
<p align="left">　　（三）自主设立各类学术、科研基金、科研项目以及教学、科研奖项等；</p>
<p align="left">　　（四）需要评价学术水平的其他事项。</p>
<p align="left">　　第十七条 学校做出下列决策前，应当通报学术委员会，由学术委员会提出咨询意见：</p>
<p align="left">　　（一）制订与学术事务相关的全局性、重大发展规划和发展战略；</p>
<p align="left">　　（二）学校预算决算中教学、科研经费的安排和分配及使用；</p>
<p align="left">　　（三）教学、科研重大项目的申报及资金的分配使用；</p>
<p align="left">　　（四）开展中外合作办学、赴境外办学，对外开展重大项目合作；</p>
<p align="left">　　（五）学校认为需要听取学术委员会意见的其他事项。</p>
<p align="left">　　学术委员会对上述事项提出明确不同意见的，学校应当做出说明、重新协商研究或者暂缓执行。</p>
<p align="left">　　第十八条 学术委员会按照有关规定及学校委托，受理有关学术不端行为的举报并进行调查，裁决学术纠纷。</p>
<p align="left">　　学术委员会调查学术不端行为、裁决学术纠纷，应当组织具有权威性和中立性的专家组，从学术角度独立调查取证，客观公正地进行调查认定。专家组的认定结论，当事人有异议的，学术委员会应当组织复议，必要的可以举行听证。</p>
<p align="left">　　对违反学术道德的行为，学术委员会可以依职权直接撤销或者建议相关部门撤销当事人相应的学术称号、学术待遇，并可以同时向学校、相关部门提出处理建议。</p>
<p align="center"><strong>第四章 运行制度</strong></p>
<p align="left">　　第十九条 学术委员会实行例会制度，每学期至少召开1次全体会议。根据工作需要，经学术委员会主任委员或者校长提议，或者1/3以上委员联名提议，可以临时召开学术委员会全体会议，商讨、决定相关事项。</p>
<p align="left">　　学术委员会可以授权专门委员会处理专项学术事务，履行相应职责。</p>
<p align="left">　　第二十条 学术委员会主任委员负责召集和主持学术委员会会议，必要时，可以委托副主任委员召集和主持会议。学术委员会委员全体会议应有2/3以上委员出席方可举行。</p>
<p align="left">　　学术委员会全体会议应当提前确定议题并通知与会委员。经与会1/3以上委员同意，可以临时增加议题。</p>
<p align="left">　　第二十一条 学术委员会议事决策实行少数服从多数的原则，重大事项应当以与会委员的2/3以上同意，方可通过。</p>
<p align="left">　　学术委员会会议审议决定或者评定的事项，一般应当以无记名投票方式做出决定；也可以根据事项性质，采取实名投票方式。</p>
<p align="left">&nbsp;&nbsp;&nbsp; 学术委员会审议或者评定的事项与委员本人及其配偶和直系亲属有关，或者具有利益关联的，相关委员应当回避。</p>
<p align="left">　　第二十二条 学术委员会会议可以根据议题，设立旁听席，允许相关学校职能部门、教师及学生代表列席旁听。</p>
<p align="left">　　学术委员会做出的决定应当予以公示，并设置异议期。在异议期内如有异议，经1/3以上委员同意，可召开全体会议复议。经复议的决定为终局结论。</p>
<p align="left">　　第二十三条 学术委员会应当建立年度报告制度，每年度对学校整体的学术水平、学科发展、人才培养质量等进行全面评价，提出意见、建议；对学术委员会的运行及履行职责的情况进行总结。</p>
<p align="left">　　学术委员会年度报告应提交教职工代表大会审议，有关意见、建议的采纳情况，校长应当做出说明。</p>
<p align="center"><strong>第五章 附 则</strong></p>
<p align="left">　　第二十四条 高等职业学校、成人高等学校可以参照本规程，结合自身特点，确定学术委员会的组成及职责，制定学术委员会章程。</p>
<p align="left">　　第二十五条 高等学校现有学术委员会的组成、职责等与本规程不一致的，学校通过经核准的章程已予以规范的，可以按照学校章程的规定实施；学校章程未规定的，应当按照本规程进行调整、规范。</p>
<p align="left">　　第二十六条 本规程自2014年3月1日起施行。</p>
<p align="left">　　教育部此前发布的有关规章、文件中的相关规定与本规程不一致的，以本规程为准。</p>
<!--advertisement code begin--><!--advertisement code end-->
<!--function: content() parse end  16ms cost! -->
 </span></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
        </table>
      </div></td>
    </tr>
    <tr>
      <td><div align="center"><br>
        <br>
        <br>
      </div></td>
    </tr>
    <tr>
      <td colspan="4"><div id="footer">
<!--enorth cms{ jiewei-xf }enorth cms-->
<style>
#footer{background-color:#E6E7E9; border-top:4px solid #E6E7E9;text-align:center;}
#footer #friends{background:#fff;padding:8px 50px 8px 50px; text-align:left;margin-bottom:10px;}
#footer p{font-size: 1.2em;}
</style>
<p align="center">
 版权所有&#169; 南开大学　网站制作与维护：南开大学党委宣传部 <br>
 举报电话：022-23508595；电子邮箱：nkxswyh@nankai.edu.cn；联系人：王越超<strong><br>
 津教备0061号 津ICP备12003308号-1</strong></p>	

<!--enorth cms{ jiewei-xf }enorth cms-->
</div></td>
    </tr>
  </table>
</div>
</body>
</html>
<!--<page cms="enorth webpublisher"  version="5.0.0 /2011101201" server_name="svctag-f76553x" parse_date="2018-11-13 17:00:54" cost="219" parse_result="0" input_mode="manual"></page>-->