<base href="http://xxgk.nankai.edu.cn/main.htm"><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>信息公开网</title>

<link type="text/css" href="/_css/_system/system.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/1/style/6/6.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/00/37/55/style/46/46.css" rel="stylesheet"/>
       <LINK href="/_css/tpl2/system.css" type="text/css" rel="stylesheet"> 
<link type="text/css" href="/_js/_portletPlugs/sudyExtend/sudyExtend.css" rel="stylesheet" />
       <LINK href="/_css/tpl2/default/default.css" type="text/css" rel="stylesheet"> 
<link type="text/css" href="/_js/_portletPlugs/simpleNews/css/simplenews.css" rel="stylesheet" />
<link type="text/css" href="/_js/_portletPlugs/datepicker/css/datepicker.css" rel="stylesheet" />
<link type="text/css" href="/_js/_portletPlugs/sudyNavi/css/sudyNav.css" rel="stylesheet" />

<script language="javascript" src="/_js/sudy-jquery-autoload.js" jquery-src="/_js/jquery-1.x.min.js" sudy-wp-context="" sudy-wp-siteId="55"></script>
<script language="javascript" src="/_js/jquery-migrate.min.js"></script>
<script language="javascript" src="/_js/jquery.sudy.wp.visitcount.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/sudyExtend/sudyExtend.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/datepicker/js/jquery.datepicker.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/datepicker/js/datepicker_lang_HK.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/sudyNavi/jquery.sudyNav.js"></script>
<link rel="stylesheet" href="/_upload/tpl/00/48/72/template72/css/style.css" type="text/css" media="all" />
<script type="text/javascript" src="/_upload/tpl/00/48/72/template72/extends/extends.js">
</script>
</head>
<body>
<div class="wrapper" id="header">
  <div class="inner">
    <div class="head">
    </div>
  </div>
</div>
<div class="wrapper" id="nav">
  <div class="inner" frag="面板2">
    <div class="nav" frag="窗口2">
      <div id="wp_nav_w2"> 

 
<ul class="wp_nav" data-nav-config="{drop_v: 'down', drop_w: 'right', dir: 'y', opacity_main: '1', opacity_sub: '1', dWidth: '0'}">
      
     <li class="nav-item i1 "> 
         <a href="/main.htm" title="首页" target="_self"><span class="item-name">首页</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i2 "> 
         <a href="/xxgkzn/list.htm" title="信息公开指南" target="_self"><span class="item-name">信息公开指南</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i3 "> 
         <a href="/xxgkml/list.htm" title="信息公开目录" target="_self"><span class="item-name">信息公开目录</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i3-1 "> 
                 <a href="/ywxxjbxx/list.htm" title="一、学校基本信息" target="_self"><span class="item-name">一、学校基本信息</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-2 "> 
                 <a href="/2835/list.htm" title="二、招生考试信息" target="_self"><span class="item-name">二、招生考试信息</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-3 "> 
                 <a href="/2836/list.htm" title="三、财务、资产及收费信息" target="_self"><span class="item-name">三、财务、资产及收费...</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-4 "> 
                 <a href="/2837/list.htm" title="四、人事师资信息" target="_self"><span class="item-name">四、人事师资信息</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-5 "> 
                 <a href="/2838/list.htm" title="五、教学质量信息" target="_self"><span class="item-name">五、教学质量信息</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-6 "> 
                 <a href="/2839/list.htm" title="六、学生管理服务信息" target="_self"><span class="item-name">六、学生管理服务信息</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-7 "> 
                 <a href="/2840/list.htm" title="七、学风建设信息" target="_self"><span class="item-name">七、学风建设信息</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-8 "> 
                 <a href="/2841/list.htm" title="八、学位、学科信息" target="_self"><span class="item-name">八、学位、学科信息</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-9 "> 
                 <a href="/2842/list.htm" title="九、对外交流与合作信息" target="_self"><span class="item-name">九、对外交流与合作信...</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-10 "> 
                 <a href="/2843/list.htm" title="十、科研及相关机构信息" target="_self"><span class="item-name">十、科研及相关机构信...</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-11 "> 
                 <a href="/2844/list.htm" title="十一、其他" target="_self"><span class="item-name">十一、其他</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i4 "> 
         <a href="/zxgkxx/list.htm" title="最新公开信息" target="_self"><span class="item-name">最新公开信息</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i5 "> 
         <a href="/ysqgk/list.htm" title="依申请公开" target="_self"><span class="item-name">依申请公开</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i6 "> 
         <a href="/xqzl/list.htm" title="校情总览" target="_self"><span class="item-name">校情总览</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i6-1 "> 
                 <a href="/2954/list.htm" title="南开简介" target="_self"><span class="item-name">南开简介</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i6-2 "> 
                 <a href="/2955/list.htm" title="历史回眸" target="_self"><span class="item-name">历史回眸</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i6-3 "> 
                 <a href="/2956/list.htm" title="现任领导" target="_self"><span class="item-name">现任领导</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i6-4 "> 
                 <a href="/2957/list.htm" title="历届领导" target="_self"><span class="item-name">历届领导</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i7 "> 
         <a href="/nkxw/list.htm" title="南开新闻" target="_self"><span class="item-name">南开新闻</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i7-1 "> 
                 <a href="/2951/list.htm" title="南开新闻网" target="_self"><span class="item-name">南开新闻网</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i7-2 "> 
                 <a href="/2952/list.htm" title="南开大学报" target="_self"><span class="item-name">南开大学报</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i7-3 "> 
                 <a href="/2953/list.htm" title="南开大学电视台" target="_self"><span class="item-name">南开大学电视台</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i8 "> 
         <a href="/fwzn/list.htm" title="服务指南" target="_self"><span class="item-name">服务指南</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i8-1 "> 
                 <a href="/xcxx/list.htm" title="校长信箱" target="_self"><span class="item-name">校长信箱</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i8-2 "> 
                 <a href="/nkxl/list.htm" title="南开校历" target="_self"><span class="item-name">南开校历</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i8-3 "> 
                 <a href="/bgdh/list.htm" title="办公电话" target="_self"><span class="item-name">办公电话</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i8-4 "> 
                 <a href="/2947/list.htm" title="后勤服务" target="_self"><span class="item-name">后勤服务</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i8-5 "> 
                 <a href="/2948/list.htm" title="网络服务" target="_self"><span class="item-name">网络服务</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i8-6 "> 
                 <a href="/2949/list.htm" title="接待服务" target="_self"><span class="item-name">接待服务</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i8-7 "> 
                 <a href="/2950/list.htm" title="招投标" target="_self"><span class="item-name">招投标</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i8-8 "> 
                 <a href="/3wxy/list.htm" title="3D校园" target="_self"><span class="item-name">3D校园</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
</ul> 
 
 
 </div>
    </div>
  </div>
</div>
<div class="wrapper" id="container">
  <div class="inner">
    <div class="mod-l">
      <div class="icon-group" frag="面板31">
        <div class="list-item" frag="窗口31">
          <div id="wp_nav_w31"> 

 
<ul class="wp_nav" data-nav-config="{drop_v: 'down', drop_w: 'right', dir: 'y', opacity_main: '1', opacity_sub: '1', dWidth: '0'}">
      
     <li class="nav-item i1 "> 
         <a href="/xxgksxqd/list.htm" title="信息公开事项清单" target="_blank"><span class="item-name">信息公开事项清单</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i2 "> 
         <a href="/nkdxxwgb/list.htm" title="南开大学校务公报" target="_self"><span class="item-name">南开大学校务公报</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i3 "> 
         <a href="/jdhgh/list.htm" title="教代会工会" target="_self"><span class="item-name">教代会工会</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i4 "> 
         <a href="http://xxgk.nankai.edu.cn/7wx/ydhzcwtaml/list.htm" title="学/研代会" target="_self"><span class="item-name">学/研代会</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i5 "> 
         <a href="/xxgkzxfwpt/list.htm" title="机关部门及单位职责" target="_self"><span class="item-name">机关部门及单位职责</span></a><i class="mark"></i> 
          
     </li> 
      
</ul> 
 
 
 </div>
        </div>
      </div><!--End of icon-group-->
      <div class="cbox" frag="面板36">
        <div class="post post1" frag="窗口36">
          <h3 class="banner-206 banner-206-green"><span frag="标题">信息公开受理</span></h3>
          <div class="con">
            <div class="articlecontent " >
    
        
            
                <p>信息公开受理</p><p>部门：信息公开工作办公室</p><p>电话：022-23501223</p><p>邮箱：<a href="mailto:xxgk@nankai.edu.cn">xxgk@nankai.edu.cn</a></p>
            
        
    
</div>
          </div>
        </div>
      </div><!--End of cbox 36-->
      <div class="cbox" frag="面板37">
        <div class="post post1" frag="窗口37">
          <h3 class="banner-206 banner-206-blue"><span frag="标题">监督投诉受理</span></h3>
          <div class="con">
            <div class="articlecontent " >
    
        
            
                <p>监督投诉受理</p><p>部门：监察室</p><p>电话：022-23500217</p><p>邮箱：<a href="mailto:jjjc@nankai.edu.cn">jjjc@nankai.edu.cn</a>&nbsp;&nbsp; </p><p>&nbsp;&nbsp;</p><p>&nbsp;&nbsp;</p>
            
        
    
</div>
          </div>
        </div>
      </div><!--End of cbox 37-->
    </div><!--End of mod-l-->
    <div class="mod-r">
      <div class="rbox" frag="面板11">
        <div class="index-image" frag="窗口11"><div id="wp_news_w11"> 
<script type="text/javascript">
                	var focusData = [
					
							{
								src: "/_upload/article/images/4e/c8/e6bc45864340a5dbf361a435cf2e/5251a657-671a-4dfa-90f5-b0acce663082.png",
								url:"/_redirect?siteId=55&columnId=2982&articleId=68075"
							},
							
							{
								src: "/_upload/article/images/89/58/ce6fec404ca3821167027ba0a1f0/7f09a8b3-ff1a-441a-8640-afe850240b53.png",
								url:"/_redirect?siteId=55&columnId=2982&articleId=68074"
							},
							
							{
								src: "/_upload/article/images/82/73/1dc907fc4bae916225633eefccc2/e52b2f52-8d05-4421-98d8-609075b3df8c.jpg",
								url:"/_redirect?siteId=55&columnId=2982&articleId=68073"
							},
							
							{
								src: "/_upload/article/d6/15/dffe4f734d1bb7b0266b73730bc5/30a0aeb3-54da-44db-bc40-734d97b3a836.jpg",
								url:"http://news.nankai.edu.cn/nkyw/system/2014/03/05/000168254.shtml"
							},
							
							{}
						];
					focusData.pop();
				</script></div> 

        <div class="focus"></div>
        </div>
      </div>
      <div class="rbox">
        <div class="rbox-l">
          <div class="news-box" frag="面板42">
            <div class="post post2" frag="窗口42">
              <div class="banner-505-blue">
                <h3 class="title"><span frag="标题">最新公开信息</span></h3>
                <div class="more-btn" frag="按钮" type="更多"><a href="/zxgkxx/list.htm" class="w42_more"><span class="more-text" frag="按钮内容">更多>></span></a></div>
              </div>
              <div class="con">
                <div id="wp_news_w42"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='/_upload/article/files/dc/e7/65fd84ee4a44818f5e10763a2a16/58b47bd4-edee-46e1-ac53-1e87d308439c.pdf' target='_blank' title='南开大学一流大学建设方案'><font style='font-weight:bold;'>南开大学一流大学建设方案</font></a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2017-12-28</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i2"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>2</span> 
             <span class='Article_Title'><a href='/2014/1229/c2762a13403/page.htm' target='_blank' title='南开大学章程'><font style='font-weight:bold;'>南开大学章程</font></a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2014-09-03</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i3"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>3</span> 
             <span class='Article_Title'><a href='/_upload/article/files/02/00/1c139bdf4f5e8f4108189ac76425/fb9ef561-dd95-4b1c-8381-e273b7f267da.pdf' target='_blank' title='2017-2018学年度南开大学信息公开工作报告'>2017-2018学年度南开大学信息公开工作报告</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2018-10-30</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i4"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>4</span> 
             <span class='Article_Title'><a href='/_redirect?siteId=55&columnId=2762&articleId=105368' target='_blank' title='南开大学2017年部门决算'>南开大学2017年部门决算</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2018-08-03</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i5"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>5</span> 
             <span class='Article_Title'><a href='/_upload/article/files/2d/2e/73b629f24ef2acd357fe4f8dad8b/8b7b4631-acf7-49af-b616-dacca23b9eca.pdf' target='_blank' title='南开大学环境信息公开'>南开大学环境信息公开</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2018-06-22</span> 
              
         </div> 
     </li> 
      
</ul> 
</div> 

              </div>
            </div>
          </div>
          <div class="notice-box" frag="面板43">
            <div class="post post2" frag="窗口43">
              <div class="banner-505-blue">
                <h3 class="title"><span frag="标题">通知与公告</span></h3>
                <div class="more-btn" frag="按钮" type="更多"><a href="/zytzygg/list.htm" class="w43_more"><span class="more-text" frag="按钮内容">更多>></span></a></div>
              </div>
              <div class="con">
                <div id="wp_news_w43"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='/2019/0301/c2780a120016/page.htm' target='_blank' title='“南开大学百年校史主题展”开放参观通知'>“南开大学百年校史主题展”开放参观通知</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2019-03-01</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i2"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>2</span> 
             <span class='Article_Title'><a href='/2019/0117/c2780a118567/page.htm' target='_blank' title='南开大学2019年人才引进、教职工公开招聘、博士后招收公告'>南开大学2019年人才引进、教职工公开招聘、博士后招收...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2019-01-17</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i3"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>3</span> 
             <span class='Article_Title'><a href='/_redirect?siteId=55&columnId=2780&articleId=120475' target='_blank' title='关于清明节放假的通知'>关于清明节放假的通知</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2019-03-08</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i4"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>4</span> 
             <span class='Article_Title'><a href='/2019/0308/c2780a120421/page.htm' target='_blank' title='关于申报2019年天津市教育系统调研课题的通知'>关于申报2019年天津市教育系统调研课题的通知</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2019-03-08</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i5"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>5</span> 
             <span class='Article_Title'><a href='/2019/0305/c2780a120203/page.htm' target='_blank' title='关于召开2019年国家建设高水平大学公派研究生项目相关政策解读专题讲座的通知'>关于召开2019年国家建设高水平大学公派研究生项目相关...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2019-03-05</span> 
              
         </div> 
     </li> 
      
</ul> 
</div> 

              </div>
            </div>
          </div>
        </div>
        <div class="rbox-r">
          <div class="cbox" frag="面板51">
            <div class="post post3" frag="窗口51">
              <h3 class="banner-206 banner-206-blue"><span frag="标题">信息公开制度</span></h3>
              <div class="con">
                <div id="wp_news_w51"> 

                  <ul class="news-list">
                    
                    <li class="news n1 clearfix"><span class="news-title"><a href='/2014/1217/c2781a12406/page.htm' target='_blank' title='中华人民共和国政府信息公开条例'>中华人民共和国政府信息公开条例</a></span></li>
                    
                    <li class="news n2 clearfix"><span class="news-title"><a href='/2014/1217/c2781a12405/page.htm' target='_blank' title='高等学校信息公开办法'>高等学校信息公开办法</a></span></li>
                    
                    <li class="news n3 clearfix"><span class="news-title"><a href='/2014/1217/c2781a12404/page.htm' target='_blank' title='南开大学信息公开实施办法（试行）'>南开大学信息公开实施办法（试行）</a></span></li>
                    
                  </ul>                
                </div> 

              </div>
            </div>
          </div><!--End of cbox 51-->
          <div class="cbox" frag="面板52">
            <div class="post" frag="窗口52">
              <h3 class="banner-206 banner-206-khaki"><span frag="标题" title="信息搜索"> 信息搜索</span></h3>
              <div class="con">
                <div class="search-box">
                  <form method="post" action="/_web/search/doSearch.do?locale=zh_CN&request_locale=zh_CN&_p=YXM9NTUmdD03MiZkPTI0OSZwPTEmbT1TTiY_" target="_blank">
    <div class="wp_search wp_search_ad">
        <div class="search-input-box"><input type="text" name="keyword" class="search-input"></div>
        <div class="search-btn-box"><input class="search-btn" type="submit" value="" /></div>
    </div>
</form>
                </div>
              </div>
            </div>
          </div><!--End of cbox 52-->
          <div class="cbox" frag="面板53">
            <div class="select-box" frag="窗口53">
              <div class="sudy-links" id="sudy-links-w53"> 
     <span class="links-name">---政府信息公开---</span> 
     <div class="links-wrap"> 
<div id="wp_news_w53"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='http://www.moe.edu.cn/publicfiles/business/htmlfiles/moe/moe_rule_more/index.html' target='_blank' title='教育部信息公开专栏'>教育部信息公开专栏</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i2"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>2</span> 
             <span class='Article_Title'><a href='http://www.tjzfxxgk.gov.cn/tjep/' target='_blank' title='天津市政府信息公开网'>天津市政府信息公开网</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
</ul> 
</div> 

     </div> 
</div> 
<script type="text/javascript"> 
     $(function() { 
         $("#sudy-links-w53").sudyLinks({ 
             handle: ".links-name", 
             wrap: ".links-wrap", 
             trigger: "mouseenter", 
             effect: "show", 
             speed: 300, 
             hidePause: 800 
         }); 
     });  
</script> 

            </div>
          </div><!--End of cbox 53-->
          <div class="cbox" frag="面板55">
            <div class="select-box" frag="窗口55">
              <div class="sudy-links" id="sudy-links-w55"> 
     <span class="links-name">---其他网站链接---</span> 
     <div class="links-wrap"> 
<div id="wp_news_w55"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='http://www.nankai.edu.cn/' target='_blank' title='南开大学主页'>南开大学主页</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i2"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>2</span> 
             <span class='Article_Title'><a href='http://news.nankai.edu.cn/' target='_blank' title='南开大学新闻网'>南开大学新闻网</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i3"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>3</span> 
             <span class='Article_Title'><a href='http://urp.nku.cn/' target='_blank' title='南开大学综合信息门户'>南开大学综合信息门户</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
</ul> 
</div> 

     </div> 
</div> 
<script type="text/javascript"> 
     $(function() { 
         $("#sudy-links-w55").sudyLinks({ 
             handle: ".links-name", 
             wrap: ".links-wrap", 
             trigger: "mouseenter", 
             effect: "show", 
             speed: 300, 
             hidePause: 800 
         }); 
     });  
</script> 

            </div>
          </div><!--End of cbox 54-->
        </div>
        <div class="clear"></div>
      </div>
    </div><!--End of mod-r-->
    <div class="clear"></div>
  </div>
</div>
<div class="wrapper" id="footer">
  <div class="inner">
    <div class="foot">
      <div id="copyright" frag="面板61">
        <p class="copyright" frag="窗口61">Copyright &copy; 天津南开大学信息公开领导小组办公室 天津市卫津路94号 300071<br />
        电子信箱：XXGK@NANKAI.EDU.CN 本站共访问<img border="0" src="/_visitcountdisplay?siteId=55&type=1&dispMode=1&statMode=1" />次</p>
      </div>
    </div>
  </div>
</div>
<div id=ipv6_enabled_www_test_logo></div>

<script language="JavaScript" type="text/javascript">

        var Ipv6_Js_Server = (("https:" == document.location.protocol) ? "https://" : "http://");

    document.write(unescape("%3Cscript src='" + Ipv6_Js_Server + "www.ipv6forum.com/ipv6_enabled/sa/SA1.php?id=2104' type='text/javascript'%3E%3C/script%3E"));

</script>

</body>
<script type="text/javascript">
				$(".focus").sudyfocus({
					json: focusData,
					zWidth:1000, // 设置展示窗口宽度
					zHeight:356,    // 设置展示窗口高度
					response: 1,    // 是否自适应缩放，默认为false，当前为true
					start:1, // 设置从第几个开始播放，当前设置从第2张开始
					isNavHover: false
					});
			</script>
</html>
 <image src="/_visitcount?siteId=55&type=1&columnId=2755" style="display:none" width="0" height="0"></image>