<base href="http://gh.nankai.edu.cn/"><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>南开大学工会</title>

<link type="text/css" href="/_css/_system/system.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/1/style/6/6.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/00/3c/60/style/41/41.css" rel="stylesheet"/>
       <LINK href="/_css/tpl2/default/portlet/dtjt/9/dtjt9.css" type="text/css" rel="stylesheet">
       <LINK href="/_css/tpl2/system.css" type="text/css" rel="stylesheet"> 
       <LINK href="/_css/tpl2/default/default.css" type="text/css" rel="stylesheet"> 
<link type="text/css" href="/_js/_portletPlugs/simpleNews/css/simplenews.css" rel="stylesheet" />
<link type="text/css" href="/_js/_portletPlugs/datepicker/css/datepicker.css" rel="stylesheet" />
<link type="text/css" href="/_js/_portletPlugs/sudyNavi/css/sudyNav.css" rel="stylesheet" />

<script language="javascript" src="/_js/jquery.min.js" sudy-wp-context="" sudy-wp-siteId="60"></script>
<script language="javascript" src="/_js/jquery.sudy.wp.visitcount.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/datepicker/js/jquery.datepicker.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/datepicker/js/datepicker_lang_HK.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/sudyNavi/jquery.sudyNav.js"></script>
<link rel="stylesheet" href="/_upload/tpl/00/5a/90/template90/sudyclndr.css" type="text/css" media="all" />
<link rel="stylesheet" href="/_upload/tpl/00/5a/90/template90/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="/_upload/tpl/00/5a/90/template90/extends/extends.css" type="text/css" media="all" />
<script src="/_upload/tpl/00/5a/90/template90/extends/extends.js">
</script>
<script src="/_upload/tpl/00/5a/90/template90/sudyclndr.js">
</script>
<script type="text/javascript">
$(function(){
	$(".sudy-tab").sudyTab({
			handle:".tab-menu>li",		// 控制器元素，默认为.tab-menu li
			content:".tab-list>li",		// 内容体，可以有多个并以英文逗号隔开，如.tab-list li,.tab-more li,默认值为".tab-list li,.tab-more li"
			trigger:"mouseenter",		// 触发事件，默认为"mouseenter"鼠标经过
			start:1,					// 开始项，默认为第一个
			autoPlay:{
				active:false,			// 是否激活自动切换
				interval:5000,		// 自动切换时间间隔
				pauseHover:true		// 是否鼠标放上面时停止自动
			}
	});
});
</script>


</head>



<body>
<div class="wrapper" id="header">
    <div class="inner">
        <div class="head">
        </div>
        <div class="navbar" frag="面板1">
            <div class="navbox" frag="窗口1">
                <div id="wp_nav_w1"> 

 
<ul class="wp_nav" data-nav-config="{drop_v: 'down', drop_w: 'right', dir: 'y', opacity_main: '1', opacity_sub: '0.8', dWidth: '0'}">
      
     <li class="nav-item i1 "> 
         <a href="/main.htm" title="首页" target="_self"><span class="item-name">首页</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i2 "> 
         <a href="/3111/list.htm" title="工会概况" target="_self"><span class="item-name">工会概况</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i2-1 "> 
                 <a href="/3119/list.htm" title="工会简介" target="_self"><span class="item-name">工会简介</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i2-2 "> 
                 <a href="/3120/list.htm" title="机构设置" target="_self"><span class="item-name">机构设置</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i2-3 "> 
                 <a href="/3121/list.htm" title="基层工会" target="_self"><span class="item-name">基层工会</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i3 "> 
         <a href="/3112/list.htm" title="教代会" target="_self"><span class="item-name">教代会</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i3-1 "> 
                 <a href="/3122/list.htm" title="教代会简介" target="_self"><span class="item-name">教代会简介</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-2 "> 
                 <a href="/3123/list.htm" title="机构设置" target="_self"><span class="item-name">机构设置</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-3 "> 
                 <a href="/3124/list.htm" title="二级教代会" target="_self"><span class="item-name">二级教代会</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-4 "> 
                 <a href="/3125/list.htm" title="校务公开" target="_self"><span class="item-name">校务公开</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i4 "> 
         <a href="/3113/list.htm" title="通知公告" target="_self"><span class="item-name">通知公告</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i5 "> 
         <a href="/3114/list.htm" title="基层动态" target="_self"><span class="item-name">基层动态</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i5-1 "> 
                 <a href="/3126/list.htm" title="新闻速递" target="_self"><span class="item-name">新闻速递</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i5-2 "> 
                 <a href="/3127/list.htm" title="基层活动" target="_self"><span class="item-name">基层活动</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i5-3 "> 
                 <a href="/3128/list.htm" title="社团风采" target="_self"><span class="item-name">社团风采</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i6 "> 
         <a href="/3115/list.htm" title="法律法规" target="_self"><span class="item-name">法律法规</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i6-1 "> 
                 <a href="/3129/list.htm" title="上级文件" target="_self"><span class="item-name">上级文件</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i6-2 "> 
                 <a href="/3130/list.htm" title="工会文件" target="_self"><span class="item-name">工会文件</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i7 "> 
         <a href="/3116/list.htm" title="学习探讨" target="_self"><span class="item-name">学习探讨</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i8 "> 
         <a href="/3117/list.htm" title="女教工园地" target="_self"><span class="item-name">女教工园地</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i9 "> 
         <a href="/3118/list.htm" title="大事记" target="_self"><span class="item-name">大事记</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i10 "> 
         <a href="/hyjy/list.htm" title="会议纪要" target="_self"><span class="item-name">会议纪要</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i10-1 "> 
                 <a href="/2018/list.htm" title="2018" target="_self"><span class="item-name">2018</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i10-2 "> 
                 <a href="/2017/list.htm" title="2017" target="_self"><span class="item-name">2017</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
</ul> 
 
 
 </div>
            </div>
        </div>
        <div class="head-1">
            <div class="head-1-z">
                <span id="jnkc" style="width:165px;height:32px;color:#871f6c;line-height:32px;font-size:12px;float:right;display:block;"><script _ue_org_tagname="script">
								  	function show_jnkc()
										{
  											var date_f=new Date();
  											
  											var date_w="星期"+"日一二三四五六".charAt(date_f.getDay());
  											var date_y=date_f.getFullYear();
  											var date_M=(date_f.getMonth()+1)<10?"0"+(date_f.getMonth()+1):date_f.getMonth()+1;
  											var date_d=date_f.getDate()<10?"0"+date_f.getDate():date_f.getDate();
											var tzo=(new Date().getTimezoneOffset()/60)*(-1);
 											 jnkc.innerHTML=date_y+"年"+date_M+"月"+date_d+"日"+"  "+date_w;
										 }
									setInterval("show_jnkc();",1000);
								  </script></span>
            </div>
            <div class="head-1-y">
                <div class="sous" frag="面板2">
                    <div frag="窗口2">
                        <form method="POST" action="/_web/search/doSearch.do?locale=zh_CN&request_locale=zh_CN&_p=YXM9NjAmdD05MCZkPTI4OSZwPTEmbT1TTiY_" target="_blank" onsubmit="if ($('#keyword').val() === '请输入关键字') { $('#keyword').val(''); }">
    <div class="wp_search">
        <table>
            <tr>
                <td height="25px">
                    <input id="keyword" name="keyword" style="width: 150px" class="keyword" type="text" value="请输入关键字" onfocus="if (this.value === '请输入关键字') { this.value = ''; }"
                           onblur="if (this.value === '') { this.value = '请输入关键字'; }" />
                </td>
                <td>
                    <input name="btnsearch" class="search" type="submit" value=""/>
                </td>
            </tr>
        </table>
    </div>
</form>
                    </div>
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
</div>
<div class="wrapper" id="container">
    <div class="inner">
        <div class="cont-1">
            <div class="cont-1-z" frag="面板66">
                <div frag="窗口66">
                    <div class="tit">
                        <a class="houdun" href="/hdrl/list.htm">活动日历</a>
                    </div>
                    <div id="wp_news_w66"> 

                        <script _ue_org_tagname="script" type="text/javascript">
						var calendarData = [
						
						  {
							"date":"2015-09-25",
							"title":"25日运动会（教工部分）比赛时间、入场式安排及秩序册",
							"url":"/2015/0921/c3188a28875/page.htm"
						  },
						
						  {
							"date":"2018-03-17",
							"title":"庆祝三八节活动之六：瑜伽名师公开课",
							"url":"/2018/0305/c3188a91260/page.htm"
						  },
						
						  {
							"date":"2018-03-08",
							"title":"庆祝三八节活动之四：女教工趣味运动会",
							"url":"/2018/0305/c3188a91257/page.htm"
						  },
						
						  {
							"date":"2018-03-08",
							"title":"庆祝三八节活动之三：女教工健步走活动",
							"url":"/2018/0305/c3188a91256/page.htm"
						  },
						
						  {
							"date":"2018-03-07",
							"title":"庆祝三八节活动之二：插花艺术培训讲座",
							"url":"/2018/0305/c3188a91255/page.htm"
						  },
						
						  {
							"date":"2018-03-06",
							"title":"庆祝三八节活动之一：“茶语健康”——茶艺赏鉴暨品茗活动",
							"url":"/2018/0305/c3188a91254/page.htm"
						  },
						
						  {
							"date":"2017-12-05",
							"title":"关于开展针对教职工体检结果进行健康咨询活动的通知",
							"url":"/2017/1204/c3188a83871/page.htm"
						  },
						
						  {
							"date":"2017-11-30",
							"title":"基层工会主席会议",
							"url":"/2017/1129/c3188a83572/page.htm"
						  },
						
						  {
							"date":"2017-11-12",
							"title":"2017年南开大学教职工羽毛球比赛（团体赛）",
							"url":"/2017/1110/c3188a77430/page.htm"
						  },
						
						  {
							"date":"2017-11-11",
							"title":"2017年南开大学教职工羽毛球比赛（团体赛）",
							"url":"/2017/1110/c3188a77429/page.htm"
						  },
						
						  {
							"date":"2017-11-12",
							"title":"贯彻十九大精神，讴歌伟大新时代——教师合唱团建团二十五周年演出",
							"url":"/2017/1110/c3188a77427/page.htm"
						  },
						
						  {
							"date":"2017-11-07",
							"title":"健康讲座——常见高血压及心脏病的预防和治疗",
							"url":"/2017/1101/c3188a76731/page.htm"
						  },
						
						  {
							"date":"2017-11-03",
							"title":"组织工会干部代表参观北京展览馆砥砺奋进的五年大型成就展",
							"url":"/2017/1101/c3188a76711/page.htm"
						  },
						
						  {
							"date":"2017-10-24",
							"title":"喜迎十九大，放歌新百年——南开大学首届教职工歌手大赛决赛",
							"url":"/2017/1017/c3188a75421/page.htm"
						  },
						
						  {
							"date":"2017-10-18",
							"title":"首届南开师生校庆“嘉年华”活动",
							"url":"/2017/1017/c3188a75419/page.htm"
						  },
						
						  {
							"date":"2017-10-22",
							"title":"喜迎十九大，放歌新百年——南开大学首届教职工歌手大赛",
							"url":"/2017/1010/c3188a74839/page.htm"
						  },
						
						  {
							"date":"2017-10-13",
							"title":"喜迎十九大，放歌新百年——南开大学首届教职工歌手大赛",
							"url":"/2017/1010/c3188a74838/page.htm"
						  },
						
						  {
							"date":"2017-09-18",
							"title":"运动会协调会",
							"url":"/2017/0918/c3188a73505/page.htm"
						  },
						
						  {
							"date":"2017-09-10",
							"title":"庆祝教师节系列活动——学习黄大年 再作新贡献 学校举行庆祝2017年教师节座谈会",
							"url":"/2017/0915/c3188a73416/page.htm"
						  },
						
						  {
							"date":"2017-09-12",
							"title":"庆祝教师节系列活动——天津评剧院专场演出",
							"url":"/2017/0915/c3188a73414/page.htm"
						  },
						
						  {
							"date":"2017-09-15",
							"title":"南开大学教职工健康讲座系列之一：骨科常见疾病预防和保健",
							"url":"/2017/0915/c3188a73412/page.htm"
						  },
						
						  {
							"date":"2017-09-23",
							"title":"运动会",
							"url":"/2017/0915/c3188a73411/page.htm"
						  },
						
						  {
							"date":"2017-09-22",
							"title":"运动会",
							"url":"/2017/0915/c3188a73410/page.htm"
						  },
						
						  {
							"date":"2017-06-16",
							"title":"南开大学2017年教职工游泳比赛",
							"url":"/2017/0608/c3188a67854/page.htm"
						  },
						
						  {
							"date":"2016-03-07",
							"title":"“走进新校区，展现新风采”庆“三八”主题活动",
							"url":"/2016/0303/c3188a36747/page.htm"
						  },
						
						  {
							"date":"2015-06-05",
							"title":"2015年南开大学青年教职工师德演讲比赛准备会",
							"url":"/2015/0601/c3188a18932/page.htm"
						  },
						
						  {
							"date":"2015-06-12",
							"title":"2015年南开大学青年教职工师德演讲比赛",
							"url":"/2015/0601/c3188a18931/page.htm"
						  },
						
						  {
							"date":"2015-06-01",
							"title":"篮球比赛收官",
							"url":"/2015/0601/c3188a18928/page.htm"
						  },
						
						  {
							"date":"2015-06-12",
							"title":"南开教职工摄影展征稿今天截止啦！！！",
							"url":"/2015/0505/c3188a18061/page.htm"
						  },
						
						  {
							"date":"2015-05-15",
							"title":"六届四次教代会各代表团讨论情况汇报会",
							"url":"/2015/0505/c3188a18060/page.htm"
						  },
						
						  {
							"date":"2015-05-31",
							"title":"篮球比赛收官",
							"url":"/2015/0505/c3188a18059/page.htm"
						  },
						
						  {
							"date":"2015-05-29",
							"title":"篮球比赛开赛第五天​",
							"url":"/2015/0505/c3188a18057/page.htm"
						  },
						
						  {
							"date":"2015-05-28",
							"title":"篮球比赛开赛第四天",
							"url":"/2015/0505/c3188a18056/page.htm"
						  },
						
						  {
							"date":"2015-05-27",
							"title":"篮球比赛开赛第三天​",
							"url":"/2015/0505/c3188a18055/page.htm"
						  },
						
						  {
							"date":"2015-05-26",
							"title":"篮球比赛开赛第二天",
							"url":"/2015/0505/c3188a18054/page.htm"
						  },
						
						  {
							"date":"2015-05-25",
							"title":"篮球比赛开赛第一天",
							"url":"/2015/0505/c3188a18053/page.htm"
						  },
						
						  {
							"date":"2015-05-21",
							"title":"篮球比赛领队会",
							"url":"/2015/0505/c3188a18052/page.htm"
						  },
						
						  {
							"date":"2015-05-15",
							"title":"篮球比赛报名今天截止啦！！！",
							"url":"/2015/0505/c3188a18051/page.htm"
						  },
						
						  {
							"date":"2015-04-29",
							"title":"南开大学第六届教职工代表大会第四次会议",
							"url":"/2015/0420/c3188a17407/page.htm"
						  },
						
						  {
							"date":"2015-04-27",
							"title":"六届四次教代会预备会",
							"url":"/2015/0420/c3188a17408/page.htm"
						  },
						
						  {
							"date":"2015-03-31",
							"title":"新校区路桥命名征求意见民主通气会",
							"url":"/2015/0330/c3188a16461/page.htm"
						  },
						
						  {
							"date":"2015-03-06",
							"title":"庆“三八”女先进座谈会",
							"url":"/2015/0317/c3188a14237/page.htm"
						  },
						
						  {
							"date":"2015-03-24",
							"title":"庆“三八”女性文化讲座",
							"url":"/2015/0317/c3188a14236/page.htm"
						  },
						
						  {
							"date":"2015-03-17",
							"title":"庆“三八”女教职工理想信念教育活动",
							"url":"/2015/0317/c3188a14235/page.htm"
						  }
						
						];
						</script>
                    </div> 

                    <div id="calendar">
                    </div>
                </div>
            </div>
            <div class="cont-1-zhong" frag="面板3">
                <div frag="窗口3">
                    <!-- 多图交替9 图片 标题 切换 -->
<div style="position:relative;overflow:hidden;width:436px;height:242px;">
    <div class="dtjt9_div_img">
        <img id="w3imgShow" name="w3imgShow" onclick="w3openWindow();" style="FILTER: revealTrans(duration=2,transition=20); border: 0; cursor: pointer;" src="/..//_css/tpl/default/images/loading.gif" width="436px" height="242px" vspace="0">
        <div id='w3imgNumber' class="number"></div>
    </div>
    <div class="dtjt9_div_text">
        <div id='w3imgTitle' class="dtjt9_div_text_title"><a href="javascript:void(0)">&nbsp;</a></div>									
    </div>
</div>
<script language="JavaScript" class="" >
    var w3imgJsons = [
    
        
            {
            "src" : "/_upload/article/images/4a/94/42045ad24011a50176de9c661b6a/71766789-861f-4339-bdd2-ef7b1cd91dbe_s.jpg",
            "title" : "校工会组织书画协会开展“南开情暖&nbsp;送...",
            "url" : "/2018/0209/c3144a90183/page.htm"
            },
        
    
        
            {
            "src" : "/_upload/article/images/22/34/a944f21a4735bf318a197c4eca2f/730c20f6-5fa1-450d-bd2f-f34ac0f07c7c_s.jpg",
            "title" : "校工会召开2017年度工会工作总结表...",
            "url" : "/2018/0125/c3144a89586/page.htm"
            },
        
    
        
            {
            "src" : "/_upload/article/images/59/f0/cf9538ce48988431bf17573d7b35/81dd9557-bef5-4587-ba22-364ba2583087_s.jpg",
            "title" : "校工会组织参观“砥砺奋进的五年”大型...",
            "url" : "/2017/1107/c3144a77203/page.htm"
            },
        
    
        
            {
            "src" : "/_upload/article/images/15/c5/75c3daf142e1a8813ed884908711/7bf92e7d-aa38-4b07-a460-d5bf6c5e2906_s.jpg",
            "title" : "首届南开师生校庆“嘉年华”活动举办",
            "url" : "/2017/1106/c3144a77083/page.htm"
            },
        
    
        
            {
            "src" : "/_upload/article/images/a7/65/a92b1e164e169ad59c425483fb7f/f6dc1e97-2379-4dbf-befc-b8e607dcf4f7_s.jpg",
            "title" : "南开大学第七次教职工代表大会暨第十六...",
            "url" : "/2017/0608/c3144a67841/page.htm"
            }];
        
    
</script>
<script language="JavaScript">
            var w3imgUrl = new Array();
            var w3imgLink = new Array();
            var w3imgTitle = new Array();

            var w3count = 0;
            var w3running = false;
            var w3index = 0;
            var w3nextAdTimer;
            var w3k = 0;
            function w3nextAd(num) {
                if (num >= 0 && num <= w3count - 1) {
                    w3index = num;
                    clearTimeout(w3nextAdTimer);
                } else {
                    num = w3index;
                }
                if (w3index > w3count - 1) {
                    w3index = 0;
                }
                if (!w3running) {
                    w3running = true;

                } else if (document.all) {
                    w3imgShow.filters.revealTrans.Transition = 50;
                    w3imgShow.filters.revealTrans.apply();
                    w3imgShow.filters.revealTrans.play();
                }
                document.getElementById('w3imgShow').src = w3imgUrl[w3index];
                if (w3imgTitle[w3index] != '') {
                    document.getElementById('w3imgTitle').innerHTML = '<a href="javascript:w3openWindow();" title="' + w3imgTitle[w3index] + '">' + w3imgTitle[w3index] + '</a>';
                }
                document.getElementById('w3imgNumber').innerHTML = "";
                w3k = 0;
                for (var i = 0; i < w3count; i++) {
                    w3k++;
                    if (i != w3index) {
                        document.getElementById('w3imgNumber').innerHTML += '<a href="javascript:w3nextAd(' + i + ')" class="nomal">' + w3k + '</a>';
                    } else {
                        document.getElementById('w3imgNumber').innerHTML += '<a href="javascript:w3nextAd(' + i + ')" class="current">' + w3k + '</a>';
                    }
                }

                w3index++;
                if (w3count > 1) {
                    w3nextAdTimer = setTimeout("w3nextAd(-1)", 4000);
                }
            }

            function w3openWindow() {
                var jumpUrl = w3imgLink[w3index - 1];
                if (jumpUrl && jumpUrl != '') {
                    window.open(jumpUrl);
                }
            }

            $().ready(function() {
                try {
                    var objs = w3imgJsons;
                    w3count = objs.length;
                    if (w3count == 0) {
                        document.getElementById('w3imgShow').style.display = "none";
                        document.getElementById('w3imgNumber').style.display = "none";
                        document.getElementById('w3imgTitle').style.display = "none";
                        return;
                    }
                    for (var i = 0; i < objs.length; i++) {
                        w3imgUrl[i] = objs[i].src;
                        w3imgLink[i] = objs[i].url;
                        w3imgTitle[i] = objs[i].title;
                    }
                    w3nextAd(-1);
                } catch (e) {

                }
            });
</script>

                </div>
            </div>
            <div class="cont-1-y">
                <div class="cont-1-y-1" frag="面板4">
                    <div frag="窗口4">
                        <div class="articlecontent " >
    
        
            
                <p><a href="mailto:gh@nankai.edu.cn" target="_self"><img src="/_upload/article/22/77/8b2c09664339aa71b6d0a872eb37/8a504469-20ba-4dc2-8023-c74e5c925226.jpg" /></a></p>
            
        
    
</div>
                    </div>
                </div>
                <div class="cont-1-y-2" frag="面板5">
                    <div frag="窗口5">
                        <div class="articlecontent " >
    
        
            
                <p><a href="/ryzl/list.htm" target="_self"><img src="/_upload/article/1d/c8/ce99ca4a4b9880cd3940978cbf9c/a702f709-f4b7-4af8-a1aa-ed6fdbd75619.jpg" /></a></p>
            
        
    
</div>
                    </div>
                </div>
                <div class="cont-1-y-3" frag="面板6">
                    <div frag="窗口6">
                        <div class="articlecontent " >
    
        
            
                <p><a href="/_web/onlinesurvey/onlineSurvey_list.jsp?_p=YXM9NjAmdD05MCZwPTEmbT1OJg__" target="_self"><img src="/_upload/article/aa/bc/4df840cb42129b39ac439080dcc6/833a6506-2a2f-4907-bb43-6570b4a2a212.jpg" /></a></p>
            
        
    
</div>
                    </div>
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
        <div class="cont-2">
            <div class="cont-2-z" frag="面板7">
                <div class="post post-3 mbox" frag="窗口7">
                    <div class="tt">
                        <h3 class="tit">
                            <span class="title" frag="标题">通知公告</span>
                        </h3>
                        <div class="more_btn" frag="按钮" type="更多">
                            <a href="/3113/list.htm" class="w7_more"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span></a>
                        </div>
                    </div>
                    <div class="con">
                        <div id="wp_news_w7"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='/2019/0219/c3113a119545/page.htm' target='_blank' title='关于举办庆祝“三八”国际劳动妇女节系列活动的通知'>关于举办庆祝“三八”国际劳动妇...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
              
              
         </div> 
     </li> 
      
     <li class="list_item i2"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>2</span> 
             <span class='Article_Title'><a href='/2018/1211/c3113a116530/page.htm' target='_blank' title='公示'>公示</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
              
              
         </div> 
     </li> 
      
     <li class="list_item i3"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>3</span> 
             <span class='Article_Title'><a href='/2018/1207/c3113a116186/page.htm' target='_blank' title='关于组织开展2018年教职工健康体检的通知 '>关于组织开展2018年教职工健康体...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
              
              
         </div> 
     </li> 
      
     <li class="list_item i4"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>4</span> 
             <span class='Article_Title'><a href='/2018/1206/c3113a116160/page.htm' target='_blank' title='关于学习贯彻习近平总书记重要讲话精神、中国工会十七大精神的通知'>关于学习贯彻习近平总书记重要讲...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
              
              
         </div> 
     </li> 
      
     <li class="list_item i5"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>5</span> 
             <span class='Article_Title'><a href='/2018/1206/c3113a116159/page.htm' target='_blank' title='关于做好2018年工会工作总结和2019年工作计划的通知'>关于做好2018年工会工作总结和20...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
              
              
         </div> 
     </li> 
      
</ul> 
</div> 

                    </div>
                </div>
            </div>
            <div class="cont-2-zhong">
                <div class="sudy-tab">
                    <ul class="tab-menu list-paddingleft-2">
                        <li>
                            新闻速递
                        </li>
                        <li>
                            工会文件
                        </li>
                    </ul>
                    <ul class="tab-list list-paddingleft-2">
                        <li frag="面板15">
                            <div class="post2" frag="窗口15">
                                <div class="more_btn" frag="按钮" type="更多">
                                    <a href="/3126/list.htm" class="w15_more"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span></a>
                                </div>
                                <div class="con">
                                    <div id="wp_news_w15"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='/_redirect?siteId=60&columnId=3126&articleId=118955' target='_blank' title='南开大学举行2018年度教职工荣休暨师德传承典礼'>南开大学举行2018年度教职工荣休暨师德传承典礼</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
              
              
             <span class='Article_PublishDate'>2019-01-21</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i2"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>2</span> 
             <span class='Article_Title'><a href='/_redirect?siteId=60&columnId=3126&articleId=116088' target='_blank' title='【爱国奋斗南开人】罗维斯：讲台给了我力量'>【爱国奋斗南开人】罗维斯：讲台给了我力量</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
              
              
             <span class='Article_PublishDate'>2018-12-05</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i3"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>3</span> 
             <span class='Article_Title'><a href='/2018/1205/c3126a116085/page.htm' target='_blank' title='南开大学宪法宣讲团走进建筑工地为农民工宣讲宪法'>南开大学宪法宣讲团走进建筑工地为农民工宣讲宪法</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
              
              
             <span class='Article_PublishDate'>2018-12-05</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i4"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>4</span> 
             <span class='Article_Title'><a href='/_redirect?siteId=60&columnId=3126&articleId=113665' target='_blank' title='南开大学教代会工会学习传达中国工会十七大精神座谈会举行'>南开大学教代会工会学习传达中国工会十七大精神座谈会...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
              
              
             <span class='Article_PublishDate'>2018-11-15</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i5"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>5</span> 
             <span class='Article_Title'><a href='/_redirect?siteId=60&columnId=3126&articleId=112867' target='_blank' title='市教育工会来校开展工会改革工作专项督查'>市教育工会来校开展工会改革工作专项督查</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
              
              
             <span class='Article_PublishDate'>2018-11-06</span> 
              
         </div> 
     </li> 
      
</ul> 
</div> 

                                </div>
                            </div>
                        </li>
                        <li frag="面板16">
                            <div class="post2" frag="窗口16">
                                <div class="more_btn" frag="按钮" type="更多">
                                    <a href="/3130/list.htm" class="w16_more"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span></a>
                                </div>
                                <div class="con">
                                    <div id="wp_news_w16"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='/_upload/article/files/c1/eb/e586c91e4de2b0fc10c1cbc706fe/1d6e2477-f0ad-4eb5-91b3-b48c15ad18e2.pdf' target='_blank' title='南办发〔2018〕10号关于转发工会《南开大学教职工会员慰问办法（试行）》的通知'>南办发〔2018〕10号关于转发工会《南开大学教职工会员慰问...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2018-03-21</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i2"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>2</span> 
             <span class='Article_Title'><a href='/_upload/article/files/c7/66/6c413e2c49c4a19bf2e5ddb6af29/70ac297f-fc48-43d3-a0e8-a9f356b6e9e1.doc' target='_blank' title='关于对《天津市基层工会经费收支管理办法》有关内容进行修改的通知（津工通【2017】94号）'>关于对《天津市基层工会经费收支管理办法》有关内容进行修...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2018-03-05</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i3"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>3</span> 
             <span class='Article_Title'><a href='/_upload/article/files/df/04/f5bdec404dd680f87c2f970e023b/7e58968a-4d47-41f5-b469-5201177a03d6.doc' target='_blank' title='关于印发《天津市基层工会经费收支管理办法》和《天津市工会系统经费管理使用负面清单（暂行）》的通知（津工通【2017】67号）'>关于印发《天津市基层工会经费收支管理办法》和《天津市工...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2018-03-05</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i4"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>4</span> 
             <span class='Article_Title'><a href='/2017/0608/c3130a67847/page.htm' target='_blank' title='关于基层工会会员代表大会代表实行常任制的若干暂行规定'>关于基层工会会员代表大会代表实行常任制的若干暂行规定</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2017-06-08</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i5"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>5</span> 
             <span class='Article_Title'><a href='/2017/0608/c3130a67845/page.htm' target='_blank' title='工会基层组织选举工作条例'>工会基层组织选举工作条例</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2017-06-08</span> 
              
         </div> 
     </li> 
      
</ul> 
</div> 

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cont-2-y" frag="面板9">
                <div class="post1 post-3 mbox" frag="窗口9">
                    <div class="tt">
                        <h3 class="tit">
                            <span class="title" frag="标题">学习探讨</span>
                        </h3>
                        <div class="more_btn" frag="按钮" type="更多">
                            <a href="/3116/list.htm" class="w9_more"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span></a>
                        </div>
                    </div>
                    <div class="con">
                        <div id="wp_news_w9"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='/_upload/article/files/e5/c1/55f8790548058a25b947efb30256/83659de4-cd36-4934-a4de-e39d396a0e18.pdf' target='_blank' title='中国领导团队新阵容'>中国领导团队新阵容</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i2"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>2</span> 
             <span class='Article_Title'><a href='/_redirect?siteId=60&columnId=3116&articleId=92411' target='_blank' title='习近平在第十三届全国人民代表大会第一次会议上的讲话'>习近平在第十三届全国人民代表大...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i3"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>3</span> 
             <span class='Article_Title'><a href='/_redirect?siteId=60&columnId=3116&articleId=91267' target='_blank' title='中国共产党十九届三中全会公报全文'>中国共产党十九届三中全会公报全...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i4"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>4</span> 
             <span class='Article_Title'><a href='/_redirect?siteId=60&columnId=3116&articleId=77205' target='_blank' title='关于十九大报告，你必须知道的“关键词”'>关于十九大报告，你必须知道的“...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i5"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>5</span> 
             <span class='Article_Title'><a href='/_redirect?siteId=60&columnId=3116&articleId=71357' target='_blank' title='关于深化群众性精神文明创建活动的指导意见'>关于深化群众性精神文明创建活动...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
</ul> 
</div> 

                    </div>
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
        <div class="cont-3">
            <div class="cont-3-z" frag="面板10">
                <div class="post post-3 mbox" frag="窗口10">
                    <div class="tt">
                        <h3 class="tit">
                            <span class="title" frag="标题">下载专区</span>
                        </h3>
                        <div class="more_btn" frag="按钮" type="更多">
                            <a href="/xzzq/list.htm" class="w10_more"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span></a>
                        </div>
                    </div>
                    <div class="con">
                        <div id="wp_news_w10"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='/2018/0320/c3142a92357/page.htm' target='_blank' title='南开大学工会（慰问）无付款单据报销凭证'>南开大学工会（慰问）无付款单据报销...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i2"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>2</span> 
             <span class='Article_Title'><a href='/2018/0320/c3142a92349/page.htm' target='_blank' title='南开大学教职工会员慰问审批表'>南开大学教职工会员慰问审批表</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i3"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>3</span> 
             <span class='Article_Title'><a href='/2017/0914/c3142a73323/page.htm' target='_blank' title='南开大学工会财务常用信息'>南开大学工会财务常用信息</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i4"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>4</span> 
             <span class='Article_Title'><a href='/_upload/article/files/a8/c4/a6cccefa409da1260289eb3b0964/6d962b67-d245-4156-a75c-dfad03ced997.doc' target='_blank' title='工会活动审批表'>工会活动审批表</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i5"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>5</span> 
             <span class='Article_Title'><a href='/_upload/article/files/f8/73/3da5b68341be95f2d399f17142fb/f1d306ff-3dcf-40b5-8289-2a9ab3e8cf9e.doc' target='_blank' title='南开大学教代会提案征集表'>南开大学教代会提案征集表</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
</ul> 
</div> 

                    </div>
                </div>
            </div>
            <div class="cont-3-zhong">
                <div class="sudy-tab">
                    <ul class="tab-menu list-paddingleft-2">
                        <li>
                            基层活动
                        </li>
                        <li>
                            社团风采
                        </li>
                    </ul>
                    <ul class="tab-list list-paddingleft-2">
                        <li frag="面板17">
                            <div class="post2" frag="窗口17">
                                <div class="more_btn" frag="按钮" type="更多">
                                    <a href="/3127/list.htm" class="w17_more"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span></a>
                                </div>
                                <div class="con">
                                    <div id="wp_news_w17"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='/2019/0304/c3127a120163/page.htm' target='_blank' title='后勤党委、工会组织退休职工座谈会'>后勤党委、工会组织退休职工座谈会</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2019-03-04</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i2"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>2</span> 
             <span class='Article_Title'><a href='/2018/1119/c3127a113898/page.htm' target='_blank' title='人工智能学院工会组织会员开展秋游活动'>人工智能学院工会组织会员开展秋游活动</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2018-11-19</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i3"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>3</span> 
             <span class='Article_Title'><a href='/2018/1108/c3127a113072/page.htm' target='_blank' title='法学院召开荣休教师茶话会'>法学院召开荣休教师茶话会</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2018-11-08</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i4"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>4</span> 
             <span class='Article_Title'><a href='/2018/1026/c3127a111868/page.htm' target='_blank' title='后勤工会举办男性健康知识讲座'>后勤工会举办男性健康知识讲座</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2018-10-26</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i5"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>5</span> 
             <span class='Article_Title'><a href='/_redirect?siteId=60&columnId=3127&articleId=110903' target='_blank' title='电光学院成功举办第一届棋牌比赛--一线 '>电光学院成功举办第一届棋牌比赛--一线 </a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2018-10-15</span> 
              
         </div> 
     </li> 
      
</ul> 
</div> 

                                </div>
                            </div>
                        </li>
                        <li frag="面板18">
                            <div class="post2" frag="窗口18">
                                <div class="more_btn" frag="按钮" type="更多">
                                    <a href="/3128/list.htm" class="w18_more"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span></a>
                                </div>
                                <div class="con">
                                    <div id="wp_news_w18"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='/2018/0209/c3128a90184/page.htm' target='_blank' title='校工会组织书画协会开展“南开情暖 送福下乡”活动'>校工会组织书画协会开展“南开情暖 送福下乡”活动</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2018-02-09</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i2"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>2</span> 
             <span class='Article_Title'><a href='/_redirect?siteId=60&columnId=3128&articleId=83835' target='_blank' title='南开大学青年教职工协会开展首次实践活动'>南开大学青年教职工协会开展首次实践活动</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2017-12-02</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i3"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>3</span> 
             <span class='Article_Title'><a href='/2017/0726/c3128a71680/page.htm' target='_blank' title='南开大学代表队夺取南开区科技企业足球赛冠军'>南开大学代表队夺取南开区科技企业足球赛冠军</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2017-07-26</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i4"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>4</span> 
             <span class='Article_Title'><a href='/2016/0725/c3128a46515/page.htm' target='_blank' title='2016年天津市第十二届职工乒乓球大赛结束，我校获奖总数排名第一'>2016年天津市第十二届职工乒乓球大赛结束，我校获奖总数排...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2016-07-25</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i5"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>5</span> 
             <span class='Article_Title'><a href='/2016/0713/c3128a46516/page.htm' target='_blank' title='南开大学教工柔力球队喜获佳绩'>南开大学教工柔力球队喜获佳绩</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2016-07-13</span> 
              
         </div> 
     </li> 
      
</ul> 
</div> 

                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="cont-3-y" frag="面板12">
                <div class="post1 post-3 mbox" frag="窗口12">
                    <div class="tt">
                        <h3 class="tit">
                            <span class="title" frag="标题">小贴士</span>
                        </h3>
                        <div class="more_btn" frag="按钮" type="更多">
                            <a href="/xts/list.htm" class="w12_more"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span></a>
                        </div>
                    </div>
                    <div class="con">
                        <div id="wp_news_w12"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='/2016/1012/c3143a48086/page.htm' target='_blank' title='南开大学工会微信平台'>南开大学工会微信平台</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i2"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>2</span> 
             <span class='Article_Title'><a href='/2015/0918/c3143a28626/page.htm' target='_blank' title='南开大学工会会员服务卡使用说明'>南开大学工会会员服务卡使用说明</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i3"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>3</span> 
             <span class='Article_Title'><a href='/2015/0311/c3143a14151/page.htm' target='_blank' title='春季传染病预防知识'>春季传染病预防知识</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
</ul> 
</div> 

                    </div>
                </div>
            </div>
            <div class="clear">
            </div>
        </div>
    </div>
</div>
<div class="wrapper" id="nav-2">
    <div class="inner">
        <div class="nav-2-inner">
            <div class="nav-2-inner-box" frag="面板13">
                <div frag="窗口13">
                    <div id="wp_nav_w13"> 

 
<ul class="wp_nav" data-nav-config="{drop_v: 'down', drop_w: 'right', dir: 'y', opacity_main: '1', opacity_sub: '0.8', dWidth: '0'}">
      
     <li class="nav-item i1 "> 
         <a href="/yqlj/list.htm" title="友情链接" target="_self"><span class="item-name">友情链接</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i2 "> 
         <a href="/zhqgzgh/list.htm" title="中华全国总工会" target="_self"><span class="item-name">中华全国总工会</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i3 "> 
         <a href="/zgjkwwtgh/list.htm" title="中国教科文卫体工会" target="_self"><span class="item-name">中国教科文卫体工会</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i4 "> 
         <a href="/3183/list.htm" title="天津市总工会" target="_self"><span class="item-name">天津市总工会</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i5 "> 
         <a href="/tjsjygh/list.htm" title="天津市教育工会" target="_self"><span class="item-name">天津市教育工会</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i6 "> 
         <a href="/nkdx/list.htm" title="南开大学" target="_self"><span class="item-name">南开大学</span></a><i class="mark"></i> 
          
     </li> 
      
</ul> 
 
 
 </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wrapper" id="footer">
    <div class="inner">
        <div class="foot">
            <p>
                　地址：中国天津南开区卫津路94号　邮编：300071　电话：23501501　E-mail:gh@nankai.edu.cn
            </p>
            <p>
                南开大学工会在线　版权所有　Copyright  2014  All Right Reserve
            </p>
        </div>
    </div>
</div><script _ue_org_tagname="script" type="text/javascript">
$(function(){
	$("#calendar").sudyclndr({
		json:calendarData,
		eventMoreUrl:"/hdrl/list.htm",
		eventTitle:"今日活动"
	});
})
</script>
<div id=ipv6_enabled_www_test_logo></div>
<script language="JavaScript" type="text/javascript">
            var Ipv6_Js_Server = (("https:" == document.location.protocol) ? "https://" : "http://");
        document.write(unescape("%3Cscript src='" + Ipv6_Js_Server + "www.ipv6forum.com/ipv6_enabled/sa/SA1.php?id=5733' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>
 <image src="/_visitcount?siteId=60&type=1&columnId=3109" style="display:none" width="0" height="0"></image>