<base href="http://sms.nankai.edu.cn/">﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>数学科学学院</title>


<link type="text/css" href="/_css/_system/system.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/1/style/6/6.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/00/5b/91/style/75/75.css" rel="stylesheet"/>
       <LINK href="/_css/tpl2/system.css" type="text/css" rel="stylesheet"> 
       <LINK href="/_css/tpl2/default/default.css" type="text/css" rel="stylesheet"> 
       <LINK href="/_css/tpl2/default/portlet/dtjt/8/dtjt8.css" type="text/css" rel="stylesheet">
<link type="text/css" href="/_js/_portletPlugs/simpleNews/css/simplenews.css" rel="stylesheet" />
<link type="text/css" href="/_js/_portletPlugs/sudyNavi/css/sudyNav.css" rel="stylesheet" />
<link type="text/css" href="/_js/_portletPlugs/datepicker/css/datepicker.css" rel="stylesheet" />

<script language="javascript" src="/_js/sudy-jquery-autoload.js" jquery-src="/_js/jquery-1.x.min.js" sudy-wp-context="" sudy-wp-siteId="91"></script>
<script language="javascript" src="/_js/jquery-migrate.min.js"></script>
<script language="javascript" src="/_js/jquery.sudy.wp.visitcount.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/sudyNavi/jquery.sudyNav.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/datepicker/js/jquery.datepicker.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/datepicker/js/datepicker_lang_HK.js"></script>
<link href="/_upload/tpl/00/be/190/template190/htmlRes/index.css" rel="stylesheet" type="text/css" />
<link href="/_upload/tpl/00/be/190/template190/htmlRes/inc.css" rel="stylesheet" type="text/css" />
<style type="text/css">
#marquee { position:relative; height:185px; overflow:hidden; width:195px; }
#marquee li { position:absolute; font-size:12px; line-height:20px; }

-moz-user-select:none;

/** show pic **/
.show-box { height:148px; background:#E7EEF3; }
.show { position:relative; height:148px; }
.show img { position:absolute; left:0; top:0; z-index:100; }
.show-top { position:absolute; left:0; top:0; z-index:200; width:753px; height:16px; background:url(http://sms.nankai.edu.cn/images/show_top.png) center top no-repeat; }

#Show { position:relative; }
#ft-buttons-Show { position:absolute; width:90px; bottom:0; right:0; z-index:300; padding:0 10px 9px 0; }
.ft-button-Show { display:block; float:left; margin-left:6px; width:16px; height:16px; text-align:center; line-height:16px; font-size:11px; color:#414141; background-color:#E7EDF2; border-radius:16px; }
.ft-button-Show:hover { text-decoration:none; }
.ft-button-Show-active { font-weight:bold; color:#FFF; text-align:center; line-height:16px; background-color:#bc7a9e; }
</style>


</head>

<body>
﻿








<div id="hearder">
    <div class="logo">
        <a href="http://sms.nankai.edu.cn/"><img src="/_upload/tpl/00/be/190/template190/htmlRes/logo.jpg" style="margin:1px 0 0 20px;" width="376" height="75"  /></a>
    </div>
    <div class="sousuo">
        <div class="daohang">
            <a href="http://www.nankai.edu.cn" target="_blank">南开大学</a> | <a href="http://sms.nankai.edu.cn/">学院首页</a> | <a href="http://en.sms.nankai.edu.cn" target="_blank">英文版</a> | <a href="http://sms.nankai.edu.cn/map.html">网站地图</a>
        </div>
        
            <div class="sousuo1" frag="面板1">
    	<div frag="窗口1">
      	<form method="POST" action="/_web/search/doSearch.do?_p=YXM9OTEmdD0xOTAmZD01OTYmcD0xJm09TiY_" target="_blank" onsubmit="if ($('#keyword').val() === '请输入关键字') { $('#keyword').val(''); }">
    <div class="wp_search">
        <table>
            <tbody><tr>
                <td height="22px">
                    <input id="keyword" name="keyword" style="width: 120px;height: 22px;line-height: 22px;" class="keyword" type="text" value="请输入关键字" onfocus="if (this.value === '请输入关键字') { this.value = ''; }" onblur="if (this.value === '') { this.value = '请输入关键字'; }">
                </td>
                <td>
                    <input name="btnsearch" class="search" type="submit" value="">
                </td>
            </tr>
        </tbody></table>
    </div>
</form>
<script>
    $(document).ready(function() {
        $("#beginTime").datepicker({picker: "<span class='datepicker'></span>"});
        $("#endTime").datepicker({picker: "<span class='datepicker'></span>"});
    });
</script>
      </div>
    
        </div>
    </div>
</div>
<div id="main_nav">
    
    <div class="navbar" frag="面板2">
    	<div class="navbox" frag="窗口2">
      	<div id="wp_nav_w2"> 

 
<ul class="wp_nav" data-nav-config="{drop_v: 'down', drop_w: 'right', dir: 'y', opacity_main: '-1', opacity_sub: '-1', dWidth: '0'}">
      
     <li class="nav-item i1 "> 
         <a href="/main.htm" title="首页" target="_self"><span class="item-name">首页</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i2 "> 
         <a href="http://sms.nankai.edu.cn/5542/list.htm" title="学院概览" target="_self"><span class="item-name">学院概览</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i2-1 "> 
                 <a href="/5542/list.htm" title="学院简介" target="_self"><span class="item-name">学院简介</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i2-2 "> 
                 <a href="/5543/list.htm" title="历任领导" target="_self"><span class="item-name">历任领导</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i2-3 "> 
                 <a href="/5544/list.htm" title="学院历史" target="_self"><span class="item-name">学院历史</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i2-4 "> 
                 <a href="/5545/list.htm" title="职能部门" target="_self"><span class="item-name">职能部门</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i2-5 "> 
                 <a href="/5546/list.htm" title="专业系所" target="_self"><span class="item-name">专业系所</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i3 "> 
         <a href="/5534/list.htm" title="师资队伍" target="_self"><span class="item-name">师资队伍</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i3-1 "> 
                 <a href="/5621/list.htm" title="数学系" target="_self"><span class="item-name">数学系</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-2 "> 
                 <a href="/5622/list.htm" title="应用数学系" target="_self"><span class="item-name">应用数学系</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-3 "> 
                 <a href="/5623/list.htm" title="信息与数据科学系" target="_self"><span class="item-name">信息与数据科学系</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-4 "> 
                 <a href="/5624/list.htm" title="科学与工程计算系" target="_self"><span class="item-name">科学与工程计算系</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-5 "> 
                 <a href="/5625/list.htm" title="概率统计系" target="_self"><span class="item-name">概率统计系</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-6 "> 
                 <a href="/5626/list.htm" title="数理金融与精算科学系" target="_self"><span class="item-name">数理金融与精算科学系</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-7 "> 
                 <a href="/5627/list.htm" title="高等数学教学部" target="_self"><span class="item-name">高等数学教学部</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-8 "> 
                 <a href="/5628/list.htm" title="计算实验室" target="_self"><span class="item-name">计算实验室</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-9 "> 
                 <a href="/5629/list.htm" title="机关" target="_self"><span class="item-name">机关</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-10 "> 
                 <a href="/5630/list.htm" title="退休人员" target="_self"><span class="item-name">退休人员</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i4 "> 
         <a href="/5535/list.htm" title="学院工作" target="_self"><span class="item-name">学院工作</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i4-1 "> 
                 <a href="/5547/list.htm" title="学院新闻" target="_self"><span class="item-name">学院新闻</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i4-2 "> 
                 <a href="/5548/list.htm" title="通知公告" target="_self"><span class="item-name">通知公告</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i4-3 "> 
                 <a href="/5549/list.htm" title="招聘信息" target="_self"><span class="item-name">招聘信息</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i5 "> 
         <a href="/5536/list.htm" title="本科生教育" target="_self"><span class="item-name">本科生教育</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i5-1 "> 
                 <a href="/5550/list.htm" title="教务通知" target="_self"><span class="item-name">教务通知</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i5-2 "> 
                 <a href="/5551/list.htm" title="本科生招生" target="_self"><span class="item-name">本科生招生</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i5-3 "> 
                 <a href="/5552/list.htm" title="本科生培养" target="_self"><span class="item-name">本科生培养</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i5-4 "> 
                 <a href="/5553/list.htm" title="国际交流" target="_self"><span class="item-name">国际交流</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i5-5 "> 
                 <a href="/5554/list.htm" title="国家精品课程" target="_self"><span class="item-name">国家精品课程</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i5-6 "> 
                 <a href="/5555/list.htm" title="文件下载" target="_self"><span class="item-name">文件下载</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i5-7 "> 
                 <a href="/5556/list.htm" title="有用链接" target="_self"><span class="item-name">有用链接</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i6 "> 
         <a href="/5537/list.htm" title="研究生教育" target="_self"><span class="item-name">研究生教育</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i6-1 "> 
                 <a href="/5557/list.htm" title="教务通知" target="_self"><span class="item-name">教务通知</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i6-2 "> 
                 <a href="/5558/list.htm" title="研究生教学" target="_self"><span class="item-name">研究生教学</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i6-3 "> 
                 <a href="/5559/list.htm" title="国际交流" target="_self"><span class="item-name">国际交流</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i6-4 "> 
                 <a href="/5560/list.htm" title="文件下载" target="_self"><span class="item-name">文件下载</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i7 "> 
         <a href="/5538/list.htm" title="科研动态" target="_self"><span class="item-name">科研动态</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i7-1 "> 
                 <a href="/5561/list.htm" title="通知公告" target="_self"><span class="item-name">通知公告</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i7-2 "> 
                 <a href="/5562/list.htm" title="学术交流" target="_self"><span class="item-name">学术交流</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i7-3 "> 
                 <a href="/5563/list.htm" title="科研成果" target="_self"><span class="item-name">科研成果</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i7-4 "> 
                 <a href="/5564/list.htm" title="文件下载" target="_self"><span class="item-name">文件下载</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i7-5 "> 
                 <a href="/5565/list.htm" title="相关链接" target="_self"><span class="item-name">相关链接</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i8 "> 
         <a href="/5539/list.htm" title="公共数学" target="_self"><span class="item-name">公共数学</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i8-1 "> 
                 <a href="/5566/list.htm" title="通知公告" target="_self"><span class="item-name">通知公告</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i8-2 "> 
                 <a href="/5567/list.htm" title="课程简介" target="_self"><span class="item-name">课程简介</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i8-3 "> 
                 <a href="/5568/list.htm" title="教学大纲" target="_self"><span class="item-name">教学大纲</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i8-4 "> 
                 <a href="/5569/list.htm" title="成果展示" target="_self"><span class="item-name">成果展示</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i8-5 "> 
                 <a href="/5570/list.htm" title="精品课程" target="_self"><span class="item-name">精品课程</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i8-6 "> 
                 <a href="/5573/list.htm" title="表格下载" target="_self"><span class="item-name">表格下载</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i8-7 "> 
                 <a href="/5574/list.htm" title="数学之美" target="_self"><span class="item-name">数学之美</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i9 "> 
         <a href="/5540/list.htm" title="学生工作" target="_self"><span class="item-name">学生工作</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i9-1 "> 
                 <a href="/5575/list.htm" title="重要通知" target="_self"><span class="item-name">重要通知</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i9-2 "> 
                 <a href="/5576/list.htm" title="学生党建" target="_self"><span class="item-name">学生党建</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i9-3 "> 
                 <a href="/xywh/list.htm" title="校园文化" target="_self"><span class="item-name">校园文化</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i9-4 "> 
                 <a href="/zzgl/list.htm" title="资助管理" target="_self"><span class="item-name">资助管理</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i9-5 "> 
                 <a href="/6484/list.htm" title="理论学习" target="_self"><span class="item-name">理论学习</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i9-6 "> 
                 <a href="/6485/list.htm" title="团学工作" target="_self"><span class="item-name">团学工作</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i9-7 "> 
                 <a href="http://career.nankai.edu.cn/" title="就业信息" target="_blank"><span class="item-name">就业信息</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i9-8 "> 
                 <a href="/5582/list.htm" title="办事指南" target="_self"><span class="item-name">办事指南</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i10 "> 
         <a href="/5541/list.htm" title="校友工作" target="_self"><span class="item-name">校友工作</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i10-1 "> 
                 <a href="/5583/list.htm" title="校友名录" target="_self"><span class="item-name">校友名录</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i10-2 "> 
                 <a href="/5584/list.htm" title="校友新闻" target="_self"><span class="item-name">校友新闻</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i10-3 "> 
                 <a href="/5585/list.htm" title="活动剪影" target="_self"><span class="item-name">活动剪影</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
</ul> 
 
 
 </div>
      </div>
    </div>
    
    
    
    
    <div class="clear">
    </div>
</div>

<div id="banner">
    <div class="banner-left">
    
    
    <ul id="nav" frag="面板3">
      
      	<li frag="窗口3">
        	
         <span class="title1" frag="标题">通知公告</span>
            
<div id=Div8413400a2afd400b96c29959c27f3754_Top style="overflow:hidden;height:180px;">
<div id=Div8413400a2afd400b96c29959c27f3754_Middle>
<div id="wp_news_w3"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='/2018/0524/c5841a99773/page.htm' target='_blank' title='南开大学数学科学学院诚聘博士后研究人员'>南开大学数学科学学院诚聘博士后研究人员</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_Summary'><a href='/2018/0524/c5841a99773/page.htm' target='_blank' title='南开大学数学科学学院诚聘博士后研究人员'>为推进一流学科建设，进一步提升学院科研队伍建设水平，扩大青年师资储备，学院诚聘博士后研究人员。</a></span> 
              
         </div> 
     </li> 
      
</ul> 
</div> 

</div><div id=Div8413400a2afd400b96c29959c27f3754_Bottom><div id="wp_news_w3"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='/2018/0524/c5841a99773/page.htm' target='_blank' title='南开大学数学科学学院诚聘博士后研究人员'>南开大学数学科学学院诚聘博士后研究人员</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_Summary'><a href='/2018/0524/c5841a99773/page.htm' target='_blank' title='南开大学数学科学学院诚聘博士后研究人员'>为推进一流学科建设，进一步提升学院科研队伍建设水平，扩大青年师资储备，学院诚聘博士后研究人员。</a></span> 
              
         </div> 
     </li> 
      
</ul> 
</div> 

</div>
</div><span id=SpanScroll name=SpanScroll style="display:none;" onclick="StartScroll8413400a2afd400b96c29959c27f3754();"></span>
<script language=javascript>

var t8413400a2afd400b96c29959c27f3754;

function Marquee8413400a2afd400b96c29959c27f3754(){

if(parseInt(document.getElementById('Div8413400a2afd400b96c29959c27f3754_Top').style.height)>parseInt(document.getElementById('Div8413400a2afd400b96c29959c27f3754_Middle').offsetHeight))
{
	var h = parseInt(document.getElementById('Div8413400a2afd400b96c29959c27f3754_Top').style.height)-parseInt( document.getElementById('Div8413400a2afd400b96c29959c27f3754_Middle').offsetHeight);
	 document.getElementById('Div8413400a2afd400b96c29959c27f3754_Middle').innerHTML += "<table width='100%' boder=0 height='"+h+"'><tr><td>&nbsp;</td></tr></table>";
	 document.getElementById('Div8413400a2afd400b96c29959c27f3754_Bottom').innerHTML += "<table width='100%' boder=0 height='"+h+"'><tr><td>&nbsp;</td></tr></table>";
}
 if(document.getElementById('Div8413400a2afd400b96c29959c27f3754_Bottom').offsetTop-document.getElementById('Div8413400a2afd400b96c29959c27f3754_Top').scrollTop<=0) { 
 document.getElementById('Div8413400a2afd400b96c29959c27f3754_Top').scrollTop-=document.getElementById('Div8413400a2afd400b96c29959c27f3754_Middle').offsetHeight; 
 } else { 
 var p = document.getElementById('Div8413400a2afd400b96c29959c27f3754_Top').scrollTop;
 document.getElementById('Div8413400a2afd400b96c29959c27f3754_Top').scrollTop+=1;
 var l = document.getElementById('Div8413400a2afd400b96c29959c27f3754_Top').scrollTop;
 if(p == l) { 
 document.getElementById('Div8413400a2afd400b96c29959c27f3754_Top').scrollTop-=document.getElementById('Div8413400a2afd400b96c29959c27f3754_Middle').offsetHeight;
 } 
 }
}

function StartScroll8413400a2afd400b96c29959c27f3754(){
var ScrollObj8413400a2afd400b96c29959c27f3754=setInterval(Marquee8413400a2afd400b96c29959c27f3754,80);
 document.getElementById('Div8413400a2afd400b96c29959c27f3754_Top').onmouseover=function(){clearInterval(ScrollObj8413400a2afd400b96c29959c27f3754)};
 document.getElementById('Div8413400a2afd400b96c29959c27f3754_Top').onmouseout=function(){ScrollObj8413400a2afd400b96c29959c27f3754=setInterval(Marquee8413400a2afd400b96c29959c27f3754,80)};
}StartScroll8413400a2afd400b96c29959c27f3754();</script>
        </li>
        
        
        
      </ul>
    
    
        
    </div>
    <div class="banner-right">
        <div class="show-box" frag="面板4">
    	<div class="show" frag="窗口4">
      	                <!-- 多图交替8 图片 切换 -->
<div class="dtjt8_div_img" style="width:753px;height:148px;">
    <img id="w4imgShow" name="w4imgShow"  style="FILTER: revealTrans(duration=2,transition=20); border: 0; cursor: pointer;" src="/..//_css/tpl/default/images/loading.gif" width="753px" height="148px" vspace="0">
    <div id='w4imgNumber' class="number"></div>
</div>
<script language="JavaScript" class="" >
    var w4imgJsons = [
    
        
            {
            "src" : "/_upload/article/images/1d/89/52a04eb3414bb57776d6fb6a1578/fce68bc8-85ce-417a-ae9f-aa05a55ff86e.jpg",
            "url" : "/2016/1113/c5631a51429/page.htm"
            },
        
    
        
            {
            "src" : "/_upload/article/images/79/ed/1794adc443d79a3c17e828bf86d7/081e8acd-5327-4c73-9b64-2a4350584adc.jpg",
            "url" : "/2016/1113/c5631a51428/page.htm"
            },
        
    
        
            {
            "src" : "/_upload/article/images/77/a7/ebc2f19d494d91fd427d5c1f152a/fd1cd87d-ea4a-4d3d-a988-4a7f969f9151.jpg",
            "url" : "/2016/1112/c5631a51427/page.htm"
            },
        
    
        
            {
            "src" : "/_upload/article/images/c9/3a/b3d6123f4e26832f6813028ed0fa/70d21a11-e4ef-4960-ad0c-e68e48908efa.jpg",
            "url" : "/2016/1112/c5631a51426/page.htm"
            }];
        
       
</script>
<script language="JavaScript">
        var w4imgUrl = new Array();
        var w4imgLink = new Array();

        var w4count = 0;
        var w4running = false;
        var w4index = 0;
        var w4nextAdTimer;
        var w4k = 0;
        function w4nextAd(num) {
            if (num >= 0 && num <= w4count - 1) {
                w4index = num;
                clearTimeout(w4nextAdTimer);
            } else {
                num = w4index;
            }
            if (w4index > w4count - 1) {
                w4index = 0;
            }
            if (!w4running) {
                w4running = true;

            } else if (document.all) {
                w4imgShow.filters.revealTrans.Transition = 50;
                w4imgShow.filters.revealTrans.apply();
                w4imgShow.filters.revealTrans.play();
            }
            document.getElementById('w4imgShow').src = w4imgUrl[w4index];
            document.getElementById('w4imgNumber').innerHTML = "";
            w4k = 0;
            for (var i = 0; i < w4count; i++) {
                w4k++;
                if (i !== w4index) {
                    document.getElementById('w4imgNumber').innerHTML += '<a href="javascript:w4nextAd(' + i + ')" class="nomal">' + w4k + '</a>';
                } else {
                    document.getElementById('w4imgNumber').innerHTML += '<a href="javascript:w4nextAd(' + i + ')" class="current">' + w4k + '</a>';
                }
            }
            w4index++;
            if (w4count > 1) {
                w4nextAdTimer = setTimeout("w4nextAd(-1)", 4000);
            }
        }

        function w4openWindow() {
            var jumpUrl = w4imgLink[w4index - 1];
            if (jumpUrl && jumpUrl != '') {
                window.open(jumpUrl);
            }
        }

        $().ready(function() {
            try {
                var objs = w4imgJsons;
                w4count = objs.length;
                if (w4count == 0) {
                    document.getElementById('w4imgShow').style.display = "none";
                    document.getElementById('w4imgNumber').style.display = "none";
                    return;
                }
                for (var i = 0; i < objs.length; i++) {
                    w4imgUrl[i] = objs[i].src;
                    w4imgLink[i] = objs[i].url;
                }
                w4nextAd(-1);
            } catch (e) {
            }
        });
</script>
            
      </div>
    </div>
		<div class="clear"></div>
        <div class="banner-img" style="width:753px; height:48px;" frag="面板5">
    	<div frag="窗口5">
      	<div id="wp_news_w5"> 
<span class="news_slt n1"><a href='/_redirect?siteId=91&columnId=5632&articleId=51432' target='_blank' title='数学科学学院诚聘海内外英才'><img src='/_upload/article/images/d4/cc/0e0c7e6843339ba6501aa4d4bd93/6ca66623-5848-4e1a-aec9-03cb0fa52494_s.jpg' width='244' height='48' /></a></span><span class="news_slt n2"><a href='/_redirect?siteId=91&columnId=5632&articleId=51431' target='_blank' title='南开大学 - 墨尔本大学双硕士项目简介'><img src='/_upload/article/images/4f/89/a9132cc7416185549f26c44a5882/09dd7dd1-1bbe-4b5b-a093-932bb44a2286_s.jpg' width='244' height='48' /></a></span><span class="news_slt n3"><a href='http://sms.nankai.edu.cn/2016/1113/c5634a51521/page.htm' target='_blank' title='信息管理系统'><img src='/_upload/article/images/d4/f1/120076204d358542e91b70fb43a0/92fea212-c943-4445-99ad-c440180b9d06_s.jpg' width='244' height='48' /></a></span></div> 

      </div>
    </div>
    </div>
    <div class="clear"></div>
</div>
<div style="height:20px;"></div>
<div id="main">
    <div class="main-left">
    
    <div class="main-left1" frag="面板6">
      
      	<div frag="窗口6">
        	 <div class="main-left1-tit" style="position:relative;">
          	<span frag="标题">学院新闻</span>
          <span style="position:absolute; top:2px; right:5px;" frag="按钮" type="更多"><a href="/5547/list.htm" class="w6_more"><span class="more_text" frag="按钮内容">more</span></a>
                </span>
                
          </div>
          
          
            
          <div class="main-left1-txt">
            <div id="wp_news_w6"> 

              <ul>
              
                <li class="news n1 clearfix">
                
                <span style="float:left">
                【<a href='/5547/list.htm' target='_blank' title='学生工作' alt='学生工作'>学生工作</a>】<a href='/2019/0122/c5547a119004/page.htm' target='_blank' title='数学学院党委传达学习习近平总书记视察南开大学重要讲话精神'>数学学院党委传达学习习近平总书记视察...</a>
                
                </span>
                <span style="float:right; color:#999999;">2019-01-22</span>
                </li>
              
                <li class="news n2 clearfix">
                
                <span style="float:left">
                【<a href='/5547/list.htm' target='_blank' title='学院工作' alt='学院工作'>学院工作</a>】<a href='http://news.nankai.edu.cn/nkyw/system/2019/01/03/000426954.shtml' target='_blank' title='【爱国奋斗南开人】教师顾沛 授人以渔'>【爱国奋斗南开人】教师顾沛 授人以渔</a>
                
                </span>
                <span style="float:right; color:#999999;">2019-01-04</span>
                </li>
              
                <li class="news n3 clearfix">
                
                <span style="float:left">
                【<a href='/5547/list.htm' target='_blank' title='学院工作' alt='学院工作'>学院工作</a>】<a href='http://news.nankai.edu.cn/qqxy/system/2018/12/24/000425207.shtml' target='_blank' title='数学科学学院开展考前诚信教育'>数学科学学院开展考前诚信教育</a>
                
                </span>
                <span style="float:right; color:#999999;">2018-12-25</span>
                </li>
              
                <li class="news n4 clearfix">
                
                <span style="float:left">
                【<a href='/5547/list.htm' target='_blank' title='学院工作' alt='学院工作'>学院工作</a>】<a href='http://news.nankai.edu.cn/zhxw/system/2018/12/17/000423961.shtml' target='_blank' title='数学学院教工机关党支部赴京参观“伟大的变革——庆祝改革开放40周年大型展览”'>数学学院教工机关党支部赴京参观“伟大...</a>
                
                </span>
                <span style="float:right; color:#999999;">2018-12-25</span>
                </li>
              
                <li class="news n5 clearfix">
                
                <span style="float:left">
                【<a href='/5547/list.htm' target='_blank' title='学院工作' alt='学院工作'>学院工作</a>】<a href='http://sms.nankai.edu.cn/2018/1218/c5579a116944/page.htm' target='_blank' title='数学院举办年度颁奖典礼暨迎新年文艺晚会'>数学院举办年度颁奖典礼暨迎新年文艺晚...</a>
                
                </span>
                <span style="float:right; color:#999999;">2018-12-25</span>
                </li>
              
              </ul> 
            </div> 

           </div>
        </div>
        
      </div>
    
        
        <!--//学院新闻 .-->
        
        
        <div class="main-left2" frag="面板7">
      
      	<div frag="窗口7">
        	 <div class="main-left2-tit" style="position:relative;">
          	<span frag="标题">本科生教育</span>
          <span style="position:absolute; top:2px; right:5px;" frag="按钮" type="更多"><a href="/5536/list.htm" class="w7_more"><span class="more_text" frag="按钮内容">more</span></a>
                </span>
          </div>
          
          
            
          <div class="main-left1-txt4">
            <div id="wp_news_w7"> 

              <ul>
              
                <li class="news n1 clearfix">
                
                <span style="float:left">
                【<a href='/5536/list.htm' target='_blank' title='百项与国创' alt='百项与国创'>百项与国创</a>】<a href='/2019/0307/c5536a120370/page.htm' target='_blank' title='关于上报“2019年南开大学本科生创新科研计划项目”申报材料的通知'>关于上报“2019年南开大学本...</a>
                
                </span>
                <span style="float:right; color:#999999;">2019-03-07</span>
                </li>
              
                <li class="news n2 clearfix">
                
                <span style="float:left">
                【<a href='/5536/list.htm' target='_blank' title='课程变动' alt='课程变动'>课程变动</a>】<a href='/2019/0307/c5536a120346/page.htm' target='_blank' title='《数学分析3-2》（伯苓班）停课通知'>《数学分析3-2》（伯苓班）...</a>
                
                </span>
                <span style="float:right; color:#999999;">2019-03-07</span>
                </li>
              
                <li class="news n3 clearfix">
                
                <span style="float:left">
                【<a href='/5536/list.htm' target='_blank' title='毕业论文' alt='毕业论文'>毕业论文</a>】<a href='/2019/0306/c5536a120317/page.htm' target='_blank' title='2019届本科生毕设进程时间安排'>2019届本科生毕设进程时间安...</a>
                
                </span>
                <span style="float:right; color:#999999;">2019-03-06</span>
                </li>
              
                <li class="news n4 clearfix">
                
                <span style="float:left">
                【<a href='/5536/list.htm' target='_blank' title='其它' alt='其它'>其它</a>】<a href='/2019/0306/c5536a120297/page.htm' target='_blank' title='关于认真做好二〇一九届本科生毕业资格审查工作的通知'>关于认真做好二〇一九届本科...</a>
                
                </span>
                <span style="float:right; color:#999999;">2019-03-06</span>
                </li>
              
                <li class="news n5 clearfix">
                
                <span style="float:left">
                【<a href='/5536/list.htm' target='_blank' title='其它' alt='其它'>其它</a>】<a href='/2019/0305/c5536a120235/page.htm' target='_blank' title='2019年大学生物理竞赛报名通知'>2019年大学生物理竞赛报名通...</a>
                
                </span>
                <span style="float:right; color:#999999;">2019-03-05</span>
                </li>
              
              </ul> 
            </div> 

           </div>
        </div>
        
      </div>
        
        <!--//本科教育 -->
        
        <div class="clear"></div>
        <div class="kong"></div>
        
        
        
        
        <div class="main-left1" style="height:160px;" frag="面板8">
      
      	<div frag="窗口8">
        	 <div class="main-left1-tit" style="position:relative;">
          	<span frag="标题">研究生教育</span>
          <span style="position:absolute; top:2px; right:5px;" frag="按钮" type="更多"><a href="/5537/list.htm" class="w8_more"><span class="more_text" frag="按钮内容">more</span></a>
                </span>
          </div>
          
          
            
          <div class="main-left1-txt">
            <div id="wp_news_w8"> 

              <ul>
              
                <li class="news n1 clearfix">
                
                <span style="float:left">
                【<a href='/5537/list.htm' target='_blank' title='招生信息' alt='招生信息'>招生信息</a>】<a href='/2019/0307/c5537a120385/page.htm' target='_blank' title='数学科学学院2019年全日制硕士研究生复试办法'>数学科学学院2019年全日制硕士研...</a>
                
                </span>
                <span style="float:right; color:#999999;">2019-03-07</span>
                </li>
              
                <li class="news n2 clearfix">
                
                <span style="float:left">
                【<a href='/5537/list.htm' target='_blank' title='答辩与学位授予' alt='答辩与学位授予'>答辩与学位授予</a>】<a href='/2019/0221/c5537a119616/page.htm' target='_blank' title='南开大学关于2018-2019学年度第二学期毕业研究生论文评审及答辩工作的通知'>南开大学关于2018-2019学年度第...</a>
                
                </span>
                <span style="float:right; color:#999999;">2019-02-21</span>
                </li>
              
                <li class="news n3 clearfix">
                
                <span style="float:left">
                【<a href='/5537/list.htm' target='_blank' title='国际交流' alt='国际交流'>国际交流</a>】<a href='/2019/0211/c5537a119313/page.htm' target='_blank' title='2019年在学研究生国家公派项目实施办法'>2019年在学研究生国家公派项目实...</a>
                
                </span>
                <span style="float:right; color:#999999;">2019-02-11</span>
                </li>
              
                <li class="news n4 clearfix">
                
                <span style="float:left">
                【<a href='/5537/list.htm' target='_blank' title='招生信息' alt='招生信息'>招生信息</a>】<a href='/2018/1210/c5537a116399/page.htm' target='_blank' title='数学科学学院硕博连读生拟录取名单公示'>数学科学学院硕博连读生拟录取名...</a>
                
                </span>
                <span style="float:right; color:#999999;">2018-12-10</span>
                </li>
              
                <li class="news n5 clearfix">
                
                <span style="float:left">
                【<a href='/5537/list.htm' target='_blank' title='招生信息' alt='招生信息'>招生信息</a>】<a href='/2018/1210/c5537a116397/page.htm' target='_blank' title='数学科学学院&quot;申请考核制博士&quot;拟录取名单公示'>数学科学学院&quot;申请考核制博士&quot;拟...</a>
                
                </span>
                <span style="float:right; color:#999999;">2018-12-10</span>
                </li>
              
              </ul> 
            </div> 

           </div>
        </div>
        
      </div>
        
        
        
        <!--//科研动态 -->
        
        <div class="main-left4" frag="面板9">
      
      	<div frag="窗口9">
        	 <div class="main-left2-tit" style="position:relative;">
          	<span frag="标题">科研动态</span>
          <span style="position:absolute; top:2px; right:5px;" frag="按钮" type="更多"><a href="/5538/list.htm" class="w9_more"><span class="more_text" frag="按钮内容">more</span></a>
                </span>
          </div>
          
          
            
          <div class="main-left1-txt4">
            <div id="wp_news_w9"> 

              <ul>
              
                <li class="news n1 clearfix">
                
                <span style="float:left">
                【<a href='/5538/list.htm' target='_blank' title='学术报告' alt='学术报告'>学术报告</a>】<a href='/2019/0301/c5538a120039/page.htm' target='_blank' title='【姜立夫学术讲座】MODELLING MOSQUITO POPULATION SUPPRESSION BASED ON DELAY DIFFERENTIAL EQUATIONS'>【姜立夫学术讲座】MODELLING MO...</a>
                
                </span>
                <span style="float:right; color:#999999;">2019-03-01</span>
                </li>
              
                <li class="news n2 clearfix">
                
                <span style="float:left">
                【<a href='/5538/list.htm' target='_blank' title='学术报告' alt='学术报告'>学术报告</a>】<a href='/2019/0118/c5538a118792/page.htm' target='_blank' title='A Nontrivial Homotopy Element of Order   Detected by the Classical Adams Spectral Sequence'>A Nontrivial Homotopy Element ...</a>
                
                </span>
                <span style="float:right; color:#999999;">2019-01-18</span>
                </li>
              
                <li class="news n3 clearfix">
                
                <span style="float:left">
                【<a href='/5538/list.htm' target='_blank' title='学术报告' alt='学术报告'>学术报告</a>】<a href='/2019/0118/c5538a118791/page.htm' target='_blank' title='The integral cohomology of real toric manifold Feifei Fan'>The integral cohomology of rea...</a>
                
                </span>
                <span style="float:right; color:#999999;">2019-01-18</span>
                </li>
              
                <li class="news n4 clearfix">
                
                <span style="float:left">
                【<a href='/5538/list.htm' target='_blank' title='学术报告' alt='学术报告'>学术报告</a>】<a href='/2019/0117/c5538a118538/page.htm' target='_blank' title='Randomizing mutation probabilities in Kingman&apos;s House-of-Card Model: condensation and fitness comparison'>Randomizing mutation probabili...</a>
                
                </span>
                <span style="float:right; color:#999999;">2019-01-17</span>
                </li>
              
                <li class="news n5 clearfix">
                
                <span style="float:left">
                【<a href='/5538/list.htm' target='_blank' title='学术报告' alt='学术报告'>学术报告</a>】<a href='/2019/0117/c5538a118537/page.htm' target='_blank' title='Portfolio diversification and model uncertainty: a robust dynamic mean-variance approach'>Portfolio diversification and ...</a>
                
                </span>
                <span style="float:right; color:#999999;">2019-01-17</span>
                </li>
              
              </ul> 
            </div> 

           </div>
        </div>
        
      </div>
        <!--//学生工作 -->
        <div class="main-left1" style="margin-top:30px; height:160px;" frag="面板10">
      
      	<div frag="窗口10">
        	 <div class="main-left1-tit" style="position:relative;">
          	<span frag="标题">学生工作</span>
          <span style="position:absolute; top:2px; right:5px;" frag="按钮" type="更多"><a href="/5540/list.htm" class="w10_more"><span class="more_text" frag="按钮内容">more</span></a>
                </span>
          </div>
          
          
            
          <div class="main-left1-txt">
            <div id="wp_news_w10"> 

              <ul>
              
                <li class="news n1 clearfix">
                
                <span style="float:left">
                【<a href='/5540/list.htm' target='_blank' title='学生工作' alt='学生工作'>学生工作</a>】<a href='/2019/0307/c5540a120333/page.htm' target='_blank' title='数学学院部署学生党建工作'>数学学院部署学生党建工作</a>
                
                </span>
                <span style="float:right; color:#999999;">2019-03-06</span>
                </li>
              
                <li class="news n2 clearfix">
                
                <span style="float:left">
                【<a href='/5540/list.htm' target='_blank' title='学生工作' alt='学生工作'>学生工作</a>】<a href='/2019/0306/c5540a120246/page.htm' target='_blank' title='数学学院启动2019年“雷锋月”主题实践活动'>数学学院启动2019年“雷锋月”主题实践...</a>
                
                </span>
                <span style="float:right; color:#999999;">2019-03-05</span>
                </li>
              
                <li class="news n3 clearfix">
                
                <span style="float:left">
                【<a href='/5540/list.htm' target='_blank' title='学生工作' alt='学生工作'>学生工作</a>】<a href='/2019/0122/c5540a119004/page.htm' target='_blank' title='数学学院党委传达学习习近平总书记视察南开大学重要讲话精神'>数学学院党委传达学习习近平总书记视察...</a>
                
                </span>
                <span style="float:right; color:#999999;">2019-01-22</span>
                </li>
              
                <li class="news n4 clearfix">
                
                <span style="float:left">
                【<a href='/5540/list.htm' target='_blank' title='学生工作' alt='学生工作'>学生工作</a>】<a href='/2019/0103/c5540a117758/page.htm' target='_blank' title='2018年天津市五校数学文化节闭幕'>2018年天津市五校数学文化节闭幕</a>
                
                </span>
                <span style="float:right; color:#999999;">2019-01-02</span>
                </li>
              
                <li class="news n5 clearfix">
                
                <span style="float:left">
                【<a href='/5540/list.htm' target='_blank' title='学生工作' alt='学生工作'>学生工作</a>】<a href='/2018/1225/c5540a117385/page.htm' target='_blank' title='数学科学学院开展考前诚信教育'>数学科学学院开展考前诚信教育</a>
                
                </span>
                <span style="float:right; color:#999999;">2018-12-24</span>
                </li>
              
              </ul> 
            </div> 

           </div>
        </div>
        
      </div>
        
        <!--//新增栏目 left -->
        <div class="main-left4" style="margin-top:30px; height:160px;" frag="面板11">
      
      	<div frag="窗口11">
        	 <div class="main-left2-tit" style="position:relative;">
          	<span frag="标题">公共数学</span>
          <span style="position:absolute; top:2px; right:5px;" frag="按钮" type="更多"><a href="/5539/list.htm" class="w11_more"><span class="more_text" frag="按钮内容">more</span></a>
                </span>
          </div>
          
          
            
          <div class="main-left1-txt4">
            <div id="wp_news_w11"> 

              <ul>
              
                <li class="news n1 clearfix">
                
                <span style="float:left">
                【<a href='/5539/list.htm' target='_blank' title='通知公告' alt='通知公告'>通知公告</a>】<a href='/2019/0305/c5539a120234/page.htm' target='_blank' title='2019年大学数学竞赛选拔考试安排'><font style='font-weight:bold;'>2019年大学数学竞赛选拔考试安排</font></a>
                
                </span>
                <span style="float:right; color:#999999;">2019-03-05</span>
                </li>
              
                <li class="news n2 clearfix">
                
                <span style="float:left">
                【<a href='/5539/list.htm' target='_blank' title='通知公告' alt='通知公告'>通知公告</a>】<a href='/2018/0302/c5539a91000/page.htm' target='_blank' title='2017-2018（2）助教、教学实习开会通知'>2017-2018（2）助教、教学实习开...</a>
                
                </span>
                <span style="float:right; color:#999999;">2018-03-02</span>
                </li>
              
                <li class="news n3 clearfix">
                
                <span style="float:left">
                【<a href='/5539/list.htm' target='_blank' title='通知公告' alt='通知公告'>通知公告</a>】<a href='/_upload/article/files/90/3d/f219945f48ca9a0c5499a8dad0c6/d36f76d1-19db-4ee5-84e7-d17029333e32.xlsx' target='_blank' title='2018年天津市大学数学竞赛南开大学报名表'>2018年天津市大学数学竞赛南开大...</a>
                
                </span>
                <span style="float:right; color:#999999;">2018-03-02</span>
                </li>
              
                <li class="news n4 clearfix">
                
                <span style="float:left">
                【<a href='/5539/list.htm' target='_blank' title='表格下载' alt='表格下载'>表格下载</a>】<a href='/_upload/article/files/d5/2b/529601c24a8c80ece78491ab9164/0f0c1d47-7dab-48fb-8dc2-dfcc2c13ab3b.doc' target='_blank' title='公共数学课程免听自修申请表'>公共数学课程免听自修申请表</a>
                
                </span>
                <span style="float:right; color:#999999;">2017-09-23</span>
                </li>
              
                <li class="news n5 clearfix">
                
                <span style="float:left">
                【<a href='/5539/list.htm' target='_blank' title='表格下载' alt='表格下载'>表格下载</a>】<a href='/_upload/article/files/ca/cc/290db12e4173bc76cda5440f0e50/19da7dda-b0f9-4ca2-a611-783f08dbc456.doc' target='_blank' title='公共数学课程补选课申请表'>公共数学课程补选课申请表</a>
                
                </span>
                <span style="float:right; color:#999999;">2017-09-21</span>
                </li>
              
              </ul> 
            </div> 

           </div>
        </div>
        
      </div>
        
        <!--//新增栏目 right -->
        
    </div>
    <form name="login1" method="post" target="_blank">
        <div class="main-right">
            <div class="main-right-tit"><b>邮箱登录</b></div>
            <div class="main-right-txt">
                <label>用户名：</label>
                <span>
                <input name="uid" id="uid" type="text" maxlength="30" />
                </span>
                <span>@
                <select name="domain">
                    <option value="nankai.edu.cn">nankai.edu.cn</option>
                </select>
                </span>
                <div class="main-right-txt2">
                    <label>密码：</label>
                    <span>
                    <input name="password" type="password" maxlength="30" onkeypress='if(event.keyCode==13) return submitit()'/>
                    </span></div>
                <a href="http://sms.nankai.edu.cn/#"><img src="/_upload/tpl/00/be/190/template190/htmlRes/an.jpg" width="63" height="22" alt="an"  onClick="submitit()"/></a>
                &nbsp;
            </div>
        </div>
    </form>
    <script language="javascript">

function submitit()

{

 domain_select=document.login1.domain.value;

 if(domain_select=="nankai.edu.cn")

 {

  document.login1.action="http://nankai.edu.cn/coremail/index.jsp";

  document.login1.submit();

 }

 else if(domain_select=="mail.nankai.edu.cn")

 {

  document.login1.action="http://mail.nankai.edu.cn/?q=login.do";

  document.login1.submit();

 }

};

</script>
    <form name="login2" method="post" target="_blank">
        <div class="main-right-txt" style="float:right;">
            <label>用户名：</label>
            <span>
            <input name="user" type="text" maxlength="30" />
            <input type="hidden" name="referer" value="http://mail.nankai.edu.cn/?q=login">
            <input type="hidden" name="go" value="http://mail.nankai.edu.cn/?q=base">
            </span>
            <label>@</label>
            <span>
            <select name="domain_name">
                <option value="mail.nankai.edu.cn">mail.nankai.edu.cn</option>
            </select>
            </span>
            <div class="main-right-txt2">
                <label>密码：</label>
                <span>
                <input name="password" type="password" maxlength="30" onkeypress='if(event.keyCode==13) return submitit_1()'/>
                </span></div>
            <a href="http://sms.nankai.edu.cn/#"><img src="/_upload/tpl/00/be/190/template190/htmlRes/an.jpg" width="63" height="22" alt="an" onClick="submitit_1()"/></a>
            &nbsp;
            <div class="clear"></div>
        </div>
    </form>
    <script language="javascript">
function submitit_1()
{
    domain_select=document.login2.domain_name.value;
    if(domain_select=="nankai.edu.cn")
    {
        document.login2.action="http://nankai.edu.cn/remote.php";
        document.login2.submit();
    }
    else if(domain_select=="mail.nankai.edu.cn")
    {
        document.login2.action="http://mail.nankai.edu.cn/?q=login.do";
        document.login2.submit();
    }
};
</script>
    <!--<div class="clear"></div> -->
    <div class="main-right-txt3" style="float:right;">
        <a href="http://sms.nankai.edu.cn/lxwm/list.htm"><img src="/_upload/tpl/00/be/190/template190/htmlRes/contact.jpg" width="165" height="48" alt="联系" /></a>
    
        
        <div class="main-right-txt3-ss" frag="面板13">
    	<div frag="窗口13">
      	<select style="width:165px;" onChange="w13_openLink(this)" class="w13_openLink"> 
<option value="" selected>友情链接</option> 
<option value="" >————————————</option> 
</select> 
<script language=javascript> 
      function w13_openLink(obj) { 
          var v = obj.value; 
          if (v != "") { 
              window.open(v); 
              obj.blur(); 
          } 
          obj.selectedIndex = 0; 
      } 
</script>
      </div>
    
        </div>
    </div>
    <!--//mail login -->
    
</div>
<div class="clear"></div>
</div>
</div>








<div id="banquan">
	<div class="banquan-txt">
    <a href="http://www.nankai.edu.cn/" target="_blank">南开大学</a> | <a href="http://www.cim.nankai.edu.cn/" target="_blank">陈省身数学研究所</a> | <a href="http://www.combinatorics.net.cn/" target="_blank">组合数学研究中心</a>| <a href="http://stat.nankai.edu.cn/" target="_blank">统计研究院</a>
    </div>
</div>
<div class="banquan-txt1">版权所有 南开大学数学科学学院 | 地址：天津市卫津路94号 | 邮编：300071| 电话：022-23504717 
   </div>

</body>
</html>








 <image src="/_visitcount?siteId=91&type=1&columnId=5531" style="display:none" width="0" height="0"></image>