<base href="http://guard.nankai.edu.cn/"><!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,user-scalable=0,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
<title>保卫处</title>
<meta name="keywords" content="部门名称">
<meta name="description" content="学校描述" >

<link type="text/css" href="/_css/_system/system.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/1/style/6/6.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/00/98/152/style/142/142.css" rel="stylesheet"/>
<link type="text/css" href="/_js/_portletPlugs/simpleNews/css/simplenews.css" rel="stylesheet" />
<link type="text/css" href="/_js/_portletPlugs/datepicker/css/datepicker.css" rel="stylesheet" />
<link type="text/css" href="/_js/_portletPlugs/sudyNavi/css/sudyNav.css" rel="stylesheet" />

<script language="javascript" src="/_js/jquery.min.js" sudy-wp-context="" sudy-wp-siteId="152"></script>
<script language="javascript" src="/_js/jquery.sudy.wp.visitcount.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/datepicker/js/jquery.datepicker.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/datepicker/js/datepicker_lang_HK.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/sudyNavi/jquery.sudyNav.js"></script>
<script type="text/javascript" src="/_upload/tpl/01/3b/315/template315/extends/extends.js"></script>
<link rel="stylesheet" href="/_upload/tpl/01/3b/315/template315/style.css" type="text/css" />
<!--[if lt IE 9]>
<script src="/_upload/tpl/01/3b/315/template315/extends/libs/html5.js"></script>
<![endif]-->
</head>
<body class="main">
<!--Start||head-->
<div class="wrapper header" id="header">
  <div class="inner">
    <div class="mod clearfix">
      <div class="head-left" frag="面板01"> 
        <!--logo开始-->
        <div class="sitelogo" frag="窗口01" portletmode="simpleSiteAttri"> <a href="/main.htm" title="返回保卫处首页"><img border='0' src='/_upload/site/00/98/152/logo.png' /><span class="sitetitle"></span></a> </div>
        <!--//logo结束--> 
      </div>
    </div>
  </div>
</div>
<!--End||head--> 
<!--Start||nav-->
<div class="wrapper nav wp-navi" id="nav">
  <div class="inner clearfix">
    <div class="nav-left">
      <div class="wp-panel">
        <div class="wp-window" frag="窗口1">
           
            
            <ul class="wp-menu">
              
              <li class="menu-item i1"><a class="menu-link" href="http://guard.nankai.edu.cn/main.htm" target="_self">首页</a> 
                 
              </li>
              
              <li class="menu-item i2"><a class="menu-link" href="/10121/list.htm" target="_self">部门概况</a> 
                
                
                <ul class="sub-menu ">
                  
                  <li class="sub-item i2-1"><a class="sub-link" href="/10164/list.htm" target="_self">部门领导 </a></li>
                  
                  <li class="sub-item i2-2"><a class="sub-link" href="/10165/list.htm" target="_self">保卫处工作职责</a></li>
                  
                  <li class="sub-item i2-3"><a class="sub-link" href="/kszz/list.htm" target="_self">科室职责</a></li>
                  
                </ul>
                 
              </li>
              
              <li class="menu-item i3"><a class="menu-link" href="/10122/list.htm" target="_self">法规制度</a> 
                
                
                <ul class="sub-menu ">
                  
                  <li class="sub-item i3-1"><a class="sub-link" href="/10131/list.htm" target="_self">国家安全法律法规</a></li>
                  
                  <li class="sub-item i3-2"><a class="sub-link" href="/10132/list.htm" target="_self">学校安全规章制度</a></li>
                  
                </ul>
                 
              </li>
              
              <li class="menu-item i4"><a class="menu-link" href="/10123/list.htm" target="_self">党建园地</a> 
                
                
                <ul class="sub-menu ">
                  
                  <li class="sub-item i4-1"><a class="sub-link" href="/zbfc/list.htm" target="_self">支部风采</a></li>
                  
                  <li class="sub-item i4-2"><a class="sub-link" href="/lzjs/list.htm" target="_self">学习园地</a></li>
                  
                </ul>
                 
              </li>
              
              <li class="menu-item i5"><a class="menu-link" href="/10124/list.htm" target="_self">资料下载</a> 
                 
              </li>
              
            </ul>
             
          
        </div>
      </div>
    </div>
    <div class="nav-right">
      <div class="searchbox" frag="窗口03" portletmode="search">
         <form method="POST" action="/_web/search/doSearch.do?locale=zh_CN&request_locale=zh_CN&_p=YXM9MTUyJnQ9MzE1JmQ9MTE0MyZwPTEmbT1OJg__" target="_blank" onsubmit="if ($('#keyword').val() === '请输入关键字') { $('#keyword').val(''); }">
    <div class="wp_search">
        <table>
            <tbody><tr>
                <td height="25px">
                    <input id="keyword" name="keyword" style="width: 150px" class="keyword" type="text"  placeholder="请输入关键词">
                </td>
                <td>
                    <input name="btnsearch" class="search" type="submit" value="">
                </td>
            </tr>
        </tbody></table>
    </div>
</form>

      </div>
    </div>
  </div>
</div>
<!--End||nav--> 
<!--Start||content-->
<div class="wrapper main1" id="container-1">
  <div class="inner">
    <div class="mod clearfix">
      <div class="ml">
        <div class="post post1 post-11 mbox" frag="窗口11">
          <div class="con">
            
              <div class="focus"></div>
              <script type="text/javascript">
								var w11imgJsons = [
								
								{
									title:"<a href='/2018/0725/c10125a104935/page.htm' target='_blank' title='八里台校区主楼'>八里台校区主楼</a>",
									src:"/_upload/article/images/d9/f2/9903ddc4479093c1b750f9d9e11d/009410ab-704f-4699-9f1f-c422abb32d6f.jpg",
									url:"/2018/0725/c10125a104935/page.htm"
								},
								
								{
									title:"<a href='/2018/0627/c10125a102874/page.htm' target='_blank' title='津南校区学生公寓'>津南校区学生公寓</a>",
									src:"/_upload/article/images/00/39/9bd102cc4ddf824ff479b5c32031/4ed287e0-097c-44e3-8888-777e169f7a35.jpg",
									url:"/2018/0627/c10125a102874/page.htm"
								},
								
								{
									title:"<a href='/2018/0627/c10125a102873/page.htm' target='_blank' title='津南校区学生中心'>津南校区学生中心</a>",
									src:"/_upload/article/images/1b/fc/b194c7c1469aa17111b3e2b39732/3a93bb6f-07f4-466c-b993-74f2800fa924.jpg",
									url:"/2018/0627/c10125a102873/page.htm"
								},
								
								{
									title:"<a href='/2018/0627/c10125a102872/page.htm' target='_blank' title='津南校区图书馆'>津南校区图书馆</a>",
									src:"/_upload/article/images/af/c8/1b75a57145b59e0023c2e86fedbf/3c3a4597-9bab-4f6d-8e1f-604393df2755.jpg",
									url:"/2018/0627/c10125a102872/page.htm"
								},
								
								{
									title:"<a href='/2018/0627/c10125a102871/page.htm' target='_blank' title='津南校区南门'>津南校区南门</a>",
									src:"/_upload/article/images/18/75/3545521f4a3b9aca84acd82df6a2/a8e7d42e-dace-4821-9602-ccbc634bab1a.jpg",
									url:"/2018/0627/c10125a102871/page.htm"
								},
								
								{}
								];
								w11imgJsons.pop();							
							</script> 
            
          </div>
        </div>
      </div>
      <div class="mc">
        <div class="post post1 post-21 mbox" frag="窗口21">
          <div class="tt">
            <h3 class="tit"><span class="title" frag="标题">工作动态</span> </h3>
            <div class="more_btn" frag="按钮" type="更多"> <a href="/10128/list.htm" class="w21_more"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span></a> </div>
          </div>
          <div class="con">
            
              <ul class="news_list clearfix">
                
                <li class="news n1 clearfix"> <span class="news_title"> 
                   
                  <a href='/_redirect?siteId=152&columnId=10128&articleId=120383' target='_blank' title='牢记总书记嘱托 支部书记讲党课”主题活动'>牢记总书记嘱托 支部书记讲党课”主题...</a> 
                   
                  </span> <span class="news_meta">03-07</span> </li>
                
                <li class="news n2 clearfix"> <span class="news_title"> 
                   
                  <a href='/_redirect?siteId=152&columnId=10128&articleId=112252' target='_blank' title='保卫处扎实开展新生安全教育'>保卫处扎实开展新生安全教育</a> 
                   
                  </span> <span class="news_meta">10-30</span> </li>
                
                <li class="news n3 clearfix"> <span class="news_title"> 
                   
                  <a href='/_redirect?siteId=152&columnId=10128&articleId=111237' target='_blank' title='保卫处党支部邀请专家讲党课'>保卫处党支部邀请专家讲党课</a> 
                   
                  </span> <span class="news_meta">10-19</span> </li>
                
                <li class="news n4 clearfix"> <span class="news_title"> 
                   
                  <a href='http://news.nankai.edu.cn/nkyw/system/2018/09/14/000408694.shtml' target='_blank' title='我校开展新生消防疏散演习'>我校开展新生消防疏散演习</a> 
                   
                  </span> <span class="news_meta">09-14</span> </li>
                
                <li class="news n5 clearfix"> <span class="news_title"> 
                   
                  <a href='/_redirect?siteId=152&columnId=10128&articleId=105140' target='_blank' title='保卫处联合公安擒获2名犯罪嫌疑人 今年已擒7人'>保卫处联合公安擒获2名犯罪嫌疑人 今年...</a> 
                   
                  </span> <span class="news_meta">07-27</span> </li>
                
                <li class="news n6 clearfix"> <span class="news_title"> 
                   
                  <a href='/2018/0725/c10128a104967/page.htm' target='_blank' title='保卫处对津南校区进行安全检查'>保卫处对津南校区进行安全检查</a> 
                   
                  </span> <span class="news_meta">07-25</span> </li>
                
                <li class="news n7 clearfix"> <span class="news_title"> 
                   
                  <a href='/2018/0725/c10128a104966/page.htm' target='_blank' title='消防津南支队和海教园管委会联合在津南校区新开湖进行防汛水中救援演习'>消防津南支队和海教园管委会联合在津南...</a> 
                   
                  </span> <span class="news_meta">07-25</span> </li>
                
                <li class="news n8 clearfix"> <span class="news_title"> 
                   
                  <a href='/_redirect?siteId=152&columnId=10128&articleId=103032' target='_blank' title='学校开展安全生产月专题培训'>学校开展安全生产月专题培训</a> 
                   
                  </span> <span class="news_meta">06-13</span> </li>
                
              </ul>
            
          </div>
        </div>
      </div>
      <div class="mr">
        <div class="post post1 post-31 mbox" frag="窗口31">
          <div class="tt">
            <h3 class="tit"><span class="title" frag="标题">通知公告</span> </h3>
            <div class="more_btn" frag="按钮" type="更多"> <a href="/10127/list.htm" class="w31_more"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span></a> </div>
          </div>
          <div class="con">
                          <ul class="news_list clearfix">
                
                <li class="news n1 clearfix"> <span class="news_title"> 
                   
                  <a href='/_redirect?siteId=152&columnId=10127&articleId=119694' target='_blank' title='关于签订2019年《社会治安综合治理目标责任书》和《消防安全责任书》的通知'>关于签订2019年《社会治安综合治...</a> 
                   
                  </span> <span class="news_meta">02-22</span> </li>
                
                <li class="news n2 clearfix"> <span class="news_title"> 
                   
                  <a href='/_redirect?siteId=152&columnId=10127&articleId=119255' target='_blank' title='南开大学《关于做好2019年寒假假期安全工作的通知》'>南开大学《关于做好2019年寒假假...</a> 
                   
                  </span> <span class="news_meta">01-21</span> </li>
                
                <li class="news n3 clearfix"> <span class="news_title"> 
                   
                  <a href='/_redirect?siteId=152&columnId=10127&articleId=117499' target='_blank' title='元旦假期安全提示'>元旦假期安全提示</a> 
                   
                  </span> <span class="news_meta">12-27</span> </li>
                
                <li class="news n4 clearfix"> <span class="news_title"> 
                   
                  <a href='/_redirect?siteId=152&columnId=10127&articleId=117429' target='_blank' title='南开大学2018年今冬明春火灾防控工作实施方案'>南开大学2018年今冬明春火灾防控...</a> 
                   
                  </span> <span class="news_meta">12-26</span> </li>
                
                <li class="news n5 clearfix"> <span class="news_title"> 
                   
                  <a href='/_redirect?siteId=152&columnId=10127&articleId=116846' target='_blank' title='研究生入学考试期间八里台校区车辆通行通知'>研究生入学考试期间八里台校区车...</a> 
                   
                  </span> <span class="news_meta">12-17</span> </li>
                
                <li class="news n6 clearfix"> <span class="news_title"> 
                   
                  <a href='/_redirect?siteId=152&columnId=10127&articleId=111891' target='_blank' title='关于八里台校区励耘路断交施工通知'>关于八里台校区励耘路断交施工通...</a> 
                   
                  </span> <span class="news_meta">10-26</span> </li>
                
                <li class="news n7 clearfix"> <span class="news_title"> 
                   
                  <a href='/_redirect?siteId=152&columnId=10127&articleId=109112' target='_blank' title='关于集体婚礼期间道路禁行的通知'>关于集体婚礼期间道路禁行的通知</a> 
                   
                  </span> <span class="news_meta">09-30</span> </li>
                
                <li class="news n8 clearfix"> <span class="news_title"> 
                   
                  <a href='/2018/0929/c10127a108977/page.htm' target='_blank' title='关于做好国庆节期间安全稳定工作的通知'>关于做好国庆节期间安全稳定工作...</a> 
                   
                  </span> <span class="news_meta">09-29</span> </li>
                
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper main2" id="container-2">
  <div class="inner">
    <div class="mod clearfix">
      <div class="ml">
        <div class="post post1 post-41 mbox" >
          <div class="tt" frag="窗口41">
            <h3 class="tit"><span class="title" frag="标题">服务指南</span> </h3>
            <div class="more_btn" frag="按钮" type="更多"> <a href="/10129/list.htm" class="w41_more"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span></a> </div>
            <div class="none">
              <div id="wp_news_w41"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='/2018/1110/c10129a113210/page.htm' target='_blank' title='关于校外车辆因举办活动办理入校申请的通知'>关于校外车辆因举办活...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2018-11-10</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i2"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>2</span> 
             <span class='Article_Title'><a href='/_upload/article/files/a3/99/b456d3e949db9ba628cfe2cddc1d/df472c6c-1f2c-4f6e-b6c0-52793ff68329.doc' target='_blank' title='南开大学维修改造项目消防咨询备忘录'>南开大学维修改造项目...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2018-10-26</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i3"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>3</span> 
             <span class='Article_Title'><a href='/2018/0727/c10129a105133/page.htm' target='_blank' title='办理边境地区通行证的流程'>办理边境地区通行证的...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2018-07-27</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i4"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>4</span> 
             <span class='Article_Title'><a href='/2018/0713/c10129a104370/page.htm' target='_blank' title='全日制在籍学生办理门禁方式'>全日制在籍学生办理门...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2018-07-13</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i5"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>5</span> 
             <span class='Article_Title'><a href='/2018/0713/c10129a104368/page.htm' target='_blank' title='校内经营服务单位人员办理门禁方式'>校内经营服务单位人员...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2018-07-13</span> 
              
         </div> 
     </li> 
      
</ul> 
</div> 

            </div>
          </div>
          <div class="con post-411" frag="窗口411">
             
              
              <ul class="wp-menu">
                
                <li class="menu-item i1"><a class="menu-link"  href="/10135/list.htm" target="_self">政保工作</a>                </li>
                
                <li class="menu-item i2"><a class="menu-link"  href="/10133/list.htm" target="_self">消防工作</a>                </li>
                
                <li class="menu-item i3"><a class="menu-link"  href="/10134/list.htm" target="_self">治安工作</a>                </li>
                
                <li class="menu-item i4"><a class="menu-link"  href="/10136/list.htm" target="_self">校园交通</a>                </li>
                
              </ul>
               
            
          </div>
        </div>
      </div>
      <div class="mc">
        <div class="post post1 post-51 mbox" frag="窗口51">
          <div class="tt">
            <h3 class="tit"><span class="title" frag="标题">安全教育</span> </h3>
            <div class="more_btn" frag="按钮" type="更多"> <a href="/10130/list.htm" class="w51_more"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span></a> </div>
          </div>
          <div class="con">
            
              <ul class="news_list clearfix">
                
                <li class="news n1 clearfix"> <span class="news_title"> 
                   
                  <a href='/2018/0727/c10130a105134/page.htm' target='_blank' title='新生入学前安全教育操作图解'>新生入学前安全教育操作图解</a> 
                   
                  </span> <span class="news_meta">07-27</span> </li>
                
                <li class="news n2 clearfix"> <span class="news_title"> 
                   
                  <a href='/2018/0628/c10130a103042/page.htm' target='_blank' title='大学生安全教育课程基本信息'>大学生安全教育课程基本信息</a> 
                   
                  </span> <span class="news_meta">06-28</span> </li>
                
                <li class="news n3 clearfix"> <span class="news_title"> 
                   
                  <a href='/_redirect?siteId=152&columnId=10130&articleId=105132' target='_blank' title='学校开展安全生产月专题培训'>学校开展安全生产月专题培训</a> 
                   
                  </span> <span class="news_meta">06-13</span> </li>
                
                <li class="news n4 clearfix"> <span class="news_title"> 
                   
                  <a href='/_redirect?siteId=152&columnId=10130&articleId=105130' target='_blank' title='学校开展全民国家安全教育日活动'>学校开展全民国家安全教育日...</a> 
                   
                  </span> <span class="news_meta">04-17</span> </li>
                
                <li class="news n5 clearfix"> <span class="news_title"> 
                   
                  <a href='/_redirect?siteId=152&columnId=10130&articleId=105131' target='_blank' title='禁毒教育进课堂'>禁毒教育进课堂</a> 
                   
                  </span> <span class="news_meta">04-12</span> </li>
                
              </ul>
            
          </div>
        </div>
      </div>
      <div class="mr">
        <div class="post post1 post-61 mbox">
          <p class="tel"><span><a href="javascript:void(0)">校园报警电话</a></span></p>
          <p class="campus1"><span><a href="javascript:void(0)">八里台校区：23508962<br/>
23508122 </a></span></p>
          <p class="campus1"><span><a href="javascript:void(0)">津南校区：85358962<br/>
85358122</a></span></p>
          <div class="wechat"> </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End||content--> 
<!--Start||nav-->
<div class="post-71">
  <div class="wrapper nav wp-navi" id="nav">
    <div class="inner clearfix">
      <div class="wp-panel">
        <div class="wp-window" frag="窗口71">
           
            
            <ul class="wp-menu">
              
              <li class="menu-item i1"><a class="menu-link" href="http://www.nankai.edu.cn/" target="_self">南开大学首页</a> </li>
              
              <li class="menu-item i2"><a class="menu-link" href="http://www.tjgaj.gov.cn/site/hall/menu.aspx?menuid=8003" target="_self">天津市公安局民生服务网</a> </li>
              
              <li class="menu-item i3"><a class="menu-link" href="http://xzsp.tj.gov.cn/?areaId=120000" target="_self">天津市行政审批服务网</a> </li>
              
            </ul>
             
          
        </div>
      </div>
    </div>
  </div>
</div>
<!--End||nav--> 
<!--Start||footer-->
<div class="wrapper footer" id="footer">
  <div class="inner">
    <div class="mod clearfix">
      <div class="foot-left" frag="窗口90" portletmode="simpleSiteAttri">
        <p class="copyright"><span>Copyright © 南开大学保卫处 2018-2023 </span></p>
        <p class="copyright"><span><a href="javascript:void(0)" target="_blank">天津市卫津路94号 [300071] 津教备0061号 津ICP备12003308号-1</a></span></p>
      </div>
    </div>
  </div>
</div>
<!--End||footer-->
</body>
<script type="text/javascript" src="/_upload/tpl/01/3b/315/template315/js/comcus.js"></script>
<script type="text/javascript" src="/_upload/tpl/01/3b/315/template315/js/main.js"></script>
</html>

 <image src="/_visitcount?siteId=152&type=1&columnId=9382" style="display:none" width="0" height="0"></image>