<base href="http://news.nankai.edu.cn/xwzt/system/2010/03/07/000028950.shtml"><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="">
<meta name="description" content="南开新闻网系列专题">


<link href="/2014ceshi/css/style.css" rel="stylesheet" />
<link href="/2014ceshi/css/third.css" rel="stylesheet" />
<link href="http://news.nankai.edu.cn/css/index.css" rel="stylesheet" type="text/css">
<title>南开新闻网系列专题-专题-新闻专题</title>
</head>

<body>
<div class="wrap">

<!-- banner starts -->

<!--enorth cms{ new_second_banner }enorth cms-->
<style type="text/css">
.banner {
	position: relative;
	width: 1000px;
	height: 125px;
	background-repeat: no-repeat;
	background-image: url(/2014ceshi/images/banner.png);
	padding-bottom: 5px;
}

.mainmenu {
	position: relative;
	float: left;
	margin-left: 480px;
	margin-top: 95px;
}

.mainmenu a {
	color: #989898;
	text-decoration: none;
}

.mainmenu a:hover {
	color: #4f4f4f;
}

.link {
	position: relative;
	float: left;
	margin: 0 5px;
	font: bold 16px 'Microsoft YaHei';
}

.form {
	position: relative;
	float: left;
	line-height: 12px;
	padding-left: 24px;
	top: -2px;
}

.form input[type="text"] {
	float: left;
	width: 125px;
	height: 12px;
	padding-left: 3px;
	text-indent: 5px;
	border: none;
	border-radius: 1px;
	box-shadow: 0 0 0 2px #ababab;
}

.form input[type="text"]:focus {
	outline: 0 none;
	box-shadow: 0 0 0 2px #7e7e7e;
}
</style>
<body>
	<div class="banner">
		<a href="http://news.nankai.edu.cn/" style="position: absolute;left: 60px;top: 15px;display: block;width: 380px;height: 100px;">&nbsp;</a>
		<div class="mainmenu">
			<div class="link">
				<a href="http://news.nankai.edu.cn/" target="_blank">首页</a>
			</div>
			<div class="link">
				<a href="http://jw.nankai.edu.cn/" target="_blank">觉悟网</a>
			</div>
			<div class="link">
				<a href="http://theory.nankai.edu.cn/" target="_blank">学习网</a>
			</div>
			<div class="link">
				<a
					href="http://news.nankai.edu.cn/xwzt/system/2014/03/06/000168359.shtml"
					target="_blank">大学报</a>
			</div>
			<div class="link">
				<a href="http://news.nankai.edu.cn/xs/" target="_blank">校史网</a>
			</div>
			<div class="link">
				<a href="http://bbs.nankai.edu.cn/" target="_blank">BBS</a>
			</div>
			<div class="form">
				<form method="get" id="searchform" action="#" class="form-search"
					style="padding-top: 7px;" />

				<!--Baidu站内搜索开始-->
				<script language="javascript">
					function baidusearch() {
						var wd = document.getElementsByName("wd")[0].value;
						var link = "http://www.baidu.com/s?si=news.nankai.edu.cn&cl=3&ct=2097152&tn=baidulocal&word="
								+ wd;
						window.open(link);
					}
				</script>
				<input name="wd" type="text" size="10" /> <input type="image"
					onclick="javascript:baidusearch()" src="/2014ceshi/images/find.png"
					alt="搜索"
					style=" width:16px; height:16px;position: relative;
float: left;
padding-left: 8px;" />
				<!--Baidu站内搜索结束-->
				</form>
			</div>
		</div>
	</div>
</body>
<!--enorth cms{ new_second_banner }enorth cms-->

<!-- banner ends -->

<!-- content starts -->
<div class="con-wrap">
<div class="third-content">
	<div class="third-left">
            <div class=" news-position">
<!--function position() parse begin-->
您当前的位置 ：<a href=http://news.nankai.edu.cn/xwzt/>新闻专题</a>&nbsp;正文
<!--function: position() parse end  0ms cost! -->
</div>
        <div class="news--banner">
        	<div class="news-title"><h2>南开新闻网系列专题</h2></div>
            <div class="news-detail">来源：
<!--function source_without_pub_date() parse begin-->
<a href="news.nankai.edu.cn"  target="_blank" >南开新闻网</a>
<!--function: source_without_pub_date() parse end  0ms cost! -->
&nbsp;&nbsp;&nbsp;&nbsp;发稿时间：
<!--function pub_date() parse begin-->
2010-03-07 10:34
<!--function: pub_date() parse end  0ms cost! -->
</div>
        </div>
        <div class=" news-content">
<!--function content() parse begin-->
<p><br />
<strong><font color="#ff0000"><img alt="" src="http://news.nankai.edu.cn/pic/0/00/03/94/39444_263416.jpg" style="width: 516px; height: 31px" /></font></strong></p>
<p>&nbsp;<img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" /><a href="http://news.nankai.edu.cn/zttj/system/2018/09/18/000409158.shtml" target="_blank">【专题】重温习近平总书记重要回信精神 厚植爱国主义情怀</a></p>
<!--advertisement code begin--><!--advertisement code end--><p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" /><a href="http://news.nankai.edu.cn/zttj/system/2018/09/11/000408517.shtml" target="_blank">【专题】学习贯彻全国教育大会精神</a></p>
<p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" /><a href="http://news.nankai.edu.cn/zttj/system/2018/09/10/000408436.shtml" target="_blank">【专题】南开大学2018年&ldquo;知行南开&rdquo;师生同行暑期社会实践活动</a></p>
<p>&nbsp;<img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" /><a href="http://news.nankai.edu.cn/zttj/system/2018/09/05/000407835.shtml" target="_blank">【专题】南开大学第八届&ldquo;良师益友&rdquo;风采展示</a></p>
<p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<a href="http://news.nankai.edu.cn/zttj/system/2018/07/04/000398035.shtml" target="_blank">【专题】南开大学庆祝中国共产党成立97周年表彰大会</a></p>
<p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<a href="http://news.nankai.edu.cn/zttj/system/2017/12/27/000363094.shtml" target="_blank">【专题】南开大学&ldquo;双一流&rdquo;建设方案</a></p>
<p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<a href="http://news.nankai.edu.cn/zttj/system/2017/12/05/000359611.shtml" target="_blank">【专题】南开大学思想政治工作会议</a></p>
<p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<a href="http://news.nankai.edu.cn/xwzt/system/2017/12/05/000359477.shtml" target="_blank">【专题】党支部书记&ldquo;学习贯彻十九大精神&rdquo;专题培训班</a></p>
<p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<a href="http://news.nankai.edu.cn/zttj/system/2017/09/26/000347457.shtml" target="_blank">【专题】学习贯彻习近平总书记重要回信精神</a></p>
<p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<a href="http://news.nankai.edu.cn/zttj/system/2017/10/17/000350695.shtml" target="_blank">【专题】学习贯彻党的十九大精神</a></p>
<p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<a href="http://news.nankai.edu.cn/zttj/system/2017/10/16/000350561.shtml" target="_blank">【专题】南开大学98周年华诞</a></p>
<p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<a href="http://news.nankai.edu.cn/xwzt/system/2017/09/30/000348314.shtml" target="_blank">【专题】缅怀先烈 继往开来&mdash;&mdash;历史上的南开大学英烈</a></p>
<p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<a href="http://news.nankai.edu.cn/xwzt/system/2017/09/24/000347134.shtml" target="_blank">【专题】拼搏进取 团结向上 2017年南开大学运动会</a></p>
<p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<a href="http://news.nankai.edu.cn/xwzt/system/2017/09/13/000345014.shtml" target="_blank">【专题】2017年网络安全宣传周</a></p>
<p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<a href="http://news.nankai.edu.cn/zttj/system/2017/09/08/000344214.shtml" target="_blank">【专题】学习黄大年 做&ldquo;四有&rdquo;好老师</a></p>
<p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<a href="http://news.nankai.edu.cn/xwzt/system/2017/09/03/000343454.shtml" target="_blank">【专题】《习近平的七年知青岁月》选载</a></p>
<p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<a href="http://news.nankai.edu.cn/xwzt/system/2017/08/09/000341235.shtml" target="_blank">【专题】高举中国特色社会主义伟大旗帜 为决胜全面小康社会实现中国梦而奋斗</a></p>
<p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<a href="http://news.nankai.edu.cn/xwzt/system/2017/07/24/000339874.shtml" target="_blank">【专题】南开大学文明校园创建</a></p>
<p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<a href="http://news.nankai.edu.cn/xwzt/system/2017/07/04/000337256.shtml" target="_blank">【专题】深切缅怀申泮文先生</a></p>
<p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<a href="http://news.nankai.edu.cn/xwzt/system/2017/07/21/000339635.shtml" target="_blank">【专题】巡视整改进行时&nbsp;</a></p>
<p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<a href="http://news.nankai.edu.cn/zttj/system/2017/07/02/000337074.shtml" target="_blank">【专题】南开大学2016-2017年度&ldquo;创最佳党日&rdquo;风采展示</a></p>
<p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<a href="http://news.nankai.edu.cn/zttj/system/2017/06/30/000336695.shtml" target="_blank">【专题】优秀学生党员标兵风采展示</a></p>
<p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<a href="http://news.nankai.edu.cn/zttj/system/2017/06/28/000336279.shtml" target="_blank">【专题】2017年南开大学毕业季</a></p>
<p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<a href="http://news.nankai.edu.cn/zttj/system/2017/06/26/000336015.shtml" target="_blank">【专题】南开大学对口帮扶庄浪县</a></p>
<p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<a href="http://news.nankai.edu.cn/zttj/system/2017/06/16/000334978.shtml" target="_blank">【专题】学校表彰2017届赴西部基层就业毕业生、优秀毕业生</a></p>
<p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<a href="http://news.nankai.edu.cn/zttj/system/2017/05/19/000332035.shtml" target="_blank">【专题】走近南开大学新版原创话剧《杨石先》</a></p>
<p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<a href="http://news.nankai.edu.cn/zttj/system/2017/05/18/000331898.shtml" target="_blank">【专题】学校开展剧毒化学品专项整治工作</a></p>
<p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<a href="http://news.nankai.edu.cn/zttj/system/2017/03/13/000322274.shtml" target="_blank">【专题】切实加强和改进教育系统知识分子工作</a></p>
<p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<a href="http://news.nankai.edu.cn/xwzt/system/2017/02/13/000317757.shtml" target="_blank">【专题】完善高校科研经费管理工作 </a></p>
<p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<a href="http://news.nankai.edu.cn/xwzt/system/2017/05/12/000331374.shtml" target="_blank">【专题】迎接十九大</a></p>
<p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<a href="http://news.nankai.edu.cn/zttj/system/2016/11/04/000303241.shtml" target="_blank">中国共产党南开大学第九次党员代表大会</a></p>
<p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<a href="http://news.nankai.edu.cn/xwzt/system/2017/01/09/000314634.shtml" target="_blank">纪念杨石先诞辰120周年</a>&nbsp;&nbsp;</p>
<p>&nbsp;</p>
<p><strong><font color="#ff0000"><span style="color: rgb(0,0,0)">往年专题</span></font></strong></p>
<p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<strong><a href="http://news.nankai.edu.cn/xwzt/system/2018/01/04/000364194.shtml" target="_blank">2017年专题</a></strong>&nbsp; <img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<a href="http://news.nankai.edu.cn/xwzt/system/2017/01/10/000314796.shtml" target="_blank"><strong>2016年专题</strong></a>&nbsp; <img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<a href="http://news.nankai.edu.cn/xwzt/system/2016/01/06/000263954.shtml" target="_blank"><strong>2015年专题</strong></a>&nbsp; <img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<a href="http://news.nankai.edu.cn/xwzt/system/2015/01/12/000217435.shtml" target="_blank"><strong>2014年专题</strong></a></p>
<p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<strong><font color="#ff0000"><a 4="" href="http://news.nankai.edu.cn/xwzt/system/2014/01/07/000162479.shtml" target="_blank">2013年专题</a>&nbsp; </font></strong><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<strong><font color="#ff0000"><a 4="" href="http://news.nankai.edu.cn/xwzt/system/2013/01/23/000109698.shtml" target="_blank">2012年专题</a>&nbsp; </font></strong><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<strong><font color="#ff0000"><a 4="" href="http://news.nankai.edu.cn/xwzt/system/2013/01/23/000109697.shtml" target="_blank">2011年专题</a>&nbsp; </font></strong><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<strong><font color="#ff0000"><a 4="" href="http://news.nankai.edu.cn/xwzt/system/2013/01/23/000109696.shtml" target="_blank">2010年专题</a>&nbsp; </font></strong></p>
<p><img src="http://news.nankai.edu.cn/xwzt/moban1/images/logo2.jpg" />&nbsp;<strong><font color="#ff0000"><a 4="" href="http://news.nankai.edu.cn/xwzt/system/2010/07/01/000032285.shtml" target="_blank">2009年专题</a></font></strong></p>

<!--function: content() parse end  0ms cost! -->
</div>
        <div class="news-footer"><p style="text-align:right"><font style="color:#00F; font-size:14px;">编辑：</font>
<!--function init_editor() parse begin-->
韩诚
<!--function: init_editor() parse end  0ms cost! -->
</p></div>
	</div>
        <div class="third-right">
	
<!--enorth cms{ 2014new-bl }enorth cms-->
<style type="text/css">
.third-right {
	position: relative;
	float: left;
	width: 260px;
	height: auto;
}

.third-menu {
	width: 255px;
	height: auto;
	background-image: url(/2014ceshi/images/zhulou.png);
	background-repeat: no-repeat;
}

.menu-title {
	position: relative;
	padding: 28px 0 0 210px;
}

.menu-title a {
	font: bold 16px 'Microsoft YaHei';
	color: #701a5e;
	text-decoration: none;
}

.guanbo {
	padding: 5px;
}

.zhuanti {
	width: 230px;
	height: 130px;
	padding: 5px 5px;
}

.zhuanti-title {
	position: relative;
	float: left;
	width: 120px;
	margin-top: 15px;
}

.zhuanti-title a {
	font: bold 13px 'Microsoft YaHei';
	text-decoration: none;
}

.zhuanti-content {
	padding-top: 2px;
	position: relative;
	float: left;
	width: 120px;
	font: 12px 'Microsoft YaHei';
	line-height: 16px;
	text-align: justify;
	text-justify: inter-ideograph;
}

.zhuanti-img {
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
	margin: 15px 5px 15px 0;
}

.zhuanti img {
	width: 100px;
	height: 100px;
        border:none;
}

.guanzhu {
	padding-top: 5px;
}

.guanzhu td a {
	width: 220px;
	overflow: hidden;
	text-overflow: ellipsis;
	font: 13px 'Microsoft YaHei';
	line-height: 15px;
	text-decoration: none;
	color: #000;
	display: inline-block;
	white-space: nowrap;
	margin: 2px 0 1px 0;
}
</style>
<body>
<div class="third-menu">
        <div class="menu-title"><a href="http://weibo.com/nankaiuni" target="_blank">官博</a></div>
        <div class="guanbo">
<iframe width="245" height="400" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=zh_cn&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=1&isWeibo=1&isFans=0&uid=1851774145&verifier=4e1ba554&colors=7f0d6f,ffffff,666666,0082cb,ecfbfd&dpc=1"></iframe>
        </div>
        </div>
        <div class="third-menu">
        	<div class="menu-title"><a href="http://news.nankai.edu.cn/xwzt/system/2010/03/07/000028950.shtml" target="_blank">专题</a></div>
         
<!--function guide_model(zttj,1,2,1,/2014ceshi/small_template/zhuanti.html) parse begin-->
<table width="100%"  >
<tr><td ><div class="zhuanti">
<div class="zhuanti-img"><a href="http://news.nankai.edu.cn/zttj/system/2018/03/01/000369676.shtml" target="_blank"><img src=http://news.nankai.edu.cn/pic/0/00/29/62/296245_618433.jpg /></a></div>
<div class="zhuanti-title"><a href="http://news.nankai.edu.cn/zttj/system/2018/03/01/000369676.shtml"   target="_blank" >【专题】纪念杰出校友周恩来总理诞辰120周年</a></div>
<div class="zhuanti-content">&nbsp;&nbsp;在南开大学杰出校友周恩来诞辰120周年之际，南开师生举办相关纪念活动，共同缅怀周总理的伟大人格和精神风范。</div></td></tr>
<tr><td ><div class="zhuanti">
<div class="zhuanti-img"><a href="http://news.nankai.edu.cn/xwzt/system/2018/04/15/000376955.shtml" target="_blank"><img src=http://news.nankai.edu.cn/pic/0/00/29/63/296365_959782.jpg /></a></div>
<div class="zhuanti-title"><a href="http://news.nankai.edu.cn/xwzt/system/2018/04/15/000376955.shtml"   target="_blank" ><b><font color=#FF0000>【专题】学习贯彻党的十九大精神</font></b></a></div>
<div class="zhuanti-content">&nbsp;&nbsp;不忘初心，牢记使命，高举中国特色社会主义伟大旗帜，决胜全面建成小康社会</div></td></tr>
</table>

<!--function: guide_model(zttj,1,2,1,/2014ceshi/small_template/zhuanti.html) parse end  93ms cost! -->

         </div>
        <div class="third-menu">
        	<div class="menu-title"><a href="http://news.nankai.edu.cn/nkyw/index.shtml" target="_blank">关注</a></div>
         <div class="guanzhu">
         
<!--function guide5($hot7_0,1,10,false,none,none,none,none) parse begin-->
<table width="100%"  >
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/mtnk/system/2018/09/17/000409114.shtml"   target="_blank" >天津日报：青春思报国 书写强军梦 </a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/mtnk/system/2018/09/17/000409116.shtml"   target="_blank" >天津日报：不断提升中华文化影响力（柯平）</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/mtnk/system/2018/09/17/000409115.shtml"   target="_blank" >天津日报：引导广大文化文艺工作者 深入生活 扎根人民（沈立岩）</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/mtnk/system/2018/09/17/000409118.shtml"   target="_blank" >天津日报：市领导慰问有关专家并研究新区生物医药产业发展情况 </a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/mtnk/system/2018/09/17/000409117.shtml"   target="_blank" >天津日报：张国清赴南开大学和天津大学调研人工智能学院</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/mtnk/system/2018/09/17/000409119.shtml"   target="_blank" >今晚报：张国清赴南开大学和天津大学调研人工智能学院</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/mtnk/system/2018/09/17/000408996.shtml"   target="_blank" >中国经济网：文旅菁英齐聚南孔圣地 助力城市品牌打造</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/mtnk/system/2018/09/17/000408997.shtml"   target="_blank" >中国发展网：中国对外投资平稳发展</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/mtnk/system/2018/09/17/000408994.shtml"   target="_blank" >人民网：外国专家话天津：条件优越 可以吸引更多国际人才</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/mtnk/system/2018/09/17/000409000.shtml"   target="_blank" >中国发展网：学界声音：我国上市公司治理准则急需全面升级</a></td></tr>
</table>

<!--function: guide5($hot7_0,1,10,false,none,none,none,none) parse end  79ms cost! -->

         </div>
        </div>
</body>
<!--enorth cms{ 2014new-bl }enorth cms-->

	</div>			
</div>
<!-- content ends -->


<!-- footer starts -->

<!--enorth cms{ new_footer }enorth cms-->
<style type="text/css">
.footer {
	position: relative;
	float: left;
	width: 940px;
	height: 60px;
	color: #717171;
	font-size: 12px !important;
	font-size: 10px;
	line-height: 14px;
}

.footer-left {
	position: relative;
	float: left;
	padding-left: 35px;
}

.footer-right {
	position: relative;
	float: left;
	padding-left: 25px;
}

.footer p {
	margin: 0 0 10px 0;
}

.footer a {
	text-decoration: none;
	color: #717171;
}

.footer a:hover {
	color: #000;
}
</style>

<body>

<div class="footer">
    <div class="footer-left">
        <p>本网站由南开大学新闻中心设计维护 Copyright@2014 津ICP备12003308号-1</p>
        <p>新闻热线：022-23508737 022-8535464 投稿信箱：nknews@nankai.edu.cn</p>
    </div>
    <div class="footer-right">
        <p><a href="http://www.people.com.cn/" target="_blank">人民网</a>
        <a href="http://www.xinhuanet.com/" target="_blank">新华网</a>
        <a href="http://www.gmw.cn/" target="_blank">光明网</a>      
        <a href="http://www.jyb.cn/" target="_blank">中国教育新闻网</a>
        <a href="http://www.stdaily.com/" target="_blank">中国科技网</a>
 <a href="http://www.youth.cn/" target="_blank">中国青年网</a>
       
        <a href="http://world.chinadaily.com.cn/" target="_blank">中国日报网</a>
 <a href="http://www.chinanews.com/" target="_blank">中新网</a >
   
        <p><a href="http://www.nankai.edu.cn/" target="_blank">南开大学</a>
        <a href="http://nankai.en.school.cucas.cn/" target="_blank">英文资讯</a>
        <a href="http://xxgk.nankai.edu.cn/" target="_blank">信息公开网</a>
        <a href="http://urp.nankai.edu.cn/" target="_blank">信息门户</a>
        <a href="http://nkuaa.nankai.edu.cn/ " target="_blank">校友会</a>
        <a href="http://nkuef.nankai.edu.cn/" target="_blank">基金会</a>
        <a href="http://zsb.nankai.edu.cn/" target="_blank">招生办 </a>
        <a href="http://www.lib.nankai.edu.cn/" target="_blank">图书馆</a>
 <a href="http://xuebao.nankai.edu.cn/noscript/xuebao/" target="_blank">学报编辑部</a></p>
      </div>
</div>
</body>
<!--enorth cms{ new_footer }enorth cms-->

<!-- footer ends -->
</div>
</div>
</body>
</html><!--<page cms="enorth webpublisher"  version="5.0.0 /2011101201" server_name="svctag-f76553x" parse_date="2018-09-19 17:07:22" cost="234" parse_result="0" input_mode="manual"></page>-->