<base href="http://yzb.nankai.edu.cn/"><!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width,user-scalable=0,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<title>南开大学研究生招生网</title>

<link type="text/css" href="/_css/_system/system.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/1/style/6/6.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/00/34/52/style/24/24.css" rel="stylesheet"/>
<link type="text/css" href="/_js/_portletPlugs/simpleNews/css/simplenews.css" rel="stylesheet" />
<link type="text/css" href="/_js/_portletPlugs/datepicker/css/datepicker.css" rel="stylesheet" />
<link type="text/css" href="/_js/_portletPlugs/sudyNavi/css/sudyNav.css" rel="stylesheet" />

<script language="javascript" src="/_js/sudy-jquery-autoload.js" jquery-src="/_js/jquery-1.x.min.js" sudy-wp-context="" sudy-wp-siteId="52"></script>
<script language="javascript" src="/_js/jquery-migrate.min.js"></script>
<script language="javascript" src="/_js/jquery.sudy.wp.visitcount.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/datepicker/js/jquery.datepicker.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/datepicker/js/datepicker_lang_HK.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/sudyNavi/jquery.sudyNav.js"></script>
<link href="/_upload/tpl/00/7e/126/template126/css/base.css" rel="stylesheet">
<link href="/_upload/tpl/00/7e/126/template126/css/media.css" rel="stylesheet">
<script type="text/javascript" src="/_upload/tpl/00/7e/126/template126/extends/extends.js"></script>
<!--[if lt IE 9]>
	<script src="/_upload/tpl/00/7e/126/template126/extends/libs/html5.js"></script>
	<link href="/_upload/tpl/00/7e/126/template126/css/ie.css" rel="stylesheet">
<![endif]-->

<!--[if lt IE 7]>
	<script src="/_upload/tpl/00/7e/126/template126/extends/libs/pngfix.js"></script>
	<script type="text/javascript">
		DD_belatedPNG.fix('.site-logo,.search-submit')
	</script>
<![endif]-->
</head>

<body class="wp-main-page">
<header class="wp-wrapper wp-header">
  <div class="wp-inner clearfix"> 
    <!--副导航开始-->
    <div class="wp-panel top-nav-panel panel-4" frag="面板4">
      <div class="wp-window top-nav-window window-4" frag="窗口4">
         
          
          <ul class="wp-menu clearfix" data-nav-aside='{"title":"角色","index":1}'>
            
            <li class="menu-item i1"><a class="menu-link" href="http://graduate.nku.cn/admissions/" target="_self">旧版网站</a></li>
            
            <li class="menu-item i2"><a class="menu-link" href="webplus3.nankai.edu.cn" target="_self">管理员登录</a></li>
            
            <li class="menu-item i3"><a class="menu-link" href="javascript:window.external.AddFavorite('/main.htm','南开大学研究生招生网')" target="_self">收藏本站</a></li>
            
          </ul>
           
        
      </div>
    </div>
    <!--//副导航结束--> 
  </div>
</header>
<!--头部开始-->

<header class="wp-wrapper1 wp-header">
  <div class="wp-inner clearfix"> 
    
    <!--logo开始-->
    <div class="wp-panel logo-panel panel-1" frag="面板1"> <a class="navi-aside-toggle"></a>
      <div class="wp-window logo-window window-1" frag="窗口1" portletmode="simpleSiteAttri">
        <a class="site-url" href="/main.htm"><img src="/_upload/tpl/00/7e/126/template126/images/logo.png" width="400"></a>
      </div>
    </div>
    <!--//logo结束--> 
    
    <!--语言切换开始-->
    <div class="wp-panel lang-panel panel-2" frag="面板20">
      <div class="wp-window lang-window window-2" frag="窗口20">
        
      </div>
    </div>
    <!--//语言切换结束--> 
    
    <!--搜索开始-->
    <div class="wp-panel search-panel panel-3" frag="面板30">
      <div class="wp-window search-window window-3" frag="窗口30" portletmode="search">
         <div class="wp-search clearfix">
            <form method="post" action="/_web/search/doSearch.do?locale=zh_CN&request_locale=zh_CN&_p=YXM9NTImdD0xMjYmZD00MDUmcD0xJm09U1MmYz13MzAmdj1DJg__" target="_blank">
              <div class="search-input">
                <input class="search-title" name="keyword" type="text" placeholder="Search...">
              </div>
              <div class="search-btn">
                <input class="search-submit" name="submit" type="submit" value="">
              </div>
            </form>
          </div>
      </div>
    </div>
    <!--//搜索结束--> 
    
  </div>
</header>
<!--//头部结束--> 
<!--导航开始-->
<nav class="wp-wrapper wp-navi">
  <div class="wp-inner clearfix">
    <div class="wp-panel main-nav-panel panel-5" frag="面板5">
      <div class="wp-window main-nav-window window-5" frag="窗口5">
        
          <div class="navi-slide-head">
            <h3 class="navi-slide-title">导航</h3>
            <a class="navi-slide-arrow"></a> </div>
          
          <ul class="wp-menu clearfix" data-nav-aside='{"title":"导航","index":0}'>
            
            <li class="menu-item i1"><a class="menu-link" href="/main.htm" target="_blank">首页</a> 
               
            </li>
            
            <li class="menu-item i2"><a class="menu-link" href="/5509/list.htm" target="_self">硕士招生（双证全日制）</a> 
               
            </li>
            
            <li class="menu-item i3"><a class="menu-link" href="/2552/list.htm" target="_self">博士招生</a> 
               
            </li>
            
            <li class="menu-item i4"><a class="menu-link" href="/2553/list.htm" target="_self">港澳台研究生招生</a> 
               
            </li>
            
            <li class="menu-item i5"><a class="menu-link" href="/2554/list.htm" target="_self">留学研究生招生</a> 
               
            </li>
            
            <li class="menu-item i6"><a class="menu-link" href="/5510/list.htm" target="_self">硕士招生（双证非全日制）</a> 
               
            </li>
            
            <li class="menu-item i7"><a class="menu-link" href="/2556/list.htm" target="_self">同等学力</a> 
               
            </li>
            
            <li class="menu-item i8"><a class="menu-link" href="/2557/list.htm" target="_self">联系我们</a> 
               
            </li>
            
          </ul>
           
        
      </div>
    </div>
  </div>
</nav>

<!--aside导航-->
<div class="wp-navi-aside" id="wp-navi-aside">
  <div class="aside-inner">
    <div class="navi-aside-wrap"></div>
  </div>
  <div class="navi-aside-mask"></div>
</div>
<!--//导航结束--> 
<!--大图开始-->
<div class="wp-wrapper2 wp-focus">
  <div class="wp-inner">
    <div class="wp-panel fcous-panel panel-6" frag="面板6">
      <div class="wp-window focus-window window-6" frag="窗口6">
        <div id="wp_news_w6"> 

          <div class="focus" data-focus> 
             
            <img src="/_upload/article/df/57/3e886a184b37ad3b36b61fbc4d41/64741bd7-8031-4e7d-aac7-041c9acc6aae.gif" data-focus-title="<a href='/2014/1125/c2630a13521/page.htm' target='_blank' title='大图切换'>大图切换</a>" data-focus-url="/2014/1125/c2630a13521/page.htm"> 
             
            <img src="/_upload/article/fc/cf/1b6e48c84c77a023cfff7224eac3/aca4b350-8efd-47f4-a9d9-e78944f9b9f2.jpg" data-focus-title="<a href='/2014/1125/c2630a13519/page.htm' target='_blank' title='大图切换'>大图切换</a>" data-focus-url="/2014/1125/c2630a13519/page.htm"> 
             
            <img src="/_upload/article/99/98/a475af3348e981ac412a6361ad89/ff0a27bb-dd90-4547-83cf-a0a9c3f4ef51.jpg" data-focus-title="<a href='/2014/1124/c2630a11788/page.htm' target='_blank' title='大图切换'>大图切换</a>" data-focus-url="/2014/1124/c2630a11788/page.htm"> 
             
          </div>
        </div> 

      </div>
    </div>
  </div>
</div>
<!--//大图结束--> 
<!--主体开始-->
<div class="wp-wrapper2 wp-container">
  <div class="wp-inner">
    <div class="wp-inner-main  clearfix">
      <div class="content clearfix">
        <div class="cbox-left">
          <div class="mod mod1">
            <div class="ml">
              <div class="main11">学历教育招生（双证全日制）</div>
              <div class="post11">
                <div class="tt">
                  <h3 class="tit"><span class="title"><span>报考指南</span></span></h3>
                </div>
                <div class="sudy-tab more_shell">
                  <ul class="tab-menu">
                    <li>硕士</li>
                    <li>博士</li>
                    <li>港澳台研究生</li>
                    <li>留学生</li>
                  </ul>
                  <ul class="tab-list">
                    <li>
                      <div frag="面板51">
                        <div frag="窗口51">
                          <div class="con52">
                            <div id="wp_nav_w51"> 

 
<ul class="wp_nav" data-nav-config="{vertical: {active: '1', col: '2' }, drop_v: 'down', drop_w: 'right', dir: 'y', opacity_main: '-1', opacity_sub: '-1', dWidth: '0'}">
      
     <li class="nav-item i1 "> 
         <a href="/2582/list.htm" title="招生简章" target="_self"><span class="item-name">招生简章</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i2 "> 
         <a href="/2583/list.htm" title="推荐免试" target="_self"><span class="item-name">推荐免试</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i3 "> 
         <a href="/2584/list.htm" title="夏令营" target="_self"><span class="item-name">夏令营</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i4 "> 
         <a href="/2585/list.htm" title="招生目录" target="_self"><span class="item-name">招生目录</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i5 "> 
         <a href="/2587/list.htm" title="初试复试" target="_self"><span class="item-name">初试复试</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i6 "> 
         <a href="/2973/list.htm" title="报名" target="_self"><span class="item-name">报名</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i7 "> 
         <a href="/2974/list.htm" title="录取" target="_self"><span class="item-name">录取</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i8 "> 
         <a href="/2975/list.htm" title="调剂" target="_self"><span class="item-name">调剂</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i9 "> 
         <a href="/2976/list.htm" title="骨干计划" target="_self"><span class="item-name">骨干计划</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i10 "> 
         <a href="/jztx/list.htm" title="奖助体系" target="_self"><span class="item-name">奖助体系</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i11 "> 
         <a href="/sfbz/list.htm" title="收费标准" target="_self"><span class="item-name">收费标准</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i12 "> 
         <a href="/2977/list.htm" title="其他" target="_self"><span class="item-name">其他</span></a><i class="mark"></i> 
          
     </li> 
      
</ul> 
 
 
 </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div frag="面板52">
                        <div frag="窗口52">
                          <div class="con52">
                            <div id="wp_nav_w52"> 

 
<ul class="wp_nav" data-nav-config="{vertical: {active: '1', col: '2' }, drop_v: 'down', drop_w: 'right', dir: 'y', opacity_main: '-1', opacity_sub: '-1', dWidth: '0'}">
      
     <li class="nav-item i1 "> 
         <a href="/2962/list.htm" title="招生简章" target="_self"><span class="item-name">招生简章</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i2 "> 
         <a href="/2967/list.htm" title="招生目录" target="_self"><span class="item-name">招生目录</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i3 "> 
         <a href="/sqkhz_3425/list.htm" title="申请考核制" target="_self"><span class="item-name">申请考核制</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i4 "> 
         <a href="/2968/list.htm" title="成绩查询" target="_self"><span class="item-name">成绩查询</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i5 "> 
         <a href="/2969/list.htm" title="分数线" target="_self"><span class="item-name">分数线</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i6 "> 
         <a href="/2970/list.htm" title="复试" target="_self"><span class="item-name">复试</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i7 "> 
         <a href="/2971/list.htm" title="专项计划" target="_self"><span class="item-name">专项计划</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i8 "> 
         <a href="/xsbd/list.htm" title="表格下载" target="_self"><span class="item-name">表格下载</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i9 "> 
         <a href="/sfbz_3630/list.htm" title="收费标准" target="_self"><span class="item-name">收费标准</span></a><i class="mark"></i> 
          
     </li> 
      
</ul> 
 
 
 </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div frag="面板53">
                        <div frag="窗口53">
                          <div class="con52">
                            <div id="wp_nav_w53"> 

 
<ul class="wp_nav" data-nav-config="{vertical: {active: '1', col: '2' }, drop_v: 'down', drop_w: 'right', dir: 'y', opacity_main: '-1', opacity_sub: '-1', dWidth: '0'}">
      
     <li class="nav-item i1 "> 
         <a href="/2606/list.htm" title="招生简章" target="_self"><span class="item-name">招生简章</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i2 "> 
         <a href="/zszyml/list.htm" title="招生专业目录" target="_self"><span class="item-name">招生专业目录</span></a><i class="mark"></i> 
          
     </li> 
      
</ul> 
 
 
 </div>
                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div frag="面板54">
                        <div frag="窗口54">
                          <div class="con52">
                            <div id="wp_nav_w54"> 

 
<ul class="wp_nav" data-nav-config="{vertical: {active: '1', col: '2' }, drop_v: 'down', drop_w: 'right', dir: 'y', opacity_main: '-1', opacity_sub: '-1', dWidth: '0'}">
      
     <li class="nav-item i1 "> 
         <a href="/2618/list.htm" title="招生简章" target="_self"><span class="item-name">招生简章</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i2 "> 
         <a href="/zszyml_3034/list.htm" title="招生专业目录" target="_self"><span class="item-name">招生专业目录</span></a><i class="mark"></i> 
          
     </li> 
      
</ul> 
 
 
 </div>
                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="post11 post71">
                <div class="tt">
                  <h3 class="tit"><span class="title"><span>网上系统</span></span></h3>
                </div>
                <div class="sudy-tab more_shell">
                  <ul class="tab-menu">
                    <li>硕士</li>
                    <li>博士</li>
                  </ul>
                  <ul class="tab-list">
                    <li>
                      <div frag="面板71">
                        <div frag="窗口71">
                          <div class="con71">
                            <div id="wp_news_w71"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='/_redirect?siteId=52&columnId=2983&articleId=13221' target='_blank' title='硕士推免网报系统'>硕士推免网报系统</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i2"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>2</span> 
             <span class='Article_Title'><a href='/2014/1125/c2983a11834/page.htm' target='_blank' title='硕士网上报名系统'>硕士网上报名系统</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i3"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>3</span> 
             <span class='Article_Title'><a href='#' target='_blank' title='硕士准考证打印系统'>硕士准考证打印系统</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i4"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>4</span> 
             <span class='Article_Title'><a href='http://yzxt.nankai.edu.cn/intern/frontend/web/gsgradequery/index' target='_blank' title='硕士成绩查询系统'>硕士成绩查询系统</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i5"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>5</span> 
             <span class='Article_Title'><a href='http://yzxt.nankai.edu.cn/intern/frontend/web/gs-grade-master-retest/index' target='_blank' title='硕士复试确认系统'>硕士复试确认系统</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
</ul> 
</div> 

                          </div>
                        </div>
                      </div>
                    </li>
                    <li>
                      <div frag="面板72">
                        <div frag="窗口72">
                          <div class="con71">
                            <div id="wp_news_w72"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='http://yz.chsi.com.cn/bsbm' target='_blank' title='博士网上报名系统'>博士网上报名系统</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i2"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>2</span> 
             <span class='Article_Title'><a href='http://yzxt.nankai.edu.cn/intern/frontend/web/gs-doctor-grade-query/index' target='_blank' title='博士成绩查询系统'>博士成绩查询系统</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i3"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>3</span> 
             <span class='Article_Title'><a href='/2014/1125/c2984a11837/page.htm' target='_blank' title='博士准考证打印系统'>博士准考证打印系统</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i4"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>4</span> 
             <span class='Article_Title'><a href='http://yzxt.nankai.edu.cn/intern/frontend/web/gs-grade-doctor-retest/index' target='_blank' title='博士复试确认系统'>博士复试确认系统</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
</ul> 
</div> 

                          </div>
                        </div>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
              <div frag="面板73">
      	<div class="post11 post73" frag="窗口73">
        	<div class="tt">
          	<h3 class="tit"><span class="title"><span>信息查询</span></span></h3>
          </div>
          <div class="con51">
            <div id="wp_nav_w73"> 

 
<ul class="wp_nav" data-nav-config="{vertical: {active: '1', col: '2' }, drop_v: 'down', drop_w: 'right', dir: 'y', opacity_main: '-1', opacity_sub: '-1', dWidth: '0'}">
      
     <li class="nav-item i1 "> 
         <a href="/2573/list.htm" title="热点问答" target="_self"><span class="item-name">热点问答</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i2 "> 
         <a href="/2574/list.htm" title="分数线" target="_self"><span class="item-name">分数线</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i3 "> 
         <a href="/2575/list.htm" title="历年录取情况" target="_self"><span class="item-name">历年录取情况</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i4 "> 
         <a href="/2576/list.htm" title="导师信息" target="_self"><span class="item-name">导师信息</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i5 "> 
         <a href="/dsft/list.htm" title="导师访谈" target="_self"><span class="item-name">导师访谈</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i6 "> 
         <a href="/2577/list.htm" title="各学院联系方式" target="_self"><span class="item-name">各学院联系方式</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i7 "> 
         <a href="/nkdxdt/list.htm" title="南开大学地图" target="_self"><span class="item-name">南开大学地图</span></a><i class="mark"></i> 
          
     </li> 
      
</ul> 
 
 
 </div>
           </div>
        </div>  
      </div>
      <div class="main11">学历教育招生（双证非全日制）</div>
      
      <div frag="面板83">
      	<div class="post11 post73" frag="窗口83">
        	<div class="tt">
          	<h3 class="tit"><span class="title"><span>最新信息</span></span></h3>
          </div>
          <div class="con51">
            <div id="wp_news_w83"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='/2019/0306/c5413a120299/page.htm' target='_blank' title='2019年各学院非全日制硕士招生复试相关信息汇总（持续更新）'>2019年各学院非全日制硕士...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i2"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>2</span> 
             <span class='Article_Title'><a href='http://yzb.nankai.edu.cn/2019/0307/c5508a120352/page.htm' target='_blank' title='南开大学2019年硕士研究生复试网上确认系统开通'>南开大学2019年硕士研究生...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i3"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>3</span> 
             <span class='Article_Title'><a href='/2019/0304/c5413a120162/page.htm' target='_blank' title='2019年硕士研究生入学考试符合教育部加分或照顾政策考生申请方式说明（非全日制）'>2019年硕士研究生入学考试...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i4"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>4</span> 
             <span class='Article_Title'><a href='/2019/0304/c5413a120160/page.htm' target='_blank' title='2019年报考南开大学非全日制硕士研究生部分考生需要学历（或学籍）认证的通知'>2019年报考南开大学非全日...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i5"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>5</span> 
             <span class='Article_Title'><a href='/2019/0304/c5413a120158/page.htm' target='_blank' title='南开大学2019年非全日制硕士专业学位研究生复试办法'>南开大学2019年非全日制硕...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
</ul> 
</div> 

           </div>
        </div>  
      </div>
      
              <div class="main11">同等学力</div>
              <div frag="面板74">
      	<div class="post11" frag="窗口100">
        	<div class="tt">
          	<h3 class="tit"><span class="title" frag="标题" title="最新信息">          最新信息</span></h3>
          </div>
          <div class="con51">
            <div id="wp_news_w100"> 
              
            <ul class="news_list74">
              
                <li class="news n1 clearfix"><span class="news_title"><a href='/_redirect?siteId=52&columnId=2578&articleId=90455' target='_blank' title='转发：关于做好2018年同等学力人员申请硕士学位外国语水平和学科综合水平全国统一考试工作的通知'>转发：关于做好2018年同等...</a></span></li>
              
                <li class="news n2 clearfix"><span class="news_title"><a href='/2018/0119/c2578a89173/page.htm' target='_blank' title='2018年同等学力全国统考将于5月20日举行'>2018年同等学力全国统考将...</a></span></li>
              
                <li class="news n3 clearfix"><span class="news_title"><a href='/2017/1027/c2578a76350/page.htm' target='_blank' title='2017-18年度全国同等学力申请硕士学位管理工作信息平台天津及周边地区现场确认工作安排'>2017-18年度全国同等学力...</a></span></li>
              
                <li class="news n4 clearfix"><span class="news_title"><a href='/2017/0427/c2578a65692/page.htm' target='_blank' title='2017年举办课程研修班信息汇总'>2017年举办课程研修班信息...</a></span></li>
              
                <li class="news n5 clearfix"><span class="news_title"><a href='/2017/0302/c2578a57451/page.htm' target='_blank' title='关于2017年同等学力申硕考试报名的几点说明'>关于2017年同等学力申硕考...</a></span></li>
              
              </ul> </div> 

           </div>
        </div>  
      </div>
      <div frag="面板75">
      	<div class="post11 post71" frag="窗口75">
        	<div class="tt">
          	<h3 class="tit"><span class="title" frag="标题">网上系统</span></h3>
          </div>
          <div class="con51">
            <div id="wp_news_w75"> 
              
            <ul class="news_list74">
              
                <li class="news n1 clearfix"><span class="news_title"><a href='http://www.chinadegrees.cn/zzlk/index.html' target='_blank' title='在职人员攻读硕士学位全国联考'>在职人员攻读硕士学位全国联考</a></span></li>
              
                <li class="news n2 clearfix"><span class="news_title"><a href='/2014/1125/c2579a11841/page.htm' target='_blank' title='全国同等学力人员申请硕士学位'>全国同等学力人员申请硕士学位</a></span></li>
              
              </ul> </div> 

           </div>
        </div>  
      </div>
            </div>
          </div>
        </div>
        <div class="cbox-right">
          <div class="mc">
    	<div frag="面板41">
      	<div class="post12 mbox" frag="窗口41">
        	<div class="tt">
          	<h3 class="tit"><span class="title" frag="标题">硕士最新消息（双证全日制）</span></h3>
            <div class="more_btn" frag="按钮" type="更多"><a href="/5508/list.htm" class="w41_more"><font style='color: #6c6c6c;font-family: 宋体;font-size: 10;'>查看更多</font></a></div>
          </div>
          <div class="con">
            <div id="wp_news_w41"> 

              <ul class="news_list">
              
                <li class="news n1 clearfix"><span class="news_title"><a href='/2019/0305/c5508a120217/page.htm' target='_blank' title='2019年各学院全日制硕士招生复试相关信息汇总（持续更新）'>2019年各学院全日制硕士招生复试相关信息汇...</a></span><span class="news_meta post_time">2019-03-05</span></li>
              
                <li class="news n2 clearfix"><span class="news_title"><a href='/2019/0307/c5508a120352/page.htm' target='_blank' title='南开大学2019年硕士研究生复试网上确认系统开通'>南开大学2019年硕士研究生复试网上确认系统...</a></span><span class="news_meta post_time">2019-03-07</span></li>
              
                <li class="news n3 clearfix"><span class="news_title"><a href='/2019/0304/c5508a120153/page.htm' target='_blank' title='2019年南开大学硕士研究生招生学院上调复试分数线汇总'>2019年南开大学硕士研究生招生学院上调复试...</a></span><span class="news_meta post_time">2019-03-04</span></li>
              
                <li class="news n4 clearfix"><span class="news_title"><a href='/2019/0304/c5508a120152/page.htm' target='_blank' title='2019年南开大学硕士研究生复试分数线'>2019年南开大学硕士研究生复试分数线</a></span><span class="news_meta post_time">2019-03-04</span></li>
              
              </ul> 
            </div> 

           </div>
        </div>
      </div>
          	<div frag="面板42">
      	<div class="post12 mbox" frag="窗口42">
        	<div class="tt">
          	<h3 class="tit"><span class="title" frag="标题">港澳台研究生最新信息</span></h3>
            <div class="more_btn" frag="按钮" type="更多"><a href="/2562/list.htm" class="w42_more"><font style='color: #6c6c6c;font-family: 宋体;font-size: 10;'>查看更多</font></a></div>
          </div>
          <div class="con">
            <div id="wp_news_w42"> 

              <ul class="news_list">
              
                <li class="news n1 clearfix"><span class="news_title"><a href='/2018/1122/c2562a114243/page.htm' target='_blank' title='2019年港澳台研究生招生简章'>2019年港澳台研究生招生简章</a></span><span class="news_meta post_time">2018-11-22</span></li>
              
                <li class="news n2 clearfix"><span class="news_title"><a href='/2018/1119/c2562a113926/page.htm' target='_blank' title='2019年港澳台博士研究生招生专业目录'>2019年港澳台博士研究生招生专业目录</a></span><span class="news_meta post_time">2018-11-19</span></li>
              
              </ul> 
            </div> 

           </div>
        </div>
      </div>
          	<div frag="面板43">
      	<div class="post12 mbox" frag="窗口43">
        	<div class="tt">
          	<h3 class="tit"><span class="title" frag="标题">学历教育招生（双证非全日制）</span></h3>
            <div class="more_btn" frag="按钮" type="更多"><a href="/xljyzswszfqrzw/list.htm" class="w43_more"><font style='color: #6c6c6c;font-family: 宋体;font-size: 10;'>查看更多</font></a></div>
          </div>
          <div class="con">
            <div id="wp_news_w43"> 

              <ul class="news_list">
              
                <li class="news n1 clearfix"><span class="news_title"><a href='/2019/0306/c5412a120299/page.htm' target='_blank' title='2019年各学院非全日制硕士招生复试相关信息汇总（持续更新）'>2019年各学院非全日制硕士招生复试相关信息...</a></span><span class="news_meta post_time">2019-03-06</span></li>
              
                <li class="news n2 clearfix"><span class="news_title"><a href='http://yzb.nankai.edu.cn/2019/0307/c5508a120352/page.htm' target='_blank' title='南开大学2019年硕士研究生复试网上确认系统开通'>南开大学2019年硕士研究生复试网上确认系统...</a></span><span class="news_meta post_time">2019-03-08</span></li>
              
                <li class="news n3 clearfix"><span class="news_title"><a href='/2019/0304/c5412a120162/page.htm' target='_blank' title='2019年硕士研究生入学考试符合教育部加分或照顾政策考生申请方式说明（非全日制）'>2019年硕士研究生入学考试符合教育部加分或...</a></span><span class="news_meta post_time">2019-03-04</span></li>
              
                <li class="news n4 clearfix"><span class="news_title"><a href='/2019/0304/c5412a120160/page.htm' target='_blank' title='2019年报考南开大学非全日制硕士研究生部分考生需要学历（或学籍）认证的通知'>2019年报考南开大学非全日制硕士研究生部分...</a></span><span class="news_meta post_time">2019-03-04</span></li>
              
              </ul> 
            </div> 

           </div>
        </div>
      </div>
      </div>
        </div>
      </div>
      <div class="sidebar">
        <div class="mr">
      <div frag="面板44">
      	<div class="post12 mbox" frag="窗口44">
        	<div class="tt">
          	<h3 class="tit"><span class="title" frag="标题">博士最新消息</span></h3>
            <div class="more_btn" frag="按钮" type="更多"><a href="/2561/list.htm" class="w44_more"><font style='color: #6c6c6c;font-family: 宋体;font-size: 10;'>查看更多</font></a></div>
          </div>
          <div class="con">
            <div id="wp_news_w44"> 

              <ul class="news_list">
              
                <li class="news n1 clearfix"><span class="news_title"><a href='/2019/0307/c2561a120342/page.htm' target='_blank' title='药学院2019年博士研究生“申请考核制”招生选拔实施细则'>药学院2019年博士研究生“申请考核制”招生...</a></span><span class="news_meta post_time">2019-03-07</span></li>
              
                <li class="news n2 clearfix"><span class="news_title"><a href='/2019/0228/c2561a119931/page.htm' target='_blank' title='2019年部分学院二次申请考核制博士网上报名相关通知'>2019年部分学院二次申请考核制博士网上报名...</a></span><span class="news_meta post_time">2019-02-28</span></li>
              
                <li class="news n3 clearfix"><span class="news_title"><a href='/2019/0117/c2561a118495/page.htm' target='_blank' title='2019年博士研究生入学考试初试英语题型'>2019年博士研究生入学考试初试英语题型</a></span><span class="news_meta post_time">2019-01-17</span></li>
              
                <li class="news n4 clearfix"><span class="news_title"><a href='/2018/1204/c2561a115974/page.htm' target='_blank' title='2019年普通招考博士研究生网上报名相关通知'>2019年普通招考博士研究生网上报名相关通知</a></span><span class="news_meta post_time">2018-12-04</span></li>
              
              </ul> 
            </div> 

           </div>
           </div>
        </div>  
              <div frag="面板45">
      	<div class="post12 mbox" frag="窗口45">
        	<div class="tt">
          	<h3 class="tit"><span class="title" frag="标题">留学研究生最新信息</span></h3>
            <div class="more_btn" frag="按钮" type="更多"><a href="/2563/list.htm" class="w45_more"><font style='color: #6c6c6c;font-family: 宋体;font-size: 10;'>查看更多</font></a></div>
          </div>
          <div class="con">
            <div id="wp_news_w45"> 

              <ul class="news_list">
              
                <li class="news n1 clearfix"><span class="news_title"><a href='/_upload/article/files/c4/01/971ea22047adbbb2bb041f35d91d/5b3502e5-295c-40d2-988e-a59b199e25fb.docx' target='_blank' title='2019年南开大学外国来华留学生研究生招生简章'>2019年南开大学外国来华留学生研究生招生简...</a></span><span class="news_meta post_time">2019-02-20</span></li>
              
                <li class="news n2 clearfix"><span class="news_title"><a href='/2018/1030/c2563a112233/page.htm' target='_blank' title='2019年博士留学研究生招生专业目录'>2019年博士留学研究生招生专业目录</a></span><span class="news_meta post_time">2018-10-30</span></li>
              
              </ul> 
            </div> 

           </div>
           </div>
        </div> 
              <div frag="面板46">
      	<div class="post12 mbox" frag="窗口46">
        	<div class="tt">
          	<h3 class="tit"><span class="title" frag="标题" title="同等学力">  同等学力</span></h3>
            <div class="more_btn" frag="按钮" type="更多"><a href="/2578/list.htm" class="w46_more"><font style='color: #6c6c6c;font-family: 宋体;font-size: 10;'>查看更多</font></a></div>
          </div>
          <div class="con">
            <div id="wp_news_w46"> 

              <ul class="news_list">
              
                <li class="news n1 clearfix"><span class="news_title"><a href='/_redirect?siteId=52&columnId=2578&articleId=90455' target='_blank' title='转发：关于做好2018年同等学力人员申请硕士学位外国语水平和学科综合水平全国统一考试工作的通知'>转发：关于做好2018年同等学力人员申请硕士...</a></span><span class="news_meta post_time">2018-02-25</span></li>
              
                <li class="news n2 clearfix"><span class="news_title"><a href='/2018/0119/c2578a89173/page.htm' target='_blank' title='2018年同等学力全国统考将于5月20日举行'>2018年同等学力全国统考将于5月20日举行</a></span><span class="news_meta post_time">2018-01-19</span></li>
              
                <li class="news n3 clearfix"><span class="news_title"><a href='/2017/1027/c2578a76350/page.htm' target='_blank' title='2017-18年度全国同等学力申请硕士学位管理工作信息平台天津及周边地区现场确认工作安排'>2017-18年度全国同等学力申请硕士学位管理...</a></span><span class="news_meta post_time">2017-10-27</span></li>
              
                <li class="news n4 clearfix"><span class="news_title"><a href='/2017/0427/c2578a65692/page.htm' target='_blank' title='2017年举办课程研修班信息汇总'>2017年举办课程研修班信息汇总</a></span><span class="news_meta post_time">2017-04-27</span></li>
              
              </ul> 
            </div> 

           </div>
           </div>
        </div> 
      </div>
      </div>
    </div>
  </div>
</div>
<!--//主体结束-->
<footer class="wrapper" id="footer">
	<div class="inner">
    <div frag="面板97">
<p>天津市卫津路94号（300071)&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;您是来自<script language="JavaScript" _ue_org_tagname="script"><!--
														calendar = new Date();
														day = calendar.getDay();
														month = calendar.getMonth();
														date = calendar.getDate();
														year = calendar.getYear();
														if (year< 200) year = 1900 + year;
														cent = parseInt(year/100);
														g = year % 19;
														k = parseInt((cent - 17)/25);
														i = (cent - parseInt(cent/4) - parseInt((cent - k)/3) + 19*g + 15) % 30;
														i = i - parseInt(i/28)*(1 - parseInt(i/28)*parseInt(29/(i+1))*parseInt((21-g)/11));
														j = (year + parseInt(year/4) + i + 2 - cent + parseInt(cent/4)) % 7;
														l = i - j;
														emonth = 3 + parseInt((l + 40)/44);
														edate = l + 28 - 31*parseInt((emonth/4));
														emonth--;
														
														var dayname = new Array ("星期日", "星期一", "星期二", "星期三", "星期四", "星期五", "星期六");
														var monthname =
														new Array ("1月","2月","3月","4月","5月","6月","7月","8月","9月","10月","11月","12月" );
														document.write("<font color=ffffff>"+year +"年");
														document.write(monthname[month]);
														document.write(date + "日");
														document.write(dayname[day]+" "+"</font>");
														//--></script>的第
      <span frag="窗口97"><img border="0" src="/_visitcountdisplay?siteId=52&type=1&dispMode=2&statMode=1" /></span>
      位访客
      </p>
      <p>Copyright 2014 &copy; Nankai University. All rights reserved</p>
      </div>
  </div>
</footer>
</body>
<script type="text/javascript" src="/_upload/tpl/00/7e/126/template126/js/app.js"></script>
<script type="text/javascript">
$(function(){
	$(".sudy-tab").sudyTab({
handle:".tab-menu>li",      // 控制器元素，默认为.tab-menu li
content:".tab-list>li",     // 内容体，可以有多个并以英文逗号隔开，如.tab-list li,.tab-more li,默认值为".tab-list li,.tab-more li"
trigger:"mouseenter",       // 触发事件，默认为"mouseenter"鼠标经过
start:1,                    // 开始项，默认为第一个
autoPlay:{
active:false,            // 是否激活自动切换
interval:5000,      // 自动切换时间间隔
pauseHover:true     // 是否鼠标放上面时停止自动
}
});
	// 初始化SDAPP
	new SDAPP({
		'focus':{
			zWidth:1000,
			zHeight:300
		},
		"menu":{
			type:"aside,slide"
		}
	});
});
</script>
</html>

 <image src="/_visitcount?siteId=52&type=1&columnId=2548" style="display:none" width="0" height="0"></image>