<base href="http://std.nankai.edu.cn/889/list.htm"><!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>科研基地</title>

<link type="text/css" href="/_css/_system/system.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/1/style/6/6.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/00/1e/30/style/40/40.css" rel="stylesheet"/>
<link type="text/css" href="/_js/_portletPlugs/simpleNews/css/simplenews.css" rel="stylesheet" />
<link type="text/css" href="/_js/_portletPlugs/sudyNavi/css/sudyNav.css" rel="stylesheet" />

<script language="javascript" src="/_js/sudy-jquery-autoload.js" jquery-src="/_js/jquery-1.x.min.js" sudy-wp-context="" sudy-wp-siteId="30"></script>
<script language="javascript" src="/_js/jquery-migrate.min.js"></script>
<script language="javascript" src="/_js/jquery.sudy.wp.visitcount.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/sudyNavi/jquery.sudyNav.js"></script>
<link href="/_upload/tpl/00/1c/28/template28/style.css" rel="stylesheet" type="text/css">
<style type="text/css">

body {
	background-color: #f3f3f3;
	background-image: url(/_upload/tpl/00/1c/28/template28/images/main-bg.jpg);
	background-repeat: repeat-x;
}


</style>
</head>
<body>
<div id="container_page">
  <div id="head">
    <table width="910" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="5" background="/_upload/tpl/00/1c/28/template28/images/main-shadow-l.jpg"></td>
        <td><img src="/_upload/tpl/00/1c/28/template28/images/banner.jpg" width="900" height="146"></td>
        <td width="5" background="/_upload/tpl/00/1c/28/template28/images/main-shadow-r.jpg"></td>
      </tr>
    </table>
  </div>
  <div id="nav">
    <table width="910" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="5" height="35" align="left" background="/_upload/tpl/00/1c/28/template28/images/main-shadow-l.jpg"></td>
        <td align="left" bgcolor="#575757"><table border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td>
<div frag="面板1"> 
<div frag="窗口1"> 

<style type="text/css"> 
#wp_nav_w1 .wp_nav { margin:0 auto;}
#wp_nav_w1 .wp_nav .nav-item{float:none;}
#wp_nav_w1 .wp_nav .on {}
#wp_nav_w1 .wp_nav .nav-item .mark { font-style:normal;}
#wp_nav_w1 .wp_nav .nav-item a{  font-family:inherit; text-align:left;}
#wp_nav_w1 .wp_nav .nav-item a:hover,.wp_nav .nav-item .parent{}
#wp_nav_w1 .wp_nav .nav-item a .item-name { display:inline-block;vertical-align:top; cursor:pointer;}
#wp_nav_w1 .wp_nav .sub-nav { border:1px solid #959595;line-height: 1;background: #e1e1e1;padding:1px 0px; margin-top:-2px;}
#wp_nav_w1 .wp_nav .sub-nav .nav-item .mark {background:#f5f5f5;}
#wp_nav_w1 .wp_nav .sub-nav .nav-item a {background: #e1e1e1;}
#wp_nav_w1 .wp_nav .sub-nav .nav-item a .item-name { border:1px solid #959595; margin:0px 2px 1px 2px;padding:0px 10px; line-height:20px;display:block;}
#wp_nav_w1 .wp_nav .sub-nav .nav-item a:hover .item-name,.wp_nav .sub-nav .nav-item a.parent .item-name{background:#f5f5f5; border-color: #ccc;}

</style> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wp_nav" data-nav-config="{drop_v: 'down', drop_w: 'right', dir: 'y', opacity_main: '1', opacity_sub: '0.8', dWidth: '0'}"> 
<tr> 
<td> 
 
<table border="0" cellpadding="0" cellspacing="0" >
          <tr>
            <td width="1"><img src="/_upload/tpl/00/1c/28/template28/images/nav-s.jpg" width="1" height="35"></td>
            <td width="14"></td>
            <td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="wlink"><a href="/main.htm" title="首  页" class="wlink" target="_self">首  页</a></div> 
          
</div> 
</td>
            <td width="14"></td>
          </tr>
        </table></td> 
<td> 
 
<table border="0" cellpadding="0" cellspacing="0" >
          <tr>
            <td width="1"><img src="/_upload/tpl/00/1c/28/template28/images/nav-s.jpg" width="1" height="35"></td>
            <td width="14"></td>
            <td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="wlink"><a href="/879/list.htm" title="机构设置" class="wlink" target="_self">机构设置</a></div> 
          
</div> 
</td>
            <td width="14"></td>
          </tr>
        </table></td> 
<td> 
 
<table border="0" cellpadding="0" cellspacing="0" >
          <tr>
            <td width="1"><img src="/_upload/tpl/00/1c/28/template28/images/nav-s.jpg" width="1" height="35"></td>
            <td width="14"></td>
            <td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="wlink"><a href="/929/list.htm" title="成果奖励" class="wlink" target="_self">成果奖励</a></div> 
          
</div> 
</td>
            <td width="14"></td>
          </tr>
        </table></td> 
<td> 
 
<table border="0" cellpadding="0" cellspacing="0" >
          <tr>
            <td width="1"><img src="/_upload/tpl/00/1c/28/template28/images/nav-s.jpg" width="1" height="35"></td>
            <td width="14"></td>
            <td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="wlink"><a href="/964/list.htm" title="知识产权" class="wlink" target="_self">知识产权</a></div> 
          
</div> 
</td>
            <td width="14"></td>
          </tr>
        </table></td> 
<td> 
 
<table border="0" cellpadding="0" cellspacing="0" >
          <tr>
            <td width="1"><img src="/_upload/tpl/00/1c/28/template28/images/nav-s.jpg" width="1" height="35"></td>
            <td width="14"></td>
            <td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="wlink"><a href="/886/list.htm" title="科研基地" class="wlink" target="_self">科研基地</a></div> 
          
</div> 
</td>
            <td width="14"></td>
          </tr>
        </table></td> 
<td> 
 
<table border="0" cellpadding="0" cellspacing="0" >
          <tr>
            <td width="1"><img src="/_upload/tpl/00/1c/28/template28/images/nav-s.jpg" width="1" height="35"></td>
            <td width="14"></td>
            <td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="wlink"><a href="/891/list.htm" title="科技项目" class="wlink" target="_self">科技项目</a></div> 
          
</div> 
</td>
            <td width="14"></td>
          </tr>
        </table></td> 
<td> 
 
<table border="0" cellpadding="0" cellspacing="0" >
          <tr>
            <td width="1"><img src="/_upload/tpl/00/1c/28/template28/images/nav-s.jpg" width="1" height="35"></td>
            <td width="14"></td>
            <td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="wlink"><a href="/xfjs/list.htm" title="学风建设" class="wlink" target="_self">学风建设</a></div> 
          
</div> 
</td>
            <td width="14"></td>
          </tr>
        </table></td> 
<td> 
 
<table border="0" cellpadding="0" cellspacing="0" >
          <tr>
            <td width="1"><img src="/_upload/tpl/00/1c/28/template28/images/nav-s.jpg" width="1" height="35"></td>
            <td width="14"></td>
            <td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="wlink"><a href="/985/list.htm" title="科技合作" class="wlink" target="_self">科技合作</a></div> 
          
</div> 
</td>
            <td width="14"></td>
          </tr>
        </table></td> 
<td> 
 
<table border="0" cellpadding="0" cellspacing="0" >
          <tr>
            <td width="1"><img src="/_upload/tpl/00/1c/28/template28/images/nav-s.jpg" width="1" height="35"></td>
            <td width="14"></td>
            <td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="wlink"><a href="/999/list.htm" title="常用下载" class="wlink" target="_self">常用下载</a></div> 
          
</div> 
</td>
            <td width="14"></td>
          </tr>
        </table></td> 
<td> 
 
<table border="0" cellpadding="0" cellspacing="0" >
          <tr>
            <td width="1"><img src="/_upload/tpl/00/1c/28/template28/images/nav-s.jpg" width="1" height="35"></td>
            <td width="14"></td>
            <td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="wlink"><a href="/gzdt/list.htm" title="工作动态" class="wlink" target="_self">工作动态</a></div> 
          
</div> 
</td>
            <td width="14"></td>
          </tr>
        </table></td> 
</tr> 
</table> 
</div> 
</div></td>
          </tr>
        </table></td>
        <td width="5" height="35" align="left" background="/_upload/tpl/00/1c/28/template28/images/main-shadow-r.jpg"></td>
      </tr>
    </table>
  </div>
  <div id="container_content">
  
<table width="910" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="5" background="/_upload/tpl/00/1c/28/template28/images/main-shadow-l.jpg"></td>
    <td align="left" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="12" height="400" bgcolor="#F2F7FB"></td>
        <td width="204" valign="top" bgcolor="#F2F7FB"><table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="17">&nbsp;</td>
          </tr>
        </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="8" height="33"><img src="/_upload/tpl/00/1c/28/template28/images/list-tt-l.jpg" width="8" height="33"></td>
            <td width="194" align="center" valign="middle" background="/_upload/tpl/00/1c/28/template28/images/list-tt-bg.jpg" class="biaoti4">
<span frag="面板6"> 
<span frag="窗口6" portletmode="simpleColumnAnchor"> 
<span class='Column_Anchor'>科研基地</span> 
</span> 
</span> 
</td>
            <td width="8" height="33"><img src="/_upload/tpl/00/1c/28/template28/images/list-tt-r.jpg" width="8" height="33"></td>
          </tr>
          <tr>
            <td height="10"></td>
            <td height="10"></td>
            <td height="10"></td>
          </tr>
          <tr>
            <td height="10" colspan="3">
<div frag="面板2"> 
<div frag="窗口2" portletmode="simpleColumnList"> 
 
 
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="list">
  

              <tr>
                <td width="12" height="26"></td>
                <td width="20" align="right" valign="middle" background="/_upload/tpl/00/1c/28/template28/images/list-tt-line.jpg"><img src="/_upload/tpl/00/1c/28/template28/images/list-icon.jpg" width="7" height="5"></td>
                <td width="10" align="right" valign="middle" background="/_upload/tpl/00/1c/28/template28/images/list-tt-line.jpg"></td>
                <td align="left" background="/_upload/tpl/00/1c/28/template28/images/list-tt-line.jpg" class="list"><a href="/889/list.htm" title="科研基地" class="list" target="_self">科研基地</a></td>
              </tr>
              
  

            
  

              <tr>
                <td width="12" height="26"></td>
                <td width="20" align="right" valign="middle" background="/_upload/tpl/00/1c/28/template28/images/list-tt-line.jpg"><img src="/_upload/tpl/00/1c/28/template28/images/list-icon.jpg" width="7" height="5"></td>
                <td width="10" align="right" valign="middle" background="/_upload/tpl/00/1c/28/template28/images/list-tt-line.jpg"></td>
                <td align="left" background="/_upload/tpl/00/1c/28/template28/images/list-tt-line.jpg" class="list"><a href="/cyxz/list.htm" title="资料下载" class="list" target="_self">资料下载</a></td>
              </tr>
              
  

            
  

              <tr>
                <td width="12" height="26"></td>
                <td width="20" align="right" valign="middle" background="/_upload/tpl/00/1c/28/template28/images/list-tt-line.jpg"><img src="/_upload/tpl/00/1c/28/template28/images/list-icon.jpg" width="7" height="5"></td>
                <td width="10" align="right" valign="middle" background="/_upload/tpl/00/1c/28/template28/images/list-tt-line.jpg"></td>
                <td align="left" background="/_upload/tpl/00/1c/28/template28/images/list-tt-line.jpg" class="list"><a href="/887/list.htm" title="科研基地政策文件" class="list" target="_self">科研基地政策文件</a></td>
              </tr>
              
  

            
  
</table>
  
 
</div> 
</div> 
</td>
          </tr>
        </table></td>
        <td width="12" bgcolor="#F2F7FB"></td>
        <td width="12"></td>
        <td align="left" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="7"></td>
          </tr>
        </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td height="28" align="left" valign="middle" background="/_upload/tpl/00/1c/28/template28/images/list-loc-line.jpg"><span frag="面板4"> 
<span frag="窗口4" portletmode="simpleColumnPosition" style="display: block; text-align: left;"> 
<span class='Column_Position'><a href="/main.htm" target="_self">首页</a><span class='possplit'>&nbsp;&nbsp;</span><a href="/886/list.htm" target="_self">科研基地</a><span class='possplit'>&nbsp;&nbsp;</span><a href="/889/list.htm" target="_self">科研基地</a></span></span> 
</span></td>
            </tr>
          </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td height="17"></td>
            </tr>
        </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td><table border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="17" align="center"><img src="/_upload/tpl/00/1c/28/template28/images/main-list-icon2.jpg" width="5" height="7" /></td>
                  <td align="center" nowrap="nowrap" class="biaoti2">
<span frag="面板5"> 
<span frag="窗口5" portletmode="simpleColumnName" style="display: block; text-align: left;"> 
<span class='Column_Name'>科研基地</span> 
</span> 
</span> 
</td>
                  </tr>
              </table></td>
              </tr>
          </table>
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td height="26"></td>
            </tr>
          </table>
          
<div frag="面板3"> 
<div frag="窗口3" portletmode="simpleList"> 
<div id="wp_news_w3"> 
 
<table width="615" border="0" cellpadding="0" cellspacing="0"> 

            <tr>
              <td width="8" height="24"></td>
              <td width="6" align="center" valign="middle" background="/_upload/tpl/00/1c/28/template28/images/list-info-bg.jpg"><img src="/_upload/tpl/00/1c/28/template28/images/list-dot.jpg" width="2" height="2"></td>
              <td align="left" > 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2013/0522/c889a6339/page.htm' target='_blank' title='国家重点实验室'>国家重点实验室</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2016-10-12</div></td> 
 
</tr> 
</table> 
</td>
              <td width="26"></td>
            </tr>
          
  

            <tr>
              <td width="8" height="24"></td>
              <td width="6" align="center" valign="middle" background="/_upload/tpl/00/1c/28/template28/images/list-info-bg.jpg"><img src="/_upload/tpl/00/1c/28/template28/images/list-dot.jpg" width="2" height="2"></td>
              <td align="left" > 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2013/0522/c889a6345/page.htm' target='_blank' title='国家工程中心'>国家工程中心</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2016-10-12</div></td> 
 
</tr> 
</table> 
</td>
              <td width="26"></td>
            </tr>
          
  

            <tr>
              <td width="8" height="24"></td>
              <td width="6" align="center" valign="middle" background="/_upload/tpl/00/1c/28/template28/images/list-info-bg.jpg"><img src="/_upload/tpl/00/1c/28/template28/images/list-dot.jpg" width="2" height="2"></td>
              <td align="left" > 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2013/0522/c889a6341/page.htm' target='_blank' title='教育部重点实验室'>教育部重点实验室</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2016-10-12</div></td> 
 
</tr> 
</table> 
</td>
              <td width="26"></td>
            </tr>
          
  

            <tr>
              <td width="8" height="24"></td>
              <td width="6" align="center" valign="middle" background="/_upload/tpl/00/1c/28/template28/images/list-info-bg.jpg"><img src="/_upload/tpl/00/1c/28/template28/images/list-dot.jpg" width="2" height="2"></td>
              <td align="left" > 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2013/0522/c889a6347/page.htm' target='_blank' title='教育部工程中心'>教育部工程中心</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2016-10-12</div></td> 
 
</tr> 
</table> 
</td>
              <td width="26"></td>
            </tr>
          
  

            <tr>
              <td width="8" height="24"></td>
              <td width="6" align="center" valign="middle" background="/_upload/tpl/00/1c/28/template28/images/list-info-bg.jpg"><img src="/_upload/tpl/00/1c/28/template28/images/list-dot.jpg" width="2" height="2"></td>
              <td align="left" > 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2016/1209/c889a53805/page.htm' target='_blank' title='教育部国际合作联合实验室'>教育部国际合作联合实验室</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2016-10-12</div></td> 
 
</tr> 
</table> 
</td>
              <td width="26"></td>
            </tr>
          
  

            <tr>
              <td width="8" height="24"></td>
              <td width="6" align="center" valign="middle" background="/_upload/tpl/00/1c/28/template28/images/list-info-bg.jpg"><img src="/_upload/tpl/00/1c/28/template28/images/list-dot.jpg" width="2" height="2"></td>
              <td align="left" > 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2013/0522/c889a6343/page.htm' target='_blank' title='天津市重点实验室'>天津市重点实验室</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2016-10-12</div></td> 
 
</tr> 
</table> 
</td>
              <td width="26"></td>
            </tr>
          
  

            <tr>
              <td width="8" height="24"></td>
              <td width="6" align="center" valign="middle" background="/_upload/tpl/00/1c/28/template28/images/list-info-bg.jpg"><img src="/_upload/tpl/00/1c/28/template28/images/list-dot.jpg" width="2" height="2"></td>
              <td align="left" > 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2016/1012/c889a48081/page.htm' target='_blank' title='天津市工程中心'>天津市工程中心</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2016-10-12</div></td> 
 
</tr> 
</table> 
</td>
              <td width="26"></td>
            </tr>
          
  

            <tr>
              <td width="8" height="24"></td>
              <td width="6" align="center" valign="middle" background="/_upload/tpl/00/1c/28/template28/images/list-info-bg.jpg"><img src="/_upload/tpl/00/1c/28/template28/images/list-dot.jpg" width="2" height="2"></td>
              <td align="left" > 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2013/0522/c889a6349/page.htm' target='_blank' title='其他部委重点实验室'>其他部委重点实验室</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2016-10-12</div></td> 
 
</tr> 
</table> 
</td>
              <td width="26"></td>
            </tr>
          
 </table></div> 

 <div id="wp_paging_w3"> 
<ul class="wp_paging clearfix"> 
     <li class="pages_count"> 
         <span class="per_page">每页&nbsp;<em class="per_count">14</em>&nbsp;记录&nbsp;</span> 
         <span class="all_count">总共&nbsp;<em class="all_count">8</em>&nbsp;记录&nbsp;</span> 
     </li> 
     <li class="page_nav"> 
         <a class="first" href="javascript:void(0);" target="_self"><span>第一页</span></a> 
         <a class="prev" href="javascript:void(0);" target="_self"><span>&lt;&lt;上一页</span></a> 
         <a class="next" href="javascript:void(0);" target="_self"><span>下一页&gt;&gt;</span></a> 
         <a class="last" href="javascript:void(0);" target="_self"><span>尾页</span></a> 
     </li> 
     <li class="page_jump"> 
         <span class="pages">页码&nbsp;<em class="curr_page">1</em>/<em class="all_pages">1</em></span> 
         <span><input class="pageNum" type="text" /><input type="hidden" class="currPageURL" value=""></span></span> 
         <span><a class="pagingJump" href="javascript:void(0);" target="_self">跳转到&nbsp;</a></span> 
     </li> 
</ul> 
</div> 
<script type="text/javascript"> 
     $().ready(function() { 
         $("#wp_paging_w3 .pagingJump").click(function() { 
             var pageNum = $("#wp_paging_w3 .pageNum").val(); 
             if (pageNum === "") { alert('请输入页码！'); return; } 
             if (isNaN(pageNum) || pageNum <= 0 || pageNum > 1) { alert('请输入正确页码！'); return; } 
             var reg = new RegExp("/list", "g"); 
             var url = "/889/list.htm"; 
             window.location.href = url.replace(reg, "/list" + pageNum); 
         }); 
     }); 
</script> 
 
</div> 
</div> 
</td>
        <td width="10"></td>
      </tr>
    </table></td>
    <td width="5" background="/_upload/tpl/00/1c/28/template28/images/main-shadow-r.jpg"></td>
  </tr>
</table>


</div>
  <div id="foot">
    <table width="910" border="0" cellpadding="0" cellspacing="0" class="foot">
      <tr>
        <td width="5" background="/_upload/tpl/00/1c/28/template28/images/main-shadow-l2.jpg"></td>
        <td height="67" align="center" valign="top" bgcolor="#575757"><table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="20">&nbsp;</td>
          </tr>
        </table>
          <font color="#FFFFFF">天津市卫津路94号南开大学办公楼622室，电话：022-23502404  　津教备0061号 津ICP备12003308号-1</font></td>
        <td width="5" background="/_upload/tpl/00/1c/28/template28/images/main-shadow-r2.jpg"></td>
      </tr>
    </table>
  </div>
</div>
</body>
</html>

 <image src="/_visitcount?siteId=30&type=2&columnId=889" style="display:none" width="0" height="0"></image>