<base href="http://news.nankai.edu.cn/xfjs/system/2012/03/21/000059734.shtml"><HTML>
<HEAD>
<title>教育部关于切实加强和改进高等学校学风建设的实施意见--学风建设专题</title>

<style type="text/css">
<!--
body {
	background-color: #e6e7e9;
}

-->
</style></HEAD>
<BODY LEFTMARGIN=0 TOPMARGIN=0 MARGINWIDTH=0 MARGINHEIGHT=0>


<body>
<div align="center">
  <table width="950" border="0" cellspacing="0" bgcolor="#FFFFFF">
    <tr valign="bottom" bgcolor="#FFFFFF">
      <td colspan="4" height="120"><div id="logo">
<!--enorth cms{ banner-xf }enorth cms-->
<div align="center"><img src="http://news.nankai.edu.cn/pic/0/00/03/53/35304_345297.jpg" width="950" height="126"></div>

<!--enorth cms{ banner-xf }enorth cms-->
</div>        </td>
    </tr>
    <tr valign="top" bgcolor="#FFFFFF">
      <td colspan="4"><table width="950" border="0" cellspacing="0" cellpadding="0">
        <tr bgcolor="CCCDCF">
          <td width="45" height="23">&nbsp;</td>
          <td width="581" height="23">
<!--function position() parse begin-->
您当前的位置 ：<a href=http://news.nankai.edu.cn/xfjs/>学风建设专题</a>&nbsp;正文
<!--function: position() parse end  0ms cost! -->
 </td>
          <td width="324" height="23" valign="middle"><div align="center">
<!--enorth cms{ baidu }enorth cms-->
			 <!--Baidu站内搜索开始-->
<script language="javascript">
function baidusearch () {
var wd=document.getElementsByName("wd")[0].value;
var link="http://www.baidu.com/s?si=news.nankai.edu.cn&cl=3&ct=2097152&tn=baidulocal&word="+wd;
window.open(link); }
</script>
<input type="text" name="wd"/><input type="submit" onclick="javascript:baidusearch()" value="新闻网搜索" />
<!--Baidu站内搜索结束-->
<!--enorth cms{ baidu }enorth cms-->

             </div></td>
        </tr>
        <tr>
          <td colspan="3"><img src="http://news.nankai.edu.cn/images/jiewei/position.jpg" width="950" height="15"></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td width="694"><div align="left">　</div></td>
      <td width="3" rowspan="3"><div align="left">
        </div></td>
      <td width="4" rowspan="3" background="http://news.nankai.edu.cn/images/xian2.jpg">&nbsp;</td>
      <td width="245" rowspan="3" valign="top"><div align="center">
<!--enorth cms{ bianlan-xf }enorth cms-->
<HTML>
<HEAD>
<TITLE>南开新闻网</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=gb2312">
<link href="http://news.nankai.edu.cn/css/index.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.STYLE2 {font-size: 16px}
-->
</style>
</HEAD>
<BODY BGCOLOR=#FFFFFF LEFTMARGIN=0 TOPMARGIN=0 MARGINWIDTH=0 MARGINHEIGHT=0>

<style type="text/css">
<!--

-->
</style>
<table width="240" border="0">
  <tr>
    <td valign="top"><img src="http://news.nankai.edu.cn/pic/0/00/12/61/126152_221937.jpg" width="230" height="31" border="0"></td>
  </tr>
  <tr>
    <td>
<!--function guide5(xfjsdt,1,10,false,·,none,none,none) parse begin-->
<table width="100%"  >
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182638.shtml"   target="_blank" >教育部有关负责人就新出台的学风建设文件答记者问 </a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182637.shtml"   target="_blank" >教育部开展高校学风建设专项教育和治理行动 </a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182636.shtml"   target="_blank" >南开大学师德建设工作情况（2013）</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2013/05/29/000128014.shtml"   target="_blank" >南开大学2011年学风建设年度报告</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182639.shtml"   target="_blank" >“南开大学研究生学风建设专题网站”开通</a></td></tr>
</table>

<!--function: guide5(xfjsdt,1,10,false,·,none,none,none) parse end  16ms cost! -->
</td>
  </tr>
  <tr>
    <td> </td>
  </tr>
  <tr>
    <td> </td>
  </tr>
  <tr>
    <td><img src="http://news.nankai.edu.cn/pic/0/00/12/61/126153_700572.jpg" width="230" height="31"></td>
  </tr>
  <tr>
    <td>
<!--function guide5(yxtd,1,10,false,·,none,none,none) parse begin-->
<table width="100%"  >
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182615.shtml"   target="_blank" >南开大学公司治理研究中心创新团队纪实</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182634.shtml"   target="_blank" >学风纯正高尚的楷模 ——记明史大家南开大学历史学院教授南炳文先生</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182635.shtml"   target="_blank" >学高为师，身正为范——记南开大学经济学院副教授刘凤义</a></td></tr>
</table>

<!--function: guide5(yxtd,1,10,false,·,none,none,none) parse end  31ms cost! -->
</td>
  </tr>
  <tr>
    <td> </td>
  </tr>
  
  <tr>
    <td><img src="http://news.nankai.edu.cn/pic/0/00/12/61/126154_978978.jpg" width="230" height="31"></td>
  </tr>
  <tr>
    <td><div align="center"><a href="http://ygb.nankai.edu.cn/xfjs/index.html"><img src="http://news.nankai.edu.cn/pic/0/00/08/31/83124_825347.jpg" width="230" height="44" border="0"></a></div></td>
  </tr>
</table>

<!--enorth cms{ bianlan-xf }enorth cms-->
</div></td>
    </tr>
    <tr>
      <td valign="top"><div align="left">
        <table width="85%" border="0" align="center" cellpadding="2" cellspacing="0">
          <tr>
            <td><div align="center"><span class="title">教育部关于切实加强和改进高等学校学风建设的实施意见 </span></div></td>
          </tr>
          <tr>
            <td><div align="center">来源：
<!--function source_without_pub_date() parse begin-->
教育部网站
<!--function: source_without_pub_date() parse end  0ms cost! -->
　发稿时间：
<!--function pub_date() parse begin-->
2012-03-21 16:30
<!--function: pub_date() parse end  0ms cost! -->
</div></td>
          </tr>
          <tr>
            <td><hr width="95%" size="1" noshade></td>
          </tr>
          <tr>
            <td><span class="main">
<!--function content() parse begin-->
<p style="text-align: center">　　<span style="color: #ff0000"><strong>教技[2011]1号</strong></span></p>
<p><strong>各省、自治区、直辖市教育厅(教委)，新疆生产建设兵团教育局，有关部门(单位)教育司(局)，部属各高等学校：</strong></p>
<!--advertisement code begin--><!--advertisement code end--><p>　　为贯彻党的十七届六中全会&ldquo;深化政风、行风建设，开展道德领域突出问题专项教育和治理&rdquo;的精神，落实《国家中长期教育改革和发展规划纲要(2010-2020年)》的要求，坚决反对不良学风，有效遏制学术不端行为，营造风清气正的育人环境和求真务实的学术氛围，教育部决定在&ldquo;十二五&rdquo;期间开展高校学风建设专项教育和治理行动，并提出如下实施意见。</p>
<p>　　一、充分认识高校学风建设的重要性和紧迫性。学风是大学精神的集中体现，是教书育人的本质要求，是高等学校的立校之本、发展之魂。优良学风是提高教育教学质量的根本保证。能否营造一个优良学风环境，关系到高等教育的科学发展和教育事业的兴衰成败。当前，高校的学风总体上是好的。但近一个时期来，在高校教师及学生的教学与科研活动中，急功近利、浮躁浮夸、抄袭剽窃、伪造篡改、买卖论文、考试舞弊等不良现象和不端行为时有发生，严重破坏了教书育人的学术风气，也造成了极其负面的社会影响。切实加强和改进高校学风建设工作已经刻不容缓。</p>
<p>　　二、坚持标本兼治综合治理的原则。加强高校学风建设，要坚持教育和治理相结合，坚持教育引导、制度规范、监督约束、查处警示，建立并完善弘扬优良学风的长效机制。通过专项教育治理行动，迅速建立学风建设工作体系，明确各地、各部门和高校的责任义务，力争&ldquo;十二五&rdquo;期间高校学风和科研诚信整体状况得到明显改观，为保证人才培养质量、提升科学研究水平、增强社会服务能力奠定良好的学风基础。</p>
<p>　　三、构建学风建设工作体系。教育部设立学风建设办公室，负责制定高校学风建设相关政策，指导检查高校学风建设工作，接受对学术不端行为的举报，指导协调和督促调查处理。各地、各部门要健全学风建设机构，负责所属高校学风建设工作。各高校要建立相应的工作机构和工作机制，负责本校学风建设工作和学术不端行为查处。</p>
<p>　　四、强化高校的主体责任。高校主要领导是本校学风建设和学术不端行为查处的第一责任人，应有专门领导分工负责学风建设。各地教育部门要将学风建设纳入高校领导班子的考核，完善目标责任制，落实问责机制。高校要将学风建设工作常规化，摆在更加突出的位置，建立健全教育宣传，制度建设、不端行为查处等完整的工作体系，实现学风建设机构、学术规范制度和不端行为查处机制三落实、三公开。高校要按年度发布学风建设工作报告。</p>
<p>　　五、建立学术规范教育制度。坚持把教育作为加强学风和学术道德建设的基础。在师生中加强科学精神教育，注重发挥楷模的教育作用，强调学者的自律意识和自我道德养成。教育部和中国科协共同组织对全国研究生的科学道德和学风建设宣讲教育。教育部科技委组织专家赴各地讲解《科学技术学术规范指南》。各地教育部门要组织实施本地区的宣讲教育。高校要为本专科生开设科学伦理讲座，在研究生中进行学术规范宣讲教育；要把科学道德教育纳入教师岗位培训范畴和职业培训体系，纳入行政管理人员学习范畴。</p>
<p>　　六、加强教师的科研诚信教育。要把教师队伍学风建设作为高校学风建设专项教育和治理行动实施重点。教师学风建设的重点任务是加强科研诚信。高校要对教师进行每年一轮的科研诚信教育，在教师年度考核中增加科研诚信的内容，建立科研诚信档案。教育引导教师热爱科学、追求真理，抵制投机取巧、粗制滥造、盲目追求数量不顾质量的浮躁风气和行为，把优良学风内化为自觉行动。教师要加强对学生的教育和监督，认真审阅他们的实验记录和论文手稿，以严谨治学的精神和认真负责的作风感染教化学生，力争成为言传身教的榜样和教书育人的楷模。</p>
<p>　　七、切实改进评价考核导向。尊重人才成长和学术发展规律，避免急功近利和短期行为。各地教育部门在考核评估中，要防止片面量化的倾向，加大质量和贡献指标的权重。正确引导社会的各类高校排行榜更加重视创新质量和贡献。高校在专业技术职务评聘中要体现重创新质量和贡献的导向，全面考察师德、教风、创新和贡献。要防止片面将学术成果、学术奖励和物质报酬、职务晋升挂钩的倾向。</p>
<p>　　八、发挥专家咨询委员会和学术委员会的作用。教育部社科委、科技委分别成立学风建设委员会，以更加有效地加强高校学风建设。高校要充分发挥学术委员会在学风建设、学术评价、学术发展中的重要作用。学术委员会应积极承担学术规范教育和科研诚信宣传，负责本校学术不端行为调查取证。</p>
<p>　　九、加强科学研究的过程管理。高校要建立实验原始记录和检查制度、学术成果公示制度、论文答辩前实验数据审查制度、毕业和离职研究材料上缴制度、论文投稿作者签名留存制度等科学严谨的管理制度。进一步完善科研项目评审、学术成果鉴定程序，强化申报信息公开、异议材料复核、网上公示和接受投诉等制度，增加科研管理的公开性和透明度。</p>
<p>　　十、强化全方位监督和约束。坚持把监督作为加强学风和科研诚信的最好防腐剂。提倡同行监督，科研人员和科研管理人员发现或有正当理由怀疑他人有学术不端行为的，有责任进行投诉。强化行政监督，各地、各部门要切实履行行政监督职责，指导所属高校开展学风教育，完善学术规范，每年进行学风建设工作检查，对于社会影响较大的学术不端投诉，要加强督察督办和具体指导，促使其得到公正公平有效的处理。正确发挥社会监督作用，已经认定的学术不端行为，应该公开事实和处理结果，接受社会力量和新闻媒体的监督。</p>
<p>　　十一、规范学术不端行为调查程序。各类学术不端行为的举报统一由当事人所在高校组织调查。高校接到举报材料后，由校学术委员会(或学风委员会)组织不少于5人的专家组，从学术角度开展独立调查取证，客观公正地提出调查意见，并向当事人公开。如有异议，当事人可向上级主管部门提出异议投诉。调查期间，举报人、被举报人有义务配合调查。调查过程应严格保密。</p>
<p>　　十二、严肃处理学术不端行为。对于学术不端行为的处理，要遵循实事求是、严肃认真的原则，同时，注意维护当事人的合法权益。学校根据专家组调查意见和有关政策规范做出处理决定，并报上级主管部门。处理方式包括取消申报项目资格、延缓职称或职务晋升、停止招研究生、解除职务聘任、撤销学位，触犯法律的追究法律责任。经查实的学生学术不端行为，按有关学位、学籍规定处理。如果有证据表明举报人进行了恶意的或不负责任的举报，应对举报人进行相应的教育、警示、处罚，直至追究法律责任。</p>
<p>　　十三、建立定期检查制度。各地教育部门和高校要在本单位网站上开辟学风建设专栏，公布学风建设年度报告，公开学术不端行为调查处理结果。其中处理结果必须保留3个月以上。教育部每年选择若干单位和高校进行学风建设工作专项巡视。</p>
<p>　　本意见自发布之日起施行。各主管部门和部属高校要按照本意见精神，结合本单位实际制订实施细则，并报教育部备案。</p>
<p style="text-align: right">　　中华人民共和国教育部</p>
<p style="text-align: right">　　二○一一年十二月二日</p>

<!--function: content() parse end  0ms cost! -->
 </span></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
        </table>
      </div></td>
    </tr>
    <tr>
      <td><div align="center"><br>
        <br>
        <br>
      </div></td>
    </tr>
    <tr>
      <td colspan="4"><div id="footer">
<!--enorth cms{ jiewei-xf }enorth cms-->
<style>
#footer{background-color:#E6E7E9; border-top:4px solid #E6E7E9;text-align:center;}
#footer #friends{background:#fff;padding:8px 50px 8px 50px; text-align:left;margin-bottom:10px;}
#footer p{font-size: 1.2em;}
</style>
<p align="center">
 版权所有&#169; 南开大学　网站制作与维护：南开大学党委宣传部 <br>
 举报电话：022-23508595；电子邮箱：nkxswyh@nankai.edu.cn；联系人：王越超<strong><br>
 津教备0061号 津ICP备12003308号-1</strong></p>	

<!--enorth cms{ jiewei-xf }enorth cms-->
</div></td>
    </tr>
  </table>
</div>
</body>
</html>
<!--<page cms="enorth webpublisher"  version="5.0.0 /2011101201" server_name="svctag-f76553x" parse_date="2014-05-22 15:55:09" cost="78" parse_result="0" input_mode="manual"></page>-->