<base href="http://medical.nankai.edu.cn/"><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>医学院</title>

<link type="text/css" href="/_css/_system/system.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/1/style/6/6.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/00/71/113/style/97/97.css" rel="stylesheet"/>
       <LINK href="/_css/tpl2/system.css" type="text/css" rel="stylesheet"> 
       <LINK href="/_css/tpl2/default/default.css" type="text/css" rel="stylesheet"> 
<link type="text/css" href="/_js/_portletPlugs/simpleNews/css/simplenews.css" rel="stylesheet" />
<link type="text/css" href="/_js/_portletPlugs/datepicker/css/datepicker.css" rel="stylesheet" />
<link type="text/css" href="/_js/_portletPlugs/sudyNavi/css/sudyNav.css" rel="stylesheet" />

<script language="javascript" src="/_js/sudy-jquery-autoload.js" jquery-src="/_js/jquery-1.x.min.js" sudy-wp-context="" sudy-wp-siteId="113"></script>
<script language="javascript" src="/_js/jquery-migrate.min.js"></script>
<script language="javascript" src="/_js/jquery.sudy.wp.visitcount.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/datepicker/js/jquery.datepicker.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/datepicker/js/datepicker_lang_HK.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/sudyNavi/jquery.sudyNav.js"></script>
<link rel="stylesheet" href="/_upload/tpl/00/ea/234/template234/style.css" type="text/css" media="all" />
<link rel="stylesheet" href="/_upload/tpl/00/ea/234/template234/extends/extends.css" type="text/css" media="all" />
<script src="/_upload/tpl/00/ea/234/template234/extends/extends.js" type="text/javascript"></script>
<script language="javascript" type="text/javascript">
 $(function(){
    $(".focus").sudyfocus({
      p:31,
      zWidth:1000,
      zHeight:324,
	  isNavHover: true,
	  pagination: true,
      title: {active: false, // 是否显示标题
			isAutoWidth: false, // 标题背景自动宽度
			href: false // 标题是否加文章链接

},
      speed:700
    });
  });

</script>
</head>

<body>

<div class="yetou">
<div class="yetou1 clearfix">

<div class="ttt clearfix">
<div class="ddd">
<div frag="面板82">
<div frag="窗口82">
<div id="wp_nav_w82"> 

 
<ul class="wp_nav" data-nav-config="{drop_v: 'down', drop_w: 'right', dir: 'y', opacity_main: '-1', opacity_sub: '-1', dWidth: '0'}">
      
     <li class="nav-item i1 "> 
         <a href="http://en.medical.nankai.edu.cn/" title="English" target="_blank"><span class="item-name">English</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i2 "> 
         <a href="/6499/list.htm" title="French" target="_self"><span class="item-name">French</span></a><i class="mark"></i> 
          
     </li> 
      
</ul> 
 
 
 </div></div></div>

</div>
<div class="ssk">
<div frag="面板81">
<div frag="窗口81">
<form method="POST" action="/_web/search/doSearch.do?locale=zh_CN&request_locale=zh_CN&_p=YXM9MTEzJnQ9MjM0JmQ9NzQ0JnA9MSZtPVNOJg__" target="_blank" onsubmit="if ($('#keyword').val() === '请输入关键字') { $('#keyword').val(''); }">
    <div class="wp_search">
        <table>
            <tr>
                <td height="25px">
                    <input id="keyword" name="keyword" style="width: 150px" class="keyword" type="text" value="请输入关键字" onfocus="if (this.value === '请输入关键字') { this.value = ''; }"
                           onblur="if (this.value === '') { this.value = '请输入关键字'; }" />
                </td>
                <td>
                    <input name="btnsearch" class="search" type="submit" value=""/>
                </td>
            </tr>
        </table>
    </div>
</form></div></div>
</div>

</div>

</div>
</div>

<div class="daohang">
<div class="daohang1">
<div class="navbar" frag="面板2">
            <div class="navbox" frag="窗口2">
                <div id="wp_nav_w2"> 

 
<ul class="wp_nav" data-nav-config="{drop_v: 'down', drop_w: 'right', dir: 'y', opacity_main: '-1', opacity_sub: '-1', dWidth: '0'}">
      
     <li class="nav-item i1 "> 
         <a href="http://medical.nankai.edu.cn/main.htm" title="首页" target="_self"><span class="item-name">首页</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i2 "> 
         <a href="/6490/list.htm" title="学院概况" target="_self"><span class="item-name">学院概况</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i3 "> 
         <a href="/6491/list.htm" title="师资队伍" target="_self"><span class="item-name">师资队伍</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i4 "> 
         <a href="/6492/list.htm" title="教育教学" target="_self"><span class="item-name">教育教学</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i5 "> 
         <a href="/6493/list.htm" title="学科建设" target="_self"><span class="item-name">学科建设</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i6 "> 
         <a href="/6494/list.htm" title="实验中心" target="_self"><span class="item-name">实验中心</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i7 "> 
         <a href="/6495/list.htm" title="学生发展" target="_self"><span class="item-name">学生发展</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i8 "> 
         <a href="/6496/list.htm" title="校友之家" target="_self"><span class="item-name">校友之家</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i9 "> 
         <a href="/zpxx/list.htm" title="招聘信息" target="_self"><span class="item-name">招聘信息</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i10 "> 
         <a href="http://medical.nankai.edu.cn/8750/list.htm" title="规章制度" target="_self"><span class="item-name">规章制度</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i11 "> 
         <a href="/6497/list.htm" title="联系我们" target="_self"><span class="item-name">联系我们</span></a><i class="mark"></i> 
          
     </li> 
      
</ul> 
 
 
 </div>
            </div>
        </div>
</div>
</div>








<div class="wrapper" id="container2">
    <div class="banner" frag="面板31">
        <div frag="窗口31">
                            <!-- JSON列表 -->
<script language="JavaScript" class="" >
    var w31imgJsons = [
    
        
            {
            "src": "/_upload/article/images/31/b7/9c7c726a44b48c0e734882a21b43/3ac826ba-c07d-4e3a-9a4d-ad4282cf0207.jpg",
            "original": "/_upload/article/images/31/b7/9c7c726a44b48c0e734882a21b43/3ac826ba-c07d-4e3a-9a4d-ad4282cf0207.jpg",
            "title": "医学院召开党员大会学习传达习近...",
            "url": "/_redirect?siteId=113&columnId=6500&articleId=119499"
            },
        
    
        
            {
            "src": "/_upload/article/images/33/f6/044b0ed9436287f28b50a35afbf3/2220530f-b44c-456a-b022-00904c53742f.jpg",
            "original": "/_upload/article/images/33/f6/044b0ed9436287f28b50a35afbf3/2220530f-b44c-456a-b022-00904c53742f.jpg",
            "title": "<font style='font-weight:bold;color:#FF0303;'>【专题】南开大学医学校友会成立</font>",
            "url": "/_redirect?siteId=113&columnId=6500&articleId=117310"
            },
        
    
        
            {
            "src": "/_upload/article/images/3e/68/56ea4f9240e09111e3537437425f/a7ab90f8-6556-4606-bf2d-fefe810bf54a.jpg",
            "original": "/_upload/article/images/3e/68/56ea4f9240e09111e3537437425f/a7ab90f8-6556-4606-bf2d-fefe810bf54a.jpg",
            "title": "医学院卫冕运动会乙组冠军",
            "url": "/_redirect?siteId=113&columnId=6500&articleId=112302"
            },
        
    
        
            {
            "src": "/_upload/article/images/e3/fb/01461fd446588786f173a1ecbc35/e81479c2-6fae-4e4a-8fe4-d9df8f2089a5.jpg",
            "original": "/_upload/article/images/e3/fb/01461fd446588786f173a1ecbc35/e81479c2-6fae-4e4a-8fe4-d9df8f2089a5.jpg",
            "title": "医学院本科生赴哈佛大学麻省总医...",
            "url": "/_redirect?siteId=113&columnId=6500&articleId=70494"
            }
        
    
    ];
</script>

            
            <div class="focus"></div>
        </div>
    </div>
</div>
<div class="wrapper" id="container">
    <div class="inner">
        <div class="mm">
            <div class="mod mod1">
                <div class="ml" frag="面板3">
                    <div class="post post-3 mbox" frag="窗口3">
                        <div class="tt bottom">
                            <h3 class="tit"><span class="title" frag="标题">学院新闻</span></h3>
                            <div class="more_btn" frag="按钮" type="更多"><a href="/6501/list.htm" class="w3_more"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span></a></div>
                        </div>
                        <div class="con">
                            <div id="wp_news_w3"> 

                                <ul class="news_list clearfix">
                                    
                                    <li class="news n1 clearfix">
                                        <div class="news_left">
                                            <div class="news_meta post_time">
                                                <div class="date">
                                                    <div class="month-date">03-4</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="news_right"><a href='/2019/0304/c6501a120123/page.htm' target='_blank' title='医学院召开党员大会学习传达习近平总书记视察南开大学重要讲话精神'>医学院召开党员大会学习传达习近平总书记...</a></div>
                                       
                                    </li>
                                    
                                    <li class="news n2 clearfix">
                                        <div class="news_left">
                                            <div class="news_meta post_time">
                                                <div class="date">
                                                    <div class="month-date">02-25</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="news_right"><a href='/2019/0225/c6501a119764/page.htm' target='_blank' title='南开大学医学生“英语&人文”系列讲座（二）——FROM MEDICAL STUDENT TO MEDICAL DOCTOR'>南开大学医学生“英语&人文”系列讲座（...</a></div>
                                       
                                    </li>
                                    
                                    <li class="news n3 clearfix">
                                        <div class="news_left">
                                            <div class="news_meta post_time">
                                                <div class="date">
                                                    <div class="month-date">02-19</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="news_right"><a href='/2019/0219/c6501a119546/page.htm' target='_blank' title='南开大学医学生”英语&人文“系列讲座（一）——FIRST DO NO HARM'>南开大学医学生”英语&人文“系列讲座（...</a></div>
                                       
                                    </li>
                                    
                                    <li class="news n4 clearfix">
                                        <div class="news_left">
                                            <div class="news_meta post_time">
                                                <div class="date">
                                                    <div class="month-date">02-18</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="news_right"><img src='/_js/_portletPlugs/simpleNews/images/new.gif' /><a href='/2019/0218/c6501a119489/page.htm' target='_blank' title='开学首日校领导来医学院视察工作'><font style='font-weight:bold;color:#FF0000;'>开学首日校领导来医学院视察工作</font></a></div>
                                       
                                    </li>
                                    
                                    <li class="news n5 clearfix">
                                        <div class="news_left">
                                            <div class="news_meta post_time">
                                                <div class="date">
                                                    <div class="month-date">01-23</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="news_right"><a href='/2019/0123/c6501a119036/page.htm' target='_blank' title='医学院党委座谈学习习近平总书记视察南开大学重要讲话精神'><font style='color:#160401;'>医学院党委座谈学习习近平总书记视察南开...</font></a></div>
                                       
                                    </li>
                                    
                                    <li class="news n6 clearfix">
                                        <div class="news_left">
                                            <div class="news_meta post_time">
                                                <div class="date">
                                                    <div class="month-date">01-18</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="news_right"><a href='/2019/0118/c6501a118776/page.htm' target='_blank' title='医学院师生热议习近平总书记视察南开大学'><font style='color:#0C0103;'>医学院师生热议习近平总书记视察南开大学</font></a></div>
                                       
                                    </li>
                                    
                                    <li class="news n7 clearfix">
                                        <div class="news_left">
                                            <div class="news_meta post_time">
                                                <div class="date">
                                                    <div class="month-date">12-25</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="news_right"><a href='/2018/1225/c6501a117375/page.htm' target='_blank' title='【专题】南开大学医学校友会成立'><font style='color:#090000;'>【专题】南开大学医学校友会成立</font></a></div>
                                       
                                    </li>
                                    
                                    <li class="news n8 clearfix">
                                        <div class="news_left">
                                            <div class="news_meta post_time">
                                                <div class="date">
                                                    <div class="month-date">12-20</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="news_right"><a href='/2018/1220/c6501a117120/page.htm' target='_blank' title='【喜报】我院学生荣获多项优秀集体和个人荣誉'><font style='color:#0E0103;'>【喜报】我院学生荣获多项优秀集体和个人...</font></a></div>
                                       
                                    </li>
                                    
                                </ul>
                            </div> 

                        </div>
                    </div>
                    <div class="post post-30 mbox" frag="窗口30">
                        <div class="tt bottom">
                            <h3 class="tit"><span class="title" frag="标题">科研动态</span></h3>
                            <div class="more_btn" frag="按钮" type="更多"><a href="/6503/list.htm" class="w30_more"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span></a></div>
                        </div>
                        <div class="con">
                            <div id="wp_news_w30"> 

                                <ul class="news_list">
                                    
                                    <li class="news n1 clearfix"><span class="news_title"><a href='/_redirect?siteId=113&columnId=6503&articleId=105959' target='_blank' title='南开大学214项目获2018年度国家自然科学基金资助'><font style='font-weight:bold;color:#FF9305;'>南开大学214项目获2018年度国家自然科学基金...</font></a></span></li>
                                    
                                    <li class="news n2 clearfix"><span class="news_title"><a href='/2018/0816/c6503a105895/page.htm' target='_blank' title='医学院及附属医院获多项2018年国家自然科学基金项目资助'><font style='color:#000000;'>医学院及附属医院获多项2018年国家自然科学基...</font></a></span></li>
                                    
                                    <li class="news n3 clearfix"><span class="news_title"><a href='/2018/0503/c6503a98315/page.htm' target='_blank' title='曹雪涛院士团队研究成果再登Cell杂志'>曹雪涛院士团队研究成果再登Cell杂志</a></span></li>
                                    
                                    <li class="news n4 clearfix"><span class="news_title"><a href='/2018/0426/c6503a98020/page.htm' target='_blank' title='曹雪涛院士团队研究成果登Nature和Cell期刊'>曹雪涛院士团队研究成果登Nature和Cell期刊</a></span></li>
                                    
                                    <li class="news n5 clearfix"><span class="news_title"><a href='/2015/1203/c6503a68772/page.htm' target='_blank' title='南开大学团队发现“抗艾”药物全新靶点'>南开大学团队发现“抗艾”药物全新靶点</a></span></li>
                                    
                                    <li class="news n6 clearfix"><span class="news_title"><a href='/2014/0225/c6503a68771/page.htm' target='_blank' title='【国家自然科学基金】关于2014年度国家自然科学基金项目申报工作有关事项的通知'>【国家自然科学基金】关于2014年度国家自然科...</a></span></li>
                                    
                                    <li class="news n7 clearfix"><span class="news_title"><a href='/2013/1113/c6503a68770/page.htm' target='_blank' title='关于征集中国-伊朗互访交流计划项目的通知'>关于征集中国-伊朗互访交流计划项目的通知</a></span></li>
                                    
                                    <li class="news n8 clearfix"><span class="news_title"><a href='/2013/1113/c6503a68769/page.htm' target='_blank' title='关于征集通过天津市申报2014年度国家科技奖拟推荐项目的通知'>关于征集通过天津市申报2014年度国家科技奖拟...</a></span></li>
                                    
                                </ul>
                            </div> 

                        </div>
                    </div>
                </div>
                <div class="mc" frag="面板4">
                    <div class="post post-4 mbox" frag="窗口4">
                        <div class="tt bottom">
                            <h3 class="tit"><span class="title" frag="标题">教学信息</span></h3>
                            <div class="more_btn" frag="按钮" type="更多"><a href="/6502/list.htm" class="w4_more"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span></a></div>
                        </div>
                        <div class="con">
                            <div id="wp_news_w4"> 

                                <ul class="news_list">
                                    
                                    <li class="news n1 clearfix"><span class="news_title"><a href='/2019/0308/c6502a120479/page.htm' target='_blank' title='医学院2019年全日制硕士研究生招生各专业招生人数公示'>医学院2019年全日制硕士研究生招生各专业招生人数...</a></span></li>
                                    
                                    <li class="news n2 clearfix"><span class="news_title"><a href='/2019/0308/c6502a120478/page.htm' target='_blank' title='2019年南开大学医学院生理学、基础医学各专业（学术型）接收 南开大学生命科学院相关专业调剂考生的通知'>2019年南开大学医学院生理学、基础医学各专业（学...</a></span></li>
                                    
                                    <li class="news n3 clearfix"><span class="news_title"><a href='/2019/0306/c6502a120300/page.htm' target='_blank' title='医学院参加2019年全日制硕士研究生入学考试复试名单'>医学院参加2019年全日制硕士研究生入学考试复试名...</a></span></li>
                                    
                                    <li class="news n4 clearfix"><span class="news_title"><a href='/2019/0306/c6502a120256/page.htm' target='_blank' title='南开大学医学院2019年硕士研究生复试办法'>南开大学医学院2019年硕士研究生复试办法</a></span></li>
                                    
                                    <li class="news n5 clearfix"><span class="news_title"><a href='/2019/0305/c6502a120197/page.htm' target='_blank' title='南开大学医学院2018-2019学年度第二学期科学学位博士毕业日程安排'>南开大学医学院2018-2019学年度第二学期科学学位...</a></span></li>
                                    
                                    <li class="news n6 clearfix"><span class="news_title"><a href='/2019/0305/c6502a120196/page.htm' target='_blank' title='南开大学医学院2018-2019学年度第二学期科学学位硕士毕业各项工作日程安排'>南开大学医学院2018-2019学年度第二学期科学学位...</a></span></li>
                                    
                                    <li class="news n7 clearfix"><span class="news_title"><a href='/2019/0305/c6502a120195/page.htm' target='_blank' title='南开大学医学院2018-2019学年度第二学期专业学位硕士毕业各项工作日程安排'>南开大学医学院2018-2019学年度第二学期专业学位...</a></span></li>
                                    
                                    <li class="news n8 clearfix"><span class="news_title"><a href='/2019/0305/c6502a120193/page.htm' target='_blank' title='2018-2019学年度第二学期毕业同等学力研究生答辩及评审工作安排'>2018-2019学年度第二学期毕业同等学力研究生答辩...</a></span></li>
                                    
                                </ul>
                            </div> 

                        </div>
                    </div>
                    <div class="post post-30 mbox" frag="窗口40">
                        <div class="tt bottom">
                            <h3 class="tit"><span class="title" frag="标题">学生动态</span></h3>
                            <div class="more_btn" frag="按钮" type="更多"><a href="/6504/list.htm" class="w40_more"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span></a></div>
                        </div>
                        <div class="con">
                            <div id="wp_news_w40"> 

                                <ul class="news_list">
                                    
                                    <li class="news n1 clearfix"><span class="news_title"><a href='/2019/0307/c6504a120362/page.htm' target='_blank' title='转发：关于推选2019年“天津向上向善好青年”候选人的通知'>转发：关于推选2019年“天津向上向善好青年”候选人的...</a></span></li>
                                    
                                    <li class="news n2 clearfix"><span class="news_title"><a href='/2019/0306/c6504a120325/page.htm' target='_blank' title='转发：关于“民生•叶嘉莹诗词奖学金”申报的通知'>转发：关于“民生•叶嘉莹诗词奖学金”申报的通知</a></span></li>
                                    
                                    <li class="news n3 clearfix"><span class="news_title"><a href='/2019/0306/c6504a120247/page.htm' target='_blank' title='转发：关于教育系统评选推荐第六届 天津市道德模范候选人的通知'>转发：关于教育系统评选推荐第六届 天津市道德模范候...</a></span></li>
                                    
                                    <li class="news n4 clearfix"><span class="news_title"><a href='/2019/0305/c6504a120231/page.htm' target='_blank' title='医学院研究生投身“爱耳日”志愿服务活动'>医学院研究生投身“爱耳日”志愿服务活动</a></span></li>
                                    
                                    <li class="news n5 clearfix"><span class="news_title"><a href='/2019/0228/c6504a119952/page.htm' target='_blank' title='转发：遴选2019“知行中国—中美高校学生领袖学院”项目中方学生的通知'>转发：遴选2019“知行中国—中美高校学生领袖学院”项...</a></span></li>
                                    
                                    <li class="news n6 clearfix"><span class="news_title"><a href='/2019/0225/c6504a119747/page.htm' target='_blank' title='南开大学2019年度第一批“公能朋辈导师”选聘工作通知'>南开大学2019年度第一批“公能朋辈导师”选聘工作通知</a></span></li>
                                    
                                    <li class="news n7 clearfix"><span class="news_title"><a href='/2019/0220/c6504a119554/page.htm' target='_blank' title='校团委通知：关于开展第十九届“天津青年五四奖章”评选活动的通知'>校团委通知：关于开展第十九届“天津青年五四奖章”评...</a></span></li>
                                    
                                    <li class="news n8 clearfix"><span class="news_title"><a href='/2019/0121/c6504a118983/page.htm' target='_blank' title='医学院第十期学生党校培训班顺利结业'>医学院第十期学生党校培训班顺利结业</a></span></li>
                                    
                                </ul>
                            </div> 

                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="mod mod2">
            
            <div class="mr1" frag="面板6">
                <div class="post post-5 mbox" frag="窗口6">
                <div class="tt">
                        <h3 class="tit"><span class="title" frag="标题">附属及联合办学单位</span></h3>
                    </div>
                    <div class="con">
                        <div id="wp_news_w6"> 

                            <ul class="news_list">
                                
                                <li class="news n1 clearfix"><span class="news_title"><a href='/_redirect?siteId=113&columnId=6505&articleId=67007' target='_blank' title='天津市第一中心医院（南开大学附属第一中心医院）'>天津市第一中心医院（南开大学附...</a></span></li>
                                
                                <li class="news n2 clearfix"><span class="news_title"><a href='/_redirect?siteId=113&columnId=6505&articleId=67008' target='_blank' title='中国人民解放军第二五四医院'>中国人民解放军第二五四医院</a></span></li>
                                
                                <li class="news n3 clearfix"><span class="news_title"><a href='/_redirect?siteId=113&columnId=6505&articleId=67009' target='_blank' title='天津市口腔医院（南开大学附属口腔医院）'>天津市口腔医院（南开大学附属口...</a></span></li>
                                
                                <li class="news n4 clearfix"><span class="news_title"><a href='/_redirect?siteId=113&columnId=6505&articleId=67004' target='_blank' title='天津市人民医院（南开大学附属人民医院）'>天津市人民医院（南开大学附属人...</a></span></li>
                                
                                <li class="news n5 clearfix"><span class="news_title"><a href='/_redirect?siteId=113&columnId=6505&articleId=67003' target='_blank' title='天津市眼科医院（南开大学附属眼科医院）'>天津市眼科医院（南开大学附属眼...</a></span></li>
                                
                                <li class="news n6 clearfix"><span class="news_title"><a href='/_redirect?siteId=113&columnId=6505&articleId=75539' target='_blank' title='天津市胸科医院（南开大学附属胸科医院）'>天津市胸科医院（南开大学附属胸...</a></span></li>
                                
                                <li class="news n7 clearfix"><span class="news_title"><a href='/_redirect?siteId=113&columnId=6505&articleId=75540' target='_blank' title='天津市环湖医院（南开大学附属环湖医院）'>天津市环湖医院（南开大学附属环...</a></span></li>
                                
                                <li class="news n8 clearfix"><span class="news_title"><a href='/_redirect?siteId=113&columnId=6505&articleId=75541' target='_blank' title='天津市南开医院（南开大学附属南开医院）'>天津市南开医院（南开大学附属南...</a></span></li>
                                
                                <li class="news n9 clearfix"><span class="news_title"><a href='/_redirect?siteId=113&columnId=6505&articleId=75543' target='_blank' title='天津市中心妇产科医院（南开大学附属中心妇产科医院）'>天津市中心妇产科医院（南开大学...</a></span></li>
                                
                                <li class="news n10 clearfix"><span class="news_title"><a href='/_redirect?siteId=113&columnId=6505&articleId=67006' target='_blank' title='天津市第三中心医院（南开大学附属第三中心医院）'>天津市第三中心医院（南开大学附...</a></span></li>
                                
                                <li class="news n11 clearfix"><span class="news_title"><a href='/_redirect?siteId=113&columnId=6505&articleId=75536' target='_blank' title='天津市第四中心医院（南开大学附属第四中心医院）'>天津市第四中心医院（南开大学附...</a></span></li>
                                
                                <li class="news n12 clearfix"><span class="news_title"><a href='/2017/1019/c6505a75542/page.htm' target='_blank' title='天津市第二人民医院（南开大学附属第二人民医院）'>天津市第二人民医院（南开大学附...</a></span></li>
                                
                                <li class="news n13 clearfix"><span class="news_title"><a href='/_redirect?siteId=113&columnId=6505&articleId=67010' target='_blank' title='中国人民解放军总医院'>中国人民解放军总医院</a></span></li>
                                
                                <li class="news n14 clearfix"><span class="news_title"><a href='/_redirect?siteId=113&columnId=6505&articleId=67005' target='_blank' title='天津市儿童医院'>天津市儿童医院</a></span></li>
                                
                                <li class="news n15 clearfix"><span class="news_title"><a href='/_redirect?siteId=113&columnId=6505&articleId=67002' target='_blank' title='中国医学科学院血液病研究所'>中国医学科学院血液病研究所</a></span></li>
                                
                            </ul>
                        </div> 

                    </div>
                </div>
            </div>
            
            <div class="mr3 clearfix">
            <div class="wx"><img src="/_upload/tpl/00/ea/234/template234/images/wx.png" /><div class="wxz pp">微信公众号</div></div>
            <a href="http://med.less.nankai.edu.cn/lims/!meeting"><div class="yy"><img src="/_upload/tpl/00/ea/234/template234/images/hys.png" /><div class="hys pp">会议室预约</div></div></a>
                
            </div>
            <div class="clear"></div>
        </div>
        <div class="clear"></div>
    </div>
</div>
<div class="wrapper" id="footer">
    <div class="inner">
        <div id="copyright">
           
                    <p> <span class="copyright">版权所有南开大学医学院</span></p>
                
        </div>
    </div>
</div>
</body>
</html>
 <image src="/_visitcount?siteId=113&type=1&columnId=6488" style="display:none" width="0" height="0"></image>