<base href="http://news.nankai.edu.cn/nkpl/index.shtml"><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="">


<link href="/2014ceshi/css/style.css" rel="stylesheet" />
<link href="/2014ceshi/css/third.css" rel="stylesheet" />
<title>南开新闻网</title>
</head>

<body>
<div class="wrap">
<!-- banner starts -->

<!--enorth cms{ new_second_banner }enorth cms-->
<style type="text/css">
.banner {
	position: relative;
	width: 1000px;
	height: 125px;
	background-repeat: no-repeat;
	background-image: url(/2014ceshi/images/banner.png);
	padding-bottom: 5px;
}

.mainmenu {
	position: relative;
	float: left;
	margin-left: 480px;
	margin-top: 95px;
}

.mainmenu a {
	color: #989898;
	text-decoration: none;
}

.mainmenu a:hover {
	color: #4f4f4f;
}

.link {
	position: relative;
	float: left;
	margin: 0 5px;
	font: bold 16px 'Microsoft YaHei';
}

.form {
	position: relative;
	float: left;
	line-height: 12px;
	padding-left: 24px;
	top: -2px;
}

.form input[type="text"] {
	float: left;
	width: 125px;
	height: 12px;
	padding-left: 3px;
	text-indent: 5px;
	border: none;
	border-radius: 1px;
	box-shadow: 0 0 0 2px #ababab;
}

.form input[type="text"]:focus {
	outline: 0 none;
	box-shadow: 0 0 0 2px #7e7e7e;
}
</style>
<body>
	<div class="banner">
		<a href="http://news.nankai.edu.cn/" style="position: absolute;left: 60px;top: 15px;display: block;width: 380px;height: 100px;">&nbsp;</a>
		<div class="mainmenu">
			<div class="link">
				<a href="http://news.nankai.edu.cn/" target="_blank">首页</a>
			</div>
			<div class="link">
				<a href="http://jw.nankai.edu.cn/" target="_blank">觉悟网</a>
			</div>
			<div class="link">
				<a href="http://theory.nankai.edu.cn/" target="_blank">学习网</a>
			</div>
			<div class="link">
				<a
					href="http://news.nankai.edu.cn/xwzt/system/2014/03/06/000168359.shtml"
					target="_blank">大学报</a>
			</div>
			<div class="link">
				<a href="http://news.nankai.edu.cn/xs/" target="_blank">校史网</a>
			</div>
			<div class="link">
				<a href="http://bbs.nankai.edu.cn/" target="_blank">BBS</a>
			</div>
			<div class="form">
				<form method="get" id="searchform" action="#" class="form-search"
					style="padding-top: 7px;" />

				<!--Baidu站内搜索开始-->
				<script language="javascript">
					function baidusearch() {
						var wd = document.getElementsByName("wd")[0].value;
						var link = "http://www.baidu.com/s?si=news.nankai.edu.cn&cl=3&ct=2097152&tn=baidulocal&word="
								+ wd;
						window.open(link);
					}
				</script>
				<input name="wd" type="text" size="10" /> <input type="image"
					onclick="javascript:baidusearch()" src="/2014ceshi/images/find.png"
					alt="搜索"
					style=" width:16px; height:16px;position: relative;
float: left;
padding-left: 8px;" />
				<!--Baidu站内搜索结束-->
				</form>
			</div>
		</div>
	</div>
</body>
<!--enorth cms{ new_second_banner }enorth cms-->

<!-- banner ends -->
<!-- content starts -->
<div class="con-wrap">
<div class="third-content">
	<div class="third-left">
            <div class=" news-position">
<!--function position() parse begin-->
您当前的位置 ：<a href=http://news.nankai.edu.cn/nkpl/>评论</a>&nbsp;正文
<!--function: position() parse end  0ms cost! -->
</div>
        <div class=" news-content">
          
<!--function latest5(/nkpl/,1,50,false,<IMG SRC="http://news.nankai.edu.cn/images/index_27.gif">,yyyy-MM-dd,class=news,none) parse begin-->
<table width="100%"  >
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2019/01/21/000430324.shtml"   target="_blank" class=news>学术岗位可以退 学者本色不能褪</a>&nbsp;&nbsp; 2019-01-21</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2018/10/28/000414736.shtml"   target="_blank" class=news>探诗歌流变 析唐诗之美 </a>&nbsp;&nbsp; 2018-10-28</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2018/09/14/000408738.shtml"   target="_blank" class=news>爱国主义是教育的必修课</a>&nbsp;&nbsp; 2018-09-14</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2018/07/20/000400894.shtml"   target="_blank" class=news>大学基金会新时代当有新作为</a>&nbsp;&nbsp; 2018-07-20</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2018/07/16/000400296.shtml"   target="_blank" class=news>叩问初心 从井冈山精神中汲取伟力</a>&nbsp;&nbsp; 2018-07-16</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2018/06/12/000389774.shtml"   target="_blank" class=news>1857万元的宁静与94岁的心境</a>&nbsp;&nbsp; 2018-07-16</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2018/07/10/000399641.shtml"   target="_blank" class=news>讲述传染病别样历史</a>&nbsp;&nbsp; 2018-07-10</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2018/07/02/000397094.shtml"   target="_blank" class=news>历史呈现的品格与高度──评纪录片《有个学校叫南开》</a>&nbsp;&nbsp; 2018-07-02</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2018/06/25/000394274.shtml"   target="_blank" class=news>1987版《红楼梦》：岁月激流中的潜心之作</a>&nbsp;&nbsp; 2018-06-25</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2018/06/15/000391314.shtml"   target="_blank" class=news>由叶嘉莹捐赠全部个人财产支持中华优秀传统文化研究想到的</a>&nbsp;&nbsp; 2018-06-15</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2018/06/06/000388435.shtml"   target="_blank" class=news>关于中国日本史研究若干问题的思考———兼评刘岳兵《“中国式”日本研究的实像与虚像》</a>&nbsp;&nbsp; 2018-06-06</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2018/05/21/000383718.shtml"   target="_blank" class=news>人工智能给教育带来什么</a>&nbsp;&nbsp; 2018-05-21</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2018/05/21/000383655.shtml"   target="_blank" class=news>发出新时代政治学最强音 ——评《新时代大国治理》</a>&nbsp;&nbsp; 2018-05-21</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2018/02/21/000368595.shtml"   target="_blank" class=news>地方高校，怎样办成“精品店”</a>&nbsp;&nbsp; 2018-02-21</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2018/01/13/000365327.shtml"   target="_blank" class=news>如何看待大学校长“连连换”</a>&nbsp;&nbsp; 2018-01-13</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2018/01/10/000365038.shtml"   target="_blank" class=news>大学校长选拔任用改革应提速</a>&nbsp;&nbsp; 2018-01-10</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2017/11/03/000353797.shtml"   target="_blank" class=news>纪念西南联大，更要破解高校之弊</a>&nbsp;&nbsp; 2017-11-03</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2017/11/03/000353798.shtml"   target="_blank" class=news>于非常之时，成非常之功(评论员随笔)</a>&nbsp;&nbsp; 2017-11-03</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2017/11/02/000353605.shtml"   target="_blank" class=news>怀念西南联大，有种大学精神历久弥坚</a>&nbsp;&nbsp; 2017-11-02</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2017/11/02/000353596.shtml"   target="_blank" class=news>怀念西南联大，到底是在怀念什么</a>&nbsp;&nbsp; 2017-11-02</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2017/11/01/000353374.shtml"   target="_blank" class=news>“夫妻宿舍”引争议：外界没必要瞎操心</a>&nbsp;&nbsp; 2017-11-01</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2017/11/01/000353377.shtml"   target="_blank" class=news>推行夫妻宿舍，是大学后勤从管理回归服务的典范</a>&nbsp;&nbsp; 2017-11-01</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2017/10/31/000353134.shtml"   target="_blank" class=news>从南开大学夫妻宿舍说起：呼唤更多个性化的宿舍</a>&nbsp;&nbsp; 2017-10-31</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2017/10/30/000353040.shtml"   target="_blank" class=news>南开大学推出“夫妻宿舍” 外界没必要瞎操心</a>&nbsp;&nbsp; 2017-10-30</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2017/10/28/000352640.shtml"   target="_blank" class=news>高校推学生夫妻宿舍可成标配</a>&nbsp;&nbsp; 2017-10-28</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2017/10/28/000352639.shtml"   target="_blank" class=news>大学设立学生夫妻房是宿舍服务的进步</a>&nbsp;&nbsp; 2017-10-28</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2016/03/29/000276016.shtml"   target="_blank" class=news>五大发展理念：转变中国发展方式的新起点</a>&nbsp;&nbsp; 2016-03-31</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2016/03/10/000271975.shtml"   target="_blank" class=news>五大发展理念对发展权理解的丰富和深化 </a>&nbsp;&nbsp; 2016-03-10</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2015/11/04/000254075.shtml"   target="_blank" class=news>“十三五”规划建议绘出全面建设小康社会行动纲领</a>&nbsp;&nbsp; 2015-11-04</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2015/10/02/000250435.shtml"   target="_blank" class=news>守卫新疆各族人民的生命线 </a>&nbsp;&nbsp; 2015-10-02</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2015/04/17/000229025.shtml"   target="_blank" class=news>花钱发论文 伤了学术肥了谁？</a>&nbsp;&nbsp; 2015-04-17</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2015/04/16/000228868.shtml"   target="_blank" class=news>新预算法：高校的挑战与机遇</a>&nbsp;&nbsp; 2015-04-16</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2015/04/16/000228867.shtml"   target="_blank" class=news>期待新预算法推动高校管理现代化</a>&nbsp;&nbsp; 2015-04-16</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2015/04/16/000228862.shtml"   target="_blank" class=news>“学非所愿”究竟怎么看?</a>&nbsp;&nbsp; 2015-04-16</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2015/04/16/000228863.shtml"   target="_blank" class=news>“学非所愿”的根到底在哪儿</a>&nbsp;&nbsp; 2015-04-16</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2014/10/01/000203422.shtml"   target="_blank" class=news>沿着中国道路走向伟大复兴（社评）——热烈庆祝中华人民共和国成立六十五周年</a>&nbsp;&nbsp; 2014-10-01</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/xwzt/system/2014/09/08/000200516.shtml"   target="_blank" class=news>中国特色社会主义政治制度生长于中国土壤</a>&nbsp;&nbsp; 2014-09-08</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/xwzt/system/2014/09/08/000200517.shtml"   target="_blank" class=news>党的领导是人民当家作主的根本保证 </a>&nbsp;&nbsp; 2014-09-08</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/xwzt/system/2014/09/08/000200519.shtml"   target="_blank" class=news>人民民主是中国共产党始终高举的旗帜 </a>&nbsp;&nbsp; 2014-09-08</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2014/09/04/000200241.shtml"   target="_blank" class=news>中国人要有自信</a>&nbsp;&nbsp; 2014-09-04</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2014/09/04/000200238.shtml"   target="_blank" class=news>坚定的宣示 庄严的动员</a>&nbsp;&nbsp; 2014-09-04</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2014/09/04/000200168.shtml"   target="_blank" class=news>在纪念中国人民抗日战争暨世界反法西斯战争胜利69周年座谈会上的讲话</a>&nbsp;&nbsp; 2014-09-04</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2014/09/04/000200167.shtml"   target="_blank" class=news>今日中国，仍需抗战精神（今日谈）</a>&nbsp;&nbsp; 2014-09-04</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2014/09/04/000200166.shtml"   target="_blank" class=news>珍视抗战胜利的精神遗产(人民论坛)</a>&nbsp;&nbsp; 2014-09-04</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2014/09/04/000200165.shtml"   target="_blank" class=news>激扬抗战英烈的正能量（人民论坛）</a>&nbsp;&nbsp; 2014-09-04</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2014/09/04/000200164.shtml"   target="_blank" class=news>铭记正义的胜利（钟声）</a>&nbsp;&nbsp; 2014-09-04</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkpl/system/2014/09/04/000200163.shtml"   target="_blank" class=news>让历史照亮人类的明天——写在中国人民抗日战争暨世界反法西斯战争胜利纪念日</a>&nbsp;&nbsp; 2014-09-04</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/xwzt/system/2014/08/21/000197897.shtml"   target="_blank" class=news>在纪念邓小平同志诞辰110周年座谈会上的讲话</a>&nbsp;&nbsp; 2014-08-21</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/xwzt/system/2014/08/21/000197898.shtml"   target="_blank" class=news>对腐败要下得了手</a>&nbsp;&nbsp; 2014-08-21</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/xwzt/system/2014/08/20/000197734.shtml"   target="_blank" class=news>更高举起改革开放伟大旗帜</a>&nbsp;&nbsp; 2014-08-20</td></tr>
</table>

<!--function: latest5(/nkpl/,1,50,false,<IMG SRC="http://news.nankai.edu.cn/images/index_27.gif">,yyyy-MM-dd,class=news,none) parse end  485ms cost! -->

          <div align="center">
        <br>
<!--function selectpage() parse begin-->
<a href="http://news.nankai.edu.cn/nkpl/system/more/25000000/0000/25000000_00000006.shtml">下一页</a>
<!--function: selectpage() parse end  15ms cost! -->
<br>
        <br>
      </div>
        </div>
	</div>
        <div class="third-right">
	
<!--enorth cms{ 2014new-bl }enorth cms-->
<style type="text/css">
.third-right {
	position: relative;
	float: left;
	width: 260px;
	height: auto;
}

.third-menu {
	width: 255px;
	height: auto;
	background-image: url(/2014ceshi/images/zhulou.png);
	background-repeat: no-repeat;
}

.menu-title {
	position: relative;
	padding: 28px 0 0 210px;
}

.menu-title a {
	font: bold 16px 'Microsoft YaHei';
	color: #701a5e;
	text-decoration: none;
}

.guanbo {
	padding: 5px;
}

.zhuanti {
	width: 230px;
	height: 130px;
	padding: 5px 5px;
}

.zhuanti-title {
	position: relative;
	float: left;
	width: 120px;
	margin-top: 15px;
}

.zhuanti-title a {
	font: bold 13px 'Microsoft YaHei';
	text-decoration: none;
}

.zhuanti-content {
	padding-top: 2px;
	position: relative;
	float: left;
	width: 120px;
	font: 12px 'Microsoft YaHei';
	line-height: 16px;
	text-align: justify;
	text-justify: inter-ideograph;
}

.zhuanti-img {
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
	margin: 15px 5px 15px 0;
}

.zhuanti img {
	width: 100px;
	height: 100px;
        border:none;
}

.guanzhu {
	padding-top: 5px;
}

.guanzhu td a {
	width: 220px;
	overflow: hidden;
	text-overflow: ellipsis;
	font: 13px 'Microsoft YaHei';
	line-height: 15px;
	text-decoration: none;
	color: #000;
	display: inline-block;
	white-space: nowrap;
	margin: 2px 0 1px 0;
}
</style>
<body>
<div class="third-menu">
        <div class="menu-title"><a href="http://weibo.com/nankaiuni" target="_blank">官博</a></div>
        <div class="guanbo">
<iframe width="245" height="400" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=zh_cn&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=1&isWeibo=1&isFans=0&uid=1851774145&verifier=4e1ba554&colors=7f0d6f,ffffff,666666,0082cb,ecfbfd&dpc=1"></iframe>
        </div>
        </div>
        <div class="third-menu">
        	<div class="menu-title"><a href="http://news.nankai.edu.cn/xwzt/system/2010/03/07/000028950.shtml" target="_blank">专题</a></div>
         
<!--function guide_model(zttj,1,2,1,/2014ceshi/small_template/zhuanti.html) parse begin-->
<table width="100%"  >
<tr><td ><div class="zhuanti">
<div class="zhuanti-img"><a href="http://news.nankai.edu.cn/zttj/system/2018/03/01/000369676.shtml" target="_blank"><img src=http://news.nankai.edu.cn/pic/0/00/29/62/296245_618433.jpg /></a></div>
<div class="zhuanti-title"><a href="http://news.nankai.edu.cn/zttj/system/2018/03/01/000369676.shtml"   target="_blank" >【专题】纪念杰出校友周恩来总理诞辰120周年</a></div>
<div class="zhuanti-content">&nbsp;&nbsp;在南开大学杰出校友周恩来诞辰120周年之际，南开师生举办相关纪念活动，共同缅怀周总理的伟大人格和精神风范。</div></td></tr>
<tr><td ><div class="zhuanti">
<div class="zhuanti-img"><a href="http://news.nankai.edu.cn/xwzt/system/2018/04/15/000376955.shtml" target="_blank"><img src=http://news.nankai.edu.cn/pic/0/00/29/63/296365_959782.jpg /></a></div>
<div class="zhuanti-title"><a href="http://news.nankai.edu.cn/xwzt/system/2018/04/15/000376955.shtml"   target="_blank" ><b><font color=#FF0000>【专题】学习贯彻党的十九大精神</font></b></a></div>
<div class="zhuanti-content">&nbsp;&nbsp;不忘初心，牢记使命，高举中国特色社会主义伟大旗帜，决胜全面建成小康社会</div></td></tr>
</table>

<!--function: guide_model(zttj,1,2,1,/2014ceshi/small_template/zhuanti.html) parse end  110ms cost! -->

         </div>
        <div class="third-menu">
        	<div class="menu-title"><a href="http://news.nankai.edu.cn/nkyw/index.shtml" target="_blank">关注</a></div>
         <div class="guanzhu">
         
<!--function guide5($hot7_0,1,10,false,none,none,none,none) parse begin-->
<table width="100%"  >
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000430054.shtml"   target="_blank" >独家V观：习近平鼓励南开学子：志存高远，脚踏实地</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/spxw/system/2019/01/19/000430034.shtml"   target="_blank" >【独家V观】习近平鼓励南开学子：志存高远，脚踏实地</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/spxw/system/2019/01/19/000430017.shtml"   target="_blank" >【新闻联播】央视快评：共同努力把京津冀协同发展这件大事办好</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/spxw/system/2019/01/19/000430016.shtml"   target="_blank" >【新闻联播】牢记总书记嘱托 谱写京津冀协同发展新篇章</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000429974.shtml"   target="_blank" >中国教育报：习近平在京津冀三省市考察并主持召开京津冀协同发展座谈会时强调 稳扎稳打勇于担当敢于创新善作善成 推动京津冀协同发展取得新的更大进展</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000429975.shtml"   target="_blank" >人民日报海外版：在京津冀三省市考察并主持召开京津冀协同发展座谈会 习近平：稳扎稳打 勇于担当 敢于创新 善作善成</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000429976.shtml"   target="_blank" >人民日报海外版：习近平在京津冀三省市考察并主持京津冀协同发展座谈会时强调 稳扎稳打勇于担当敢于创新善作善成 推动京津冀协同发展取得新的更大进展</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/19/000429994.shtml"   target="_blank" >化学学院座谈学习习近平总书记视察南开大学重要讲话精神</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/19/000430015.shtml"   target="_blank" >【新闻联播】牢记总书记嘱托 谱写京津冀协同发展新篇章</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/19/000429995.shtml"   target="_blank" >我校学工系统座谈学习习近平总书记视察南开大学重要讲话精神</a></td></tr>
</table>

<!--function: guide5($hot7_0,1,10,false,none,none,none,none) parse end  171ms cost! -->

         </div>
        </div>
</body>
<!--enorth cms{ 2014new-bl }enorth cms-->

	</div>			
</div>

<!-- content ends -->
<!-- footer starts -->

<!--enorth cms{ new_footer }enorth cms-->
<style type="text/css">
.footer {
	position: relative;
	float: left;
	width: 940px;
	height: 60px;
	color: #717171;
	font-size: 12px !important;
	font-size: 10px;
	line-height: 14px;
}

.footer-left {
	position: relative;
	float: left;
	padding-left: 35px;
}

.footer-right {
	position: relative;
	float: left;
	padding-left: 25px;
}

.footer p {
	margin: 0 0 10px 0;
}

.footer a {
	text-decoration: none;
	color: #717171;
}

.footer a:hover {
	color: #000;
}
</style>

<body>

<div class="footer">
    <div class="footer-left">
        <p>本网站由南开大学新闻中心设计维护 Copyright@2014 津ICP备12003308号-1</p>
        <p>新闻热线：022-85358737  022-23508464  投稿信箱：nknews@nankai.edu.cn</p>
    </div>
    <div class="footer-right">
        <p><a href="http://www.people.com.cn/" target="_blank">人民网</a>
        <a href="http://www.xinhuanet.com/" target="_blank">新华网</a>
        <a href="http://www.gmw.cn/" target="_blank">光明网</a>      
        <a href="http://www.jyb.cn/" target="_blank">中国教育新闻网</a>
        <a href="http://www.stdaily.com/" target="_blank">中国科技网</a>
 <a href="http://www.youth.cn/" target="_blank">中国青年网</a>
       
        <a href="http://world.chinadaily.com.cn/" target="_blank">中国日报网</a>
 <a href="http://www.chinanews.com/" target="_blank">中新网</a >
   
        <p><a href="http://www.nankai.edu.cn/" target="_blank">南开大学</a>
        <a href="http://nankai.en.school.cucas.cn/" target="_blank">英文资讯</a>
        <a href="http://xxgk.nankai.edu.cn/" target="_blank">信息公开网</a>
        <a href="http://urp.nankai.edu.cn/" target="_blank">信息门户</a>
        <a href="http://nkuaa.nankai.edu.cn/ " target="_blank">校友会</a>
        <a href="http://nkuef.nankai.edu.cn/" target="_blank">基金会</a>
        <a href="http://zsb.nankai.edu.cn/" target="_blank">招生办 </a>
        <a href="http://www.lib.nankai.edu.cn/" target="_blank">图书馆</a>
 <a href="http://xuebao.nankai.edu.cn/noscript/xuebao/" target="_blank">学报编辑部</a></p>
      </div>
</div>
</body>
<!--enorth cms{ new_footer }enorth cms-->

<!-- footer ends -->
</div>
</div>
</body>
</html><!--<page cms="enorth webpublisher"  version="5.0.0 /2011101201" server_name="svctag-f76553x" parse_date="2019-03-10 13:13:02" cost="844" parse_result="0" input_mode="manual"></page>-->