<base href="http://eo.nankai.edu.cn/"><!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>南开大学电子信息与光学工程学院 - 南开大学电子信息与光学工程学院</title>
    <link href="/css/site.css?=201902" rel="stylesheet" type="text/css" />
    <link href="/Content/PagedList.css" rel="stylesheet" />
    <script type="text/javascript" charset="utf-8" src="/js/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" charset="utf-8" src="/js/common.js"></script>
</head>
<body>
    

<div class="header">
    <div class="content" style="overflow:visible;">
        <div class="headerLeft">
            <ul>
                <li>
                    <div class="headerLeftDiv">
                        <a target="_blank" href="/">网站首页</a>
                    </div>
                </li>
                <li>
                    <div class="headerLeftDiv">
                        <a target="_blank" href="/CampusService">校园服务</a>
                    </div>
                </li>
                <li>
                    <div class="headerLeftDiv">
                        <a target="_blank" href="#">师生登录</a>
                        <div class="loginDiv">
                            <input class="loginTxt" id="txtUsername" type="text" placeholder="登录名" />
                            <input class="loginPwd" id="txtPassword" type="password" onkeydown="if (event.keyCode == 13) { Login(); return false };" placeholder="密  码" />
                            <input class="loginBtn" type="button" value="登  录" onclick="Login()" />
                        </div>
                    </div>
                </li>
                <li>
                    <div class="headerLeftDiv">
                        <a href="javascript:void(0)">系所及平台</a>
                        <a target="_blank" href="http://it.less.nankai.edu.cn/public/">院仪器共享平台</a>
                        <a target="_blank" href="http://imo.nankai.edu.cn/">现代光学研究所主页</a>
                        <a target="_blank" href="http://ipe.nankai.edu.cn/">光电子薄膜器件与技术研究所</a>
                        <a target="_blank" href="http://nk.tjzbxr.com/">电子信息实验教学中心</a>
                        <a target="_blank" href="http://it.nankai.edu.cn/">原网站</a>
                        
                    </div>
                </li>
            </ul>
        </div>
        <div class="searchBox">
            <div class="inputBox">
                <input id="keywords" name="keywords" type="text" onkeydown="if(event.keyCode==13){ SiteSearch(); return false };" placeholder="请输入关键词" x-webkit-speech="">
            </div>
            <a href="javascript:;" onclick="SiteSearch();"><img src="/images/search.png" /></a>
        </div>
    </div>
</div>
<div class="headerTop">
    <div class="content">
        <div class="headerTopLeft">
            <img src="/images/logo.png" />
        </div>
        
        <div class="headerTopRight">
            <a class="active divLeft">中文</a>
            <a href="http://it.nankai.edu.cn/english/" target="_blank" class="divRight">English</a>
        </div>
        <div class="headerTopImgRight">
            <a href="/PresidentMailbox/"><img src="/images/yzxx1.png" /></a>
        </div>
    </div>
</div>
<div class="showMsg" id="showMsg">
    <span class="msgClose" onclick="displayMsg()"></span>
    
    原 <a href="http://it.nankai.edu.cn/" target="_self">it.nankai.edu.cn</a> 不再更新，本科教学等部分功能模块仍可通过校内网访问。
</div>
<div id="slide-box" class="slide-box">
    <ul class="list-box">
                <li style="opacity: 0;z-index:1;"><a href="/PartyGroup/Detail?id=7299" target="_blank"><img src="/upload/201902/20/201902200107479375.png" alt="电光学院召开学习传达总书记视察南开重要讲话精神座谈会"><span>电光学院召开学习传达总书记视察南开重要讲话精神座谈会</span></a></li>
    </ul>
    <div class="speed-box">
        <div class="speed-btn">
                    <a href="javascript:;" class=""></a>
        </div>
    </div>
</div>

<div class="topMenu">
    <div class="content">
        <ul>
            <li>
                <div class="topMenuDiv">
                    <a>学院概况</a>
                    <a href="/SchoolProfile/GeneralSituation?id=519">学院介绍</a>
                    <a href="/SchoolProfile/PartyLeader">党政领导</a>
                </div>
            </li>
            <li>
                <div class="topMenuDiv">
                    <a href="/SchoolProfile/OrganizationSetting">机构设置</a>
                </div>
            </li>
            <li>
                <div class="topMenuDiv">
                    <a href="/TeachersFaculty/TeachersDetail?title=母国光">师资力量</a>
                </div>
            </li>
            <li>
                <div class="topMenuDiv">
                    <a href="/SchoolProfile/SubjectBuild">学科建设</a>
                </div>
            </li>
            <li>
                <div class="topMenuDiv">
                    <a href="/ScientificResearch/ScientificResearch">科学研究</a>
                </div>
            </li>
            <li>
                <div class="topMenuDiv">
                    <a href="/ScientificResearch/ScientificAchievement">科教成果</a>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="content">
    <div class="lstContent lstContentRight">
        <div class="lstCntTop">
            <span class="djyd">
                &nbsp;
            </span>
            <h3>党团工会</h3>
            <a href="/PartyGroup/" class="lstCntMore">更多</a>
        </div>
        <div class="lstCntBottom">
            <ul>
                <li>
                    <a href="/TheoryLearn/"><span class="cntTextSpan">理论学习</span></a>
                </li>
                        <li>
                            <a href="/PartyGroup/Detail?id=8812"><span class="cntTextSpan">电光学院开展“常忆总理爱国情，争做奋进电光人”系列活动</span><span class="cntDateSpan">19-03-06</span></a>
                        </li>
                        <li>
                            <a href="/PartyGroup/Detail?id=8804"><span class="cntTextSpan">电光学院党委召开新学期工作部署会</span><span class="cntDateSpan">19-03-05</span></a>
                        </li>
                        <li>
                            <a href="/PartyGroup/Detail?id=8802"><span class="cntTextSpan">电光学院团委启动“爱国奋斗新百年 逐梦建功新时代”主题教育实践活动</span><span class="cntDateSpan">19-03-05</span></a>
                        </li>
                        <li>
                            <a href="/PartyGroup/Detail?id=8782"><span class="cntTextSpan">电光学院学习贯彻习近平总书记视察南开大学重要讲话精神暨新学期工作部署会</span><span class="cntDateSpan">19-03-01</span></a>
                        </li>
                        <li>
                            <a href="/PartyGroup/Detail?id=8779"><span class="cntTextSpan">电光学院部署新学期学生党建工作</span><span class="cntDateSpan">19-02-27</span></a>
                        </li>
                        <li>
                            <a href="/PartyGroup/Detail?id=7299"><span class="cntTextSpan">电光学院召开学习传达总书记视察南开重要讲话精神座谈会</span><span class="cntDateSpan">19-01-22</span></a>
                        </li>
                        <li>
                            <a href="/PartyGroup/Detail?id=7298"><span class="cntTextSpan">电光学院全方位多层次学习传达总书记视察南开重要讲话精神</span><span class="cntDateSpan">19-01-20</span></a>
                        </li>
            </ul>
        </div>
    </div>
    <div class="lstContent lstContentRight">
        <div class="lstCntTop">
            <span class="xyxw">
                &nbsp;
            </span>
            <h3>学院新闻</h3>
            <a href="/CollegeNews/" class="lstCntMore">更多</a>
        </div>
        <div class="lstCntBottom">
            <ul>
                        <li>
                            <a href="/CollegeNews/Detail?id=8772"><span class="cntTextSpan">电光学院多层次学习宣传习近平总书记视察南开大学重要讲话精神</span><span class="cntDateSpan">19-02-25</span></a>
                        </li>
                        <li>
                            <a href="/CollegeNews/Detail?id=7249"><span class="cntTextSpan">电子信息与光学工程学院举办推进军民融合项目交流研讨会</span><span class="cntDateSpan">18-11-15</span></a>
                        </li>
                        <li>
                            <a href="/CollegeNews/Detail?id=766"><span class="cntTextSpan">天津市委书记李鸿忠2017.4.25来电光学院现代光学所调研基层党建和教</span><span class="cntDateSpan">17-09-15</span></a>
                        </li>
                        <li>
                            <a href="/CollegeNews/Detail?id=767"><span class="cntTextSpan">龚克到电子信息与光学工程学院讲党课</span><span class="cntDateSpan">16-12-05</span></a>
                        </li>
                        <li>
                            <a href="/CollegeNews/Detail?id=768"><span class="cntTextSpan">魏大鹏书记开学首日到电光学院调研</span><span class="cntDateSpan">16-09-13</span></a>
                        </li>
                        <li>
                            <a href="/CollegeNews/Detail?id=769"><span class="cntTextSpan">龚克校长看望电光学院“公益晨跑 爱在庄浪”社会实践队员</span><span class="cntDateSpan">16-07-31</span></a>
                        </li>
                        <li>
                            <a href="/CollegeNews/Detail?id=770"><span class="cntTextSpan">龚克校长调研电光学院搬迁工作</span><span class="cntDateSpan">15-10-28</span></a>
                        </li>
            </ul>
        </div>
    </div>
    <div class="lstContent">
        <div class="lstCntTop">
            <span class="tzgg">
                &nbsp;
            </span>
            <h3>通知公告</h3>
            <a href="/Notice/" class="lstCntMore">更多</a>
        </div>
        <div class="lstCntBottom">
            <ul>
                        <li>
                            <a href="/Notice/Detail?id=8776"><span class="cntTextSpan">【电赛通知】关于2019年南开大学电子设计竞赛暨2019年全国大学生电子设计竞赛选拔赛的通知</span><span class="cntDateSpan">2019-02-26</span></a>
                        </li>
                        <li>
                            <a href="/Notice/Detail?id=8773"><span class="cntTextSpan">关于遴选2019“知行中国—中美高校学生领袖学院”项目中方学生的通知</span><span class="cntDateSpan">2019-02-26</span></a>
                        </li>
                        <li>
                            <a href="/Notice/Detail?id=8332"><span class="cntTextSpan">关于电光学院网站切换的说明</span><span class="cntDateSpan">2019-02-21</span></a>
                        </li>
                        <li>
                            <a href="/Notice/Detail?id=7256"><span class="cntTextSpan">关于开展第十九届“天津青年五四奖章”评选活动的通知</span><span class="cntDateSpan">2019-02-19</span></a>
                        </li>
                        <li>
                            <a href="/Notice/Detail?id=7254"><span class="cntTextSpan">关于做好2019年因公临时出国（境）计划及严格执行因公临时出国（境）有关规定的通知</span><span class="cntDateSpan">2018-11-30</span></a>
                        </li>
                        <li>
                            <a href="/Notice/Detail?id=7255"><span class="cntTextSpan">关于启用出国境申请流程测试版的通知</span><span class="cntDateSpan">2018-11-30</span></a>
                        </li>
                        <li>
                            <a href="/Notice/Detail?id=7253"><span class="cntTextSpan">关于评审南开大学盛帆奖教金的通知</span><span class="cntDateSpan">2018-11-27</span></a>
                        </li>
            </ul>
        </div>
    </div>
    <div class="centerImgs" style="height:360px;">
        <div class="centerImg">
            <div class="centerImgDiv">
                <div class="lstCntTop">
                    <span class="zxkycg" style="display:inline-block;width:35px;height:30px;line-height:32px;position:inherit;background-color:rgba(0,0,0,0);">
                        &nbsp;
                    </span>
                    <h3>最新科研成果</h3>
                </div>
                <div id="slide-box1" class="slide-box1 lstCntBottom" style="height:321px;">
                    <ul class="list-box">
                                <li style="opacity: 0;z-index:1;"><a href="/ScientificResearch/MajorAchievement?id=522" target="_blank"><img src="/upload/201804/02/201804021236018499.jpg" alt="神经网络理论及其智能信息处理应用基础"><span>神经网络理论及其智能信息处理应用基础</span></a></li>
                    </ul>
                    <div class="speed-box">
                        <div class="speed-btn">
                                    <a href="javascript:;" class=""></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="lstContent lstContentRight">
        <div class="lstCntTop">
            <span class="bkjx">
                &nbsp;
            </span>
            <h3>本科教学</h3>
            <a href="/EducationTeach/" class="lstCntMore">更多</a>
        </div>
        <div class="lstCntBottom">
            <ul>
                    <li>
                        <a href="/EducationTeach/EducationTeachDetail?id=8820"><span class="cntTextSpan">电光学院2019年申报“国创”、“市创”项目评审结果公示</span><span class="cntDateSpan">2019-03-10</span></a>
                    </li>
                    <li>
                        <a href="/EducationTeach/EducationTeachDetail?id=8819"><span class="cntTextSpan">2019年与韩国互换奖学金项目简章</span><span class="cntDateSpan">2019-03-08</span></a>
                    </li>
                    <li>
                        <a href="/EducationTeach/EducationTeachDetail?id=8816"><span class="cntTextSpan">法国南特中央理工交换生项目（南开）申报通知</span><span class="cntDateSpan">2019-03-07</span></a>
                    </li>
                    <li>
                        <a href="/EducationTeach/EducationTeachDetail?id=8811"><span class="cntTextSpan">【毕业】2019届本科毕业生延期或提前毕业申请</span><span class="cntDateSpan">2019-03-06</span></a>
                    </li>
                    <li>
                        <a href="/EducationTeach/EducationTeachDetail?id=8810"><span class="cntTextSpan">【竞赛】2019年天津市大学生物理竞赛报名通知</span><span class="cntDateSpan">2019-03-06</span></a>
                    </li>
                    <li>
                        <a href="/EducationTeach/EducationTeachDetail?id=8803"><span class="cntTextSpan">2018-2019学年度第二学期本科课程助教选聘名单公布与培训通知</span><span class="cntDateSpan">2019-03-05</span></a>
                    </li>
                    <li>
                        <a href="/EducationTeach/EducationTeachDetail?id=8792"><span class="cntTextSpan">国家留学基金委领导公派政策解读宣讲会通知</span><span class="cntDateSpan">2019-03-04</span></a>
                    </li>
            </ul>
        </div>
    </div>
    <div class="lstContent lstContentRight">
        <div class="lstCntTop">
            <span class="yjsjx">
                &nbsp;
            </span>
            <h3>研究生教学</h3>
            <a href="/EducationTeach/Postgraduate/" class="lstCntMore">更多</a>
        </div>
        <div class="lstCntBottom">
            <ul>
                
                    <li>
                        <a href="/EducationTeach/PostgraduateDetail?id=8813"><span class="cntTextSpan">2018-2019学年第二学期授予博士、硕士学位工作的通知</span><span class="cntDateSpan">2019-03-06</span></a>
                    </li>
                    <li>
                        <a href="/EducationTeach/PostgraduateDetail?id=8806"><span class="cntTextSpan">2018-2019学年度第二学期专业学位研究生（双证）论文评阅及答辩工作的通知</span><span class="cntDateSpan">2019-03-05</span></a>
                    </li>
                    <li>
                        <a href="/EducationTeach/PostgraduateDetail?id=8796"><span class="cntTextSpan">2019年南开大学硕士研究生电光学院上调复试分数线汇总</span><span class="cntDateSpan">2019-03-04</span></a>
                    </li>
                    <li>
                        <a href="/EducationTeach/PostgraduateDetail?id=8795"><span class="cntTextSpan">2019年南开大学硕士研究生复试分数线</span><span class="cntDateSpan">2019-03-04</span></a>
                    </li>
                    <li>
                        <a href="/EducationTeach/PostgraduateDetail?id=8781"><span class="cntTextSpan">2019年硕士生指导教师分专业列表</span><span class="cntDateSpan">2019-03-01</span></a>
                    </li>
                    <li>
                        <a href="/EducationTeach/PostgraduateDetail?id=8775"><span class="cntTextSpan">2019年专业学位硕士研究生学制为三年</span><span class="cntDateSpan">2019-02-26</span></a>
                    </li>
                    <li>
                        <a href="/EducationTeach/PostgraduateDetail?id=8334"><span class="cntTextSpan">电光学院集成电路工程专业（085209）可招生指导教师名单</span><span class="cntDateSpan">2019-02-22</span></a>
                    </li>
            </ul>
        </div>
    </div>
    <div class="lstContent">
        <div class="lstCntTop">
            <span class="yjszs">
                &nbsp;
            </span>
            <h3>研究生招生</h3>
            <a href="/Recruitment/" class="lstCntMore">更多</a>
        </div>
        <div class="lstCntBottom">
            <ul>
                        <li>
                            <a href="/Recruitment/Detail?id=8815"><span class="cntTextSpan">2019年（第二批） “申请考核制”博士研究生招生实施办法</span><span class="cntDateSpan">2019-03-07</span></a>
                        </li>
                        <li>
                            <a href="/Recruitment/Detail?id=8814"><span class="cntTextSpan">南开大学电光学院2019年全日制硕士研究生复试办法</span><span class="cntDateSpan">2019-03-06</span></a>
                        </li>
                        <li>
                            <a href="/Recruitment/Detail?id=8807"><span class="cntTextSpan">2019年电光学院硕士研究生复试时间地点</span><span class="cntDateSpan">2019-03-06</span></a>
                        </li>
                        <li>
                            <a href="/Recruitment/Detail?id=8798"><span class="cntTextSpan">2019年南开大学硕士研究生电光学院上调复试分数线汇总</span><span class="cntDateSpan">2019-03-05</span></a>
                        </li>
                        <li>
                            <a href="/Recruitment/Detail?id=8797"><span class="cntTextSpan">2019年南开大学硕士研究生复试分数线</span><span class="cntDateSpan">2019-03-05</span></a>
                        </li>
                        <li>
                            <a href="/Recruitment/Detail?id=8767"><span class="cntTextSpan">电子信息与光学工程学院2019级工程硕士专业领域集成电路工程（085209）可招生指导教师名单</span><span class="cntDateSpan">2019-02-25</span></a>
                        </li>
                        <li>
                            <a href="/Recruitment/Detail?id=7285"><span class="cntTextSpan">入选硕博连读的学生需要履行博士报名手续</span><span class="cntDateSpan">2018-11-26</span></a>
                        </li>
            </ul>
        </div>
    </div>
    <div class="lstContent lstContentRight">
        <div class="lstCntTop">
            <span class="xszc">
                &nbsp;
            </span>
            <h3>学生之窗</h3>
            <a href="/StudentActive/" class="lstCntMore">更多</a>
        </div>
        <div class="lstCntBottom">
            <ul>
                        <li>
                            <a href="/StudentActive/Detail?id=7258"><span class="cntTextSpan">关于南开大学2018年度研究生国防科技奖学金评选工作的通知</span><span class="cntDateSpan">2018-12-12</span></a>
                        </li>
                        <li>
                            <a href="/StudentActive/Detail?id=8335"><span class="cntTextSpan">电光学院团委学习贯彻习近平总书记视察南开大学重要讲话精神座谈会召开</span><span class="cntDateSpan">2019-02-23</span></a>
                        </li>
                        <li>
                            <a href="/StudentActive/Detail?id=7263"><span class="cntTextSpan">电光学院2018-2019学年度第二学期本科生勤工助学工作的通知</span><span class="cntDateSpan">2019-02-18</span></a>
                        </li>
                        <li>
                            <a href="/StudentActive/Detail?id=7262"><span class="cntTextSpan">寒假假期安全温馨提示</span><span class="cntDateSpan">2019-01-21</span></a>
                        </li>
                        <li>
                            <a href="/StudentActive/Detail?id=7261"><span class="cntTextSpan">电光学院多措并举开展考试周学风考纪主题教育活动</span><span class="cntDateSpan">2019-01-07</span></a>
                        </li>
                        <li>
                            <a href="/StudentActive/Detail?id=7260"><span class="cntTextSpan">2018-2019学年冬季毕业研究生退宿退费流程</span><span class="cntDateSpan">2018-12-14</span></a>
                        </li>
                        <li>
                            <a href="/StudentActive/Detail?id=7259"><span class="cntTextSpan">电光志愿者在津南区图书馆开展美育授课活动</span><span class="cntDateSpan">2018-12-13</span></a>
                        </li>
            </ul>
        </div>
    </div>
    <div class="lstContent lstContentRight">
        <div class="lstCntTop">
            <span class="kydt">
                &nbsp;
            </span>
            <h3>科研动态</h3>
            <a href="/ResearchDynamic/" class="lstCntMore">更多</a>
        </div>
        <div class="lstCntBottom">
            <ul>
                        <li>
                            <a href="/ResearchDynamic/Detail?id=8791"><span class="cntTextSpan">关于申报2019年度国家自然科学基金委员会与欧盟委员会“中欧人才项目”的通知</span><span class="cntDateSpan">2019-03-04</span></a>
                        </li>
                        <li>
                            <a href="/ResearchDynamic/Detail?id=8765"><span class="cntTextSpan">关于2019年度教育部、天津市等科学技术奖励申报工作校内预征集</span><span class="cntDateSpan">2019-02-25</span></a>
                        </li>
                        <li>
                            <a href="/ResearchDynamic/Detail?id=7291"><span class="cntTextSpan">关于国家自然科学基金委员会-中国科学院空间科学卫星科学研究联合基金2019年度项目指南的通知</span><span class="cntDateSpan">2019-01-15</span></a>
                        </li>
                        <li>
                            <a href="/ResearchDynamic/Detail?id=7290"><span class="cntTextSpan">关于2019年度国家自然科学基金项目申请事项的通知</span><span class="cntDateSpan">2019-01-10</span></a>
                        </li>
                        <li>
                            <a href="/ResearchDynamic/Detail?id=7289"><span class="cntTextSpan">关于2019年度国家自然科学基金委员会与美国国立卫生研究院生物医学合作研究项目指南的通知</span><span class="cntDateSpan">2019-01-09</span></a>
                        </li>
                        <li>
                            <a href="/ResearchDynamic/Detail?id=7288"><span class="cntTextSpan">关于申报2019年天津市自然科学基金项目的通知</span><span class="cntDateSpan">2019-01-02</span></a>
                        </li>
                        <li>
                            <a href="/ResearchDynamic/Detail?id=7287"><span class="cntTextSpan">国家自然科学基金项目结题决算流程说明</span><span class="cntDateSpan">2018-12-21</span></a>
                        </li>
            </ul>
        </div>
    </div>
    <div class="lstContent">
        <div class="lstCntTop">
            <span class="xsjl">
                &nbsp;
            </span>
            <h3>学术交流</h3>
            <a href="/AcademicExchange/" class="lstCntMore">更多</a>
        </div>
        <div class="lstCntBottom">
            <ul>
                        <li>
                            <a href="/AcademicExchange/Detail?id=8777"><span class="cntTextSpan">学术讲座——Prof.Haotian Wang</span><span class="cntDateSpan">2019-02-27</span></a>
                        </li>
                        <li>
                            <a href="/AcademicExchange/Detail?id=7307"><span class="cntTextSpan">今日电光——2019年基金申报动员会</span><span class="cntDateSpan">2019-01-02</span></a>
                        </li>
                        <li>
                            <a href="/AcademicExchange/Detail?id=7306"><span class="cntTextSpan">关于对国家重点研发计划政府间国际科技创新合作/港澳台科技创新合作重点专项2019年第一批项目申报指南</span><span class="cntDateSpan">2018-12-24</span></a>
                        </li>
                        <li>
                            <a href="/AcademicExchange/Detail?id=7305"><span class="cntTextSpan">今日电光学术沙龙——浅析车联网关键技术</span><span class="cntDateSpan">2018-12-17</span></a>
                        </li>
                        <li>
                            <a href="/AcademicExchange/Detail?id=7304"><span class="cntTextSpan">今日电光学术沙龙——赵星教授主讲</span><span class="cntDateSpan">2018-11-12</span></a>
                        </li>
                        <li>
                            <a href="/AcademicExchange/Detail?id=7303"><span class="cntTextSpan">学术沙龙——岳洋教授讲座</span><span class="cntDateSpan">2018-11-05</span></a>
                        </li>
                        <li>
                            <a href="/AcademicExchange/Detail?id=7302"><span class="cntTextSpan">学术讲座—Olindo Isabella, Associate Professor</span><span class="cntDateSpan">2018-10-31</span></a>
                        </li>
            </ul>
        </div>
    </div>
    <div class="lstContent lstContentRight">
        <div class="lstCntTop">
            <span class="dgxy">
                &nbsp;
            </span>
            <h3>电光校友</h3>
            <a href="/AlumnaCenter/" class="lstCntMore">更多</a>
        </div>
        <div class="lstCntBottom">
            <ul>
                        <li>
                            <a href="/AlumnaCenter/Detail?id=7312"><span class="cntTextSpan">电光学院1994级电子系校友毕业20周年返校</span><span class="cntDateSpan">2018-09-23</span></a>
                        </li>
                        <li>
                            <a href="/AlumnaCenter/Detail?id=7313"><span class="cntTextSpan">电光学院88级电子系校友重返母校</span><span class="cntDateSpan">2018-09-09</span></a>
                        </li>
                        <li>
                            <a href="/AlumnaCenter/Detail?id=7314"><span class="cntTextSpan">电光学院2008届校友毕业十周年返校</span><span class="cntDateSpan">2018-07-19</span></a>
                        </li>
                        <li>
                            <a href="/AlumnaCenter/Detail?id=799"><span class="cntTextSpan">LAB8920实验室成立 校友捐赠原价值600万元设备</span><span class="cntDateSpan">2014-07-03</span></a>
                        </li>
            </ul>
        </div>
    </div>
    <div class="lstContent lstContentRight">
        <div class="lstCntTop">
            <span class="gjhz">
                &nbsp;
            </span>
            <h3>实验室管理</h3>
            <a href="/GlobalCooperation/" class="lstCntMore">更多</a>
        </div>
        <div class="lstCntBottom">
            <ul>
                        <li>
                            <a href="/GlobalCooperation/Detail?id=8338"><span class="cntTextSpan">2019年上半年易制毒化学品申购通知</span><span class="cntDateSpan">2019-02-25</span></a>
                        </li>
                        <li>
                            <a href="/GlobalCooperation/Detail?id=6240"><span class="cntTextSpan">电光学院举办首届实验室技术安全宣传月</span><span class="cntDateSpan">2018-10-20</span></a>
                        </li>
                        <li>
                            <a href="/GlobalCooperation/Detail?id=8785"><span class="cntTextSpan">电光学院加强实验室安全管理工作</span><span class="cntDateSpan">2019-02-26</span></a>
                        </li>
                        <li>
                            <a href="/GlobalCooperation/Detail?id=8770"><span class="cntTextSpan">关于开展南开大学实验气体供应商服务情况调查工作的通知</span><span class="cntDateSpan">2019-02-25</span></a>
                        </li>
                        <li>
                            <a href="/GlobalCooperation/Detail?id=7283"><span class="cntTextSpan">寒假期间实验室技术安全温馨提示</span><span class="cntDateSpan">2019-01-19</span></a>
                        </li>
                        <li>
                            <a href="/GlobalCooperation/Detail?id=6243"><span class="cntTextSpan">电光学院开展实验室安全大检查</span><span class="cntDateSpan">2019-01-08</span></a>
                        </li>
            </ul>
        </div>
    </div>
    <div class="lstContent">
        <div class="lstCntTop">
            <span class="cyxz">
                &nbsp;
            </span>
            <h3>常用下载</h3>
            <a href="/Download/" class="lstCntMore">更多</a>
        </div>
        <div class="lstCntBottom">
            <ul>
                        <li>
                            <a href="/upload/201812/27/201812270930378388.pdf" target="_blank"><span class="cntTextSpan">南开大学中文核心期刊（测试）</span><span class="cntDateSpan">2018-12-27</span></a>
                        </li>
                        <li>
                            <a href="/upload/201812/27/201812270924057666.doc" target="_blank"><span class="cntTextSpan">南开大学硕士学位研究生教学实习报告书</span><span class="cntDateSpan">2018-12-27</span></a>
                        </li>
                        <li>
                            <a href="/upload/201902/19/201902190246423906.pdf" target="_blank"><span class="cntTextSpan">南开大学实验室技术安全管理制度汇编</span><span class="cntDateSpan">2019-02-19</span></a>
                        </li>
                        <li>
                            <a href="/upload/201901/06/201901062312591552.txt" target="_blank"><span class="cntTextSpan">电子信息科学与技术专业</span><span class="cntDateSpan">2019-01-06</span></a>
                        </li>
            </ul>
        </div>
    </div>
    <div class="centerImgs">
        <div class="lstCntTop">
            <span class="xyfc">
                &nbsp;
            </span>
            <h3>校园风采</h3>
        </div>
        <div class="lstCntBottom">
                    <img class="centerImg" src="/upload/201803/06/201803061048055769.png" />
                    <img class="centerImg" src="/upload/201803/06/201803061050232472.png" />
                    <img class="centerImg" src="/upload/201803/06/201803061052227278.png" />
                    <img class="centerImg" src="/upload/201803/06/201803061109264524.png" />
        </div>
    </div>
</div>
<div class="footer">
    <div class="content">
        <div class="footerLeft">
            <div class="footerLeftTop">
                <ol>
                    <li>
                        <a href="javascript:void(0)">网站地图</a>
                        <a>></a>
                    </li>
                    <li>
                        <a href="/CollegeNews/">新闻中心</a>
                        <a>></a>
                    </li>
                    <li>
                        <a href="/SchoolProfile/GeneralSituation?id=519">学院简介</a>
                        <a>></a>
                    </li>
                    <li>
                        <a href="#">联系我们</a>
                        <a>></a>
                    </li>
                </ol>
            </div>
            
            <div class="footerLeftMiddle">天津海河教育园区同砚路38号 </div>
            
                <div class="footerLeftBottom">
                    <div>
                        访客数： 49403
                    </div>
                </div>
        </div>
        
    </div>
</div>

<script type="text/javascript" charset="utf-8" src="/js/jqslider.js?2"></script>
<script type="text/javascript">
    $(function () {
        $("#slide-box").jqslider(); //初始化幻灯片
        $("#slide-box1").jqslider(false, false); //初始化幻灯片
    });
    function displayMsg() {
        $("#showMsg").css({ "display": "none" });
    }
</script>
</body>
</html>
