<base href="http://sklmcb.nankai.edu.cn/"><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<title>药物化学生物学国家重点实验室</title>
<meta name="keywords" content="药物化学生物学国家重点实验室" />
<meta name="description" content="药物化学生物学国家重点实验室" />
<link href="/template/css/reset.css" rel="stylesheet" type="text/css" />
<link href="/template/css/common.css" rel="stylesheet" type="text/css" />
<link href="/template/css/index.css" rel="stylesheet" type="text/css" />
<script language="javascript" type="text/javascript" src="/template/js/jquery-1.4.2.min.js"></script>
<script language="javascript" type="text/javascript" src="/template/js/subNav.js"></script>
<script language="javascript" type="text/javascript" src="/template/js/jquery.ggvBannerFactory.js"></script>
<script language="javascript" type="text/javascript" src="/template/js/fadeImage.js"></script>
<script type="text/javascript">
$(document).ready(function() {
	$('.mainNav').subNav({
		speed:100,
		slide:true,
		hover:true,
		current:"zhome"
	});
	
	$('.adv').fadeImage({
		speed: 1000,
		duration:5000
	});

	//
});
</script>

</head>
<body>
<div id="gg1" style="position:relative; z-index:9999;">
     
 </div>
<script language="javascript" type="text/javascript" src="/template/js/scroll.js"></script>
<script type="text/javascript">
    <!--
        var ad1=new AdMove("gg1");
        ad1.Run();

    //-->
    </script>
<div class="wrap">
	<!--<script type="text/javascript">
$(document).ready(function() {	
	$.get("/test.asp?action=false",function(data){
		$(".users").append(data);
	});
	//
});
</script>-->
<script type="text/javascript">    
$(function() {

      $("ul.mainNav li").each(function(index){
        if($(this).find("ul li").length <= 2) {
		   $(this).find("ul").remove();
	}
    });
});
</script>

<div class="header">
		<div class="top">
			<h1><img src="/template/images/logo.png" /></h1>
			<span class="users" style="padding-left:10px;"></span><span><a href="http://eng.sklmcb.nankai.edu.cn/"><img src="/template/images/english.png" /></a></span>
		</div>
		<div class="nav">
			<!--start:mainNav-->
			<ul class="mainNav">
				<li class="zhome"><a href="/"></a></li>
				<li class="zabout"><a href="/?list-1338.html"></a>
					<ul>
						<span></span>
						<li class="nleft"><img src="/template/images/nav/navleft.png" /></li>
						
<li><a href="/?list-1338.html">简  介</a></li>

<li><a href="/?list-1339.html">组织结构</a></li>

<li><a href="/?list-1438.html">党团建设</a></li>

<li><a href="/?list-1340.html">学术委员会</a></li>

<li><a href="/?list-1427.html">室务委员会</a></li>

						<li class="nright"><img src="/template/images/nav/navright.png" /></li>
					</ul>
				</li>
				<li class="zfx"><a href="/?list-1345.html"></a></li>
				<li class="zteam"><a href="/?list-1343.html"></a>
					<ul>
						<span></span>
						<li class="nleft"><img src="/template/images/nav/navleft.png" /></li>
						
<li><a href="/?list-1343.html">简介</a></li>

<li><a href="/?list-1392.html">研究团队</a></li>

						<li class="nright"><img src="/template/images/nav/navright.png" /></li>
					</ul>
				</li>
				<li class="znews"><a href="/?list-1346.html"></a>
					<ul>
						<span></span>
						<li class="nleft"><img src="/template/images/nav/navleft.png" /></li>
						
<li><a href="/?list-1362.html">实验室新闻</a></li>

<li><a href="/?list-1363.html">通知公告</a></li>

<li><a href="/?list-1423.html">工作通告</a></li>

<li><a href="/?list-1428.html">党建专栏</a></li>

						<li class="nright"><img src="/template/images/nav/navright.png" /></li>
					</ul>
				</li>
				<li class="zkjcx"><a href="/?list-1348.html"></a>
					<ul>
						<span></span>
						<li class="nleft"><img src="/template/images/nav/navleft.png" /></li>
						
<li><a href="/?list-1349.html">科研条件</a></li>

<li><a href="/?list-1348.html">科研课题</a></li>

<li><a href="/?list-1367.html">科研进展</a></li>

						<li class="nright"><img src="/template/images/nav/navright.png" /></li>
					</ul>
				</li>
				<li class="zclass"><a href="/?list-1429.html"></a></li>
				<li class="zoa"><a href="http://sklmcb.less.nankai.edu.cn/public/"></a>
					<ul>
						<span></span>
						<li class="nleft"><img src="/template/images/nav/navleft.png" /></li>
						
						<li class="nright"><img src="/template/images/nav/navright.png" /></li>
					</ul>
				</li>
				<li class="zrcsz"><a href="/?list-1352.html"></a>
					<ul>
						<span></span>
						<li class="nleft"><img src="/template/images/nav/navleft.png" /></li>
						
<li><a href="/?list-1352.html">师资队伍</a></li>

<li><a href="/?list-1353.html">研究生培养</a></li>

<li><a href="/?list-1372.html">人才招聘</a></li>

<li><a href="/?list-1420.html">博士后工作</a></li>

						<li class="nright"><img src="/template/images/nav/navright.png" /></li>
					</ul>
				</li>
				<li class="zxsjl"><a href="/?list-1355.html"></a>
					<ul>
						<span></span>
						<li class="nleft"><img src="/template/images/nav/navleft.png" /></li>
						
<li><a href="/?list-1355.html">学术成果</a></li>

<li><a href="/?list-1365.html">学术活动</a></li>

<li><a href="/?list-1398.html">近期发表文章</a></li>

						<li class="nright"><img src="/template/images/nav/navright.png" /></li>
					</ul>
				</li>
				<li class="zmanage"><a href="/?list-1358.html"></a>
					<ul>
						<span></span>
						<li class="nleft"><img src="/template/images/nav/navleft.png" /></li>
						
<li><a href="/?list-1431.html">工作简报</a></li>

<li><a href="/?list-1384.html">国家政策法规</a></li>

<li><a href="/?list-1385.html">实验室规章制度</a></li>

<li><a href="/?list-1359.html">资料下载</a></li>

<li><a href="/?list-1444.html">实验室安全</a></li>

						<li class="nright"><img src="/template/images/nav/navright.png" /></li>
					</ul>
				</li>
				<li class="zcontact"><a href="/?list-1357.html"></a></li>
			</ul>
			<!--end:mainNav-->
		</div>
		<div class="banner"><IFRAME border=0 marginWidth=0 marginHeight=0 src="/banner.asp" frameBorder=no width=998 scrolling=no height=247></IFRAME></div>
	</div>
	
	<div class="main">
		<div class="ibox">
			<!--start:notice-->
			<div class="inotice">
				<h2><span><a href="/?list-1346.html"><img src="/template/images/more.gif" /></a></span><img src="/template/images/index/inotice.jpg" /></h2>
				<ul>
					 
<li><a href="/?info-252-1.html" target="_blank"><span>2015-11-02</span>招聘启事</a></li>
 
<li><a href="/?info-406-1.html" target="_blank"><span>2019-03-03</span>南开大学面向国内外公开招聘药物</a></li>
 
<li><a href="/?info-405-1.html" target="_blank"><span>2019-01-14</span>南开大学韩际宏教授团队成果荣获</a></li>
 
<li><a href="/?info-404-1.html" target="_blank"><span>2019-01-14</span>第七届药学领域国家重点实验室发</a></li>
 
<li><a href="/?info-403-1.html" target="_blank"><span>2019-01-03</span>重要通知</a></li>

				</ul>
			</div>
			<!--end:notice-->
			
			<!--start:progress-->
			<div class="iprogress">
				<h2><img src="/template/images/index/iprogress.jpg" /></h2>
				<label>
					<em>
						<div class="adv">
							<ul>
								
<li><a href="http://"><img src="/UploadFiles/2014-10/2014102216200756288.jpg" /></a></li>

<li><a href="http://"><img src="/UploadFiles/2014-10/2014102216200756288.jpg" /></a></li>

<li><a href="http://"><img src="/UploadFiles/2014-10/2014102216200756288.jpg" /></a></li>

							</ul>
							<ol>
								
<li>●</li>

<li>●</li>

<li>●</li>

							</ol>
						</div>

					</em>
					<strong>承担 6 项国家重大科技专项课题、14 项 973 子课题；以及国家自然科学基金重点及国际合作项目。五年获得的总经费 1.5 亿元。实验室参加成员在过去 5 年间发表……<p><a href="/?list-1367.html"><img src="/template/images/more.png" /></a></p></strong>
				</label>
			</div>
			<!--end:progress-->
			
			<!--start:laws-->
			<div class="ilaws">
				<h2><span><a href="/?list-1358.html"><img src="/template/images/more.gif" /></a></span><img src="/template/images/index/ilaws.jpg" /></h2>
				<ul>

					 
<li><a href="/UploadFiles/2015-04/admin/2015043009584164240.pdf"><span>2015-04-30</span>药物化学生物学国家重点实验</a></li>
 
<li><a href="/UploadFiles/2013-07/admin/2013071117241513735.pdf"><span>2013-07-11</span>国家重点实验室评估实施细则</a></li>
 
<li><a href="/UploadFiles/2013-07/admin/2013071117232279872.pdf"><span>2013-07-11</span>国家重点实验室建设与管理暂</a></li>
 
<li><a href="/UploadFiles/2013-06/admin/2013062016084384264.pdf"><span>2013-06-20</span>国家重点实验室经费管理办法</a></li>
 
<li><a href="/UploadFiles/2013-06/admin/2013062016051674023.pdf"><span>2013-06-20</span>国家重点实验室评估规则（国科</a></li>

				</ul>
			</div>
			<!--end:laws-->
		</div>
		
		<div class="ibox">
			<!--start:iactivities-->
			<div class="iactivities">
				<h2><span><a href="/?list-1365.html"><img src="/template/images/more.gif" /></a></span><img src="/template/images/index/iactivities.jpg" /></h2>
				<ul>
					 
<li><a href="/?info-395-1.html" target="_blank"><span>2018-11-27</span>学术交流</a></li>
 
<li><a href="/?info-394-1.html" target="_blank"><span>2018-11-27</span>伯苓生命科学论坛</a></li>
 
<li><a href="/?info-390-1.html" target="_blank"><span>2018-10-29</span>室内学术交流</a></li>
 
<li><a href="/?info-387-1.html" target="_blank"><span>2018-10-16</span>室内学术交流</a></li>
 
<li><a href="/?info-383-1.html" target="_blank"><span>2018-09-15</span>伯苓生命科学论坛</a></li>

				</ul>
			</div>
			<!--end:iactivities-->
			
			<!--start:iarticle-->
			<div class="iarticle">
				<h2><img src="/template/images/index/iarticles.jpg" /></h2>
				<ul>
					 
<li><a href="/?info-402-1.html" target="_blank"><span>2018-12-17</span>新型纳米材料干扰β-淀粉样蛋白寡聚体形成并促进小胶</a></li>
 
<li><a href="/?info-396-1.html" target="_blank"><span>2018-11-29</span>南开大学团队研获“分子盔甲”抗体药物将不再“娇弱</a></li>
 
<li><a href="/?info-392-1.html" target="_blank"><span>2018-11-21</span>南开大学团队研获新型“分手”利器 高效分离手性分子</a></li>
 
<li><a href="/?info-388-1.html" target="_blank"><span>2018-10-29</span>南开大学饶子和院士团队在《Science》发表长文 破解</a></li>
 
<li><a href="/?info-386-1.html" target="_blank"><span>2018-10-11</span>国家重大仪器专项项目“面向生命科学的原位显微分析</a></li>

					<li class="last"><span><a href="/?list-1398.html"><img src="/template/images/more.png" /></a></span></li>
				</ul>
			</div>
			<!--end:iarticle-->
			
			<!--start:ilinks-->
			<div class="ilinks">
				<h2><img src="/template/images/index/ilinks.jpg" /></h2>
				<ul>
					 
<li>> <a href="http://www.nankai.edu.cn/">南开大学</a></li> 
 
<li>> <a href="http://www.most.gov.cn/">中国科技部</a></li> 
 
<li>> <a href="http://www.nsfc.gov.cn/">国家自然基金委</a></li> 
 
<li>> <a href="http://www.moe.edu.cn/">中国教育部</a></li> 
 
<li>> <a href="http://www.tstc.gov.cn/">天津市科委</a></li> 
 
<li>> <a href="http://std.nankai.edu.cn/">南开大学科技处</a></li> 
 
<li>> <a href="http://zzb.nankai.edu.cn/">南开大学党委组织部</a></li> 
 
<li>> <a href="http://pharmacy.nankai.edu.cn/party.aspx">药学院党委</a></li> 


					<li class="big"><a href="http://nankai.edu.cn/" target="_blank"><img src="/template/images/email.jpg" /></a> <a href="mailto:sklmcb@nankai.edu.cn/" target="_blank"><img src="/UploadFiles/zhu.jpg" /></a></li>
<li class="big"><a href="http://sklmcb.less.nankai.edu.cn/public/" target="_blank"><img src="/template/images/yqpt.jpg" /></a> <a href="/?list-1357.html"><img src="/template/images/icontact.jpg" /></a></li>
			        </ul>
			</div>
			<!--end:ilinks-->
		</div>
	</div>
	<div class=footer>©药物化学生物学国家重点实验室 天津市卫津路94号 [300071] <SPAN style="DISPLAY: none"><script src="http://s25.cnzz.com/stat.php?id=5495439&web_id=5495439&show=pic1" language="JavaScript"></script></SPAN></div>
<div class=code><img border=0 alt="" src="/UploadFiles/2017-09/2017091210231383481.jpg"></div>	
</div>
</body>
</html>
