<base href="http://news.nankai.edu.cn/xfjs/system/2018/11/13/000418647.shtml"><HTML>
<HEAD>
<title>南开大学关于建立健全师德建设长效机制的实施办法--学风建设专题</title>

<style type="text/css">
<!--
body {
	background-color: #e6e7e9;
}

-->
</style></HEAD>
<BODY LEFTMARGIN=0 TOPMARGIN=0 MARGINWIDTH=0 MARGINHEIGHT=0>


<body>
<div align="center">
  <table width="950" border="0" cellspacing="0" bgcolor="#FFFFFF">
    <tr valign="bottom" bgcolor="#FFFFFF">
      <td colspan="4" height="120"><div id="logo">
<!--enorth cms{ banner-xf }enorth cms-->
<div align="center"><img src="http://news.nankai.edu.cn/pic/0/00/03/53/35304_345297.jpg" width="950" height="126"></div>

<!--enorth cms{ banner-xf }enorth cms-->
</div>        </td>
    </tr>
    <tr valign="top" bgcolor="#FFFFFF">
      <td colspan="4"><table width="950" border="0" cellspacing="0" cellpadding="0">
        <tr bgcolor="CCCDCF">
          <td width="45" height="23">&nbsp;</td>
          <td width="581" height="23">
<!--function position() parse begin-->
您当前的位置 ：<a href=http://news.nankai.edu.cn/xfjs/>学风建设专题</a>&nbsp;正文
<!--function: position() parse end  0ms cost! -->
 </td>
          <td width="324" height="23" valign="middle"><div align="center">
<!--enorth cms{ baidu }enorth cms-->
			 <!--Baidu站内搜索开始-->
<script language="javascript">
function baidusearch () {
var wd=document.getElementsByName("wd")[0].value;
var link="http://www.baidu.com/s?si=news.nankai.edu.cn&cl=3&ct=2097152&tn=baidulocal&word="+wd;
window.open(link); }
</script>
<input type="text" name="wd"/><input type="submit" onclick="javascript:baidusearch()" value="新闻网搜索" />
<!--Baidu站内搜索结束-->
<!--enorth cms{ baidu }enorth cms-->

             </div></td>
        </tr>
        <tr>
          <td colspan="3"><img src="http://news.nankai.edu.cn/images/jiewei/position.jpg" width="950" height="15"></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td width="694"><div align="left">　</div></td>
      <td width="3" rowspan="3"><div align="left">
        </div></td>
      <td width="4" rowspan="3" background="http://news.nankai.edu.cn/images/xian2.jpg">&nbsp;</td>
      <td width="245" rowspan="3" valign="top"><div align="center">
<!--enorth cms{ bianlan-xf }enorth cms-->
<HTML>
<HEAD>
<TITLE>南开新闻网</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=gb2312">
<link href="http://news.nankai.edu.cn/css/index.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.STYLE2 {font-size: 16px}
-->
</style>
</HEAD>
<BODY BGCOLOR=#FFFFFF LEFTMARGIN=0 TOPMARGIN=0 MARGINWIDTH=0 MARGINHEIGHT=0>

<style type="text/css">
<!--

-->
</style>
<table width="240" border="0">
  <tr>
    <td valign="top"><img src="http://news.nankai.edu.cn/pic/0/00/12/61/126152_221937.jpg" width="230" height="31" border="0"></td>
  </tr>
  <tr>
    <td>
<!--function guide5(xfjsdt,1,10,false,·,none,none,none) parse begin-->
<table width="100%"  >
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182638.shtml"   target="_blank" >教育部有关负责人就新出台的学风建设文件答记者问 </a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182637.shtml"   target="_blank" >教育部开展高校学风建设专项教育和治理行动 </a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182636.shtml"   target="_blank" >南开大学师德建设工作情况（2013）</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2013/05/29/000128014.shtml"   target="_blank" >南开大学2011年学风建设年度报告</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182639.shtml"   target="_blank" >“南开大学研究生学风建设专题网站”开通</a></td></tr>
</table>

<!--function: guide5(xfjsdt,1,10,false,·,none,none,none) parse end  63ms cost! -->
</td>
  </tr>
  <tr>
    <td> </td>
  </tr>
  <tr>
    <td> </td>
  </tr>
  <tr>
    <td><img src="http://news.nankai.edu.cn/pic/0/00/12/61/126153_700572.jpg" width="230" height="31"></td>
  </tr>
  <tr>
    <td>
<!--function guide5(yxtd,1,10,false,·,none,none,none) parse begin-->
<table width="100%"  >
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182615.shtml"   target="_blank" >南开大学公司治理研究中心创新团队纪实</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182634.shtml"   target="_blank" >学风纯正高尚的楷模 ——记明史大家南开大学历史学院教授南炳文先生</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182635.shtml"   target="_blank" >学高为师，身正为范——记南开大学经济学院副教授刘凤义</a></td></tr>
</table>

<!--function: guide5(yxtd,1,10,false,·,none,none,none) parse end  62ms cost! -->
</td>
  </tr>
  <tr>
    <td> </td>
  </tr>
  
  <tr>
    <td><img src="http://news.nankai.edu.cn/pic/0/00/12/61/126154_978978.jpg" width="230" height="31"></td>
  </tr>
  <tr>
    <td><div align="center"><a href="http://ygb.nankai.edu.cn/xfjs/index.html"><img src="http://news.nankai.edu.cn/pic/0/00/08/31/83124_825347.jpg" width="230" height="44" border="0"></a></div></td>
  </tr>
</table>

<!--enorth cms{ bianlan-xf }enorth cms-->
</div></td>
    </tr>
    <tr>
      <td valign="top"><div align="left">
        <table width="85%" border="0" align="center" cellpadding="2" cellspacing="0">
          <tr>
            <td><div align="center"><span class="title">南开大学关于建立健全师德建设长效机制的实施办法 </span></div></td>
          </tr>
          <tr>
            <td><div align="center">来源：
<!--function source_without_pub_date() parse begin-->

<!--function: source_without_pub_date() parse end  0ms cost! -->
　发稿时间：
<!--function pub_date() parse begin-->
2018-11-13 16:58
<!--function: pub_date() parse end  0ms cost! -->
</div></td>
          </tr>
          <tr>
            <td><hr width="95%" size="1" noshade></td>
          </tr>
          <tr>
            <td><span class="main">
<!--function content() parse begin-->
<p>　　为进一步加强和改进教师队伍建设，规范教师职业道德行为，推动师德建设工作落实落细，根据教育部《关于建立健全高校师德建设长效机制的意见》和我校《关于加强师德建设的若干意见》、《关于进一步加强和改进师德建设的意见》，结合学校发展需要和教师队伍实际，制定本实施办法。</p>
<p>　　一、明确目标，把握原则</p>
<!--advertisement code begin--><!--advertisement code end--><p>　　全面贯彻习近平总书记在北京师范大学师生代表座谈会上的重要讲话精神和《高等学校教师职业道德规范》，以规范教师从业行为为重点，以提高教师队伍素质为目标，大力加强和改进师德建设，积极引导广大教师做有理想信念、有道德情操、有扎实学识、有仁爱之心的好老师，努力培养造就一支师德高尚、公能兼济、业务精湛、充满活力的教职工队伍。</p>
<p>　　要把师德建设作为学校队伍建设和作风建设的重点，以立德树人为出发点和立足点，坚持价值引领、师德为上、以人为本、改进创新，通过切实有效的措施，激发教师的责任感使命感，促进教师带头培育和践行社会主义核心价值观，在细微处见师德，在日常中守师德，推动形成师德建设长效机制，从根本上遏制和杜绝师德失范现象的发生。</p>
<p>　　二、突出重点，多措并举</p>
<p>　　注重宣传教育、示范引领、实践养成相统一，政策保障、制度规范、法律约束相衔接，建立健全教育、宣传、考核、监督、激励与奖惩相结合的师德建设工作机制。</p>
<p>　　(一)创新师德教育</p>
<p>　　1.丰富师德教育内容，加强和改进教师理想信念教育、法制教育、心理健康教育和学风学术规范教育，特别要重点加强社会主义核心价值观教育，提高教职工爱国敬业、秉公尽能的自觉性，强化教师职业道德规范。</p>
<p>　　2.完善师德教育培训制度，加大对骨干教师、学科带头人、研究生导师、学生辅导员、管理干部等群体的师德教育培训力度，加强对新教工尤其是青年教工的岗前培训，把师德教育列为培训学习的重要专题，并融会于系列培训之中。</p>
<p>　　3.创新师德教育载体，多渠道、分层次地开展各种形式的师德教育活动，比如举行新教师入职宣誓仪式和老教师荣休仪式，举办师德论坛、师德报告会等，以活动诠释师德、渗透教育。</p>
<p>　　4.增强师德教育的现实针对性、贴近性，结合教学科研、管理服务实际和教师工作、生活实际开展师德教育，加强对教师的人文关怀和心理疏导，推动解决影响教师履职尽责的突出问题。</p>
<p>　　落实单位：人事处、教师发展中心、教代会工会、宣传部、组织部、研究生院、教务处、学工部、研工部、团委，各分党委、各学院。</p>
<p>　　(二)加强师德师风宣传</p>
<p>　　1.广泛借助专题报告会、理论学习会、组织生活会、教师沙龙等载体，邀请专家系统宣讲《教育法》、《高等教育法》、《教师法》和教育规划纲要等法规文件中有关师德建设的要求，大力宣传普及《高等学校教师职业道德规范》。</p>
<p>　　2.在校园文化建设中融入师德师风宣传，举办师德建设主题宣传月，举办南开文化周末&ldquo;师魂、师恩、师风&rdquo;主题活动，通过文艺演出、主题征文、摄影展览等形式宣传崇德重道、全员育人的好风尚。</p>
<p>　　3.充分发挥优秀师德典型的激励、导向、示范作用，充分利用电视、广播、校报、新闻网及微博、微信等平台，加大对模范教师、名家名师的宣传报道力度，尤其要大力挖掘和宣传长期在一线工作、默默无闻、甘于奉献的普通教职工的师德先进事迹，以身边榜样的力量鼓舞人、教育人，营造见贤思齐的良好舆论环境和校园氛围。</p>
<p>　　4.加强师德警示宣传，针对师德失范、师风不正、学术不端等现象，敢于点问题、讲事例、正视听，发挥反面教材的警示引导作用。</p>
<p>　　落实单位：宣传部、人事处、教代会工会、纪委监察室、研究生院、教务处、学工部、研工部、团委，各分党委、各学院。</p>
<p>　　(三)健全师德考核</p>
<p>　　1.将师德考核作为全体教职工聘期考核的必备条件和重要内容，进一步完善具体考评制度，增强操作性、实效性，切实将师德表现与绩效考核、职务晋升、进修深造、评优奖励等挂钩。</p>
<p>　　2.充分尊重教师主体地位，坚持客观公正、公平、公开，采取个人自评、学生测评、同事互评、单位考评等多种形式进行，考核结果通知教师本人、存入教师档案。</p>
<p>　　3.加强师德考核结果的运用，对师德考核不称职的教师，及时批评劝诫、督促整改；对严重违反职业道德、造成不良影响和后果的，在职称评审、岗位聘用、评优奖励等方面实行&ldquo;一票否决&rdquo;。</p>
<p>　　落实单位：人事处、组织部、纪委监察室、教代会工会、研究生院、教务处、社科处、科技处、学工部、研工部、团委，各分党委、各学院。</p>
<p>　　(四)强化师德监督</p>
<p>　　1.建立师德建设督导评估制度，完善师德建设年度评议、师德重大问题报告和师德舆情快速反应机制，针对热点难点问题及时研究调整师德建设的政策措施。</p>
<p>　　2.构建学校、教师、学生、家长和社会多方参与的师德监督体系，尤其要健全完善学生评教机制，充分发挥教代会、工会、学术委员会、教授会议、学代会、研代会、校友会等在师德监督评议中的作用。</p>
<p>　　3.建立师德投诉举报平台，及时掌握师德信息动态，及时纠正教学、科研、管理、服务工作中的不良倾向和问题，对师德问题做到有诉必查、有查必果、有果必复。</p>
<p>　　落实单位：人事处、纪委监察室、教代会工会、学校办公室、宣传部、研究生院、教务处、社科处、科技处、学工部、研工部、团委，各分党委、各学院。</p>
<p>　　(五)注重师德激励</p>
<p>　　1.进一步完善落实师德表彰奖励制度，将师德表现作为评奖评优的首要条件。在同等条件下，凡获得各级师德标兵或先进个人称号的教师，在职称晋升、岗位聘任、绩效考核、研究生导师遴选、各类高层次人才评选中优先考虑。</p>
<p>　　2.进一步优化建立学校荣誉体系，对教学科研、管理服务各方面单项奖励进行整合，增强评优表彰的系统性、科学性，形成以师德为核心、业务为支撑的教师荣誉体系，对职业道德高尚、工作业绩卓著的教职工予以重点培养、重点奖励。</p>
<p>　　3.深化开展&ldquo;十佳教师&rdquo;、&ldquo;良师益友&rdquo;、&ldquo;敬业&rdquo;奖教金、&ldquo;青年服务标兵&rdquo;等以师德为重要指标的评选表彰，提高活动覆盖面和参与度，切实发挥激励引导作用。</p>
<p>　　落实单位：人事处、组织部、教代会工会、研究生院、教务处、社科处、科技处、学工部、研工部、团委，各分党委、各学院。</p>
<p>　　(六)严格师德惩处</p>
<p>　　1.落实违反师德行为的惩处机制，严格执行师德&ldquo;红七条&rdquo;底线要求。对违背师德、触犯红线的，依法依规分别给予警告、记过、降低专业技术职务等级、撤销专业技术职务或者行政职务、解除聘用合同或者开除；对严重违法违纪的，及时移交相关部门。</p>
<p>　　2.提高师德惩处的严谨性、规范性，尊重教师主体权益，保护正当的表达异议、提出申诉权利，完善师德惩处的调查处置程序和申诉处理机制。</p>
<p>　　3.把师德建设成效列入各单位工作目标责任制考核，建立一岗双责的责任追究机制，对违反师德行为监管不力的要追究相关单位责任、取消评优奖励资格。</p>
<p>　　落实单位：人事处、纪委监察室、组织部、教代会工会、学校办公室、研究生院、教务处、社科处、科技处，各分党委、各学院。</p>
<p>　　三、健全机构，落实责任</p>
<p>　　按照教育部要求，学校按席位制成立师德建设委员会，党委书记和校长为主任，分管宣传思想、纪检监察、人事工作的校领导为副主任，人事处、宣传部、学校办公室、组织部、纪委监察室、教代会工会、研究生院、教务处、社科处、科技处、教师发展中心、学工部、研工部、团委等相关部门负责人为成员，适当吸收教师、学生代表参加，对全校师德建设工作进行研究、规划、协调、推动。师德建设委员会秘书处挂靠人事处和宣传部，负责学校师德建设日常工作的组织落实。</p>
<p>　　要建立和完善党委统一领导、党政齐抓共管、学院和相关单位具体落实、全体教职工自我约束的领导体制和工作机制，各单位各部门都要高度重视、积极参与师德建设工作，切实把自己应当承担的工作任务主动落实落细，切实形成全校师德建设的合力。<span style="display: none">&nbsp;</span></p>

<!--function: content() parse end  0ms cost! -->
 </span></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
        </table>
      </div></td>
    </tr>
    <tr>
      <td><div align="center"><br>
        <br>
        <br>
      </div></td>
    </tr>
    <tr>
      <td colspan="4"><div id="footer">
<!--enorth cms{ jiewei-xf }enorth cms-->
<style>
#footer{background-color:#E6E7E9; border-top:4px solid #E6E7E9;text-align:center;}
#footer #friends{background:#fff;padding:8px 50px 8px 50px; text-align:left;margin-bottom:10px;}
#footer p{font-size: 1.2em;}
</style>
<p align="center">
 版权所有&#169; 南开大学　网站制作与维护：南开大学党委宣传部 <br>
 举报电话：022-23508595；电子邮箱：nkxswyh@nankai.edu.cn；联系人：王越超<strong><br>
 津教备0061号 津ICP备12003308号-1</strong></p>	

<!--enorth cms{ jiewei-xf }enorth cms-->
</div></td>
    </tr>
  </table>
</div>
</body>
</html>
<!--<page cms="enorth webpublisher"  version="5.0.0 /2011101201" server_name="svctag-f76553x" parse_date="2018-11-13 16:58:20" cost="203" parse_result="0" input_mode="manual"></page>-->