<base href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182636.shtml"><HTML>
<HEAD>
<title>南开大学师德建设工作情况（2013）--学风建设专题</title>

<style type="text/css">
<!--
body {
	background-color: #e6e7e9;
}

-->
</style></HEAD>
<BODY LEFTMARGIN=0 TOPMARGIN=0 MARGINWIDTH=0 MARGINHEIGHT=0>


<body>
<div align="center">
  <table width="950" border="0" cellspacing="0" bgcolor="#FFFFFF">
    <tr valign="bottom" bgcolor="#FFFFFF">
      <td colspan="4" height="120"><div id="logo">
<!--enorth cms{ banner-xf }enorth cms-->
<div align="center"><img src="http://news.nankai.edu.cn/pic/0/00/03/53/35304_345297.jpg" width="950" height="126"></div>

<!--enorth cms{ banner-xf }enorth cms-->
</div>        </td>
    </tr>
    <tr valign="top" bgcolor="#FFFFFF">
      <td colspan="4"><table width="950" border="0" cellspacing="0" cellpadding="0">
        <tr bgcolor="CCCDCF">
          <td width="45" height="23">&nbsp;</td>
          <td width="581" height="23">
<!--function position() parse begin-->
您当前的位置 ：<a href=http://news.nankai.edu.cn/xfjs/>学风建设专题</a>&nbsp;正文
<!--function: position() parse end  0ms cost! -->
 </td>
          <td width="324" height="23" valign="middle"><div align="center">
<!--enorth cms{ baidu }enorth cms-->
			 <!--Baidu站内搜索开始-->
<script language="javascript">
function baidusearch () {
var wd=document.getElementsByName("wd")[0].value;
var link="http://www.baidu.com/s?si=news.nankai.edu.cn&cl=3&ct=2097152&tn=baidulocal&word="+wd;
window.open(link); }
</script>
<input type="text" name="wd"/><input type="submit" onclick="javascript:baidusearch()" value="新闻网搜索" />
<!--Baidu站内搜索结束-->
<!--enorth cms{ baidu }enorth cms-->

             </div></td>
        </tr>
        <tr>
          <td colspan="3"><img src="http://news.nankai.edu.cn/images/jiewei/position.jpg" width="950" height="15"></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td width="694"><div align="left">　</div></td>
      <td width="3" rowspan="3"><div align="left">
        </div></td>
      <td width="4" rowspan="3" background="http://news.nankai.edu.cn/images/xian2.jpg">&nbsp;</td>
      <td width="245" rowspan="3" valign="top"><div align="center">
<!--enorth cms{ bianlan-xf }enorth cms-->
<HTML>
<HEAD>
<TITLE>南开新闻网</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=gb2312">
<link href="http://news.nankai.edu.cn/css/index.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.STYLE2 {font-size: 16px}
-->
</style>
</HEAD>
<BODY BGCOLOR=#FFFFFF LEFTMARGIN=0 TOPMARGIN=0 MARGINWIDTH=0 MARGINHEIGHT=0>

<style type="text/css">
<!--

-->
</style>
<table width="240" border="0">
  <tr>
    <td valign="top"><img src="http://news.nankai.edu.cn/pic/0/00/12/61/126152_221937.jpg" width="230" height="31" border="0"></td>
  </tr>
  <tr>
    <td>
<!--function guide5(xfjsdt,1,10,false,·,none,none,none) parse begin-->
<table width="100%"  >
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182638.shtml"   target="_blank" >教育部有关负责人就新出台的学风建设文件答记者问 </a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182637.shtml"   target="_blank" >教育部开展高校学风建设专项教育和治理行动 </a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182636.shtml"   target="_blank" >南开大学师德建设工作情况（2013）</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2013/05/29/000128014.shtml"   target="_blank" >南开大学2011年学风建设年度报告</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182639.shtml"   target="_blank" >“南开大学研究生学风建设专题网站”开通</a></td></tr>
</table>

<!--function: guide5(xfjsdt,1,10,false,·,none,none,none) parse end  15ms cost! -->
</td>
  </tr>
  <tr>
    <td> </td>
  </tr>
  <tr>
    <td> </td>
  </tr>
  <tr>
    <td><img src="http://news.nankai.edu.cn/pic/0/00/12/61/126153_700572.jpg" width="230" height="31"></td>
  </tr>
  <tr>
    <td>
<!--function guide5(yxtd,1,10,false,·,none,none,none) parse begin-->
<table width="100%"  >
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182615.shtml"   target="_blank" >南开大学公司治理研究中心创新团队纪实</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182634.shtml"   target="_blank" >学风纯正高尚的楷模 ——记明史大家南开大学历史学院教授南炳文先生</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182635.shtml"   target="_blank" >学高为师，身正为范——记南开大学经济学院副教授刘凤义</a></td></tr>
</table>

<!--function: guide5(yxtd,1,10,false,·,none,none,none) parse end  16ms cost! -->
</td>
  </tr>
  <tr>
    <td> </td>
  </tr>
  
  <tr>
    <td><img src="http://news.nankai.edu.cn/pic/0/00/12/61/126154_978978.jpg" width="230" height="31"></td>
  </tr>
  <tr>
    <td><div align="center"><a href="http://ygb.nankai.edu.cn/xfjs/index.html"><img src="http://news.nankai.edu.cn/pic/0/00/08/31/83124_825347.jpg" width="230" height="44" border="0"></a></div></td>
  </tr>
</table>

<!--enorth cms{ bianlan-xf }enorth cms-->
</div></td>
    </tr>
    <tr>
      <td valign="top"><div align="left">
        <table width="85%" border="0" align="center" cellpadding="2" cellspacing="0">
          <tr>
            <td><div align="center"><span class="title">南开大学师德建设工作情况（2013） </span></div></td>
          </tr>
          <tr>
            <td><div align="center">来源：
<!--function source_without_pub_date() parse begin-->
南开大学
<!--function: source_without_pub_date() parse end  0ms cost! -->
　发稿时间：
<!--function pub_date() parse begin-->
2014-05-20 16:22
<!--function: pub_date() parse end  0ms cost! -->
</div></td>
          </tr>
          <tr>
            <td><hr width="95%" size="1" noshade></td>
          </tr>
          <tr>
            <td><span class="main">
<!--function content() parse begin-->
<p>　　南开大学在长期的办学过程中，贯彻党的教育路线、方针、政策，始终将&ldquo;建设一支师德高尚、业务精湛、结构合理、充满活力的教工队伍&rdquo;作为事业发展最重要的基础性工作，始终将师德建设作为队伍建设的首要内容。</p>
<p>　　学校大力推进《高等学校职业道德规范》的宣传教育和贯彻落实，通过职业理想和职业道德教育，增强广大教师教书育人的责任感和使命感，坚持教书育人、科研育人、服务育人的全方位育人理念，将师德表现作为教师选拔、聘用、晋升、评价、考核和评优的首要内容，重视学风和学术规范建设，对学术不端行为&ldquo;零容忍&rdquo;，繁荣发展学术事业，净化校园育人环境，提高人才培养质量，引领社会良好风尚。</p>
<!--advertisement code begin--><!--advertisement code end--><p>　　一、加强组织制度保障，师德建设有效推进</p>
<p>　　1.齐抓共管，加强师德建设的组织领导。学校加强对德育工作的统一领导，统筹部署，切实做到制度落实、组织落实、任务落实。党委宣传部、党委学生工作部、党委研究生工作部、人事处、教务处、校工会、校团委等相关部门主动参与、密切配合，形成齐抓共管的局面。</p>
<p>　　校学术委员会充分发挥专家学者的学术专业优势，负责对师德师风建设及相关问题进行总体规划、咨询建议。学校专门成立校学风建设委员会，作为校学术委员会下设的专门委员会，对学校学术规范、学术道德建设和学术风气建设进行指导、咨询和甄别。</p>
<p>　　各学院党政主要负责人承担师德建设的领导责任，基层党组织、各学科专业教研室和广大党员教师充分发挥政治核心和先锋模范作用，全校上下形成推进师德建设的强大合力。</p>
<p>　　2.建章立制，完善师德建设的制度体系。学校重视师德建设的制度化进程，努力建立健全长效机制。2007年专门制定了《关于进一步加强和改进师德建设的意见》，对师德建设工作进行总体部署。南开大学第八次党代会明确提出&ldquo;进一步加强师德建设。将师德作为教师考核、评聘的首要条件&rdquo;。《南开大学&ldquo;十二五&rdquo;事业发展规划纲要》进一步规定&ldquo;将师德表现作为教师考核、评聘的首要内容。强调为人师表，注重教书育人、科研育人、服务育人，注重学风和学术规范建设，严肃查处学术不端行为；注重服务态度、质量和效率&rdquo;。在制定《南开大学章程》的过程中，学校也始终把师德建设置于学校师资队伍建设的首要位置。《高等学校职业道德规范》颁布后，我校积极宣传，组织广大师生认真学习，切实贯彻落实。并根据学校实际情况，在广泛征求意见后，拟定《南开大学教师职业道德规范》(草案)，提交学校人才与师资队伍建设工作会议讨论，进一步征求意见，现在《南开大学教师职业道德规范》即将出台。</p>
<p>　　同时，学校将师德建设贯穿于教学、科研、社会服务的每一环节，构建起教育、考核、监督与奖惩相结合的师德建设工作运行机制：</p>
<p>　　一是，在教学方面，制定了《南开大学公能素质教育实施纲要》、《南开大学本科教学事故认定和处理办法》等创新深化本科教学改革、规范教学行为、提高教学工作标准和要求的文件，确立&ldquo;教学神圣&rdquo;的理念。</p>
<p>　　二是，在研究生指导教师遴选方面，制定了《南开大学关于加强研究生指导教师队伍建设的若干意见》等文件，将师德作为遴选的最基本、最严格的遴选指标。</p>
<p>　　三是，在学术科研建设方面，制定了《南开大学学术委员会章程》、《南开大学学风建设委员会章程》《南开大学处理学术不端行为暂行办法》等文件，明确学术研究的基本规范和道德准则。</p>
<p>　　四是，在师资队伍建设方面，制定了《南开大学人才引进工作暂行办法》，把思想政治素质、思想道德品质作为必备条件和重要考察内容。</p>
<p>　　五是，在专业技术职务晋升评价和教师绩效考核方面，制定了《南开大学绩效考核工作暂行办法》、《南开大学专业技术职务评聘工作指导意见》，把师德师风的要求贯彻始终，对学术不端等失德失范行为采取一票否决制。</p>
<p>　　二、坚持以德为先，加强师资队伍的师德教育</p>
<p>　　1.加强思想政治教育，夯实师德建设的思想基础。学校充分认识到加强和改进教师思想政治建设的重要性，把教师思想政治工作置于师德建设的突出位置，开展了以下工作：</p>
<p>　　一是，学校通过组织开展形势政策讲座、普法宣传、岗前培训、专题辅导报告、座谈会、校史教育等活动，多渠道、分层次地开展各种形式法律政策教育、信念教育、国情教育、革命传统教育、改革开放教育、中国梦教育，通过思想观念上的主动引导，促进教师坚定理想信念、锤炼高尚品格。</p>
<p>　　二是，依托&ldquo;党员干部学习网&rdquo;、觉悟网等即时交流互动平台，对师生思想状况展开调研，及时了解其思想动态；通过校园BBS系统，积极发挥其在传播主流价值观的作用。</p>
<p>　　三是，组织教师赴爱国教育基地，开展主题教育活动，前往发达地区、偏远农村、厂矿企业、少数民族地区等进行考察学习和开展暑期社会实践团等社会实践教育。</p>
<p>　　2.加大宣传表彰力度，发挥先进典型的模范带头作用。学校加大对优秀教师和德育工作者的宣传表彰力度，积极推荐师德优秀教师参评国家和天津市的各类优秀教师奖项，并开展校内一系列师德先进评选工作，并通过校内外媒体大力宣传这些集体和个人的先进事迹：</p>
<p>　　一是，学校设立&ldquo;南开大学荣誉教授&rdquo;称号和特别贡献奖，该奖项首批授予全校18位师德高尚、为学校学科建设与学科发展方面做出了奠基性、开创性的贡献、取得了国内外一致公认的标志性成果、获得国家重大奖项的资深教授，学校召开隆重的表彰活动并广泛宣传他们的先进事迹，号召广大师生学习&ldquo;南开荣誉教授&rdquo;的精神、品德和风范，激励后学潜心学术、教书育人，争创卓越成果。</p>
<p>　　二是，学校每年&ldquo;良师益友&rdquo;评选活动，通过各学院学生提名、资格审查、事迹展示、网络初评、学院推荐、全校研究生网上复评、结果公示和颁奖典礼等阶段，评选师德先进教师，该活动在广大师生中具有广泛影响以及良好的口碑。</p>
<p>　　三是，学校认真开展国家级、天津市和南开大学教学名师奖等评选推荐活动，面向一线教师，经过学院推荐、学校教学指导委员会评选，学校审批等环节，授予师德学风良好，长期承担教学任务，取得突出成绩的教师。</p>
<p>　　四是，学校组织优秀学生辅导员评选活动，面向全校专职辅导员，通过辅导员自评、学生评议、单位综合评议、岗位述职，学校相关部门和学院联合评审，遴选出关心学生、热爱本职工作、获得师生普遍认可的辅导员。</p>
<p>　　五是，机关和学院等部门组织爱岗敬业奖评选，经党支部推选，机关(学院)党委审批，授予热爱本职工作，工作认真负责，踏实肯干，服务热情，工作获得普遍认可的职工。</p>
<p>　　近5年来，南开大学有3人获得国家级教学名师、57人荣获全国、市级和教育系统劳动模范、&ldquo;五一&rdquo;劳动奖章、工人先锋岗，10个单位和集体荣获全国、市级和教育系统劳动模范集体、&ldquo;五一&rdquo;劳动奖状、工人先锋号，1个单位荣获全国五一巾帼标兵岗，1人荣获全国师德标兵，1人荣获全国和市级&ldquo;三八&rdquo;红旗手，1人获得全国&ldquo;先进女职工之友&rdquo;。通过校内外各级各类评选先进的活动，在全校掀起学习先进、争当先进的热潮，形成弘扬高尚师德、扎实开展工作的良好风气。</p>
<p>　　3.多层次综合化培训，提升教师的师德水平。学校在师德建设过程中，始终重视&ldquo;以人为本&rdquo;，从思想素质、学风等方面进行综合培训。</p>
<p>　　一是，在新教工岗前培训期间，龚克校长亲授第一课，着重讲授师德建设，强调&ldquo;师德&rdquo;包括爱国奉献之德、爱生敬业之德、克己修身之德，对学术不端行为要&ldquo;零容忍&rdquo;，实行&ldquo;一票否决&rdquo;，鼓励教师们&ldquo;允公允能&rdquo;，坚持南开的道路，光大南开品格，弘扬南开精神，恪尽职守，刻苦钻研，甘于奉献。</p>
<p>　　二是，在新任研究生指导教师履职前，学校专门举行培训，由校长和相关专家讲授科研诚信和学术道德、研究生教育最新发展、研究生教育各方面管理规定和要求，并请优秀导师介绍培养和指导研究生的经验。</p>
<p>　　三是，在新晋升教授、副教授的教师履岗前，龚克校长专门进行集体谈话，勉励其恪守师德规范，做师德楷模，潜心教学科研和学生培养，争创一流业绩。</p>
<p>　　四是，举办主题鲜明的师德演讲比赛，组织开展青年教师教学基本功竞赛和管理干部基本功等竞赛活动，以比促选，以考促学。</p>
<p>　　综合化的培训，使教师形成立德树人、关爱学生、严谨笃学、淡泊名利、自尊自律的师德品质，能够&ldquo;行为世范&rdquo;，同时术业专攻，提升学术水平，切实&ldquo;学为人师&rdquo;，实现学校发展与个人发展的统一。</p>
<p>　　三、严格考核管理，建立健全师德评价和监督机制</p>
<p>　　学校将师德表现作为教师年度考核、职务聘任、派出进修和评优奖励等的重要依据，促进专任教师和研究生导师在学生思想政治工作中主动发挥作用。学校重视制定科学合理的教师评价方法和指标体系，合理计算工作量，充分发挥研究生导师、本科生班导师、思想政治理论课教师、学生工作部门、后勤保障部门的道德示范和熏陶作用，切实形成教书育人、管理育人、服务育人的格局。在评价程序中设立学生评价环节，突出学生在师德评价过程中的主体地位。</p>
<p>　　严格实行师德建设&ldquo;一票否决制&rdquo;，对有严重失德行为、影响恶劣者一律撤销教师资格并予以解聘，建立师德问题报告制度和加强舆论监督的长效机制，充分发挥党组织、学术委员会、学风建设委员会、纪律监察等部门的监督职能，畅通师德问题举报和反应机制，动员全校各方面力量，共同做好师德建设的监督考核。</p>
<p>　　四、弘扬师德先进典型，严惩&ldquo;失德&rdquo;行为</p>
<p>　　&ldquo;南开大学良师益友&rdquo;评选活动经过多年的探索完善，自2007年起已连续举办五届，已经成为广大师生心目中师德建设的品牌活动，主要做法有：</p>
<p>　　一是，学生普遍参与。活动通过学生提名、网络初评、全校研究生网上复评等吸引广大学生的关注和参与，评选结果充分体现广大学生的意愿。</p>
<p>　　二是，严格评审程序。活动历经院内学生提名、资格审查、事迹展示、网络初评、学院推荐、全校研究生网上复评、结果公示等严格程序，确保评选结果公正。</p>
<p>　　三是，多形式广泛宣传。学校通过在全校教师大会上为获奖教师颁奖，强化导师育人的荣誉感，并通过校内外媒体宣传良师益友的先进事迹，树立&ldquo;良师益友&rdquo;的楷模典范。并在《南开研究生》杂志设&ldquo;良师益友&rdquo;版块，鼓励优秀教师从不同角度与广大研究生分享治学经验、传递人生智慧，并从五届活动评选出的273名&ldquo;良师益友&rdquo;中选取了20位，编印《良师益友访谈文集》，记录和展示&ldquo;良师益友&rdquo;的风采和事迹。以&ldquo;良师益友&rdquo;评选为中心的一系列举措，在全校范围内弘扬了教书育人的良好风尚，使争做&ldquo;良师益友&rdquo;成为每个导师追求的目标。</p>
<p>　　对于有悖师德，违反工作纪律的行为，学校严格处理。南开大学始终非常重视本科教学工作，在本科教学工作中，对于迟到、早退，监考缺考等行为予以严肃处理，依据《南开大学教学事故认定和处理办法》予以通报批评等惩处措施，教育了广大职工恪守职业道德，模范遵守规章制度。</p>
<p>　　五、迎接新挑战，理性分析师德建设的问题</p>
<p>　　在市场经济条件和开放环境下，学校教育和师德建设工作面临许多新情况、新问题和新的挑战。表现为部分教师出现职业情感与职业道德淡化，缺乏责任感、使命感和神圣感；爱岗敬业精神缺失，服务意识不强；教书育人思想淡化，个别教师言行失范、不能为人师表，仅能&ldquo;授业&rdquo;，不能担负&ldquo;传道&rdquo;的职责；甚至存在学术失范，学术不端的行为。</p>
<p>　　这些问题的出现，既是由于：市场化改革带来思想观念和价值评判标准的变化，某些教师未能及时树立社会主义核心价值观念，部分教师对自身要求不严，放松了理论学习和自身道德修养的提高等，同时也对我们提高教师队伍的师德水平和全面素质，加强师德建设工作，提高工作针对性和实效性，进一步完善相应的制度环境提出了更高的要求。</p>
<p>　　六、多措并举，开创师德建设新局面</p>
<p>　　1.以践行社会主义核心价值观为契机，加强理想信念教育，全面落实《高等学校职业道德规范》等教育法规、路线、方针、政策，形成政策合力。高校与社会各界联合行动，深化关注师德、宣传师德的共识，大力宣传和推广师德标兵的先进典型和模范事迹，营造尊重先进、学习先进、争当先进的氛围。</p>
<p>　　2.坚持以人为本，关注利益诉求和价值愿望，贴近教师的实际与生活，既要提升规范教师的思想认识，又要尊重差异，包容多样，既要发挥学校教育主导作用，又要发挥青年教师的自我教育作用。坚持以理想信念为核心，抓住世界观、人生观、价值观这个总开关，牢固树立中国特色社会主义共同理想，着力铸牢精神支柱；坚持联系实际，区分层次和对象，加强分类指导，找准与教师思想的共鸣点、利益的交汇点，善于运用教师喜闻乐见的方式，搭建教师便于参与的平台，开辟乐于参与的渠道，积极推进理念创新、手段创新和工作创新，增强工作的吸引力感染力。</p>
<p>　　3.重视聘用合同管理在师德建设中的作用。随着高校国际化进程的推进，越来越多海外人才加盟高校，在发挥法律法规、强化法制意识的同时和应重视契约意识和履约行为对师德规范的遵循，可通过加强聘用合同内容的约定，明确教职入职、学术研究、爱岗敬业等诚信义务，将学校师德建设的相关规定作为合同的附件，做到格式规范、内容完备、条款明晰、目标合理，有约可循。</p>
<p>　　南开大学定于2014年召开德育工作会议，就新形势下加强师德建设进行新的部署，着力建设，再接再厉，启动实施&ldquo;教师素质提升与职业发展计划&rdquo;和&ldquo;教学人才培养计划&rdquo;等培训工程，依托教师发展中心和国家级专业技术人员继续教育基地办公室等部门，开展多层次培养工作，有力提升师资队伍的师德水平，争创师德建设新成绩。</p>

<!--function: content() parse end  0ms cost! -->
 </span></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
        </table>
      </div></td>
    </tr>
    <tr>
      <td><div align="center"><br>
        <br>
        <br>
      </div></td>
    </tr>
    <tr>
      <td colspan="4"><div id="footer">
<!--enorth cms{ jiewei-xf }enorth cms-->
<style>
#footer{background-color:#E6E7E9; border-top:4px solid #E6E7E9;text-align:center;}
#footer #friends{background:#fff;padding:8px 50px 8px 50px; text-align:left;margin-bottom:10px;}
#footer p{font-size: 1.2em;}
</style>
<p align="center">
 版权所有&#169; 南开大学　网站制作与维护：南开大学党委宣传部 <br>
 举报电话：022-23508595；电子邮箱：nkxswyh@nankai.edu.cn；联系人：王越超<strong><br>
 津教备0061号 津ICP备12003308号-1</strong></p>	

<!--enorth cms{ jiewei-xf }enorth cms-->
</div></td>
    </tr>
  </table>
</div>
</body>
</html>
<!--<page cms="enorth webpublisher"  version="5.0.0 /2011101201" server_name="svctag-f76553x" parse_date="2014-05-22 15:55:07" cost="78" parse_result="0" input_mode="manual"></page>-->