<base href="http://222.30.44.136/reg_163_teacher/agreement.htm"><html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>南开大学电子邮箱注册申请管理规定</title>
</head>

<body background="images/bg.gif">

<table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
	<tr>
		<td>
		<div align="center">
			<table border="0" cellpadding="0" cellspacing="0" width="800">
				<tr>
					<td height="60">
					<p align="center"><font face="微软雅黑" style="font-size: 20pt">
					<b>南开大学电子邮箱注册申请管理规定</b></font></td>
				</tr>
				<tr>
					<td style="line-height: 150%" bgcolor="#F5F5F5"><hr><span style="font-size: 15px"><b>一、电子邮箱注册申请规定</b><br>
					1、本邮件系统旨在为本校正式教职员工和学生提供免费电子邮箱，原则上向每位教职工和学生只提供一个电子邮箱。<br>
					2、教职员工（2013年以后入职的教职员工）和学生凭借个人信息门户账号（即：urp.nankai.du.cn网的账号）进入本邮件系统自行登记注册获取电子邮箱。2013年前入职且未曾申请办理电子邮箱的教职员工，请持校园一卡通到信息化建设与管理办公室信息部申请办理电子邮箱。<br>
					<span lang="zh-cn">3、</span>邮箱别名中不得包含 admin、manager、master 等等类似管理员或引起他人误解的词汇；别名不得使用他人的门户账号；别名中不得使用不雅词汇。如违反上述规定，信息办有权随时停用并收回该邮箱。<br>
					4、邮件用户如一直连续使用本系统所提供的个人电子邮箱，系统将会对该邮箱一直保持开放运行状态；如用户连续一年未使用电子邮箱，其注册的电子邮箱将会自动关闭收发功能并锁定；如用户连续三年未使用电子邮箱，其注册的电子邮箱将会被自动删除。<br>
					5、教职工和学生的门户帐号即为其注册电子邮箱的用户名。<br><br>
					<b>二、用户的权利与义务</b><br>
					1、本系统的用户享受本系统用户所应有的一切权利。但用户不得违反本系统的使用规定，不可违反《互联网信息服务管理办法》、《中华人民共和国电信条例》、《全国人民代表大会常务委员会关于加强网络信息保护的决定》和《电信和互联网用户个人信息保护规定》所指定的原则和法规。<br>
					2、所有接受或使用本系统服务的用户，将表明其已阅读并表示遵守本系统现行的各项管理规定并接受根据这些规定所实施的相关管理。如有不同意见，用户有权拒绝接受服务而选择离开本站。<br>
					3、本系统用户有义务保证其个人资料的有效性和真实性。<br>
					4、用户可使用本系统所提供的各种服务，但用户应对自己的使用行为负责，并承担因此而带来的相关责任。<br>
					5、各用户应及时下载邮箱内的信件资料、清理邮箱。否则，如丢失邮件，将由该用户自己负责，信息办不承诺长期保存电子邮箱内的信件。<br>
					6、禁止利用邮箱从事违法犯罪活动，禁止收看、传播黄色邮件，对从事违法活动的用户，将取消其邮箱的使用权，并通报其所在部门、向学校有关部门报告。对触犯法律的，要依法处理。</span><hr>
					</td>
				</tr>
				<tr>
					<td align="center"><button style="width: 90px; height: 28px; font-size:16pt" onclick="location='mailreg.php'">同意</button>
					　　　　　　<button style="width: 90px; height: 28px; font-size:16pt" onclick="window.open('','_top');window.top.close();window.open('','_self','');window.close();history.go(-1);">不同意</button>
					</td>
				</tr>
			</table>
		</div>
		</td>
	</tr>
</table>

</body>

</html>