<base href="http://ltxc.nankai.edu.cn/"><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>离退休处</title>

<link type="text/css" href="/_css/_system/system.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/1/style/6/6.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/00/1a/26/style/63/63.css" rel="stylesheet"/>
       <LINK href="/_css/tpl2/default/portlet/dtjt/9/dtjt9.css" type="text/css" rel="stylesheet">
       <LINK href="/_css/tpl2/system.css" type="text/css" rel="stylesheet"> 
       <LINK href="/_css/tpl2/default/default.css" type="text/css" rel="stylesheet"> 
<link type="text/css" href="/_js/_portletPlugs/simpleNews/css/simplenews.css" rel="stylesheet" />
<link type="text/css" href="/_js/_portletPlugs/sudyNavi/css/sudyNav.css" rel="stylesheet" />

<script language="javascript" src="/_js/sudy-jquery-autoload.js" jquery-src="/_js/jquery-1.x.min.js" sudy-wp-context="" sudy-wp-siteId="26"></script>
<script language="javascript" src="/_js/jquery-migrate.min.js"></script>
<script language="javascript" src="/_js/jquery.sudy.wp.visitcount.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/sudyNavi/jquery.sudyNav.js"></script>
<link rel="stylesheet" href="/_upload/tpl/00/11/17/template17/style.css" media="screen" />
</head>
<body>
<!--wrapper-->
 <div id="header">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td rowspan="3" width="41"></td>
    <td height="109"></td>
    <td rowspan="3" width="41"></td>
  </tr>
  <tr>
    <td height="28" background="/_upload/tpl/00/11/17/template17/images/nav_c.jpg">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="4"><img src="/_upload/tpl/00/11/17/template17/images/nav_l.jpg" /></td>
    <td align="center">
<div frag="面板1"> 
<div frag="窗口1"> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wp_nav" data-nav-config="{drop_v: 'down', drop_w: 'right', dir: 'y', opacity_main: '1', opacity_sub: '0.8', dWidth: '0'}"> 
<tr> 
<td> 
 
<table align="center" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td width="16"></td>
    <td height="28"> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="nav-a"><a href="http://ltxc.nankai.edu.cn/main.htm" title="首页" class="nav-a" target="_self">首页</a></div> 
          
</div> 
</td>
    <td width="16"></td>
  </tr>
</table></td> 
<td> 
 
<table align="center" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td width="16"></td>
    <td height="28"> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="nav-a"><a href="/748/list.htm" title="新闻动态" class="nav-a" target="_self">新闻动态</a></div> 
          
</div> 
</td>
    <td width="16"></td>
  </tr>
</table></td> 
<td> 
 
<table align="center" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td width="16"></td>
    <td height="28"> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="nav-a"><a href="/749/list.htm" title="通知公告" class="nav-a" target="_self">通知公告</a></div> 
          
</div> 
</td>
    <td width="16"></td>
  </tr>
</table></td> 
<td> 
 
<table align="center" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td width="16"></td>
    <td height="28"> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="nav-a"><a href="/750/list.htm" title="部门简介" class="nav-a" target="_self">部门简介</a></div> 
          
</div> 
</td>
    <td width="16"></td>
  </tr>
</table></td> 
<td> 
 
<table align="center" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td width="16"></td>
    <td height="28"> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="nav-a"><a href="/751/list.htm" title="政策文件" class="nav-a" target="_self">政策文件</a></div> 
          
</div> 
</td>
    <td width="16"></td>
  </tr>
</table></td> 
<td> 
 
<table align="center" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td width="16"></td>
    <td height="28"> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="nav-a"><a href="/752/list.htm" title="党建工作" class="nav-a" target="_self">党建工作</a></div> 
          
</div> 
</td>
    <td width="16"></td>
  </tr>
</table></td> 
<td> 
 
<table align="center" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td width="16"></td>
    <td height="28"> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="nav-a"><a href="/753/list.htm" title="活动团体" class="nav-a" target="_self">活动团体</a></div> 
          
</div> 
</td>
    <td width="16"></td>
  </tr>
</table></td> 
<td> 
 
<table align="center" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td width="16"></td>
    <td height="28"> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="nav-a"><a href="/754/list.htm" title="老龄园地" class="nav-a" target="_self">老龄园地</a></div> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i8-1 "> 
                 <a href="/756/list.htm" title="健康养生" target="_blank"><span class="item-name">健康养生</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i8-2 "> 
                 <a href="/757/list.htm" title="老龄风采" target="_blank"><span class="item-name">老龄风采</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
</div> 
</td>
    <td width="16"></td>
  </tr>
</table></td> 
</tr> 
</table> 
</div> 
</div> 

</td>
    <td width="4"><img src="/_upload/tpl/00/11/17/template17/images/nav_r.jpg" /></td>
  </tr>
</table>

	</td>
    </tr>
  <tr>
    <td height="12"></td>
    </tr>
</table>

 </div><!--end:header-->
<div class="wrapper">
 <!--container-->
 <div id="container">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="370" valign="top">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="13"><img src="/_upload/tpl/00/11/17/template17/images/main_h1_l.gif" /></td>
    <td height="27" background="/_upload/tpl/00/11/17/template17/images/main_h1_c.gif" class="t41">
<span frag="面板4"><span frag="窗口4" portletmode="windowTitle" style="display: block; text-align: left;" >新闻动态</span></span></td>
    <td background="/_upload/tpl/00/11/17/template17/images/main_h1_c.gif" width="72">
<span frag="面板5"><span frag="窗口5" portletmode="windowMore"  ><span class="more"><a class="more-link" href="/748/list.htm" title="显示更多"><span class="moretext"><img src='/_upload/site/00/1a/26/style/21/more.gif' border='0'/></span></a></span></span></span></td>
    <td width="16"><img src="/_upload/tpl/00/11/17/template17/images/main_h1_r.gif" /></td>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td height="7"></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="9"><img src="/_upload/tpl/00/11/17/template17/images/box_t_l.jpg" /></td>
    <td height="9" background="/_upload/tpl/00/11/17/template17/images/box_t_c.jpg"><img src="/_upload/tpl/00/11/17/template17/images/box_t_c.jpg" /></td>
    <td width="9"><img src="/_upload/tpl/00/11/17/template17/images/box_t_r.jpg" /></td>
  </tr>
  <tr>
    <td width="9" valign="bottom" background="/_upload/tpl/00/11/17/template17/images/box_c_l_bg.jpg"><img src="/_upload/tpl/00/11/17/template17/images/box_c_l.jpg" /></td>
    <td valign="top" class="newdi">
	
<div frag="面板11"> 
<div frag="窗口11"> 
<div id="wp_news_w11"> 
 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
   
<tr>
    <td width="15" align="center"><img src="/_upload/tpl/00/11/17/template17/images/li1.gif" /></td>
    <td height="25"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0308/c748a120471/page.htm' target='_blank' title='天津城建大学离退休工作处到我校离退休处调研'>天津城建大学离退休工作处到我校离退...</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-03-08</div></td> 
 
</tr> 
</table> 
</td>
  </tr> 
<tr>
    <td width="15" align="center"><img src="/_upload/tpl/00/11/17/template17/images/li1.gif" /></td>
    <td height="25"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0308/c748a120470/page.htm' target='_blank' title='离退休党工委组织离退休老同志参观改革开放40周年大型展览'>离退休党工委组织离退休老同志参观改...</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-03-08</div></td> 
 
</tr> 
</table> 
</td>
  </tr> 
<tr>
    <td width="15" align="center"><img src="/_upload/tpl/00/11/17/template17/images/li1.gif" /></td>
    <td height="25"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0219/c748a119521/page.htm' target='_blank' title='元宵节，听习近平讲传统美德'>元宵节，听习近平讲传统美德</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-02-19</div></td> 
 
</tr> 
</table> 
</td>
  </tr> 
<tr>
    <td width="15" align="center"><img src="/_upload/tpl/00/11/17/template17/images/li1.gif" /></td>
    <td height="25"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0123/c748a119029/page.htm' target='_blank' title='南开大学举行2018年度教职工荣休暨师德传承典礼'>南开大学举行2018年度教职工荣休暨师...</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-01-23</div></td> 
 
</tr> 
</table> 
</td>
  </tr> 
<tr>
    <td width="15" align="center"><img src="/_upload/tpl/00/11/17/template17/images/li1.gif" /></td>
    <td height="25"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0123/c748a119028/page.htm' target='_blank' title='白衣天使助爱南开启光明'>白衣天使助爱南开启光明</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-01-23</div></td> 
 
</tr> 
</table> 
</td>
  </tr> 
<tr>
    <td width="15" align="center"><img src="/_upload/tpl/00/11/17/template17/images/li1.gif" /></td>
    <td height="25"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0108/c748a118062/page.htm' target='_blank' title='【转载】“咬文嚼字”公布2018十大流行语！'>【转载】“咬文嚼字”公布2018十大流...</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-01-17</div></td> 
 
</tr> 
</table> 
</td>
  </tr> 

</table></div> 
 
</div> 
</div> 


	</td>
    <td width="9" valign="bottom" background="/_upload/tpl/00/11/17/template17/images/box_c_r_bg.jpg"><img src="/_upload/tpl/00/11/17/template17/images/box_c_r.jpg" /></td>
  </tr>
  <tr>
    <td width="9"><img src="/_upload/tpl/00/11/17/template17/images/box_b_l.jpg" /></td>
    <td height="9" background="/_upload/tpl/00/11/17/template17/images/box_b_c.jpg"><img src="/_upload/tpl/00/11/17/template17/images/box_b_c.jpg" /></td>
    <td width="9"><img src="/_upload/tpl/00/11/17/template17/images/box_b_r.jpg" /></td>
  </tr>
</table>
</td>
  </tr>
</table>

	</td>
    <td width="8"></td>
    <td valign="top" style="border:1px solid #dfdfdf;" bgcolor="#FFFFFF">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="8"></td>
    <td height="5"></td>
    <td width="8"></td>
  </tr>
  <tr>
    <td width="8"></td>
    <td width="438" valign="top"><div class="slidebox">
<div frag="面板12"> 
<div frag="窗口12"> 
<!-- 多图交替9 图片 标题 切换 -->
<div style="position:relative;overflow:hidden;width:438px;height:190px;">
    <div class="dtjt9_div_img">
        <img id="w12imgShow" name="w12imgShow" onclick="w12openWindow();" style="FILTER: revealTrans(duration=2,transition=20); border: 0; cursor: pointer;" src="/..//_css/tpl/default/images/loading.gif" width="438px" height="190px" vspace="0">
        <div id='w12imgNumber' class="number"></div>
    </div>
    <div class="dtjt9_div_text">
        <div id='w12imgTitle' class="dtjt9_div_text_title"><a href="javascript:void(0)">&nbsp;</a></div>									
    </div>
</div>
<script language="JavaScript" class="" >
    var w12imgJsons = [
    
        
            {
            "src" : "/_upload/article/images/78/d5/8b7ec59d451eb3bc32fa02b84e32/fb6bb6ad-df2b-4f0c-a9cb-1a517e6d0072_s.png",
            "title" : "不忘初心&nbsp;牢记使命",
            "url" : "/2017/1026/c770a76300/page.htm"
            },
        
    
        
            {
            "src" : "/_upload/article/31/af/f4067c12489c8624b37de0030b44/ed8d5280-9f22-45a1-9b22-f558ca07e379_s.jpg",
            "title" : "唱响幸福路，舞动夕阳红",
            "url" : "/2012/1213/c770a5765/page.htm"
            },
        
    
        
            {
            "src" : "/_upload/article/3d/aa/b282fb434927bcc29a3e801354bb/3a7aa2c9-94ef-4f13-adcc-b45357a2380e_s.jpg",
            "title" : "“践行群众路线，同圆中国梦”周末乐坛",
            "url" : "/2013/1206/c770a5778/page.htm"
            }];
        
    
</script>
<script language="JavaScript">
            var w12imgUrl = new Array();
            var w12imgLink = new Array();
            var w12imgTitle = new Array();

            var w12count = 0;
            var w12running = false;
            var w12index = 0;
            var w12nextAdTimer;
            var w12k = 0;
            function w12nextAd(num) {
                if (num >= 0 && num <= w12count - 1) {
                    w12index = num;
                    clearTimeout(w12nextAdTimer);
                } else {
                    num = w12index;
                }
                if (w12index > w12count - 1) {
                    w12index = 0;
                }
                if (!w12running) {
                    w12running = true;

                } else if (document.all) {
                    w12imgShow.filters.revealTrans.Transition = 50;
                    w12imgShow.filters.revealTrans.apply();
                    w12imgShow.filters.revealTrans.play();
                }
                document.getElementById('w12imgShow').src = w12imgUrl[w12index];
                if (w12imgTitle[w12index] != '') {
                    document.getElementById('w12imgTitle').innerHTML = '<a href="javascript:w12openWindow();" title="' + w12imgTitle[w12index] + '">' + w12imgTitle[w12index] + '</a>';
                }
                document.getElementById('w12imgNumber').innerHTML = "";
                w12k = 0;
                for (var i = 0; i < w12count; i++) {
                    w12k++;
                    if (i != w12index) {
                        document.getElementById('w12imgNumber').innerHTML += '<a href="javascript:w12nextAd(' + i + ')" class="nomal">' + w12k + '</a>';
                    } else {
                        document.getElementById('w12imgNumber').innerHTML += '<a href="javascript:w12nextAd(' + i + ')" class="current">' + w12k + '</a>';
                    }
                }

                w12index++;
                if (w12count > 1) {
                    w12nextAdTimer = setTimeout("w12nextAd(-1)", 4000);
                }
            }

            function w12openWindow() {
                var jumpUrl = w12imgLink[w12index - 1];
                if (jumpUrl && jumpUrl != '') {
                    window.open(jumpUrl);
                }
            }

            $().ready(function() {
                try {
                    var objs = w12imgJsons;
                    w12count = objs.length;
                    if (w12count == 0) {
                        document.getElementById('w12imgShow').style.display = "none";
                        document.getElementById('w12imgNumber').style.display = "none";
                        document.getElementById('w12imgTitle').style.display = "none";
                        return;
                    }
                    for (var i = 0; i < objs.length; i++) {
                        w12imgUrl[i] = objs[i].src;
                        w12imgLink[i] = objs[i].url;
                        w12imgTitle[i] = objs[i].title;
                    }
                    w12nextAd(-1);
                } catch (e) {

                }
            });
</script>
 
</div> 
</div> 
</div>
</td>
    <td width="8"></td>
  </tr>
  <tr>
    <td width="8"></td>
    <td height="5"></td>
    <td width="8"></td>
  </tr>
</table>
	</td>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td height="12"></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="370" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="13"><img src="/_upload/tpl/00/11/17/template17/images/main_h1_l.gif" /></td>
    <td height="27" background="/_upload/tpl/00/11/17/template17/images/main_h1_c.gif" class="t41">
<span frag="面板6"><span frag="窗口6" portletmode="windowTitle" style="display: block; text-align: left;" >通知公告</span></span></td>
    <td background="/_upload/tpl/00/11/17/template17/images/main_h1_c.gif" width="72">
<span frag="面板7"><span frag="窗口7" portletmode="windowMore"  ><span class="more"><a class="more-link" href="/749/list.htm" title="显示更多"><span class="moretext"><img src='/_upload/site/00/1a/26/style/21/more.gif' border='0'/></span></a></span></span></span></td>
    <td width="16"><img src="/_upload/tpl/00/11/17/template17/images/main_h1_r.gif" /></td>
  </tr>
</table></td>
  </tr>
  <tr>
    <td height="7"></td>
  </tr>
  <tr>
    <td>
<div frag="面板13"> 
<div frag="窗口13"> 
<div id="wp_news_w13"> 
 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
   
<tr>
    <td width="15" align="center"><img src="/_upload/tpl/00/11/17/template17/images/li1.gif" /></td>
    <td height="23"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0117/c749a118533/page.htm' target='_blank' title='2019年寒假温馨提示'>2019年寒假温馨提示</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-01-17</div></td> 
 
</tr> 
</table> 
</td>
  </tr> 
<tr>
    <td width="15" align="center"><img src="/_upload/tpl/00/11/17/template17/images/li1.gif" /></td>
    <td height="23"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0108/c749a118061/page.htm' target='_blank' title='“喜迎新春佳节，礼敬荣休教工”居家保「干干净净过大年」为您洗窗帘、做家政'>“喜迎新春佳节，礼敬荣休教工”居家...</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-01-17</div></td> 
 
</tr> 
</table> 
</td>
  </tr> 
<tr>
    <td width="15" align="center"><img src="/_upload/tpl/00/11/17/template17/images/li1.gif" /></td>
    <td height="23"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2018/1227/c749a117538/page.htm' target='_blank' title='中组部下发通知要求在元旦春节期间开展走访慰问生活困难党员、老党员、老干部活动'>中组部下发通知要求在元旦春节期间开...</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2018-12-27</div></td> 
 
</tr> 
</table> 
</td>
  </tr> 
<tr>
    <td width="15" align="center"><img src="/_upload/tpl/00/11/17/template17/images/li1.gif" /></td>
    <td height="23"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2018/1217/c749a116838/page.htm' target='_blank' title='恭贺南开百年校庆 建行服务荣休教工'>恭贺南开百年校庆 建行服务荣休教工</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2018-12-17</div></td> 
 
</tr> 
</table> 
</td>
  </tr> 
<tr>
    <td width="15" align="center"><img src="/_upload/tpl/00/11/17/template17/images/li1.gif" /></td>
    <td height="23"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2018/1211/c749a116582/page.htm' target='_blank' title='八里台校区部分区域停水通知'>八里台校区部分区域停水通知</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2018-12-11</div></td> 
 
</tr> 
</table> 
</td>
  </tr> 
<tr>
    <td width="15" align="center"><img src="/_upload/tpl/00/11/17/template17/images/li1.gif" /></td>
    <td height="23"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2018/1211/c749a116581/page.htm' target='_blank' title='关于组织开展2018年教职工健康体检的通知'>关于组织开展2018年教职工健康体检的...</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2018-12-11</div></td> 
 
</tr> 
</table> 
</td>
  </tr> 

</table></div> 
 
</div> 
</div> 
</td>
  </tr>
</table>
</td>
    <td width="8"></td>
    <td valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="13"><img src="/_upload/tpl/00/11/17/template17/images/main_h1_l.gif" /></td>
    <td height="27" background="/_upload/tpl/00/11/17/template17/images/main_h1_c.gif" class="t41">
<span frag="面板8"><span frag="窗口8" portletmode="windowTitle" style="display: block; text-align: left;" >便民服务</span></span></td>
    <td background="/_upload/tpl/00/11/17/template17/images/main_h1_c.gif" width="72">
<span frag="面板9"><span frag="窗口9" portletmode="windowMore"  ><span class="more"><a class="more-link" href="/760/list.htm" title="显示更多"><span class="moretext"><img src='/_upload/site/00/1a/26/style/21/more.gif' border='0'/></span></a></span></span></span></td>
    <td width="16"><img src="/_upload/tpl/00/11/17/template17/images/main_h1_r.gif" /></td>
  </tr>
</table></td>
  </tr>
  <tr>
    <td height="10"></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="kuang1" valign="bottom"><img src="/_upload/tpl/00/11/17/template17/images/tel.jpg" /></td>
    <td width="9"></td>
    <td width="189" class="kuang1" align="center"><iframe name="weather_inc" src="http://tianqi.xixik.com/cframe/2" width="170" height="70" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe>
</td>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td height="8"></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="kuang1 nowrap" bgcolor="#f9f9f9" height="44">

<div frag="面板14"> 
<div frag="窗口14"> 
<!-- No Data --> 
</div> 
</div> 

</td>
  </tr>
</table>	
	</td>
  </tr>
</table>
</td>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td height="12"></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="28"><img src="/_upload/tpl/00/11/17/template17/images/img001.jpg" /></td>
    <td valign="top" class="kuang2" bgcolor="#ebebeb">
	<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="10"></td>
  </tr>
  <tr>
    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="9"></td>
    <td width="256" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="25" bgcolor="#a7778f"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="9"></td>
    <td class="t51">
<span frag="面板10"><span frag="窗口10" portletmode="windowTitle" style="display: block; text-align: left;" >老龄风采</span></span></td>
    <td width="72">
<span frag="面板18"><span frag="窗口18" portletmode="windowMore"  ><span class="more"><a class="more-link" href="/757/list.htm" title="显示更多"><span class="moretext"><img src='/_upload/site/00/1a/26/style/21/more.gif' border='0'/></span></a></span></span></span></td>
    <td width="9"></td>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td height="8"></td>
  </tr>
  <tr>
    <td>
<div frag="面板15"> 
<div frag="窗口15"> 
<div id="wp_news_w15"> 
 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
   
<tr>
    <td width="15" align="center"><img src="/_upload/tpl/00/11/17/template17/images/li1.gif" /></td>
    <td height="23"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0117/c757a118534/page.htm' target='_blank' title='北村之恋'>北村之恋</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-01-17</div></td> 
 
</tr> 
</table> 
</td>
  </tr> 
<tr>
    <td width="15" align="center"><img src="/_upload/tpl/00/11/17/template17/images/li1.gif" /></td>
    <td height="23"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2018/1229/c757a117640/page.htm' target='_blank' title='【纪念改革开放四十周年征文】之《祖国万岁》'>【纪念改革开放四十周...</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2018-12-29</div></td> 
 
</tr> 
</table> 
</td>
  </tr> 
<tr>
    <td width="15" align="center"><img src="/_upload/tpl/00/11/17/template17/images/li1.gif" /></td>
    <td height="23"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2018/1229/c757a117639/page.htm' target='_blank' title='【纪念改革开放四十周年征文】之《改革创新促进科技目录学学科建设》'>【纪念改革开放四十周...</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2018-12-29</div></td> 
 
</tr> 
</table> 
</td>
  </tr> 
<tr>
    <td width="15" align="center"><img src="/_upload/tpl/00/11/17/template17/images/li1.gif" /></td>
    <td height="23"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2018/1227/c757a117508/page.htm' target='_blank' title='【纪念改革开放四十周年征文】之《家乡巨变》'>【纪念改革开放四十周...</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2018-12-28</div></td> 
 
</tr> 
</table> 
</td>
  </tr> 

</table></div> 
 
</div> 
</div> 
</td>
  </tr>
</table></td>
    <td width="9"></td>
    <td width="256" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="25" bgcolor="#a7778f"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="9"></td>
    <td class="t51">
<span frag="面板19"><span frag="窗口19" portletmode="windowTitle" style="display: block; text-align: left;" >健康养生</span></span></td>
    <td width="72">
<span frag="面板20"><span frag="窗口20" portletmode="windowMore"  ><span class="more"><a class="more-link" href="/756/list.htm" title="显示更多"><span class="moretext"><img src='/_upload/site/00/1a/26/style/21/more.gif' border='0'/></span></a></span></span></span></td>
    <td width="9"></td>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td height="8"></td>
  </tr>
  <tr>
    <td>
<div frag="面板16"> 
<div frag="窗口16"> 
<div id="wp_news_w16"> 
 
<table width="100%" border="0" cellspacing="0" cellpadding="0">
   
<tr>
    <td width="15" align="center"><img src="/_upload/tpl/00/11/17/template17/images/li1.gif" /></td>
    <td height="23"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2017/0606/c756a67716/page.htm' target='_blank' title='夏日炎炎防中暑'>夏日炎炎防中暑</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2017-06-06</div></td> 
 
</tr> 
</table> 
</td>
  </tr> 
<tr>
    <td width="15" align="center"><img src="/_upload/tpl/00/11/17/template17/images/li1.gif" /></td>
    <td height="23"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2017/0428/c756a65862/page.htm' target='_blank' title='H7N9防控知识问答'>H7N9防控知识问答</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2017-04-28</div></td> 
 
</tr> 
</table> 
</td>
  </tr> 
<tr>
    <td width="15" align="center"><img src="/_upload/tpl/00/11/17/template17/images/li1.gif" /></td>
    <td height="23"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2015/1013/c756a30168/page.htm' target='_blank' title='为什么选择太极拳？'>为什么选择太极拳？</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2015-10-13</div></td> 
 
</tr> 
</table> 
</td>
  </tr> 
<tr>
    <td width="15" align="center"><img src="/_upload/tpl/00/11/17/template17/images/li1.gif" /></td>
    <td height="23"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2015/1013/c756a30167/page.htm' target='_blank' title='练太极拳对身体各系统带来的好处'>练太极拳对身体各系统...</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2015-10-13</div></td> 
 
</tr> 
</table> 
</td>
  </tr> 

</table></div> 
 
</div> 
</div> 
</td>
  </tr>
</table></td>
    <td width="9"></td>
    <td width="256" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="25" bgcolor="#a7778f"><table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="9"></td>
    <td class="t51">
<span frag="面板21"><span frag="窗口21" portletmode="windowTitle" style="display: block; text-align: left;" >老年大学</span></span></td>
    <td width="72">
<span frag="面板22"><span frag="窗口22" portletmode="windowMore"  ><span class="more"><a class="more-link" href="" title="显示更多"><span class="moretext"><img src='/_upload/site/00/1a/26/style/21/more.gif' border='0'/></span></a></span></span></span></td>
    <td width="9"></td>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td height="8"></td>
  </tr>
  <tr>
    <td>
<div frag="面板17"> 
<div frag="窗口17"> 
<!-- No Data --> 
</div> 
</div> 
</td>
  </tr>
</table></td>
    <td width="9"></td>
  </tr>
</table>
</td>
  </tr>
</table>
	</td>
  </tr>
</table>
</td>
  </tr>
</table>
 </div><!--end:container-->
 <div id="footer">
 <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td class="kuang1" bgcolor="#f5f5f5" height="29" align="center"><table align="center" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="19" align="center"><img src="/_upload/tpl/00/11/17/template17/images/cut.jpg" /></td>
	<td>
<div frag="面板2"> 
<div frag="窗口2"> 

<style type="text/css"> 
#wp_nav_w2 .wp_nav { margin:0 auto;}
#wp_nav_w2 .wp_nav .nav-item{float:none;}
#wp_nav_w2 .wp_nav .on {}
#wp_nav_w2 .wp_nav .nav-item .mark { font-style:normal;}
#wp_nav_w2 .wp_nav .nav-item a{  font-family:inherit; text-align:left;}
#wp_nav_w2 .wp_nav .nav-item a:hover,.wp_nav .nav-item .parent{}
#wp_nav_w2 .wp_nav .nav-item a .item-name { display:inline-block;vertical-align:top; cursor:pointer;}
#wp_nav_w2 .wp_nav .sub-nav { border:1px solid #959595;line-height: 1;background: #e1e1e1;padding:1px 0px; margin-top:-2px;}
#wp_nav_w2 .wp_nav .sub-nav .nav-item .mark {background:#f5f5f5;}
#wp_nav_w2 .wp_nav .sub-nav .nav-item a {background: #e1e1e1;}
#wp_nav_w2 .wp_nav .sub-nav .nav-item a .item-name { border:1px solid #959595; margin:0px 2px 1px 2px;padding:0px 10px; line-height:20px;display:block;}
#wp_nav_w2 .wp_nav .sub-nav .nav-item a:hover .item-name,.wp_nav .sub-nav .nav-item a.parent .item-name{background:#f5f5f5; border-color: #ccc;}

</style> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wp_nav" data-nav-config="{drop_v: 'down', drop_w: 'right', dir: 'y', opacity_main: '1', opacity_sub: '0.8', dWidth: '0'}"> 
<tr> 
<td> 
 
<table width="100%" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="mlin2"><a href="/762/list.htm" title="邮件系统" class="mlin2" target="_self">邮件系统</a></div> 
          
</div> 
</td>
    <td width="19" align="center"><img src="/_upload/tpl/00/11/17/template17/images/cut.jpg" /></td>
  </tr>
</table></td> 
<td> 
 
<table width="100%" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="mlin2"><a href="/763/list.htm" title="服务指南" class="mlin2" target="_self">服务指南</a></div> 
          
</div> 
</td>
    <td width="19" align="center"><img src="/_upload/tpl/00/11/17/template17/images/cut.jpg" /></td>
  </tr>
</table></td> 
<td> 
 
<table width="100%" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="mlin2"><a href="/764/list.htm" title="校内站点" class="mlin2" target="_self">校内站点</a></div> 
          
</div> 
</td>
    <td width="19" align="center"><img src="/_upload/tpl/00/11/17/template17/images/cut.jpg" /></td>
  </tr>
</table></td> 
<td> 
 
<table width="100%" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="mlin2"><a href="/765/list.htm" title="重要链接" class="mlin2" target="_self">重要链接</a></div> 
          
</div> 
</td>
    <td width="19" align="center"><img src="/_upload/tpl/00/11/17/template17/images/cut.jpg" /></td>
  </tr>
</table></td> 
<td> 
 
<table width="100%" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="mlin2"><a href="/766/list.htm" title="资源信息" class="mlin2" target="_self">资源信息</a></div> 
          
</div> 
</td>
    <td width="19" align="center"><img src="/_upload/tpl/00/11/17/template17/images/cut.jpg" /></td>
  </tr>
</table></td> 
<td> 
 
<table width="100%" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="mlin2"><a href="/767/list.htm" title="网关系统" class="mlin2" target="_self">网关系统</a></div> 
          
</div> 
</td>
    <td width="19" align="center"><img src="/_upload/tpl/00/11/17/template17/images/cut.jpg" /></td>
  </tr>
</table></td> 
<td> 
 
<table width="100%" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="mlin2"><a href="/768/list.htm" title="新校区捐赠" class="mlin2" target="_self">新校区捐赠</a></div> 
          
</div> 
</td>
    <td width="19" align="center"><img src="/_upload/tpl/00/11/17/template17/images/cut.jpg" /></td>
  </tr>
</table></td> 
<td> 
 
<table width="100%" border="0" cellspacing="0" cellpadding="0" >
  <tr>
    <td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="mlin2"><a href="/769/list.htm" title="新校区建设" class="mlin2" target="_self">新校区建设</a></div> 
          
</div> 
</td>
    <td width="19" align="center"><img src="/_upload/tpl/00/11/17/template17/images/cut.jpg" /></td>
  </tr>
</table></td> 
</tr> 
</table> 
</div> 
</div> 
</td>
  </tr>
</table>
</td>
  </tr>
  <tr>
    <td height="60" class="footer">南开大学离退休人员管理处版权所有<br />
津教备0061号 津ICP备12003308号-1</td>
  </tr>
</table>

 </div>
</div><!--end:wrapper-->
<div class="none">

<div frag="面板3"> 
<div frag="窗口3"> 
 
</div> 
</div> 

</div>
</body>
</html>
 <image src="/_visitcount?siteId=26&type=1&columnId=746" style="display:none" width="0" height="0"></image>