<base href="http://news.nankai.edu.cn/xfjs/system/2012/03/21/000059837.shtml"><HTML>
<HEAD>
<title>南开大学学风建设委员会章程--学风建设专题</title>

<style type="text/css">
<!--
body {
	background-color: #e6e7e9;
}

-->
</style></HEAD>
<BODY LEFTMARGIN=0 TOPMARGIN=0 MARGINWIDTH=0 MARGINHEIGHT=0>


<body>
<div align="center">
  <table width="950" border="0" cellspacing="0" bgcolor="#FFFFFF">
    <tr valign="bottom" bgcolor="#FFFFFF">
      <td colspan="4" height="120"><div id="logo">
<!--enorth cms{ banner-xf }enorth cms-->
<div align="center"><img src="http://news.nankai.edu.cn/pic/0/00/03/53/35304_345297.jpg" width="950" height="126"></div>

<!--enorth cms{ banner-xf }enorth cms-->
</div>        </td>
    </tr>
    <tr valign="top" bgcolor="#FFFFFF">
      <td colspan="4"><table width="950" border="0" cellspacing="0" cellpadding="0">
        <tr bgcolor="CCCDCF">
          <td width="45" height="23">&nbsp;</td>
          <td width="581" height="23">
<!--function position() parse begin-->
您当前的位置 ：<a href=http://news.nankai.edu.cn/xfjs/>学风建设专题</a>&nbsp;正文
<!--function: position() parse end  0ms cost! -->
 </td>
          <td width="324" height="23" valign="middle"><div align="center">
<!--enorth cms{ baidu }enorth cms-->
			 <!--Baidu站内搜索开始-->
<script language="javascript">
function baidusearch () {
var wd=document.getElementsByName("wd")[0].value;
var link="http://www.baidu.com/s?si=news.nankai.edu.cn&cl=3&ct=2097152&tn=baidulocal&word="+wd;
window.open(link); }
</script>
<input type="text" name="wd"/><input type="submit" onclick="javascript:baidusearch()" value="新闻网搜索" />
<!--Baidu站内搜索结束-->
<!--enorth cms{ baidu }enorth cms-->

             </div></td>
        </tr>
        <tr>
          <td colspan="3"><img src="http://news.nankai.edu.cn/images/jiewei/position.jpg" width="950" height="15"></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td width="694"><div align="left">　</div></td>
      <td width="3" rowspan="3"><div align="left">
        </div></td>
      <td width="4" rowspan="3" background="http://news.nankai.edu.cn/images/xian2.jpg">&nbsp;</td>
      <td width="245" rowspan="3" valign="top"><div align="center">
<!--enorth cms{ bianlan-xf }enorth cms-->
<HTML>
<HEAD>
<TITLE>南开新闻网</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=gb2312">
<link href="http://news.nankai.edu.cn/css/index.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.STYLE2 {font-size: 16px}
-->
</style>
</HEAD>
<BODY BGCOLOR=#FFFFFF LEFTMARGIN=0 TOPMARGIN=0 MARGINWIDTH=0 MARGINHEIGHT=0>

<style type="text/css">
<!--

-->
</style>
<table width="240" border="0">
  <tr>
    <td valign="top"><img src="http://news.nankai.edu.cn/pic/0/00/12/61/126152_221937.jpg" width="230" height="31" border="0"></td>
  </tr>
  <tr>
    <td>
<!--function guide5(xfjsdt,1,10,false,·,none,none,none) parse begin-->
<table width="100%"  >
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182638.shtml"   target="_blank" >教育部有关负责人就新出台的学风建设文件答记者问 </a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182637.shtml"   target="_blank" >教育部开展高校学风建设专项教育和治理行动 </a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182636.shtml"   target="_blank" >南开大学师德建设工作情况（2013）</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2013/05/29/000128014.shtml"   target="_blank" >南开大学2011年学风建设年度报告</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182639.shtml"   target="_blank" >“南开大学研究生学风建设专题网站”开通</a></td></tr>
</table>

<!--function: guide5(xfjsdt,1,10,false,·,none,none,none) parse end  47ms cost! -->
</td>
  </tr>
  <tr>
    <td> </td>
  </tr>
  <tr>
    <td> </td>
  </tr>
  <tr>
    <td><img src="http://news.nankai.edu.cn/pic/0/00/12/61/126153_700572.jpg" width="230" height="31"></td>
  </tr>
  <tr>
    <td>
<!--function guide5(yxtd,1,10,false,·,none,none,none) parse begin-->
<table width="100%"  >
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182615.shtml"   target="_blank" >南开大学公司治理研究中心创新团队纪实</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182634.shtml"   target="_blank" >学风纯正高尚的楷模 ——记明史大家南开大学历史学院教授南炳文先生</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182635.shtml"   target="_blank" >学高为师，身正为范——记南开大学经济学院副教授刘凤义</a></td></tr>
</table>

<!--function: guide5(yxtd,1,10,false,·,none,none,none) parse end  31ms cost! -->
</td>
  </tr>
  <tr>
    <td> </td>
  </tr>
  
  <tr>
    <td><img src="http://news.nankai.edu.cn/pic/0/00/12/61/126154_978978.jpg" width="230" height="31"></td>
  </tr>
  <tr>
    <td><div align="center"><a href="http://ygb.nankai.edu.cn/xfjs/index.html"><img src="http://news.nankai.edu.cn/pic/0/00/08/31/83124_825347.jpg" width="230" height="44" border="0"></a></div></td>
  </tr>
</table>

<!--enorth cms{ bianlan-xf }enorth cms-->
</div></td>
    </tr>
    <tr>
      <td valign="top"><div align="left">
        <table width="85%" border="0" align="center" cellpadding="2" cellspacing="0">
          <tr>
            <td><div align="center"><span class="title">南开大学学风建设委员会章程 </span></div></td>
          </tr>
          <tr>
            <td><div align="center">来源：
<!--function source_without_pub_date() parse begin-->
<a href="http://xb.nankai.edu.cn/XBOA/Default.aspx"  target="_blank" >南开大学办公网</a>
<!--function: source_without_pub_date() parse end  0ms cost! -->
　发稿时间：
<!--function pub_date() parse begin-->
2012-03-21 19:11
<!--function: pub_date() parse end  0ms cost! -->
</div></td>
          </tr>
          <tr>
            <td><hr width="95%" size="1" noshade></td>
          </tr>
          <tr>
            <td><span class="main">
<!--function content() parse begin-->
<p style="text-align: center">　　　　<strong>第一章 总则</strong></p>
<p>　　第一条 为加强我校学术道德和学风建设，提高科学研究的水平和质量，结合学校实际，特制定本章程。</p>
<!--advertisement code begin--><!--advertisement code end--><p>　　第二条 南开大学学风建设委员会(以下简称&ldquo;校学风建设委员会&rdquo;)是南开大学学术委员会下设的专门委员会，是我校学术规范建设、学术道德建设和学术风气建设的指导机构、咨询机构和甄别机构。校学术委员会是我校处理学术不端行为的最高学术评判机构。</p>
<p>　　第三条 校学风建设委员会贯彻落实国家、教育部以及我校学风建设的有关文件精神，制定加强学风建设、惩处学术不端行为的基本准则、实施细则等相关文件和政策。</p>
<p>　　第四条 校学风建设委员会坚持以科学发展观为指导，倡导严谨治学、实事求是、民主务实、勇于创新的学风。</p>
<p style="text-align: center">　　<strong>第二章 组织机构</strong></p>
<p>　　第五条 校学风建设委员会由我校学术水平高、学风正派并具有较强社会影响力的专家学者组成。设主任1名，常务副主任1名，委员9-11名。 - 2 -</p>
<p>　　第六条 校学风建设委员会委员，根据专业学科布局和学科带头人分布情况，经校长办公会议审议通过后，由学校聘任。</p>
<p>　　第七条 校学风建设委员会每届任期5年，可连选连任，但连任人数不得超过上届总人数的三分之二。委员在任期间离开学校岗位连续一年以上或因其它原因不宜再担任委员职务的，不再担任校学风建设委员会委员。增补委员须经校长办公会议审议通过，由学校聘任。</p>
<p>　　第八条 校学风建设委员会下设秘书处，秘书处由监察室、科学技术处、社会科学研究管理处、教务处、研究生院、人事处等部门组成，人事处牵头负责。人事处具体执行校学术委员会做出的并经校长办公会议审议通过的决定。</p>
<p>　　第九条 各院(系)负责人和学术分委员会负责本单位的学风建设。</p>
<p style="text-align: center">　　<strong>第三章 职责</strong></p>
<p>　　第十条 校学风建设委员会的职责</p>
<p>　　(一)深入贯彻落实《教育部关于严肃处理高等学校学术不端行为的通知》(教社科〔2009〕3号)精神，遵循客观、公正、合法的原则，坚持标本兼治、综合治理、惩防并举、注重预防的方针，依照国家有关法律法规，制定加强学风建设、惩处学术不端行为的基本准则、实施细则等相关文件和政策，做到依法办事、有章可循。</p>
<p>　　(二)针对高等学校学术失范、学术不端行为，通过组织调研、专家鉴定、召开听证会等方式，充分发挥专家作用，加强惩处行为的权威性、科学性，审议秘书处呈报的调查报告，提出初步处理意见，并报校学术委员会审批。</p>
<p>　　(三)密切结合我校学风建设的实际情况与存在的问题，选择典型事例，总结和推广学风建设的典型经验，指导和推进我校学风建设。</p>
<p>　　(四)指导各院(系)的学风建设工作。</p>
<p>　　(五)各院(系)负责人和学术分委员会对本单位各种学术组织和师生个人的学术不端行为的查处负有直接责任。在调查学术不端行为时，要密切配合校学风建设委员会秘书处查清事实，做到掌握证据，明辨是非，规范程序，正确把握政策界限。</p>
<p>　　第十一条 校学风建设委员会委员应具备以下条件：</p>
<p>　　(一)坚持社会主义办学方向，具有良好的思想政治素养和理论修养；</p>
<p>　　(二)熟悉党和国家有关科学研究、学风建设方面的方针政策，热心学校科学事业的发展；</p>
<p>　　(三)具有较高的专业造诣、学术水平和良好的学术道德，模范遵守学术规范，有较高的学术声望和社会影响；</p>
<p>　　(四)为人正派，办事客观公正。</p>
<p style="text-align: center">　　<strong>第四章 会议制度和议事制度</strong></p>
<p>　　第十二条 校学风建设委员会一般每半年召开一次会议，听取、审议并上报秘书处提交的报告，决定提请校学术委员会审议关于学风建设的重大事项。</p>
<p>　　第十三条 校学风建设委员会主任可临时召集会议，审议有关事项。在特殊情况下，校学风建设委员会主任可委托常务副主任主持会议；亦可根据工作需要召集相关院(系)负责人会议；</p>
<p>　　第十四条 如有重大学术不端行为，校学风建设委员会可根据需要，邀请校内外有关专家参加讨论，充分听取各方面意见。</p>
<p>　　第十五条 校学风建设委员会的委员除接受委员会的专门授权外，只能以个人身份参加委员会的工作，不代表任何组织。研究事项涉及委员本人，或委员与当事人有近亲属关系、直接师生关系、上下级关系以及其他可能影响公正的关系的，委员应主动提出回避。</p>
<p>　　第十六条 委员如涉嫌学术不端行为的，应退出校学风建设委员会。</p>
<p>　　第十七条 校学风建设委员会委员要认真履行职责，按时参加会议，因特殊原因不能出席会议者，应向秘书处请假；不能出席会议的委员不得委托他人参加会议，亦不能委托其他委员代为发表意见或投票。</p>
<p>　　第十八条 校学风建设委员会在讨论有关事项时，可要求学校相关部门负责人、当事人、专家或当事人所在单位学风建设委员会负责人陈述意见或接受询问。</p>
<p>　　第十九条校学风建设委员会在调查和处理学术不端行为时，要查清事实，掌握证据，明辨是非，规范程序，正确把握政策界限。对举报人提供必要的保护；要维护被调查人的人格尊严和正当合法权益；对举报不实、受到不当指控的单位和个人要及时澄清并予以保护。</p>
<p style="text-align: center">　　<strong>第五章 附则</strong></p>
<p>　　第二十条 本章程的修订须经校学风建设委员会三分之二以上委员同意，并报校长办公会议批准。</p>
<p>　　第二十一条 本章程由校学风建设委员会负责解释。</p>
<p>　　第二十二条 本章程自公布之日起施行。</p>
<p style="text-align: right; ">南开大学</p>
<p style="text-align: right; ">二○○九年六月二十三日</p>

<!--function: content() parse end  0ms cost! -->
 </span></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
        </table>
      </div></td>
    </tr>
    <tr>
      <td><div align="center"><br>
        <br>
        <br>
      </div></td>
    </tr>
    <tr>
      <td colspan="4"><div id="footer">
<!--enorth cms{ jiewei-xf }enorth cms-->
<style>
#footer{background-color:#E6E7E9; border-top:4px solid #E6E7E9;text-align:center;}
#footer #friends{background:#fff;padding:8px 50px 8px 50px; text-align:left;margin-bottom:10px;}
#footer p{font-size: 1.2em;}
</style>
<p align="center">
 版权所有&#169; 南开大学　网站制作与维护：南开大学党委宣传部 <br>
 举报电话：022-23508595；电子邮箱：nkxswyh@nankai.edu.cn；联系人：王越超<strong><br>
 津教备0061号 津ICP备12003308号-1</strong></p>	

<!--enorth cms{ jiewei-xf }enorth cms-->
</div></td>
    </tr>
  </table>
</div>
</body>
</html>
<!--<page cms="enorth webpublisher"  version="5.0.0 /2011101201" server_name="svctag-f76553x" parse_date="2014-05-22 15:55:06" cost="110" parse_result="0" input_mode="manual"></page>-->