<base href="http://phil.nankai.edu.cn/">﻿<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=7" />
<title>哲学院</title>

<link type="text/css" href="/_css/_system/system.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/1/style/6/6.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/00/67/103/style/85/85.css" rel="stylesheet"/>
       <LINK href="/_css/tpl2/default/portlet/dtjt/9/dtjt9.css" type="text/css" rel="stylesheet">
       <LINK href="/_css/tpl2/system.css" type="text/css" rel="stylesheet"> 
       <LINK href="/_css/tpl2/default/default.css" type="text/css" rel="stylesheet"> 
<link type="text/css" href="/_js/_portletPlugs/simpleNews/css/simplenews.css" rel="stylesheet" />
<link type="text/css" href="/_js/_portletPlugs/sudyNavi/css/sudyNav.css" rel="stylesheet" />

<script language="javascript" src="/_js/sudy-jquery-autoload.js" jquery-src="/_js/jquery-1.x.min.js" sudy-wp-context="" sudy-wp-siteId="103"></script>
<script language="javascript" src="/_js/jquery-migrate.min.js"></script>
<script language="javascript" src="/_js/jquery.sudy.wp.visitcount.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/sudyNavi/jquery.sudyNav.js"></script>
<link href="/_upload/tpl/00/d5/213/template213/style.css" rel="stylesheet" type="text/css">
</head>
<body>
<div id="div1">
<div id="container_page">
  <div id="head">
    <table width="100%" height="190" border="0" cellpadding="0" cellspacing="0" background="/_upload/tpl/00/d5/213/template213/images/2.png" style="background-repeat:no-repeat;">
      <tr>
        <td height="190">&nbsp;</td>
        <td height="46" valign="middle" align="left"><table width="100%" align="top" >
            <tr>
              <td width="100"><div frag="面板44">
                  <div frag="窗口44" portletmode="siteLogo">
                    <div class="logo">
                      <img src="/_upload/site/00/67/103/logo.png" >
                    </div>
                  </div>
                </div></td>
              <td height="46" valign="top" align="left"><div class="dhbj">
                  <div frag="面板1">
                    <div frag="窗口1">
                      <div id="wp_nav_w1"> 

 
<ul class="wp_nav" data-nav-config="{drop_v: 'down', drop_w: 'right', dir: 'y', opacity_main: '-1', opacity_sub: '-1', dWidth: '0'}">
      
     <li class="nav-item i1 "> 
         <a href="http://phil.nankai.edu.cn/" title="学院首页" target="_self"><span class="item-name">学院首页</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i2 "> 
         <a href="/5997/list.htm" title="  南开哲学  " target="_self"><span class="item-name">  南开哲学  </span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i2-1 "> 
                 <a href="/6007/list.htm" title="历史概况  " target="_self"><span class="item-name">历史概况  </span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i2-2 "> 
                 <a href="/6008/list.htm" title="学术单位" target="_self"><span class="item-name">学术单位</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i2-3 "> 
                 <a href="/6009/list.htm" title="  行政机构 " target="_self"><span class="item-name">  行政机构 </span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i3 "> 
         <a href="/5998/list.htm" title=" 师资力量 " target="_self"><span class="item-name"> 师资力量 </span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i3-1 "> 
                 <a href="/ajyspx/list.htm" title="按专业排序" target="_self"><span class="item-name">按专业排序</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-2 "> 
                 <a href="/azcpx/list.htm" title="按职称排序" target="_self"><span class="item-name">按职称排序</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-3 "> 
                 <a href="/ltxjs/list.htm" title="离退休教师" target="_self"><span class="item-name">离退休教师</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i4 "> 
         <a href="/5999/list.htm" title="学术科研  " target="_self"><span class="item-name">学术科研  </span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i4-1 "> 
                 <a href="/6011/list.htm" title="学术活动  " target="_self"><span class="item-name">学术活动  </span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i4-2 "> 
                 <a href="/6012/list.htm" title="发表出版" target="_self"><span class="item-name">发表出版</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i4-3 "> 
                 <a href="/6013/list.htm" title="  科研项目 " target="_self"><span class="item-name">  科研项目 </span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i4-4 "> 
                 <a href="/6014/list.htm" title=" 读书会" target="_self"><span class="item-name"> 读书会</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i5 "> 
         <a href="/6000/list.htm" title=" 教学信息  " target="_self"><span class="item-name"> 教学信息  </span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i5-1 "> 
                 <a href="/6015/list.htm" title="培养方案  " target="_self"><span class="item-name">培养方案  </span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i5-2 "> 
                 <a href="/6016/list.htm" title=" 课程课表 " target="_self"><span class="item-name"> 课程课表 </span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i5-3 "> 
                 <a href="/6017/list.htm" title="精品课程" target="_self"><span class="item-name">精品课程</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i5-4 "> 
                 <a href="/tshd/list.htm" title="特色活动" target="_self"><span class="item-name">特色活动</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i6 "> 
         <a href="/6001/list.htm" title=" 党群工作  " target="_self"><span class="item-name"> 党群工作  </span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i6-1 "> 
                 <a href="/6018/list.htm" title="政策文件  " target="_self"><span class="item-name">政策文件  </span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i6-2 "> 
                 <a href="/6019/list.htm" title="学习活动 " target="_self"><span class="item-name">学习活动 </span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i6-3 "> 
                 <a href="/ybdzbfczs/list.htm" title="样板党支部风采" target="_self"><span class="item-name">样板党支部风采</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i6-4 "> 
                 <a href="/6020/list.htm" title=" 工作简报" target="_self"><span class="item-name"> 工作简报</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i6-5 "> 
                 <a href="/6021/list.htm" title="  院长信箱" target="_self"><span class="item-name">  院长信箱</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i7 "> 
         <a href="/6002/list.htm" title=" 招生就业   " target="_self"><span class="item-name"> 招生就业   </span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i7-1 "> 
                 <a href="/6022/list.htm" title="研究生招生  " target="_self"><span class="item-name">研究生招生  </span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i7-2 "> 
                 <a href="/6023/list.htm" title="就业信息 " target="_self"><span class="item-name">就业信息 </span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i7-3 "> 
                 <a href="/6024/list.htm" title=" 就业活动 " target="_self"><span class="item-name"> 就业活动 </span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i7-4 "> 
                 <a href="/6025/list.htm" title="哲学训练营" target="_self"><span class="item-name">哲学训练营</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i7-5 "> 
                 <a href="/jyzd/list.htm" title="就业指导" target="_self"><span class="item-name">就业指导</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i8 "> 
         <a href="/6003/list.htm" title="资料中心 " target="_self"><span class="item-name">资料中心 </span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i9 "> 
         <a href="/6004/list.htm" title=" 学生之家 " target="_self"><span class="item-name"> 学生之家 </span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i10 "> 
         <a href="/6005/list.htm" title="校友之家  " target="_self"><span class="item-name">校友之家  </span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i10-1 "> 
                 <a href="/6026/list.htm" title="校友名录" target="_self"><span class="item-name">校友名录</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i10-2 "> 
                 <a href="/6027/list.htm" title="校友活动" target="_self"><span class="item-name">校友活动</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i11 "> 
         <a href="http://phil.nankai.edu.cn/enn/ " title="English" target="_blank"><span class="item-name">English</span></a><i class="mark"></i> 
          
     </li> 
      
</ul> 
 
 
 </div>
                    </div>
                  </div>
                </div></td>
            </tr>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              
                <td class="biaoti"><div>
                    <div>
                      <img src="/_upload/tpl/00/d5/213/template213/images/21.png" />
                    </div>
                  </div></td>
            </table>
          </table></td>
      </tr>
    </table>
  </div>
  <div id="container_content">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="14" valign="top"></td>
        <td width="220"  valign="top"><div frag="面板11">
            <div frag="窗口11">
              <div class="kuang1">
                <table width="100%"  border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td valign="top"><div frag="标题栏">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td height="38" width="43" align="center" ><img src="/_upload/tpl/00/d5/213/template213/images/list2_2.gif"/></td>
                            <td class="biaoti1" width="121" frag="标题">通知</td>
                            <td align="right" frag="按钮板"><div frag="按钮" type="更多">
                                <a href="/tzgg/list.htm" class="w11_more"><div frag="按钮内容">更多>></div></a>
                              </div></td>
                            <td width="10"></td>
                          </tr>
                        </table>
                      </div></td>
                  </tr>
                  <tr>
                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td align="center"><img src="/_upload/tpl/00/d5/213/template213/images/list2_3.gif" width="210" height="6"/></td>
                        </tr>
                      </table></td>
                  </tr>
                  <tr>
                    <td valign="top"><div id="wp_news_w11"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='/_upload/article/files/20/11/9b44dec743a381dca03d6a322702/3b7b09bb-c090-4fec-909d-44f5192725e5.pdf' target='_blank' title='2019年哲学院全日制硕士研究生复试办法'>2019年哲学院全日制硕士研究生复...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i2"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>2</span> 
             <span class='Article_Title'><a href='/_upload/article/files/9e/66/f8c9566a4ab19fa1ab88bdbf4343/b377d0e5-bb46-4930-8e6d-c96aced67d85.pdf' target='_blank' title='2019年哲学院全日制硕士研究生招各专业人数公示'>2019年哲学院全日制硕士研究生招...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i3"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>3</span> 
             <span class='Article_Title'><a href='/_upload/article/files/ea/e4/13aa801142dd81ba93080e4cdd3e/7176335e-b6d5-4cf4-bae3-876c804ce402.pdf' target='_blank' title='2019年哲学院全日制硕士研究生入学考试复试名单公示'>2019年哲学院全日制硕士研究生入...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i4"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>4</span> 
             <span class='Article_Title'><a href='/2019/0308/c6029a120413/page.htm' target='_blank' title='哲学院赴湖南湘西暑期支教队队员招募通知'><font style='color:#FF1222;'>哲学院赴湖南湘西暑期支教队队员...</font></a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i5"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>5</span> 
             <span class='Article_Title'><a href='/2019/0305/c6029a120191/page.htm' target='_blank' title='2019年南开大学硕士研究生招生学院上调复试分数线汇总'>2019年南开大学硕士研究生招生学...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i6"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>6</span> 
             <span class='Article_Title'><a href='/2019/0222/c6029a119695/page.htm' target='_blank' title='南开大学2019年度第一批“公能朋辈导师”选聘 工作通知'>南开大学2019年度第一批“公能朋...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i7"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>7</span> 
             <span class='Article_Title'><a href='/2019/0130/c6029a119193/page.htm' target='_blank' title='南开大学哲学院诚聘英才'>南开大学哲学院诚聘英才</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i8"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>8</span> 
             <span class='Article_Title'><a href='/2019/0115/c6029a118417/page.htm' target='_blank' title='关于组织参加第二届“为中华之崛起而读书” ——全国“读周恩来原著，写心得体会” 征文大赛的通知'>关于组织参加第二届“为中华之崛...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i9"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>9</span> 
             <span class='Article_Title'><a href='/2019/0115/c6029a118377/page.htm' target='_blank' title='南开大学关于招募第十届残运会  暨第七届特奥会志愿者的通知'>南开大学关于招募第十届残运会  ...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i10"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>10</span> 
             <span class='Article_Title'><a href='/2018/1213/c6029a116692/page.htm' target='_blank' title='2019年哲学院普通招考博士研究生网上报名相关通知'>2019年哲学院普通招考博士研究生...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i11"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>11</span> 
             <span class='Article_Title'><a href='/2018/1211/c6029a116556/page.htm' target='_blank' title='哲学院因公出境计划公示'>哲学院因公出境计划公示</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i12"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>12</span> 
             <span class='Article_Title'><a href='/2018/1207/c6029a116181/page.htm' target='_blank' title='2019年哲学院“硕博连读”博士生拟录取名单公示'>2019年哲学院“硕博连读”博士生...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
</ul> 
</div> 
</td>
                  </tr>
                </table>
              </div>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td height="7"></td>
                </tr>
              </table>
            </div>
          </div>
          <div frag="面板12">
            <div frag="窗口12">
              <div class="kuang">
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td valign="top"><div frag="标题栏">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td height="38" width="43" align="center" ><img src="/_upload/tpl/00/d5/213/template213/images/list2_2.gif"/></td>
                            <td class="biaoti1" width="121" frag="标题">信息</td>
                            <td align="right" frag="按钮板"><div frag="按钮" type="更多">
                                <a href="/6034/list.htm" class="w12_more"><div frag="按钮内容">更多>></div></a>
                              </div></td>
                            <td width="10"></td>
                          </tr>
                        </table>
                      </div></td>
                  </tr>
                  <tr>
                    <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td align="center"><img src="/_upload/tpl/00/d5/213/template213/images/list2_3.gif" width="220" height="6"/></td>
                        </tr>
                      </table></td>
                  </tr>
                  <tr>
                    <td><div id="wp_news_w12"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='/2018/0416/c6034a97158/page.htm' target='_blank' title='德莫特·莫兰：孤独的成人——在胡塞尔阴影中的现象学'><font style='color:#FF0000;'>德莫特·莫兰：孤独的成人—...</font></a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i2"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>2</span> 
             <span class='Article_Title'><a href='/2018/1129/c6034a115550/page.htm' target='_blank' title='【讲座信息】贵州大学封孝伦：生命美学的边界'>【讲座信息】贵州大学封孝...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i3"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>3</span> 
             <span class='Article_Title'><a href='/2018/0517/c6034a99271/page.htm' target='_blank' title='友爱与真理——【第七届现象学工作坊】'><font style='color:#FF0820;'>友爱与真理——【第七届现象...</font></a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i4"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>4</span> 
             <span class='Article_Title'><a href='/2018/0502/c6034a98262/page.htm' target='_blank' title='Michael Slote：Philosophy East and West'>Michael Slote：Philosoph...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i5"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>5</span> 
             <span class='Article_Title'><a href='/2018/0418/c6034a97320/page.htm' target='_blank' title='李熙：自指与自我升级'>李熙：自指与自我升级</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i6"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>6</span> 
             <span class='Article_Title'><a href='/2018/0418/c6034a97319/page.htm' target='_blank' title='王文方：论龙树没有结论的论证方式'>王文方：论龙树没有结论的...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i7"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>7</span> 
             <span class='Article_Title'><a href='/2018/0330/c6034a93128/page.htm' target='_blank' title='【讲座信息】文化唯物主义的希望之学'>【讲座信息】文化唯物主义...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i8"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>8</span> 
             <span class='Article_Title'><a href='/2018/0326/c6034a92738/page.htm' target='_blank' title='【讲座信息】The epistemic benefits of generalization in economic modelling'>【讲座信息】The epistemi...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i9"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>9</span> 
             <span class='Article_Title'><a href='/2018/0314/c6034a91863/page.htm' target='_blank' title='【讲座信息】Logic and Multi-agent Strategic Reasoning'>【讲座信息】Logic and Mu...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i10"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>10</span> 
             <span class='Article_Title'><a href='/2018/0306/c6034a91313/page.htm' target='_blank' title='【讲座信息】On Learning to Think: “Free” Like Zhuangzi’s Butterfly at Descartes’ Window'>【讲座信息】On Learning ...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
</ul> 
</div> 
</td>
                  </tr>
                </table>
              </div>
              <table width="100%" border="0" cellspacing="0" cellpadding="0">
                <tr>
                  <td height="7"></td>
                </tr>
              </table>
            </div>
          </div></td>
        <td width="16">&nbsp;</td>
        <td valign="top"><div class="zhongbu">
            <div frag="面板21">
              <div frag="窗口21">
                <div frag="标题栏">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="bdi">
                    <tr>
                      <td  background="/_upload/tpl/00/d5/213/template213/images/list3_1.gif" width="155" height="34" class="biaoti2" frag="标题">学院动态</td>
                      <td align="right" frag="按钮板"><div frag="按钮" type="更多">
                          <a href="/6342/list.htm" class="w21_more"><div frag="按钮内容">更多>></div></a>
                        </div></td>
                    </tr>
                  </table>
                </div>
                <!-- 多图交替9 图片 标题 切换 -->
<div style="position:relative;overflow:hidden;width:485px;height:146px;">
    <div class="dtjt9_div_img">
        <img id="w21imgShow" name="w21imgShow" onclick="w21openWindow();" style="FILTER: revealTrans(duration=2,transition=20); border: 0; cursor: pointer;" src="/..//_css/tpl/default/images/loading.gif" width="485px" height="146px" vspace="0">
        <div id='w21imgNumber' class="number"></div>
    </div>
    <div class="dtjt9_div_text">
        <div id='w21imgTitle' class="dtjt9_div_text_title"><a href="javascript:void(0)">&nbsp;</a></div>									
    </div>
</div>
<script language="JavaScript" class="" >
    var w21imgJsons = [
    
        
            {
            "src" : "/_upload/article/images/15/6e/35ebe9044866b497a2bda5d81d09/f6d493b5-ee09-43e5-bab2-f4d9a39b7135_s.jpg",
            "title" : "南开哲学院硕士生第一党支部荣获首批高校“百个...",
            "url" : "/2019/0304/c6342a120145/page.htm"
            },
        
    
        
            {
            "src" : "/_upload/article/images/4e/f1/3975f24143c4a377f9710e191e92/609f47f8-abb6-4c5e-8765-40fed37ba164_s.jpg",
            "title" : "哲学院召开“学习习总书记来校视察讲话”师生座...",
            "url" : "/2019/0118/c6342a118843/page.htm"
            },
        
    
        
            {
            "src" : "/_upload/article/images/84/3f/54765c2742bfa80f032d33d148f0/d32df57a-9e06-4636-a684-2a3b3a955dec_s.jpg",
            "title" : "哲学院齐艳红副教授谈当代政治哲学核心问题",
            "url" : "/2019/0103/c6342a117792/page.htm"
            },
        
    
        
            {
            "src" : "/_upload/article/images/84/33/e083362641f7981335954508d326/9bd913ac-3012-42b8-947e-87b42209e0a9_s.jpg",
            "title" : "“纪念中国改革开放四十周年学术研讨会”&nbsp;在南...",
            "url" : "/2018/1225/c6342a117376/page.htm"
            },
        
    
        
            {
            "src" : "/_upload/article/images/19/67/88431aba4207a9d16e9a48e965b6/c2544baf-654d-45d6-a437-3989919fbe71_s.jpg",
            "title" : "服务基层，奉献青春——哲学院顺利举办基层选调...",
            "url" : "/2019/0111/c6342a118278/page.htm"
            },
        
    
        
            {
            "src" : "/_upload/article/images/bb/0b/c07a0941410782d970e1ad75429d/affebfb4-769e-4478-9c25-31858aa559eb_s.jpg",
            "title" : "“神与物游——2018·北京·尹沧海书画艺术...",
            "url" : "/2018/1213/c6342a116679/page.htm"
            }];
        
    
</script>
<script language="JavaScript">
            var w21imgUrl = new Array();
            var w21imgLink = new Array();
            var w21imgTitle = new Array();

            var w21count = 0;
            var w21running = false;
            var w21index = 0;
            var w21nextAdTimer;
            var w21k = 0;
            function w21nextAd(num) {
                if (num >= 0 && num <= w21count - 1) {
                    w21index = num;
                    clearTimeout(w21nextAdTimer);
                } else {
                    num = w21index;
                }
                if (w21index > w21count - 1) {
                    w21index = 0;
                }
                if (!w21running) {
                    w21running = true;

                } else if (document.all) {
                    w21imgShow.filters.revealTrans.Transition = 50;
                    w21imgShow.filters.revealTrans.apply();
                    w21imgShow.filters.revealTrans.play();
                }
                document.getElementById('w21imgShow').src = w21imgUrl[w21index];
                if (w21imgTitle[w21index] != '') {
                    document.getElementById('w21imgTitle').innerHTML = '<a href="javascript:w21openWindow();" title="' + w21imgTitle[w21index] + '">' + w21imgTitle[w21index] + '</a>';
                }
                document.getElementById('w21imgNumber').innerHTML = "";
                w21k = 0;
                for (var i = 0; i < w21count; i++) {
                    w21k++;
                    if (i != w21index) {
                        document.getElementById('w21imgNumber').innerHTML += '<a href="javascript:w21nextAd(' + i + ')" class="nomal">' + w21k + '</a>';
                    } else {
                        document.getElementById('w21imgNumber').innerHTML += '<a href="javascript:w21nextAd(' + i + ')" class="current">' + w21k + '</a>';
                    }
                }

                w21index++;
                if (w21count > 1) {
                    w21nextAdTimer = setTimeout("w21nextAd(-1)", 4000);
                }
            }

            function w21openWindow() {
                var jumpUrl = w21imgLink[w21index - 1];
                if (jumpUrl && jumpUrl != '') {
                    window.open(jumpUrl);
                }
            }

            $().ready(function() {
                try {
                    var objs = w21imgJsons;
                    w21count = objs.length;
                    if (w21count == 0) {
                        document.getElementById('w21imgShow').style.display = "none";
                        document.getElementById('w21imgNumber').style.display = "none";
                        document.getElementById('w21imgTitle').style.display = "none";
                        return;
                    }
                    for (var i = 0; i < objs.length; i++) {
                        w21imgUrl[i] = objs[i].src;
                        w21imgLink[i] = objs[i].url;
                        w21imgTitle[i] = objs[i].title;
                    }
                    w21nextAd(-1);
                } catch (e) {

                }
            });
</script>

              </div>
            </div>
            <table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td height="15">&nbsp;</td>
              </tr>
            </table>
           <div frag="面板23">
              <div frag="窗口23" >
                <div frag="标题栏">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="bdi">
                    <tr>
                      <td  background="/_upload/tpl/00/d5/213/template213/images/list3_1.gif" width="155" height="34" class="biaoti2" frag="标题">学术活动  </td>
                      <td align="right" frag="按钮板"><div frag="按钮" type="更多">
                          <a href="/6011/list.htm" class="w23_more"><div frag="按钮内容">更多&gt;&gt;</div></a>
                        </div></td>
                    </tr>
                  </table>
                </div>
                <div id="wp_news_w23"> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wp_article_list_table"> 
<tr> 
<td> 

                  <div ifrag="块" pickmode="4">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="12" align="center"><img src="/_upload/tpl/00/d5/213/template213/images/list3_4.gif" /></td>
                        <td height="24"><a href='/2018/1128/c6011a115175/page.htm' target='_blank' title='学术沙龙：韩文书谈自然与理性——斯宾诺莎哲学的和解特质'>学术沙龙：韩文书谈自然与理性——斯宾诺莎哲学的和解特...</a></td>
                        <td align="right">2018-11-28</td>
                      </tr>
                    </table>
                  </div>
                </td> 
</tr> 
<tr> 
<td> 

                  <div ifrag="块" pickmode="4">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="12" align="center"><img src="/_upload/tpl/00/d5/213/template213/images/list3_4.gif" /></td>
                        <td height="24"><a href='/2018/1123/c6011a114826/page.htm' target='_blank' title='观念与社会——德法哲学会讲'>观念与社会——德法哲学会讲</a></td>
                        <td align="right">2018-11-23</td>
                      </tr>
                    </table>
                  </div>
                </td> 
</tr> 
<tr> 
<td> 

                  <div ifrag="块" pickmode="4">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="12" align="center"><img src="/_upload/tpl/00/d5/213/template213/images/list3_4.gif" /></td>
                        <td height="24"><a href='/2018/1102/c6011a112569/page.htm' target='_blank' title='学术沙龙 : 迪达尔谈类比在康德哲学中的应用'>学术沙龙 : 迪达尔谈类比在康德哲学中的应用</a></td>
                        <td align="right">2018-11-02</td>
                      </tr>
                    </table>
                  </div>
                </td> 
</tr> 
<tr> 
<td> 

                  <div ifrag="块" pickmode="4">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="12" align="center"><img src="/_upload/tpl/00/d5/213/template213/images/list3_4.gif" /></td>
                        <td height="24"><a href='/2018/1019/c6011a111215/page.htm' target='_blank' title='学术沙龙：王玮谈塞拉斯的新经典相容论'>学术沙龙：王玮谈塞拉斯的新经典相容论</a></td>
                        <td align="right">2018-10-19</td>
                      </tr>
                    </table>
                  </div>
                </td> 
</tr> 
</table></div> 

              </div>
            </div>
            <div frag="面板24">
              <div frag="窗口24">
                <div frag="标题栏">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="bdi">
                    <tr>
                      <td  background="/_upload/tpl/00/d5/213/template213/images/list3_1.gif" width="155" height="34" class="biaoti2" frag="标题">人才培养</td>
                      <td align="right" frag="按钮板"><div frag="按钮" type="更多">
                          <a href="/6344/list.htm" class="w24_more"><div frag="按钮内容">更多&gt;&gt;</div></a>
                        </div></td>
                    </tr>
                  </table>
                </div>
                <div id="wp_news_w24"> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wp_article_list_table"> 
<tr> 
<td> 

                  <div ifrag="块" pickmode="4">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="12" align="center"><img src="/_upload/tpl/00/d5/213/template213/images/list3_4.gif" /></td>
                        <td height="24"><a href='/2019/0118/c6344a118842/page.htm' target='_blank' title='哲学院召开“学习习总书记来校视察讲话”师生座谈会'>哲学院召开“学习习总书记来校视察讲话”师生座谈会</a></td>
                        <td align="right">2019-01-18</td>
                      </tr>
                    </table>
                  </div>
                </td> 
</tr> 
<tr> 
<td> 

                  <div ifrag="块" pickmode="4">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="12" align="center"><img src="/_upload/tpl/00/d5/213/template213/images/list3_4.gif" /></td>
                        <td height="24"><a href='/2018/1127/c6344a115084/page.htm' target='_blank' title='第十四届哲学文化周系列活动顺利举办'>第十四届哲学文化周系列活动顺利举办</a></td>
                        <td align="right">2018-11-27</td>
                      </tr>
                    </table>
                  </div>
                </td> 
</tr> 
<tr> 
<td> 

                  <div ifrag="块" pickmode="4">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="12" align="center"><img src="/_upload/tpl/00/d5/213/template213/images/list3_4.gif" /></td>
                        <td height="24"><a href='/2018/1119/c6344a113989/page.htm' target='_blank' title='哲学院“哲实青春，享时代新风”系列模拟社会实践活动圆满落幕'>哲学院“哲实青春，享时代新风”系列模拟社会实践活动...</a></td>
                        <td align="right">2018-11-19</td>
                      </tr>
                    </table>
                  </div>
                </td> 
</tr> 
<tr> 
<td> 

                  <div ifrag="块" pickmode="4">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="12" align="center"><img src="/_upload/tpl/00/d5/213/template213/images/list3_4.gif" /></td>
                        <td height="24"><a href='/2018/1025/c6344a111820/page.htm' target='_blank' title='哲学院爱智团校举办“回顾习近平知青岁月，弘扬伟大的革命理想”主题讲座'>哲学院爱智团校举办“回顾习近平知青岁月，弘扬伟大的...</a></td>
                        <td align="right">2018-10-25</td>
                      </tr>
                    </table>
                  </div>
                </td> 
</tr> 
<tr> 
<td> 

                  <div ifrag="块" pickmode="4">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="12" align="center"><img src="/_upload/tpl/00/d5/213/template213/images/list3_4.gif" /></td>
                        <td height="24"><a href='/2018/0905/c6344a107332/page.htm' target='_blank' title='做理想之帆的船长，驶往哲思的海洋——哲学院欢迎2018级新同学'>做理想之帆的船长，驶往哲思的海洋——哲学院欢迎2018级...</a></td>
                        <td align="right">2018-09-05</td>
                      </tr>
                    </table>
                  </div>
                </td> 
</tr> 
</table></div> 

              </div>
            </div>
            <div frag="面板25">
              <div frag="窗口25">
                <div frag="标题栏">
                  <table width="100%" border="0" cellpadding="0" cellspacing="0" class="bdi">
                    <tr>
                      <td  background="/_upload/tpl/00/d5/213/template213/images/list3_1.gif" width="155" height="34" class="biaoti2" frag="标题">最新论著</td>
                      <td align="right" frag="按钮板"><div frag="按钮" type="更多">
                          <a href="/6345/list.htm" class="w25_more"><div frag="按钮内容">更多>></div></a>
                        </div></td>
                    </tr>
                  </table>
                </div>
                <div id="wp_news_w25"> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wp_article_list_table"> 
<tr> 
<td> 

                  <div ifrag="块" pickmode="4">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="12" align="center"><img src="/_upload/tpl/00/d5/213/template213/images/list3_4.gif" /></td>
                        <td height="24"><a href='/_upload/article/files/62/d7/d9f716e84db3b619f68f9b8fdc6d/ee666e03-715b-4891-93af-d35e11d678f4.pdf' target='_blank' title='钟汉川：反思、情感与规范性——从胡塞尔到萨特的价值现象学思路_'>钟汉川：反思、情感与规范性——从胡塞尔到萨特的价值现...</a></td>
                        <td align="right">2018-09-18</td>
                      </tr>
                    </table>
                  </div>
                </td> 
</tr> 
<tr> 
<td> 

                  <div ifrag="块" pickmode="4">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="12" align="center"><img src="/_upload/tpl/00/d5/213/template213/images/list3_4.gif" /></td>
                        <td height="24"><a href='/_upload/article/files/a4/33/0b1a86f94d25a442300274d8301e/7f13f0d1-8c59-4c0a-933d-f657ecb33c56.pdf' target='_blank' title='卢兴：“四端”“七情”：东亚儒家情感哲学的内在演进'>卢兴：“四端”“七情”：东亚儒家情感哲学的内在演进</a></td>
                        <td align="right">2018-09-18</td>
                      </tr>
                    </table>
                  </div>
                </td> 
</tr> 
<tr> 
<td> 

                  <div ifrag="块" pickmode="4">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="12" align="center"><img src="/_upload/tpl/00/d5/213/template213/images/list3_4.gif" /></td>
                        <td height="24"><a href='/_upload/article/files/3d/10/0f63ac2843dc86621443f65eacfc/fa621879-279b-4424-bb5b-c67d3e22327b.pdf' target='_blank' title='王南湜：马克思的正义理论—— 一种可能的建构'>王南湜：马克思的正义理论—— 一种可能的建构</a></td>
                        <td align="right">2018-09-18</td>
                      </tr>
                    </table>
                  </div>
                </td> 
</tr> 
<tr> 
<td> 

                  <div ifrag="块" pickmode="4">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="12" align="center"><img src="/_upload/tpl/00/d5/213/template213/images/list3_4.gif" /></td>
                        <td height="24"><a href='/2018/0531/c6345a100314/page.htm' target='_blank' title='王新生教授专著《马克思政治哲学研究》出版'>王新生教授专著《马克思政治哲学研究》出版</a></td>
                        <td align="right">2018-05-31</td>
                      </tr>
                    </table>
                  </div>
                </td> 
</tr> 
<tr> 
<td> 

                  <div ifrag="块" pickmode="4">
                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                      <tr>
                        <td width="12" align="center"><img src="/_upload/tpl/00/d5/213/template213/images/list3_4.gif" /></td>
                        <td height="24"><a href='/2018/0423/c6345a97656/page.htm' target='_blank' title='王南湜：跟从邹化政教授走近德国古典哲学'>王南湜：跟从邹化政教授走近德国古典哲学</a></td>
                        <td align="right">2018-04-23</td>
                      </tr>
                    </table>
                  </div>
                </td> 
</tr> 
</table></div> 

              </div>
            </div>
          </div></td>
        <td  width="15" valign="top"></td>
        <td valign="top"><div class="right">
            <div frag="面板31">
              <div frag="窗口31">
                <table width="100%" class="rdi" border="0" cellpadding="0" cellspacing="0"  style="background-repeat:no-repeat;">
                  <tr>
                    <td ></td>
                  </tr>
                  <tr>
                    <td><div frag="标题栏">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0" >
                          <tr>
                            <td >&nbsp;</td>
                            <td valign="bottom" class="biaoti40" width="45" frag="标题">&nbsp;</td>
                            <td valign="bottom" class="biaoti40" width="121" height="60" frag="标题">快速链接</td>
                            <td align="right" valign="bottom" frag="按钮板" style="padding-right:10px;" ><div frag="按钮" type="更多">
                                <a href="/6039/list.htm" class="w31_more"><div frag="按钮内容">更多>></div></a>
                              </div></td>
                          </tr>
                        </table>
                      </div></td>
                  </tr>
                  <tr>
                    <td valign="top" colspan="3"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                        <tr>
                          <td>&nbsp;</td>
                        </tr>
                      </table>
                      <div class="articlecontent " >
    
        
            
                <p><a href="http://tjsc.nankai.edu.cn/nkweb" target="_self" sudyfile-attr="{'title':'只支持选中一个链接时生效'}"><img data-layer="photo" src="/_upload/article/images/db/b2/e5ee08d74562a17c84980ffbdb4c/47b43954-c097-4cef-934a-dc555078f3a2.png" original-src="/_upload/article/images/db/b2/e5ee08d74562a17c84980ffbdb4c/47b43954-c097-4cef-934a-dc555078f3a2_d.png" style="width:200px;height:54px;" sudyfile-attr="{'title':'微信图片_20180323103111.png'}" width="200" height="54" border="0" hspace="0" vspace="0" /></a></p><p><a href="http://phil.nankai.edu.cn/2018/0117/c6343a89620/page.htm" target="_blank" sudyfile-attr="{'title':'只支持选中一个链接时生效'}"><img data-layer="photo" src="/_upload/article/images/db/b2/e5ee08d74562a17c84980ffbdb4c/022e6a6e-3b15-4963-9005-775c07a52bf1.png" style="float:none;" sudyfile-attr="{'title':'f3b27c98-b272-4cd5-b849-80aca69247eb.png'}" /></a></p><p><br /></p>
            
        
    
</div></td>
                  </tr>
                </table>
              </div>
            </div>
            <div frag="面板100">
              <div frag="窗口100">
                <div class="kuang">
                  <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                      <td valign="top"><div frag="标题栏">
                          <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                              <td height="38" width="43" align="center" ><img src="/_upload/tpl/00/d5/213/template213/images/list2_2.gif"/></td>
                              <td class="biaoti1" width="121" frag="标题">科研机构</td>
                              <td align="right" frag="按钮板"><div frag="按钮" type="更多">
                                  <a href="/6343/list.htm" class="w100_more"><div frag="按钮内容">更多>></div></a>
                                </div></td>
                              <td width="10"></td>
                            </tr>
                          </table>
                        </div></td>
                    </tr>
                    <tr>
                      <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td align="center"><img src="/_upload/tpl/00/d5/213/template213/images/list2_3.gif" width="220" height="6"/></td>
                          </tr>
                        </table></td>
                    </tr>
                    <tr>
                      <td><div id="wp_news_w100"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='/2017/0710/c6343a70947/page.htm' target='_blank' title='南开大学当代中国问题研究院'>南开大学当代中国问题研究院</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i2"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>2</span> 
             <span class='Article_Title'><a href='/2017/0710/c6343a70946/page.htm' target='_blank' title='南开大学政治哲学与和谐社会建构研究中心'>南开大学政治哲学与和谐社会建构...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i3"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>3</span> 
             <span class='Article_Title'><a href='/2017/0710/c6343a70945/page.htm' target='_blank' title='南开大学宗教研究所'>南开大学宗教研究所</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i4"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>4</span> 
             <span class='Article_Title'><a href='/2017/0710/c6343a70944/page.htm' target='_blank' title='南开大学书画艺术与美学研究中心'>南开大学书画艺术与美学研究中心</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i5"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>5</span> 
             <span class='Article_Title'><a href='/2017/0710/c6343a70943/page.htm' target='_blank' title='比较与发生认识论研究中心'>比较与发生认识论研究中心</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
</ul> 
</div> 
</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div></td>
        <td width="14" valign="top"></td>
      </tr>
    </table>
  </div>
  <div class="center"></div>
  <div id="font1">
    <div class="center3">
      <div class="fon"> <span frag="面板80"> <span frag="窗口80">
        <table width="220" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top"><div frag="标题栏">
                <table width="220" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="38" width="43" align="center" ><img src="/_upload/tpl/00/d5/213/template213/images/list2_2.gif"/></td>
                    <td class="biaoti30" width="121" frag="标题">联系方式</td>
                    <td width="10"></td>
                  </tr>
                </table>
              </div></td>
          </tr>
          <tr>
            <td valign="top" class="xwnr"><div class="articlecontent " >
    
        
            
                <p>天津市津南区海河教育园区同砚路38号</p><p>南开大学哲学院</p><p>邮编：300350</p><p>电话：022-23508268</p>
            
        
    
</div></td>
          </tr>
        </table>
        </span> </span> </div>
      <div class="fon1"></div>
      <div class="fon"> <span frag="面板81"> <span frag="窗口81">
        <table width="220" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top"><div frag="标题栏">
                <table width="220" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="38" width="43" align="center" ><img src="/_upload/tpl/00/d5/213/template213/images/list2_2.gif"/></td>
                    <td class="biaoti30" width="121" frag="标题">地图定位</td>
                    <td width="10"></td>
                  </tr>
                </table>
              </div></td>
          </tr>
          <tr>
            <td valign="top" class="tupian"><div class="articlecontent " >
    
        
            
                <p><img style="float:none;" src="/_upload/article/images/4c/69/541ff52848cfbcf959a44ffaefc4/8bf61206-3984-4b2b-8733-85ff6c29006b.jpg" sudyfile-attr="{'title':'360截图20170710233533581.jpg'}" data-layer="photo" original-src="/_upload/article/images/4c/69/541ff52848cfbcf959a44ffaefc4/8bf61206-3984-4b2b-8733-85ff6c29006b_d.jpg" /></p><p><br /></p>
            
        
    
</div></td>
          </tr>
        </table>
        </span> </span> </div>
      <div class="fon1"></div>
      <div class="fon"> <span frag="面板82"> <span frag="窗口82">
        <table width="220" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top"><div frag="标题栏">
                <table width="220" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td height="38" width="43" align="center" ><img src="/_upload/tpl/00/d5/213/template213/images/list2_2.gif"/></td>
                    <td class="biaoti30" width="121" frag="标题">常用链接</td>
                    <td width="10"></td>
                  </tr>
                </table>
              </div></td>
          </tr>
          <tr>
            <td valign="top"><div id="wp_nav_w82"> 

 
<ul class="wp_nav" data-nav-config="{drop_v: 'down', drop_w: 'right', dir: 'y', opacity_main: '-1', opacity_sub: '-1', dWidth: '0'}">
      
     <li class="nav-item i1 "> 
         <a href="http://www.phil.pku.edu.cn/" title="北京大学哲学系" target="_blank"><span class="item-name">北京大学哲学系</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i2 "> 
         <a href="http://phi.ruc.edu.cn/" title="人民大学哲学院" target="_blank"><span class="item-name">人民大学哲学院</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i3 "> 
         <a href="http://zsy.jlu.edu.cn/" title="吉林大学哲学院" target="_blank"><span class="item-name">吉林大学哲学院</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i4 "> 
         <a href="http://philo.nju.edu.cn/" title="南京大学哲学系" target="_blank"><span class="item-name">南京大学哲学系</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i5 "> 
         <a href="http://www.phil.tsinghua.edu.cn/" title="清华大学哲学系" target="_blank"><span class="item-name">清华大学哲学系</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i6 "> 
         <a href="http://philosophy.sysu.edu.cn/" title="中山大学哲学系" target="_blank"><span class="item-name">中山大学哲学系</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i7 "> 
         <a href="http://philosophy.whu.edu.cn/" title="武汉大学哲学院" target="_blank"><span class="item-name">武汉大学哲学院</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i8 "> 
         <a href="http://phil.bnu.edu.cn/" title="北师大哲学学院" target="_blank"><span class="item-name">北师大哲学学院</span></a><i class="mark"></i> 
          
     </li> 
      
</ul> 
 
 
 </div></td>
          </tr>
        </table>
        </span> </span> </div>
      <div class="fon1"></div>
      <div class="fon"> <span frag="面板83"> <span frag="窗口83">
        <table width="220" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td valign="top"><div class="articlecontent " >
    
        
            
                <p style="text-align:center;"><a style="color:#ffffff;text-decoration:underline;" href="http://wcp2018.pku.edu.cn/yw/index.htm" target="_self" sudyfile-attr="{'title':'只支持选中一个链接时生效'}"><span style="color:#d8d8d8;">世界哲学大会</span></a></p><p><a href="http://wcp2018.pku.edu.cn/yw/index.htm" target="_self" sudyfile-attr="{'title':'只支持选中一个链接时生效'}"><img width="150" height="128" style="width:126px;height:106px;" src="/_upload/article/images/97/19/3e4588c549fbb3f742a0b3bb57e5/d308353f-fc9e-42a4-9b5c-e3a7086f4ca4.jpg" border="0" vspace="0" hspace="0" sudyfile-attr="{'title':'360截图20170918120614280.jpg'}" data-layer="photo" /></a></p><p>&nbsp;&nbsp;&nbsp; <br /></p><p><br /></p>
            
        
    
</div></td>
          </tr>
        </table>
        </span> </span> </div>
    </div>
  </div>
  <div id="foot">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="66"  align="center" valign="middle"  class="foothang"><div frag="面板01">
            <div frag="窗口01"></div>
          </div></td>
      </tr>
    </table>
  </div>
</div>
</div>
</body>
<script type="text/javascript">
$(function(){
	$(".hotlink").eq(0).hide();
});
</script>
</html>

 <image src="/_visitcount?siteId=103&type=1&columnId=5994" style="display:none" width="0" height="0"></image>