<base href="http://news.nankai.edu.cn/zttj/system/2018/03/01/000369676.shtml"><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="">
<meta name="description" content="【专题】纪念杰出校友周恩来总理诞辰120周年">


<link href="/2014ceshi/css/style.css" rel="stylesheet" />
<link href="/2014ceshi/css/third.css" rel="stylesheet" />
<link href="http://news.nankai.edu.cn/css/index.css" rel="stylesheet" type="text/css">
<title>【专题】纪念杰出校友周恩来总理诞辰120周年--专题推荐</title>
</head>

<body>
<div class="wrap">

<!-- banner starts -->

<!--enorth cms{ new_second_banner }enorth cms-->
<style type="text/css">
.banner {
	position: relative;
	width: 1000px;
	height: 125px;
	background-repeat: no-repeat;
	background-image: url(/2014ceshi/images/banner.png);
	padding-bottom: 5px;
}

.mainmenu {
	position: relative;
	float: left;
	margin-left: 480px;
	margin-top: 95px;
}

.mainmenu a {
	color: #989898;
	text-decoration: none;
}

.mainmenu a:hover {
	color: #4f4f4f;
}

.link {
	position: relative;
	float: left;
	margin: 0 5px;
	font: bold 16px 'Microsoft YaHei';
}

.form {
	position: relative;
	float: left;
	line-height: 12px;
	padding-left: 24px;
	top: -2px;
}

.form input[type="text"] {
	float: left;
	width: 125px;
	height: 12px;
	padding-left: 3px;
	text-indent: 5px;
	border: none;
	border-radius: 1px;
	box-shadow: 0 0 0 2px #ababab;
}

.form input[type="text"]:focus {
	outline: 0 none;
	box-shadow: 0 0 0 2px #7e7e7e;
}
</style>
<body>
	<div class="banner">
		<a href="http://news.nankai.edu.cn/" style="position: absolute;left: 60px;top: 15px;display: block;width: 380px;height: 100px;">&nbsp;</a>
		<div class="mainmenu">
			<div class="link">
				<a href="http://news.nankai.edu.cn/" target="_blank">首页</a>
			</div>
			<div class="link">
				<a href="http://jw.nankai.edu.cn/" target="_blank">觉悟网</a>
			</div>
			<div class="link">
				<a href="http://theory.nankai.edu.cn/" target="_blank">学习网</a>
			</div>
			<div class="link">
				<a
					href="http://news.nankai.edu.cn/xwzt/system/2014/03/06/000168359.shtml"
					target="_blank">大学报</a>
			</div>
			<div class="link">
				<a href="http://news.nankai.edu.cn/xs/" target="_blank">校史网</a>
			</div>
			<div class="link">
				<a href="http://bbs.nankai.edu.cn/" target="_blank">BBS</a>
			</div>
			<div class="form">
				<form method="get" id="searchform" action="#" class="form-search"
					style="padding-top: 7px;" />

				<!--Baidu站内搜索开始-->
				<script language="javascript">
					function baidusearch() {
						var wd = document.getElementsByName("wd")[0].value;
						var link = "http://www.baidu.com/s?si=news.nankai.edu.cn&cl=3&ct=2097152&tn=baidulocal&word="
								+ wd;
						window.open(link);
					}
				</script>
				<input name="wd" type="text" size="10" /> <input type="image"
					onclick="javascript:baidusearch()" src="/2014ceshi/images/find.png"
					alt="搜索"
					style=" width:16px; height:16px;position: relative;
float: left;
padding-left: 8px;" />
				<!--Baidu站内搜索结束-->
				</form>
			</div>
		</div>
	</div>
</body>
<!--enorth cms{ new_second_banner }enorth cms-->

<!-- banner ends -->

<!-- content starts -->
<div class="con-wrap">
<div class="third-content">
	<div class="third-left">
            <div class=" news-position">
<!--function position() parse begin-->
您当前的位置 ：<a href=http://news.nankai.edu.cn/zttj/>专题推荐</a>&nbsp;正文
<!--function: position() parse end  0ms cost! -->
</div>
        <div class="news--banner">
        	<div class="news-title"><h2>【专题】纪念杰出校友周恩来总理诞辰120周年</h2></div>
            <div class="news-detail">来源：
<!--function source_without_pub_date() parse begin-->

<!--function: source_without_pub_date() parse end  0ms cost! -->
&nbsp;&nbsp;&nbsp;&nbsp;发稿时间：
<!--function pub_date() parse begin-->
2018-03-03 15:27
<!--function: pub_date() parse end  0ms cost! -->
</div>
        </div>
        <div class=" news-content">
<!--function content() parse begin-->
<div>
<div style="text-align: center"><img border="0" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/29/01/290170_997961.jpg" /></div>
</div>
<div>
<div>
<div style="text-align: center"><img border="0" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/29/01/290171_592897.jpg" /></div>
</div>
<div>
<div>
<div style="text-align: center"><img border="0" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/29/01/290168_473323.jpg" /></div>
<div>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://news.nankai.edu.cn/nkyw/system/2018/03/01/000369875.shtml" target="_blank"><font color="#ff0000">★</font></a><a href="http://news.nankai.edu.cn/nkyw/system/2018/03/01/000369875.shtml" target="_blank">习近平：在纪念周恩来同志诞辰120周年座谈会上的讲话</a></p>
<!--advertisement code begin--><!--advertisement code end--><p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://news.nankai.edu.cn/nkyw/system/2018/03/01/000369874.shtml" target="_blank"><font color="#ff0000">★</font></a><a href="http://news.nankai.edu.cn/nkyw/system/2018/03/01/000369874.shtml" target="_blank">中共中央举行纪念周恩来同志诞辰120周年座谈会 习近平发表重要讲话</a></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://news.nankai.edu.cn/mtnk/system/2018/03/01/000369814.shtml" target="_blank"><font color="#ff0000">★</font></a><a href="http://news.nankai.edu.cn/mtnk/system/2018/03/01/000369814.shtml" target="_blank">中央电视台：纪念周恩来诞辰120周年 光辉一生 伟大精神 永远的榜样</a></p>
<p><a href="http://tv.cnr.cn/xwsx/20180301/t20180301_524148454.html" target="_blank"><font color="#ff0000"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span>★</font>中央电视台：纪念周恩来诞辰120周年 周恩来：人民的好总理</a></p>
<p><a href="http://news.cctv.com/2018/03/01/ARTITN1AkMhHvXm7vPDSC24g180301.shtml" target="_blank"><font color="#ff0000"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span>★</font>中央电视台：纪念周恩来诞辰120周年 走进《人民总理周恩来》陈列展</a></p>
<p><a href="http://news.nankai.edu.cn/xwzt/system/2018/06/14/000390694.shtml" target="_blank"><font color="#ff0000"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span>★</font>中央电视台：纪录片《榜样&mdash;&mdash;周恩来的故事》</a></p>
<p style="text-align: center"><img border="0" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/29/02/290248_823256.jpg" /></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://news.nankai.edu.cn/nkyw/system/2018/05/22/000383935.shtml" target="_blank"><span style="color: rgb(255,0,0)">★</span>&ldquo;周恩来家风图片展&rdquo;全国巡展暨天津高校首展启动仪式南开举行</a></p>
<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://news.nankai.edu.cn/nkyw/system/2018/03/04/000370135.shtml" target="_blank"><span style="color: rgb(255,0,0)">★</span>南开大学召开座谈会隆重纪念杰出校友周恩来诞辰120周年</a></p>
<p><span style="color: rgb(255,0,0)">&nbsp;</span><span style="color: rgb(255,0,0)">&nbsp; &nbsp; &nbsp; &nbsp;</span><span style="color: rgb(255,0,0)">★</span><a href="http://news.nankai.edu.cn/nkyw/system/2018/03/03/000370074.shtml" target="_blank">&ldquo;践行恩来精神 勇担时代使命&rdquo;大学生主题论坛南开举行</a></p>
<p><span style="color: rgb(255,0,0)">&nbsp;</span><span style="color: rgb(255,0,0)">&nbsp; &nbsp; &nbsp; &nbsp;</span><span style="color: rgb(255,0,0)">★</span><a href="http://news.nankai.edu.cn/nkyw/system/2018/03/03/000370114.shtml" target="_blank">&ldquo;践行恩来精神 勇担时代使命&rdquo;倡议书</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>★</span><a href="http://news.nankai.edu.cn/nkyw/system/2018/03/03/000370034.shtml" target="_blank">南开大学中外学子看总理外交 话中外情谊</a></p>
<p><font color="#ff0000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ★</font><a href="http://news.nankai.edu.cn/zhxw/system/2018/03/04/000370161.shtml" target="_blank">电光学院举行纪念周恩来诞辰120周年主题教育活动</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>★</span><a href="http://news.nankai.edu.cn/zhxw/system/2018/03/03/000370059.shtml" target="_blank">商学院启动&ldquo;忆总理&bull;传精神&bull;立丰碑&rdquo;纪念周恩来总理诞辰120周年系列活动</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>★</span><a href="http://news.nankai.edu.cn/zhxw/system/2018/03/02/000369975.shtml" target="_blank">金融学院开设纪念周恩来同志诞辰120周年展区</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span><a href="http://news.nankai.edu.cn/zhxw/system/2018/03/01/000369695.shtml" target="_blank"><font color="#ff0000">★</font>数学学院启动纪念周恩来诞辰120周年主题教育</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>★</span><a href="http://news.nankai.edu.cn/qqxy/system/2018/03/03/000370057.shtml" target="_blank">数学学院学子举行&ldquo;学习周恩来精神 勇担科研报国重任&rdquo;座谈会</a></p>
</div>
<div>
<div style="text-align: center"><img border="0" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/29/01/290165_344275.jpg" /></div>
<div>&nbsp;</div>
<div><span style="color: rgb(255,0,0)">&nbsp; &nbsp; &nbsp; &nbsp; ★</span><a href="http://mp.weixin.qq.com/s?__biz=MjM5NzgwNDg0MQ==&amp;mid=2650679321&amp;idx=1&amp;sn=46454d4c894e8b481833362c5d77ab4d&amp;chksm=bedee65f89a96f493639f291171d92391a8e057e74be05463177c7921dea27f3d95be7e65e2f&amp;scene=0#rd" target="_blank">南开最好的学生周恩来&nbsp;</a></div>
<div>&nbsp;</div>
<div><span style="color: rgb(255,0,0)">&nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</span><span style="color: rgb(255,0,0)">★</span><a href="http://mp.weixin.qq.com/s?__biz=MjM5NzgwNDg0MQ==&amp;mid=2650679357&amp;idx=1&amp;sn=17c9d86fdba9dd933c20c579abb6adc7&amp;chksm=bedee67b89a96f6d28c5cba2bf9f6111bfad87e2284250ef4a6d23bfc5e6b78646ebc9fd730a&amp;scene=0#rd" target="_blank">周恩来：南开在新的时代要有新的校风</a></div>
<div>&nbsp;</div>
<div><span style="color: rgb(255,0,0)">&nbsp; &nbsp; &nbsp; &nbsp; ★</span><a href="http://mp.weixin.qq.com/s?__biz=MjM5NzgwNDg0MQ==&amp;mid=2650679395&amp;idx=1&amp;sn=656c643a5b0918c61993dc08e09b9085&amp;chksm=bedee62589a96f33e2ea0fe5f878b5c1059c09118ef6c2c24d6e03ae95b4c82aba95461bbcf3&amp;scene=0#rd" target="_blank">周恩来学长，您在南开从未离开！</a></div>
<div><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></div>
<div><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>★</span><a href="http://news.nankai.edu.cn/xs/system/2015/03/05/000223914.shtml" target="_blank">周总理三回母校南开大学</a></div>
<div>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>★</span><a href="http://news.nankai.edu.cn/xwzt/system/2016/01/07/000264086.shtml" target="_blank">南开大学第一期学生周恩来</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>★</span><a href="http://news.nankai.edu.cn/nkdxb/system/2013/10/28/000149179.shtml" target="_blank">周恩来对南开大学及高等教育的关怀</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>★</span><a href="http://news.nankai.edu.cn/lsgc/system/2010/06/08/000031585.shtml" target="_blank">周恩来关心母校发展</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>★</span><a href="http://news.nankai.edu.cn/lsgc/system/2010/09/03/000033076.shtml" target="_blank">周恩来视察南开大学食堂：我就是喜欢吃萝卜</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>★</span><a href="http://news.nankai.edu.cn/xs/system/2013/11/21/000155334.shtml" target="_blank">周恩来在南开的一顿午餐</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>★</span><a href="http://news.nankai.edu.cn/xs/system/2013/10/19/000146917.shtml" target="_blank">周恩来与觉悟社的创立</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>★</span><a href="http://news.nankai.edu.cn/xs/system/2013/10/19/000146918.shtml" target="_blank">周恩来与南开新剧</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>★</span><a href="http://news.nankai.edu.cn/xs/system/2013/10/19/000146915.shtml" target="_blank">相知相敬师生情&mdash;&mdash;严修与周恩来</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>★</span><a href="http://news.nankai.edu.cn/nkrw/system/2007/01/22/000004130.shtml" target="_blank">周总理吊唁张伯苓</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>★</span><a href="http://news.nankai.edu.cn/lsgc/system/2013/08/30/000138454.shtml" target="_blank">马千里与周恩来夫妇</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>★</span><a href="http://news.nankai.edu.cn/xs/system/2014/07/17/000194975.shtml" target="_blank">周恩来和伉乃如的情谊</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>★</span><a href="http://news.nankai.edu.cn/xs/system/2014/03/04/000168035.shtml" target="_blank">杨石先与周恩来总理</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span>★</span><a href="http://news.nankai.edu.cn/xwzt/system/2016/01/07/000264087.shtml" target="_blank">忆周恩来逝世与周恩来研究室的建立</a></p>
<div align="center">
<div align="center"><span><img border="0" height="191" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/29/02/290289_902878.jpg" width="600" /></span></div>
</div>
<p style="text-align: center"><img border="0" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/29/01/290166_604017.jpg" /></p>
</div>
</div>
<div>
<div>
<div>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>★</span><a href="http://news.nankai.edu.cn/xwzt/system/2016/09/26/000297317.shtml" target="_blank">一生之计在于勤论</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>★</span><a href="http://news.nankai.edu.cn/xwzt/system/2016/09/26/000297318.shtml" target="_blank">爱国必先合群论</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>★</span><a href="http://news.nankai.edu.cn/xwzt/system/2016/09/26/000297319.shtml" target="_blank">尚志论</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>★</span><a href="http://news.nankai.edu.cn/xwzt/system/2016/09/26/000297320.shtml" target="_blank">诚能动物论</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span>★</span><a href="http://news.nankai.edu.cn/xwzt/system/2016/09/26/000297321.shtml" target="_blank">我之人格观</a></p>
</div>
<div style="text-align: center">&nbsp;<img border="0" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/29/01/290167_996980.jpg" /></div>
<div>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span>★</span><a href="http://news.nankai.edu.cn/xwzt/system/2016/01/07/000264088.shtml" target="_blank">周总理&ldquo;我是爱南开的&rdquo;一语是怎样被发现的</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span>★</span><a href="http://news.nankai.edu.cn/xwzt/system/2016/09/26/000297323.shtml" target="_blank">南开大学建立周恩来同志纪念碑</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span>★</span><a href="http://news.nankai.edu.cn/xwzt/system/2016/09/26/000297324.shtml" target="_blank">周恩来塑像卓然而立南开园</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span>★</span><a href="http://news.nankai.edu.cn/xwzt/system/2016/09/26/000297325.shtml" target="_blank">周恩来塑像题记</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span>★</span><a href="http://news.nankai.edu.cn/xwzt/system/2016/09/27/000297514.shtml" target="_blank">周恩来铜像题记</a></p>
</div>
</div>
</div>
<div style="text-align: center"><img border="0" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/29/01/290169_485504.jpg" /></div>
</div>
<div>
<div>
<div>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></span>★</span><a href="http://news.nankai.edu.cn/xs/system/2013/10/19/000146903.shtml" target="_blank">周恩来的学习精神</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></span>★</span><a href="http://news.nankai.edu.cn/mtnk/system/2010/11/25/000035663.shtml" target="_blank">南开&ldquo;镜箴&rdquo;与周恩来的气质</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></span>★</span><a href="http://news.nankai.edu.cn/nkyw/system/2015/06/05/000236883.shtml" target="_blank">周恩来侄女做客南开大学忆西花厅的&ldquo;家风与家规&rdquo;</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></span>★</span><a href="http://news.nankai.edu.cn/mtnk/system/2015/03/05/000223855.shtml" target="_blank">&quot;总理卫士&quot;高振普：周恩来真正体现&quot;鞠躬尽瘁&quot;</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></span>★</span><a href="http://news.nankai.edu.cn/zhxw/system/2013/12/03/000157837.shtml" target="_blank">周恩来秘书纪东少将来校讲座</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></span>★</span><a href="http://news.nankai.edu.cn/spxw/system/2015/05/09/000231235.shtml" target="_blank">美国前国防部长威廉&bull;科恩做客&quot;周恩来论坛&quot;谈当前中美关系及其未来</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></span>★</span><a href="http://news.nankai.edu.cn/nkrw/system/2008/03/27/000014928.shtml" target="_blank">画家陈丹青曾这样地画过周恩来</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></span>★</span><a href="http://news.nankai.edu.cn/xwzt/system/2016/01/07/000264089.shtml" target="_blank">周总理永远鼓舞我们前进</a></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></span>★</span><a href="http://news.nankai.edu.cn/xwzt/system/2016/01/07/000264095.shtml" target="_blank">坚定理想信念 实现伟人夙愿</a></p>
<div>
<div style="text-align: center"><img border="0" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/29/02/290264_951833.jpg" /></div>
<div><o:p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></span></span></span></span><span><span><span><span><span><span>&nbsp; <span style="color: rgb(255,0,0)">★</span>韩<a href="https://www.toutiao.com/i6580084125728768519/?tt_from=weixin&amp;utm_campaign=client_share&amp;from=singlemessage&amp;timestamp=1532054545&amp;app=news_article&amp;utm_source=weixin&amp;isappinstalled=0&amp;iid=37998387891&amp;utm_medium=toutiao_ios&amp;wxshare_count=7&amp;pbid=6581206700903155213" target="_blank">宗琦：我为周总理处理后</a>事</span></span></span></span></span></span></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></span></span></span></span></span>&nbsp; ★</span><a href="http://news.nankai.edu.cn/xwzt/system/2016/01/07/000264076.shtml" target="_blank">南开学校《第十次毕业同学录》周恩来小传</a></p>
</o:p><o:p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></span></span>★</span><a href="http://news.nankai.edu.cn/xwzt/system/2016/01/07/000264079.shtml" target="_blank">周恩来致留日南开同学的信</a></p>
</o:p><o:p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></span></span></span>★</span><a href="http://news.nankai.edu.cn/xwzt/system/2016/01/07/000264080.shtml" target="_blank">致南开出校同学诸君</a><o:p></o:p></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></span></span></span>★</span><a href="http://news.nankai.edu.cn/xwzt/system/2016/01/07/000264081.shtml" target="_blank">埃德加&bull;斯诺《西行漫记》录周恩来谈话</a><o:p></o:p></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></span></span></span>★</span><a href="http://news.nankai.edu.cn/xwzt/system/2016/01/07/000264082.shtml" target="_blank">周恩来和美国记者李勃曼的谈话记录</a><o:p></o:p></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></span></span></span>★</span><a href="http://news.nankai.edu.cn/xwzt/system/2016/01/07/000264083.shtml" target="_blank">周恩来总理在天津高等学校师生欢迎大会上的讲话</a><o:p></o:p></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></span></span></span>★</span><a href="http://news.nankai.edu.cn/xwzt/system/2016/01/07/000264084.shtml" target="_blank">关于周恩来同志在南开中学、南开大学上学和解放后几次来南开大学情况的报告</a><o:p></o:p></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></span></span></span>★</span><a href="http://news.nankai.edu.cn/xs/system/2013/11/26/000156854.shtml" target="_blank">周恩来五四时期革命活动纪要</a><o:p></o:p></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></span></span></span>★</span><a href="http://news.nankai.edu.cn/xs/system/2013/11/26/000156842.shtml" target="_blank">周恩来和五四新文化运动</a><o:p></o:p></p>
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></span></span></span>★</span><a href="http://news.nankai.edu.cn/xwzt/system/2013/10/24/000148195.shtml" target="_blank">论周恩来的历史地位</a></p>
<p><o:p></o:p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<font color="#ff0000">★</font><a href="http://zhouenlai.people.cn/n1/2018/0305/c409117-29848910.html" target="_blank">周恩来对中国海洋事业鲜为人知的贡献</a><o:p></o:p></p>
<o:p>
<div>
<div style="text-align: center"><img border="0" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/29/02/290247_032870.jpg" /></div>
</div>
<!--epe-->
<p><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)"><span style="color: rgb(255,0,0)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; </span></span></span></span></span></span></span>★</span><a href="http://jw.nankai.edu.cn/second.php?catagory=24&amp;page=25" target="_blank">纪录片《周恩来的故事》</a></p>
</o:p></o:p></div>
</div>
</div>
</div>
</div>
</div>
</div>

<!--function: content() parse end  0ms cost! -->
</div>
        <div class="news-footer"><p style="text-align:right"><font style="color:#00F; font-size:14px;">编辑：</font>
<!--function init_editor() parse begin-->
乔仁铭
<!--function: init_editor() parse end  0ms cost! -->
</p></div>
	</div>
        <div class="third-right">
	
<!--enorth cms{ 2014new-bl }enorth cms-->
<style type="text/css">
.third-right {
	position: relative;
	float: left;
	width: 260px;
	height: auto;
}

.third-menu {
	width: 255px;
	height: auto;
	background-image: url(/2014ceshi/images/zhulou.png);
	background-repeat: no-repeat;
}

.menu-title {
	position: relative;
	padding: 28px 0 0 210px;
}

.menu-title a {
	font: bold 16px 'Microsoft YaHei';
	color: #701a5e;
	text-decoration: none;
}

.guanbo {
	padding: 5px;
}

.zhuanti {
	width: 230px;
	height: 130px;
	padding: 5px 5px;
}

.zhuanti-title {
	position: relative;
	float: left;
	width: 120px;
	margin-top: 15px;
}

.zhuanti-title a {
	font: bold 13px 'Microsoft YaHei';
	text-decoration: none;
}

.zhuanti-content {
	padding-top: 2px;
	position: relative;
	float: left;
	width: 120px;
	font: 12px 'Microsoft YaHei';
	line-height: 16px;
	text-align: justify;
	text-justify: inter-ideograph;
}

.zhuanti-img {
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
	margin: 15px 5px 15px 0;
}

.zhuanti img {
	width: 100px;
	height: 100px;
        border:none;
}

.guanzhu {
	padding-top: 5px;
}

.guanzhu td a {
	width: 220px;
	overflow: hidden;
	text-overflow: ellipsis;
	font: 13px 'Microsoft YaHei';
	line-height: 15px;
	text-decoration: none;
	color: #000;
	display: inline-block;
	white-space: nowrap;
	margin: 2px 0 1px 0;
}
</style>
<body>
<div class="third-menu">
        <div class="menu-title"><a href="http://weibo.com/nankaiuni" target="_blank">官博</a></div>
        <div class="guanbo">
<iframe width="245" height="400" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=zh_cn&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=1&isWeibo=1&isFans=0&uid=1851774145&verifier=4e1ba554&colors=7f0d6f,ffffff,666666,0082cb,ecfbfd&dpc=1"></iframe>
        </div>
        </div>
        <div class="third-menu">
        	<div class="menu-title"><a href="http://news.nankai.edu.cn/xwzt/system/2010/03/07/000028950.shtml" target="_blank">专题</a></div>
         
<!--function guide_model(zttj,1,2,1,/2014ceshi/small_template/zhuanti.html) parse begin-->
<table width="100%"  >
<tr><td ><div class="zhuanti">
<div class="zhuanti-img"><a href="http://news.nankai.edu.cn/zttj/system/2018/03/01/000369676.shtml" target="_blank"><img src=http://news.nankai.edu.cn/pic/0/00/29/62/296245_618433.jpg /></a></div>
<div class="zhuanti-title"><a href="http://news.nankai.edu.cn/zttj/system/2018/03/01/000369676.shtml"   target="_blank" >【专题】纪念杰出校友周恩来总理诞辰120周年</a></div>
<div class="zhuanti-content">&nbsp;&nbsp;在南开大学杰出校友周恩来诞辰120周年之际，南开师生举办相关纪念活动，共同缅怀周总理的伟大人格和精神风范。</div></td></tr>
<tr><td ><div class="zhuanti">
<div class="zhuanti-img"><a href="http://news.nankai.edu.cn/xwzt/system/2018/04/15/000376955.shtml" target="_blank"><img src=http://news.nankai.edu.cn/pic/0/00/29/63/296365_959782.jpg /></a></div>
<div class="zhuanti-title"><a href="http://news.nankai.edu.cn/xwzt/system/2018/04/15/000376955.shtml"   target="_blank" ><b><font color=#FF0000>【专题】学习贯彻党的十九大精神</font></b></a></div>
<div class="zhuanti-content">&nbsp;&nbsp;不忘初心，牢记使命，高举中国特色社会主义伟大旗帜，决胜全面建成小康社会</div></td></tr>
</table>

<!--function: guide_model(zttj,1,2,1,/2014ceshi/small_template/zhuanti.html) parse end  63ms cost! -->

         </div>
        <div class="third-menu">
        	<div class="menu-title"><a href="http://news.nankai.edu.cn/nkyw/index.shtml" target="_blank">关注</a></div>
         <div class="guanzhu">
         
<!--function guide5($hot7_0,1,10,false,none,none,none,none) parse begin-->
<table width="100%"  >
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/nkyw/system/2018/07/16/000400315.shtml"   target="_blank" >我校2篇理论文章被中宣部评选为高质量文章</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/qqxy/system/2018/07/16/000400316.shtml"   target="_blank" >电光学院启动本科生进实验室系列活动</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/nkyw/system/2018/07/16/000400355.shtml"   target="_blank" >2018年青少年高校科学营天津营开营</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/nkyw/system/2018/07/16/000400354.shtml"   target="_blank" >庄浪县党务干部业务能力提升培训班开班  </a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/nkyw/system/2018/07/17/000400434.shtml"   target="_blank" >南开大学召开学科建设工作会议</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/nkyw/system/2018/07/17/000400456.shtml"   target="_blank" >天津地区人工智能领域企业及研发机构座谈会南开举行</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/nkyw/system/2018/07/17/000400436.shtml"   target="_blank" >【组图】南开大学学科建设工作会议盛况</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/zhxw/system/2018/07/17/000400375.shtml"   target="_blank" >法国诺欧商学院代表团访问我校商学院</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/nkyw/system/2018/07/17/000400394.shtml"   target="_blank" >国家社科基金重大项目元代北方碑刻成果12卷交付出版</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/zhxw/system/2018/07/17/000400474.shtml"   target="_blank" >金融学院举办2017级职业生涯规划讲座</a></td></tr>
</table>

<!--function: guide5($hot7_0,1,10,false,none,none,none,none) parse end  78ms cost! -->

         </div>
        </div>
</body>
<!--enorth cms{ 2014new-bl }enorth cms-->

	</div>			
</div>
<!-- content ends -->


<!-- footer starts -->

<!--enorth cms{ new_footer }enorth cms-->
<style type="text/css">
.footer {
	position: relative;
	float: left;
	width: 940px;
	height: 60px;
	color: #717171;
	font-size: 12px !important;
	font-size: 10px;
	line-height: 14px;
}

.footer-left {
	position: relative;
	float: left;
	padding-left: 35px;
}

.footer-right {
	position: relative;
	float: left;
	padding-left: 25px;
}

.footer p {
	margin: 0 0 10px 0;
}

.footer a {
	text-decoration: none;
	color: #717171;
}

.footer a:hover {
	color: #000;
}
</style>

<body>

<div class="footer">
    <div class="footer-left">
        <p>本网站由南开大学新闻中心设计维护 Copyright@2014 津ICP备12003308号-1</p>
        <p>新闻热线：022-23508737 022-8535464 投稿信箱：nknews@nankai.edu.cn</p>
    </div>
    <div class="footer-right">
        <p><a href="http://www.people.com.cn/" target="_blank">人民网</a>
        <a href="http://www.xinhuanet.com/" target="_blank">新华网</a>
        <a href="http://www.gmw.cn/" target="_blank">光明网</a>      
        <a href="http://www.jyb.cn/" target="_blank">中国教育新闻网</a>
        <a href="http://www.stdaily.com/" target="_blank">中国科技网</a>
 <a href="http://www.youth.cn/" target="_blank">中国青年网</a>
       
        <a href="http://world.chinadaily.com.cn/" target="_blank">中国日报网</a>
 <a href="http://www.chinanews.com/" target="_blank">中新网</a >
   
        <p><a href="http://www.nankai.edu.cn/" target="_blank">南开大学</a>
        <a href="http://nankai.en.school.cucas.cn/" target="_blank">英文资讯</a>
        <a href="http://xxgk.nankai.edu.cn/" target="_blank">信息公开网</a>
        <a href="http://urp.nankai.edu.cn/" target="_blank">信息门户</a>
        <a href="http://nkuaa.nankai.edu.cn/ " target="_blank">校友会</a>
        <a href="http://nkuef.nankai.edu.cn/" target="_blank">基金会</a>
        <a href="http://zsb.nankai.edu.cn/" target="_blank">招生办 </a>
        <a href="http://www.lib.nankai.edu.cn/" target="_blank">图书馆</a>
 <a href="http://xuebao.nankai.edu.cn/noscript/xuebao/" target="_blank">学报编辑部</a></p>
      </div>
</div>
</body>
<!--enorth cms{ new_footer }enorth cms-->

<!-- footer ends -->
</div>
</div>
</body>
</html><!--<page cms="enorth webpublisher"  version="5.0.0 /2011101201" server_name="svctag-f76553x" parse_date="2018-07-23 08:54:41" cost="235" parse_result="0" input_mode="manual"></page>-->