<base href="http://std.nankai.edu.cn/"><!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>科技处</title>

<link type="text/css" href="/_css/_system/system.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/1/style/6/6.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/00/1e/30/style/40/40.css" rel="stylesheet"/>
       <LINK href="/_css/tpl2/default/portlet/dtjt/9/dtjt9.css" type="text/css" rel="stylesheet">
       <LINK href="/_css/tpl2/system.css" type="text/css" rel="stylesheet"> 
       <LINK href="/_css/tpl2/default/default.css" type="text/css" rel="stylesheet"> 
<link type="text/css" href="/_js/_portletPlugs/simpleNews/css/simplenews.css" rel="stylesheet" />
<link type="text/css" href="/_js/_portletPlugs/sudyNavi/css/sudyNav.css" rel="stylesheet" />

<script language="javascript" src="/_js/sudy-jquery-autoload.js" jquery-src="/_js/jquery-1.x.min.js" sudy-wp-context="" sudy-wp-siteId="30"></script>
<script language="javascript" src="/_js/jquery-migrate.min.js"></script>
<script language="javascript" src="/_js/jquery.sudy.wp.visitcount.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/sudyNavi/jquery.sudyNav.js"></script>
<style type="text/css" title="defaultStyle">
</style>
<link href="/_upload/tpl/00/1c/28/template28/style.css" rel="stylesheet" type="text/css">
<style type="text/css">
body {
	background-color: #eaeaea;
}
</style>
<script src="/_upload/tpl/00/1c/28/template28/Scripts/swfobject_modified.js" type="text/javascript"></script>
</head>
<body>
<div id="container_page">
	<div id="head">
<table width="910" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="5" background="/_upload/tpl/00/1c/28/template28/images/main-shadow-l.jpg"></td>
    <td><img src="/_upload/tpl/00/1c/28/template28/images/banner.jpg" width="900" height="146"></td>
    <td width="5" background="/_upload/tpl/00/1c/28/template28/images/main-shadow-r.jpg"></td>
  </tr>
</table>
<div frag="面板101"> 
<div frag="窗口101"> 
<!-- No Data --> 
</div> 
</div> 
	</div>
<div id="nav">
<table width="910" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="5" height="35" align="left" background="/_upload/tpl/00/1c/28/template28/images/main-shadow-l.jpg"></td>
    <td align="left" bgcolor="#575757"><table border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td>
<div frag="面板1"> 
<div frag="窗口1"> 

<style type="text/css"> 
#wp_nav_w1 .wp_nav { margin:0 auto;}
#wp_nav_w1 .wp_nav .nav-item{float:none;}
#wp_nav_w1 .wp_nav .on {}
#wp_nav_w1 .wp_nav .nav-item .mark { font-style:normal;}
#wp_nav_w1 .wp_nav .nav-item a{  font-family:inherit; text-align:left;}
#wp_nav_w1 .wp_nav .nav-item a:hover,.wp_nav .nav-item .parent{}
#wp_nav_w1 .wp_nav .nav-item a .item-name { display:inline-block;vertical-align:top; cursor:pointer;}
#wp_nav_w1 .wp_nav .sub-nav { border:1px solid #959595;line-height: 1;background: #e1e1e1;padding:1px 0px; margin-top:-2px;}
#wp_nav_w1 .wp_nav .sub-nav .nav-item .mark {background:#f5f5f5;}
#wp_nav_w1 .wp_nav .sub-nav .nav-item a {background: #e1e1e1;}
#wp_nav_w1 .wp_nav .sub-nav .nav-item a .item-name { border:1px solid #959595; margin:0px 2px 1px 2px;padding:0px 10px; line-height:20px;display:block;}
#wp_nav_w1 .wp_nav .sub-nav .nav-item a:hover .item-name,.wp_nav .sub-nav .nav-item a.parent .item-name{background:#f5f5f5; border-color: #ccc;}

</style> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wp_nav" data-nav-config="{drop_v: 'down', drop_w: 'right', dir: 'y', opacity_main: '1', opacity_sub: '0.8', dWidth: '0'}"> 
<tr> 
<td> 
 
<table border="0" cellpadding="0" cellspacing="0" >
          <tr>
            <td width="1"><img src="/_upload/tpl/00/1c/28/template28/images/nav-s.jpg" width="1" height="35"></td>
            <td width="14"></td>
            <td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="wlink"><a href="/main.htm" title="首  页" class="wlink" target="_self">首  页</a></div> 
          
</div> 
</td>
            <td width="14"></td>
          </tr>
        </table></td> 
<td> 
 
<table border="0" cellpadding="0" cellspacing="0" >
          <tr>
            <td width="1"><img src="/_upload/tpl/00/1c/28/template28/images/nav-s.jpg" width="1" height="35"></td>
            <td width="14"></td>
            <td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="wlink"><a href="/879/list.htm" title="机构设置" class="wlink" target="_self">机构设置</a></div> 
          
</div> 
</td>
            <td width="14"></td>
          </tr>
        </table></td> 
<td> 
 
<table border="0" cellpadding="0" cellspacing="0" >
          <tr>
            <td width="1"><img src="/_upload/tpl/00/1c/28/template28/images/nav-s.jpg" width="1" height="35"></td>
            <td width="14"></td>
            <td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="wlink"><a href="/929/list.htm" title="成果奖励" class="wlink" target="_self">成果奖励</a></div> 
          
</div> 
</td>
            <td width="14"></td>
          </tr>
        </table></td> 
<td> 
 
<table border="0" cellpadding="0" cellspacing="0" >
          <tr>
            <td width="1"><img src="/_upload/tpl/00/1c/28/template28/images/nav-s.jpg" width="1" height="35"></td>
            <td width="14"></td>
            <td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="wlink"><a href="/964/list.htm" title="知识产权" class="wlink" target="_self">知识产权</a></div> 
          
</div> 
</td>
            <td width="14"></td>
          </tr>
        </table></td> 
<td> 
 
<table border="0" cellpadding="0" cellspacing="0" >
          <tr>
            <td width="1"><img src="/_upload/tpl/00/1c/28/template28/images/nav-s.jpg" width="1" height="35"></td>
            <td width="14"></td>
            <td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="wlink"><a href="/886/list.htm" title="科研基地" class="wlink" target="_self">科研基地</a></div> 
          
</div> 
</td>
            <td width="14"></td>
          </tr>
        </table></td> 
<td> 
 
<table border="0" cellpadding="0" cellspacing="0" >
          <tr>
            <td width="1"><img src="/_upload/tpl/00/1c/28/template28/images/nav-s.jpg" width="1" height="35"></td>
            <td width="14"></td>
            <td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="wlink"><a href="/891/list.htm" title="科技项目" class="wlink" target="_self">科技项目</a></div> 
          
</div> 
</td>
            <td width="14"></td>
          </tr>
        </table></td> 
<td> 
 
<table border="0" cellpadding="0" cellspacing="0" >
          <tr>
            <td width="1"><img src="/_upload/tpl/00/1c/28/template28/images/nav-s.jpg" width="1" height="35"></td>
            <td width="14"></td>
            <td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="wlink"><a href="/xfjs/list.htm" title="学风建设" class="wlink" target="_self">学风建设</a></div> 
          
</div> 
</td>
            <td width="14"></td>
          </tr>
        </table></td> 
<td> 
 
<table border="0" cellpadding="0" cellspacing="0" >
          <tr>
            <td width="1"><img src="/_upload/tpl/00/1c/28/template28/images/nav-s.jpg" width="1" height="35"></td>
            <td width="14"></td>
            <td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="wlink"><a href="/985/list.htm" title="科技合作" class="wlink" target="_self">科技合作</a></div> 
          
</div> 
</td>
            <td width="14"></td>
          </tr>
        </table></td> 
<td> 
 
<table border="0" cellpadding="0" cellspacing="0" >
          <tr>
            <td width="1"><img src="/_upload/tpl/00/1c/28/template28/images/nav-s.jpg" width="1" height="35"></td>
            <td width="14"></td>
            <td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="wlink"><a href="/999/list.htm" title="常用下载" class="wlink" target="_self">常用下载</a></div> 
          
</div> 
</td>
            <td width="14"></td>
          </tr>
        </table></td> 
<td> 
 
<table border="0" cellpadding="0" cellspacing="0" >
          <tr>
            <td width="1"><img src="/_upload/tpl/00/1c/28/template28/images/nav-s.jpg" width="1" height="35"></td>
            <td width="14"></td>
            <td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="wlink"><a href="/gzdt/list.htm" title="工作动态" class="wlink" target="_self">工作动态</a></div> 
          
</div> 
</td>
            <td width="14"></td>
          </tr>
        </table></td> 
</tr> 
</table> 
</div> 
</div></td>
      </tr>
    </table></td>
    <td width="5" height="35" align="left" background="/_upload/tpl/00/1c/28/template28/images/main-shadow-r.jpg"></td>
  </tr>
</table>
</div>
<div id="container_content">
<table width="910" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="5" background="/_upload/tpl/00/1c/28/template28/images/main-shadow-l.jpg"></td>
    <td align="left" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td width="18"></td>
        <td width="264" align="left" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="20"></td>
          </tr>
        </table>
          
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><div frag="面板11">
                <div frag="窗口11">
                  <!-- 多图交替9 图片 标题 切换 -->
<div style="position:relative;overflow:hidden;width:260px;height:170px;">
    <div class="dtjt9_div_img">
        <img id="w11imgShow" name="w11imgShow" onclick="w11openWindow();" style="FILTER: revealTrans(duration=2,transition=20); border: 0; cursor: pointer;" src="/..//_css/tpl/default/images/loading.gif" width="260px" height="170px" vspace="0">
        <div id='w11imgNumber' class="number"></div>
    </div>
    <div class="dtjt9_div_text">
        <div id='w11imgTitle' class="dtjt9_div_text_title"><a href="javascript:void(0)">&nbsp;</a></div>									
    </div>
</div>
<script language="JavaScript" class="" >
    var w11imgJsons = [
    
        
            {
            "src" : "/_upload/article/images/72/84/13950f2043329d2a08d2e99428ce/452bb9f5-3a0c-4490-8d78-70abe5de1290_s.jpg",
            "title" : "第四届东亚环境史学大会&nbsp;全球学...",
            "url" : "/2017/1101/c1006a76700/page.htm"
            },
        
    
        
            {
            "src" : "/_upload/article/images/5c/0d/62d509a74fc087db174c24bb0140/cff90263-0fce-41fb-8412-4c7c3c1ac57a_s.jpg",
            "title" : "南开大学举行重点实验室专题汇报...",
            "url" : "/_redirect?siteId=30&columnId=1006&articleId=67787"
            },
        
    
        
            {
            "src" : "/_upload/article/images/bd/7b/b209ee3640b1a9727a84574305aa/7af3a557-8791-4815-b4cd-bc434030f708_s.jpg",
            "title" : "多国学者聚会南开&nbsp;研讨新型污染...",
            "url" : "/_redirect?siteId=30&columnId=1006&articleId=67344"
            },
        
    
        
            {
            "src" : "/_upload/article/images/07/84/623f76f14408b71c5a426836295d/62806301-54de-4d17-bc87-9879702ab814_s.png",
            "title" : "南开课题组研发高性能核酸载体材...",
            "url" : "/_redirect?siteId=30&columnId=1006&articleId=67343"
            },
        
    
        
            {
            "src" : "/_upload/article/images/1e/be/50d1ef204528a1c9ce16f4e9ba87/c3c671e2-4eae-4e24-8f7b-894d49fbcdd8_s.jpg",
            "title" : "南开—华润精准创新药物研发中心...",
            "url" : "http://news.nankai.edu.cn/nkyw/system/2017/05/24/000332674.shtml"
            }];
        
    
</script>
<script language="JavaScript">
            var w11imgUrl = new Array();
            var w11imgLink = new Array();
            var w11imgTitle = new Array();

            var w11count = 0;
            var w11running = false;
            var w11index = 0;
            var w11nextAdTimer;
            var w11k = 0;
            function w11nextAd(num) {
                if (num >= 0 && num <= w11count - 1) {
                    w11index = num;
                    clearTimeout(w11nextAdTimer);
                } else {
                    num = w11index;
                }
                if (w11index > w11count - 1) {
                    w11index = 0;
                }
                if (!w11running) {
                    w11running = true;

                } else if (document.all) {
                    w11imgShow.filters.revealTrans.Transition = 50;
                    w11imgShow.filters.revealTrans.apply();
                    w11imgShow.filters.revealTrans.play();
                }
                document.getElementById('w11imgShow').src = w11imgUrl[w11index];
                if (w11imgTitle[w11index] != '') {
                    document.getElementById('w11imgTitle').innerHTML = '<a href="javascript:w11openWindow();" title="' + w11imgTitle[w11index] + '">' + w11imgTitle[w11index] + '</a>';
                }
                document.getElementById('w11imgNumber').innerHTML = "";
                w11k = 0;
                for (var i = 0; i < w11count; i++) {
                    w11k++;
                    if (i != w11index) {
                        document.getElementById('w11imgNumber').innerHTML += '<a href="javascript:w11nextAd(' + i + ')" class="nomal">' + w11k + '</a>';
                    } else {
                        document.getElementById('w11imgNumber').innerHTML += '<a href="javascript:w11nextAd(' + i + ')" class="current">' + w11k + '</a>';
                    }
                }

                w11index++;
                if (w11count > 1) {
                    w11nextAdTimer = setTimeout("w11nextAd(-1)", 4000);
                }
            }

            function w11openWindow() {
                var jumpUrl = w11imgLink[w11index - 1];
                if (jumpUrl && jumpUrl != '') {
                    window.open(jumpUrl);
                }
            }

            $().ready(function() {
                try {
                    var objs = w11imgJsons;
                    w11count = objs.length;
                    if (w11count == 0) {
                        document.getElementById('w11imgShow').style.display = "none";
                        document.getElementById('w11imgNumber').style.display = "none";
                        document.getElementById('w11imgTitle').style.display = "none";
                        return;
                    }
                    for (var i = 0; i < objs.length; i++) {
                        w11imgUrl[i] = objs[i].src;
                        w11imgLink[i] = objs[i].url;
                        w11imgTitle[i] = objs[i].title;
                    }
                    w11nextAd(-1);
                } catch (e) {

                }
            });
</script>

                </div>
              </div></td>
            </tr>
          </table>          
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td height="12"></td>
            </tr>
          </table>
          
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><div frag="面板12">
                <div frag="窗口12">
                  <div id="wp_news_w12"> 

                    <table width="100%" border="0" cellpadding="0" cellspacing="0">
                       
<tr>
                        <td width="30">&nbsp;</td>
                        <td> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="center"> 
 
<a href='/2013/0427/c1008a6382/page.htm' target='_blank' title='图片链接'><table border="0" cellspacing="0" cellpadding="0" width="264"><tbody><tr><td height="10"><span style="font-family:微软雅黑, &#39;microsoft yahei&#39;;font-size:16px;">&nbsp; &nbsp; &nbsp; &nbsp;</span></td></tr><tr><td align="middle"><p><a href="http://keji.nankai.edu.cn/business/login.jsp" target="_blank"><img border="0" src="/_upload/article/ab/8b/bee39f90422bb41e42d08dd33353/3e6b8500-71ab-49c1-8ef7-fc2d3e798228.jpg" /></a></p><p><a href="http://techshow.nankai.edu.cn" target="_blank"><img src="/_upload/article/ab/8b/bee39f90422bb41e42d08dd33353/9b482780-0f30-4057-aac7-338ead5dc952.jpg" /></a></p></td></tr><tr><td align="middle"><a href="http://kexie.nankai.edu.cn" target="_blank"><img border="0" src="/_upload/article/ab/8b/bee39f90422bb41e42d08dd33353/731f4f0e-c368-496a-8c51-f26417764529.jpg" /></a></td></tr></tbody></table></a>  
</td> 
</tr> 
</table> 
</td>
                      </tr> 

                    </table></div> 

                </div>
              </div></td>
            </tr>
          </table>          
          <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td height="10"></td>
            </tr>
          </table>
          
<div frag="面板13"> 
<div frag="窗口13"> 

<style type="text/css"> 
#wp_nav_w13 .wp_nav { margin:0 auto;}
#wp_nav_w13 .wp_nav .nav-item{float:none;}
#wp_nav_w13 .wp_nav .on {}
#wp_nav_w13 .wp_nav .nav-item .mark { font-style:normal;}
#wp_nav_w13 .wp_nav .nav-item a{  font-family:inherit; text-align:left;}
#wp_nav_w13 .wp_nav .nav-item a:hover,.wp_nav .nav-item .parent{}
#wp_nav_w13 .wp_nav .nav-item a .item-name { display:inline-block;vertical-align:top; cursor:pointer;}
#wp_nav_w13 .wp_nav .sub-nav { border:1px solid #959595;line-height: 1;background: #e1e1e1;padding:1px 0px; margin-top:-2px;}
#wp_nav_w13 .wp_nav .sub-nav .nav-item .mark {background:#f5f5f5;}
#wp_nav_w13 .wp_nav .sub-nav .nav-item a {background: #e1e1e1;}
#wp_nav_w13 .wp_nav .sub-nav .nav-item a .item-name { border:1px solid #959595; margin:0px 2px 1px 2px;padding:0px 10px; line-height:20px;display:block;}
#wp_nav_w13 .wp_nav .sub-nav .nav-item a:hover .item-name,.wp_nav .sub-nav .nav-item a.parent .item-name{background:#f5f5f5; border-color: #ccc;}

</style> 
<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wp_nav" data-nav-config="{vertical: {active: '1', col: '2' }, drop_v: 'down', drop_w: 'right', dir: 'y', opacity_main: '1', opacity_sub: '0.8', dWidth: '0'}"> 
<tr> 
<td> 
 
<table width="100%" border="0" cellpadding="0" cellspacing="0" >
            <tr>
              <td width="19" height="32" background="/_upload/tpl/00/1c/28/template28/images/main-list-bgline.jpg"><img src="/_upload/tpl/00/1c/28/template28/images/main-list-icon1.jpg" width="12" height="12"></td>
              <td background="/_upload/tpl/00/1c/28/template28/images/main-list-bgline.jpg"><font style="font-size:14px"> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="mainlist1"><a href="http://std.nankai.edu.cn/1023/list.htm" title="政策法规" class="mainlist1" target="_self">政策法规</a></div> 
          
</div> 
</font></td>
            </tr>
          </table></td> 
<td> 
 
<table width="100%" border="0" cellpadding="0" cellspacing="0" >
            <tr>
              <td width="19" height="32" background="/_upload/tpl/00/1c/28/template28/images/main-list-bgline.jpg"><img src="/_upload/tpl/00/1c/28/template28/images/main-list-icon1.jpg" width="12" height="12"></td>
              <td background="/_upload/tpl/00/1c/28/template28/images/main-list-bgline.jpg"><font style="font-size:14px"> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="mainlist1"><a href="http://std.nankai.edu.cn/1033/list.htm" title="办事流程" class="mainlist1" target="_self">办事流程</a></div> 
          
</div> 
</font></td>
            </tr>
          </table></td> 
</tr> 
<tr> 
<td> 
 
<table width="100%" border="0" cellpadding="0" cellspacing="0" >
            <tr>
              <td width="19" height="32" background="/_upload/tpl/00/1c/28/template28/images/main-list-bgline.jpg"><img src="/_upload/tpl/00/1c/28/template28/images/main-list-icon1.jpg" width="12" height="12"></td>
              <td background="/_upload/tpl/00/1c/28/template28/images/main-list-bgline.jpg"><font style="font-size:14px"> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="mainlist1"><a href="http://std.nankai.edu.cn/1035/list.htm" title="科研简报" class="mainlist1" target="_self">科研简报</a></div> 
          
</div> 
</font></td>
            </tr>
          </table></td> 
<td> 
 
<table width="100%" border="0" cellpadding="0" cellspacing="0" >
            <tr>
              <td width="19" height="32" background="/_upload/tpl/00/1c/28/template28/images/main-list-bgline.jpg"><img src="/_upload/tpl/00/1c/28/template28/images/main-list-icon1.jpg" width="12" height="12"></td>
              <td background="/_upload/tpl/00/1c/28/template28/images/main-list-bgline.jpg"><font style="font-size:14px"> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="mainlist1"><a href="http://std.nankai.edu.cn/1038/list.htm" title="院士工作" class="mainlist1" target="_self">院士工作</a></div> 
          
</div> 
</font></td>
            </tr>
          </table></td> 
</tr> 
</table> 
</div> 
</div> 

          <table border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td width="7" align="left" valign="middle"><img src="/_upload/tpl/00/1c/28/template28/images/main-list-icon2.jpg" width="5" height="7"></td>
              <td height="28" class="biaoti2">
<span frag="面板2"><span frag="窗口2" portletmode="windowTitle" style="display: block; text-align: left;" >常用链接</span></span></td>
            </tr>
          </table>
          
<div frag="面板14"> 
<div frag="窗口14"> 
<div id="wp_news_w14"> 
 
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="mainlist2">
             
<tr>
              <td width="19" height="32" background="/_upload/tpl/00/1c/28/template28/images/main-list-bgline.jpg" class="mainlist1"><img src="/_upload/tpl/00/1c/28/template28/images/main-list-icon1.jpg" width="12" height="12"></td>
              <td background="/_upload/tpl/00/1c/28/template28/images/main-list-bgline.jpg"><font style="font-size:11px"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/_redirect?siteId=30&columnId=1059&articleId=48928' target='_blank' title='科研信息公开'>科研信息公开</a></td> 
 
</tr> 
</table> 
</font></td>
            </tr> 
<tr>
              <td width="19" height="32" background="/_upload/tpl/00/1c/28/template28/images/main-list-bgline.jpg" class="mainlist1"><img src="/_upload/tpl/00/1c/28/template28/images/main-list-icon1.jpg" width="12" height="12"></td>
              <td background="/_upload/tpl/00/1c/28/template28/images/main-list-bgline.jpg"><font style="font-size:11px"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='http://www.nsfc.gov.cn/' target='_blank' title='国家自然科学基金委'>国家自然科学基金委</a></td> 
 
</tr> 
</table> 
</font></td>
            </tr> 
<tr>
              <td width="19" height="32" background="/_upload/tpl/00/1c/28/template28/images/main-list-bgline.jpg" class="mainlist1"><img src="/_upload/tpl/00/1c/28/template28/images/main-list-icon1.jpg" width="12" height="12"></td>
              <td background="/_upload/tpl/00/1c/28/template28/images/main-list-bgline.jpg"><font style="font-size:11px"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='http://www.nosta.gov.cn/web/index.aspx' target='_blank' title='国家科学技术奖励'>国家科学技术奖励</a></td> 
 
</tr> 
</table> 
</font></td>
            </tr> 
<tr>
              <td width="19" height="32" background="/_upload/tpl/00/1c/28/template28/images/main-list-bgline.jpg" class="mainlist1"><img src="/_upload/tpl/00/1c/28/template28/images/main-list-icon1.jpg" width="12" height="12"></td>
              <td background="/_upload/tpl/00/1c/28/template28/images/main-list-bgline.jpg"><font style="font-size:11px"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='http://www.nmp.gov.cn/' target='_blank' title='国家科技重大专项'>国家科技重大专项</a></td> 
 
</tr> 
</table> 
</font></td>
            </tr> 
<tr>
              <td width="19" height="32" background="/_upload/tpl/00/1c/28/template28/images/main-list-bgline.jpg" class="mainlist1"><img src="/_upload/tpl/00/1c/28/template28/images/main-list-icon1.jpg" width="12" height="12"></td>
              <td background="/_upload/tpl/00/1c/28/template28/images/main-list-bgline.jpg"><font style="font-size:11px"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='http://www.most.gov.cn/' target='_blank' title='国家科学技术部'>国家科学技术部</a></td> 
 
</tr> 
</table> 
</font></td>
            </tr> 
<tr>
              <td width="19" height="32" background="/_upload/tpl/00/1c/28/template28/images/main-list-bgline.jpg" class="mainlist1"><img src="/_upload/tpl/00/1c/28/template28/images/main-list-icon1.jpg" width="12" height="12"></td>
              <td background="/_upload/tpl/00/1c/28/template28/images/main-list-bgline.jpg"><font style="font-size:11px"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='http://kxjs.tj.gov.cn/' target='_blank' title='天津市科学技术局'>天津市科学技术局</a></td> 
 
</tr> 
</table> 
</font></td>
            </tr> 
<tr>
              <td width="19" height="32" background="/_upload/tpl/00/1c/28/template28/images/main-list-bgline.jpg" class="mainlist1"><img src="/_upload/tpl/00/1c/28/template28/images/main-list-icon1.jpg" width="12" height="12"></td>
              <td background="/_upload/tpl/00/1c/28/template28/images/main-list-bgline.jpg"><font style="font-size:11px"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='http://www.cutech.edu.cn/cn/index.htm' target='_blank' title='教育部科技发展中心'>教育部科技发展中心</a></td> 
 
</tr> 
</table> 
</font></td>
            </tr> 
<tr>
              <td width="19" height="32" background="/_upload/tpl/00/1c/28/template28/images/main-list-bgline.jpg" class="mainlist1"><img src="/_upload/tpl/00/1c/28/template28/images/main-list-icon1.jpg" width="12" height="12"></td>
              <td background="/_upload/tpl/00/1c/28/template28/images/main-list-bgline.jpg"><font style="font-size:11px"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='http://www.cscse.edu.cn/' target='_blank' title='留学回国服务中心'>留学回国服务中心</a></td> 
 
</tr> 
</table> 
</font></td>
            </tr> 
<tr>
              <td width="19" height="32" background="/_upload/tpl/00/1c/28/template28/images/main-list-bgline.jpg" class="mainlist1"><img src="/_upload/tpl/00/1c/28/template28/images/main-list-icon1.jpg" width="12" height="12"></td>
              <td background="/_upload/tpl/00/1c/28/template28/images/main-list-bgline.jpg"><font style="font-size:11px"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='http://www.dost.moe.edu.cn/dostmoe/' target='_blank' title='教育部科技司'>教育部科技司</a></td> 
 
</tr> 
</table> 
</font></td>
            </tr> 

          </table></div> 
 
</div> 
</div> 
</td>
        <td width="28"></td>
        <td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="20"></td>
          </tr>
        </table>
          <table width="560" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="9" align="left" valign="middle"><img src="/_upload/tpl/00/1c/28/template28/images/main-list-icon2.jpg" width="5" height="7"></td>
                  <td align="left" class="biaoti2">
<span frag="面板3"><span frag="窗口3" portletmode="windowTitle" style="display: block; text-align: left;" >通知公告</span></span></td>
                  <td width="40" height="22">
<span frag="面板4"><span frag="窗口4" portletmode="windowMore"  ><span class="more"><a class="more-link" href="/1017/list.htm" title="显示更多"><span class="moretext"><img src='/_upload/site/00/1e/30/style/24/more.jpg' border='0'/></span></a></span></span></span></td>
                </tr>
              </table>
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="9"></td>
                  </tr>
                </table>
                <table width="560" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td background="/_upload/tpl/00/1c/28/template28/images/main-line-l.jpg"  width="144" height="2"></td>
                    <td width="1" height="2"><img src="/_upload/tpl/00/1c/28/template28/images/main-line-m.jpg" width="1" height="2"></td>
                    <td width="415" background="/_upload/tpl/00/1c/28/template28/images/main-line-r.jpg"></td>
                  </tr>
                </table>
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="10"></td>
                  </tr>
                </table>
                
<div frag="面板21"> 
<div frag="窗口21"> 
<div id="wp_news_w21"> 
 
<table width="100%" border="0" cellpadding="0" cellspacing="0">
                   
<tr>
                    <td height="24" width="5"></td>
                    <td> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/_redirect?siteId=30&columnId=1017&articleId=120073' target='_blank' title='南开大学面向国内外公开招聘药物化学生物学国家重点实验室主任的公告'><font style='font-weight:bold;'>南开大学面向国内外公开招聘药物化学生物学国家重点实验室主任的...</font></a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-03-03</div></td> 
 
</tr> 
</table> 
</td>
                  </tr> 
<tr>
                    <td height="24" width="5"></td>
                    <td> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0221/c1017a119632/page.htm' target='_blank' title='【科技奖励】关于2019年度教育部、天津市等科学技术奖励申报工作校内预通知'><font style='font-weight:bold;'>【科技奖励】关于2019年度教育部、天津市等科学技术奖励申报工作...</font></a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-02-21</div></td> 
 
</tr> 
</table> 
</td>
                  </tr> 
<tr>
                    <td height="24" width="5"></td>
                    <td> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0126/c1017a119138/page.htm' target='_blank' title='关于申请2019年天津市自然科学基金项目的通知'><font style='font-weight:bold;'>关于申请2019年天津市自然科学基金项目的通知</font></a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-01-26</div></td> 
 
</tr> 
</table> 
</td>
                  </tr> 
<tr>
                    <td height="24" width="5"></td>
                    <td> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0126/c1017a119137/page.htm' target='_blank' title='关于申请2019年天津市重点研发计划科技支撑重点项目的通知 '><font style='font-weight:bold;'>关于申请2019年天津市重点研发计划科技支撑重点项目的通知 </font></a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-01-26</div></td> 
 
</tr> 
</table> 
</td>
                  </tr> 
<tr>
                    <td height="24" width="5"></td>
                    <td> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0110/c1017a118165/page.htm' target='_blank' title='关于申请2019年国家自然科学基金项目的通知'><font style='font-weight:bold;'>关于申请2019年国家自然科学基金项目的通知</font></a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-01-10</div></td> 
 
</tr> 
</table> 
</td>
                  </tr> 
<tr>
                    <td height="24" width="5"></td>
                    <td> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0308/c1017a120412/page.htm' target='_blank' title='【奖励申报】关于组织申报第十六次李四光地质科学奖的通知'>【奖励申报】关于组织申报第十六次李四光地质科学奖的通知</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-03-08</div></td> 
 
</tr> 
</table> 
</td>
                  </tr> 
<tr>
                    <td height="24" width="5"></td>
                    <td> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0305/c1017a120216/page.htm' target='_blank' title='【国际合作】转发天津市科技局关于申报2019年度天津市引进国（境）外专家项目计划的通知'>【国际合作】转发天津市科技局关于申报2019年度天津市引进国（境...</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-03-05</div></td> 
 
</tr> 
</table> 
</td>
                  </tr> 

                </table></div> 
 
</div> 
</div> 

                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="8"></td>
                  </tr>
                </table></td>
            </tr>
          </table>
          <table width="560" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="9" align="left" valign="middle"><img src="/_upload/tpl/00/1c/28/template28/images/main-list-icon2.jpg" width="5" height="7"></td>
                  <td align="left" class="biaoti2">
<span frag="面板5"><span frag="窗口5" portletmode="windowTitle" style="display: block; text-align: left;" >科技新闻</span></span></td>
                  <td width="40" height="22">
<span frag="面板6"><span frag="窗口6" portletmode="windowMore"  ><span class="more"><a class="more-link" href="/1020/list.htm" title="显示更多"><span class="moretext"><img src='/_upload/site/00/1e/30/style/24/more.jpg' border='0'/></span></a></span></span></span></td>
                </tr>
              </table>
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="9"></td>
                  </tr>
                </table>
                <table width="560" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td background="/_upload/tpl/00/1c/28/template28/images/main-line-l.jpg"  width="144" height="2"></td>
                    <td width="1" height="2"><img src="/_upload/tpl/00/1c/28/template28/images/main-line-m.jpg" width="1" height="2"></td>
                    <td width="415" background="/_upload/tpl/00/1c/28/template28/images/main-line-r.jpg"></td>
                  </tr>
                </table>
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="10"></td>
                  </tr>
                </table>
                
<div frag="面板22"> 
<div frag="窗口22"> 
<div id="wp_news_w22"> 
 
<table width="100%" border="0" cellpadding="0" cellspacing="0">
                   
<tr>
                    <td height="24" width="5"></td>
                    <td> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0128/c1020a119166/page.htm' target='_blank' title='国家重点研发计划“复合有机污染场地土壤高效强化化学氧化/还原协同修复技术”项目启动'>国家重点研发计划“复合有机污染场地土壤高效强化化学氧化/还原...</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-01-28</div></td> 
 
</tr> 
</table> 
</td>
                  </tr> 
<tr>
                    <td height="24" width="5"></td>
                    <td> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0115/c1020a118389/page.htm' target='_blank' title='南开大学团队研获新型NO靶向递送系统 为治疗血管损伤提供新策略'>南开大学团队研获新型NO靶向递送系统 为治疗血管损伤提供新策略</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-01-15</div></td> 
 
</tr> 
</table> 
</td>
                  </tr> 
<tr>
                    <td height="24" width="5"></td>
                    <td> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0114/c1020a118336/page.htm' target='_blank' title='“新能源转化存储交叉科学中心”立项建设专家论证会举行'>“新能源转化存储交叉科学中心”立项建设专家论证会举行</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-01-14</div></td> 
 
</tr> 
</table> 
</td>
                  </tr> 
<tr>
                    <td height="24" width="5"></td>
                    <td> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0114/c1020a118342/page.htm' target='_blank' title='中学生英才计划”天津学员2018届总结会暨2019届拜师仪式在南开大学举行'>中学生英才计划”天津学员2018届总结会暨2019届拜师仪式在南开大...</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-01-12</div></td> 
 
</tr> 
</table> 
</td>
                  </tr> 
<tr>
                    <td height="24" width="5"></td>
                    <td> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2018/1225/c1020a117405/page.htm' target='_blank' title='南开大学新增5个天津市国际科技合作基地'>南开大学新增5个天津市国际科技合作基地</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2018-12-25</div></td> 
 
</tr> 
</table> 
</td>
                  </tr> 
<tr>
                    <td height="24" width="5"></td>
                    <td> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2018/1217/c1020a116837/page.htm' target='_blank' title='药物化学生物学国家重点实验室召开2018年学术年会'>药物化学生物学国家重点实验室召开2018年学术年会</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2018-12-17</div></td> 
 
</tr> 
</table> 
</td>
                  </tr> 
<tr>
                    <td height="24" width="5"></td>
                    <td> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2018/1212/c1020a116601/page.htm' target='_blank' title='南开大学开展2019年“中学生英才计划”学科潜力测试'>南开大学开展2019年“中学生英才计划”学科潜力测试</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2018-12-12</div></td> 
 
</tr> 
</table> 
</td>
                  </tr> 

                </table></div> 
 
</div> 
</div> 

                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="8"></td>
                  </tr>
                </table></td>
            </tr>
          </table>
          <table width="560" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="9" align="left" valign="middle"><img src="/_upload/tpl/00/1c/28/template28/images/main-list-icon2.jpg" width="5" height="7"></td>
                  <td align="left" class="biaoti2">
<span frag="面板7"><span frag="窗口7" portletmode="windowTitle" style="display: block; text-align: left;" >国际科技动态</span></span></td>
                  <td width="40" height="22">
<span frag="面板8"><span frag="窗口8" portletmode="windowMore"  ><span class="more"><a class="more-link" href="/1064/list.htm" title="显示更多"><span class="moretext"><img src='/_upload/site/00/1e/30/style/24/more.jpg' border='0'/></span></a></span></span></span></td>
                </tr>
              </table>
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="9"></td>
                  </tr>
                </table>
                <table width="560" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td background="/_upload/tpl/00/1c/28/template28/images/main-line-l.jpg"  width="144" height="2"></td>
                    <td width="1" height="2"><img src="/_upload/tpl/00/1c/28/template28/images/main-line-m.jpg" width="1" height="2"></td>
                    <td width="415" background="/_upload/tpl/00/1c/28/template28/images/main-line-r.jpg"></td>
                  </tr>
                </table>
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="10"></td>
                  </tr>
                </table>
                
<div frag="面板23"> 
<div frag="窗口23"> 
<div id="wp_news_w23"> 
 
<table width="100%" border="0" cellpadding="0" cellspacing="0">
                   
<tr>
                    <td height="24" width="5"></td>
                    <td> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0307/c1064a120335/page.htm' target='_blank' title='认识睡眠神经元'>认识睡眠神经元</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-03-07</div></td> 
 
</tr> 
</table> 
</td>
                  </tr> 
<tr>
                    <td height="24" width="5"></td>
                    <td> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0307/c1064a120334/page.htm' target='_blank' title='科学家创造人工彩虹'>科学家创造人工彩虹</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-03-07</div></td> 
 
</tr> 
</table> 
</td>
                  </tr> 
<tr>
                    <td height="24" width="5"></td>
                    <td> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0306/c1064a120255/page.htm' target='_blank' title='我国今年计划发射8~10颗北斗导航卫星'>我国今年计划发射8~10颗北斗导航卫星</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-03-06</div></td> 
 
</tr> 
</table> 
</td>
                  </tr> 
<tr>
                    <td height="24" width="5"></td>
                    <td> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0305/c1064a120182/page.htm' target='_blank' title='科学家发现太阳系最远天体'>科学家发现太阳系最远天体</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-03-05</div></td> 
 
</tr> 
</table> 
</td>
                  </tr> 
<tr>
                    <td height="24" width="5"></td>
                    <td> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0228/c1064a119943/page.htm' target='_blank' title='“火星快车”拍摄证明红色星球曾更温暖湿润'>“火星快车”拍摄证明红色星球曾更温暖湿润</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-02-28</div></td> 
 
</tr> 
</table> 
</td>
                  </tr> 
<tr>
                    <td height="24" width="5"></td>
                    <td> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0228/c1064a119942/page.htm' target='_blank' title='柠檬为何有酸有甜'>柠檬为何有酸有甜</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-02-28</div></td> 
 
</tr> 
</table> 
</td>
                  </tr> 
<tr>
                    <td height="24" width="5"></td>
                    <td> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0228/c1064a119941/page.htm' target='_blank' title='大型基因组研究揭示失眠机理'>大型基因组研究揭示失眠机理</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-02-28</div></td> 
 
</tr> 
</table> 
</td>
                  </tr> 

                </table></div> 
 
</div> 
</div> 

                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="8"></td>
                  </tr>
                </table></td>
            </tr>
          </table>
          <table width="560" border="0" cellpadding="0" cellspacing="0">
            <tr>
              <td valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0">
                <tr>
                  <td width="9" align="left" valign="middle"><img src="/_upload/tpl/00/1c/28/template28/images/main-list-icon2.jpg" width="5" height="7"></td>
                  <td align="left" class="biaoti2">
<span frag="面板9"><span frag="窗口9" portletmode="windowTitle" style="display: block; text-align: left;" >企业技术需求及校内可转化项目</span></span></td>
                  <td width="40" height="22">
<span frag="面板10"><span frag="窗口10" portletmode="windowMore"  ><span class="more"><a class="more-link" href="/1026/list.htm" title="显示更多"><span class="moretext"><img src='/_upload/site/00/1e/30/style/24/more.jpg' border='0'/></span></a></span></span></span></td>
                </tr>
              </table>
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="9"></td>
                  </tr>
                </table>
                <table width="560" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td background="/_upload/tpl/00/1c/28/template28/images/main-line-l.jpg"  width="249" height="2"></td>
                    <td width="1" height="2"><img src="/_upload/tpl/00/1c/28/template28/images/main-line-m.jpg" width="1" height="2"></td>
                    <td width="310
                    " background="/_upload/tpl/00/1c/28/template28/images/main-line-r.jpg"></td>
                  </tr>
                </table>
                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="10"></td>
                  </tr>
                </table>
                
<div frag="面板24"> 
<div frag="窗口24"> 
<div id="wp_news_w24"> 
 
<table width="100%" border="0" cellpadding="0" cellspacing="0">
                   
<tr>
                    <td height="24" width="5"></td>
                    <td> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2018/1214/c1026a116786/page.htm' target='_blank' title='2018年河北省企业技术需求'>2018年河北省企业技术需求</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2018-12-14</div></td> 
 
</tr> 
</table> 
</td>
                  </tr> 
<tr>
                    <td height="24" width="5"></td>
                    <td> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2017/1022/c1026a75865/page.htm' target='_blank' title='南开大学最新应用科技成果汇编 （电子信息）'>南开大学最新应用科技成果汇编 （电子信息）</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2018-01-04</div></td> 
 
</tr> 
</table> 
</td>
                  </tr> 
<tr>
                    <td height="24" width="5"></td>
                    <td> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2018/0104/c1026a87729/page.htm' target='_blank' title='南开大学最新应用科技成果汇编 （医药与医疗器械）'>南开大学最新应用科技成果汇编 （医药与医疗器械）</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2018-01-04</div></td> 
 
</tr> 
</table> 
</td>
                  </tr> 
<tr>
                    <td height="24" width="5"></td>
                    <td> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2018/0104/c1026a87728/page.htm' target='_blank' title='南开大学最新应用科技成果汇编 （农业）'>南开大学最新应用科技成果汇编 （农业）</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2018-01-04</div></td> 
 
</tr> 
</table> 
</td>
                  </tr> 
<tr>
                    <td height="24" width="5"></td>
                    <td> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2017/1022/c1026a75867/page.htm' target='_blank' title='南开大学最新应用科技成果汇编 （生物）'>南开大学最新应用科技成果汇编 （生物）</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2018-01-04</div></td> 
 
</tr> 
</table> 
</td>
                  </tr> 
<tr>
                    <td height="24" width="5"></td>
                    <td> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2017/1022/c1026a75866/page.htm' target='_blank' title='南开大学最新应用科技成果汇编 （新材料及其应用）'>南开大学最新应用科技成果汇编 （新材料及其应用）</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2018-01-04</div></td> 
 
</tr> 
</table> 
</td>
                  </tr> 

                </table></div> 
 
</div> 
</div> 

                <table width="100%" border="0" cellpadding="0" cellspacing="0">
                  <tr>
                    <td height="8"></td>
                  </tr>
                </table></td>
            </tr>
          </table></td>
        <td width="30"></td>
      </tr>
    </table>
      <table width="100%" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td height="16">&nbsp;</td>
        </tr>
      </table></td>
    <td width="5" background="/_upload/tpl/00/1c/28/template28/images/main-shadow-r.jpg"></td>
  </tr>
</table>
</div>
<div id="foot">
  <div id="foot2">
    <table width="910" border="0" cellpadding="0" cellspacing="0" class="foot">
      <tr>
        <td width="5" background="/_upload/tpl/00/1c/28/template28/images/main-shadow-l2.jpg"></td>
        <td height="67" align="center" valign="top" bgcolor="#575757"><table width="100%" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td height="20">&nbsp;</td>
          </tr>
        </table>
          <font color="#FFFFFF">天津市卫津路94号南开大学办公楼622室，电话：022-23502404  　津教备0061号 津ICP备12003308号-1</font></td>
        <td width="5" background="/_upload/tpl/00/1c/28/template28/images/main-shadow-r2.jpg"></td>
      </tr>
    </table>
  </div>
</div>
</div><div id=ipv6_enabled_www_test_logo></div>
<script language="JavaScript" type="text/javascript">
            var Ipv6_Js_Server = (("https:" == document.location.protocol) ? "https://" : "http://");
        document.write(unescape("%3Cscript src='" + Ipv6_Js_Server + "www.ipv6forum.com/ipv6_enabled/sa/SA1.php?id=5731' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>
 <image src="/_visitcount?siteId=30&type=1&columnId=873" style="display:none" width="0" height="0"></image>