<base href="http://teda.nankai.edu.cn/"><!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<meta http-equiv="Content-Language" content="zh-cn" />
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>泰达学院</title>
		
<link type="text/css" href="/_css/_system/system.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/1/style/6/6.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/00/25/37/style/27/27.css" rel="stylesheet"/>
       <LINK href="/_css/tpl2/system.css" type="text/css" rel="stylesheet"> 
       <LINK href="/_css/tpl2/default/default.css" type="text/css" rel="stylesheet"> 
<link type="text/css" href="/_js/_portletPlugs/simpleNews/css/simplenews.css" rel="stylesheet" />
<link type="text/css" href="/_js/_portletPlugs/sudyNavi/css/sudyNav.css" rel="stylesheet" />

<script language="javascript" src="/_js/jquery.min.js" sudy-wp-context="" sudy-wp-siteId="37"></script>
<script language="javascript" src="/_js/jquery.sudy.wp.visitcount.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/sudyNavi/jquery.sudyNav.js"></script>
<LINK type="text/css" href="/_upload/tpl/00/22/34/template34/index.css"  rel="stylesheet" />
		<link rel="stylesheet" href="/_upload/tpl/00/22/34/template34/sudyslides/sudyslides.css" type="text/css" />
		<link rel="stylesheet" href="/_upload/tpl/00/22/34/template34/zoombox/zoombox.css" />
		<script></script>
		<script type="text/javascript" src="/_upload/tpl/00/22/34/template34/js/sudy.js"></script>
		<script type="text/javascript" src="/_upload/tpl/00/22/34/template34/js/jquery.sudyTpl.min.js"></script>
		<script type="text/javascript" src="/_upload/tpl/00/22/34/template34/js/jquery.sudyslides.min.js"></script>
		<script type="text/javascript" src="/_upload/tpl/00/22/34/template34/zoombox/zoombox.min.js"></script>
	</head>

	<body topmargin="0" bgcolor="#ACACAC" bottommargin="0">

		<div align="center">
			<table border="0" cellpadding="0" cellspacing="0" width="1000">
				<tr>
					<td height="94" class="img">
					<img border="0" usemap="#planetmap" src="/_upload/tpl/00/22/34/template34/images/top.jpg" width="1000" />
					<map name="planetmap" id="planetmap">
						<area shape="rect" coords="130,24,280,81" target="_blank" href="http://www.nankai.edu.cn" alt="Nankai Univ." />
						<area shape="rect" coords="730,24,980,81" target="_blank" href="http://www.teda.gov.cn/html/teda_index2011/portal/index/index.htm" alt="Teda" />
					</map></td>
				</tr>
				<tr>
					<td bgcolor="#373737" height="43">
					<div style="float:right;margin:0px; padding-right:2px; width:100px;z-index:400;">

						<div frag="面板11">
							<div frag="窗口11">
								<!-- No Data -->
							</div>
						</div>

					</div>
					<div style="float:left;margin:0px; padding-left:10px; width:880px;z-index:400;">

						<div frag="面板1">
							<div frag="窗口1">
								<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wp_nav" data-nav-config="{drop_v: 'down', drop_w: 'right', dir: 'y', opacity_main: '1', opacity_sub: '1', dWidth: '0'}"> 
<tr> 
<td> 

									<table border="0" cellpadding="0" cellspacing="0" width="100%"  >
										<tr>
											<td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="nav"><a href="http://teda.nankai.edu.cn/main.htm" title="首页" class="nav" target="_self">首页</a></div> 
          
</div> 
</td>
										</tr>
									</table></td> 
<td> 

									<table border="0" cellpadding="0" cellspacing="0" width="100%"  >
										<tr>
											<td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="nav"><a href="/1467/list.htm" title="学院概况" class="nav" target="_self">学院概况</a></div> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i2-1 "> 
                 <a href="/1468/list.htm" title="学院简介" target="_self"><span class="item-name">学院简介</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i2-2 "> 
                 <a href="/1469/list.htm" title="现任领导" target="_self"><span class="item-name">现任领导</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i2-3 "> 
                 <a href="/1470/list.htm" title="办公电话" target="_self"><span class="item-name">办公电话</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
</div> 
</td>
										</tr>
									</table></td> 
<td> 

									<table border="0" cellpadding="0" cellspacing="0" width="100%"  >
										<tr>
											<td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="nav"><a href="/1472/list.htm" title="师资队伍" class="nav" target="_self">师资队伍</a></div> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i3-1 "> 
                 <a href="/1473/list.htm" title="院系教师" target="_self"><span class="item-name">院系教师</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-2 "> 
                 <a href="/1474/list.htm" title="管理人员" target="_self"><span class="item-name">管理人员</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
</div> 
</td>
										</tr>
									</table></td> 
<td> 

									<table border="0" cellpadding="0" cellspacing="0" width="100%"  >
										<tr>
											<td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="nav"><a href="/1475/list.htm" title="教育教学" class="nav" target="_self">教育教学</a></div> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i4-1 "> 
                 <a href="/1476/list.htm" title="本科生教育" target="_self"><span class="item-name">本科生教育</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i4-2 "> 
                 <a href="/1486/list.htm" title="研究生教育" target="_self"><span class="item-name">研究生教育</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i4-3 "> 
                 <a href="/1491/list.htm" title="试点学院" target="_self"><span class="item-name">试点学院</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i4-4 "> 
                 <a href="/1492/list.htm" title="实验教学" target="_self"><span class="item-name">实验教学</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
</div> 
</td>
										</tr>
									</table></td> 
<td> 

									<table border="0" cellpadding="0" cellspacing="0" width="100%"  >
										<tr>
											<td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="nav"><a href="/1493/list.htm" title="科学研究" class="nav" target="_self">科学研究</a></div> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i5-1 "> 
                 <a href="/1494/list.htm" title="科研项目" target="_self"><span class="item-name">科研项目</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i5-2 "> 
                 <a href="/1496/list.htm" title="科研成果" target="_self"><span class="item-name">科研成果</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i5-3 "> 
                 <a href="/1497/list.htm" title="科研平台" target="_self"><span class="item-name">科研平台</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
</div> 
</td>
										</tr>
									</table></td> 
<td> 

									<table border="0" cellpadding="0" cellspacing="0" width="100%"  >
										<tr>
											<td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="nav"><a href="/1498/list.htm" title="学术交流" class="nav" target="_self">学术交流</a></div> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i6-1 "> 
                 <a href="/1500/list.htm" title="国内交流" target="_self"><span class="item-name">国内交流</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i6-2 "> 
                 <a href="/1502/list.htm" title="国际交流" target="_self"><span class="item-name">国际交流</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
</div> 
</td>
										</tr>
									</table></td> 
<td> 

									<table border="0" cellpadding="0" cellspacing="0" width="100%"  >
										<tr>
											<td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="nav"><a href="/1505/list.htm" title="专业院系" class="nav" target="_self">专业院系</a></div> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i7-1 "> 
                 <a href="http://tedabio.nankai.edu.cn/" title="生物技术研究院" target="_blank"><span class="item-name">生物技术研究院</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i7-2 "> 
                 <a href="http://iap.nankai.edu.cn/" title="应用物理研究院" target="_blank"><span class="item-name">应用物理研究院</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i7-3 "> 
                 <a href="http://202.113.31.179/wdz/" title="微电子研究所" target="_blank"><span class="item-name">微电子研究所</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i7-4 "> 
                 <a href="http://www.nkbinhai.com.cn/" title="滨海开发研究院" target="_blank"><span class="item-name">滨海开发研究院</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
</div> 
</td>
										</tr>
									</table></td> 
<td> 

									<table border="0" cellpadding="0" cellspacing="0" width="100%"  >
										<tr>
											<td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="nav"><a href="/1603/list.htm" title="学生工作" class="nav" target="_self">学生工作</a></div> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i8-1 "> 
                 <a href="/1604/list.htm" title="学生党建" target="_self"><span class="item-name">学生党建</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i8-2 "> 
                 <a href="/1605/list.htm" title="团学组织" target="_self"><span class="item-name">团学组织</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i8-3 "> 
                 <a href="/1606/list.htm" title="学生事务" target="_self"><span class="item-name">学生事务</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i8-4 "> 
                 <a href="/1607/list.htm" title="学生活动" target="_self"><span class="item-name">学生活动</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i8-5 "> 
                 <a href="/1608/list.htm" title="新校风刊" target="_self"><span class="item-name">新校风刊</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
</div> 
</td>
										</tr>
									</table></td> 
<td> 

									<table border="0" cellpadding="0" cellspacing="0" width="100%"  >
										<tr>
											<td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="nav"><a href="/1609/list.htm" title="招生就业" class="nav" target="_self">招生就业</a></div> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i9-1 "> 
                 <a href="/1610/list.htm" title="本科招生" target="_self"><span class="item-name">本科招生</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i9-2 "> 
                 <a href="/1611/list.htm" title="硕博招生" target="_self"><span class="item-name">硕博招生</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i9-3 "> 
                 <a href="/1613/list.htm" title="自主招生" target="_self"><span class="item-name">自主招生</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i9-4 "> 
                 <a href="http://tedabio.nankai.edu.cn/a3/52/c4643a41810/page.htm" title="夏令营" target="_self"><span class="item-name">夏令营</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i9-5 "> 
                 <a href="http://202.113.31.240/system/index/index.php?xl=1" title="远程教育" target="_self"><span class="item-name">远程教育</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i9-6 "> 
                 <a href="http://202.113.31.179/nku/" title="中英合作" target="_self"><span class="item-name">中英合作</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i9-7 "> 
                 <a href="/1620/list.htm" title="研究生进修班" target="_self"><span class="item-name">研究生进修班</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i9-8 "> 
                 <a href="http://career.nankai.edu.cn/" title="就业信息" target="_self"><span class="item-name">就业信息</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
</div> 
</td>
										</tr>
									</table></td> 
<td> 

									<table border="0" cellpadding="0" cellspacing="0" width="100%"  >
										<tr>
											<td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="nav"><a href="/1629/list.htm" title="服务指南" class="nav" target="_self">服务指南</a></div> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i10-1 "> 
                 <a href="/1632/list.htm" title="文表下载" target="_self"><span class="item-name">文表下载</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i10-2 "> 
                 <a href="/1647/list.htm" title="后勤服务" target="_self"><span class="item-name">后勤服务</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
</div> 
</td>
										</tr>
									</table></td> 
<td> 

									<table border="0" cellpadding="0" cellspacing="0" width="100%"  >
										<tr>
											<td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="nav"><a href="/1691/list.htm" title="文献中心" class="nav" target="_self">文献中心</a></div> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i11-1 "> 
                 <a href="/1692/list.htm" title="中心简介" target="_self"><span class="item-name">中心简介</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i11-2 "> 
                 <a href="/1693/list.htm" title="开放时间" target="_self"><span class="item-name">开放时间</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i11-3 "> 
                 <a href="/1694/list.htm" title="读者须知" target="_self"><span class="item-name">读者须知</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i11-4 "> 
                 <a href="/1695/list.htm" title="服务部门" target="_self"><span class="item-name">服务部门</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i11-5 "> 
                 <a href="http://10.10.2.3:8080/opac/search.php" title="书目检索" target="_blank"><span class="item-name">书目检索</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i11-6 "> 
                 <a href="http://www.lib.nankai.edu.cn/" title="校数据库" target="_blank"><span class="item-name">校数据库</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i11-7 "> 
                 <a href="/1699/list.htm" title="找书指南" target="_self"><span class="item-name">找书指南</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
</div> 
</td>
										</tr>
									</table></td> 
<td> 

									<table border="0" cellpadding="0" cellspacing="0" width="100%"  >
										<tr>
											<td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="nav"><a href="/1700/list.htm" title="校友之窗" class="nav" target="_self">校友之窗</a></div> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i12-1 "> 
                 <a href="/1701/list.htm" title="校友名录" target="_self"><span class="item-name">校友名录</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i12-2 "> 
                 <a href="/1702/list.htm" title="校友活动" target="_self"><span class="item-name">校友活动</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i12-3 "> 
                 <a href="/1703/list.htm" title="校友信息" target="_self"><span class="item-name">校友信息</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i12-4 "> 
                 <a href="/1704/list.htm" title="教师风采" target="_self"><span class="item-name">教师风采</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
</div> 
</td>
										</tr>
									</table></td> 
<td> 

									<table border="0" cellpadding="0" cellspacing="0" width="100%"  >
										<tr>
											<td> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class="nav"><a href="http://teda.nankai.edu.cn/en" title="ENGLISH" class="nav" target="_self">ENGLISH</a></div> 
          
</div> 
</td>
										</tr>
									</table></td> 
</tr> 
</table>
							</div>
						</div>

					</div></td>
				</tr>
				<tr>
					<td valign="top"><!-- 以后用 Flash 替换 mainpic  -->
					<div class="none">

						<div frag="面板9">
							<div frag="窗口9">
								                                <!-- JSON列表 -->
<script language="JavaScript" class="" >
    var w9imgJsons = [
    
        
            {
            "src": "/_upload/article/images/32/4e/8f6060ef4a9d88782b9d40313dd1/3b1da590-d01f-4a7d-b73d-9c85aae04161.jpg",
            "original": "/_upload/article/images/32/4e/8f6060ef4a9d88782b9d40313dd1/3b1da590-d01f-4a7d-b73d-9c85aae04161.jpg",
            "title": "泰达学院举办“欢乐闹元宵”活动",
            "url": "/_redirect?siteId=37&columnId=1714&articleId=119572"
            },
        
    
        
            {
            "src": "/_upload/article/images/59/a8/7972b78d48ad922a69ab5169e380/5c373407-80d5-48c7-8760-a5678714ce33.jpg",
            "original": "/_upload/article/images/59/a8/7972b78d48ad922a69ab5169e380/5c373407-80d5-48c7-8760-a5678714ce33.jpg",
            "title": "泰达学院领导春节慰问在岗职工",
            "url": "/_redirect?siteId=37&columnId=1714&articleId=119570"
            },
        
    
        
            {
            "src": "/_upload/article/images/32/76/b1d5dd224304bfbbdc5ae7ea1a6c/67ae9455-8458-4cf3-9573-7ba433180e2c.jpg",
            "original": "/_upload/article/images/32/76/b1d5dd224304bfbbdc5ae7ea1a6c/67ae9455-8458-4cf3-9573-7ba433180e2c.jpg",
            "title": "南开大学建校100周年倒计时牌...",
            "url": "/_redirect?siteId=37&columnId=1714&articleId=118041"
            },
        
    
        
            {
            "src": "/_upload/article/images/e4/7b/c977870c49329d4eb7a1d0d59c43/03b43461-1664-4762-a22d-213b094cf3cf.jpg",
            "original": "/_upload/article/images/e4/7b/c977870c49329d4eb7a1d0d59c43/03b43461-1664-4762-a22d-213b094cf3cf.jpg",
            "title": "参观嘉兴红船",
            "url": "/2018/0403/c1714a93235/page.htm"
            },
        
    
        
            {
            "src": "/_upload/article/images/8c/d2/c8e1892e48c8bb9a5ee50f85ffff/88d77810-9b9a-43f6-8375-874bc4df67ac.jpg",
            "original": "/_upload/article/images/8c/d2/c8e1892e48c8bb9a5ee50f85ffff/88d77810-9b9a-43f6-8375-874bc4df67ac.jpg",
            "title": "参观上海一大会址",
            "url": "/2018/0403/c1714a93236/page.htm"
            },
        
    
        
            {
            "src": "/_upload/article/images/3f/91/8e643c2a45869cb00bcb041b2bb4/38df3d00-283d-452a-b181-7c2f6461454b.jpg",
            "original": "/_upload/article/images/3f/91/8e643c2a45869cb00bcb041b2bb4/38df3d00-283d-452a-b181-7c2f6461454b.jpg",
            "title": "泰达学院、软件学院组织师生党员...",
            "url": "/2017/1129/c1714a83567/page.htm"
            }
        
    
    ];
</script>

            
            
							</div>
						</div>

					</div>
					<div class="mainpic" id="slider">
						<script type="text/template">
							<!--LoopBegin-->
							<div class="slides-slide" title="[%title%]" data-slides-Url="[%url%]"><img src="/_upload/tpl/00/22/34/template34/[%src%]"></div>
							<!--LoopEnd-->
							<div class="thumbs_bg">
							<div class="bg_top">
							<div></div>
							</div>
							<div class="bg_wrap">
							<ul class="slides-thumblist">
							<!--LoopBegin-->
							<li class="thumb"><img src="/_upload/tpl/00/22/34/template34/[%src%]" ></li>
							<!--LoopEnd-->
							</ul>
							</div>
							<div class="bg_bottom">
							<div></div>
							</div>
							</div>
						</script>
					</div></td>
				</tr>
				<tr>
					<td bgcolor="#58585B" height="41">
					<div align="center" style="margin:0px;">
						<table border="0" cellpadding="0" cellspacing="0" width="1000" height="100%">
							<tr>
								<td width="450">
								<div class="zhuanti">
									<span frag="面板2"><span frag="窗口2" portletmode="windowTitle" style="display: block; text-align: left;">校园报道</span></span>
								</div></td>
								<td width="6" class="zhuanti_more"><span frag="面板3"><span frag="窗口3" portletmode="windowMore"><span class="more"><a class="more-link" href="/1708/list.htm" title="显示更多"><span class="moretext"><font style='color: #000000;font-family: 宋体;font-size: 10;'>＞</font></span></a></span></span></span></td>
								<td width="450">
								<div class="zhuanti">
									<span frag="面板4"><span frag="窗口4" portletmode="windowTitle" style="display: block; text-align: left;">通知公告</span></span>
								</div></td>
								<td width="6" class="zhuanti_more"><span frag="面板5"><span frag="窗口5" portletmode="windowMore"><span class="more"><a class="more-link" href="/1709/list.htm" title="显示更多"><span class="moretext"><font style='color: #000000;font-family: 宋体;font-size: 10;'>＞</font></span></a></span></span></span></td>
								<td width="323">
								<div class="zhuanti">
									<span frag="面板6"><span frag="窗口6" portletmode="windowTitle" style="display: block; text-align: left;">学院专题</span></span>
								</div></td>
								<td width="6" class="zhuanti_more"><span frag="面板7"><span frag="窗口7" portletmode="windowMore"><!-- No Data --></span></span></td>
								<!--<td width="100">
								<img border="0" src="/_upload/tpl/00/22/34/template34/images/linkstitle.gif" width="100" height="41" />
								</td>-->
								<!--<td width="223"> 　</td>-->
							</tr>
						</table>
					</div></td>
				</tr>
				<tr>
					<td bgcolor="#E7E8E9" height="26"> 　</td>
				</tr>
				<tr>
					<td bgcolor="E7E8E9">
					<table border="0" cellpadding="0" cellspacing="0" width="1000">
						<tr>
							<td width="30" valign="top"></td>
							<td width="322" valign="top"><div align="center">

								<div frag="面板21">
									<div frag="窗口21">
										<div id="wp_news_w21"> 

											<table border="0" cellpadding="0" cellspacing="0" width="100%" height="27">
												<tbody>
													 
<tr>
														<td valign="top"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0124/c1708a119087/page.htm' target='_blank' title='泰达学院、软件学院通过多种形式学习习近平总书记视察南开大学讲话精神'><font style='font-weight:bold;color:#FF0000;'>泰达学院、软件学院通过多种形式学习习近平...</font></a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-01-24</div></td> 
 
</tr> 
</table> 
</td>
													</tr> 
<tr>
														<td valign="top"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0220/c1708a119568/page.htm' target='_blank' title='泰达学院举办“欢乐闹元宵”活动'>泰达学院举办“欢乐闹元宵”活动</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-02-20</div></td> 
 
</tr> 
</table> 
</td>
													</tr> 
<tr>
														<td valign="top"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0220/c1708a119567/page.htm' target='_blank' title='学院领导春节慰问在岗职工'>学院领导春节慰问在岗职工</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-02-20</div></td> 
 
</tr> 
</table> 
</td>
													</tr> 
<tr>
														<td valign="top"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0219/c1708a119536/page.htm' target='_blank' title='迎百年校庆系列学术活动-中国科学院生物物理研究所张立国研究员讲座'>迎百年校庆系列学术活动-中国科学院生物物...</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-02-19</div></td> 
 
</tr> 
</table> 
</td>
													</tr> 
<tr>
														<td valign="top"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0219/c1708a119542/page.htm' target='_blank' title='迎百年校庆系列学术活动-中科院上海生科院植物生理生态研究所杨琛研究员讲座'>迎百年校庆系列学术活动-中科院上海生科院...</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-02-18</div></td> 
 
</tr> 
</table> 
</td>
													</tr> 
<tr>
														<td valign="top"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0108/c1708a118037/page.htm' target='_blank' title='南开大学建校100周年倒计时牌在各校区设立'><font style='font-weight:bold;'>南开大学建校100周年倒计时牌在各校区设立</font></a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-01-08</div></td> 
 
</tr> 
</table> 
</td>
													</tr> 
<tr>
														<td valign="top"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2018/1120/c1708a114074/page.htm' target='_blank' title='泰达学院、软件学院召开全国教育大会精神宣讲会'><font style='color:#000000;'>泰达学院、软件学院召开全国教育大会精神宣...</font></a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2018-11-20</div></td> 
 
</tr> 
</table> 
</td>
													</tr> 
<tr>
														<td valign="top"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2018/1120/c1708a114073/page.htm' target='_blank' title='泰达学院、软件学院邀请专家做全国教育大会精神专题学习培训'><font style='color:#000000;'>泰达学院、软件学院邀请专家做全国教育大会...</font></a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2018-11-20</div></td> 
 
</tr> 
</table> 
</td>
													</tr> 
<tr>
														<td valign="top"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2018/1102/c1708a112557/page.htm' target='_blank' title='曹雪涛调研泰达学院'><font style='color:#FF0000;'>曹雪涛调研泰达学院</font></a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2018-11-02</div></td> 
 
</tr> 
</table> 
</td>
													</tr> 

												</tbody>
											</table></div> 

									</div>
								</div>

							</div></td>
							<td width="20" >&nbsp;</td>
							<td width="345" valign="top"><div frag="面板22">
								<div frag="窗口22">
									<div id="wp_news_w22"> 

										<table border="0" cellpadding="0" cellspacing="0" width="100%" height="27">
											<tbody>
												 
<tr>
													<td valign="top"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2017/0925/c1709a73966/page.htm' target='_blank' title='泰达学院通勤班车运行时间表'><font style='color:#000000;'>泰达学院通勤班车运行时间表</font></a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-02-17</div></td> 
 
</tr> 
</table> 
</td>
												</tr> 
<tr>
													<td valign="top"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/_redirect?siteId=37&columnId=1709&articleId=119399' target='_blank' title='关于调整泰达与八里台校区中午时段通勤班车时刻的通知'><font style='font-weight:bold;color:#FF0000;'>关于调整泰达与八里台校区中午时段通勤班车...</font></a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-02-17</div></td> 
 
</tr> 
</table> 
</td>
												</tr> 
<tr>
													<td valign="top"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/_redirect?siteId=37&columnId=1709&articleId=119389' target='_blank' title='新学期泰达至津南校区通勤班车更新通知'>新学期泰达至津南校区通勤班车更新通知</a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-02-16</div></td> 
 
</tr> 
</table> 
</td>
												</tr> 
<tr>
													<td valign="top"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2019/0107/c1709a117960/page.htm' target='_blank' title='关于2018年度学院领导班子民主生活会征求意见的通知'><font style='font-weight:bold;color:#0F0F0F;'>关于2018年度学院领导班子民主生活会征求意...</font></a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2019-01-07</div></td> 
 
</tr> 
</table> 
</td>
												</tr> 
<tr>
													<td valign="top"> 
<table width="100%" cellpadding="0" cellspacing="0" border="0"> 
<tr> 
<td align="left"><a href='/2014/0612/c1709a8727/page.htm' target='_blank' title='泰达学院会议室使用动态'><font style='color:#000000;'>泰达学院会议室使用动态</font></a></td> 
 
<td align="left" width="30px"><div style="white-space:nowrap">2014-07-10</div></td> 
 
</tr> 
</table> 
</td>
												</tr> 

											</tbody>
										</table></div> 

								</div>
							</div></td>
							<td width="20" >&nbsp;</td>
							<td width="235" valign="top">
							<div frag="面板23">
								<div frag="窗口23">
									<table width="100%" border="0" cellspacing="0" cellpadding="0" class="wp_nav" data-nav-config="{vertical: {active: '1', col: '1' }, drop_v: 'down', drop_w: 'right', dir: 'y', opacity_main: '-1', opacity_sub: '-1', dWidth: '0'}"> 
<tr> 
<td> 

										<table border="0" cellpadding="0" cellspacing="0" width="100%" height="27">
											<tr>
												<td valign="top"> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class=""><a href="/dzbhdzt/list.htm" title="党支部活动专题" class="" target="_self">党支部活动专题</a></div> 
          
</div> 
</td>
											</tr>
										</table></td> 
</tr> 
<tr> 
<td> 

										<table border="0" cellpadding="0" cellspacing="0" width="100%" height="27">
											<tr>
												<td valign="top"> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class=""><a href="/bmzt/list.htm" title="保密专题" class="" target="_self">保密专题</a></div> 
          
</div> 
</td>
											</tr>
										</table></td> 
</tr> 
<tr> 
<td> 

										<table border="0" cellpadding="0" cellspacing="0" width="100%" height="27">
											<tr>
												<td valign="top"> 
 <div class="nav-item"> 
 <div style="white-space:nowrap" class=""><a href="/tdxyynkdxbnxqzt/list.htm" title="泰达学院迎南开大学百年校庆专题" class="" target="_self">泰达学院迎南开大学百年校庆专题</a></div> 
          
</div> 
</td>
											</tr>
										</table></td> 
</tr> 
</table>
								</div>
							</div></td>
							<!--<td width="258" valign="top">
							<div frag="面板24">
								<div frag="窗口24">
									<div frag="窗口内容">
										
										<table border="0" cellpadding="0" cellspacing="0" width="100%" height="27">
											<tr>
												<td valign="top">(频道)</td>
											</tr>
										</table>
									</div>
								</div>
							</div>--><!-- 图片链接
							<img border="0" src="/_upload/tpl/00/22/34/template34/images/links.gif" width="252" height="159">
							</td>-->
						</tr>
					</table></td>
				</tr>
				<tr>
					<td bgcolor="#E7E8E9" height="34"> 　</td>
				</tr>
				<tr>
					<td bgcolor="#898888" height="69">
					<p style="line-height: 130%; text-align:center;">
						<span style="font-size: 12px;color:#FFFFFF"> 　　　　　　天津经济开发区宏达街23号　　南开大学泰达学院　　300457　　电话：86-22-66229398　　Email：tedacollege@nankai.edu.cn
							<br />
							南开大学泰达学院版权所有　　津教备0061号 津ICP备12003308号-1</span>
					</p></td>
				</tr>
			</table>
		</div><div id=ipv6_enabled_www_test_logo></div>
<script language="JavaScript" type="text/javascript">
            var Ipv6_Js_Server = (("https:" == document.location.protocol) ? "https://" : "http://");
        document.write(unescape("%3Cscript src='" + Ipv6_Js_Server + "www.ipv6forum.com/ipv6_enabled/sa/SA1.php?id=5740' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
	<script type="text/javascript">
		$(function() {
			$("#weixin").zoombox();
			$("#slider").sudyTpl({
				p : 9,
				callback : function(element) {
					element.sudyslides({
						width : 1000,
						height : 426,
						start : 1,
						pagination : {
							active : false
						},
						controls : {
							active : true,
							handles : {
								thumb : {
									active : true,
									target : ".thumb"
								}
							}
						},
						callback : {
							loaded : function(index, element) {
								var len = element.find(".slides-slide").size();
								if (len > 4) {
									$(".bg_wrap", element).css({
										height : "318px"
									});
									$(".slides-thumblist", element).css({
										"position" : "absolute",
										"top" : 0
									});
									$(".navigation-handle", element).show();
									var top = index > 3 ? (3 - index) : 0;
									top = index == len ? top + 1 : top;
									$(".slides-thumblist", element).stop().animate({
										top : top * 82
									}, 350);
								}
							},
							begin : function(current, index, element) {
								var len = element.find(".slides-slide").size();
								if (len > 4) {
									var top = index > 2 ? (2 - index) : 0;
									top = index == len - 1 ? top + 1 : top;
									$(".slides-thumblist", element).stop().animate({
										top : top * 82
									}, 350);
								}
							}
						}
					});
				}
			});
		});
	</script>
</html>
 <image src="/_visitcount?siteId=37&type=1&columnId=1465" style="display:none" width="0" height="0"></image>