<base href="http://www.riyan.nankai.edu.cn/">
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <title>首页</title>
    <meta name="keywords" content="南开大学日本研究中心"/>
    <meta name="description" content="南开大学日本研究中心"/>
    <script type="text/javascript">
        var url = "/mainAction.do";
    	window.location.href = url;
    </script>
</head>
<body>
</body>
</html>