<base href="http://jwc.nankai.edu.cn/12/list.htm"><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>教学改革</title>

<link type="text/css" href="/_css/_system/system.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/1/style/6/6.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/00/0a/10/style/38/38.css" rel="stylesheet"/>
<link type="text/css" href="/_js/_portletPlugs/simpleNews/css/simplenews.css" rel="stylesheet" />
<link type="text/css" href="/_js/_portletPlugs/sudyNavi/css/sudyNav.css" rel="stylesheet" />
<link type="text/css" href="/_js/_portletPlugs/datepicker/css/datepicker.css" rel="stylesheet" />

<script language="javascript" src="/_js/sudy-jquery-autoload.js" jquery-src="/_js/jquery-1.x.min.js" sudy-wp-context="" sudy-wp-siteId="10"></script>
<script language="javascript" src="/_js/jquery-migrate.min.js"></script>
<script language="javascript" src="/_js/jquery.sudy.wp.visitcount.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/sudyNavi/jquery.sudyNav.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/datepicker/js/jquery.datepicker.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/datepicker/js/datepicker_lang_HK.js"></script>
<link rel="stylesheet" href="/_upload/tpl/00/01/1/template1/style.css" type="text/css" media="all" />
</head>

<body>
<div class="wrapper" id="header">
	<div class="inner">
  	<div class="head" frag="面板1">
    	<div class="ss" frag="窗口1">
      	<form method="POST" action="/_web/search/doSearch.do?locale=zh_CN&request_locale=zh_CN&_p=YXM9MTAmdD0xJmQ9MiZwPTImZj05Jm09U04mfGJubkNvbHVtblZpcnR1YWxOYW1lPTkm" target="_blank" onsubmit="if ($('#keyword').val() === '请输入关键字') { $('#keyword').val(''); }">
    <div class="wp_search">
        <table>
            <tr>
                <td height="25px" class="sousuo">
                    <input id="keyword" name="keyword" style="width: 150px" class="keyword" type="text" value="请输入关键字" onfocus="if (this.value === '请输入关键字') { this.value = ''; }" onblur="if (this.value === '') { this.value = '请输入关键字'; }" />
                </td>
                <td>
                    <input name="btnsearch" class="search" type="submit" value=""/>
                </td>
            </tr>
        </table>
    </div>
</form>
    	</div>
    </div>
    <div class="navbar" frag="面板2">
    	<div class="navbox" frag="窗口2">
      	<div id="wp_nav_w2"> 

 
<ul class="wp_nav" data-nav-config="{drop_v: 'down', drop_w: 'right', dir: 'y', opacity_main: '-1', opacity_sub: '-1', dWidth: '0'}">
      
     <li class="nav-item i1 "> 
         <a href="http://jwc.nankai.edu.cn/main.htm" title="首页" target="_self"><span class="item-name">首页</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i2 "> 
         <a href="/11/list.htm" title="机构设置" target="_self"><span class="item-name">机构设置</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i2-1 "> 
                 <a href="/56/list.htm" title="教务处简介" target="_self"><span class="item-name">教务处简介</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i2-2 "> 
                 <a href="/57/list.htm" title="现任领导" target="_self"><span class="item-name">现任领导</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i2-3 "> 
                 <a href="/58/list.htm" title="部门设置" target="_self"><span class="item-name">部门设置</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i3 "> 
         <a href="/12/list.htm" title="教学研究" target="_self"><span class="item-name">教学研究</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i3-1 "> 
                 <a href="/2409/list.htm" title="教学改革" target="_self"><span class="item-name">教学改革</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-2 "> 
                 <a href="/2411/list.htm" title="教学成果奖" target="_self"><span class="item-name">教学成果奖</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-3 "> 
                 <a href="/2412/list.htm" title="课程建设" target="_self"><span class="item-name">课程建设</span></a><i class="mark"></i> 
                  
         <ul class="sub-nav"> 
              
             <li class="nav-item i3-3-1 "> 
                 <a href="/zydlk/list.htm" title="校级本科专业导论课" target="_self"><span class="item-name">校级本科专业...</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-3-2 "> 
                 <a href="/jpk/list.htm" title="精品课" target="_self"><span class="item-name">精品课</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-3-3 "> 
                 <a href="/jpspgkk/list.htm" title="精品视频公开课" target="_self"><span class="item-name">精品视频公开...</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-3-4 "> 
                 <a href="/jpzygxk/list.htm" title="精品资源共享课" target="_self"><span class="item-name">精品资源共享...</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-3-5 "> 
                 <a href="/wwwws/list.htm" title="MOOCs" target="_self"><span class="item-name">MOOCs</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
             </li> 
              
             <li class="nav-item i3-4 "> 
                 <a href="/2410/list.htm" title="专业建设" target="_self"><span class="item-name">专业建设</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-5 "> 
                 <a href="/jxms/list.htm" title="教学名师和团队" target="_self"><span class="item-name">教学名师和团...</span></a><i class="mark"></i> 
                  
         <ul class="sub-nav"> 
              
             <li class="nav-item i3-5-1 "> 
                 <a href="/jxms_5091/list.htm" title="教学名师" target="_self"><span class="item-name">教学名师</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-5-2 "> 
                 <a href="/jxtd/list.htm" title="教学团队" target="_self"><span class="item-name">教学团队</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
             </li> 
              
             <li class="nav-item i3-6 "> 
                 <a href="/tjmsyjs_5099/list.htm" title="推荐免试研究生" target="_self"><span class="item-name">推荐免试研究...</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-7 "> 
                 <a href="/jcxkrcpy/list.htm" title="交叉学科人才培养" target="_self"><span class="item-name">交叉学科人才...</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-8 "> 
                 <a href="/wlkt/list.htm" title="魅力课堂" target="_self"><span class="item-name">魅力课堂</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-9 "> 
                 <a href="/jcjs/list.htm" title="教材建设" target="_self"><span class="item-name">教材建设</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-10 "> 
                 <a href="/cybg_5222/list.htm" title="常用表格" target="_self"><span class="item-name">常用表格</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i4 "> 
         <a href="/13/list.htm" title="教学管理" target="_self"><span class="item-name">教学管理</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i4-1 "> 
                 <a href="/63/list.htm" title="全国大学生外语四六级考试" target="_self"><span class="item-name">全国大学生外...</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i4-2 "> 
                 <a href="/65/list.htm" title="英语口语考试" target="_self"><span class="item-name">英语口语考试</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i4-3 "> 
                 <a href="/2427/list.htm" title="学生选课" target="_self"><span class="item-name">学生选课</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i4-4 "> 
                 <a href="/2428/list.htm" title="教室管理" target="_self"><span class="item-name">教室管理</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i4-5 "> 
                 <a href="/2429/list.htm" title="学生成绩管理" target="_self"><span class="item-name">学生成绩管理</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i4-6 "> 
                 <a href="/cybg_7787/list.htm" title="常用表格" target="_self"><span class="item-name">常用表格</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i5 "> 
         <a href="/14/list.htm" title="学籍学位" target="_self"><span class="item-name">学籍学位</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i5-1 "> 
                 <a href="/2422/list.htm" title="学籍管理" target="_self"><span class="item-name">学籍管理</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i5-2 "> 
                 <a href="/2426/list.htm" title="学生证件办理" target="_self"><span class="item-name">学生证件办理</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i5-3 "> 
                 <a href="/cybg/list.htm" title="常用表格" target="_self"><span class="item-name">常用表格</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i5-4 "> 
                 <a href="/xz/list.htm" title="学则" target="_self"><span class="item-name">学则</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i5-5 "> 
                 <a href="/xl/list.htm" title="校历" target="_self"><span class="item-name">校历</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i6 "> 
         <a href="/15/list.htm" title="实践教学" target="_self"><span class="item-name">实践教学</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i6-1 "> 
                 <a href="/2416/list.htm" title="实践教学" target="_self"><span class="item-name">实践教学</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i6-2 "> 
                 <a href="/2417/list.htm" title="创新科研项目" target="_self"><span class="item-name">创新科研项目</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i6-3 "> 
                 <a href="/2418/list.htm" title="竞赛管理" target="_self"><span class="item-name">竞赛管理</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i6-4 "> 
                 <a href="/cybg_5517/list.htm" title="常用表格" target="_self"><span class="item-name">常用表格</span></a><i class="mark"></i> 
                  
         <ul class="sub-nav"> 
              
             <li class="nav-item i6-4-1 "> 
                 <a href="/jtcl/list.htm" title="创新训练项目结题" target="_self"><span class="item-name">创新训练项目...</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i6-4-2 "> 
                 <a href="/cyxlxmjt/list.htm" title="创业训练项目结题" target="_self"><span class="item-name">创业训练项目...</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
             </li> 
              
             <li class="nav-item i6-5 "> 
                 <a href="/bylwwsjw/list.htm" title="毕业论文（设计）" target="_self"><span class="item-name">毕业论文（设...</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i7 "> 
         <a href="/8986/list.htm" title="对外交流" target="_self"><span class="item-name">对外交流</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i7-1 "> 
                 <a href="/8989/list.htm" title="交流项目" target="_self"><span class="item-name">交流项目</span></a><i class="mark"></i> 
                  
         <ul class="sub-nav"> 
              
             <li class="nav-item i7-1-1 "> 
                 <a href="/8994/list.htm" title="本科教学交流项目" target="_self"><span class="item-name">本科教学交流...</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i7-1-2 "> 
                 <a href="/8995/list.htm" title="境外项目" target="_self"><span class="item-name">境外项目</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i7-1-3 "> 
                 <a href="/8996/list.htm" title="境内项目" target="_self"><span class="item-name">境内项目</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
             </li> 
              
             <li class="nav-item i7-2 "> 
                 <a href="/8990/list.htm" title="国际化课程" target="_self"><span class="item-name">国际化课程</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i7-3 "> 
                 <a href="/8991/list.htm" title="出国成绩证明" target="_self"><span class="item-name">出国成绩证明</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i7-4 "> 
                 <a href="/8992/list.htm" title="进修访学" target="_self"><span class="item-name">进修访学</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i7-5 "> 
                 <a href="/8993/list.htm" title="服务指南" target="_self"><span class="item-name">服务指南</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i8 "> 
         <a href="/16/list.htm" title="教学质量评估" target="_self"><span class="item-name">教学质量评估</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i8-1 "> 
                 <a href="/jxfx_5363/list.htm" title="进修访学" target="_self"><span class="item-name">进修访学</span></a><i class="mark"></i> 
                  
         <ul class="sub-nav"> 
              
             <li class="nav-item i8-1-1 "> 
                 <a href="/cybg_5364/list.htm" title="常用表格" target="_self"><span class="item-name">常用表格</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
             </li> 
              
             <li class="nav-item i8-2 "> 
                 <a href="/wjtz/list.htm" title="文件通知" target="_self"><span class="item-name">文件通知</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i8-3 "> 
                 <a href="/qmks/list.htm" title="考试与成绩管理" target="_self"><span class="item-name">考试与成绩管...</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i8-4 "> 
                 <a href="/tkpk/list.htm" title="听课评课" target="_self"><span class="item-name">听课评课</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i9 "> 
         <a href="/gzzd_5005/list.htm" title="规章制度" target="_self"><span class="item-name">规章制度</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i9-1 "> 
                 <a href="/tjmsyjs/list.htm" title="推荐免试研究生" target="_self"><span class="item-name">推荐免试研究...</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i9-2 "> 
                 <a href="/bkzypyfa/list.htm" title="本科专业培养方案" target="_self"><span class="item-name">本科专业培养...</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i10 "> 
         <a href="/cylj/list.htm" title="常用链接" target="_self"><span class="item-name">常用链接</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i10-1 "> 
                 <a href="http://www.nankai.edu.cn/" title="南开大学" target="_blank"><span class="item-name">南开大学</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i10-2 "> 
                 <a href="http://222.30.60.9" title="教育在线" target="_blank"><span class="item-name">教育在线</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i10-3 "> 
                 <a href="http://eamis.nankai.edu.cn" title="教学管理信息系统" target="_blank"><span class="item-name">教学管理信息...</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i10-4 "> 
                 <a href="http://222.30.49.10/" title="学生服务系统" target="_blank"><span class="item-name">学生服务系统</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i10-5 "> 
                 <a href="http://www.icourse163.org/" title="中国大学MOOC" target="_blank"><span class="item-name">中国大学MOOC</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i10-6 "> 
                 <a href="http://nankai.zhihuishu.com/" title="智慧树MOOC平台" target="_blank"><span class="item-name">智慧树MOOC平...</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i10-7 "> 
                 <a href="http://www.chsi.com.cn/" title="学信网" target="_blank"><span class="item-name">学信网</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
</ul> 
 
 
 </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper" id="container">
	<div class="inner">
  	<div class="col_menu">
    	<div class="col_menu_head" frag="面板3">
      	<h3 class="col_name" frag="窗口3" portletmode="simpleColumnAnchor">
        	<span class="col_name_text">
          	<span class='Column_Anchor'>教学研究</span>
          </span>
        </h3>
      </div>
      <div class="col_menu_con" frag="面板4">
      	<div class="col_list" frag="窗口4" portletmode="simpleColumnList">
        	<div id="wp_listcolumn_w4"> 

 
<ul class="wp_listcolumn"> 
      
     <li class="wp_column column-1 selected"> 
         <a href="/2409/list.htm" title="教学改革" class="selected" target="_self"><span class="column-name">教学改革</span></a> 
          
     </li> 
      
     <li class="wp_column column-2 "> 
         <a href="/2411/list.htm" title="教学成果奖" class="" target="_self"><span class="column-name">教学成果奖</span></a> 
          
     </li> 
      
     <li class="wp_column column-3 "> 
         <a href="/2412/list.htm" title="课程建设" class="" target="_self"><span class="column-name">课程建设</span></a> 
          
     </li> 
      
     <li class="wp_column column-4 "> 
         <a href="/2410/list.htm" title="专业建设" class="" target="_self"><span class="column-name">专业建设</span></a> 
          
     </li> 
      
     <li class="wp_column column-5 "> 
         <a href="/jxms/list.htm" title="教学名师和团队" class="" target="_self"><span class="column-name">教学名师和团队</span></a> 
          
     </li> 
      
     <li class="wp_column column-6 "> 
         <a href="/tjmsyjs_5099/list.htm" title="推荐免试研究生" class="" target="_self"><span class="column-name">推荐免试研究生</span></a> 
          
     </li> 
      
     <li class="wp_column column-7 "> 
         <a href="/jcxkrcpy/list.htm" title="交叉学科人才培养" class="" target="_self"><span class="column-name">交叉学科人才培养</span></a> 
          
     </li> 
      
     <li class="wp_column column-8 "> 
         <a href="/wlkt/list.htm" title="魅力课堂" class="" target="_self"><span class="column-name">魅力课堂</span></a> 
          
     </li> 
      
     <li class="wp_column column-9 "> 
         <a href="/jcjs/list.htm" title="教材建设" class="" target="_self"><span class="column-name">教材建设</span></a> 
          
     </li> 
      
     <li class="wp_column column-10 "> 
         <a href="/cybg_5222/list.htm" title="常用表格" class="" target="_self"><span class="column-name">常用表格</span></a> 
          
     </li> 
      
</ul> 
 
 
 </div>
        </div>
      </div>
    </div>
    <div class="col_news">
    	<div class="col_news_head" frag="面板5">
      	<ul class="col_metas clearfix" frag="窗口5" portletmode="simpleColumnAttri">
         
        	<li class="col_title"><h2>教学改革</h2></li>
          <li class="col_path"><span class="path_name">当前位置：</span><a href="/main.htm" target="_self">首页</a><span class='possplit'>&nbsp;&nbsp;</span><a href="/12/list.htm" target="_self">教学研究</a><span class='possplit'>&nbsp;&nbsp;</span><a href="/2409/list.htm" target="_self">教学改革</a></li>
         
        </ul>
      </div>
      <div class="col_news_con" frag="面板6">
      	<div class="col_news_list" frag="窗口6" portletmode="simpleList">
          <div id="wp_news_w6"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='/2017/0619/c2409a68477/page.htm' target='_blank' title='关于转发《市教委关于启动天津市高等学校本科教学质量与教学改革研究计划项目立项申报工作的通知》的通知'>关于转发《市教委关于启动天津市高等学校本科教学质量与教学改革研究计划项目立项申报...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2017-06-19</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i2"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>2</span> 
             <span class='Article_Title'><a href='/2016/0531/c2409a42770/page.htm' target='_blank' title='南开大学2015年校级教学改革立项项目名单'>南开大学2015年校级教学改革立项项目名单</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2016-05-31</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i3"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>3</span> 
             <span class='Article_Title'><a href='/2016/0531/c2409a42749/page.htm' target='_blank' title='南开大学2014年校级教学改革立项项目'>南开大学2014年校级教学改革立项项目</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2016-05-31</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i4"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>4</span> 
             <span class='Article_Title'><a href='/2016/0531/c2409a42743/page.htm' target='_blank' title='南开大学2013年天津市级教学改革立项项目'>南开大学2013年天津市级教学改革立项项目</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2016-05-31</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i5"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>5</span> 
             <span class='Article_Title'><a href='/2016/0531/c2409a42741/page.htm' target='_blank' title='南开大学2012年本科教育教学改革结题及优秀项目名单'>南开大学2012年本科教育教学改革结题及优秀项目名单</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2016-05-31</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i6"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>6</span> 
             <span class='Article_Title'><a href='/2016/0531/c2409a42737/page.htm' target='_blank' title='南开大学2012年天津市级教学改革立项项目'>南开大学2012年天津市级教学改革立项项目</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2016-05-31</span> 
              
         </div> 
     </li> 
      
</ul> 
</div> 

 <div id="wp_paging_w6"> 
<ul class="wp_paging clearfix"> 
     <li class="pages_count"> 
         <span class="per_page">每页&nbsp;<em class="per_count">14</em>&nbsp;记录&nbsp;</span> 
         <span class="all_count">总共&nbsp;<em class="all_count">6</em>&nbsp;记录&nbsp;</span> 
     </li> 
     <li class="page_nav"> 
         <a class="first" href="javascript:void(0);" target="_self"><span>第一页</span></a> 
         <a class="prev" href="javascript:void(0);" target="_self"><span>&lt;&lt;上一页</span></a> 
         <a class="next" href="javascript:void(0);" target="_self"><span>下一页&gt;&gt;</span></a> 
         <a class="last" href="javascript:void(0);" target="_self"><span>尾页</span></a> 
     </li> 
     <li class="page_jump"> 
         <span class="pages">页码&nbsp;<em class="curr_page">1</em>/<em class="all_pages">1</em></span> 
         <span><input class="pageNum" type="text" /><input type="hidden" class="currPageURL" value=""></span></span> 
         <span><a class="pagingJump" href="javascript:void(0);" target="_self">跳转到&nbsp;</a></span> 
     </li> 
</ul> 
</div> 
<script type="text/javascript"> 
     $().ready(function() { 
         $("#wp_paging_w6 .pagingJump").click(function() { 
             var pageNum = $("#wp_paging_w6 .pageNum").val(); 
             if (pageNum === "") { alert('请输入页码！'); return; } 
             if (isNaN(pageNum) || pageNum <= 0 || pageNum > 1) { alert('请输入正确页码！'); return; } 
             var reg = new RegExp("/list", "g"); 
             var url = "/12/list.htm"; 
             window.location.href = url.replace(reg, "/list" + pageNum); 
         }); 
     }); 
</script> 

        </div>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>

<div class="wrapper" id="footer">
  <div class="inner" >
    <div class="foot" >
<p>Copyright © 2016 南开大学教务处</p> 
<p>地址：天津市津南区海河教育园同砚路38号  邮编：300350</p>
    </div>
  </div>
</div>
</body>
</html>
 <image src="/_visitcount?siteId=10&type=2&columnId=12" style="display:none" width="0" height="0"></image>