<base href="http://news.nankai.edu.cn/nkyw/system/2019/02/18/000433314.shtml"><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="">
<meta name="description" content="【书写南开“答卷”】开学首日：奋斗新学期  迎接新百年">


<link href="/2014ceshi/css/style.css" rel="stylesheet" />
<link href="/2014ceshi/css/third.css" rel="stylesheet" />
<link href="http://news.nankai.edu.cn/css/index.css"
	rel="stylesheet" type="text/css">
<title>【书写南开“答卷”】开学首日：奋斗新学期  迎接新百年--南开要闻</title>
</head>

<body>
	<div class="wrap">

		<!-- banner starts -->
		
<!--enorth cms{ new_second_banner }enorth cms-->
<style type="text/css">
.banner {
	position: relative;
	width: 1000px;
	height: 125px;
	background-repeat: no-repeat;
	background-image: url(/2014ceshi/images/banner.png);
	padding-bottom: 5px;
}

.mainmenu {
	position: relative;
	float: left;
	margin-left: 480px;
	margin-top: 95px;
}

.mainmenu a {
	color: #989898;
	text-decoration: none;
}

.mainmenu a:hover {
	color: #4f4f4f;
}

.link {
	position: relative;
	float: left;
	margin: 0 5px;
	font: bold 16px 'Microsoft YaHei';
}

.form {
	position: relative;
	float: left;
	line-height: 12px;
	padding-left: 24px;
	top: -2px;
}

.form input[type="text"] {
	float: left;
	width: 125px;
	height: 12px;
	padding-left: 3px;
	text-indent: 5px;
	border: none;
	border-radius: 1px;
	box-shadow: 0 0 0 2px #ababab;
}

.form input[type="text"]:focus {
	outline: 0 none;
	box-shadow: 0 0 0 2px #7e7e7e;
}
</style>
<body>
	<div class="banner">
		<a href="http://news.nankai.edu.cn/" style="position: absolute;left: 60px;top: 15px;display: block;width: 380px;height: 100px;">&nbsp;</a>
		<div class="mainmenu">
			<div class="link">
				<a href="http://news.nankai.edu.cn/" target="_blank">首页</a>
			</div>
			<div class="link">
				<a href="http://jw.nankai.edu.cn/" target="_blank">觉悟网</a>
			</div>
			<div class="link">
				<a href="http://theory.nankai.edu.cn/" target="_blank">学习网</a>
			</div>
			<div class="link">
				<a
					href="http://news.nankai.edu.cn/xwzt/system/2014/03/06/000168359.shtml"
					target="_blank">大学报</a>
			</div>
			<div class="link">
				<a href="http://news.nankai.edu.cn/xs/" target="_blank">校史网</a>
			</div>
			<div class="link">
				<a href="http://bbs.nankai.edu.cn/" target="_blank">BBS</a>
			</div>
			<div class="form">
				<form method="get" id="searchform" action="#" class="form-search"
					style="padding-top: 7px;" />

				<!--Baidu站内搜索开始-->
				<script language="javascript">
					function baidusearch() {
						var wd = document.getElementsByName("wd")[0].value;
						var link = "http://www.baidu.com/s?si=news.nankai.edu.cn&cl=3&ct=2097152&tn=baidulocal&word="
								+ wd;
						window.open(link);
					}
				</script>
				<input name="wd" type="text" size="10" /> <input type="image"
					onclick="javascript:baidusearch()" src="/2014ceshi/images/find.png"
					alt="搜索"
					style=" width:16px; height:16px;position: relative;
float: left;
padding-left: 8px;" />
				<!--Baidu站内搜索结束-->
				</form>
			</div>
		</div>
	</div>
</body>
<!--enorth cms{ new_second_banner }enorth cms-->

		<!-- banner ends -->

		<!-- content starts -->
		<div class="con-wrap">
			<div class="third-content">

				<div class=" news-position">
<!--function position() parse begin-->
您当前的位置 ：<a href=http://news.nankai.edu.cn/nkyw/>南开要闻</a>&nbsp;正文
<!--function: position() parse end  0ms cost! -->
</div>
				<div class="news--banner">
					<div class="news-title">
						<h2>【书写南开“答卷”】开学首日：奋斗新学期  迎接新百年</h2>
					</div>
					<div class="news-detail">来源：
<!--function source_without_pub_date() parse begin-->
<a href="http://news.nankai.edu.cn/"  target="_blank" >南开新闻网</a>
<!--function: source_without_pub_date() parse end  0ms cost! -->
&nbsp;&nbsp;&nbsp;&nbsp;发稿时间：
<!--function pub_date() parse begin-->
2019-02-18 17:46
<!--function: pub_date() parse end  0ms cost! -->
</div>
				</div>
				<div class=" news-content">
<!--function content() parse begin-->
<p style="text-align: center">文/吴军辉&nbsp; 图/吴军辉 聂际慈 王泽璞 于颖 姜丙骏 张碧航 张宇</p>
<p>&nbsp; &nbsp; &nbsp; 2月18日是新学期第一天，南开校园里秩序井然。1月17日，习近平总书记视察南开大学，并热情寄语师生。总书记的亲切关怀和殷殷嘱托，令全体南开人深受鼓舞、倍感振奋。今年正值南开大学建校100周年，新学期伊始，全校师生牢记总书记嘱托，以饱满的精神状态，全身心投入到工作学习中去，脚踏实地、不懈奋斗，以优异的成绩书写南开&ldquo;答卷&rdquo;，以不服输、敢拼搏的精神面貌迎接崭新百年！</p>
<!--advertisement code begin--><!--advertisement code end--><p><!--eps--><!--epe--></p>
<div align="center">
<div align="center">
<div align="center"><img border="0" height="533" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/34/04/340402_530839.jpg" width="800" /></div>
<div align="center">元素有机化学国家重点实验室的学生正在进行实验。（聂际慈摄）</div>
<div align="center">&nbsp;</div>
<div align="center">
<div align="center"><img border="0" height="524" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/34/03/340388_912097.jpg" width="800" /></div>
<div align="center">津南校区公共教学楼，大学数学课堂上坐满了听课的学生。（吴军辉摄）</div>
</div>
<div align="center">&nbsp;</div>
</div>
<div align="center"><img border="0" height="600" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/34/03/340387_147828.jpg" width="800" /></div>
<div align="center">八里台校区二主楼旁成群结队的学生。（张碧航摄）</div>
<div align="center">&nbsp;</div>
<div align="center">
<div align="center"><img border="0" height="533" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/34/03/340384_285918.jpg" width="800" /></div>
<div align="center">整洁的校园迎接师生返校工作和学习。（姜丙骏摄）</div>
</div>
<div align="center">&nbsp;</div>
<div align="center">
<div align="center"><img border="0" height="524" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/34/03/340396_272899.jpg" width="800" /></div>
<div align="center">网络安全概论的课堂。（吴军辉摄）</div>
</div>
<div align="center">&nbsp;</div>
<div align="center"><img border="0" height="541" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/34/03/340398_988349.jpg" width="800" /></div>
<div align="center">学生在认真听讲。（吴军辉摄）</div>
<div align="center">&nbsp;</div>
<div align="center"><img border="0" height="533" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/34/03/340399_405931.jpg" width="800" /></div>
<div align="center">学生正在认真地记录课堂笔记。（张宇摄）</div>
<div align="center">&nbsp;</div>
<div align="center"><img border="0" height="533" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/34/03/340391_845114.jpg" width="800" /></div>
<div align="center">轻松的课堂氛围，让学生快乐地获取知识。（吴军辉摄）</div>
<div align="center">&nbsp;</div>
<div align="center"><img border="0" height="533" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/34/03/340395_956979.jpg" width="800" /></div>
<div align="center">外籍教师乐小悦正在给学生上课。（王泽璞摄）</div>
<div align="center">&nbsp;</div>
<div align="center"><!--eps-->
<div align="center">
<div align="center"><!--eps-->
<div align="center">
<div align="center"><img border="0" height="556" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/34/04/340405_645122.jpg" width="800" /></div>
</div>
<!--epe--></div>
</div>
<!--epe--></div>
<div align="center">汉语言文化学院2019年春季学期外国留学生报到注册。（于颖摄）</div>
<div align="center">&nbsp;</div>
<div align="center"><img border="0" height="491" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/34/03/340393_134404.jpg" width="800" /></div>
<div align="center">写有&ldquo;吉祥如意、实验顺利&rdquo;字样的创意窗花。（吴军辉摄）</div>
<div align="center">&nbsp;</div>
<div align="center"><span><img border="0" height="522" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/34/04/340401_999937.jpg" width="800" /></span></div>
<div align="center">药物化学生物学国家重点实验室的学生正在整理实验器材。（吴军辉摄）</div>
<div align="center">&nbsp;</div>
<div align="center"><span><img border="0" height="526" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/34/03/340394_761216.jpg" width="800" /></span></div>
<div align="center">实验室门口学生手书的科研主题春联。（吴军辉摄）</div>
<div align="center">&nbsp;</div>
<div align="center"><img border="0" height="541" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/34/03/340392_906455.jpg" width="800" /></div>
<div align="center">人工智能学院野外机器人实验室的学生在调试扑翼机器人。（吴军辉摄）</div>
<div align="center">&nbsp;</div>
<div align="center"><span><img border="0" height="505" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/34/03/340389_837788.jpg" width="800" /></span></div>
<div align="center">津南校区下课的学生。（吴军辉摄）</div>
<div align="center">&nbsp;</div>
<div align="center"><span><img border="0" height="504" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/34/03/340390_006779.jpg" width="800" /></span></div>
<div align="center">津南校区，学生们走向图书馆。（吴军辉摄）</div>
<div align="center">&nbsp;</div>
<div align="center">
<div align="center"><img border="0" height="519" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/34/03/340385_960825.jpg" width="800" /></div>
<div align="center">学校食堂正在供应可口的饭菜。（姜丙骏摄）</div>
<div align="center">&nbsp;</div>
</div>
<div align="center">
<div align="center"><img border="0" height="533" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/34/03/340386_752353.jpg" width="800" /></div>
<div align="center">矗立在校园中的倒计时牌提醒着师生距离建校100周年还有241天。（张碧航摄）</div>
</div>
</div>

<!--function: content() parse end  0ms cost! -->
</div>
				<div class="news-footer">
					<p style="text-align:right">
						<font style="color:#00F; font-size:14px;">编辑：</font>
<!--function init_editor() parse begin-->
吴军辉
<!--function: init_editor() parse end  0ms cost! -->

					</p>
				</div>


			</div>
			<!-- content ends -->


			<!-- footer starts -->
			
<!--enorth cms{ new_footer }enorth cms-->
<style type="text/css">
.footer {
	position: relative;
	float: left;
	width: 940px;
	height: 60px;
	color: #717171;
	font-size: 12px !important;
	font-size: 10px;
	line-height: 14px;
}

.footer-left {
	position: relative;
	float: left;
	padding-left: 35px;
}

.footer-right {
	position: relative;
	float: left;
	padding-left: 25px;
}

.footer p {
	margin: 0 0 10px 0;
}

.footer a {
	text-decoration: none;
	color: #717171;
}

.footer a:hover {
	color: #000;
}
</style>

<body>

<div class="footer">
    <div class="footer-left">
        <p>本网站由南开大学新闻中心设计维护 Copyright@2014 津ICP备12003308号-1</p>
        <p>新闻热线：022-85358737  022-23508464  投稿信箱：nknews@nankai.edu.cn</p>
    </div>
    <div class="footer-right">
        <p><a href="http://www.people.com.cn/" target="_blank">人民网</a>
        <a href="http://www.xinhuanet.com/" target="_blank">新华网</a>
        <a href="http://www.gmw.cn/" target="_blank">光明网</a>      
        <a href="http://www.jyb.cn/" target="_blank">中国教育新闻网</a>
        <a href="http://www.stdaily.com/" target="_blank">中国科技网</a>
 <a href="http://www.youth.cn/" target="_blank">中国青年网</a>
       
        <a href="http://world.chinadaily.com.cn/" target="_blank">中国日报网</a>
 <a href="http://www.chinanews.com/" target="_blank">中新网</a >
   
        <p><a href="http://www.nankai.edu.cn/" target="_blank">南开大学</a>
        <a href="http://nankai.en.school.cucas.cn/" target="_blank">英文资讯</a>
        <a href="http://xxgk.nankai.edu.cn/" target="_blank">信息公开网</a>
        <a href="http://urp.nankai.edu.cn/" target="_blank">信息门户</a>
        <a href="http://nkuaa.nankai.edu.cn/ " target="_blank">校友会</a>
        <a href="http://nkuef.nankai.edu.cn/" target="_blank">基金会</a>
        <a href="http://zsb.nankai.edu.cn/" target="_blank">招生办 </a>
        <a href="http://www.lib.nankai.edu.cn/" target="_blank">图书馆</a>
 <a href="http://xuebao.nankai.edu.cn/noscript/xuebao/" target="_blank">学报编辑部</a></p>
      </div>
</div>
</body>
<!--enorth cms{ new_footer }enorth cms-->

			<!-- footer ends -->
		</div>
	</div>
</body>
</html><!--<page cms="enorth webpublisher"  version="5.0.0 /2011101201" server_name="svctag-f76553x" parse_date="2019-02-28 16:54:49" cost="62" parse_result="0" input_mode="manual"></page>-->