<base href="http://music.nankai.edu.cn/"><html>

<head>
<meta http-equiv="Content-Language" content="zh-cn">
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">

<!--
<meta   http-equiv="expires"   content="0">
<meta   http-equiv="cache-control"   content="no-cache">
<meta   http-equiv="Cache-Control"   content="no-cache, must-revalidate">
<meta   http-equiv="pragma"   content="no-cache">
-->

<title>世外桃源::南开大学音乐网</title>
<link rel="shortcut icon" href="music.ico">
<LINK href="index.css" type=text/css rel=stylesheet>
</head>

<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" bgcolor="#FFFFFF" onmousemove="divMove(event)" onmouseup="if(!isIE){divMouseup();}">


<script language="javascript">

var isIE = document.all && window.external; 

//链接文本高亮
var lastHrefID_a=null;//a序列里上一个高亮的文本所在容器id
function textBgColor(lastHrefID_get,thisHrefID)
{    
    var lastHrefID=eval(lastHrefID_get);
    if(lastHrefID!=null)
    {
        if(lastHrefID==thisHrefID){return;}
        eval(lastHrefID).style.color="";
        eval(lastHrefID).style.backgroundColor="transparent";
    }
    //playWav('select');
    if(thisHrefID!=null)
    {
        eval(thisHrefID).style.color="white";
        eval(thisHrefID).style.backgroundColor="#ba5e47";
        eval(thisHrefID).blur();
    }

    //还有没有更好的办法？？？？？
    if(lastHrefID_get=="lastHrefID_a"){lastHrefID_a=thisHrefID;}
}

//栏目文本高亮
var lastSpanID_title_a="title_a_1";//a_title序列里上一个高亮的文本所在容器id
var lastSpanID_title_b="title_b_1";//b_title...
var lastSpanID_title_c="title_c_1";//c_title...
var lastSpanID_title_d="title_d_2";//d_title...
function textBgColor_title(lastSpanID_get,thisSpanID)
{    
    var lastSpanID=eval(lastSpanID_get);
    if(lastSpanID!=null)
    {
        if(lastSpanID==thisSpanID){return;}
        eval(lastSpanID).style.color="#737373";
    }
    eval(thisSpanID).style.color="black";
    eval(thisSpanID).blur();

    //还有没有更好的办法？？？？？
    if(lastSpanID_get=="lastSpanID_title_a"){lastSpanID_title_a=thisSpanID;}
    else if(lastSpanID_get=="lastSpanID_title_b"){lastSpanID_title_b=thisSpanID;}
    else if(lastSpanID_get=="lastSpanID_title_c"){lastSpanID_title_c=thisSpanID;}
    else if(lastSpanID_get=="lastSpanID_title_d"){lastSpanID_title_d=thisSpanID;}    
}


//层切换
var lastDivID_a="layer_a_1";//a序列里上一个显示的层的id
var lastDivID_b="layer_b_1";//b...
var lastDivID_c="layer_c_1";//c...
var lastDivID_d="layer_d_2";//d...
var lastDivID=null;
var thisDivID=null;
var lastDivLeft=null;
var DivChange_finish=true;
function DivChange_1(lastDivID_get,thisDivID_get,ifMove)
{
    if(!DivChange_finish){return(false);}
    DivChange_finish=false;
    
    lastDivID=eval(lastDivID_get);    
    thisDivID=thisDivID_get;    
    lastDivLeft=parseInt(eval(lastDivID).style.left);
    
    //还有没有更好的办法？？？？？
    if(lastDivID_get=="lastDivID_a"){lastDivID_a=thisDivID;}
    else if(lastDivID_get=="lastDivID_b"){lastDivID_b=thisDivID;}
    else if(lastDivID_get=="lastDivID_c"){lastDivID_c=thisDivID;}
    else if(lastDivID_get=="lastDivID_d"&&lastDivID!=thisDivID_get)
    {
        lastDivID_d=thisDivID;
        document.getElementById(thisDivID+"_I").height=eval(thisDivID+"_I_height"); 
        document.getElementById(lastDivID+"_I").height=80;
    }
    
    if(lastDivID!=null)
    {
        if(lastDivID==thisDivID_get){DivChange_finish=true;return;}
        DivChange_2(6,0,ifMove); 
    }
    playWav('sliding');
    DivChange_3(6,0,ifMove);    
    eval(thisDivID).disabled=false;
    
    return(true);
}
function DivChange_2(i,j,ifMove)
{    
    j+=2;
    if(ifMove)
    {
        if(j<(i/2))
        {
            eval(lastDivID).style.left=lastDivLeft+j;
        }
        else
        {
            eval(lastDivID).style.left=lastDivLeft+i-j;
        }
    }
    if(isIE)
    {
        eval(lastDivID).style.filter="alpha(opacity="+(100-100*j/i)+")";
    }
    else
    {
        eval(lastDivID).style.opacity=1-j/i;
    }
    if(j<i)
    {    
        setTimeout("DivChange_2("+i+","+j+","+ifMove+")", 50);
    }
    else
    {
        eval(lastDivID).style.visibility="hidden";
        eval(lastDivID).disabled=true;
        eval(lastDivID).style.left=lastDivLeft;
    }
}
function DivChange_3(i,j,ifMove)
{
    j+=2;
    if(ifMove)
    {
        if(j<(i/2))
        {
            eval(thisDivID).style.left=lastDivLeft-j;
        }
        else
        {
            eval(thisDivID).style.left=lastDivLeft-i+j;
        }
    }
    if(isIE)
    {
        eval(thisDivID).style.filter="alpha(opacity="+(100*j/i)+")";
    }
    else
    {
        eval(thisDivID).style.opacity=j/i;
    }
    eval(thisDivID).style.visibility="visible";
    if(j<i)
    {    
       setTimeout("DivChange_3("+i+","+j+","+ifMove+")", 50);
    }
    else
    {
        eval(thisDivID).style.left=lastDivLeft;
        DivChange_finish=true;
    }
}


//点击音效
function playWav(type) 
{    
    document.all.sound.src="sound/"+type+".wav";
    setTimeout("document.all.sound.src=null", 400);
}

document.write('<bgsound id="sound">')


//层展开-收缩
function expand(expandLayerID,expandControlID,min,max,mode)
{
   if(parseInt(eval(expandLayerID).style.width)<max&&mode=='auto'||mode=='max')
   {
       eval(expandLayerID).style.width=max;
       eval(expandControlID).src="images/expand2.gif"; 
       eval(expandControlID).title="收缩列表";
       if(mode=='auto'){iframeFit(true,550);}
       else{iframeFit(false,550);}
   }
   else if(mode=='min'||mode=='auto')
   {
       eval(expandLayerID).style.width=min;
       eval(expandControlID).src="images/expand1.gif"; 
       eval(expandControlID).title="展开列表";
       iframeFit(false,550);
   }
}

//艺术家列表自适应
function iframeFit(ifnoscroll,iframeFit_max) //是否没有滚动条,高度
{
    var iframe_id=document.getElementById("layer_b_3_I");
    if (iframe_id && !window.opera)
    {
        iframe_id.style.display="block";
        if (isIE) //如果用户的浏览器是IE
        {
            if(!ifnoscroll)
            {
                iframe_id.height=iframeFit_max;
                iframe_id.scrolling="auto";
            }
            else
            {
                iframe_id.height = iframe_id.Document.body.scrollHeight;
                iframe_id.scrolling="no";

            }
        }
        else //如果用户的浏览器是NetScape
        {
            if(!ifnoscroll)
            {
               iframe_id.height=iframeFit_max;
               iframe_id.scrolling="auto";
            }
            else
            {
                iframe_id.height = iframe_id.contentDocument.body.offsetHeight;
                iframe_id.scrolling="no";
            }
        }
    }
}


layer_d_1_I_height=0;//layer_d_1_I当前的高度的全局变量
layer_d_2_I_height=0;//...
layer_d_3_I_height=0;//...
//iframe最大化适应
function iframeMaxFit(iframeMaxFit_id)
{
    var iframe_id=document.getElementById(iframeMaxFit_id);
    if (iframe_id && !window.opera)
    {
        iframe_id.style.display="block";
        if (isIE) //如果用户的浏览器是IE
        {
                iframe_id.height = iframe_id.Document.body.scrollHeight;
                iframe_id.scrolling="no";
        }
        else //如果用户的浏览器是NetScape
        {		
				//*用于GOOGLE和FF浏览器***
				iframe_id.height=0;
				iframe_id.height = iframe_id.contentDocument.body.offsetHeight;
				iframe_id.height = iframe_id.contentDocument.body.offsetHeight;//不加这句FF认不准最终高度
				//**********************
				//**用于FF浏览器***
				//iframe_id.height = iframe_id.contentDocument.body.offsetHeight;
				//*****************
                iframe_id.scrolling="no";
        }
    }
    
    //把layer_d_?_I的高度赋给全局变量
    if(iframeMaxFit_id.substr(0,7)=="layer_d")
    {
        eval(iframeMaxFit_id+"_height="+iframe_id.height);
    }
}


//显示某人专辑
function showAlbum(artist,ifshowtitles)
{

    if(parseInt(layer_b_3.style.width)>300)
    {
        expand('layer_b_3','expandcontrol2',276,800,'min');
    }    
    
    if(lastDivID_c!="layer_c_3")
    {
        if(DivChange_1('lastDivID_c','layer_c_3',true)){textBgColor_title('lastSpanID_title_c','title_c_3');}
    }
    document.all.layer_c_3_I.src="albumlist.php?artist="+artist+"&ifshowtitles="+ifshowtitles;
    scroll(0,0);
}


//显示某人某专辑下的曲目
function showAlbum_titles(artist,album)
{
    if(artist!="null")
    {
        document.all.layer_d_3_I.src="main.php?iframeID=layer_d_3_I&searchtype=album&artist="+artist+"&searchstring="+album;
    }
    if(lastDivID_c!="layer_d_3")
    {
        if(!DivChange_finish)
        {
            setTimeout("showAlbum_titles('null','null')",300);
        }
        if(DivChange_1('lastDivID_d','layer_d_3',false)){textBgColor_title('lastSpanID_title_d','title_d_3');}
    }
}


//为显示搜索结果而做的切换
var havesearch_0=false;//是否已经进行了搜索的全局变量
var havesearch_1=false;//...
var havesearch_2=false;//...
function ShowForSearch(searchtype)
{
    if(searchtype=="title")
    {
        if(DivChange_1('lastDivID_d','layer_d_3',false)){textBgColor_title('lastSpanID_title_d','title_d_3');}
        havesearch_1=true;title_d_3.style.cursor="pointer";//搜索后，曲目列表就不能被src=='null.htm'限制住而不能点开
        layer_b_3_I.textBgColor('lastHrefID_b',null);
        if(document.all.layer_c_3_I.src!="null.htm"){layer_c_3_I.textBgColor('lastHrefID_c',null);}
    }
    else if(searchtype=="artist")
    {
        if(DivChange_1('lastDivID_b','layer_b_3',false)){textBgColor_title('lastSpanID_title_b','title_b_3');}
        havesearch_0=true;//搜索后，歌手列表就不能被src=='null.htm'限制住而不能点开
        if(document.all.layer_c_3_I.src!="null.htm"){layer_c_3_I.textBgColor('lastHrefID_c',null);}
    }
    if(searchtype=="album")
    {
        if(DivChange_1('lastDivID_c','layer_c_3',false)){textBgColor_title('lastSpanID_title_c','title_c_3');}
        havesearch_2=true;//搜索后，专辑列表就不能被src=='null.htm'限制住而不能点开
        if(document.all.layer_b_3_I.src!="null.htm"){layer_b_3_I.textBgColor('lastHrefID_b',null);}
    }
    textBgColor('lastHrefID_a',null);
}


//刷新所有静态页
function refresh()
{
    document.all.layer_b_1_I.src="buildfiles/announce.htm";
    document.all.layer_b_2_I.src="buildfiles/hotartist.htm";
    document.all.layer_c_1_I.src="buildfiles/heartlist.htm";
    document.all.layer_d_1_I.src="buildfiles/newaudio.htm";
    document.all.layer_d_2_I.src="buildfiles/hotaudio.htm";
}


//执行onload
window.onload = function()
{
    iframeFit(false,550);
    iframeMaxFit('layer_c_1_I');
}



var windowlayerinit=true;//第一次打开层窗口时水平方向居中
//层窗口相关函数
function layer1On(type,content)
{   
    if(getCookie('iflogon')!='Y'&&type=="blessing"){alert("您还未登录，不能进行送歌操作！");return;}
    
    if(windowlayerinit)
    {
        layerwindow.style.left=document.body.clientWidth/2-176;
        windowlayerinit=false;
    }
    layerwindow.style.top=document.body.scrollTop+document.body.clientHeight/2-155;
    layerwindow.style.visibility="visible";
    
    layerwindowcontent.innerHTML="<iframe marginwidth='0' marginheight='0' id='layerwindow_I' name='layerwindow_I' border='0' frameborder='0' src='null.htm' width='100%' height='100%'>浏览器不支持嵌入式框架，或被配置为不显示嵌入式框架。</iframe>";

    var i;
    var i_date=new Date();
    if(type=="lyric")
    {        
        layerwindowtitle.innerHTML="桃源歌词『"+content.split("&")[1].split("=")[1]+"』";
        //document.all.layerwindow_I.src="lyric.php?title="+content.split("&")[1].split("=")[1]+"&lrc="+content.split("&")[0].split("=")[1];
        document.all.layerwindow_I.src="lyric.php?"+content;
    }
    else if(type=="search")
    {
        layerwindowtitle.innerHTML="桃源搜索";
        document.all.layerwindow_I.src="search.htm";
    }
    else if(type=="upload")
    {
        layerwindowtitle.innerHTML="上传歌曲";
        document.all.layerwindow_I.src="upload.htm";
    }
    else if(type=="addlrc")
    {
        layerwindowtitle.innerHTML="添加歌词";        
        document.all.layerwindow_I.src="addlrc.php?"+content+"&time="+i_date.getTime();
    }
    else if(type=="reporterror")
    {
        layerwindowtitle.innerHTML="曲目报错";        
        document.all.layerwindow_I.src="reporterror.php?"+content+"&time="+i_date.getTime();
    }    
    else if(type=="logon")
    {
        layerwindowtitle.innerHTML="欢迎来到『世外桃源』";
        document.all.layerwindow_I.src="logon.htm?time="+i_date.getTime();
    }
    else if(type=="favoritein")
    {
        layerwindowtitle.innerHTML="导入收藏";
        document.all.layerwindow_I.src="favoritein.php";
    }
    else if(type=="request")
    {
        layerwindowtitle.innerHTML="音乐共享设置";
        document.all.layerwindow_I.src="request.php";
    }
    else if(type=="randplay")
    {
        layerwindowtitle.innerHTML="随机点播";
        document.all.layerwindow_I.src="rand.php";
    }
    else if(type=="blessing")
    {
        layerwindowtitle.innerHTML="凭歌寄语";        
        document.all.layerwindow_I.src="blessing.php?"+content+"&time="+i_date.getTime();
    }
	  else if(type=="commend")
    {
        layerwindowtitle.innerHTML="我要推荐";
        document.all.layerwindow_I.src="commend.htm";
    }
    else if(type=="nickname")
    {
        layerwindowtitle.innerHTML="昵称设置";
        document.all.layerwindow_I.src="nickname.php?time="+i_date.getTime();
    }
    
    var layerwindowtitlelength=layerwindowtitle.innerHTML.length;
    for(i=0;i<(27-layerwindowtitlelength);i++)
    {
        layerwindowtitle.innerHTML+="　";
    }    
}

var count=0;
var cleft,ctop,cx,cy;

function divMousedown(e)
{
    //cleft=layerwindow.style.pixelLeft;
    //ctop=layerwindow.style.pixelTop;
    cleft=parseInt(layerwindow.style.left);
    ctop=parseInt(layerwindow.style.top);
    cx=e.clientX;
    cy=e.clientY;
    count=1;
}

function divMove(e)
{
    if(count==1)
    {
        layerwindow.style.left=cleft+e.clientX-cx;
        layerwindow.style.top=ctop+e.clientY-cy;
        if(e.button!=1&&isIE)
        {
            count=0;
        }
    }
}

function divMouseup()
{
    count=0;
}


//读取cookie
function getCookie(Key)
{
    var search = Key + "=";
    begin = document.cookie.indexOf(search);
    if (begin != -1)
    {
        begin += search.length;
        end = document.cookie.indexOf(";",begin);
        if (end == -1) end = document.cookie.length;
        return document.cookie.substring(begin,end);
    }
} 

</script>

<!-- 半透明窗口 -->
<div style="position: absolute; width: 100%; height: 1150; z-index: 99; background-color:#FFFFFF; filter:alpha(opacity=80); opacity: 0.8; visibility: hidden" id="layer_alpha"></div>

<!-- 层窗口 -->
<div style="position: absolute; width: 352px; height: 322px; z-index: 100; background-color: #C0C0C0; visibility: hidden;" id="layerwindow">
        <div style="z-index:2;background-color:white;position:absolute;top:0;left:0;"> 
        <table border="0" cellpadding="0" style="border-collapse: collapse" width="352" height="322" id="table1">
                <tr>
                        <td height="21" background="images/div_top_bg.gif" colspan="3">
                        <table border="0" cellpadding="0" style="border-collapse: collapse" width="100%" height="21">
							<tr>
								<td width="337" style="cursor:move" onmousedown="divMousedown(event)" onmouseup="divMouseup()"><span id="layerwindowtitle" style="color: #333333" class="out1"></span></td>
								<td width="13"><img border="0" src="images/div_top_close.gif" width="17" height="17" style="cursor:pointer" onclick="layerwindow.style.visibility='hidden';layerwindowcontent.innerHTML='　';layer_alpha.style.height=80;layer_alpha.style.visibility='hidden'" title="关闭层窗口"></td>
							</tr>
						</table>
						</td>
                </tr>
                <tr>
                        <td height="300" bgcolor="#666666" width="1">
                        <img border="0" src="images/dot_alpha.gif" width="1" height="1"></td>
                        <td id="layerwindowcontent" height="300" bgcolor="#FFFFFF" width="350">　</td>
                        <td height="300" bgcolor="#666666" width="1">
                        <img border="0" src="images/dot_alpha.gif" width="1" height="1"></td>
                </tr>
                <tr>
                        <td height="1" bgcolor="#666666" colspan="3"><img border="0" src="images/dot_alpha.gif" width="1" height="1"></td>
                </tr>
        </table>
        </div>
</div>


<div align="center">
	<table border="0" cellpadding="0" cellspacing="0" width="1000" id="table1">
		<tr>
			<td colspan="8" height="39">
			<iframe name="music_header" id=name="music_header" marginwidth="0" marginheight="0" scrolling="no" border="0" frameborder="0" height="39" width="1000" src="null.htm">
			浏览器不支持嵌入式框架，或被配置为不显示嵌入式框架。</iframe></td>
		</tr>
		<tr>
			<td colspan="8">
			<!-- 全部的列表层 -->
			<div style="position: absolute; width: 0px; height: 0px; z-index: 0; visibility: hidden;" id="layer0">

<!-- a1 -->
<div style="position: absolute; width: 99px; height: 20px; z-index: 4; left: 0px; top: 25px; visibility: visible;" id="layer_a_1">
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%" id="table7">
	<tr>
		<td width="8" height="10">
		<img border="0" src="images/layer_a_corner1.gif" width="8" height="10"></td>
		<td background="images/layer_a_top.gif"></td>
		<td width="12" height="10">
		<img border="0" src="images/layer_a_corner2.gif" width="12" height="10"></td>
	</tr>
	<tr>
		<td background="images/layer_a_left.gif"></td>
		<td align="center" style="line-height: 175%">
   	<a href=# onclick="if(getCookie('iflogon')=='Y'){document.cookie='iflogon=N;path=/';this.title='';this.innerHTML='用户登录';layer_alpha.style.height=1150;layer_alpha.style.visibility='visible';layer1On('logon','');}else{layer_alpha.style.height=1150;layer_alpha.style.visibility='visible';layer1On('logon','');}" id="layer_a_2_1">用户登录</a><br>
   	<a href=# onclick="if(getCookie('iflogon')=='Y'){layer1On('nickname','')}else{alert('您还未登录，不能进行昵称设置！');}" id="layer_a_2_6" title="为您的账号设置一个昵称">昵称设置</a><br>
		<img border="0" src="images/dot_gray.gif" width="46" height="5"><br>
		<a href=# onclick="var i_date=new Date();if(getCookie('iflogon')=='Y'){document.all.layer_d_3_I.src='main.php?iframeID=layer_d_3_I&aim=myfavorite&time='+i_date.getTime();if(DivChange_1('lastDivID_d','layer_d_3',false)){textBgColor_title('lastSpanID_title_d','title_d_3');}}else{alert('您还未登录，不能显示收藏！');}" id="layer_a_2_2" title="显示个人收藏夹中的曲目">我的收藏</a><br>
		<a href=# onclick="if(DivChange_1('lastDivID_d','layer_d_2',false)){textBgColor_title('lastSpanID_title_d','title_d_2');}" id="layer_a_2_3" title="显示每周热门歌曲排行榜前50名">热门歌曲</a><br>
		<a href=# onclick="if(document.all.layer_d_1_I.src.substr(-8,8)=='null.htm'){document.all.layer_d_1_I.src='main.php?iframeID=layer_d_1_I';}if(DivChange_1('lastDivID_d','layer_d_1',false)){textBgColor_title('lastSpanID_title_d','title_d_1');}" id="layer_a_2_4" title="显示最新收录的50首曲目">最新收录</a><br>
		<img border="0" src="images/dot_gray.gif" width="46" height="5"><br>
		<a href="waitorder.php?action=favorite&inorout=out" target="music_bottom" id="layer_a_2_5" title="把收藏夹里的曲目列表导出成本地m3u文件">导出收藏</a><br>
		<a href=# onclick="if(getCookie('iflogon')=='Y'){layer1On('favoritein','')}else{alert('您还未登录，不能进行收藏操作！');}" id="layer_a_2_6" title="将曾经导出的m3u文件导入收藏夹">导入收藏</a><br>
		<img border="0" src="images/dot_gray.gif" width="46" height="5"><br>
		<a href=# onclick="if(getCookie('iflogon')=='Y'){layer1On('commend','')}else{alert('您还未登录，不能推荐歌曲！');}" id="layer_a_2_7" title="向大家推荐自己喜欢的歌曲"><span id="flashText" style="color: #b16767">我要推荐</span></a><br>
		<a href=# onclick="document.all.layer_d_3_I.src='main.php?iframeID=layer_d_3_I&aim=sweettowntop50';if(DivChange_1('lastDivID_d','layer_d_3',false)){textBgColor_title('lastSpanID_title_d','title_d_3');}" id="layer_a_2_11" title="显示推荐歌曲排行榜前50名">推荐排行</a><br>
		<img border="0" src="images/dot_gray.gif" width="46" height="5"><br>
		<span style="CURSOR: pointer;" onclick="if(DivChange_1('lastDivID_a','layer_a_2',true)){textBgColor_title('lastSpanID_title_a','title_a_2');}" id="layer_a_2_12">歌曲分类</span><br>
		<a href="waitorder.php?action=playranduserlist&mode=in" target="music_bottom" id="layer_a_2_8" title="请欣赏我们为您精心挑选的曲目[每小时更新一次]">音乐超市</a><br>
		<a href=# onclick="if(getCookie('iflogon')=='Y'){layer1On('request','')}else{alert('您还未登录，不能进行共享歌曲列表操作！');}" id="layer_a_2_9" title="多人同时收听同样的音乐">音乐共享</a><br>
		<a href=# onclick="layer1On('randplay','')" id="layer_a_2_10">随机点播</a><br>
		<p style="line-height: 100%">
		<img border="0" src="images/sweettwon.gif" width="59" height="10"><br>
        <img border="0" src="images/dot_gray.gif" width="58" height="5"><br>
        <font color="#E3E3E3" face="Georgia" style="font-size: 7.5pt" id="counter_1"></font>
      　</td>
		<td background="images/layer_a_right.gif"></td>
	</tr>
	<tr>
		<td width="8" height="13">
		<img border="0" src="images/layer_a_corner4.gif" width="8" height="13"></td>
		<td background="images/layer_a_bottom.gif"></td>
		<td width="12" height="13">
		<img border="0" src="images/layer_a_corner3.gif" width="12" height="13"></td>
	</tr>
</table>
</div>

			
<!-- a2 -->
<div style="position: absolute; width: 99px; height: 20px; z-index: 4; left: 0px; top: 25px; visibility: hidden;" id="layer_a_2">
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%" id="table7">
	<tr>
		<td width="8" height="10">
		<img border="0" src="images/layer_a_corner1.gif" width="8" height="10"></td>
		<td background="images/layer_a_top.gif"></td>
		<td width="12" height="10">
		<img border="0" src="images/layer_a_corner2.gif" width="12" height="10"></td>
	</tr>
	<tr>
		<td background="images/layer_a_left.gif"></td>
		<td align="center" style="line-height: 175%">
		<script language="javascript">
		function typeclick(type,hrefID_get)
		{
		    document.all.layer_b_3_I.src="artistlist.php?type="+type;
		    if(DivChange_1('lastDivID_b','layer_b_3',false)){textBgColor_title('lastSpanID_title_b','title_b_3');}
		    textBgColor('lastHrefID_a',hrefID_get);
		    expand('layer_b_3','expandcontrol2',276,800,'max');
		}
		</script>
		<a href=# onclick="typeclick('%D6%D0%CE%C4%C1%F7%D0%D0',this)" id="layer_a_1_1">中文流行</a><br>
		<a href=# onclick="typeclick('%C5%B7%C3%C0%C1%F7%D0%D0',this)" id="layer_a_1_2">欧美流行</a><br>
		<a href=# onclick="typeclick('%C8%D5%BA%AB%C1%F7%D0%D0',this)" id="layer_a_1_3">日韩流行</a><br>
		<a href=# onclick="typeclick('%D4%AD%C9%F9%D6%D8%CF%D6',this)" id="layer_a_1_4">原声重现</a><br>
		<a href=# onclick="typeclick('%B9%C5%B5%E4%B7%A2%C9%D5',this)" id="layer_a_1_5">古典发烧</a><br>
		<a href=# onclick="typeclick('%C3%F1%D7%E5%D2%F4%C0%D6',this)" id="layer_a_1_12">民族音乐</a><br>
		<a href=# onclick="typeclick('%CC%EC%F4%A5%D6%AE%D2%F4',this)" id="layer_a_1_6">天籁之音</a><br>
		<a href=# onclick="typeclick('%D2%A1%B9%F6%B5%EE%CC%C3',this)" id="layer_a_1_7">摇滚殿堂</a><br>
		<a href=# onclick="typeclick('%BE%F4%CA%BF%C3%D4%C7%E9',this)" id="layer_a_1_8">爵士迷情</a><br>
		<a href=# onclick="typeclick('%C3%D4%BB%C3%B5%E7%D7%D3',this)" id="layer_a_1_9">迷幻电子</a><br>
		<a href=# onclick="typeclick('%B7%C7%D6%F7%C1%F7%C7%F8',this)" id="layer_a_1_10">非主流区</a><br>
		<a href=# onclick="typeclick('%CF%E0%C9%F9%CF%B7%C7%FA',this)" id="layer_a_1_11">相声戏曲</a><br>
		<p style="line-height: 100%">
		<img border="0" src="images/sweettwon.gif" width="59" height="10"><br>
        <img border="0" src="images/dot_gray.gif" width="58" height="5"><br>
        <font color="#E3E3E3" face="Georgia" style="font-size: 7.5pt" id="counter_2"></font>
　</td>
		<td background="images/layer_a_right.gif"></td>
	</tr>
	<tr>
		<td width="8" height="13">
		<img border="0" src="images/layer_a_corner4.gif" width="8" height="13"></td>
		<td background="images/layer_a_bottom.gif"></td>
		<td width="12" height="13">
		<img border="0" src="images/layer_a_corner3.gif" width="12" height="13"></td>
	</tr>
</table>
</div>


<!-- b1 -->
<div style="position: absolute; width: 276px; height: 80px; z-index: 3; left: 103px; top: 120px; visibility: visible;" id="layer_b_1">
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%" id="table7" bgcolor="#FFFFFF">
	<tr>
		<td width="14" height="13">
		<img border="0" src="images/layer_b_corner1.gif" width="14" height="13"></td>
		<td background="images/layer_b_top.gif">
		<p>
		<img border="0" src="images/dot_alpha.gif" width="16" height="9"></td>
		<td width="18" height="13">
		<img border="0" src="images/layer_b_corner2.gif" width="18" height="13"></td>
	</tr>
	<tr>
		<td background="images/layer_b_left.gif"></td>
		<td valign="top">
		<iframe id="layer_b_1_I" name="layer_b_1_I" src="buildfiles/announce.htm" marginwidth="0" marginheight="0" border="0" frameborder="0" width="100%" height="100%">
		浏览器不支持嵌入式框架，或被配置为不显示嵌入式框架。</iframe></td>
		<td background="images/layer_b_right.gif"></td>
	</tr>
	<tr>
		<td width="14" height="19">
		<img border="0" src="images/layer_b_corner4.gif" width="14" height="19"></td>
		<td background="images/layer_b_bottom.gif"></td>
		<td width="18" height="19">
		<img border="0" src="images/layer_b_corner3.gif" width="18" height="19"></td>
	</tr>
</table>
</div>


<!-- b2 -->
<div style="position: absolute; width: 276px; height: 80px; z-index: 3; left: 103px; top: 120px; visibility: hidden;" id="layer_b_2">
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%" id="table7" bgcolor="#FFFFFF">
	<tr>
		<td width="14" height="13">
		<img border="0" src="images/layer_b_corner1.gif" width="14" height="13"></td>
		<td background="images/layer_b_top.gif">
		<p>
		<img border="0" src="images/expand1.gif" id="expandcontrol1" width="16" height="9" style="CURSOR: pointer;" onclick="expand('layer_b_2',this,276,800,'auto')" title="展开列表"></td>
		<td width="18" height="13">
		<img border="0" src="images/layer_b_corner2.gif" width="18" height="13"></td>
	</tr>
	<tr>
		<td background="images/layer_b_left.gif"></td>
		<td valign="top">
		<iframe id="layer_b_2_I" name="layer_b_2_I" src="null.htm" marginwidth="0" marginheight="0" border="0" frameborder="0" width="100%" height="100%">
		浏览器不支持嵌入式框架，或被配置为不显示嵌入式框架。</iframe></td>
		<td background="images/layer_b_right.gif"></td>
	</tr>
	<tr>
		<td width="14" height="19">
		<img border="0" src="images/layer_b_corner4.gif" width="14" height="19"></td>
		<td background="images/layer_b_bottom.gif"></td>
		<td width="18" height="19">
		<img border="0" src="images/layer_b_corner3.gif" width="18" height="19"></td>
	</tr>
</table>
</div>

<!-- b3 -->
<div style="position: absolute; width: 276px; height: 80px; z-index: 3; left: 103px; top: 120px; visibility: hidden;" id="layer_b_3">
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%" id="table7" bgcolor="#FFFFFF">
	<tr>
		<td width="14" height="13">
		<img border="0" src="images/layer_b_corner1.gif" width="14" height="13"></td>
		<td background="images/layer_b_top.gif">
		<p>
		<img border="0" src="images/expand1.gif" id="expandcontrol2" width="16" height="9" style="CURSOR: pointer;" onclick="expand('layer_b_3',this,276,800,'auto')" title="展开列表"></td>
		<td width="18" height="13">
		<img border="0" src="images/layer_b_corner2.gif" width="18" height="13"></td>
	</tr>
	<tr>
		<td background="images/layer_b_left.gif"></td>
		<td valign="top">
		<iframe id="layer_b_3_I" name="layer_b_3_I" src="null.htm" marginwidth="0" marginheight="0" border="0" frameborder="0" width="100%" height="100%">
		浏览器不支持嵌入式框架，或被配置为不显示嵌入式框架。</iframe></td>
		<td background="images/layer_b_right.gif"></td>
	</tr>
	<tr>
		<td width="14" height="19">
		<img border="0" src="images/layer_b_corner4.gif" width="14" height="19"></td>
		<td background="images/layer_b_bottom.gif"></td>
		<td width="18" height="19">
		<img border="0" src="images/layer_b_corner3.gif" width="18" height="19"></td>
	</tr>
</table>
</div>

<!-- c1 -->
<div style="position: absolute; width: 131px; height: 80px; z-index: 2; left: 384px; top: 25px; visibility: visible;" id="layer_c_1">
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%" id="table7">
	<tr>
		<td width="8" height="10">
		<img border="0" src="images/layer_a_corner1.gif" width="8" height="10"></td>
		<td background="images/layer_a_top.gif">
		<img border="0" src="images/dot_alpha.gif" width="1" height="10"></td>
		<td width="12" height="10">
		<img border="0" src="images/layer_a_corner2.gif" width="12" height="10"></td>
	</tr>
	<tr>
		<td background="images/layer_a_left.gif"></td>
		<td valign="top">
		<iframe id="layer_c_1_I" name="layer_c_1_I" marginwidth="0" width="100%" marginheight="0" scrolling="no" border="0" frameborder="0" src="buildfiles/heartlist.htm" height="100%">
		浏览器不支持嵌入式框架，或被配置为不显示嵌入式框架。</iframe></td>
		<td background="images/layer_a_right.gif"></td>
	</tr>
	<tr>
		<td width="8" height="13">
		<img border="0" src="images/layer_a_corner4.gif" width="8" height="13"></td>
		<td background="images/layer_a_bottom.gif"></td>
		<td width="12" height="13">
		<img border="0" src="images/layer_a_corner3.gif" width="12" height="13"></td>
	</tr>
</table>
</div>


<!-- c3 -->
<div style="position: absolute; width: 131px; height: 50px; z-index: 2; left: 384px; top: 25px; visibility: hidden;" id="layer_c_3">
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%" id="table7">
	<tr>
		<td width="8" height="10">
		<img border="0" src="images/layer_a_corner1.gif" width="8" height="10"></td>
		<td background="images/layer_a_top.gif">
		<img border="0" src="images/dot_alpha.gif" width="1" height="10"></td>
		<td width="12" height="10">
		<img border="0" src="images/layer_a_corner2.gif" width="12" height="10"></td>
	</tr>
	<tr>
		<td background="images/layer_a_left.gif"></td>
		<td valign="top">
		<iframe id="layer_c_3_I" name="layer_c_3_I" marginwidth="0" width="100%" marginheight="0" scrolling="no" border="0" frameborder="0" src="null.htm" height="100%">
		浏览器不支持嵌入式框架，或被配置为不显示嵌入式框架。</iframe></td>
		<td background="images/layer_a_right.gif"></td>
	</tr>
	<tr>
		<td width="8" height="13">
		<img border="0" src="images/layer_a_corner4.gif" width="8" height="13"></td>
		<td background="images/layer_a_bottom.gif"></td>
		<td width="12" height="13">
		<img border="0" src="images/layer_a_corner3.gif" width="12" height="13"></td>
	</tr>
</table>
</div>


<!-- d1 -->
<div style="position: absolute; width: 481px; height: 80px; z-index: 1; left: 519px; top: 25px; visibility: hidden;" id="layer_d_1">
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%" id="table7">
	<tr>
		<td width="14" height="13">
		<img border="0" src="images/layer_b_corner1.gif" width="14" height="13"></td>
		<td background="images/layer_b_top.gif">
		<img border="0" src="images/dot_alpha.gif" width="1" height="13"></td>
		<td width="18" height="13">
		<img border="0" src="images/layer_b_corner2.gif" width="18" height="13"></td>
	</tr>
	<tr>
		<td background="images/layer_b_left.gif" valign="top">
		<table border="0" width="100%" cellspacing="0" cellpadding="0" id="table8">
			<tr>
				<td height="20" colspan="2">　</td>
			</tr>
			<tr>
				<td height="1" align="right" colspan="2">
				<img border="0" src="img/line.jpg" width="11" height="1"></td>
			</tr>
			<tr>
				<td height="3" width="20%"></td>
				<td bgcolor="#F0F0F0" height="20" width="11"></td>
			</tr>
			<tr>
				<td height="1" align="right" colspan="2">
				<img border="0" src="img/line.jpg" width="11" height="1"></td>
			</tr>
		</table>
		</td>
		<td valign="top">
		<iframe id="layer_d_1_I" name="layer_d_1_I" marginwidth="0" width="100%" marginheight="0" scrolling="no" border="0" frameborder="0" src="null.htm" height="100%">
		浏览器不支持嵌入式框架，或被配置为不显示嵌入式框架。</iframe></td>
		<td background="images/layer_b_right.gif" valign="top">
		<table border="0" width="100%" cellspacing="0" cellpadding="0" id="table9">
			<tr>
				<td height="20" colspan="2">　</td>
			</tr>
			<tr>
				<td height="1" align="left" colspan="2">
				<img border="0" src="img/line.jpg" width="11" height="1"></td>
			</tr>
			<tr>
				<td height="20" bgcolor="#F0F0F0" width="11"></td>
				<td height="20" width="7"></td>
			</tr>
			<tr>
				<td height="1" align="left" colspan="2">
				<img border="0" src="img/line.jpg" width="11" height="1"></td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td width="14" height="19">
		<img border="0" src="images/layer_b_corner4.gif" width="14" height="19"></td>
		<td background="images/layer_b_bottom.gif"></td>
		<td width="18" height="19">
		<img border="0" src="images/layer_b_corner3.gif" width="18" height="19"></td>
	</tr>
</table>
</div>


<!-- d2 -->
<div style="position: absolute; width: 481px; height: 80px; z-index: 1; left: 519px; top: 25px; visibility: visible;" id="layer_d_2">
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%" id="table7">
	<tr>
		<td width="14" height="13">
		<img border="0" src="images/layer_b_corner1.gif" width="14" height="13"></td>
		<td background="images/layer_b_top.gif">
		<img border="0" src="images/dot_alpha.gif" width="1" height="13"></td>
		<td width="18" height="13">
		<img border="0" src="images/layer_b_corner2.gif" width="18" height="13"></td>
	</tr>
	<tr>
		<td background="images/layer_b_left.gif" valign="top">
		<table border="0" width="100%" cellspacing="0" cellpadding="0" id="table8">
			<tr>
				<td height="20" colspan="2">　</td>
			</tr>
			<tr>
				<td height="1" align="right" colspan="2">
				<img border="0" src="img/line.jpg" width="11" height="1"></td>
			</tr>
			<tr>
				<td height="3" width="20%"></td>
				<td bgcolor="#F0F0F0" height="20" width="11"></td>
			</tr>
			<tr>
				<td height="1" align="right" colspan="2">
				<img border="0" src="img/line.jpg" width="11" height="1"></td>
			</tr>
		</table>
		</td>
		<td valign="top">
		<iframe id="layer_d_2_I" name="layer_d_2_I" marginwidth="0" width="100%" marginheight="0" scrolling="no" border="0" frameborder="0" src="buildfiles/hotaudio.htm" height="100%">
		浏览器不支持嵌入式框架，或被配置为不显示嵌入式框架。</iframe></td>
		<td background="images/layer_b_right.gif" valign="top">
		<table border="0" width="100%" cellspacing="0" cellpadding="0" id="table9">
			<tr>
				<td height="20" colspan="2">　</td>
			</tr>
			<tr>
				<td height="1" align="left" colspan="2">
				<img border="0" src="img/line.jpg" width="11" height="1"></td>
			</tr>
			<tr>
				<td height="20" bgcolor="#F0F0F0" width="11"></td>
				<td height="20" width="7"></td>
			</tr>
			<tr>
				<td height="1" align="left" colspan="2">
				<img border="0" src="img/line.jpg" width="11" height="1"></td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td width="14" height="19">
		<img border="0" src="images/layer_b_corner4.gif" width="14" height="19"></td>
		<td background="images/layer_b_bottom.gif"></td>
		<td width="18" height="19">
		<img border="0" src="images/layer_b_corner3.gif" width="18" height="19"></td>
	</tr>
</table>
</div>


<!-- d3 -->
<div style="position: absolute; width: 481px; height: 80px; z-index: 1; left: 519px; top: 25px; visibility: hidden;" id="layer_d_3">
<table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%" id="table7">
	<tr>
		<td width="14" height="13">
		<img border="0" src="images/layer_b_corner1.gif" width="14" height="13"></td>
		<td background="images/layer_b_top.gif">
		<img border="0" src="images/dot_alpha.gif" width="1" height="13"></td>
		<td width="18" height="13">
		<img border="0" src="images/layer_b_corner2.gif" width="18" height="13"></td>
	</tr>
	<tr>
		<td background="images/layer_b_left.gif" valign="top">
		<table border="0" width="100%" cellspacing="0" cellpadding="0" id="table8">
			<tr>
				<td height="20" colspan="2">　</td>
			</tr>
			<tr>
				<td height="1" align="right" colspan="2">
				<img border="0" src="img/line.jpg" width="11" height="1"></td>
			</tr>
			<tr>
				<td height="3" width="20%"></td>
				<td bgcolor="#F0F0F0" height="20" width="11"></td>
			</tr>
			<tr>
				<td height="1" align="right" colspan="2">
				<img border="0" src="img/line.jpg" width="11" height="1"></td>
			</tr>
		</table>
		</td>
		<td valign="top">
		<iframe id="layer_d_3_I" name="layer_d_3_I" marginwidth="0" width="100%" marginheight="0" scrolling="no" border="0" frameborder="0" src="null.htm" height="100%">
		浏览器不支持嵌入式框架，或被配置为不显示嵌入式框架。</iframe></td>
		<td background="images/layer_b_right.gif" valign="top">
		<table border="0" width="100%" cellspacing="0" cellpadding="0" id="table9">
			<tr>
				<td height="20" colspan="2">　</td>
			</tr>
			<tr>
				<td height="1" align="left" colspan="2">
				<img border="0" src="img/line.jpg" width="11" height="1"></td>
			</tr>
			<tr>
				<td height="20" bgcolor="#F0F0F0" width="11"></td>
				<td height="20" width="7"></td>
			</tr>
			<tr>
				<td height="1" align="left" colspan="2">
				<img border="0" src="img/line.jpg" width="11" height="1"></td>
			</tr>
		</table>
		</td>
	</tr>
	<tr>
		<td width="14" height="19">
		<img border="0" src="images/layer_b_corner4.gif" width="14" height="19"></td>
		<td background="images/layer_b_bottom.gif"></td>
		<td width="18" height="19">
		<img border="0" src="images/layer_b_corner3.gif" width="18" height="19"></td>
	</tr>
</table>
</div>


		
　          </div>
            </td>
		</tr>
		<tr>
			<td width="95" valign="top">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" id="table2">
				<tr>
					<td width="1">
					<img border="0" src="images/dot_alpha.gif" width="1" height="1"></td>
					<td width="17">
					<img border="0" src="images/title_left1.gif" width="17" height="21"></td>
					<td background="images/title_center.gif" width="71" align="center"><span style="CURSOR: pointer; color: black" onclick="if(DivChange_1('lastDivID_a','layer_a_1',true)){textBgColor_title('lastSpanID_title_a',this);}" id="title_a_1">功能</span>·<span style="CURSOR: pointer;" onclick="if(DivChange_1('lastDivID_a','layer_a_2',true)){textBgColor_title('lastSpanID_title_a',this);}" id="title_a_2">分类</span></td>
					<td width="7">
					<img border="0" src="images/title_right.gif" width="7" height="21"></td>
				</tr>
			</table>
			<p>　</p>
			<p>　</td>
			<td width="10" valign="top">
			<img border="0" src="images/dot_alpha.gif" width="10" height="1"></td>
			<td width="270" valign="top">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" id="table3">
				<tr>
					<td width="201" rowspan="4">
					<img border="0" src="images/logo.jpg" width="201" height="92"></td>
					<td height="23" align="right">◎<span style="CURSOR: pointer" onclick="refresh()" title="更新页面上所有信息至最新内容">刷新数据</span></td>
				</tr>
				<tr>
					<td height="23" align="right">◎<span style="CURSOR: pointer" onclick="window.open('http://mp3.baidu.com/','','')" title="百度搜歌需连接外网">百度搜歌</a></td>
				</tr>
				<tr>
					<td height="23" align="right">◎<span style="CURSOR: pointer" onclick="layer1On('search','')">桃源搜索</span></td>
				</tr>
				<tr>
					<td height="23" align="right">◎<span style="CURSOR: pointer" onclick="if(getCookie('iflogon')=='Y'){layer1On('upload','');}else{alert('您还未登录，不能上传歌曲！');}">上传贡献</span></td>
				</tr>
				<tr>
					<td colspan="2" height="30">
					<table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%" id="table4">
						<tr>
							<td width="20" align="right"><img border="0" src="images/title_left2.gif" width="12" height="12"></td>
							<td>&nbsp;<span style="CURSOR: pointer; color: black" id="title_b_1" onclick="if(DivChange_1('lastDivID_b','layer_b_1',false)){textBgColor_title('lastSpanID_title_b',this);}">公告·凭歌寄语</span>·<span style="CURSOR: pointer;" onclick="if(document.all.layer_b_2_I.src.substr(-8,8)=='null.htm'){document.all.layer_b_2_I.src='buildfiles/hotartist.htm';}if(DivChange_1('lastDivID_b','layer_b_2',false)){textBgColor_title('lastSpanID_title_b',this);}" title="热门点播歌手前100位" id="title_b_2">热门</span>·<span id="title_b_3" style="CURSOR: crosshair" onclick="if(document.all.layer_b_3_I.src.substr(-8,8)!='null.htm'||havesearch_0==true){if(DivChange_1('lastDivID_b','layer_b_3',false)){textBgColor_title('lastSpanID_title_b',this);}}">歌手</span></td>
						</tr>
					</table>
					</td>
				</tr>
			</table>
			</td>
			<td width="10" valign="top">
			<img border="0" src="images/dot_alpha.gif" width="10" height="1"></td>
			<td width="125" valign="top">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" id="table5">
				<tr>
					<td width="17">
					<img border="0" src="images/title_left3.gif" width="17" height="21"></td>
					<td background="images/title_center.gif" align="right"><span style="CURSOR: pointer; color: black" id="title_c_1" onclick="if(DivChange_1('lastDivID_c','layer_c_1',true)){textBgColor_title('lastSpanID_title_c',this);}">热心贡献者</span>·<span style="CURSOR: crosshair;" id="title_c_3" onclick="if(document.all.layer_c_3_I.src.substr(-8,8)!='null.htm'||havesearch_2==true){if(DivChange_1('lastDivID_c','layer_c_3',true)){textBgColor_title('lastSpanID_title_c',this);}}">专辑</span></td>
					<td width="7">
					<img border="0" src="images/title_right.gif" width="7" height="21"></td>
				</tr>
			</table>
			</td>
			<td width="10" valign="top">
			<img border="0" src="images/dot_alpha.gif" width="10" height="1"></td>
			<td width="200" valign="top">
			<table border="0" cellpadding="0" cellspacing="0" width="100%" id="table6">
				<tr>
					<td width="17">
					<img border="0" src="images/title_left4.gif" width="17" height="21"></td>
					<td background="images/title_center.gif" align="right"><span style="CURSOR: pointer;" id="title_d_1" onclick="if(document.all.layer_d_1_I.src.substr(-8,8)=='null.htm'){document.all.layer_d_1_I.src='buildfiles/newaudio.htm';}if(DivChange_1('lastDivID_d','layer_d_1',false)){textBgColor_title('lastSpanID_title_d',this);}" title="最新收录的50首曲目">最新收录</span>·<span style="CURSOR: pointer; color: black" id="title_d_2" onclick="if(DivChange_1('lastDivID_d','layer_d_2',false)){textBgColor_title('lastSpanID_title_d',this);}" title="每周热门歌曲排行榜前50名">热门歌曲</span>·<span style="CURSOR: crosshair;" id="title_d_3" onclick="if(document.all.layer_d_3_I.src.substr(-8,8)!='null.htm'||havesearch_1==true){if(DivChange_1('lastDivID_d','layer_d_3',false)){textBgColor_title('lastSpanID_title_d',this);}}">曲目列表</span></td>
					<td width="7">
					<img border="0" src="images/title_right.gif" width="7" height="21"></td>
				</tr>
			</table>
			</td>
			<td width="280" valign="top">
			<div><iframe name="music_bottom" id="music_bottom" src="waitorder.php?action=play&inwebsite=yes" marginwidth="0" marginheight="0" height="0" width="5" scrolling="no" border="0" frameborder="0">浏览器不支持嵌入式框架，或被配置为不显示嵌入式框架。</iframe></div>
			<div>&nbsp;<iframe name="music_check" id="music_check" src="check.htm" marginwidth="0" marginheight="0" height="15" width="15" scrolling="no" border="0" frameborder="0">浏览器不支持嵌入式框架，或被配置为不显示嵌入式框架。</iframe></div>
			</td>
		</tr>
	</table>
</div>

<!-- 进站时执行 -->
<script language="javascript">
if(getCookie('iflogon')!="Y")
{
    layer_alpha.style.visibility="visible";
    layer1On('logon','');
}
else
{
    document.all.layerwindow.style.visibility="hidden";
    document.all.layer_alpha.style.visibility="hidden";
    document.all.layer_a_2_1.innerHTML="注销登录";
    parent.document.all.layer_a_2_1.title="注销 "+getCookie('uid')+" 的此次登录";
}

var flashkey=0;
function flashText()
{
	if(flashkey==0)
	{
		document.getElementById('flashText').style.color="#999999";
		flashkey=1;
	}
	else
	{
		document.getElementById('flashText').style.color="#b16767";
		flashkey=0;
	}
}
setInterval("flashText();",1000);

window.status="网站程式：Biosky";
</script>

</body>

</html>