<base href="http://lpmc.nankai.edu.cn/"><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>教育部核心数学与组合数学重点实验室</title>

<link type="text/css" href="/_css/_system/system.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/1/style/6/6.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/00/41/65/style/51/51.css" rel="stylesheet"/>
       <LINK href="/_css/tpl2/system.css" type="text/css" rel="stylesheet"> 
       <LINK href="/_css/tpl2/default/default.css" type="text/css" rel="stylesheet"> 
<link type="text/css" href="/_js/_portletPlugs/simpleNews/css/simplenews.css" rel="stylesheet" />
       <LINK href="/_css/tpl2/default/portlet/dtjt/8/dtjt8.css" type="text/css" rel="stylesheet">
<link type="text/css" href="/_js/_portletPlugs/sudyNavi/css/sudyNav.css" rel="stylesheet" />

<script language="javascript" src="/_js/jquery.min.js" sudy-wp-context="" sudy-wp-siteId="65"></script>
<script language="javascript" src="/_js/jquery.sudy.wp.visitcount.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/sudyNavi/jquery.sudyNav.js"></script>
<script type="text/javascript" src="/_upload/tpl/00/7f/127/template127/extends/extends.js"></script>

<link rel="stylesheet" href="/_upload/tpl/00/7f/127/template127/style.css" type="text/css" media="all" />
</head>

<body>
<div class="wrapper" id="header">
  <div class="inner">
    <div class="head" frag="面板1"> </div>
    <div class="navbar" frag="面板2">
      <div class="navbox" frag="窗口2">
        <div id="wp_nav_w2"> 

 
<ul class="wp_nav" data-nav-config="{drop_v: 'down', drop_w: 'right', dir: 'y', opacity_main: '-1', opacity_sub: '-1', dWidth: '0'}">
      
     <li class="nav-item i1 "> 
         <a href="/main.htm" title="首页" target="_self"><span class="item-name">首页</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i2 "> 
         <a href="/3565/list.htm" title="实验室概况" target="_self"><span class="item-name">实验室概况</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i2-1 "> 
                 <a href="/3597/list.htm" title="机构简介" target="_self"><span class="item-name">机构简介</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i2-2 "> 
                 <a href="/3598/list.htm" title="主要研究方向" target="_self"><span class="item-name">主要研究方向</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i2-3 "> 
                 <a href="/3599/list.htm" title="组织结构" target="_self"><span class="item-name">组织结构</span></a><i class="mark"></i> 
                  
         <ul class="sub-nav"> 
              
             <li class="nav-item i2-3-1 "> 
                 <a href="/3653/list.htm" title="现任领导" target="_self"><span class="item-name">现任领导</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i2-3-2 "> 
                 <a href="/3654/list.htm" title="历任领导" target="_self"><span class="item-name">历任领导</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
             </li> 
              
             <li class="nav-item i2-4 "> 
                 <a href="/3600/list.htm" title="学术委员会" target="_self"><span class="item-name">学术委员会</span></a><i class="mark"></i> 
                  
         <ul class="sub-nav"> 
              
             <li class="nav-item i2-4-1 "> 
                 <a href="/3655/list.htm" title="学术委员会名单" target="_self"><span class="item-name">学术委员会名...</span></a><i class="mark"></i> 
                  
         <ul class="sub-nav"> 
              
             <li class="nav-item i2-4-1-1 "> 
                 <a href="/ljxswyhmd/list.htm" title="历届学术委员会名单" target="_self"><span class="item-name">历届学术委员...</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
             </li> 
              
             <li class="nav-item i2-4-2 "> 
                 <a href="/3656/list.htm" title="历届会议照片" target="_self"><span class="item-name">历届会议照片</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i3 "> 
         <a href="/3566/list.htm" title="研究队伍" target="_self"><span class="item-name">研究队伍</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i3-1 "> 
                 <a href="/3601/list.htm" title="学术骨干介绍" target="_self"><span class="item-name">学术骨干介绍</span></a><i class="mark"></i> 
                  
         <ul class="sub-nav"> 
              
             <li class="nav-item i3-1-1 "> 
                 <a href="/ggjslb/list.htm" title="骨干教师列表" target="_self"><span class="item-name">骨干教师列表</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
             </li> 
              
             <li class="nav-item i3-2 "> 
                 <a href="/3602/list.htm" title="固定研究人员" target="_self"><span class="item-name">固定研究人员</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-3 "> 
                 <a href="/3604/list.htm" title="博士后研究人员" target="_self"><span class="item-name">博士后研究人...</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-4 "> 
                 <a href="/qtldry/list.htm" title="其它流动人员" target="_self"><span class="item-name">其它流动人员</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i4 "> 
         <a href="/3567/list.htm" title="人才培养" target="_self"><span class="item-name">人才培养</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i4-1 "> 
                 <a href="/3609/list.htm" title="培养研究生名单" target="_self"><span class="item-name">培养研究生名...</span></a><i class="mark"></i> 
                  
         <ul class="sub-nav"> 
              
             <li class="nav-item i4-1-1 "> 
                 <a href="/3631/list.htm" title="2010届毕业研究生" target="_self"><span class="item-name">2010届毕业研...</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i4-1-2 "> 
                 <a href="/3632/list.htm" title="2011届毕业研究生" target="_self"><span class="item-name">2011届毕业研...</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i4-1-3 "> 
                 <a href="/3635/list.htm" title="2012届毕业研究生" target="_self"><span class="item-name">2012届毕业研...</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i4-1-4 "> 
                 <a href="/3636/list.htm" title="2013届毕业研究生" target="_self"><span class="item-name">2013届毕业研...</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i4-1-5 "> 
                 <a href="/3637/list.htm" title="2014届毕业研究生" target="_self"><span class="item-name">2014届毕业研...</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i4-1-6 "> 
                 <a href="/2015jbyyjs/list.htm" title="2015届毕业研究生" target="_self"><span class="item-name">2015届毕业研...</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
             </li> 
              
             <li class="nav-item i4-2 "> 
                 <a href="/3610/list.htm" title="课程与教学情况" target="_self"><span class="item-name">课程与教学情...</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i4-3 "> 
                 <a href="/3611/list.htm" title="学生科研与获奖" target="_self"><span class="item-name">学生科研与获...</span></a><i class="mark"></i> 
                  
         <ul class="sub-nav"> 
              
             <li class="nav-item i4-3-1 "> 
                 <a href="/yjscykyqk/list.htm" title="研究生参与科研情况" target="_self"><span class="item-name">研究生参与科...</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i4-3-2 "> 
                 <a href="/bkscykyqk/list.htm" title="本科生参与科研情况" target="_self"><span class="item-name">本科生参与科...</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i4-3-3 "> 
                 <a href="/yjshjqk/list.htm" title="研究生获奖情况" target="_self"><span class="item-name">研究生获奖情...</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i5 "> 
         <a href="/3568/list.htm" title="科研成果" target="_self"><span class="item-name">科研成果</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i5-1 "> 
                 <a href="/3612/list.htm" title="科研项目" target="_self"><span class="item-name">科研项目</span></a><i class="mark"></i> 
                  
         <ul class="sub-nav"> 
              
             <li class="nav-item i5-1-1 "> 
                 <a href="/3639/list.htm" title="2009年" target="_self"><span class="item-name">2009年</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i5-1-2 "> 
                 <a href="/3640/list.htm" title="2010年" target="_self"><span class="item-name">2010年</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i5-1-3 "> 
                 <a href="/3641/list.htm" title="2011年" target="_self"><span class="item-name">2011年</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i5-1-4 "> 
                 <a href="/3642/list.htm" title="2012年" target="_self"><span class="item-name">2012年</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i5-1-5 "> 
                 <a href="/3643/list.htm" title="2013年" target="_self"><span class="item-name">2013年</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i5-1-6 "> 
                 <a href="/3644/list.htm" title="2014年" target="_self"><span class="item-name">2014年</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i5-1-7 "> 
                 <a href="/3645/list.htm" title="2015年" target="_self"><span class="item-name">2015年</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
             </li> 
              
             <li class="nav-item i5-2 "> 
                 <a href="/3613/list.htm" title="学术论文" target="_self"><span class="item-name">学术论文</span></a><i class="mark"></i> 
                  
         <ul class="sub-nav"> 
              
             <li class="nav-item i5-2-1 "> 
                 <a href="/3646/list.htm" title="2009年" target="_self"><span class="item-name">2009年</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i5-2-2 "> 
                 <a href="/3647/list.htm" title="2010年" target="_self"><span class="item-name">2010年</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i5-2-3 "> 
                 <a href="/3648/list.htm" title="2011年" target="_self"><span class="item-name">2011年</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i5-2-4 "> 
                 <a href="/3649/list.htm" title="2012年" target="_self"><span class="item-name">2012年</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i5-2-5 "> 
                 <a href="/3650/list.htm" title="2013年" target="_self"><span class="item-name">2013年</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i5-2-6 "> 
                 <a href="/3651/list.htm" title="2014年" target="_self"><span class="item-name">2014年</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i5-2-7 "> 
                 <a href="/3652/list.htm" title="2015年" target="_self"><span class="item-name">2015年</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
             </li> 
              
             <li class="nav-item i5-3 "> 
                 <a href="/3614/list.htm" title="科研奖励" target="_self"><span class="item-name">科研奖励</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i5-4 "> 
                 <a href="/3615/list.htm" title="代表性成果" target="_self"><span class="item-name">代表性成果</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i6 "> 
         <a href="/3569/list.htm" title="学术交流" target="_self"><span class="item-name">学术交流</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i6-1 "> 
                 <a href="/3591/list.htm" title="学术会议" target="_self"><span class="item-name">学术会议</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i6-2 "> 
                 <a href="/text/list.htm" title="学术报告" target="_self"><span class="item-name">学术报告</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i6-3 "> 
                 <a href="/lfxz/list.htm" title="访问学者" target="_self"><span class="item-name">访问学者</span></a><i class="mark"></i> 
                  
         <ul class="sub-nav"> 
              
             <li class="nav-item i6-3-1 "> 
                 <a href="/3723/list.htm" title="2009年" target="_self"><span class="item-name">2009年</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i6-3-2 "> 
                 <a href="/3724/list.htm" title="2010年" target="_self"><span class="item-name">2010年</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i6-3-3 "> 
                 <a href="/3725/list.htm" title="2011年" target="_self"><span class="item-name">2011年</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i6-3-4 "> 
                 <a href="/3726/list.htm" title="2012年" target="_self"><span class="item-name">2012年</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i6-3-5 "> 
                 <a href="/3727/list.htm" title="2013年" target="_self"><span class="item-name">2013年</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i6-3-6 "> 
                 <a href="/3728/list.htm" title="2014年" target="_self"><span class="item-name">2014年</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i6-3-7 "> 
                 <a href="/3729/list.htm" title="2015年" target="_self"><span class="item-name">2015年</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i7 "> 
         <a href="/3570/list.htm" title="科研资源" target="_self"><span class="item-name">科研资源</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i7-1 "> 
                 <a href="/sxtsg/list.htm" title="数学图书馆" target="_self"><span class="item-name">数学图书馆</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i7-2 "> 
                 <a href="/jssys/list.htm" title="计算实验室" target="_self"><span class="item-name">计算实验室</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i7-3 "> 
                 <a href="/kywzlj/list.htm" title="科研网站链接" target="_self"><span class="item-name">科研网站链接</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i8 "> 
         <a href="/3571/list.htm" title="运行管理" target="_self"><span class="item-name">运行管理</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i8-1 "> 
                 <a href="/sysndkhbg/list.htm" title="实验室年度考核报告" target="_self"><span class="item-name">实验室年度考...</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i8-2 "> 
                 <a href="/nbglgzzd/list.htm" title="内部管理规章制度" target="_self"><span class="item-name">内部管理规章...</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i9 "> 
         <a href="/3572/list.htm" title="资料下载" target="_self"><span class="item-name">资料下载</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i9-1 "> 
                 <a href="/wjtg/list.htm" title="文件通告" target="_self"><span class="item-name">文件通告</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i9-2 "> 
                 <a href="/bgxz/list.htm" title="表格下载" target="_self"><span class="item-name">表格下载</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i10 "> 
         <a href="/3573/list.htm" title="联系我们" target="_self"><span class="item-name">联系我们</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i11 "> 
         <a href="/3574/list.htm" title="English" target="_self"><span class="item-name">English</span></a><i class="mark"></i> 
          
     </li> 
      
</ul> 
 
 
 </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper" id="container">
  <div class="inner">
    <div class="mod mod1">
    <div class="mc" frag="面板60">
        <div class="post4 post4-60 mbox" frag="窗口60">
        <div class="con4">
            <!-- 多图交替8 图片 切换 -->
<div class="dtjt8_div_img" style="width:1000px;height:262px;">
    <img id="w60imgShow" name="w60imgShow" onclick="w60openWindow();" style="FILTER: revealTrans(duration=2,transition=20); border: 0; cursor: pointer;" src="/..//_css/tpl/default/images/loading.gif" width="1000px" height="262px" vspace="0">
    <div id='w60imgNumber' class="number"></div>
</div>
<script language="JavaScript" class="" >
    var w60imgJsons = [
    
        
            {
            "src" : "/_upload/article/8b/7e/1214c6e04dd29ce3775099b9f623/2c0691bb-db5d-4485-bcf3-09c53e16bd91_s.gif",
            "url" : "/2015/0721/c3594a26137/page.htm"
            },
        
    
        
            {
            "src" : "/_upload/article/83/f4/5014a0684f7e9d632207e4c331b5/e295a39e-7861-4248-8f5c-9031c95488b0_s.gif",
            "url" : "/2015/0716/c3594a25992/page.htm"
            },
        
    
        
            {
            "src" : "/_upload/article/20/c6/f8d0df774341b6fcbbb771966a8c/1ad94b9b-b5be-4ba6-b0d7-968f7fed1c22_s.gif",
            "url" : "/2015/0716/c3594a25991/page.htm"
            },
        
    
        
            {
            "src" : "/_upload/article/b0/26/ae45fd5d4e2392565985a486a4ee/22c2b279-5636-4404-878c-deb9ae6966d5_s.gif",
            "url" : "/2015/0716/c3594a25990/page.htm"
            }];
        
       
</script>
<script language="JavaScript">
        var w60imgUrl = new Array();
        var w60imgLink = new Array();

        var w60count = 0;
        var w60running = false;
        var w60index = 0;
        var w60nextAdTimer;
        var w60k = 0;
        function w60nextAd(num) {
            if (num >= 0 && num <= w60count - 1) {
                w60index = num;
                clearTimeout(w60nextAdTimer);
            } else {
                num = w60index;
            }
            if (w60index > w60count - 1) {
                w60index = 0;
            }
            if (!w60running) {
                w60running = true;

            } else if (document.all) {
                w60imgShow.filters.revealTrans.Transition = 50;
                w60imgShow.filters.revealTrans.apply();
                w60imgShow.filters.revealTrans.play();
            }
            document.getElementById('w60imgShow').src = w60imgUrl[w60index];
            document.getElementById('w60imgNumber').innerHTML = "";
            w60k = 0;
            for (var i = 0; i < w60count; i++) {
                w60k++;
                if (i !== w60index) {
                    document.getElementById('w60imgNumber').innerHTML += '<a href="javascript:w60nextAd(' + i + ')" class="nomal">' + w60k + '</a>';
                } else {
                    document.getElementById('w60imgNumber').innerHTML += '<a href="javascript:w60nextAd(' + i + ')" class="current">' + w60k + '</a>';
                }
            }
            w60index++;
            if (w60count > 1) {
                w60nextAdTimer = setTimeout("w60nextAd(-1)", 4000);
            }
        }

        function w60openWindow() {
            var jumpUrl = w60imgLink[w60index - 1];
            if (jumpUrl && jumpUrl != '') {
                window.open(jumpUrl);
            }
        }

        $().ready(function() {
            try {
                var objs = w60imgJsons;
                w60count = objs.length;
                if (w60count == 0) {
                    document.getElementById('w60imgShow').style.display = "none";
                    document.getElementById('w60imgNumber').style.display = "none";
                    return;
                }
                for (var i = 0; i < objs.length; i++) {
                    w60imgUrl[i] = objs[i].src;
                    w60imgLink[i] = objs[i].url;
                }
                w60nextAd(-1);
            } catch (e) {
            }
        });
</script>
          </div>
        
        </div>
        </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
    <div class="mod mod2">
      <div class="mc" frag="面板3">
        <div class="post post-3 mbox2" frag="窗口3">
          <div class="tt">
            <h3 class="tit"><span class="title" frag="标题">新闻快递</span></h3>
            <div class="more_btn" frag="按钮" type="更多"><a href="/3582/list.htm" class="w3_more"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span></a></div>
          </div>
          <div class="con">
            <div id="wp_news_w3"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='/_redirect?siteId=65&columnId=3582&articleId=84717' target='_blank' title='核心数学与组合数学教育部重点实验室召开2017年工作汇报会与学术委员会会议'>核心数学与组合数学教育部重点实验室召开...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2017-12-11</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i2"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>2</span> 
             <span class='Article_Title'><a href='/_redirect?siteId=65&columnId=3582&articleId=84716' target='_blank' title='龙以明院士获华罗庚数学奖'>龙以明院士获华罗庚数学奖</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2017-12-11</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i3"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>3</span> 
             <span class='Article_Title'><a href='http://news.nankai.edu.cn/nkyw/system/2015/07/07/000240914.shtml' target='_blank' title='龚克会见美国科学院院士Lawrence Brown教授'>龚克会见美国科学院院士Lawrence Brown教...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2015-08-06</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i4"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>4</span> 
             <span class='Article_Title'><a href='http://news.nankai.edu.cn/nkyw/system/2015/06/18/000238774.shtml' target='_blank' title='国际著名数学家田刚院士做客南开名人讲座'>国际著名数学家田刚院士做客南开名人讲座</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2015-08-06</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i5"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>5</span> 
             <span class='Article_Title'><a href='http://news.nankai.edu.cn/nkyw/system/2015/06/14/000237834.shtml' target='_blank' title='国际著名数学家丘成桐做客南开并演讲'>国际著名数学家丘成桐做客南开并演讲</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2015-08-06</span> 
              
         </div> 
     </li> 
      
</ul> 
</div> 

          </div>
        </div>
        <div class="post post-30 mbox2" frag="窗口30">
          <div class="tt">
            <h3 class="tit"><span class="title" frag="标题">科研动态</span></h3>
            <div class="more_btn" frag="按钮" type="更多"><a href="/3585/list.htm" class="w30_more"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span></a></div>
          </div>
          <div class="con">
            <div id="wp_news_w30"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='/2017/0401/c3585a59880/page.htm' target='_blank' title='张伟平院士在国际顶尖数学刊物《Annals of Mathematics》发表论文'>张伟平院士在国际顶尖数学刊物《Annals o...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2017-04-01</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i2"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>2</span> 
             <span class='Article_Title'><a href='/_redirect?siteId=65&columnId=3585&articleId=53694' target='_blank' title='陈永川教授、季青教授与博士研究生臧经涛共同完成的论文“Andrews-Dyson-Rhoades猜想的证明”入选“南开大学2015年度十大科技进展”'>陈永川教授、季青教授与博士研究生臧经涛...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2016-12-06</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i3"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>3</span> 
             <span class='Article_Title'><a href='/2015/0807/c3585a27233/page.htm' target='_blank' title=' Proof of the Andrews–Dyson–Rhoades conjecture on the spt-crank'> Proof of the Andrews–Dyson–Rhoades co...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2015-08-07</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i4"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>4</span> 
             <span class='Article_Title'><a href='/2015/0807/c3585a27232/page.htm' target='_blank' title='Geometric quantization for proper moment maps: the Vergne conjecture'>Geometric quantization for proper mome...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2015-08-07</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i5"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>5</span> 
             <span class='Article_Title'><a href='/2015/0807/c3585a27231/page.htm' target='_blank' title='Nonparametric Maximum Likelihood Approach to Multiple Change-point Problems'>Nonparametric Maximum Likelihood Appro...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2015-08-07</span> 
              
         </div> 
     </li> 
      
</ul> 
</div> 

          </div>
        </div>
      </div>
      <div class="mr" frag="面板4">
        <div class="post2 post2-3 mbox2" frag="窗口4">
          <div class="tt2">
            <h3 class="tit2"><span class="title2" frag="标题">学术报告</span></h3>
            <div class="more_btn" frag="按钮" type="更多"><a href="/text/list.htm" class="w4_more"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span></a></div>
          </div>
          <div class="con2">
            <div id="wp_news_w4"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='/_redirect?siteId=65&columnId=3592&articleId=53693' target='_blank' title='纪念陈省身先生诞辰 张伟平院士做学术报告'>纪念陈省身先生诞辰 张伟平院士做学术报...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2016-12-06</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i2"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>2</span> 
             <span class='Article_Title'><a href='/2015/1103/c3592a31586/page.htm' target='_blank' title='From Chern classes to virtual cycles, and beyond'>From Chern classes to virtual cycles, ...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2015-11-03</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i3"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>3</span> 
             <span class='Article_Title'><a href='/2015/1103/c3592a31585/page.htm' target='_blank' title='Dirichlet forms and applications'>Dirichlet forms and applications</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2015-11-03</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i4"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>4</span> 
             <span class='Article_Title'><a href='/2015/0923/c3592a28896/page.htm' target='_blank' title=' Estimates of Dirichlet Eigenvalues for Degenerate Elliptic Operators'> Estimates of Dirichlet Eigenvalues fo...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2015-09-23</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i5"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>5</span> 
             <span class='Article_Title'><a href='/2015/0923/c3592a28895/page.htm' target='_blank' title='Dehn手术与Floer同调 '>Dehn手术与Floer同调 </a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2015-09-23</span> 
              
         </div> 
     </li> 
      
</ul> 
</div> 

          </div>
        </div>
        <div class="post2 post2-40 mbox2" frag="窗口40">
          <div class="tt2">
            <h3 class="tit2"><span class="title2" frag="标题">学术会议</span></h3>
            <div class="more_btn" frag="按钮" type="更多"><a href="/3591/list.htm" class="w40_more"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span></a></div>
          </div>
          <div class="con2">
            <div id="wp_news_w40"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='/2016/1202/c3591a53555/page.htm' target='_blank' title='2016年度核心数学与组合数学教育部重点实验室工作汇报会和学术委员会会议'><font style='color:#0D0102;'>2016年度核心数学与组合数学教育部重点实...</font></a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2016-12-02</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i2"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>2</span> 
             <span class='Article_Title'><a href='/2015/0806/c3591a27209/page.htm' target='_blank' title='代数几何和物理中的模空间国际研讨会将于2015年9月13-18日在南开大学陈省身数学研究所举行'><font style='color:#0A0201;'>代数几何和物理中的模空间国际研讨会将于...</font></a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2015-08-06</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i3"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>3</span> 
             <span class='Article_Title'><a href='/2015/0806/c3591a27208/page.htm' target='_blank' title='“非线性偏微分方程在生命科学中应用”研讨会将于2015年8月3-7日在南开大学陈省身数学研究所举行'><font style='color:#050100;'>“非线性偏微分方程在生命科学中应用”研...</font></a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2015-08-06</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i4"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>4</span> 
             <span class='Article_Title'><a href='/2015/0722/c3591a26236/page.htm' target='_blank' title='数论中的计算问题研讨会（2015.7.26-8.1）'><font style='color:#0D0101;'>数论中的计算问题研讨会（2015.7.26-8.1...</font></a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2015-07-22</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i5"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>5</span> 
             <span class='Article_Title'><a href='/2015/0722/c3591a26235/page.htm' target='_blank' title='南开统计论坛-杰出校友会议'>南开统计论坛-杰出校友会议</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>2015-07-22</span> 
              
         </div> 
     </li> 
      
</ul> 
</div> 

          </div>
        </div>
      </div>
    </div>
    <div class="mod mod3">
      <div class="left-side">
      <h3 style="color: #7c205c; font-size:16px;  margin: 18px 15px;font-weight: normal;">南开邮箱</h3>
        <div class="logins">
          <form id="loginForm" target="_blank" method="post" action="http://nankai.edu.cn/coremail/index.jsp">
            <span class="input">
            <input type="text" id="loginUserName" name="uid" value="用户名" onfocus="if(value=='用户名') {value=''}" onblur="if (value=='') {value='用户名'}" />
            </span> <span class="input">
            <input type="password" id="loginPassword" name="password" value="请输入密码" onfocus="if(value=='请输入密码') {value=''}" onblur="if (value=='') {value='请输入密码'}" />
            </span> 
            <span class="sel"> <cite id="mailname">教工电子邮箱</cite> <a class="switch"></a>
            <ul class="mailslist">
              <li id="js">教工电子邮箱</li>
              <li id="xs">学生电子邮箱</li>
            </ul>
            <select name="loginSelect" id="loginSelect" class="mails">
              <option class="js" selected="selected" value="js">教工电子邮箱</option>
              <option class="xs" value="xs">学生电子邮箱</option>
            </select>
            </span> <span id="loginParas" style="display:none;"></span>
            <div class="sbt clearfix"><span class="sbt_r fr">
              <input name="action:login" type="submit"  value="登 录" />
              </span>
              </div>
          </form>
        </div>
        <div class="clear"></div>
      </div>
      <div class="lj" frag="面板50">
      <div class="post3 post3-50 mbox3" frag="窗口50">
        <div class="tt3">
          <h3 class="tit3"><span class="title3" frag="标题">友情链接</span></h3>
        </div>
        <div class="con3">
          <div id="wp_news_w50"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='http://www.moe.edu.cn/' target='_blank' title='教育部'>教育部</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i2"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>2</span> 
             <span class='Article_Title'><a href='http://www.most.gov.cn/' target='_blank' title='科技部'>科技部</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i3"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>3</span> 
             <span class='Article_Title'><a href='http://www.nsfc.gov.cn/' target='_blank' title='国家自然科学基金委'>国家自然科学基金委</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i4"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>4</span> 
             <span class='Article_Title'><a href='http://std.nankai.edu.cn/' target='_blank' title='南开大学科技处'>南开大学科技处</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i5"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>5</span> 
             <span class='Article_Title'><a href='http://rsc.nankai.edu.cn/index.html' target='_blank' title='南开大学人事处'>南开大学人事处</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
</ul> 
</div> 

        </div>
      </div>
      </div>
    </div>
    <div class="mod mod4">
      <div class="nav"  frag="面板6">
        <div class="box" frag="窗口6">
          <div id="wp_nav_w6"> 

 
<ul class="wp_nav" data-nav-config="{drop_v: 'down', drop_w: 'right', dir: 'y', opacity_main: '1', opacity_sub: '0.8', dWidth: '0'}">
      
     <li class="nav-item i1 "> 
         <a href="http://www.nankai.edu.cn/" title="南开大学" target="_self"><span class="item-name">南开大学</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i2 "> 
         <a href="http://sms.nankai.edu.cn/" title="南开大学数学科学学院" target="_self"><span class="item-name">南开大学数学科学学院</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i3 "> 
         <a href="http://www.nim.nankai.edu.cn/" title="陈省身数学研究所" target="_self"><span class="item-name">陈省身数学研究所</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i4 "> 
         <a href="http://www.combinatorics.net.cn/" title="组合数学中心" target="_self"><span class="item-name">组合数学中心</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i5 "> 
         <a href="http://stat.nankai.edu.cn/" title="统计研究院" target="_self"><span class="item-name">统计研究院</span></a><i class="mark"></i> 
          
     </li> 
      
</ul> 
 
 
 </div>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
</div>
<div class="wrapper" id="footer">
  <div class="inner">
    <div class="foot">
      <p>©教育部核心数学与组合数学重点实验室 天津市卫津路94号 [300071]</p>
    </div>
  </div>
</div>
</body>
<script type="text/javascript" src="/_upload/tpl/00/7f/127/template127/js/main.js"></script>
</html>
 <image src="/_visitcount?siteId=65&type=1&columnId=3563" style="display:none" width="0" height="0"></image>