<base href="http://news.nankai.edu.cn/zhxw/system/2012/04/01/000061419.shtml"><HTML>
<HEAD>
<title>【视频】南开大学开通校园手机报--综合新闻</title>

<style type="text/css">
<!--
body {
	background-color: #e6e7e9;
}

-->
</style></HEAD>
<BODY LEFTMARGIN=0 TOPMARGIN=0 MARGINWIDTH=0 MARGINHEIGHT=0>


<body>
<div align="center">
  <table width="950" border="0" cellspacing="0" bgcolor="#FFFFFF">
    <tr valign="bottom" bgcolor="#FFFFFF">
      <td colspan="4" height="120"><div id="logo">
<!--enorth cms{ banner }enorth cms-->
<style>
#logo{ height:120px;}
		#logo p{background:#fff url(http://news.nankai.edu.cn/images/banner/1.jpg) no-repeat left top;height:35px; font:1.1em "微软雅黑","宋体",sans-serif;text-align:right;  padding:6px 40px 2px 0;}
		#logo p a{color:#eec0e8;}
		#logo img{float:left;}
		#logo #nav{padding-top:20px;}
		#logo #nav td{text-align:left;height:25px;}
		#logo #nav td a{width:30px;}
		#logo em{ padding-left:15px;}
		#logo #nav td em a{color:#08476a;font:normal bold 1.2em "微软雅黑","宋体",sans-serif;width:60px;}
		#logo a{font:normal 1.1em "微软雅黑","宋体",sans-serif;}
</style>
<p><a href="http://news.nankai.edu.cn/">返回首页</a></p>
<img src="http://news.nankai.edu.cn/images/banner/3.jpg" width="250" height="81" />
<div id="nav">
<table width="660" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td><em><a href="http://www.nankai.edu.cn/" target="_blank">南开大学</a></em></td>
   <td><a href="http://xb.nankai.edu.cn" target="_blank">办公</a></td>
    <td><a href="http://zsb.nankai.edu.cn/" target="_blank">招生</a></td>
    <td><a href="http://career.nankai.edu.cn/" target="_blank">就业</a></td>
    <td><a href="http://222.30.32.3/" target="_blank">教务</a></td>
    <td><a href="http://std.nankai.edu.cn/" target="_blank">科技</a></td>
    <td><a href="http://www.lib.nankai.edu.cn/" target="_blank">图书</a></td>
<td><em><a href="http://urp.nankai.edu.cn/" target="_blank">信息门户</a></em></td>
    <td><a href="http://movie.nankai.edu.cn/" target="_blank">影视</a></td>
    <td><a href="http://soft.nankai.edu.cn/" target="_blank">软件</a></td>
    <td><a href="http://nod32.nankai.edu.cn/" target="_blank">杀毒</a></td>
    <td><a href="http://www.nankai.edu.cn/wangguan.htm" target="_blank">网关</a></td>
    <td><a href="http://nankai.edu.cn/" target="_blank">邮箱</a></td>
    <td><a href="http://news.nankai.edu.cn/2009ban.htm" target="_blank">旧版</a></td>
    </tr>
  <tr>
    <td><em><a href="http://news.nankai.edu.cn/nkyw/" target="_blank">南开要闻</a></em></td>
    <td><a href="http://news.nankai.edu.cn/zhxw/" target="_blank">综合</a></td>
    <td><a href="http://news.nankai.edu.cn/qqxy/" target="_blank">校园</a></td>
    <td><a href="http://news.nankai.edu.cn/xwzt/system/2010/03/07/000028950.shtml" target="_blank">专题</a></td>
    <td><a href="http://news.nankai.edu.cn/nkpl/" target="_blank">评论</a></td>
    <td><a href="http://news.nankai.edu.cn/xsjw/" target="_blank">学术</a></td>
    <td><a href="http://news.nankai.edu.cn/nkrw/" target="_blank">人物</a></td>
   <td><em><a href="http://xcb.nankai.edu.cn/index.htm" target="_blank"> 新闻中心</a></em></td>
    <td><a href="http://weekly.nankai.edu.cn" target="_blank">校报</a></td>
    <td><a href="http://jw.nankai.edu.cn/" target="_blank">觉悟</a></td>
    <td><a href="http://nktv.nankai.edu.cn/" target="_blank">电视</a></td>
    <td><a href="http://radio.nankai.edu.cn/" target="_blank">广播</a></td>
    <td><a href="http://bbs.nankai.edu.cn/" target="_blank">BBS</a></td>
    <td><a href="http://news.nankai.edu.cn/bkgz/weiboindex.html" target="_blank">微博</a></td>
    </tr>
</table>
</div>
<!--enorth cms{ banner }enorth cms-->
</div>        </td>
    </tr>
    <tr valign="top" bgcolor="#FFFFFF">
      <td colspan="4"><table width="950" border="0" cellspacing="0" cellpadding="0">
        <tr bgcolor="CCCDCF">
          <td width="45" height="23">&nbsp;</td>
          <td width="581" height="23">
<!--function position() parse begin-->
您当前的位置 ：<a href=http://news.nankai.edu.cn/zhxw/>综合新闻</a>&nbsp;正文
<!--function: position() parse end  0ms cost! -->
 </td>
          <td width="324" height="23" valign="middle"><div align="center">
<!--enorth cms{ baidu }enorth cms-->
			 <!--Baidu站内搜索开始-->
<script language="javascript">
function baidusearch () {
var wd=document.getElementsByName("wd")[0].value;
var link="http://www.baidu.com/s?si=news.nankai.edu.cn&cl=3&ct=2097152&tn=baidulocal&word="+wd;
window.open(link); }
</script>
<input type="text" name="wd"/><input type="submit" onclick="javascript:baidusearch()" value="新闻网搜索" />
<!--Baidu站内搜索结束-->
<!--enorth cms{ baidu }enorth cms-->

             </div></td>
        </tr>
        <tr>
          <td colspan="3"><img src="http://news.nankai.edu.cn/images/jiewei/position.jpg" width="950" height="15"></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td width="694"><div align="left">　</div></td>
      <td width="3" rowspan="3"><div align="left">
        </div></td>
      <td width="4" rowspan="3" background="http://news.nankai.edu.cn/images/xian2.jpg">&nbsp;</td>
      <td width="245" rowspan="3" valign="top"><div align="center">
<!--enorth cms{ bianlan }enorth cms-->
<HTML>
<HEAD>
<TITLE>南开新闻网</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=gb2312">
<link href="http://news.nankai.edu.cn/css/index.css" rel="stylesheet" type="text/css">
</HEAD>
<BODY BGCOLOR=#FFFFFF LEFTMARGIN=0 TOPMARGIN=0 MARGINWIDTH=0 MARGINHEIGHT=0>

<style type="text/css">
<!--

-->
</style>
<table width="240" border="0">
  <tr>
    <td valign="top"><a href="http://news.nankai.edu.cn/xwzt/system/2010/03/07/000028950.shtml"><img src="http://news.nankai.edu.cn/images/bianlan/1.jpg" width="233" height="25" border="0"></a></td>
  </tr>
  <tr>
    <td>
<!--function guide_model(zttj,1,1,1,/template/zhuantidaodu.htm) parse begin-->
<table width="100%"  >
<tr><td ><style type="text/css">
<!--
.STYLE10 {color: #FF0000}
.STYLE9 {font-size: 13px; }
.style12 {color: #FF0000; font-weight: bold; }
.style13 {color: #000000}
-->
</style>
<table width="244"  border="0">
  <tr>
    <td width="101" rowspan="2"><a href="http://news.nankai.edu.cn/xwzt/system/2012/03/14/000057998.shtml" target="_blank"><img src="http://news.nankai.edu.cn/pic/0/00/03/46/34625_063389.jpg" width="100" height="100" border="0"></a></td>
    <td width="56%" valign="top"><div align="center">
      <p align="left"><span class="style12"><a href="http://news.nankai.edu.cn/xwzt/system/2012/03/14/000057998.shtml"   target="_blank" ><b><font color=#000000>纪念陈茹玉先生</font></b></a></span></p>
      </div></td>
  </tr>
  <tr>
    <td valign="top"><span class="style13">&nbsp;&nbsp;中国科学院院士、南开大学教授陈茹玉同志因病医治无效，于2012年3月11日3时45分在天津逝世。 

</span></td>
  </tr>
</table>
</td></tr>
</table>

<!--function: guide_model(zttj,1,1,1,/template/zhuantidaodu.htm) parse end  16ms cost! -->
</td>
  </tr>
  <tr>
    <td>
<!--function guide_model(xyrd,1,1,1,/template/zhuantidaodu.htm) parse begin-->
<table width="100%"  >
<tr><td ><style type="text/css">
<!--
.STYLE10 {color: #FF0000}
.STYLE9 {font-size: 13px; }
.style12 {color: #FF0000; font-weight: bold; }
.style13 {color: #000000}
-->
</style>
<table width="244"  border="0">
  <tr>
    <td width="101" rowspan="2"><a href="http://news.nankai.edu.cn/xwzt/system/2012/04/01/000061354.shtml" target="_blank"><img src="http://news.nankai.edu.cn/pic/0/00/03/62/36224_133690.jpg" width="100" height="100" border="0"></a></td>
    <td width="56%" valign="top"><div align="center">
      <p align="left"><span class="style12"><a href="http://news.nankai.edu.cn/xwzt/system/2012/04/01/000061354.shtml"   target="_blank" ><b><font color=#800000>“我爱南开”BBS十七周年站庆</font></b></a></span></p>
      </div></td>
  </tr>
  <tr>
    <td valign="top"><span class="style13">&nbsp;&nbsp;今年5月27日是“我爱南开”BBS站庆17周年，同时新版“我爱南开”BBS站也将推出。</span></td>
  </tr>
</table>
</td></tr>
</table>

<!--function: guide_model(xyrd,1,1,1,/template/zhuantidaodu.htm) parse end  31ms cost! -->
</td>
  </tr>
  <tr>
    <td> </td>
  </tr>
  <tr>
    <td><img src="http://news.nankai.edu.cn/images/bianlan/2.jpg" width="233" height="25"></td>
  </tr>
  <tr>
    <td>
<!--function guide5($hot7_0,1,10,false,·,none,none,none) parse begin-->
<table width="100%"  >
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/nkyw/system/2012/03/29/000061014.shtml"   target="_blank" >校领导会见中国移动通信集团天津有限公司董事长</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/nkyw/system/2012/03/25/000060394.shtml"   target="_blank" >市领导来校推动西南村环境治理工作</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/nkyw/system/2012/03/26/000060439.shtml"   target="_blank" >南开与牛津大学奥利尔学院签署夏令营项目协议</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/nkyw/system/2012/03/26/000060540.shtml"   target="_blank" >南开大学冬季长跑团体赛举行</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/gnjt/system/2012/03/29/000060940.shtml"   target="_blank" >孙立群：从司马到司马（五）父子专权</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/nkyw/system/2012/03/27/000060659.shtml"   target="_blank" >新疆喀什师范学院代表团访问南开大学</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/nkyw/system/2012/03/26/000060575.shtml"   target="_blank" >学校召开会议研讨绩效考核工作</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/nkyw/system/2012/03/26/000060475.shtml"   target="_blank" >第19届北京大学生电影节·南开电影论坛开幕</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/nkyw/system/2012/03/27/000060658.shtml"   target="_blank" >校领导到生命科学学院调研</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/nkyw/system/2012/03/29/000060937.shtml"   target="_blank" >学校聘任九位旅游管理硕士兼职导师</a></td></tr>
</table>

<!--function: guide5($hot7_0,1,10,false,·,none,none,none) parse end  31ms cost! -->
</td>
  </tr>
</table>

<!--enorth cms{ bianlan }enorth cms-->
</div></td>
    </tr>
    <tr>
      <td valign="top"><div align="left">
        <table width="85%" border="0" align="center" cellpadding="2" cellspacing="0">
          <tr>
            <td><div align="center"><span class="title">【视频】南开大学开通校园手机报 </span></div></td>
          </tr>
          <tr>
            <td><div align="center">来源：
<!--function source_without_pub_date() parse begin-->
<a href="http://news.nankai.edu.cn"  target="_blank" >南开新闻网</a>
<!--function: source_without_pub_date() parse end  16ms cost! -->
　发稿时间：
<!--function pub_date() parse begin-->
2012-04-01 16:00
<!--function: pub_date() parse end  0ms cost! -->
</div></td>
          </tr>
          <tr>
            <td><hr width="95%" size="1" noshade></td>
          </tr>
          <tr>
            <td><span class="main">
<!--function content() parse begin-->
<p style="text-align: center"><object align="middle" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=8,0,0,0" height="400" id="flvplay" name="flvplay" width="500"><param name="allowScriptAccess" value="sameDomain" /><param name="movie" value="http://news.nankai.edu.cn/sys/player.swf?autostart=true&amp;file=http://news.nankai.edu.cn/att_flv/0/00/03/62/36267_898521.flv" /><param name="quality" value="high" /><param name="bgcolor" value="#ffffff" /><param name="PLAY" value="true" /><param name="allowFullScreen" value="true" /></object></p>
<!--advertisement code begin--><!--advertisement code end-->
<!--function: content() parse end  0ms cost! -->
 </span></td>
          </tr>
          <tr>
            <td><div align="right"><span class="main"><font class="p12" color="#0000FF">编辑</font>：<span class="p12">
<!--function init_editor() parse begin-->
冀宁
<!--function: init_editor() parse end  0ms cost! -->
</span></span></div></td>
          </tr>
          <tr>
            <td><div align="right"><span class="main">
<!--enorth cms{ fenxiang }enorth cms-->
<div id="ckepop">
	<a href="http://www.jiathis.com/share/" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank">分享南开大学新闻</a>
	
</div>
<script type="text/javascript" src="http://v1.jiathis.com/code/jia.js" charset="utf-8"></script>


<a rel="nofollow" class="fav_renren" href="javascript:window.open('http://share.renren.com/share/buttonshare.do?link='+encodeURIComponent(document.location.href)+'&title='+encodeURIComponent(document.title));void(0)"><img src="http://news.nankai.edu.cn/pic/0/00/01/56/15682_674486.gif" alt="分享到校内人人网" border="0" height="16" width="16"></a>

<a href="javascript:d=document;t=d.selection?(d.selection.type!='None'?d.selection.createRange().text:''):(d.getSelection?d.getSelection():'');void(kaixin=window.open('http://www.kaixin001.com/~repaste/repaste.php?&rurl='+escape(d.location.href)+'&rtitle='+escape(d.title)+'&rcontent='+escape(d.title),'kaixin'));kaixin.focus();"><img src="http://news.nankai.edu.cn/pic/0/00/01/56/15680_952007.gif" alt="转贴到开心网" border="0" height="16" width="16"></a> 

<a rel="nofollow" class="fav_douban" href="javascript:window.open('http://www.douban.com/recommend/?url='+encodeURIComponent(document.location.href)+'&title='+encodeURIComponent(document.title));void(0)"><img src="http://news.nankai.edu.cn/pic/0/00/01/51/15182_250795.jpg" alt="分享到豆瓣" border="0" ></a>

<a href=javascript:window.open('http://shuqian.qq.com/post?from=3&title='+encodeURIComponent(document.title)+'&uri='+encodeURIComponent(document.location.href)+'&jumpback=2&noui=1','favit','');void(0)><img src="http://news.nankai.edu.cn/pic/0/00/01/56/15681_256819.gif" alt="QQ书签" border="0" height="16" width="16"></a> 

<a href="javascript:u=location.href;t=document.title;c = %22%22 + (window.getSelection ? window.getSelection() : document.getSelection ? document.getSelection() : document.selection.createRange().text);var url=%22http://cang.baidu.com/do/add?it=%22+encodeURIComponent(t)+%22&iu=%22+encodeURIComponent(u)+%22&dc=%22+encodeURIComponent(c)+%22&fr=ien#nw=1%22;window.open(url,%22_blank%22,%22scrollbars=no,width=600,height=450,left=75,top=20,status=no,resizable=yes%22); void 0"><img src="http://news.nankai.edu.cn/pic/0/00/01/56/15678_117863.gif" alt="百度搜藏" border="0" height="16" width="16"></a> 

<a href="javascript:(function(){var a=window,b=document,c=encodeURIComponent,d=a.open('http://www.google.com/bookmarks/mark?op=edit&output=popup&bkmk='+c(b.location)+'&title='+c(b.title),'bkmk_popup','left='+((a.screenX||a.screenLeft)+10)+',top='+((a.screenY||a.screenTop)+10)+',height=420px,width=550px,resizable=1,alwaysRaised=1');a.setTimeout(function(){d.focus()},300)})();"><img src="http://news.nankai.edu.cn/pic/0/00/01/56/15679_771924.gif" alt="Google书签" border="0" height="16" width="16"></a> 

<a target=_self href="javascript:d=document;t=d.selection?(d.selection.type!='None'?d.selection.createRange().text:''):(d.getSelection?d.getSelection():'');void(vivi=window.open('http://vivi.sina.com.cn/collect/icollect.php?pid=free9.net&title='+escape(d.title)+'&url='+escape(d.location.href)+'&desc='+escape(t),'vivi','scrollbars=no,width=480,height=480,left=75,top=20,status=no,resizable=yes'));vivi.focus();" target="_blank"><img src="http://news.nankai.edu.cn/pic/0/00/01/56/15683_985673.gif" alt="新浪ViVi" border="0" height="16" width="16"></a> 

<a href="#" onclick="window.open('http://myweb.cn.yahoo.com/popadd.html?url='+encodeURIComponent(document.location.href)+'&title='+encodeURIComponent(document.title), 
'Yahoo','scrollbars=yes,width=780,height=550,left=80,top=80,status=yes,resizable=yes');"><img src="http://news.nankai.edu.cn/pic/0/00/01/56/15684_390636.gif" alt="雅虎收藏" border="0" height="16" width="16"></a> 

<script type="text/javascript">document.write('<iframe frameborder="0" scrolling="no" src="http://hits.sinajs.cn/A1/weiboshare.html?url=%url%&appkey=&type=3" width="16" height="16"></iframe>'.replace(/%url%/,encodeURIComponent(location.href)));</script>
<!--enorth cms{ fenxiang }enorth cms-->
</span></div></td>
          </tr>
          <tr>
            <td><span class="main"><strong>相关新闻：</strong></span></td>
          </tr>
          <tr>
            <td><span class="main">
<!--function link(down,1,10,none,none,class=ss,none) parse begin-->

<!--function: link(down,1,10,none,none,class=ss,none) parse end  0ms cost! -->
 </span></td>
          </tr>
        </table>
      </div></td>
    </tr>
    <tr>
      <td><div align="center"><br>
        <br>
        <br>
      </div></td>
    </tr>
    <tr>
      <td colspan="4"><div id="footer">
<!--enorth cms{ jiewei }enorth cms-->
<style>
#footer{background-color:#E6E7E9; border-top:4px solid #E6E7E9;text-align:center;}
#footer #friends{background:#fff;padding:8px 50px 8px 50px; text-align:left;margin-bottom:10px;}
#footer p{font-size: 1.2em;}
</style>
<div id="friends">
  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
          <td><img src="http://news.nankai.edu.cn/images/banner/gaoxiao.jpg" width="91" height="32"></td>
          <td><a href="http://pkunews.pku.edu.cn/" target="_blank">北京大学</a> | <a href="http://news.tsinghua.edu.cn/new/" target="_blank">清华大学</a> | <a href="http://news.ruc.edu.cn/" target="_blank">人民大学</a> | <a href="http://news.fudan.edu.cn" target="_blank">复旦大学</a> | <a href="http://news.tongji.edu.cn/" target="_blank">同济大学</a> | <a href="http://news.bnu.edu.cn/Index.html" target="_blank">北师大</a> | <a href="http://xjtunews.xjtu.edu.cn/" target="_blank">西安交大</a> | <a href="http://www.news.zju.edu.cn" target="_blank">浙江大学</a> | <a href="http://www.sjtu.edu.cn/news/" target="_blank">上海交大</a> |  <a href="http://news.sysu.edu.cn/new/index.php"> </a><a href="http://news.hustonline.net/" target="_blank">华中科大</a> | <a href="http://news2.sysu.edu.cn/" target="_blank">中山大学</a></td>
    </tr>
        <tr>
          <td> </td>
          <td><a href="http://www.tju.edu.cn/newscenter/" target="_blank">天津大学</a> | <a href="http://news.whu.edu.cn/" target="_blank">武汉大学</a> | <a href="http://www.xmu.edu.cn/news/annlist.asp" target="_blank">厦门大学</a> |  <a href="http://www.view.sdu.edu.cn/" target="_blank">山东大学</a> | <a href="http://www.scu.edu.cn/news/" target="_blank">四川大学</a> | <a href="http://news.hit.edu.cn/" target="_blank">哈工大</a> |  <a href="http://news.nju.edu.cn/" target="_blank">南京大学</a> | <a href="http://www.hku.hk/" target="_blank">香港大学</a> | <a href="http://www.cuhk.edu.hk/english/index.html" target="_blank">香港中文大学</a> | <a href="http://www.ust.hk/gb/news/index.php" target="_blank">香港科技大学</a></td>
        </tr>
        <tr>
          <td><img src="http://news.nankai.edu.cn/images/banner/media.jpg" width="91" height="32"></td>
          <td><a href="http://www.people.com.cn" target="_blank">人民网</a> | <a href="http://www.xinhua.org" target="_blank">新华网</a> | <a href="http://www.gmw.com.cn" target="_blank">光明网</a> | <a href="http://www.cyol.net/" target="_blank">中青在线</a> | <a href="http://www.enorth.com.cn" target="_blank">北方网 </a> | <a href="http://www.cctv.com" target="_blank">央视</a> | <a href="http://www.cnr.cn/" target="_blank">中广网</a> | <a href="http://www.ifeng.com/" target="_blank">凤凰网</a> | <a href="http://epaper.tianjindaily.com.cn/" target="_blank">天津网</a>| <a href="http://ssic.cass.cn" target="_blank">中国社科杂志社</a> | <a href="http://www.sciencetimes.com.cn/" target="_blank">科学网</a> |<a href="http://www.china.com/zh_cn/" target="_blank">中国网</a> | <a href="http://www.chinaedu.edu.cn/" target="_blank">教育信息网</a></td>
        </tr>
  </table>
  </div>
 <p>
 本网站由南开大学新闻中心 设计维护 Copyright&copy;2010<br>
新闻热线：022-23508737 投稿信箱：nknews@nankai.edu.cn <br>
              <strong>网站总访问量: <script src=http://work2.enorth.com.cn:7001/jianzhancounter/jishu?webid=456&counterp=p></script>人次</strong>
			  <br>
	          <strong>津ICP备 05003116 号</strong>
</p>	

<!--enorth cms{ jiewei }enorth cms-->
</div></td>
    </tr>
  </table>
</div>
</body>
</html>
<!--<page cms="enorth webpublisher"  version="5.0.0 /2011101201" server_name="svctag-f76553x" parse_date="2012-04-01 16:00:48" cost="172" parse_result="0" input_mode="manual"></page>-->