<base href="http://www.nkup.com.cn/"><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<title>南开大学出版社</title>
<link type="text/css" href="/Css/index.css" rel="stylesheet" />
<script language="javascript" src="/Scripts/jQuery.js"></script>
<script language="javascript" src="/Scripts/subNav.js"></script>

<script type="text/javascript">
$(document).ready(function() {
	$('.mainNav').subNav({
		speed:100,
		slide:true,
		hover:true,
		current:"home"
	});
});
</script>

</head>
<body>

 <div id="container">
 
	<!-- Header Begin -->
	<div class="header" >
		<div class="logo"><img alt="南开大学出版社" src="/Images/icons/logo.jpg" /></div>
		<div class="logo_right"></div>
		
		<ul id="mainNav" class="mainNav">
			<li class="home"><a href="/"></a></li>
			<li class="about"><a href="/?list-1338.html"></a>
				<ul>
<li class="sub_nav_left"></li>

<li>
<a href='/?list-1338.html'>出版社概况</a>
</li>

<li>
<a href='/?list-1339.html'>组织机构</a>
</li>

<li>
<a href='/?list-1340.html'>出版队伍</a>
</li>

<li class="sub_nav_right"></li>
</ul>
			</li>
			<li class="news"><a href="/?list-1345.html"></a>
				<ul>
<li class="sub_nav_left"></li>

<li>
<a href='/?list-1345.html'>行业新闻</a>
</li>

<li>
<a href='/?list-1346.html'>本社新闻</a>
</li>

<li>
<a href='/?list-1410.html'>党群建设</a>
</li>

<li class="sub_nav_right"></li>
</ul>
			</li>
			<li class="product"><a href="/?list-1349.html"></a>
				<ul>
<li class="sub_nav_left"></li>

<li>
<a href='/?list-1349.html'>专业分类</a>
</li>

<li>
<a href='/?list-1350.html'>业务分类</a>
</li>

<li class="sub_nav_right"></li>
</ul>
			</li>
			<li class="pingshu"><a href="/?list-1351.html"></a></li>
			<li class="fuwu"><a href="/?list-1353.html"></a>
				<ul>
<li class="sub_nav_left"></li>

<li>
<a href='/?list-1353.html'>服务理念</a>
</li>

<li>
<a href='/?list-1354.html'>购书指南</a>
</li>

<li>
<a href='/?list-1355.html'>留言板</a>
</li>

<li class="sub_nav_right"></li>
</ul>
			</li>
			<li class="download"><a href="/?list-1356.html"></a>
				<ul>
<li class="sub_nav_left"></li>

<li>
<a href='/?list-1372.html'>书目下载</a>
</li>

<li>
<a href='/?list-1373.html'>课件下载</a>
</li>

<li class="sub_nav_right"></li>
</ul>
			</li>
			<li class="contact"><a href="/?list-1357.html"></a></li>
		</ul>
		<!--mainNav-->
	</div><!--header-->
	<!-- Header End -->

	<!-- Banner Begin -->
	<div class="banner">
		<img alt="南开大学出版社" src="/Images/icons/banner.jpg" />
	</div>
	<!-- Banner End -->

	<!-- Page Body Begin -->
	<div class="page_body">
      <div class="side_left">
        <div class="class">
          <div class="class_title"></div>
          <div class="class_content">
            <ul>
		<li><a href="http://shop.nkcloud.net/" id="20140662134338">数字出版物</a></li><li><a href="/?list-1360.html" id="20112816906826">普通高等教育“十一五”国家级规划教材 </a></li><li><a href="/?list-1361.html" id="20116364975483">经济、管理 </a></li><li><a href="/?list-1362.html" id="20112536891990">计算机类 </a></li><li><a href="/?list-1363.html" id="20112043145764">历史、哲学、社会学、心理学、法律 </a></li><li><a href="/?list-1364.html" id="20116653573591">旅游类 </a></li><li><a href="/?list-1365.html" id="20119681492768">数学、物理、化学、生物、医药 </a></li><li><a href="/?list-1366.html" id="20118912016777">外语类 </a></li><li><a href="/?list-1367.html" id="20114253119854">现代项目管理、工程管理 </a></li><li><a href="/?list-1368.html" id="20118870332352">语言、文学、文化艺术 </a></li><li><a href="/?list-1369.html" id="20118758006282">学前教育</a></li><li><a href="/?list-1370.html" id="20110023858144">政治理论、南开人文库及其他社会科学 </a></li>
            </ul>
          </div>
          <!--class_content-->
        </div>
        <!--class-->
        <div class="top">
          <div class="top_title"></div>
          <div class="top_content">
            <ul>
		 
 <li><a href="/?info-1261-111.html">旅游法教程（第二版）</a></li>
 
 <li><a href="/?info-978-111.html">现代西方经济学教程（上）（第</a></li>
 
 <li><a href="/?info-726-111.html">日本文化概论（第二版）</a></li>
 
 <li><a href="/?info-657-111.html">日本国家概况（第二版）</a></li>
 
 <li><a href="/?info-344-111.html">上机考试习题集（二级Accas</a></li>
 
 <li><a href="/?info-343-111.html">上机考试习题集（二级Java语</a></li>
 
 <li><a href="/?info-342-111.html">上机考试习题集（二级C++语</a></li>
 
 <li><a href="/?info-341-111.html">上机考试习题集（二级Visua</a></li>
 
 <li><a href="/?info-340-111.html">上机考试习题集（二级Visua</a></li>
 
 <li><a href="/?info-339-111.html">上机考试习题集（二级C语言</a></li>
 
 <li><a href="/?info-338-111.html">上机考试习题集（一级）（201</a></li>

            </ul>
            <a class="more" href="/?list-1348.html">>>更多</a> </div>
        </div>
        <!--top-->
        <div class="links">
          <div class="links_title"></div>
          <div class="links_content">  
<a href="https://nkdxcbs.tmall.com/index.htm?spm=a1z10.1-b.w5002-13062173458.2.7Q49S1">本社天猫旗舰店</a>
 
<a href="http://www.nkcloud.org">本社数字出版中心</a>
 
<a href="http://www.nankai.edu.cn/">南开大学</a>
 </div>
        </div>
        <!--links-->
      </div>
	  <!--side_left-->
      <div class="side_right">
        <div class="right_top">
          <div class="news">
            <div class="news_title"><a href="/?list-1345.html">>>更多</a></div>
            <div class="news_content">
              <div class="small_banner"> <script src="/JS/loadflash.js" type="text/javascript"></script>
<script language="JavaScript" type="text/javascript">
<!--
var focus_width=472;
var focus_height=193;
var text_height=0;
var pics='/UploadFiles/2017-08/admin/2017081411192456407.jpg|/UploadFiles/2017-08/admin/2017081411185561485.jpg|/UploadFiles/2014-12/admin/2014121017321273138.jpg';
var links=escape('/?info-80-114.html|/?info-79-114.html|/?info-78-114.html');
var texts='倡树文明|社会主义核心价值|3';
LoadFlash('/JS/Slideviewer.swf','transparent',focus_width,focus_height+text_height,'pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+focus_width+'&borderheight='+focus_height+'&textheight='+text_height);
//-->
</script>
 </div>
              <!--small_banner-->
              <ul class="news_list">
                 
 <li><a href="/?info-494-1.html">《秀山堂》科技与出版融合发展重</a><span>[2018-06-22]</span></li>
 
 <li><a href="/?info-493-1.html">多民族玻利维亚总统莫拉莱斯自传</a><span>[2018-06-22]</span></li>
 
 <li><a href="/?info-492-1.html">玻利维亚总统莫拉莱斯到访中国社</a><span>[2018-06-21]</span></li>
 
 <li><a href="/?info-491-1.html">多民族玻利维亚总统莫拉莱斯自传</a><span>[2018-06-21]</span></li>
 
 <li><a href="/?info-490-1.html">坚定文化自信&nbsp;&nbsp;谱写阅读华章</a><span>[2018-05-25]</span></li>

              </ul>
            </div>
          </div>
          <!--news-->
          <div class="news_right">
            <div class="search">
              <div class="search_title"></div>
              <div class="search_content">
			<form id="form1" method="post" action="/plus/search_index.asp">
                  <input name="keyword" type="text" class="txt" />
                  <select name="select" class="sel" style="margin-right:0px;" >
                    <option value="1">书名</option>
                    <option value="2">作者</option>
                    <option value="3">ISBN</option>
                  </select>
		<input type="hidden" value="111" name="ChannelID" />
                  <input name="image" type="image" class="img" src="/Images/icons/a_bg.jpg"
style="margin:0px;"/>
                </form>
              </div>
            </div>
            <!--search-->
            <div class="message">
              <div class="message_title"></div>
              <div class="message_content">
                <ul>
			<li><span class="ask">贵公司的服务流程是什么？</span><li><span class="ask">贵公司的服务理念是什么？</span><li><span class="ask">贵公司地址在哪里？</span><li><span class="ask">是否可以下载资源？</span><li><span class="ask">请问有没有政治理论、南开人文...</span>
                </ul>
                <a class="more" href="/?list-1375.html">>>更多</a> </div>
            </div>
            <!--message-->
          </div>
          <!--news_right-->
        </div>
        <!--right_top-->
	<div class="fu_tuijian">
        	<div id="box" class="tuijian">
          	<div class="tuijian_fudong"></div>
          	<!--foreach-->
		 
<div class="tuijian_list"> 
<a href="/?info-2606-111.html"><img src="/UploadFiles/2018-07/admin/2018071316382577439.jpg" /></a>
 <a class="title" href="/?info-2606-111.html">深度学习的探索之路</a>
 <a class="name" href="/?info-2606-111.html">刘哲雨</a><br />
 <a class="price" href="/?info-2606-111.html">48.00</a> 
</div>
 
<div class="tuijian_list"> 
<a href="/?info-2605-111.html"><img src="/UploadFiles/2018-07/admin/2018071316393334782.jpg" /></a>
 <a class="title" href="/?info-2605-111.html">国家治理现代化与中共党史党建</a>
 <a class="name" href="/?info-2605-111.html">张静如  刘景泉</a><br />
 <a class="price" href="/?info-2605-111.html">68.00</a> 
</div>
 
<div class="tuijian_list"> 
<a href="/?info-2604-111.html"><img src="/UploadFiles/2018-07/admin/2018071316403028245.jpg" /></a>
 <a class="title" href="/?info-2604-111.html">给孩子起个好名字</a>
 <a class="name" href="/?info-2604-111.html">李正明</a><br />
 <a class="price" href="/?info-2604-111.html">39.00</a> 
</div>
 
<div class="tuijian_list"> 
<a href="/?info-2418-111.html"><img src="/UploadFiles/2016-11/admin/2016111517103193512.jpg" /></a>
 <a class="title" href="/?info-2418-111.html">艺苑朝华附《木刻纪程》（鲁迅编辑版画</a>
 <a class="name" href="/?info-2418-111.html">鲁迅    刘运峰校订</a><br />
 <a class="price" href="/?info-2418-111.html">99.80</a> 
</div>
 
<div class="tuijian_list"> 
<a href="/?info-2417-111.html"><img src="/UploadFiles/2016-10/admin/2016102716213786889.jpg" /></a>
 <a class="title" href="/?info-2417-111.html">媒体报道语言中的“一带一路”</a>
 <a class="name" href="/?info-2417-111.html">邢欣 李影 张美涛 等</a><br />
 <a class="price" href="/?info-2417-111.html">68.00</a> 
</div>
 
<div class="tuijian_list"> 
<a href="/?info-2416-111.html"><img src="/UploadFiles/2016-10/admin/2016101915013612005.jpg" /></a>
 <a class="title" href="/?info-2416-111.html">近二十年中国文艺思潮论1917-1937（南开</a>
 <a class="name" href="/?info-2416-111.html">李何林</a><br />
 <a class="price" href="/?info-2416-111.html">98.00</a> 
</div>

        	  <!--foreach-->
		<script language="javascript" type="text/javascript" src="/Scripts/RollTurn.js"></script>
 		<script language="javascript"> 
			var scrollPic_1 = new ScrollPic();
			scrollPic_1.scrollContId   = "box"; //容器
			scrollPic_1.arrLeftId      = "RightArr";//左箭头ID
			scrollPic_1.arrRightId     = "LeftArr"; //右箭头ID
			scrollPic_1.frameWidth     = 710;//显示框宽度
			scrollPic_1.pageWidth      = 1; //翻页宽度
			scrollPic_1.speed          = 1 //移动速度(毫秒，越小越快)
			scrollPic_1.space          = 1; //每次移动像素(单位px，越大越快)
			scrollPic_1.autoPlay       = true; //自动播放
			scrollPic_1.autoPlayTime   = 0; //自动播放间隔时间(秒)
			scrollPic_1.initialize(); //初始化
		</script>
        	</div> <!--tuijian-->
	</div>
        <!--fu_tuijian-->
        <div class="jingpin">
          <div class="jingpin_title"><a href="/?list-1348.html">>>更多</a></div>
          <div class="jingpin_content">
            <!--foreach-->
		 
<div class="tuijian_list"> 
<a href="/?info-2282-111.html"><img src="/UploadFiles/2015-08/admin/2015083115430245518.jpg" /></a>
 <a class="title" href="/?info-2282-111.html">八十四年前的东北地理教本（上下册）</a>
 <a class="name" href="/?info-2282-111.html">傅恩龄</a><br />
 <a class="price" href="/?info-2282-111.html">91.80</a> 
</div>
 
<div class="tuijian_list"> 
<a href="/?info-2220-111.html"><img src="/UploadFiles/2015-04/admin/2015041610151313113.bmp" /></a>
 <a class="title" href="/?info-2220-111.html">天津租界档案（第一辑）英租界档案（第一</a>
 <a class="name" href="/?info-2220-111.html">天津市档案馆</a><br />
 <a class="price" href="/?info-2220-111.html">5500.00</a> 
</div>
 
<div class="tuijian_list"> 
<a href="/?info-2010-111.html"><img src="/UploadFiles/2014-02/admin/2014022116014533016.jpg" /></a>
 <a class="title" href="/?info-2010-111.html">民国中国小说史著集成（第一卷）</a>
 <a class="name" href="/?info-2010-111.html">陈洪</a><br />
 <a class="price" href="/?info-2010-111.html">88.00</a> 
</div>
 
<div class="tuijian_list"> 
<a href="/?info-2006-111.html"><img src="/UploadFiles/2014-02/admin/2014021711024018962.jpg" /></a>
 <a class="title" href="/?info-2006-111.html">十二珍品阁——塑造了法兰西的绘画杰作</a>
 <a class="name" href="/?info-2006-111.html">（法）洛朗•法比尤斯</a><br />
 <a class="price" href="/?info-2006-111.html">178</a> 
</div>
 
<div class="tuijian_list"> 
<a href="/?info-1637-111.html"><img src="/UploadFiles/2012-10/admin/2012103114483233165.jpg" /></a>
 <a class="title" href="/?info-1637-111.html">清人词话（上、中、下卷）</a>
 <a class="name" href="/?info-1637-111.html">孙克强等编著</a><br />
 <a class="price" href="/?info-1637-111.html">180.00元</a> 
</div>
 
<div class="tuijian_list"> 
<a href="/?info-1636-111.html"><img src="/UploadFiles/2012-10/admin/2012103114440024447.jpg" /></a>
 <a class="title" href="/?info-1636-111.html">金元明人词话</a>
 <a class="name" href="/?info-1636-111.html">孙克强、岳淑珍编著</a><br />
 <a class="price" href="/?info-1636-111.html">66.00元</a> 
</div>

            <!--foreach-->
          </div>
        </div>
        <!--jingpin-->
        <div class="jingdian">
          <div class="jingdian_title"><a href="/?list-1351.html">>>更多</a></div>
          <div class="jingdian_content">
            <ul>
             
 <li><a href="/?info-485-1.html">2016年《世界投资报告》：中国利用外资和对外投资持续增长</a><span>[2016-09-09]</span></li>
 
 <li><a href="/?info-483-1.html">访《生态社会》作者金建方</a><span>[2016-09-02]</span></li>
 
 <li><a href="/?info-482-1.html">中国新闻出版广电报：《张伯苓全集》：精心编纂鸿篇巨制</a><span>[2016-07-12]</span></li>
 
 <li><a href="/?info-474-1.html">龙飞：叶赛宁&nbsp;大自然为诗歌创造的器官</a><span>[2015-11-06]</span></li>
 
 <li><a href="/?info-468-1.html">《东北地理教本》：印在教材里的民族记忆——南开学校《东北地理教本》重印版首发式暨学</a><span>[2015-09-16]</span></li>
 
 <li><a href="/?info-467-1.html">老课本堪称东北问题百科全书&nbsp;具多方面研究价值</a><span>[2015-09-16]</span></li>
 
 <li><a href="/?info-457-1.html">集腋为裘&nbsp;&nbsp;点铁成金——评《论词绝句二千首》</a><span>[2015-04-10]</span></li>
 
 <li><a href="/?info-441-1.html">南开学者新著推测：仓颉与商契或是同一人</a><span>[2014-05-23]</span></li>

            </ul>
          </div>
        </div>
        <!--jingpin-->
      </div>
	  <!--side_right-->
    </div>
    <!-- Page Body End -->
	
   	<!-- Footer Begin -->
	<div class="footer">
		<div class="footer_links">
			<a href="/?list-1338.html">出版社简介</a>|<a href="/?list-1345.html">新闻动态</a>|<a href="/?list-1349.html">图书中心</a>|<a href="/?list-1353.html">书友服务</a>|<a href="/?list-1357.html">联系我们</a>
		</div>
		<span class="count">访问人数：448</span><br />
		<div class="copy">
			Copyright © 2011 南开大学出版社版权所有 All rights reserved 津ICP备14006388号-1
<script>document.title='南开大学出版社';</script><script src="http://pv.sohu.com/cityjson?ie=utf-8"></script>

		</div>
		<span class="zhichi">技术支持：东方网景</span>
		
	</div>
<!-- Footer End -->

 </div><!--container-->
<script charset="utf-8" language="javascript" src="/JS/qq.js"></script>
</body>
</html>