<base href="https://art.nankai.edu.cn/"><!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,user-scalable=0,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
<title>书画艺术与美学研究中心</title>
<meta name="keywords" content="部门名称">
<meta name="description" content="学校描述" >

<link type="text/css" href="/_css/_system/system.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/1/style/6/6.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/00/9e/158/style/147/147.css" rel="stylesheet"/>
<link type="text/css" href="/_js/_portletPlugs/simpleNews/css/simplenews.css" rel="stylesheet" />
<link type="text/css" href="/_js/_portletPlugs/sudyNavi/css/sudyNav.css" rel="stylesheet" />

<script language="javascript" src="/_js/jquery.min.js" sudy-wp-context="" sudy-wp-siteId="158"></script>
<script language="javascript" src="/_js/jquery.sudy.wp.visitcount.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/sudyNavi/jquery.sudyNav.js"></script>
<script type="text/javascript" src="/_upload/tpl/01/4a/330/template330/extends/extends.js"></script>
<link rel="stylesheet" href="/_upload/tpl/01/4a/330/template330/style.css" type="text/css" />
<!--[if lt IE 9]>
<script src="/_upload/tpl/01/4a/330/template330/extends/libs/html5.js"></script>
<![endif]-->
</head>
<body class="main">

<!--Start||head-->
<div class="wrapper header" id="header">
  <div class="inner">
    <div class="mod clearfix">
      <div class="head-left" frag="面板01"> 
        <!--logo开始-->
        <div class="sitelogo" frag="窗口01" portletmode="simpleSiteAttri">
          <a class="site-url" href="/main.htm"><img src="/_upload/site/00/9e/158/logo.jpg"></a>
        </div>
        <!--//logo结束--> 
      </div>
    </div>
  </div>
</div>
<!--End||head--> 
<!--Start||nav-->
<div class="wrapper nav wp-navi" id="nav">
  <div class="inner clearfix">
    <div class="wp-panel">
      <div class="wp-window" frag="窗口1">
         
          
          <ul class="wp-menu">
            
            <li class="menu-item i1"><a class="menu-link" href="http://art.nankai.edu.cn/main.htm" target="_self">首页</a> 
               
            </li>
            
            <li class="menu-item i2"><a class="menu-link" href="/11077/list.htm" target="_self">新闻资讯</a> 
              
              
              <ul class="sub-menu ">
                
                <li class="sub-item i2-1"><a class="sub-link" href="/11086/list.htm" target="_self">新闻快讯</a></li>
                
                <li class="sub-item i2-2"><a class="sub-link" href="/11087/list.htm" target="_self">通知公告</a></li>
                
                <li class="sub-item i2-3"><a class="sub-link" href="/11088/list.htm" target="_self">视频专辑</a></li>
                
              </ul>
               
            </li>
            
            <li class="menu-item i3"><a class="menu-link" href="/11078/list.htm" target="_self">中心概览</a> 
              
              
              <ul class="sub-menu ">
                
                <li class="sub-item i3-1"><a class="sub-link" href="/11089/list.htm" target="_self">中心简介</a></li>
                
                <li class="sub-item i3-2"><a class="sub-link" href="/11090/list.htm" target="_self">组织机构</a>
              
              <ul class="sub-menu ">
                
                <li class="sub-item i3-2-1"><a class="sub-link" href="/11134/list.htm" target="_self">中心顾问</a></li>
                
                <li class="sub-item i3-2-2"><a class="sub-link" href="/11135/list.htm" target="_self">中心负责人</a></li>
                
                <li class="sub-item i3-2-3"><a class="sub-link" href="/11136/list.htm" target="_self">中心办公室</a></li>
                
              </ul>
              </li>
                
                <li class="sub-item i3-3"><a class="sub-link" href="/11091/list.htm" target="_self">中心章程</a></li>
                
                <li class="sub-item i3-4"><a class="sub-link" href="/11092/list.htm" target="_self">专家团队</a>
              
              <ul class="sub-menu ">
                
                <li class="sub-item i3-4-1"><a class="sub-link" href="/11129/list.htm" target="_self">专职研究员</a></li>
                
                <li class="sub-item i3-4-2"><a class="sub-link" href="/11130/list.htm" target="_self">兼职教授及客座教授</a></li>
                
                <li class="sub-item i3-4-3"><a class="sub-link" href="/11131/list.htm" target="_self">兼职研究员</a></li>
                
                <li class="sub-item i3-4-4"><a class="sub-link" href="/11132/list.htm" target="_self">中心博士指导团</a></li>
                
                <li class="sub-item i3-4-5"><a class="sub-link" href="/11133/list.htm" target="_self">在读博士</a></li>
                
              </ul>
              </li>
                
              </ul>
               
            </li>
            
            <li class="menu-item i4"><a class="menu-link" href="/11079/list.htm" target="_self">学术活动</a> 
              
              
              <ul class="sub-menu ">
                
                <li class="sub-item i4-1"><a class="sub-link" href="/11096/list.htm" target="_self">书画讲堂</a></li>
                
                <li class="sub-item i4-2"><a class="sub-link" href="/11097/list.htm" target="_self">美学讲坛</a></li>
                
              </ul>
               
            </li>
            
            <li class="menu-item i5"><a class="menu-link" href="/11080/list.htm" target="_self">理论研究</a> 
              
              
              <ul class="sub-menu ">
                
                <li class="sub-item i5-1"><a class="sub-link" href="/11093/list.htm" target="_self">专项研究</a></li>
                
                <li class="sub-item i5-2"><a class="sub-link" href="/11095/list.htm" target="_self">诗文画论</a>
              
              <ul class="sub-menu ">
                
                <li class="sub-item i5-2-1"><a class="sub-link" href="/11137/list.htm" target="_self">沧海论画</a></li>
                
                <li class="sub-item i5-2-2"><a class="sub-link" href="/11138/list.htm" target="_self">沧海诗文</a></li>
                
                <li class="sub-item i5-2-3"><a class="sub-link" href="/11139/list.htm" target="_self">文心万象</a></li>
                
                <li class="sub-item i5-2-4"><a class="sub-link" href="/11140/list.htm" target="_self">国画指要</a></li>
                
              </ul>
              </li>
                
                <li class="sub-item i5-3"><a class="sub-link" href="/11094/list.htm" target="_self">出版著作</a></li>
                
              </ul>
               
            </li>
            
            <li class="menu-item i6"><a class="menu-link" href="/11081/list.htm" target="_self">艺术欣赏</a> 
              
              
              <ul class="sub-menu ">
                
                <li class="sub-item i6-1"><a class="sub-link" href="/11100/list.htm" target="_self">导师作品</a>
              
              <ul class="sub-menu ">
                
                <li class="sub-item i6-1-1"><a class="sub-link" href="/11122/list.htm" target="_self">近期作品</a></li>
                
                <li class="sub-item i6-1-2"><a class="sub-link" href="/11123/list.htm" target="_self">山水画</a></li>
                
                <li class="sub-item i6-1-3"><a class="sub-link" href="/11124/list.htm" target="_self">花鸟画</a></li>
                
                <li class="sub-item i6-1-4"><a class="sub-link" href="/11125/list.htm" target="_self">人物画</a></li>
                
                <li class="sub-item i6-1-5"><a class="sub-link" href="/11126/list.htm" target="_self">书法</a></li>
                
                <li class="sub-item i6-1-6"><a class="sub-link" href="/11127/list.htm" target="_self">速写</a></li>
                
                <li class="sub-item i6-1-7"><a class="sub-link" href="/11128/list.htm" target="_self">陶瓷</a></li>
                
              </ul>
              </li>
                
                <li class="sub-item i6-2"><a class="sub-link" href="/11101/list.htm" target="_self">学生作品</a></li>
                
              </ul>
               
            </li>
            
            <li class="menu-item i7"><a class="menu-link" href="/11082/list.htm" target="_self">下载专区</a> 
               
            </li>
            
            <li class="menu-item i8"><a class="menu-link" href="/11083/list.htm" target="_self">联系我们</a> 
               
            </li>
            
          </ul>
           
        
      </div>
    </div>
  </div>
</div>
<!--End||nav--> 
<!--Start||focus-->
<div class="wrapper mbanner" id="banner">
  <div class="inner clearfix">
    <div frag="窗口2">
      <div class="focus"></div>
      <script type="text/javascript">
				var w2imgJsons = [
				
				{
					title:"图片1",
					src:"/_upload/article/images/23/93/937d2c074da79d2994dae4751712/ce6623a9-48f4-48e2-b58b-03f319518e70.jpg",
					url:"/2018/1026/c11108a111981/page.htm"
				},
				
				{
					title:"图片1",
					src:"/_upload/article/images/e8/a8/754435c348ceb19e14a8b0925d35/ce6623a9-48f4-48e2-b58b-03f319518e70.jpg",
					url:"/2018/1026/c11108a111980/page.htm"
				},
				
				{
					title:"图片1",
					src:"/_upload/article/images/5b/dc/fd0a28524ff082aa4fd5822b6e50/ce6623a9-48f4-48e2-b58b-03f319518e70.jpg",
					url:"/2018/1026/c11108a111979/page.htm"
				},
				
				{
					title:"图片1",
					src:"/_upload/article/images/1d/ab/82370b1f4ec78c3b3897af98a419/ce6623a9-48f4-48e2-b58b-03f319518e70.jpg",
					url:"/2018/1026/c11108a111978/page.htm"
				},
				
				{}
				];
				w2imgJsons.pop();							
			</script> 
    </div>
  </div>
</div>
<!--End||focus--> 
<!--Start||content-->
<div class="wrapper main1" id="container-1">
  <div class="inner">
    <div class="mod clearfix">
      <div class="ml">
        <div class="post post1 post-11 mbox" frag="窗口11">
          <div class="tt">
            <h3 class="tit icon1"><span class="title" frag="标题">新闻快讯</span> </h3>
            <div class="more_btn" frag="按钮" type="更多"> <a href="/11086/list.htm" class="w11_more"><span class="more_text" frag="按钮内容">更多>></span></a> </div>
          </div>
          <div class="cont1">
            
              <ul class="news_list clearfix">
                
                <li class="news n1 clearfix">
                  <div class="news_img fl"> <a href="/2019/0114/c11086a118362/page.htm"><img src="/_upload/article/images/0d/e3/8f88f7ee4fe7a6d0214b8edf5ec8/ecacd7fc-da03-4f62-a130-48fa21ba5145.jpg" width="228" height="144"></a> </div>
                  <div class="news_cont fr">
                    <div class="news_title news_title1"> <a href='/2019/0114/c11086a118362/page.htm' target='_blank' title='“大美之春”央视书画频道春节联欢晚会举行 南开大学教授博士生导师尹沧海应邀出席'>“大美之春”央视书画频道春节联欢晚会举行 南开大学教授博士生导...</a> </div>
                    <div class="news_jj"> “大美之春”央视书画频道春节联欢晚会举行南开大学教授博士生导师尹沧海应邀出席“大美之春”央视书画频道... </div>
                  </div>
                </li>
                 
                
                
                <li class="news a1 clearfix"> <span class="news_title"> <a href='/2018/1231/c11086a117691/page.htm' target='_blank' title='12月9日，全国政协文史馆尹沧海书画展，书画频道专题采访'>12月9日，全国政协文史馆尹沧海书画展，书画频道专题采访</a> </span> <span class="news_meta">2018-12-30</span> </li>
                
                <li class="news a2 clearfix"> <span class="news_title"> <a href='/2018/1229/c11086a117615/page.htm' target='_blank' title='“思接千载·闹红迎春——汤立、尹沧海师生联展”在北京千年古宣艺术中心开幕'>“思接千载·闹红迎春——汤立、尹沧海师生联展”在北京千年古宣艺术...</a> </span> <span class="news_meta">2018-12-28</span> </li>
                
                <li class="news a3 clearfix"> <span class="news_title"> <a href='/2018/1226/c11086a117481/page.htm' target='_blank' title='思接千载 · 闹红迎春  郝雷涛'>思接千载 · 闹红迎春  郝雷涛</a> </span> <span class="news_meta">2018-12-26</span> </li>
                
                <li class="news a4 clearfix"> <span class="news_title"> <a href='/2018/1226/c11086a117480/page.htm' target='_blank' title='思接千载 · 闹红迎春 | 田波'>思接千载 · 闹红迎春 | 田波</a> </span> <span class="news_meta">2018-12-26</span> </li>
                
              </ul>
            
          </div>
        </div>
      </div>
      <div class="mr">
        <div class="post post1 post-12 mbox" frag="窗口12">
          <div class="tt">
            <h3 class="tit icon2"><span class="title" frag="标题">通知公告</span> </h3>
            <div class="more_btn" frag="按钮" type="更多"> <a href="/11087/list.htm" class="w12_more"><span class="more_text" frag="按钮内容">更多>></span></a> </div>
          </div>
          <div class="cont2 rili2">
            
              <ul class="news_list clearfix">
                
                <li class="news n1 clearfix">
                  <div class="news_date">
                    <div class="news_year">12-26</div>
                    <div class="news_days">2018</div>
                  </div>
                  <div class="news_wz">
                    <div class="news_con">
                      <div class="news_title"><a href='/2018/1226/c11087a117482/page.htm' target='_blank' title='展览预告：“思接千载 · 闹红迎春”汤立、尹沧海师生联展'>展览预告：“思接千载 · 闹红迎春”汤立、尹沧海师生联展</a></div>
                    </div>
                  </div>
                </li>
                
                <li class="news n2 clearfix">
                  <div class="news_date">
                    <div class="news_year">12-04</div>
                    <div class="news_days">2018</div>
                  </div>
                  <div class="news_wz">
                    <div class="news_con">
                      <div class="news_title"><a href='/2018/1204/c11087a116021/page.htm' target='_blank' title='【展览预告】“神与物游——2018·北京·尹沧海书画艺术交流展”'>【展览预告】“神与物游——2018·北京·尹沧海书画艺术交流展”</a></div>
                    </div>
                  </div>
                </li>
                
                <li class="news n3 clearfix">
                  <div class="news_date">
                    <div class="news_year">04-23</div>
                    <div class="news_days">2014</div>
                  </div>
                  <div class="news_wz">
                    <div class="news_con">
                      <div class="news_title"><a href='/2014/0423/c11087a111977/page.htm' target='_blank' title='“教授下午茶讲座”活动在南开大学书画艺术与美学研究中心举办'>“教授下午茶讲座”活动在南开大学书画艺术与美学研究中心举办</a></div>
                    </div>
                  </div>
                </li>
                
                <li class="news n4 clearfix">
                  <div class="news_date">
                    <div class="news_year">04-22</div>
                    <div class="news_days">2014</div>
                  </div>
                  <div class="news_wz">
                    <div class="news_con">
                      <div class="news_title"><a href='/2014/0422/c11087a111976/page.htm' target='_blank' title='东京中国文化中心举办“发现中国――从自然秩序到艺术秩序”讲座(图文)'>东京中国文化中心举办“发现中国――从自然秩序到艺术秩序”讲座(图...</a></div>
                    </div>
                  </div>
                </li>
                
              </ul>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper main2" id="container-2">
  <div class="inner">
    <div class="mod clearfix">
      <div class="ml">
        <div class="post post1 post-21 mbox" frag="窗口21">
          <div class="tt fl">
            <h3 class="tit icon3"><span class="title" frag="标题">专家团队</span> </h3>
            <div class="more_btn" frag="按钮" type="更多"> <a href="/11092/list.htm" class="w21_more"><span class="more_text" frag="按钮内容">更多>></span></a> </div>
          </div>
          <div class="tt_img fl"><img src="/_upload/tpl/01/4a/330/template330/images/tt1.jpg"></div>
          <div class="cont3 fl">
            
              <ul class="news_list clearfix">
                
                <li class="news n1 clearfix">
                  <div class="news_img fl"> <a href="/2013/0723/c11092a112344/page.htm"><img src="/_upload/article/images/c6/06/93aefbb94a3e90d740bf26f59c82/8d9941d2-2704-454e-9dd0-a2dc35b82207.jpg" width="69" height="82"></a> </div>
                  <div class="news_cont1 fr">
                    <div class="news_title news_title2"> <a href='/2013/0723/c11092a112344/page.htm' target='_blank' title='高晖'>高晖</a> </div>
                    <div class="news_jj news_jj1"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;& </div>
                  </div>
                </li>
                
                <li class="news n2 clearfix">
                  <div class="news_img fl"> <a href="/2013/0723/c11092a112343/page.htm"><img src="/_upload/article/images/6c/a1/2e73f16f459991a0fbc905e4b35f/b8cbe3b9-0db6-4b9f-af9e-3e0552b09db4.jpg" width="69" height="82"></a> </div>
                  <div class="news_cont1 fr">
                    <div class="news_title news_title2"> <a href='/2013/0723/c11092a112343/page.htm' target='_blank' title='陈冬至教授'>陈冬至教授</a> </div>
                    <div class="news_jj news_jj1"> &nbsp;陈冬至 1941年出生于河北省石家庄。画家。天津美术学院国... </div>
                  </div>
                </li>
                
              </ul>
            
          </div>
        </div>
      </div>
      <div class="mc">
        <div class="post post1 post-22 mbox" frag="窗口22">
          <div class="tt fl">
            <h3 class="tit icon4"><span class="title" frag="标题">学术活动</span> </h3>
            <div class="more_btn" frag="按钮" type="更多"> <a href="/11079/list.htm" class="w22_more"><span class="more_text" frag="按钮内容">更多>></span></a> </div>
          </div>
          <div class="tt_img fl"><img src="/_upload/tpl/01/4a/330/template330/images/tt2.jpg"></div>
          <div class="cont3 fl">
            
              <ul class="news_list clearfix">
                
                <li class="news n1 clearfix"> <span class="news_title"> <a href='/2013/0704/c11079a111996/page.htm' target='_blank' title='艺术论'>艺术论</a> </span> </li>
                
                <li class="news n2 clearfix"> <span class="news_title"> <a href='/2013/0610/c11079a111995/page.htm' target='_blank' title='从自然秩序到艺术秩序'>从自然秩序到艺术秩序</a> </span> </li>
                
                <li class="news n3 clearfix"> <span class="news_title"> <a href='/2013/0610/c11079a111993/page.htm' target='_blank' title='中山大学钱捷教授来访南开并讲座'>中山大学钱捷教授来访南开并讲座</a> </span> </li>
                
              </ul>
            
          </div>
        </div>
      </div>
      <div class="mr">
        <div class="post post1 post-23 mbox" frag="窗口23">
          <div class="tt fl">
            <h3 class="tit icon5"><span class="title" frag="标题">理论研究</span> </h3>
            <div class="more_btn" frag="按钮" type="更多"> <a href="/11080/list.htm" class="w23_more"><span class="more_text" frag="按钮内容">更多>></span></a> </div>
          </div>
          <div class="tt_img fl"><img src="/_upload/tpl/01/4a/330/template330/images/tt3.jpg"></div>
          <div class="cont3 fl">
            
              <ul class="news_list clearfix">
                
                <li class="news n1 clearfix"> <span class="news_title"> <a href='/2013/0716/c11080a112008/page.htm' target='_blank' title='艺术实践――博士课程'>艺术实践――博士课程</a> </span> </li>
                
                <li class="news n2 clearfix"> <span class="news_title"> <a href='/2013/0716/c11080a112007/page.htm' target='_blank' title='中国美学史――博士课程'>中国美学史――博士课程</a> </span> </li>
                
                <li class="news n3 clearfix"> <span class="news_title"> <a href='/2013/0704/c11080a112000/page.htm' target='_blank' title='“生活美学”面临的问题与挑战'>“生活美学”面临的问题与挑战</a> </span> </li>
                
                <li class="news n4 clearfix"> <span class="news_title"> <a href='/2013/0516/c11080a112006/page.htm' target='_blank' title='艺术实践――硕士课程'>艺术实践――硕士课程</a> </span> </li>
                
                <li class="news n5 clearfix"> <span class="news_title"> <a href='/2013/0516/c11080a112005/page.htm' target='_blank' title='文化学与美学理论――博士课程'>文化学与美学理论――博士课程</a> </span> </li>
                
                <li class="news n6 clearfix"> <span class="news_title"> <a href='/2013/0516/c11080a112004/page.htm' target='_blank' title='中国书画艺术研究――博士课程'>中国书画艺术研究――博士课程</a> </span> </li>
                
              </ul>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper main4" id="container-4">
  <div class="inner">
    <div class="mod clearfix">
      <div class="post post1 post-41 mbox" frag="窗口41">
        <div class="tt fl">
          <h3 class="tit icon6"><span class="title" frag="标题">艺术欣赏</span> </h3>
          <div class="more_btn" frag="按钮" type="更多"> <a href="/11081/list.htm" class="w41_more"><span class="more_text" frag="按钮内容">更多>></span></a> </div>
        </div>
        <div class="cont4 fl">
          
            <ul class="news_list clearfix">
              
              <li class="news1 b1 clearfix  fl">
                <div class="news_img_block">
                  <div class="news_img1"><a href="/2018/1026/c11081a112017/page.htm"><img src="/_upload/article/images/5d/f3/bafc2eca4ca990345817caca6ddb/b844bbb4-c162-46da-8f7c-e8f83c36a54c.jpg" width="228" height="148"></a></div>
                  <div class="news_img_bg"></div>
                </div>
              </li>
              
              <li class="news1 b2 clearfix  fl">
                <div class="news_img_block">
                  <div class="news_img1"><a href="/2018/1026/c11081a112016/page.htm"><img src="/_upload/article/images/b8/a2/89bd746a423da5e0294892325c25/d760fb1f-228f-4745-9cfa-3dc84e53671c.jpg" width="228" height="148"></a></div>
                  <div class="news_img_bg"></div>
                </div>
              </li>
              
              <li class="news1 b3 clearfix  fl">
                <div class="news_img_block">
                  <div class="news_img1"><a href="/2018/1026/c11081a112015/page.htm"><img src="/_upload/article/images/99/b5/f4bf332d4c3e9191d8dd557cac10/c5fd779e-9f40-4bc3-9d0f-79bc63898813.jpg" width="228" height="148"></a></div>
                  <div class="news_img_bg"></div>
                </div>
              </li>
              
              <li class="news1 b4 clearfix  fl">
                <div class="news_img_block">
                  <div class="news_img1"><a href="/2018/1026/c11081a112014/page.htm"><img src="/_upload/article/images/cb/d3/05a9d243435589acb506e657fd9d/e53648a2-50da-4a0c-96eb-e0348bd59099.jpg" width="228" height="148"></a></div>
                  <div class="news_img_bg"></div>
                </div>
              </li>
              
            </ul>
          
        </div>
      </div>
    </div>
  </div>
</div>
<!--End||content--> 
<!--Start||footer-->
<div class="wrapper footer" id="footer">
  <div class="inner">
    <div class="mod clearfix">
      <div class="foot-left1 fl" frag="窗口91" >
        <div class="tt1">
          <h3 class="tit"><span class="title1">友情链接</span> </h3>
        </div>
         
          
          <ul class="clearfix">
            
            <li class="links i1 fl"><a href="http://www.cafa.edu.cn/2018cafa/" target="_blank">中央美院</a> </li>
            
            <li class="links i2 fl"><a href="http://www.zgysyjy.org.cn/" target="_blank">中国艺术研究院</a> </li>
            
            <li class="links i3 fl"><a href="http://www.chinanap.net/" target="_blank">中国国家画院</a> </li>
            
            <li class="links i4 fl"><a href="http://www.caanet.org.cn/" target="_blank">中国美协</a> </li>
            
            <li class="links i5 fl"><a href="http://www.tjarts.edu.cn/" target="_blank">天津美院</a> </li>
            
            <li class="links i6 fl"><a href="http://www.tsinghua.edu.cn/publish/ad/" target="_blank">清华美院</a> </li>
            
            <li class="links i7 fl"><a href="https://yincanghai.artron.net/" target="_blank">尹沧海官方网站</a> </li>
            
            <li class="links i8 fl"><a href="http://www.ccagov.com.cn/" target="_blank">中国书协</a> </li>
            
          </ul>
           
        
      </div>
      <div class="foot-left"> <a class="sc" href="javascript:void(0);" onclick="AddFavorite('我的网站',location.href)">加入收藏</a> <a href="javascript:void(0)">版权声明</a> <a href="http://art.nankai.edu.cn/11083/list.htm">联系我们</a> </div>
      <div class="foot-right" frag="窗口90" portletmode="simpleSiteAttri">
        <p class="copyright"><img src="/_upload/tpl/01/4a/330/template330/images/foot_logo.jpg"></p>
        <p class="copyright"><span>© CopyRight 2002-2013, CHINAZ.COM, Inc.All Rights Reserved|</span></p>
      </div>
    </div>
  </div>
</div>
<!--End||footer-->
</body>
<script type="text/javascript" src="/_upload/tpl/01/4a/330/template330/js/comcus.js"></script>
<script type="text/javascript" src="/_upload/tpl/01/4a/330/template330/js/main.js"></script>
<script  type="text/javascript">
//设为首页
function SetHome(obj,url){
    try{
        obj.style.behavior='url(#default#homepage)';
        obj.setHomePage(url);
    }catch(e){
        if(window.netscape){
            try{
                netscape.security.PrivilegeManager.enablePrivilege("UniversalXPConnect");
            }catch(e){
                alert("抱歉，此操作被浏览器拒绝！\n\n请在浏览器地址栏输入“about:config”并回车然后将[signed.applets.codebase_principal_support]设置为'true'");
            }
        }else{
            alert("抱歉，您所使用的浏览器无法完成此操作。\n\n您需要手动将【"+url+"】设置为首页。");
        }
    }
}
//收藏本站
function AddFavorite(title, url) {
    try {
        window.external.addFavorite(url, title);
    }
    catch (e) {
        try {
            window.sidebar.addPanel(title, url, "");
        }
        catch (e) {
            alert("抱歉，您所使用的浏览器无法完成此操作。\n\n加入收藏失败，请使用Ctrl+D进行添加");
        }
    }
}

</script>
</html>

 <image src="/_visitcount?siteId=158&type=1&columnId=11052" style="display:none" width="0" height="0"></image>