<base href="http://news.nankai.edu.cn/xs/"><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- IE8 兼容 -->
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
<meta name="keywords" content="">

<title>南开大学校史网</title>

<link href="/xs/css/index.css" rel="stylesheet" type="text/css" />
<link href="/xs/css/setting.css" rel="stylesheet" type="text/css" />

<script type="text/javascript" src="/xs/js/jquery.min.js"></script>

<script type="text/javascript">
function showdiv(s){
if(s=="1"){
document.getElementById("content1").className="contentin contentfirst";//显示标题1的内容 下面代码类似不在添加注释
document.getElementById("content2").className="contentfirst";//隐藏标题2的内容 下面代码类似不在添加注释
document.getElementById("content3").className="contentfirst";//隐藏标题3的内容 下面代码类似不在添加注释

document.getElementById("li2").className=null;//使标题2与正文内容相离 下面代码类似 不在添加注释
document.getElementById("li1").className="tabin";//使标题一与正文内容相连接 下面代码类似 不在添加注释
document.getElementById("li3").className=null;//使标题3与正文内容相离 下面代码类似 不在添加注释

}else if(s=="2"){
document.getElementById("content1").className="contentfirst";
document.getElementById("content2").className="contentin contentfirst";
document.getElementById("content3").className="contentfirst";

document.getElementById("li1").className=null;
document.getElementById("li2").className="tabin";
document.getElementById("li3").className=null;
}else if(s=="3"){
document.getElementById("content1").className="contentfirst";
document.getElementById("content3").className="contentin contentfirst";
document.getElementById("content2").className="contentfirst";

document.getElementById("li1").className=null
document.getElementById("li3").className="tabin";
document.getElementById("li2").className=null
}else if(s=="4"){
document.getElementById("content5").className="contentfirst";
document.getElementById("content4").className="contentin contentfirst";
document.getElementById("content6").className="contentfirst";

document.getElementById("li4").className="tabin";
document.getElementById("li5").className=null
document.getElementById("li6").className=null
}else if(s=="5"){
document.getElementById("content4").className="contentfirst";
document.getElementById("content5").className="contentin contentfirst";
document.getElementById("content6").className="contentfirst";

document.getElementById("li5").className="tabin";
document.getElementById("li4").className=null
document.getElementById("li6").className=null
}else if(s=="6"){
document.getElementById("content4").className="contentfirst";
document.getElementById("content6").className="contentin contentfirst";
document.getElementById("content5").className="contentfirst";

document.getElementById("li6").className="tabin";
document.getElementById("li4").className=null
document.getElementById("li5").className=null
}else if(s=="7"){
document.getElementById("content8").className="contentfirst";
document.getElementById("content7").className="contentin contentfirst";
document.getElementById("content9").className="contentfirst";

document.getElementById("li7").className="tabin";
document.getElementById("li8").className=null
document.getElementById("li9").className=null
}else if(s=="8"){
document.getElementById("content7").className="contentfirst";
document.getElementById("content8").className="contentin contentfirst";
document.getElementById("content9").className="contentfirst";

document.getElementById("li8").className="tabin";
document.getElementById("li7").className=null
document.getElementById("li9").className=null
}else if(s=="9"){
document.getElementById("content7").className="contentfirst";
document.getElementById("content9").className="contentin contentfirst";
document.getElementById("content8").className="contentfirst";

document.getElementById("li9").className="tabin";
document.getElementById("li7").className=null
document.getElementById("li8").className=null
}
}
</script>
</head>

<body style="margin:0; padding:0; background:url(/xs/images/background.png);">

<div class="wrapper">
<!--  -----------------页首----------------  -->
	<div class="header">
    	<div class="banner">
			
<!--enorth cms{ xs_banner }enorth cms-->
<div class="func">
            	<!--搜索模块 -->
<!--Baidu站内搜索开始-->
<script language="javascript">
function baidusearch () {
var wd=document.getElementsByName("wd")[0].value;
var link="http://www.baidu.com/s?si=news.nankai.edu.cn&cl=3&ct=2097152&tn=baidulocal&word="+wd;
window.open(link); }
</script>
        <INPUT class="input_area" name="wd" type="text" size="10"  placeholder="&nbsp;&nbsp;请输入关键词搜索" value="" style="display:inline; vertical-align:top;" 
                    ><BUTTON class="search_btn" type="submit" onclick="javascript:baidusearch()" >
                       
					</BUTTON>             
				
          </div>
<div class="add_favor">加入收藏</div>
        <div class="nav1">
       	 <ul>
<li><a href="http://news.nankai.edu.cn/xs/system/2013/10/16/000146274.shtml">校  名</a></li>
       	       	 <li><a href="http://news.nankai.edu.cn/xs/system/2013/10/16/000146275.shtml
">校&nbsp;&nbsp;徽</a></li>
       	 <li><a href="http://news.nankai.edu.cn/xs/system/2013/10/16/000146276.shtml
">校&nbsp;&nbsp;歌</a></li>
       	 <li><a href="http://news.nankai.edu.cn/xs/system/2013/10/16/000146277.shtml
">校&nbsp;&nbsp;训</a></li>
       	        	 <li><a href="http://news.nankai.edu.cn/xs/system/2013/10/16/000146278.shtml
">校&nbsp;&nbsp;色</a></li>
          <li><a href="http://news.nankai.edu.cn/xs/system/2013/10/16/000146279.shtml
">校  钟</a></li>
       	 </ul>
 </div>
<!--enorth cms{ xs_banner }enorth cms-->

        </div>
    </div>
    <!--  --------------------页面中部内容-----------------  -->
    <!-- 左 -->
    <div class="c_content">
     	<div class="c_left">
         <!-------工作动态------->
        	<h3 class="c_title bot"><span class="span">
         <a href="http://news.nankai.edu.cn/xs/xsyw" style="color:#FFF">校史要闻</a>
         </span></h3>
     		<div class="c_left_top"> 
<!--function latest5(/xs/xsyw/,1,10,false,·,MM-dd,none,<font size="2" color="#888888">) parse begin-->
<table width="100%"  >
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2019/03/04/000435257.shtml"   target="_blank" >《周恩来与两弹一星》全国巡回展在南开大学举办</a>&nbsp;&nbsp; <font size="2" color="#888888">03-04</font></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2019/02/14/000432836.shtml"   target="_blank" >【亲切关怀 至高荣耀】习近平总书记视察南开大学在南开师生中引起强烈反响（八）</a>&nbsp;&nbsp; <font size="2" color="#888888">02-14</font></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2019/02/14/000432835.shtml"   target="_blank" >【亲切关怀 至高荣耀】习近平总书记视察南开大学在南开师生中引起强烈反响（七）</a>&nbsp;&nbsp; <font size="2" color="#888888">02-14</font></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2019/02/14/000432834.shtml"   target="_blank" >【亲切关怀 至高荣耀】习近平总书记视察南开大学在南开师生中引起强烈反响（六）</a>&nbsp;&nbsp; <font size="2" color="#888888">02-14</font></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2019/01/28/000431297.shtml"   target="_blank" >【亲切关怀 至高荣耀】习近平总书记视察南开大学在南开师生中引起强烈反响（五）</a>&nbsp;&nbsp; <font size="2" color="#888888">01-28</font></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2019/01/28/000431296.shtml"   target="_blank" >【亲切关怀 至高荣耀】习近平总书记视察南开大学在南开师生中引起强烈反响（四）</a>&nbsp;&nbsp; <font size="2" color="#888888">01-28</font></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2019/01/28/000431295.shtml"   target="_blank" >重温习近平总书记殷切嘱托 校领导带队参观百年校史主题展</a>&nbsp;&nbsp; <font size="2" color="#888888">01-28</font></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2019/01/28/000431294.shtml"   target="_blank" >【亲切关怀 至高荣耀】南开8名入伍学子认真学习习近平总书记来校视察重要讲话精神</a>&nbsp;&nbsp; <font size="2" color="#888888">01-28</font></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2019/01/23/000430635.shtml"   target="_blank" >【亲切关怀 至高荣耀】习近平总书记视察南开大学在南开师生中引起强烈反响（三）</a>&nbsp;&nbsp; <font size="2" color="#888888">01-23</font></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2019/01/23/000430634.shtml"   target="_blank" >【亲切关怀 至高荣耀】习近平总书记视察南开大学在南开师生中引起强烈反响（二）</a>&nbsp;&nbsp; <font size="2" color="#888888">01-23</font></td></tr>
</table>

<!--function: latest5(/xs/xsyw/,1,10,false,·,MM-dd,none,<font size="2" color="#888888">) parse end  282ms cost! -->
</div>
        <!-------重要公告------->
        	<h3 class="c_title bot"><span class="span">
         <a href="http://news.nankai.edu.cn/xs/zygg" style="color:#FFF">重要公告</a>
         </span></h3>
     		<div class="c_left_middle">
<!--function latest5(/xs/zygg/,1,4,false,·,MM-dd,none,<font size="2" color="#888888">) parse begin-->
<table width="100%"  >
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2016/04/01/000276319.shtml"   target="_blank" >南开大学校史研究课题指南</a>&nbsp;&nbsp; <font size="2" color="#888888">04-01</font></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2015/01/05/000216514.shtml"   target="_blank" >南开大学校史工作相关文件</a>&nbsp;&nbsp; <font size="2" color="#888888">01-06</font></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2014/02/21/000167154.shtml"   target="_blank" >理解和践行“公能”校训主题征文</a>&nbsp;&nbsp; <font size="2" color="#888888">02-21</font></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2013/10/15/000145979.shtml"   target="_blank" >南开大学征集校史文物资料启事</a>&nbsp;&nbsp; <font size="2" color="#888888">10-15</font></td></tr>
</table>

<!--function: latest5(/xs/zygg/,1,4,false,·,MM-dd,none,<font size="2" color="#888888">) parse end  265ms cost! -->
</div>
        <!------网上校史馆------->	
        	<div class="c_left_bottom">
<!--enorth cms{ xs_internet }enorth cms-->
<a href="http://news.nankai.edu.cn/xs/system/2013/10/15/000145994.shtml"><img src="http://news.nankai.edu.cn/pic/0/00/09/71/97167_777058.png" border="0" /></a>
<!--enorth cms{ xs_internet }enorth cms-->
</div>&nbsp;</div>
     <!-- 中 -->
    	 <div class="c_center">
        	
<!--enorth cms{ xs_photoshow_play }enorth cms-->
<script type="text/javascript" src="="/xs/js/jquery.min.js"></script>

<div class="play">
	<ul>
        <li class="textbg"></li>
        <li class="text"></li>
        <li class="num"><a>1</a><a>2</a><a>3</a><a>4</a><a>5</a></li>
        <li class="content">
            <a href="http://news.nankai.edu.cn/xs/system/2019/01/17/000429554.shtml" target="_blank"><img src="	http://news.nankai.edu.cn/pic/0/00/33/77/337744_697717.jpg" alt="习近平总书记视察南开大学" /></a>
          
  <a href="http://news.nankai.edu.cn/lsgc/system/2013/10/01/000143594.shtml" target="_blank"><img src="http://news.nankai.edu.cn/pic/0/00/09/52/95224_685924.jpg" alt="毛主席视察南开大学纪实" /></a>
            <a href="http://news.nankai.edu.cn/zhxw/system/2009/01/08/000021222.shtml" target="_blank"><img src="http://news.nankai.edu.cn/pic/0/00/09/65/96586_640645.jpg" alt="南开大学第一期学生周恩来 " /></a>
            <a href="http://news.nankai.edu.cn/xwzt/system/2010/12/30/000036610.shtml" target="_blank"><img src="http://news.nankai.edu.cn/pic/0/00/09/65/96587_299970.jpg" alt="昔日南开园 秀山堂" /></a>
            <a href="http://news.nankai.edu.cn/xwzt/system/2014/09/25/000202559.shtml" target="_blank"><img src="http://news.nankai.edu.cn/pic/0/00/14/96/149624_806071.jpg" alt="【组图】新校区成长记" /></a>
             
        </li>
    </ul>
</div>

<script type=text/javascript>
var t = n = 0, count = $(".content a").size();
$(function(){
	var play = ".play";
	var playText = ".play .text";
	var playNum = ".play .num a";
	var playConcent = ".play .content a";
	
	$(playConcent + ":not(:first)").hide();
	$(playText).html($(playConcent + ":first").find("img").attr("alt"));
	$(playNum + ":first").addClass("on");
	$(playText).click(function(){window.open($(playConcent + ":first").attr('href'), "_blank")});
	$(playNum).click(function() {
	   var i = $(this).text() - 1;
	   n = i;
	   if (i >= count) return;
	   $(playText).html($(playConcent).eq(i).find("img").attr('alt'));
	   $(playText).unbind().click(function(){window.open($(playConcent).eq(i).attr('href'), "_blank")})
	   $(playConcent).filter(":visible").hide().parent().children().eq(i).fadeIn(1200);
	   $(this).removeClass("on").siblings().removeClass("on");
	   $(this).removeClass("on2").siblings().removeClass("on2");
	   $(this).addClass("on").siblings().addClass("on2");
	});
	t = setInterval("showAuto()", 8000);
	$(play).hover(function(){clearInterval(t)}, function(){t = setInterval("showAuto()", 8000);});
})
function showAuto(){
	n = n >= (count - 1) ? 0 : ++n;
	$(".num a").eq(n).trigger('click');
}
</script>
<!--enorth cms{ xs_photoshow_play }enorth cms-->

     		<div class="c_center_bottom">
     		<h3 class="c_title bot"><span class="span"><a href="http://news.nankai.edu.cn/xs/xsxl" style="color:#FFF">校史新论</a></span></h3>
     		<div class="c_center_bot_content">
            
<!--function latest5(/xs/xsxl/,1,8,false,·,MM-dd,none,<font size="2" color="#888888">) parse begin-->
<table width="100%"  >
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2019/03/05/000435376.shtml"   target="_blank" >【南开大学100年】杨石先为化学工业擂鼓</a>&nbsp;&nbsp; <font size="2" color="#888888">03-05</font></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2019/02/21/000433634.shtml"   target="_blank" >【我与南开的故事】怀念陈炳富先生</a>&nbsp;&nbsp; <font size="2" color="#888888">02-21</font></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2019/02/14/000432856.shtml"   target="_blank" >光明日报：叶嘉莹：愿以古典诗词之教学报效祖国</a>&nbsp;&nbsp; <font size="2" color="#888888">02-14</font></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2019/01/21/000430277.shtml"   target="_blank" >习近平总书记念念不忘在南开的一幕幕</a>&nbsp;&nbsp; <font size="2" color="#888888">01-21</font></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2019/01/18/000429718.shtml"   target="_blank" > 习近平寄语南开师生：只有把小我融入大我，才会有海一样的胸怀，山一样的崇高</a>&nbsp;&nbsp; <font size="2" color="#888888">01-18</font></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2019/01/09/000428075.shtml"   target="_blank" >【爱国奋斗南开人】陈永胜：开拓绿色能源自主创新之路</a>&nbsp;&nbsp; <font size="2" color="#888888">01-09</font></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2019/01/04/000427276.shtml"   target="_blank" >【爱国奋斗南开人】教师顾沛 授人以渔</a>&nbsp;&nbsp; <font size="2" color="#888888">01-04</font></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2018/11/27/000420535.shtml"   target="_blank" >朱守非：坚守非常之路</a>&nbsp;&nbsp; <font size="2" color="#888888">11-27</font></td></tr>
</table>

<!--function: latest5(/xs/xsxl/,1,8,false,·,MM-dd,none,<font size="2" color="#888888">) parse end  94ms cost! -->

            </div>
            </div>
     	 </div>
     <!-- 右 -->
     <div class="c_right">
      <!-- 其余专题-->
      	<h3 class="c_title bot"><span class="span"><a href="http://news.nankai.edu.cn/xs/tbch" style="color:#FFF">特别策划</span></h3>
      	<div class="xs_ztcehua">
<!--enorth cms{ xs_ztcehua }enorth cms-->
<div class="xs_ztcehua_pic"><a href="http://news.nankai.edu.cn/xs/system/2014/09/12/000200854.shtml" target="_blank"><img src="http://news.nankai.edu.cn/pic/0/00/14/19/141965_908789.jpg" border="0" /></a></div>
<div class="xs_ztcehua_pic"><a href="http://news.nankai.edu.cn/xwzt/system/2014/04/04/000173356.shtml" target="_blank"><img src="http://news.nankai.edu.cn/pic/0/00/11/89/118944_987140.jpg" width="80" height="50" border="0" /></a></div>
<div class="xs_ztcehua_pic"><a href="http://news.nankai.edu.cn/xwzt/system/2014/04/10/000174734.shtml"><img src="http://news.nankai.edu.cn/pic/0/00/12/02/120254_993232.jpg" border="0" /></a></div>
<div class="xs_ztch_main">
<!--function latest5(/xs/tbch/,1,3,false,·,MM-dd,none,none) parse begin-->
<table width="100%"  >
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xwzt/system/2017/06/26/000336014.shtml"   target="_blank" >【专题】缅怀南开英烈</a>&nbsp;&nbsp; 06-27</td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xwzt/system/2017/03/13/000322295.shtml"   target="_blank" >【专题】纪念滕维藻诞辰100周年</a>&nbsp;&nbsp; 03-13</td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xwzt/system/2017/01/09/000314634.shtml"   target="_blank" >【专题】纪念杨石先诞辰120周年</a>&nbsp;&nbsp; 01-10</td></tr>
</table>

<!--function: latest5(/xs/tbch/,1,3,false,·,MM-dd,none,none) parse end  141ms cost! -->
</div>
<!--enorth cms{ xs_ztcehua }enorth cms-->
</div>
      	<h3 class="c_title bot"><span class="span"><a href="http://news.nankai.edu.cn/xs/xswc" style="color:#FFF">校史文萃</a></span></h3>
      	<div class="xs_xswencui">
<!--enorth cms{ xs_xswencui }enorth cms-->
            <ul id="tabfirst">
			<li class='tabin' id="li4" onmousemove="showdiv('4')" > <a href="http://news.nankai.edu.cn/xs/xswc/nkrw/" > 南开人物 </a></li>
			<li id="li5" onmousemove="showdiv('5')"> <a href="http://news.nankai.edu.cn/xs/xswc/nkgs/" > 南开故事 </a></li>
			<li id="li6" onmousemove="showdiv('6')"> <a href="http://news.nankai.edu.cn/xs/xswc/tszs/" > 他山之石 </a></li>
			</ul>
			<div class="contentin contentfirst" id="content4">
<!--function latest5(/xs/xswc/nkrw/,1,4,false,·,MM-dd,none,none) parse begin-->
<table width="100%"  >
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2019/02/14/000432837.shtml"   target="_blank" >他没有著作等身，却是中国现代数学的播种人</a>&nbsp;&nbsp; 02-14</td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2019/01/04/000427274.shtml"   target="_blank" >“不让同学挂在‘高树’上！” ——记南开学子周兆筱</a>&nbsp;&nbsp; 01-04</td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2018/12/11/000422915.shtml"   target="_blank" >“斜杠青年”罗程建的“徽章之旅”</a>&nbsp;&nbsp; 12-11</td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2018/11/16/000418935.shtml"   target="_blank" >配位化学先驱——陈荣悌</a>&nbsp;&nbsp; 11-16</td></tr>
</table>

<!--function: latest5(/xs/xswc/nkrw/,1,4,false,·,MM-dd,none,none) parse end  156ms cost! -->
</div>
			<div class="contentfirst" id="content5">
<!--function latest5(/xs/xswc/nkgs/,1,4,false,·,MM-dd,none,none) parse begin-->
<table width="100%"  >
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2017/10/13/000350276.shtml"   target="_blank" >我国旅游高等教育的缘起和早期发展</a>&nbsp;&nbsp; 10-13</td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2017/05/26/000332797.shtml"   target="_blank" >一个家族可建一流大学</a>&nbsp;&nbsp; 05-26</td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2016/12/12/000310395.shtml"   target="_blank" >“后保人”的南开故事</a>&nbsp;&nbsp; 12-12</td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2016/09/19/000296538.shtml"   target="_blank" >光明日报：85年前的“最后一课”</a>&nbsp;&nbsp; 09-19</td></tr>
</table>

<!--function: latest5(/xs/xswc/nkgs/,1,4,false,·,MM-dd,none,none) parse end  141ms cost! -->
</div>
			<div class="contentfirst" id="content6">
<!--function latest5(/xs/xswc/tszs/,1,4,false,·,MM-dd,none,none) parse begin-->
<table width="100%"  >
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2015/01/14/000217694.shtml"   target="_blank" >不断赋予校训精神新的时代元素</a>&nbsp;&nbsp; 01-14</td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2014/05/23/000183894.shtml"   target="_blank" >至诚至坚 博学笃行——安徽大学校训背后的故事</a>&nbsp;&nbsp; 05-23</td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2014/05/09/000180395.shtml"   target="_blank" >“实事求是 敢为人先”</a>&nbsp;&nbsp; 05-09</td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2014/05/09/000180394.shtml"   target="_blank" >“博学而笃志，切问而近思”</a>&nbsp;&nbsp; 05-09</td></tr>
</table>

<!--function: latest5(/xs/xswc/tszs/,1,4,false,·,MM-dd,none,none) parse end  93ms cost! -->
</div>

<!--enorth cms{ xs_xswencui }enorth cms-->
</div>
      	<h3 class="c_title bot"><span class="span"><a href="http://news.nankai.edu.cn/xs/xszl" style="color:#FFF">校史专栏</a></span></h3>
      	<div class="xs_ztyanjiu">
<!--enorth cms{ xs_ztyanjiu }enorth cms-->
            <ul id="tabfirst">
			<li class='tabin' id="li7" onmousemove="showdiv('7')" > <a href="http://news.nankai.edu.cn/xs/xszl/xks/" > 学科史 </a></li>
			<li id="li8" onmousemove="showdiv('8')"> <a href="http://news.nankai.edu.cn/xs/xszl/yxs/" > 院系史 </a></li>
			<li id="li9" onmousemove="showdiv('9')"> <a href="http://news.nankai.edu.cn/xs/xszl/bms/" > 部门史 </a></li>
			</ul>
			<div class="contentin contentfirst" id="content7">
<!--function latest5(/xs/xszl/xks/,1,5,false,·,MM-dd,none,none) parse begin-->
<table width="100%"  >
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2013/12/30/000161755.shtml"   target="_blank" >费孝通与南开社会学</a>&nbsp;&nbsp; 12-30</td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2013/10/21/000147396.shtml"   target="_blank" >信息技术学科：前进中的信息技术科学学院</a>&nbsp;&nbsp; 10-22</td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2013/10/21/000147401.shtml"   target="_blank" >软件学科：开放创新、产学研结合的探索示范</a>&nbsp;&nbsp; 10-22</td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2013/10/21/000147395.shtml"   target="_blank" >环境科学与工程学科：绿色使命共同未来</a>&nbsp;&nbsp; 10-22</td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2013/10/21/000147394.shtml"   target="_blank" >生命科学学科：日新月异的南开生命科学学科</a>&nbsp;&nbsp; 10-22</td></tr>
</table>

<!--function: latest5(/xs/xszl/xks/,1,5,false,·,MM-dd,none,none) parse end  203ms cost! -->
</div>
			<div class="contentfirst" id="content8">
<!--function latest5(/xs/xszl/yxs/,1,5,false,·,MM-dd,none,none) parse begin-->
<table width="100%"  >
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2013/10/21/000147454.shtml"   target="_blank" >泰达学院简介</a>&nbsp;&nbsp; 10-21</td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2013/10/21/000147455.shtml"   target="_blank" >药学院简介</a>&nbsp;&nbsp; 10-21</td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2013/10/21/000147474.shtml"   target="_blank" >日本研究院简介</a>&nbsp;&nbsp; 10-21</td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2013/10/21/000147475.shtml"   target="_blank" >金融发展研究院简介</a>&nbsp;&nbsp; 10-21</td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2013/10/21/000147435.shtml"   target="_blank" >物理学院简介</a>&nbsp;&nbsp; 10-21</td></tr>
</table>

<!--function: latest5(/xs/xszl/yxs/,1,5,false,·,MM-dd,none,none) parse end  63ms cost! -->
</div>
			<div class="contentfirst" id="content9">
<!--function latest5(/xs/xszl/bms/,1,5,false,·,MM-dd,none,none) parse begin-->
<table width="100%"  >
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2013/10/22/000147736.shtml"   target="_blank" >教代会工会简介</a>&nbsp;&nbsp; 10-22</td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2013/10/22/000147735.shtml"   target="_blank" >历任统战部长及分管校领导</a>&nbsp;&nbsp; 10-22</td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2013/10/22/000147734.shtml"   target="_blank" >学校办公室简介</a>&nbsp;&nbsp; 10-22</td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2013/10/21/000147695.shtml"   target="_blank" >党委组织部简介</a>&nbsp;&nbsp; 10-22</td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xs/system/2013/10/21/000147698.shtml"   target="_blank" >党委宣传部简介</a>&nbsp;&nbsp; 10-22</td></tr>
</table>

<!--function: latest5(/xs/xszl/bms/,1,5,false,·,MM-dd,none,none) parse end  31ms cost! -->
</div>

<!--enorth cms{ xs_ztyanjiu }enorth cms-->
</div>
    </div>
     
<!--enorth cms{ xs_bottom }enorth cms-->
   <div class="bottom">
<hr />
   <p>友情链接：
   <span>
   <a href="http://www.moe.gov.cn/">教育部</a> | 
   <a href="http://archives.nankai.edu.cn/">南开大学档案馆</a> |  
   <a href="http://nkuaa.nankai.edu.cn/">南开校友网</a> |  
   <a href="http://bwg.ynnu.edu.cn/">  西南联大博物馆</a> |  
   <a href="http://www.xsg.pku.edu.cn/">北京大学校史馆</a> |  
   <a href="http://www.tsinghua.edu.cn/publish/xsg/index.html">清华大学校史馆</a> | 
   <a href="http://museum.sjtu.edu.cn/jdbwginfoplat/platformData/infoplat/pub/wetsite_12/shouye_102/index.html">上海交通大学校史馆</a>| 
   <a href="http://www.univs.cn/">中国大学生在线</a>  
   </span>
   </p>
</div>
<div class="footer">
<p>地址：天津市南开区卫津路94号南开大学办公楼219 |&#160;电话：+86-22-23500273 | 邮箱：xs@nankai.edu.cn</p>
<p>版权所有：&#169;南开大学校史研究室 |&#160;<a href="http://news.nankai.edu.cn/xs/system/2013/10/16/000146094.shtml
">网站制作团队</a>&#160;| 津教备0061号 津ICP备12003308号-1</p>
    </div>
<!--enorth cms{ xs_bottom }enorth cms-->

</div>
</body>
</html>
<!--<page cms="enorth webpublisher"  version="5.0.0 /2011101201" server_name="svctag-f76553x" parse_date="2019-03-10 13:13:00" cost="1610" parse_result="0" input_mode="manual"></page>-->