<base href="http://news.nankai.edu.cn/zttj/system/2019/01/16/000429254.shtml"><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="">
<meta name="description" content="【专题】习近平总书记视察南开大学">


<link href="/2014ceshi/css/style.css" rel="stylesheet" />
<link href="/2014ceshi/css/third.css" rel="stylesheet" />
<link href="http://news.nankai.edu.cn/css/index.css" rel="stylesheet" type="text/css">
<title>【专题】习近平总书记视察南开大学--专题推荐</title>
</head>

<body>
<div class="wrap">

<!-- banner starts -->

<!--enorth cms{ new_second_banner }enorth cms-->
<style type="text/css">
.banner {
	position: relative;
	width: 1000px;
	height: 125px;
	background-repeat: no-repeat;
	background-image: url(/2014ceshi/images/banner.png);
	padding-bottom: 5px;
}

.mainmenu {
	position: relative;
	float: left;
	margin-left: 480px;
	margin-top: 95px;
}

.mainmenu a {
	color: #989898;
	text-decoration: none;
}

.mainmenu a:hover {
	color: #4f4f4f;
}

.link {
	position: relative;
	float: left;
	margin: 0 5px;
	font: bold 16px 'Microsoft YaHei';
}

.form {
	position: relative;
	float: left;
	line-height: 12px;
	padding-left: 24px;
	top: -2px;
}

.form input[type="text"] {
	float: left;
	width: 125px;
	height: 12px;
	padding-left: 3px;
	text-indent: 5px;
	border: none;
	border-radius: 1px;
	box-shadow: 0 0 0 2px #ababab;
}

.form input[type="text"]:focus {
	outline: 0 none;
	box-shadow: 0 0 0 2px #7e7e7e;
}
</style>
<body>
	<div class="banner">
		<a href="http://news.nankai.edu.cn/" style="position: absolute;left: 60px;top: 15px;display: block;width: 380px;height: 100px;">&nbsp;</a>
		<div class="mainmenu">
			<div class="link">
				<a href="http://news.nankai.edu.cn/" target="_blank">首页</a>
			</div>
			<div class="link">
				<a href="http://jw.nankai.edu.cn/" target="_blank">觉悟网</a>
			</div>
			<div class="link">
				<a href="http://theory.nankai.edu.cn/" target="_blank">学习网</a>
			</div>
			<div class="link">
				<a
					href="http://news.nankai.edu.cn/xwzt/system/2014/03/06/000168359.shtml"
					target="_blank">大学报</a>
			</div>
			<div class="link">
				<a href="http://news.nankai.edu.cn/xs/" target="_blank">校史网</a>
			</div>
			<div class="link">
				<a href="http://bbs.nankai.edu.cn/" target="_blank">BBS</a>
			</div>
			<div class="form">
				<form method="get" id="searchform" action="#" class="form-search"
					style="padding-top: 7px;" />

				<!--Baidu站内搜索开始-->
				<script language="javascript">
					function baidusearch() {
						var wd = document.getElementsByName("wd")[0].value;
						var link = "http://www.baidu.com/s?si=news.nankai.edu.cn&cl=3&ct=2097152&tn=baidulocal&word="
								+ wd;
						window.open(link);
					}
				</script>
				<input name="wd" type="text" size="10" /> <input type="image"
					onclick="javascript:baidusearch()" src="/2014ceshi/images/find.png"
					alt="搜索"
					style=" width:16px; height:16px;position: relative;
float: left;
padding-left: 8px;" />
				<!--Baidu站内搜索结束-->
				</form>
			</div>
		</div>
	</div>
</body>
<!--enorth cms{ new_second_banner }enorth cms-->

<!-- banner ends -->

<!-- content starts -->
<div class="con-wrap">
<div class="third-content">
	<div class="third-left">
            <div class=" news-position">
<!--function position() parse begin-->
您当前的位置 ：<a href=http://news.nankai.edu.cn/zttj/>专题推荐</a>&nbsp;正文
<!--function: position() parse end  0ms cost! -->
</div>
        <div class="news--banner">
        	<div class="news-title"><h2>【专题】习近平总书记视察南开大学</h2></div>
            <div class="news-detail">来源：
<!--function source_without_pub_date() parse begin-->

<!--function: source_without_pub_date() parse end  0ms cost! -->
&nbsp;&nbsp;&nbsp;&nbsp;发稿时间：
<!--function pub_date() parse begin-->
2019-01-18 18:40
<!--function: pub_date() parse end  0ms cost! -->
</div>
        </div>
        <div class=" news-content">
<!--function content() parse begin-->
<div align="center">
<div align="center">
<div align="center"><span><span><span><span><img border="0" height="249" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/33/78/337864_152133.jpg" width="600" /></span></span></span></span></div>
<div>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/17/000429454.shtml" target="_blank">习近平总书记视察南开大学</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span>【视<a href="http://news.nankai.edu.cn/nkyw/system/2019/01/17/000429514.shtml" target="_blank">频】习近平总书记视察南开大学</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/18/000429614.shtml" target="_blank">习近平到访南开，哪些地方吸引了他的目光？</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/18/000429715.shtml" target="_blank">习近平寄语南开师生：只有把小我融入大我，才会有海一样的胸怀，山一样的崇高</a></p>
<p style="text-align: left">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span style="color: rgb(255,0,0)">★</span><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/18/000429874.shtml" target="_blank">【新闻联播】习近平总书记视察南开大学</a></p>
<p style="text-align: left">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span style="color: rgb(255,0,0)">★</span>【<a href="http://news.nankai.edu.cn/nkyw/system/2019/01/18/000429794.shtml" target="_blank">原声】习近平寄语南开师生：只有把小我融入大我，才会有海一样的胸怀、</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/18/000429794.shtml" target="_blank">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;山一样的崇高</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/19/000430015.shtml" target="_blank">【新闻联播】牢记总书记嘱托 谱写京津冀协同发展新篇章</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/19/000429954.shtml" target="_blank">习近平在京津冀三省市考察并主持召开京津冀协同发展座谈会时强调：稳扎稳</a></p>
<p style="text-align: left"><span style="text-align: left; text-transform: none; background-color: transparent; font-variant: normal; font-style: normal; text-indent: 0px; display: inline !important; font-family: '宋体', Arial, Verdana, sans-serif; white-space: normal; orphans: 2; float: none; letter-spacing: normal; color: rgb(34,34,34); font-size: 16px; font-weight: 400; word-spacing: 0px; text-decoration: none; -webkit-text-stroke-width: 0px">&nbsp; &nbsp; &nbsp; &nbsp; </span><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/19/000429954.shtml" target="_blank">打勇于担当敢于创新善作善成 推动京津冀协同发展取得新的更大进展</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/20/000430095.shtml" target="_blank">习近平总书记念念不忘在南开的一幕幕</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/20/000430094.shtml" target="_blank">一项历史性工程 &mdash;&mdash;习近平总书记调研京津冀协同发展并主持召开座谈会纪实</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/20/000430254.shtml" target="_blank">【新闻联播】百年南开：牢记嘱托 立德树人</a></p>
</div>
</div>
<div align="center">
<div align="center">
<div align="center"><span><span><img border="0" height="55" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/33/78/337865_749478.jpg" width="600" /></span></span></div>
<div>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/18/000429636.shtml" target="_blank">校党委召开会议传达学习习近平总书记视察南开大学重要讲话精神</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/19/000429995.shtml" target="_blank">我校学工系统座谈学习习近平总书记视察南开大学重要讲话精神</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/21/000430454.shtml" target="_blank">学习传达习近平总书记来校视察重要讲话精神暨学生思想政治工作总结</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/21/000430454.shtml" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;交流会召开</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/23/000430777.shtml" target="_blank">南开大学召开中青年骨干教师座谈会 传达学习习近平总书记视察南开</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://news.nankai.edu.cn/nkyw/system/2019/01/23/000430777.shtml" target="_blank">大学重要讲话精神</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/22/000430494.shtml" target="_blank">我校教代会工会委员座谈学习习近平总书记视察南开大学重要讲话精神</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/25/000430955.shtml" target="_blank">重温习近平总书记殷切嘱托 校领导带队参观百年校史主题展</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/nkyw/system/2019/02/02/000431815.shtml" target="_blank">我校学子开展&ldquo;把小我融入大我 南开与祖国同行&rdquo;专题寒假社会实践</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★<span style="display: none">&nbsp;</span></span><a href="http://news.nankai.edu.cn/nkyw/system/2019/02/19/000433374.shtml" target="_blank">校党委印发实施意见 深入学习宣传贯彻习近平总书记视察南开大学重要讲话精神</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/nkyw/system/2019/02/18/000433314.shtml" target="_blank">开学首日：奋斗新学期 迎接新百年</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/nkyw/system/2019/02/14/000432997.shtml" target="_blank">将小我融入大我：南开学子回高中母校宣讲百年南开爱国情怀</a></p>
</div>
<div align="center"><span><span><img border="0" height="55" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/33/78/337866_962023.jpg" width="600" /></span></span></div>
<div>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/18/000429674.shtml" target="_blank">习近平总书记视察南开大学在南开师生中引起强烈反响（一）</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/21/000430415.shtml" target="_blank">习近平总书记视察南开大学在南开师生中引起强烈反响（二）</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/22/000430595.shtml" target="_blank">习近平总书记视察南开大学在南开师生中引起强烈反响（三）</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/24/000430814.shtml" target="_blank">习近平总书记视察南开大学在南开师生中引起强烈反响（四）</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/27/000431234.shtml" target="_blank">习近平总书记视察南开大学在南开师生中引起强烈反响（</a>五）</p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/30/000431415.shtml" target="_blank">习近平总书记视察南开大学在南开师生中引起强烈反响（六）</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/nkyw/system/2019/02/02/000431856.shtml" target="_blank">习近平总书记视察南开大学在南开师生中引起强烈反响（七）</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/nkyw/system/2019/02/05/000432074.shtml " target="_blank">习近平总书记视察南开大学在南开师生中引起强烈反响（八）</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/25/000430956.shtml" target="_blank">南开8名入伍学子认真学习习近平总书记来校视察重要讲话精神</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/19/000429994.shtml" target="_blank">化学学院座谈学习习近平总书记视察南开大学重要讲话精神</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/zhxw/system/2019/01/20/000430116.shtml" target="_blank">马院、政府学院、材料学院传达学习习近平总书记视察南开大学重要讲话精神</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/qqxy/system/2019/01/20/000430194.shtml" target="_blank">法学院师生赴天津韩指挥营村开展寒假社会实践活动</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/24/000430854.shtml" target="_blank">化学学院师生重走习近平总书记来校考察之路</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;★<a href="http://news.nankai.edu.cn/zhxw/system/2019/01/24/000430894.shtml" target="_blank">泰达学院、哲学院、物理学院、软件学院、计算机学院、网络空间安全学院</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/zhxw/system/2019/01/24/000430894.shtml" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;传达学习习近平总书记视察南开大学重要讲话精神</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/zhxw/system/2019/01/26/000431115.shtml" target="_blank">马院&ldquo;师生四同&rdquo;推进深入学习习近平总书记视察南开大学重要讲话精神</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/zhxw/system/2019/01/27/000431274.shtml" target="_blank">人工智能学院、医学院召开学习贯彻习近平总书记视察南开大学重要讲话</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/zhxw/system/2019/01/27/000431274.shtml" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;精神座谈会</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/qqxy/system/2019/01/27/000431254.shtml" target="_blank">药学院开展系列实践活动 做新时代合格药学人</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/qqxy/system/2019/01/26/000431194.shtml" target="_blank">南开学子赴李大钊故乡学习宣传爱国精神</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/qqxy/system/2019/01/26/000431174.shtml" target="_blank">外院学子重走习近平总书记京津冀考察之路</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/qqxy/system/2019/01/26/000431134.shtml" target="_blank">材料学院师生赴力神电池开展社会实践</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/qqxy/system/2019/01/25/000431014.shtml" target="_blank">电光学院师生赴和平区朝阳里社区开展&ldquo;南开与祖国同行&rdquo;社会实践</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/qqxy/system/2019/01/25/000430994.shtml" target="_blank">信息安全宣讲队首讲走进津南新城社区</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/qqxy/system/2019/01/28/000431354.shtml" target="_blank">金融学院宣讲团赴内蒙古一机一中宣讲</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/qqxy/system/2019/01/29/000431397.shtml" target="_blank">人工智能学院师生赴多地宣讲习近平总书记视察南开大学重要讲话精神</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/qqxy/system/2019/02/03/000431954.shtml" target="_blank">南开师生赴陕西洋县学习座谈习近平总书记视察南开大学重要讲话精神</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/qqxy/system/2019/02/02/000431794.shtml" target="_blank">商学院召开学习习近平总书记视察南开重要讲话精神座谈会</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/qqxy/system/2019/01/30/000431474.shtml" target="_blank">人工智能学院师生与航天科工集团校友共话&ldquo;将小我融入大我&rdquo;</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/zhxw/system/2019/02/04/000432036.shtml" target="_blank">人工智能学院多角度学习落实习近平总书记视察南开大学重要讲话精神</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/zhxw/system/2019/02/04/000432058.shtml" target="_blank">南开师生赴雄安开展社会实践 深入学习习近平总书记视察雄安、南开</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/zhxw/system/2019/02/04/000432058.shtml" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;大学讲话精神</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/zhxw/system/2019/02/13/000432754.shtml" target="_blank">商学院多举措学习贯彻习近平总书记视察南开大学讲话精神</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/zhxw/system/2019/02/13/000432714.shtml" target="_blank">将小我融入大我：南开学子回高中母校宣讲百年南开爱国情怀</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/qqxy/system/2019/02/09/000432274.shtml" target="_blank">电光学子母校宣讲南开传统</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/zhxw/system/2019/02/18/000433335.shtml" target="_blank">经院将启动&ldquo;成才报国真行动，献礼南开新百年&rdquo;主题教育活动</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/zhxw/system/2019/02/18/000433337.shtml" target="_blank">寒假期间校团委通过多种形式学习贯彻习近平总书记来校视察重要讲话精神</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/zhxw/system/2019/02/19/000433454.shtml" target="_blank">环科学院多举措学习贯彻习近平总书记视察南开大学重要讲话精神</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/zhxw/system/2019/02/20/000433555.shtml" target="_blank">统计与数据科学学院召开学习习近平总书记视察南开大学重要讲话精神座谈会</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/qqxy/system/2019/02/19/000433474.shtml" target="_blank">经济学院参军学子以优秀表现践行习近平总书记&ldquo;回信&rdquo;精神</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/zhxw/system/2019/02/22/000434015.shtml" target="_blank">外国语学院多举措学习贯彻习近平总书记来校重要讲话精神</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/zhxw/system/2019/02/22/000434020.shtml" target="_blank">武装部、物理科学学院赴部队宣讲总书记视察南开大学重要讲话精神、</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/zhxw/system/2019/02/22/000434020.shtml" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;调研慰问我校2018年入伍学生</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/zhxw/system/2019/02/22/000434054.shtml" target="_blank">药学院召开学习习近平总书记视察南开大学重要讲话精神座谈会</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★<span style="display: none">&nbsp;</span></span><a href="http://news.nankai.edu.cn/zhxw/system/2019/02/24/000434254.shtml" target="_blank">哲学院以&ldquo;三个一&rdquo;学习贯彻习近平总书记视察南开大学重要讲话精神</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/zhxw/system/2019/02/26/000434514.shtml" target="_blank">环科学院举办习近平总书记视察南开重要讲话精神交流分享会</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/zhxw/system/2019/02/27/000434796.shtml" target="_blank">金融学院多举措学习贯彻习近平总书记视察南开大学重要讲话精神</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/zhxw/system/2019/02/27/000434816.shtml" target="_blank">电光学院多层次学习宣传习近平总书记视察南开大学重要讲话精神</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/zhxw/system/2019/03/02/000435116.shtml" target="_blank">政府学院学习践行习近平总书记视察南开大学重要讲话精神</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/qqxy/system/2019/02/27/000434674.shtml" target="_blank">小我融入大我 物理学院学子为成长加速</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/qqxy/system/2019/02/27/000434798.shtml" target="_blank">材料学院学生积极开展&ldquo;把小我融入大我&rdquo;寒假实践活动</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/qqxy/system/2019/03/01/000435035.shtml" target="_blank">把小我融入大我 软件学院学子用心托起折翼天使</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/qqxy/system/2019/03/01/000435039.shtml" target="_blank">软件学院学生持续学习习近平总书记视察南开重要讲话精神</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/qqxy/system/2019/03/01/000435040.shtml" target="_blank">哲学学生探访各行各业基层 探寻&ldquo;小我融入大我&rdquo;</a></p>
<p><span><span><img border="0" height="55" id="no_img" src="http://news.nankai.edu.cn/pic/0/00/33/78/337867_290088.jpg" width="600" /></span></span></p>
</div>
<div>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/17/000429474.shtml" target="_blank">新华社：习近平在天津考察</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://news.nankai.edu.cn/mtnk/system/2019/01/18/000429797.shtml" target="_blank"><span style="color: #ff0000">★</span>新华社：习近平寄语南开师生：只有把小我融入大我，才会有海一样的胸怀，</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/18/000429797.shtml" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 山一样的崇高</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/21/000430299.shtml" target="_blank">新华社：&ldquo;京津冀的未来更美好！&rdquo;&mdash;&mdash;习近平总书记京津冀三省市考察回访记</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/21/000430317.shtml" target="_blank">新华社：一项历史性工程&mdash;&mdash;习近平总书记调研京津冀协同发展并主持召开</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/21/000430317.shtml" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 座谈会纪实</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/25/000431034.shtml" target="_blank">新华网：新华微评&middot;学习笔谈：心怀大我，山高海阔</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/20/000430097.shtml" target="_blank">人民日报：一项历史性工程 &mdash;&mdash;习近平总书记调研京津冀协同发展并主持召开座</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://news.nankai.edu.cn/mtnk/system/2019/01/20/000430097.shtml" target="_blank">谈会纪实</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000429914.shtml" target="_blank">人民日报：习近平在京津冀三省市考察并主持召开京津冀协同发展座谈会时强调：</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000429914.shtml" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 稳扎稳打勇于担当敢于创新善作善成 推动京津冀协同发展取得新的更大进展</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/02/17/000433195.shtml" target="_blank">人民日报：把小我融入大我</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000429976.shtml" target="_blank">人民日报海外版：习近平在京津冀三省市考察并主持京津冀协同发展座谈会时强调</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000429976.shtml" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 稳扎稳打勇于担当敢于创新善作善成 推动京津冀协同发展取得新的更大进展</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000429975.shtml" target="_blank">人民日报海外版：在京津冀三省市考察并主持召开京津冀协同发展座谈会</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000429975.shtml" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 习近平：稳扎稳打 勇于担当 敢于创新 善作善成</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/21/000430314.shtml" target="_blank">人民日报海外版：一项历史性工程 &mdash;&mdash;习近平总书记调研京津冀协同发展并</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/21/000430314.shtml" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 主持召开座谈会纪实</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/25/000431075.shtml" target="_blank">人民日报海外版：网友热议习近平总书记调研京津冀协同发展</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/21/000430279.shtml" target="_blank">人民网：&ldquo;瓣瓣不同，却瓣瓣同心&rdquo;&mdash;&mdash;习近平调研京津冀协同发展&ldquo;金句&rdquo;</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/17/000429436.shtml" target="_blank">人民日报客户端：习近平在天津考察</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/18/000429814.shtml" target="_blank">人民日报客户端：习近平寄语南开师生</a></p>
<p style="text-align: left">&nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;<span style="color: rgb(255,0,0)">★</span><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/18/000429874.shtml" target="_blank">新闻联播：习近平总书记视察南开大学</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000430014.shtml" target="_blank">新闻联播：牢记总书记嘱托 谱写京津冀协同发展新篇章</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/20/000430256.shtml" target="_blank">新闻联播：牢记嘱托 立德树</a>人</p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/02/07/000432142.shtml" target="_blank">新闻联播：弘扬家国情怀 在奋斗中收获更多自信和勇气</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/17/000429516.shtml" target="_blank">央视新闻：独家视频：习近平今日上午在天津南开大学考察调研</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/18/000429654.shtml" target="_blank">央视网：习近平到访南开，哪些地方吸引了他的目光？</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/23/000430754.shtml" target="_blank">央视网：情暖京津冀：习近平新年首次考察的五个瞬间</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000430054.shtml" target="_blank">独家V观：习近平鼓励南开学子：志存高远，脚踏实地</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000429935.shtml" target="_blank">光明日报：习近平在京津冀三省市考察并主持召开京津冀协同发展座谈会时强调</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000429935.shtml" target="_blank"><span style="text-align: left; text-transform: none; background-color: transparent; font-variant: normal; font-style: normal; text-indent: 0px; display: inline !important; font-family: '宋体', Arial, Verdana, sans-serif; white-space: normal; orphans: 2; float: none; letter-spacing: normal; color: rgb(34,34,34); font-size: 16px; font-weight: 400; word-spacing: 0px; text-decoration: none; -webkit-text-stroke-width: 0px">&nbsp; &nbsp; &nbsp; &nbsp; </span>稳扎稳打勇于担当敢于创新善作善成 推动京津冀协同发展取得新的更大进展</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/21/000430315.shtml" target="_blank">光明日报：一项历史性工程 &mdash;&mdash;习近平总书记调研京津冀协同发展并主持召开</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/21/000430315.shtml" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 座谈会纪实</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/27/000431276.shtml" target="_blank">光明日报：京津冀协同发展如何&ldquo;爬坡过坎&rdquo;</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/02/11/000432376.shtml" target="_blank">光明日报：把小我融入大我</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000429934.shtml" target="_blank">新华每日电讯：习近平在京津冀三省市考察并主持召开京津冀协同发展座谈会时强调</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000429934.shtml" target="_blank"><span style="text-align: left; text-transform: none; background-color: transparent; font-variant: normal; font-style: normal; text-indent: 0px; display: inline !important; font-family: '宋体', Arial, Verdana, sans-serif; white-space: normal; orphans: 2; float: none; letter-spacing: normal; color: rgb(34,34,34); font-size: 16px; font-weight: 400; word-spacing: 0px; text-decoration: none; -webkit-text-stroke-width: 0px">&nbsp; &nbsp; &nbsp; &nbsp; </span>稳扎稳打勇于担当敢于创新善作善成 推动京津冀协同发展取得新的更大进</a>展</p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/21/000430316.shtml" target="_blank">新华每日电讯：一项历史性工程 &mdash;&mdash;习近平总书记调研京津冀协同发展并主持召开</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/21/000430316.shtml" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 座谈会纪实</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000429974.shtml" target="_blank">中国教育报：习近平在京津冀三省市考察并主持召开京津冀协同发展座谈会时强调</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000429974.shtml" target="_blank"><span style="text-align: left; text-transform: none; background-color: transparent; font-variant: normal; font-style: normal; text-indent: 0px; display: inline !important; font-family: '宋体', Arial, Verdana, sans-serif; white-space: normal; orphans: 2; float: none; letter-spacing: normal; color: rgb(34,34,34); font-size: 16px; font-weight: 400; word-spacing: 0px; text-decoration: none; -webkit-text-stroke-width: 0px">&nbsp; &nbsp; &nbsp; &nbsp; </span>稳扎稳打勇于担当敢于创新善作善成 推动京津冀协同发展取得新的更大进展</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/21/000430302.shtml" target="_blank">中国教育报：牢记嘱托爱国奋斗 勇攀高峰 &mdash;&mdash;习近平总书记视察南开大学在南开</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/21/000430302.shtml" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 师生中引起强烈反响</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000429936.shtml" target="_blank">经济日报：习近平在京津冀三省市考察并主持召开京津冀协同发展座谈会时强调</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000429936.shtml" target="_blank"><span style="text-align: left; text-transform: none; background-color: transparent; font-variant: normal; font-style: normal; text-indent: 0px; display: inline !important; font-family: '宋体', Arial, Verdana, sans-serif; white-space: normal; orphans: 2; float: none; letter-spacing: normal; color: rgb(34,34,34); font-size: 16px; font-weight: 400; word-spacing: 0px; text-decoration: none; -webkit-text-stroke-width: 0px">&nbsp; &nbsp; &nbsp; &nbsp; </span>稳扎稳打勇于担当敢于创新善作善成 推动京津冀协同发展取得新的更大进展</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/02/03/000431914.shtml" target="_blank">解放军报：牢记习主席嘱托，做新时代的好战士</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000429940.shtml" target="_blank">北京日报：习近平在京津冀三省市考察并主持召开京津冀协同发展座谈会</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000429938.shtml" target="_blank">天津日报：习近平在京津冀三省市考察并主持召开京津冀协同发展座谈会时强调</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000429938.shtml" target="_blank"><span style="text-align: left; text-transform: none; background-color: transparent; font-variant: normal; font-style: normal; text-indent: 0px; display: inline !important; font-family: '宋体', Arial, Verdana, sans-serif; white-space: normal; orphans: 2; float: none; letter-spacing: normal; color: rgb(34,34,34); font-size: 16px; font-weight: 400; word-spacing: 0px; text-decoration: none; -webkit-text-stroke-width: 0px">&nbsp; &nbsp; &nbsp; &nbsp; </span>稳扎稳打勇于担当敢于创新善作善成 推动京津冀协同发展取得新的更大进展</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/21/000430278.shtml" target="_blank">天津日报：牢记总书记厚望厚爱奋力答好新时代&ldquo;考卷&rdquo;（图） ── 习近平总书记</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/21/000430278.shtml" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 在天津考察引发广大干部群众热烈反响</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/21/000430275.shtml" target="_blank">天津日报：一项历史性工程 ── 习近平总书记调研京津冀协同发展并主持召开</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/21/000430275.shtml" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 座谈会纪实</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/21/000430280.shtml" target="_blank">天津日报：昨日《新闻联播》头条报道习近平总书记在京津冀考察令广大干部</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/21/000430280.shtml" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 群众备受鼓舞── 牢记总书记嘱托 谱写京津冀协同发展新篇章</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/30/000431534.shtml" target="_blank">天津日报：把小我融入大我&mdash;&mdash;二论学习贯彻习近平总书记重要讲话精神</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/02/14/000432996.shtml" target="_blank">天津日报：牢记总书记亲切关怀 凝聚天津发展强大动力──习近平总书记在</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/mtnk/system/2019/02/14/000432996.shtml" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span style="display: none">&nbsp;</span>天津考察引发广大干部群众热烈反响</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/02/14/000433014.shtml" target="_blank">天津日报：央广《新闻和报纸摘要》昨日播发报道， 习近平总书记在京津冀</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/mtnk/system/2019/02/14/000433014.shtml" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 协同发展座谈会上重要讲话引起热烈反响──殷殷嘱托 让干部群众倍受鼓舞</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/02/14/000432994.shtml" target="_blank">天津日报：总书记在津考察走过的地方回访记</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/20/000430074.shtml" target="_blank">今晚报：习近平在京津冀三省市考察并主持召开京津冀协同发展座谈会时强调 </a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/20/000430074.shtml" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 稳扎稳打勇于担当敢于创新善作善成 推动京津冀协同发展取得新的更大进展</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/21/000430298.shtml" target="_blank">今晚报：总书记的到来为我们鼓干劲</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/21/000430297.shtml" target="_blank">今晚报：习近平总书记来津考察工作在广大干部群众中引发强烈反响总书记</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/21/000430297.shtml" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 厚望厚爱激励我们砥砺前行</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/21/000430294.shtml" target="_blank">今晚报：一项历史性工程&mdash;&mdash;习近平总书记调研京津冀协同发展并主持</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/21/000430294.shtml" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 召开座谈会纪实</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/21/000430296.shtml " target="_blank">今晚报：昨日《新闻联播》头条报道习近平总书记在京津冀考察令广大干部</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/21/000430296.shtml " target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 群众备受鼓舞── 牢记总书记嘱托 谱写京津冀协同发展新篇章</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/30/000431494.shtml" target="_blank">今晚报：重走总书记考察路 立志为公</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/02/07/000432136.shtml" target="_blank">今晚报：牢记嘱托 写好南开答卷</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/02/14/000433034.shtml" target="_blank">今晚报：习近平总书记来津考察工作在广大干部群众中持续引发强烈反响</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/mtnk/system/2019/02/14/000433034.shtml" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 殷殷嘱托记在心间落在行动</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/02/14/000433054.shtml" target="_blank">今晚报：央广《新闻和报纸摘要》报道习近平总书记在京津冀协同发展</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/mtnk/system/2019/02/14/000433054.shtml" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 座谈会上重要讲话引起热烈反响 勇担当敢创新 坚定信心谋发展</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/02/14/000433055.shtml" target="_blank">每日新报：总书记在津考察走过的地方回访记</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000429939.shtml" target="_blank">河北日报：习近平在京津冀三省市考察并主持召开京津冀协同发展座谈会时强调</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000429939.shtml" target="_blank"><span style="text-align: left; text-transform: none; background-color: transparent; font-variant: normal; font-style: normal; text-indent: 0px; display: inline !important; font-family: '宋体', Arial, Verdana, sans-serif; white-space: normal; orphans: 2; float: none; letter-spacing: normal; color: rgb(34,34,34); font-size: 16px; font-weight: 400; word-spacing: 0px; text-decoration: none; -webkit-text-stroke-width: 0px">&nbsp; &nbsp; &nbsp; &nbsp; </span>稳扎稳打勇于担当敢于创新善作善成 推动京津冀协同发展取得新的更大进展</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/21/000430318.shtml" target="_blank">中新社：习近平在天津点赞南开、鼓励创新引发当地知识界共鸣</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/21/000430319.shtml" target="_blank">中国之声：习近平在京津冀协同发展座谈会上重要讲话引起热烈反响</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/02/12/000432456.shtml" target="_blank">中国发展网：南开大学化学学院师生重走习近平总书记来校考察之路</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/02/12/000432483.shtml" target="_blank">中国科技网：凝聚创新智慧力量 建功立业新时代&mdash;&mdash;天津科技界学习</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/mtnk/system/2019/02/12/000432483.shtml" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 贯彻习近平总书记的重要讲话精神</a></p>
<p style="text-align: left"><span style="color: #ff0000">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/20/000430234.shtml" target="_blank">中国教育网络电视台：习近平考察南开大学</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/21/000430276.shtml" target="_blank">学习大国：习近平2019年首次考察，为何选这？</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/17/000429594.shtml" target="_blank">津云：走进南开大学石先楼：中国有机化学从这里出发</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/17/000429595.shtml" target="_blank">津云：百年走出&ldquo;爱国奋斗 公能日新&rdquo;之路，巍巍我南开精神！</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><span style="color: #000000"><span>津云：</span></span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/18/000429716.shtml" target="_blank">【津云微视&middot;纪录】无化学 不南开！带你看看南开化学的百年之路</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/18/000429694.shtml" target="_blank">香港商报：习近平考察天津 走访南开引师生热烈反响</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/17/000429574.shtml" target="_blank">香港经济导报网：习近平总书记视察南开大学在南开师生中引起热烈反响</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/02/14/000433094.shtml" target="_blank">文汇报：一项历史性工程 &mdash;&mdash;习近平总书记调研京津冀协同发展并主持召开</a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/mtnk/system/2019/02/14/000433094.shtml" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 座谈会纪实</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="color: #ff0000">★</span><a href="http://news.nankai.edu.cn/mtnk/system/2019/02/14/000433074.shtml" target="_blank">文汇报：习近平在京津冀三省市考察并主持召开京津冀协同发展座谈会时强调 </a></p>
<p style="text-align: left"><a href="http://news.nankai.edu.cn/mtnk/system/2019/02/14/000433074.shtml" target="_blank">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; 稳扎稳打勇于担当敢于创新善作善成 推动京津冀协同发展取得新的更大进展</a></p>
<p style="text-align: left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="http://news.nankai.edu.cn/mtnk/index.shtml" target="_blank">更多......</a></p>
</div>
</div>
</div>
</div>
<!--advertisement code begin--><!--advertisement code end-->
<!--function: content() parse end  15ms cost! -->
</div>
        <div class="news-footer"><p style="text-align:right"><font style="color:#00F; font-size:14px;">编辑：</font>
<!--function init_editor() parse begin-->
乔仁铭
<!--function: init_editor() parse end  0ms cost! -->
</p></div>
	</div>
        <div class="third-right">
	
<!--enorth cms{ 2014new-bl }enorth cms-->
<style type="text/css">
.third-right {
	position: relative;
	float: left;
	width: 260px;
	height: auto;
}

.third-menu {
	width: 255px;
	height: auto;
	background-image: url(/2014ceshi/images/zhulou.png);
	background-repeat: no-repeat;
}

.menu-title {
	position: relative;
	padding: 28px 0 0 210px;
}

.menu-title a {
	font: bold 16px 'Microsoft YaHei';
	color: #701a5e;
	text-decoration: none;
}

.guanbo {
	padding: 5px;
}

.zhuanti {
	width: 230px;
	height: 130px;
	padding: 5px 5px;
}

.zhuanti-title {
	position: relative;
	float: left;
	width: 120px;
	margin-top: 15px;
}

.zhuanti-title a {
	font: bold 13px 'Microsoft YaHei';
	text-decoration: none;
}

.zhuanti-content {
	padding-top: 2px;
	position: relative;
	float: left;
	width: 120px;
	font: 12px 'Microsoft YaHei';
	line-height: 16px;
	text-align: justify;
	text-justify: inter-ideograph;
}

.zhuanti-img {
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
	margin: 15px 5px 15px 0;
}

.zhuanti img {
	width: 100px;
	height: 100px;
        border:none;
}

.guanzhu {
	padding-top: 5px;
}

.guanzhu td a {
	width: 220px;
	overflow: hidden;
	text-overflow: ellipsis;
	font: 13px 'Microsoft YaHei';
	line-height: 15px;
	text-decoration: none;
	color: #000;
	display: inline-block;
	white-space: nowrap;
	margin: 2px 0 1px 0;
}
</style>
<body>
<div class="third-menu">
        <div class="menu-title"><a href="http://weibo.com/nankaiuni" target="_blank">官博</a></div>
        <div class="guanbo">
<iframe width="245" height="400" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=zh_cn&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=1&isWeibo=1&isFans=0&uid=1851774145&verifier=4e1ba554&colors=7f0d6f,ffffff,666666,0082cb,ecfbfd&dpc=1"></iframe>
        </div>
        </div>
        <div class="third-menu">
        	<div class="menu-title"><a href="http://news.nankai.edu.cn/xwzt/system/2010/03/07/000028950.shtml" target="_blank">专题</a></div>
         
<!--function guide_model(zttj,1,2,1,/2014ceshi/small_template/zhuanti.html) parse begin-->
<table width="100%"  >
<tr><td ><div class="zhuanti">
<div class="zhuanti-img"><a href="http://news.nankai.edu.cn/zttj/system/2018/03/01/000369676.shtml" target="_blank"><img src=http://news.nankai.edu.cn/pic/0/00/29/62/296245_618433.jpg /></a></div>
<div class="zhuanti-title"><a href="http://news.nankai.edu.cn/zttj/system/2018/03/01/000369676.shtml"   target="_blank" >【专题】纪念杰出校友周恩来总理诞辰120周年</a></div>
<div class="zhuanti-content">&nbsp;&nbsp;在南开大学杰出校友周恩来诞辰120周年之际，南开师生举办相关纪念活动，共同缅怀周总理的伟大人格和精神风范。</div></td></tr>
<tr><td ><div class="zhuanti">
<div class="zhuanti-img"><a href="http://news.nankai.edu.cn/xwzt/system/2018/04/15/000376955.shtml" target="_blank"><img src=http://news.nankai.edu.cn/pic/0/00/29/63/296365_959782.jpg /></a></div>
<div class="zhuanti-title"><a href="http://news.nankai.edu.cn/xwzt/system/2018/04/15/000376955.shtml"   target="_blank" ><b><font color=#FF0000>【专题】学习贯彻党的十九大精神</font></b></a></div>
<div class="zhuanti-content">&nbsp;&nbsp;不忘初心，牢记使命，高举中国特色社会主义伟大旗帜，决胜全面建成小康社会</div></td></tr>
</table>

<!--function: guide_model(zttj,1,2,1,/2014ceshi/small_template/zhuanti.html) parse end  94ms cost! -->

         </div>
        <div class="third-menu">
        	<div class="menu-title"><a href="http://news.nankai.edu.cn/nkyw/index.shtml" target="_blank">关注</a></div>
         <div class="guanzhu">
         
<!--function guide5($hot7_0,1,10,false,none,none,none,none) parse begin-->
<table width="100%"  >
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000430054.shtml"   target="_blank" >独家V观：习近平鼓励南开学子：志存高远，脚踏实地</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/spxw/system/2019/01/19/000430034.shtml"   target="_blank" >【独家V观】习近平鼓励南开学子：志存高远，脚踏实地</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/spxw/system/2019/01/19/000430017.shtml"   target="_blank" >【新闻联播】央视快评：共同努力把京津冀协同发展这件大事办好</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/spxw/system/2019/01/19/000430016.shtml"   target="_blank" >【新闻联播】牢记总书记嘱托 谱写京津冀协同发展新篇章</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000429974.shtml"   target="_blank" >中国教育报：习近平在京津冀三省市考察并主持召开京津冀协同发展座谈会时强调 稳扎稳打勇于担当敢于创新善作善成 推动京津冀协同发展取得新的更大进展</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000429975.shtml"   target="_blank" >人民日报海外版：在京津冀三省市考察并主持召开京津冀协同发展座谈会 习近平：稳扎稳打 勇于担当 敢于创新 善作善成</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000429976.shtml"   target="_blank" >人民日报海外版：习近平在京津冀三省市考察并主持京津冀协同发展座谈会时强调 稳扎稳打勇于担当敢于创新善作善成 推动京津冀协同发展取得新的更大进展</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/19/000429994.shtml"   target="_blank" >化学学院座谈学习习近平总书记视察南开大学重要讲话精神</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/19/000430015.shtml"   target="_blank" >【新闻联播】牢记总书记嘱托 谱写京津冀协同发展新篇章</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/19/000429995.shtml"   target="_blank" >我校学工系统座谈学习习近平总书记视察南开大学重要讲话精神</a></td></tr>
</table>

<!--function: guide5($hot7_0,1,10,false,none,none,none,none) parse end  109ms cost! -->

         </div>
        </div>
</body>
<!--enorth cms{ 2014new-bl }enorth cms-->

	</div>			
</div>
<!-- content ends -->


<!-- footer starts -->

<!--enorth cms{ new_footer }enorth cms-->
<style type="text/css">
.footer {
	position: relative;
	float: left;
	width: 940px;
	height: 60px;
	color: #717171;
	font-size: 12px !important;
	font-size: 10px;
	line-height: 14px;
}

.footer-left {
	position: relative;
	float: left;
	padding-left: 35px;
}

.footer-right {
	position: relative;
	float: left;
	padding-left: 25px;
}

.footer p {
	margin: 0 0 10px 0;
}

.footer a {
	text-decoration: none;
	color: #717171;
}

.footer a:hover {
	color: #000;
}
</style>

<body>

<div class="footer">
    <div class="footer-left">
        <p>本网站由南开大学新闻中心设计维护 Copyright@2014 津ICP备12003308号-1</p>
        <p>新闻热线：022-85358737  022-23508464  投稿信箱：nknews@nankai.edu.cn</p>
    </div>
    <div class="footer-right">
        <p><a href="http://www.people.com.cn/" target="_blank">人民网</a>
        <a href="http://www.xinhuanet.com/" target="_blank">新华网</a>
        <a href="http://www.gmw.cn/" target="_blank">光明网</a>      
        <a href="http://www.jyb.cn/" target="_blank">中国教育新闻网</a>
        <a href="http://www.stdaily.com/" target="_blank">中国科技网</a>
 <a href="http://www.youth.cn/" target="_blank">中国青年网</a>
       
        <a href="http://world.chinadaily.com.cn/" target="_blank">中国日报网</a>
 <a href="http://www.chinanews.com/" target="_blank">中新网</a >
   
        <p><a href="http://www.nankai.edu.cn/" target="_blank">南开大学</a>
        <a href="http://nankai.en.school.cucas.cn/" target="_blank">英文资讯</a>
        <a href="http://xxgk.nankai.edu.cn/" target="_blank">信息公开网</a>
        <a href="http://urp.nankai.edu.cn/" target="_blank">信息门户</a>
        <a href="http://nkuaa.nankai.edu.cn/ " target="_blank">校友会</a>
        <a href="http://nkuef.nankai.edu.cn/" target="_blank">基金会</a>
        <a href="http://zsb.nankai.edu.cn/" target="_blank">招生办 </a>
        <a href="http://www.lib.nankai.edu.cn/" target="_blank">图书馆</a>
 <a href="http://xuebao.nankai.edu.cn/noscript/xuebao/" target="_blank">学报编辑部</a></p>
      </div>
</div>
</body>
<!--enorth cms{ new_footer }enorth cms-->

<!-- footer ends -->
</div>
</div>
</body>
</html><!--<page cms="enorth webpublisher"  version="5.0.0 /2011101201" server_name="svctag-f76553x" parse_date="2019-03-04 11:14:28" cost="391" parse_result="0" input_mode="manual"></page>-->