<base href="http://news.nankai.edu.cn/xwzt/system/2016/10/13/000299055.shtml"><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="">
<meta name="description" content="南开大学电视新闻">


<link href="/2014ceshi/css/style.css" rel="stylesheet" />
<link href="/2014ceshi/css/third.css" rel="stylesheet" />
<link href="http://news.nankai.edu.cn/css/index.css" rel="stylesheet" type="text/css">
<title>南开大学电视新闻--新闻专题</title>
</head>

<body>
<div class="wrap">

<!-- banner starts -->

<!--enorth cms{ new_second_banner }enorth cms-->
<style type="text/css">
.banner {
	position: relative;
	width: 1000px;
	height: 125px;
	background-repeat: no-repeat;
	background-image: url(/2014ceshi/images/banner.png);
	padding-bottom: 5px;
}

.mainmenu {
	position: relative;
	float: left;
	margin-left: 480px;
	margin-top: 95px;
}

.mainmenu a {
	color: #989898;
	text-decoration: none;
}

.mainmenu a:hover {
	color: #4f4f4f;
}

.link {
	position: relative;
	float: left;
	margin: 0 5px;
	font: bold 16px 'Microsoft YaHei';
}

.form {
	position: relative;
	float: left;
	line-height: 12px;
	padding-left: 24px;
	top: -2px;
}

.form input[type="text"] {
	float: left;
	width: 125px;
	height: 12px;
	padding-left: 3px;
	text-indent: 5px;
	border: none;
	border-radius: 1px;
	box-shadow: 0 0 0 2px #ababab;
}

.form input[type="text"]:focus {
	outline: 0 none;
	box-shadow: 0 0 0 2px #7e7e7e;
}
</style>
<body>
	<div class="banner">
		<a href="http://news.nankai.edu.cn/" style="position: absolute;left: 60px;top: 15px;display: block;width: 380px;height: 100px;">&nbsp;</a>
		<div class="mainmenu">
			<div class="link">
				<a href="http://news.nankai.edu.cn/" target="_blank">首页</a>
			</div>
			<div class="link">
				<a href="http://jw.nankai.edu.cn/" target="_blank">觉悟网</a>
			</div>
			<div class="link">
				<a href="http://theory.nankai.edu.cn/" target="_blank">学习网</a>
			</div>
			<div class="link">
				<a
					href="http://news.nankai.edu.cn/xwzt/system/2014/03/06/000168359.shtml"
					target="_blank">大学报</a>
			</div>
			<div class="link">
				<a href="http://news.nankai.edu.cn/xs/" target="_blank">校史网</a>
			</div>
			<div class="link">
				<a href="http://bbs.nankai.edu.cn/" target="_blank">BBS</a>
			</div>
			<div class="form">
				<form method="get" id="searchform" action="#" class="form-search"
					style="padding-top: 7px;" />

				<!--Baidu站内搜索开始-->
				<script language="javascript">
					function baidusearch() {
						var wd = document.getElementsByName("wd")[0].value;
						var link = "http://www.baidu.com/s?si=news.nankai.edu.cn&cl=3&ct=2097152&tn=baidulocal&word="
								+ wd;
						window.open(link);
					}
				</script>
				<input name="wd" type="text" size="10" /> <input type="image"
					onclick="javascript:baidusearch()" src="/2014ceshi/images/find.png"
					alt="搜索"
					style=" width:16px; height:16px;position: relative;
float: left;
padding-left: 8px;" />
				<!--Baidu站内搜索结束-->
				</form>
			</div>
		</div>
	</div>
</body>
<!--enorth cms{ new_second_banner }enorth cms-->

<!-- banner ends -->

<!-- content starts -->
<div class="con-wrap">
<div class="third-content">
	<div class="third-left">
            <div class=" news-position">
<!--function position() parse begin-->
您当前的位置 ：<a href=http://news.nankai.edu.cn/xwzt/>新闻专题</a>&nbsp;正文
<!--function: position() parse end  0ms cost! -->
</div>
        <div class="news--banner">
        	<div class="news-title"><h2>南开大学电视新闻</h2></div>
            <div class="news-detail">来源：
<!--function source_without_pub_date() parse begin-->
<a href="news.nankai.edu.cn"  target="_blank" >南开新闻网</a>
<!--function: source_without_pub_date() parse end  0ms cost! -->
&nbsp;&nbsp;&nbsp;&nbsp;发稿时间：
<!--function pub_date() parse begin-->
2016-10-13 18:45
<!--function: pub_date() parse end  0ms cost! -->
</div>
        </div>
        <div class=" news-content">
<!--function content() parse begin-->
<p><a href="http://news.nankai.edu.cn/spxw/system/2019/03/08/000436355.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2019年3月8日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/spxw/system/2019/03/05/000435455.shtml" target="_blank">南开大学电视新闻2019年3月5日</a></p>
<!--advertisement code begin--><!--advertisement code end--><p><a href="http://news.nankai.edu.cn/spxw/system/2019/03/01/000435019.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2019年3月1日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/spxw/system/2019/02/26/000434414.shtml" target="_blank">南开大学电视新闻2019年2月26日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2019/02/22/000434094.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2019年2月22日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/spxw/system/2019/02/19/000433434.shtml" target="_blank">南开大学电视新闻2019年2月19日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2019/01/22/000430534.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2019年1月22日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/spxw/system/2019/01/18/000429854.shtml" target="_blank">南开大学电视新闻2019年1月18日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2019/01/15/000429014.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2019年1月15日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/spxw/system/2019/01/11/000428575.shtml" target="_blank">南开大学电视新闻2019年1月11日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2019/01/08/000428014.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2019年1月8日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/spxw/system/2019/01/04/000427314.shtml" target="_blank">南开大学电视新闻2019年1月4日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/spxw/system/2018/12/28/000426054.shtml" target="_blank">南开大学电视新闻2018年12月28日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2018/12/25/000425394.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2018年12月25日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/spxw/system/2018/12/21/000424797.shtml" target="_blank">南开大学电视新闻2018年12月21日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2018/12/18/000424134.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2018年12月18日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/spxw/system/2018/12/14/000423614.shtml" target="_blank">南开大学电视新闻2018年12月14日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2018/12/11/000423094.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2018年12月11日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/spxw/system/2018/12/07/000422674.shtml" target="_blank">南开大学电视新闻2018年12月7日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2018/12/04/000422054.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2018年12月4日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/spxw/system/2018/11/30/000421295.shtml" target="_blank">南开大学电视新闻2018年11月30日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2018/11/27/000420595.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2018年11月27日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/spxw/system/2018/11/23/000419914.shtml" target="_blank">南开大学电视新闻2018年11月23日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2018/11/20/000419374.shtml" target="_blank">&nbsp; &nbsp; 南开大学电视新闻2018年11月20日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2018/11/16/000418995.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2018年11月16日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2018/11/13/000418635.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2018年11月13日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/spxw/system/2018/11/09/000417975.shtml" target="_blank">南开大学电视新闻2018年11月9日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2018/11/06/000417074.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2018年11月6日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/spxw/system/2018/11/02/000415494.shtml" target="_blank">南开大学电视新闻2018年11月2日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2018/10/30/000415014.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2018年10月30日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/spxw/system/2018/10/26/000414519.shtml" target="_blank">南开大学电视新闻2018年10月26日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2018/10/23/000414115.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2018年10月23日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/spxw/system/2018/10/19/000413814.shtml" target="_blank">南开大学电视新闻2018年10月19日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2018/10/16/000413376.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2018年10月16日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/spxw/system/2018/10/12/000412998.shtml" target="_blank">南开大学电视新闻2018年10月12日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2018/10/09/000412616.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2018年10月9日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/spxw/system/2018/09/28/000411763.shtml" target="_blank">南开大学电视新闻2018年9月28日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2018/09/21/000410954.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2018年9月21日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/spxw/system/2018/09/18/000409234.shtml" target="_blank">南开大学电视新闻2018年9月18日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2018/07/27/000401954.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2018年7月27日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/spxw/system/2018/07/24/000401355.shtml" target="_blank">南开大学电视新闻2018年7月24日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2018/07/20/000400895.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2018年7月20日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/spxw/system/2018/07/17/000400476.shtml" target="_blank">南开大学电视新闻2018年7月17日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2018/07/13/000400114.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2018年7月13日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/spxw/system/2018/07/11/000399756.shtml" target="_blank">南开大学电视新闻2018年7月10日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2018/07/06/000398694.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2018年7月6日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/spxw/system/2018/07/03/000397354.shtml" target="_blank">南开大学电视新闻2018年7月3日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2018/06/29/000396274.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2018年6月29日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/spxw/system/2018/06/26/000394894.shtml" target="_blank">南开大学电视新闻2018年6月26日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2018/06/23/000393636.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2018年6月22日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/spxw/system/2018/06/15/000391295.shtml" target="_blank">南开大学电视新闻2018年6月15日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2018/06/12/000389915.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2018年6月12日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/spxw/system/2018/06/08/000389154.shtml" target="_blank">南开大学电视新闻2018年6月8日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2018/06/05/000388216.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2018年6月5日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/spxw/system/2018/06/01/000387254.shtml" target="_blank">南开大学电视新闻2018年6月1日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2018/05/29/000386134.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2018年5月29日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/spxw/system/2018/05/25/000385314.shtml" target="_blank">南开大学电视新闻2018年5月25日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2018/05/22/000384134.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2018年5月22日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/spxw/system/2018/05/18/000383174.shtml" target="_blank">南开大学电视新闻2018年5月18日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2018/05/15/000382254.shtml" target="_blank">&nbsp; &nbsp; 南开大学电视新闻2018年5月15日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2018/05/15/000382254.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2018年5月15日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/spxw/system/2018/05/11/000381337.shtml" target="_blank">南开大学电视新闻2018年5月11日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2018/05/08/000380734.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2018年5月8日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/spxw/system/2018/05/03/000379874.shtml" target="_blank">南开大学电视新闻2018年5月3日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2018/04/27/000379039.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2018年4月27日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/spxw/system/2018/04/24/000378535.shtml" target="_blank">南开大学电视新闻2018年4月24日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2018/04/20/000377934.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2018年4月20日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/spxw/system/2018/04/17/000377235.shtml" target="_blank">南开大学电视新闻2018年4月17日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2018/04/13/000376614.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2018年4月13日</a></p>
<p><a href="http://news.nankai.edu.cn/spxw/system/2018/04/10/000376097.shtml" target="_blank">&nbsp; &nbsp;&nbsp;南开大学电视新闻2018年4月10日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/29/44/294468_971954.mp4" target="_blank">南开大学电视新闻2018年4月3日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/29/39/293947_737271.mp4" target="_blank">南开大学电视新闻2018年3月30日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/29/36/293647_691723.mp4" target="_blank">南开大学电视新闻2018年3月27日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/29/31/293131_014931.mp4 " target="_blank">南开大学电视新闻2018年3月23日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/29/25/292532_856920.mp4" target="_blank">南开大学电视新闻2018年3月20日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/29/20/292069_155975.mp4" target="_blank">南开大学电视新闻2018年3月16日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/29/16/291644_863216.mp4" target="_blank">南开大学电视新闻2018年3月13日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/29/13/291324_563945.mp4" target="_blank">南开大学电视新闻2018年3月9日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/29/08/290886_940403.mp4" target="_blank">南开大学电视新闻2018年3月6日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/29/04/290464_195954.mp4" target="_blank">南开大学电视新闻2018年3月2日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/28/99/289944_991455.mp4" target="_blank">南开大学电视新闻2018年2月27日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http:// http://news.nankai.edu.cn/video/0/00/28/75/287504_410032.mp4 " target="_blank">南开大学电视新闻2018年1月19日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/28/71/287146_277246.mp4" target="_blank">南开大学电视新闻2018年1月16日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/28/68/286804_152079.mp4" target="_blank">南开大学电视新闻2018年1月12日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/28/63/286364_024353.mp4" target="_blank">南开大学电视新闻2018年1月9日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/video/0/00/28/60/286004_951722.mp4" target="_blank">南开大学电视新闻2018年1月5日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/28/50/285064_560510.mp4" target="_blank">南开大学电视新闻2017年12月29日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/28/46/284644_999997.mp4" target="_blank">南开大学电视新闻2017年12月26日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/28/40/284044_999125.mp4" target="_blank">南开大学电视新闻2017年12月22日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/video/0/00/28/35/283525_827927.mp4" target="_blank">南开大学电视新闻2017年12月19日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/28/30/283064_976174.mp4" target="_blank">南开大学电视新闻2017年12月15日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/28/25/282587_737922.mp4" target="_blank">南开大学电视新闻2017年12月12日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/28/20/282004_484898.mp4" target="_blank">南开大学电视新闻2017年12月8日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/28/15/281525_825828.mp4" target="_blank">南开大学电视新闻2017年12月5日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/28/08/280824_984850.mp4" target="_blank">南开大学电视新闻2017年12月1日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/28/02/280244_200498.mp4" target="_blank">南开大学电视新闻2017年11月28日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/27/97/279724_964227.mp4" target="_blank">南开大学电视新闻2017年11月24日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/video/0/00/27/92/279266_919399.mp4" target="_blank">南开大学电视新闻2017年11月21日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/27/86/278685_825964.mp4" target="_blank">南开大学电视新闻2017年11月17日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/27/82/278205_303377.mp4" target="_blank">南开大学电视新闻2017年11月14日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/27/74/277487_898562.mp4" target="_blank">南开大学电视新闻2017年11月10日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/27/71/277117_968010.mp4" target="_blank">南开大学电视新闻2017年11月7日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/video/0/00/27/63/276336_060568.mp4" target="_blank">南开大学电视新闻2017年11月3日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/27/57/275784_757647.mp4" target="_blank">南开大学电视新闻2017年10月31日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/27/51/275184_785743.mp4" target="_blank">南开大学电视新闻2017年10月27日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/27/47/274764_953390.mp4" target="_blank">南开大学电视新闻2017年10月24日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/27/42/274204_882337.mp4" target="_blank">南开大学电视新闻2017年10月20日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/27/37/273744_244173.mp4" target="_blank">南开大学电视新闻2017年10月17日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/27/32/273244_669425.mp4" target="_blank">南开大学电视新闻2017年10月13日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/27/28/272871_115830.mp4" target="_blank">南开大学电视新闻2017年10月10日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/27/14/271445_388640.mp4" target="_blank">南开大学电视新闻2017年9月29日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/video/0/00/27/10/271036_192588.mp4" target="_blank">南开大学电视新闻2017年9月26日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/27/03/270384_951314.mp4" target="_blank">南开大学电视新闻2017年9月22日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/26/99/269985_945699.mp4 " target="_blank">南开大学电视新闻2017年9月19日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/video/0/00/26/92/269224_483948.mp4 " target="_blank">南开大学电视新闻2017年9月15日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/26/87/268764_732720.mp4 " target="_blank">南开大学电视新闻2017年9月12日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/26/33/263344_999991.mp4" target="_blank">南开大学电视新闻2017年7月14日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/26/29/262904_983625.mp4 " target="_blank">南开大学电视新闻2017年7月11日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/26/23/262326_991797.mp4" target="_blank">南开大学电视新闻2017年7月7日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/26/19/261924_999990.mp4" target="_blank">南开大学电视新闻2017年7月4日</a></p>
<p>&nbsp; &nbsp;&nbsp;<a href="http://news.nankai.edu.cn/video/0/00/26/13/261384_939499.mp4" target="_blank">南开大学电视新闻2017年6月30日</a></p>
<p>&nbsp; &nbsp; <a href="http://news.nankai.edu.cn/video/0/00/26/09/260944_985141.mp4 " target="_blank">南开大学电视新闻2017年6月27日</a></p>
<p>　　<a href="news.nankai.edu.cn/video/0/00/26/04/260496_149879.mp4" target="_blank">南开大学电视新闻2017年6月23日</a></p>
<p>　　<a href="http://news.nankai.edu.cn/video/0/00/26/02/260202_916508.mp4" target="_blank">南开大学电视新闻2017年6月20日</a></p>
<p>　　<a href="http://news.nankai.edu.cn/video/0/00/25/99/259944_696034.mp4" target="_blank">南开大学电视新闻2017年6月16日</a></p>
<p>　　<a href="http://news.nankai.edu.cn/video/0/00/25/96/259664_363112.mp4" target="_blank">南开大学电视新闻2017年6月13日</a></p>
<p>　　<a href="http://	http://news.nankai.edu.cn/video/0/00/25/92/259284_483210.mp4" target="_blank">南开大学电视新闻2017年6月9日</a></p>
<p>　　<a href="http://news.nankai.edu.cn/video/0/00/25/90/259024_951016.mp4" target="_blank">南开大学电视新闻2017年6月6日</a></p>
<p>　　<a href="http://news.nankai.edu.cn/video/0/00/25/87/258724_288050.mp4" target="_blank">南开大学电视新闻2017年6月2日</a></p>
<p>　　<a href="http://news.nankai.edu.cn/video/0/00/25/82/258204_936387.mp4" target="_blank">南开大学电视新闻2017年5月26日</a></p>
<p>　　<a href="news.nankai.edu.cn/video/0/00/25/78/257884_996487.mp4" target="_blank">南开大学电视新闻2017年5月23日</a></p>
<p>　　<a href="http://news.nankai.edu.cn/video/0/00/25/73/257374_558561.mp4" target="_blank">南开大学电视新闻2017年5月19日</a></p>
<p>　　<a href="news.nankai.edu.cn/video/0/00/25/70/257058_948378.mp4" target="_blank">南开大学电视新闻2017年5月16日</a></p>
<p>　　<a href="http://news.nankai.edu.cn/video/0/00/25/67/256725_945544.mp4" target="_blank">南开大学电视新闻2017年5月12日</a></p>
<p>　　<a href="http://news.nankai.edu.cn/video/0/00/25/64/256424_602290.mp4" target="_blank">南开大学电视新闻2017年5月9日</a></p>
<p>　　<a href="news.nankai.edu.cn/video/0/00/25/56/255666_998835.mp4" target="_blank">南开大学电视新闻2017年4月28日</a></p>
<p>　　<a href="http://news.nankai.edu.cn/video/0/00/25/53/255327_942666.mp4" target="_blank">南开大学电视新闻2017年4月25日</a></p>
<p>　　<a href="news.nankai.edu.cn/video/0/00/25/49/254991_882013.mp4" target="_blank">南开大学电视新闻2017年4月21日</a></p>
<p>　　<a href="news.nankai.edu.cn/video/0/00/25/44/254464_288396.mp4" target="_blank">南开大学电视新闻2017年4月18日</a></p>
<p>　　南开大学电视新闻2017年4月14日</p>
<p>　　南开大学电视新闻2017年4月11日</p>
<p>　　南开大学电视新闻2017年4月7日</p>
<p>　　南开大学电视新闻2017年3月31日</p>
<p>　　南开大学电视新闻2017年3月28日</p>
<p>　　南开大学电视新闻2017年3月24日</p>
<p>　　南开大学电视新闻2017年3月21日</p>
<p>　　南开大学电视新闻2017年3月17日</p>
<p>　　南开大学电视新闻2017年3月14日</p>
<p>　　南开大学电视新闻2017年3月10日</p>
<p>　　南开大学电视新闻2017年3月7日</p>
<p>　　南开大学电视新闻2017年3月3日</p>
<p>　　南开大学电视新闻2017年2月28日</p>
<p>　　南开大学电视新闻2017年2月24日</p>
<p>　　南开大学电视新闻2017年2月21日</p>
<p>　　南开大学电视新闻2017年2月17日</p>
<p>　　南开大学电视新闻2017年2月14日</p>
<p>　　南开大学电视新闻2017年1月13日</p>
<p>　　南开大学电视新闻2017年1月10日</p>
<p>　　南开大学电视新闻2017年1月6日</p>
<p>　　南开大学电视新闻2016年12月30日</p>
<p>　　南开大学电视新闻2016年12月27日</p>
<p>　　南开大学电视新闻2016年12月23日</p>
<p>　　南开大学电视新闻2016年12月20日</p>
<p>　　南开大学电视新闻2016年12月16日</p>
<p>　　南开大学电视新闻2016年12月13日</p>
<p>　　南开大学电视新闻2016年12月9日</p>
<p>　　南开大学电视新闻2016年12月6日</p>
<p>　　南开大学电视新闻2016年12月2日</p>
<p>　　南开大学电视新闻2016年11月29日</p>
<p>　　南开大学电视新闻2016年11月25日</p>
<p>　　南开大学电视新闻2016年11月22日</p>
<p>　　南开大学电视新闻2016年11月18日</p>
<p>　　南开大学电视新闻2016年11月15日</p>
<p>　　南开大学电视新闻2016年11月11日</p>
<p>　　南开大学电视新闻2016年11月8日</p>
<p>　　南开大学电视新闻2016年11月4日</p>
<p>　　南开大学电视新闻2016年11月1日</p>
<p>　　南开大学电视新闻2016年10月28日</p>
<p>　　南开大学电视新闻2016年10月25日</p>
<p>　　南开大学电视新闻2016年10月21日</p>
<p>　　南开大学电视新闻2016年10月18日</p>
<p>　　南开大学电视新闻2016年10月14日</p>
<p>　　南开大学电视新闻2016年10月11日</p>
<p>　　南开大学电视新闻2016年9月30日</p>
<p>　　南开大学电视新闻2016年9月27日</p>
<p>　　南开大学电视新闻2016年9月23日</p>
<p>　　南开大学电视新闻2016年9月20日</p>
<p>　　南开大学电视新闻2016年9月13日</p>

<!--function: content() parse end  15ms cost! -->
</div>
        <div class="news-footer"><p style="text-align:right"><font style="color:#00F; font-size:14px;">编辑：</font>
<!--function init_editor() parse begin-->
赖鸿杰
<!--function: init_editor() parse end  0ms cost! -->
</p></div>
	</div>
        <div class="third-right">
	
<!--enorth cms{ 2014new-bl }enorth cms-->
<style type="text/css">
.third-right {
	position: relative;
	float: left;
	width: 260px;
	height: auto;
}

.third-menu {
	width: 255px;
	height: auto;
	background-image: url(/2014ceshi/images/zhulou.png);
	background-repeat: no-repeat;
}

.menu-title {
	position: relative;
	padding: 28px 0 0 210px;
}

.menu-title a {
	font: bold 16px 'Microsoft YaHei';
	color: #701a5e;
	text-decoration: none;
}

.guanbo {
	padding: 5px;
}

.zhuanti {
	width: 230px;
	height: 130px;
	padding: 5px 5px;
}

.zhuanti-title {
	position: relative;
	float: left;
	width: 120px;
	margin-top: 15px;
}

.zhuanti-title a {
	font: bold 13px 'Microsoft YaHei';
	text-decoration: none;
}

.zhuanti-content {
	padding-top: 2px;
	position: relative;
	float: left;
	width: 120px;
	font: 12px 'Microsoft YaHei';
	line-height: 16px;
	text-align: justify;
	text-justify: inter-ideograph;
}

.zhuanti-img {
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
	margin: 15px 5px 15px 0;
}

.zhuanti img {
	width: 100px;
	height: 100px;
        border:none;
}

.guanzhu {
	padding-top: 5px;
}

.guanzhu td a {
	width: 220px;
	overflow: hidden;
	text-overflow: ellipsis;
	font: 13px 'Microsoft YaHei';
	line-height: 15px;
	text-decoration: none;
	color: #000;
	display: inline-block;
	white-space: nowrap;
	margin: 2px 0 1px 0;
}
</style>
<body>
<div class="third-menu">
        <div class="menu-title"><a href="http://weibo.com/nankaiuni" target="_blank">官博</a></div>
        <div class="guanbo">
<iframe width="245" height="400" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=zh_cn&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=1&isWeibo=1&isFans=0&uid=1851774145&verifier=4e1ba554&colors=7f0d6f,ffffff,666666,0082cb,ecfbfd&dpc=1"></iframe>
        </div>
        </div>
        <div class="third-menu">
        	<div class="menu-title"><a href="http://news.nankai.edu.cn/xwzt/system/2010/03/07/000028950.shtml" target="_blank">专题</a></div>
         
<!--function guide_model(zttj,1,2,1,/2014ceshi/small_template/zhuanti.html) parse begin-->
<table width="100%"  >
<tr><td ><div class="zhuanti">
<div class="zhuanti-img"><a href="http://news.nankai.edu.cn/zttj/system/2018/03/01/000369676.shtml" target="_blank"><img src=http://news.nankai.edu.cn/pic/0/00/29/62/296245_618433.jpg /></a></div>
<div class="zhuanti-title"><a href="http://news.nankai.edu.cn/zttj/system/2018/03/01/000369676.shtml"   target="_blank" >【专题】纪念杰出校友周恩来总理诞辰120周年</a></div>
<div class="zhuanti-content">&nbsp;&nbsp;在南开大学杰出校友周恩来诞辰120周年之际，南开师生举办相关纪念活动，共同缅怀周总理的伟大人格和精神风范。</div></td></tr>
<tr><td ><div class="zhuanti">
<div class="zhuanti-img"><a href="http://news.nankai.edu.cn/xwzt/system/2018/04/15/000376955.shtml" target="_blank"><img src=http://news.nankai.edu.cn/pic/0/00/29/63/296365_959782.jpg /></a></div>
<div class="zhuanti-title"><a href="http://news.nankai.edu.cn/xwzt/system/2018/04/15/000376955.shtml"   target="_blank" ><b><font color=#FF0000>【专题】学习贯彻党的十九大精神</font></b></a></div>
<div class="zhuanti-content">&nbsp;&nbsp;不忘初心，牢记使命，高举中国特色社会主义伟大旗帜，决胜全面建成小康社会</div></td></tr>
</table>

<!--function: guide_model(zttj,1,2,1,/2014ceshi/small_template/zhuanti.html) parse end  79ms cost! -->

         </div>
        <div class="third-menu">
        	<div class="menu-title"><a href="http://news.nankai.edu.cn/nkyw/index.shtml" target="_blank">关注</a></div>
         <div class="guanzhu">
         
<!--function guide5($hot7_0,1,10,false,none,none,none,none) parse begin-->
<table width="100%"  >
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000430054.shtml"   target="_blank" >独家V观：习近平鼓励南开学子：志存高远，脚踏实地</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/spxw/system/2019/01/19/000430034.shtml"   target="_blank" >【独家V观】习近平鼓励南开学子：志存高远，脚踏实地</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/spxw/system/2019/01/19/000430017.shtml"   target="_blank" >【新闻联播】央视快评：共同努力把京津冀协同发展这件大事办好</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/spxw/system/2019/01/19/000430016.shtml"   target="_blank" >【新闻联播】牢记总书记嘱托 谱写京津冀协同发展新篇章</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000429974.shtml"   target="_blank" >中国教育报：习近平在京津冀三省市考察并主持召开京津冀协同发展座谈会时强调 稳扎稳打勇于担当敢于创新善作善成 推动京津冀协同发展取得新的更大进展</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000429975.shtml"   target="_blank" >人民日报海外版：在京津冀三省市考察并主持召开京津冀协同发展座谈会 习近平：稳扎稳打 勇于担当 敢于创新 善作善成</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000429976.shtml"   target="_blank" >人民日报海外版：习近平在京津冀三省市考察并主持京津冀协同发展座谈会时强调 稳扎稳打勇于担当敢于创新善作善成 推动京津冀协同发展取得新的更大进展</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/19/000429994.shtml"   target="_blank" >化学学院座谈学习习近平总书记视察南开大学重要讲话精神</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/19/000430015.shtml"   target="_blank" >【新闻联播】牢记总书记嘱托 谱写京津冀协同发展新篇章</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/19/000429995.shtml"   target="_blank" >我校学工系统座谈学习习近平总书记视察南开大学重要讲话精神</a></td></tr>
</table>

<!--function: guide5($hot7_0,1,10,false,none,none,none,none) parse end  109ms cost! -->

         </div>
        </div>
</body>
<!--enorth cms{ 2014new-bl }enorth cms-->

	</div>			
</div>
<!-- content ends -->


<!-- footer starts -->

<!--enorth cms{ new_footer }enorth cms-->
<style type="text/css">
.footer {
	position: relative;
	float: left;
	width: 940px;
	height: 60px;
	color: #717171;
	font-size: 12px !important;
	font-size: 10px;
	line-height: 14px;
}

.footer-left {
	position: relative;
	float: left;
	padding-left: 35px;
}

.footer-right {
	position: relative;
	float: left;
	padding-left: 25px;
}

.footer p {
	margin: 0 0 10px 0;
}

.footer a {
	text-decoration: none;
	color: #717171;
}

.footer a:hover {
	color: #000;
}
</style>

<body>

<div class="footer">
    <div class="footer-left">
        <p>本网站由南开大学新闻中心设计维护 Copyright@2014 津ICP备12003308号-1</p>
        <p>新闻热线：022-85358737  022-23508464  投稿信箱：nknews@nankai.edu.cn</p>
    </div>
    <div class="footer-right">
        <p><a href="http://www.people.com.cn/" target="_blank">人民网</a>
        <a href="http://www.xinhuanet.com/" target="_blank">新华网</a>
        <a href="http://www.gmw.cn/" target="_blank">光明网</a>      
        <a href="http://www.jyb.cn/" target="_blank">中国教育新闻网</a>
        <a href="http://www.stdaily.com/" target="_blank">中国科技网</a>
 <a href="http://www.youth.cn/" target="_blank">中国青年网</a>
       
        <a href="http://world.chinadaily.com.cn/" target="_blank">中国日报网</a>
 <a href="http://www.chinanews.com/" target="_blank">中新网</a >
   
        <p><a href="http://www.nankai.edu.cn/" target="_blank">南开大学</a>
        <a href="http://nankai.en.school.cucas.cn/" target="_blank">英文资讯</a>
        <a href="http://xxgk.nankai.edu.cn/" target="_blank">信息公开网</a>
        <a href="http://urp.nankai.edu.cn/" target="_blank">信息门户</a>
        <a href="http://nkuaa.nankai.edu.cn/ " target="_blank">校友会</a>
        <a href="http://nkuef.nankai.edu.cn/" target="_blank">基金会</a>
        <a href="http://zsb.nankai.edu.cn/" target="_blank">招生办 </a>
        <a href="http://www.lib.nankai.edu.cn/" target="_blank">图书馆</a>
 <a href="http://xuebao.nankai.edu.cn/noscript/xuebao/" target="_blank">学报编辑部</a></p>
      </div>
</div>
</body>
<!--enorth cms{ new_footer }enorth cms-->

<!-- footer ends -->
</div>
</div>
</body>
</html><!--<page cms="enorth webpublisher"  version="5.0.0 /2011101201" server_name="svctag-f76553x" parse_date="2019-03-08 17:41:03" cost="329" parse_result="0" input_mode="manual"></page>-->