<base href="http://tyb.nankai.edu.cn/"><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>体育部</title>

<link type="text/css" href="/_css/_system/system.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/1/style/6/6.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/00/39/57/style/33/33.css" rel="stylesheet"/>
       <LINK href="/_css/tpl2/default/portlet/dtjt/9/dtjt9.css" type="text/css" rel="stylesheet">
       <LINK href="/_css/tpl2/system.css" type="text/css" rel="stylesheet"> 
       <LINK href="/_css/tpl2/default/default.css" type="text/css" rel="stylesheet"> 
<link type="text/css" href="/_js/_portletPlugs/simpleNews/css/simplenews.css" rel="stylesheet" />
<link type="text/css" href="/_js/_portletPlugs/sudyNavi/css/sudyNav.css" rel="stylesheet" />

<script language="javascript" src="/_js/jquery.min.js" sudy-wp-context="" sudy-wp-siteId="57"></script>
<script language="javascript" src="/_js/jquery.sudy.wp.visitcount.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/sudyNavi/jquery.sudyNav.js"></script>
<link rel="stylesheet" href="/_upload/tpl/00/4b/75/template75/css/style.css" type="text/css" media="all" />
<script src="/_upload/tpl/00/4b/75/template75/js/custom.js"></script>
<script src="/_upload/tpl/00/4b/75/template75/js/jq.login.js"></script>
</head>

<body>

<script type="text/javascript">
	$(function(){
		login.init();
		});
</script>


<div class="wrapper" id="header">
  <div class="inner">
    <div class="head">
     <div class="inner" frag="面板1">
       <div class="head_nav" frag="窗口1">
        <div id="wp_nav_w1"> 

 
<ul class="wp_nav" data-nav-config="{drop_v: 'down', drop_w: 'right', dir: 'y', opacity_main: '1', opacity_sub: '0.8', dWidth: '0'}">
      
     <li class="nav-item i1 "> 
         <a href="http://www.nankai.edu.cn/" title="南开首页" target="_self"><span class="item-name">南开首页</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i2 "> 
         <a href="/2873/list.htm" title="网络服务" target="_self"><span class="item-name">网络服务</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i3 "> 
         <a href="/2874/list.htm" title="联系我们" target="_self"><span class="item-name">联系我们</span></a><i class="mark"></i> 
          
     </li> 
      
</ul> 
 
 
 </div>
      </div>
     </div>
    </div>
  </div>
</div>


<div class="wrapper" id="nav">
  <div class="inner" frag="面板2">
    <div class="nav" frag="窗口2">
      <div id="wp_nav_w2"> 

 
<ul class="wp_nav" data-nav-config="{drop_v: 'down', drop_w: 'right', dir: 'y', opacity_main: '1', opacity_sub: '0.8', dWidth: '0'}">
      
     <li class="nav-item i1 "> 
         <a href="/main.htm" title="首页" target="_self"><span class="item-name">首页</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i2 "> 
         <a href="/2855/list.htm" title="部门概况" target="_self"><span class="item-name">部门概况</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i2-1 "> 
                 <a href="/3910/list.htm" title="体育部介绍" target="_self"><span class="item-name">体育部介绍</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i2-2 "> 
                 <a href="/3911/list.htm" title="历史沿革" target="_self"><span class="item-name">历史沿革</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i2-3 "> 
                 <a href="/3914/list.htm" title="机构设置" target="_self"><span class="item-name">机构设置</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i2-4 "> 
                 <a href="/3916/list.htm" title="师资队伍" target="_self"><span class="item-name">师资队伍</span></a><i class="mark"></i> 
                  
         <ul class="sub-nav"> 
              
             <li class="nav-item i2-4-1 "> 
                 <a href="/jxz/list.htm" title="教学组" target="_self"><span class="item-name">教学组</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i3 "> 
         <a href="/2856/list.htm" title="教学管理" target="_self"><span class="item-name">教学管理</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i3-1 "> 
                 <a href="/3918/list.htm" title="教学规范" target="_self"><span class="item-name">教学规范</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-2 "> 
                 <a href="/3920/list.htm" title="课程设置" target="_self"><span class="item-name">课程设置</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-3 "> 
                 <a href="/3921/list.htm" title="教学改革" target="_self"><span class="item-name">教学改革</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-4 "> 
                 <a href="/3922/list.htm" title="教学成果" target="_self"><span class="item-name">教学成果</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-5 "> 
                 <a href="/xkzn/list.htm" title="选课指南" target="_self"><span class="item-name">选课指南</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i4 "> 
         <a href="/2857/list.htm" title="科研学术" target="_self"><span class="item-name">科研学术</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i4-1 "> 
                 <a href="/3923/list.htm" title="学术动态" target="_self"><span class="item-name">学术动态</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i4-2 "> 
                 <a href="/3924/list.htm" title="学术交流" target="_self"><span class="item-name">学术交流</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i4-3 "> 
                 <a href="/kycg/list.htm" title="科研成果" target="_self"><span class="item-name">科研成果</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i5 "> 
         <a href="/2858/list.htm" title="运动训练" target="_self"><span class="item-name">运动训练</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i5-1 "> 
                 <a href="/3927/list.htm" title="高水平运动队" target="_self"><span class="item-name">高水平运动队</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i5-2 "> 
                 <a href="/ssyg/list.htm" title="赛事预告" target="_self"><span class="item-name">赛事预告</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i5-3 "> 
                 <a href="/ryyjl/list.htm" title="荣誉与奖励" target="_self"><span class="item-name">荣誉与奖励</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i6 "> 
         <a href="/2859/list.htm" title="校园体育" target="_self"><span class="item-name">校园体育</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i6-1 "> 
                 <a href="/tzcs/list.htm" title="体质测试" target="_self"><span class="item-name">体质测试</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i6-2 "> 
                 <a href="/xyh/list.htm" title="校运会" target="_self"><span class="item-name">校运会</span></a><i class="mark"></i> 
                  
         <ul class="sub-nav"> 
              
             <li class="nav-item i6-2-1 "> 
                 <a href="/xyhjl/list.htm" title="校运会记录" target="_self"><span class="item-name">校运会记录</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i6-2-2 "> 
                 <a href="/ljbs/list.htm" title="历届比赛" target="_self"><span class="item-name">历届比赛</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
             </li> 
              
             <li class="nav-item i6-3 "> 
                 <a href="/xcb/list.htm" title="校长杯" target="_self"><span class="item-name">校长杯</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i6-4 "> 
                 <a href="/ygty/list.htm" title="阳光体育" target="_self"><span class="item-name">阳光体育</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i6-5 "> 
                 <a href="/xsst/list.htm" title="课外辅导站" target="_self"><span class="item-name">课外辅导站</span></a><i class="mark"></i> 
                  
         <ul class="sub-nav"> 
              
             <li class="nav-item i6-5-1 "> 
                 <a href="/fdz/list.htm" title="辅导站" target="_self"><span class="item-name">辅导站</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i7 "> 
         <a href="/2861/list.htm" title="场馆中心" target="_self"><span class="item-name">场馆中心</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i7-1 "> 
                 <a href="/cgjs/list.htm" title="场馆介绍" target="_self"><span class="item-name">场馆介绍</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i7-2 "> 
                 <a href="/cdyd/list.htm" title="场地预定" target="_self"><span class="item-name">场地预定</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i7-3 "> 
                 <a href="/cgkf/list.htm" title="场馆开放" target="_self"><span class="item-name">场馆开放</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i7-4 "> 
                 <a href="/yyg/list.htm" title="游泳馆" target="_self"><span class="item-name">游泳馆</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i8 "> 
         <a href="/tyzs/list.htm" title="体育知识" target="_self"><span class="item-name">体育知识</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i8-1 "> 
                 <a href="/tywh/list.htm" title="体育文化" target="_self"><span class="item-name">体育文化</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i8-2 "> 
                 <a href="/dlff/list.htm" title="锻炼方法" target="_self"><span class="item-name">锻炼方法</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i8-3 "> 
                 <a href="/bjzs/list.htm" title="保健知识" target="_self"><span class="item-name">保健知识</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i9 "> 
         <a href="/2863/list.htm" title="政策与下载" target="_self"><span class="item-name">政策与下载</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i9-1 "> 
                 <a href="/zcyfg/list.htm" title="政策与法规" target="_self"><span class="item-name">政策与法规</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i9-2 "> 
                 <a href="/cyxz/list.htm" title="常用下载" target="_self"><span class="item-name">常用下载</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i10 "> 
         <a href="/djyd/list.htm" title="党建园地" target="_self"><span class="item-name">党建园地</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i10-1 "> 
                 <a href="/11004/list.htm" title="机构设置" target="_self"><span class="item-name">机构设置</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i10-2 "> 
                 <a href="/11005/list.htm" title="党建信息" target="_self"><span class="item-name">党建信息</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
</ul> 
 
 
 </div>
    </div>
  </div>
</div>


<div class="wrapper" id="container">
  <div class="inner">
    <div class="mod">
      <div class="con_l">
      
      <div class="mod_gd" frag="面板100">
        <div frag="窗口100">
          <div style="width: 100%">
<div id=Div79287125ea3843bc8df40ec2efc10f54_Outer style="overflow:hidden;width:100%;">
<table id='HS79287125ea3843bc8df40ec2efc10f54' align=left cellpadding=0 cellspacing=0 border=0><tr>
<td id=Td79287125ea3843bc8df40ec2efc10f54_Left valign=top nowrap width='100%'><div id=Div79287125ea3843bc8df40ec2efc10f54_Adjust_Left style='width:100%;'><div id="wp_news_w100"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='/2016/0412/c4866a38886/page.htm' target='_blank' title='滚动新闻'>滚动新闻</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <div class='Article_Content'><a href='/2016/0412/c4866a38886/page.htm' target='_blank' title='滚动新闻'>网站投入使用初期，内容丰富中，敬请期待！</a></div> 
              
         </div> 
     </li> 
      
</ul> 
</div> 
</div></td>
<td id=Td79287125ea3843bc8df40ec2efc10f54_Right valign=top nowrap><div id=Div79287125ea3843bc8df40ec2efc10f54_Adjust_Right style='width:100%;'><div id="wp_news_w100"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='/2016/0412/c4866a38886/page.htm' target='_blank' title='滚动新闻'>滚动新闻</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <div class='Article_Content'><a href='/2016/0412/c4866a38886/page.htm' target='_blank' title='滚动新闻'>网站投入使用初期，内容丰富中，敬请期待！</a></div> 
              
         </div> 
     </li> 
      
</ul> 
</div> 
</div></td></tr>
</table>
</div><span id=SpanScroll name=SpanScroll style="display:none;" onclick="StartScroll79287125ea3843bc8df40ec2efc10f54();"></span>
<script language=javascript>

var t79287125ea3843bc8df40ec2efc10f54;

function Marquee79287125ea3843bc8df40ec2efc10f54(){

if(parseInt(document.getElementById('Div79287125ea3843bc8df40ec2efc10f54_Outer').offsetWidth)>=parseInt(document.getElementById('Td79287125ea3843bc8df40ec2efc10f54_Left').offsetWidth))
{
	 var w = parseInt( document.getElementById('Div79287125ea3843bc8df40ec2efc10f54_Outer').offsetWidth);
	 document.getElementById('HS79287125ea3843bc8df40ec2efc10f54').width = w*2;
	 document.getElementById('Td79287125ea3843bc8df40ec2efc10f54_Left').width = w;
	 document.getElementById('Td79287125ea3843bc8df40ec2efc10f54_Right').width = w;
	 document.getElementById('Div79287125ea3843bc8df40ec2efc10f54_Adjust_Left').style.width = w;
	 document.getElementById('Div79287125ea3843bc8df40ec2efc10f54_Adjust_Right').style.width = w;
}
if(document.getElementById('Td79287125ea3843bc8df40ec2efc10f54_Right').offsetWidth-document.getElementById('Div79287125ea3843bc8df40ec2efc10f54_Outer').scrollLeft<=0)
	document.getElementById('Div79287125ea3843bc8df40ec2efc10f54_Outer').scrollLeft-=document.getElementById('Td79287125ea3843bc8df40ec2efc10f54_Left').offsetWidth;
else
	document.getElementById('Div79287125ea3843bc8df40ec2efc10f54_Outer').scrollLeft+=1;
}

 var evalStringInFF;function StartScroll79287125ea3843bc8df40ec2efc10f54(){
 document.getElementById('Div79287125ea3843bc8df40ec2efc10f54_Outer').style.width=1;if(document.readyState == 'complete') {document.getElementById('Div79287125ea3843bc8df40ec2efc10f54_Outer').style.width=document.getElementById('Div79287125ea3843bc8df40ec2efc10f54_Outer').parentNode.offsetWidth;} else {window.onload=loadComplete;var str="document.getElementById('Div79287125ea3843bc8df40ec2efc10f54_Outer').style.width=document.getElementById('Div79287125ea3843bc8df40ec2efc10f54_Outer').parentNode.offsetWidth;";if(evalStringInFF==null) {evalStringInFF=str;} else { evalStringInFF+=str;}}
 var ScrollObj79287125ea3843bc8df40ec2efc10f54;
 ScrollObj79287125ea3843bc8df40ec2efc10f54=setInterval(Marquee79287125ea3843bc8df40ec2efc10f54,100);
 document.getElementById('Div79287125ea3843bc8df40ec2efc10f54_Outer').onmouseover=function(){clearInterval(ScrollObj79287125ea3843bc8df40ec2efc10f54)};
 document.getElementById('Div79287125ea3843bc8df40ec2efc10f54_Outer').onmouseout=function(){ScrollObj79287125ea3843bc8df40ec2efc10f54=setInterval(Marquee79287125ea3843bc8df40ec2efc10f54,100)};
}function loadComplete(){eval(evalStringInFF);}StartScroll79287125ea3843bc8df40ec2efc10f54();</script></div>
        </div>
      </div>
        <div class="con_l_top">
          <div class="con_l_pic" frag="面板31">
            <div frag="窗口31"><!-- 多图交替9 图片 标题 切换 -->
<div style="position:relative;overflow:hidden;width:315px;height:235px;">
    <div class="dtjt9_div_img">
        <img id="w31imgShow" name="w31imgShow" onclick="w31openWindow();" style="FILTER: revealTrans(duration=2,transition=20); border: 0; cursor: pointer;" src="/..//_css/tpl/default/images/loading.gif" width="315px" height="235px" vspace="0">
        <div id='w31imgNumber' class="number"></div>
    </div>
    <div class="dtjt9_div_text">
        <div id='w31imgTitle' class="dtjt9_div_text_title"><a href="javascript:void(0)">&nbsp;</a></div>									
    </div>
</div>
<script language="JavaScript" class="" >
    var w31imgJsons = [
    
        
            {
            "src" : "/_upload/article/images/db/3a/dcc0228440bdb4ed0994943013f7/9ddb44b1-1d9c-4ff8-8f5d-144bf484dcc7_s.jpg",
            "title" : "<font style='font-weight:bold;'>南开大学游泳馆开展2019年首次救生演习</font>",
            "url" : "/2019/0107/c2881a117978/page.htm"
            },
        
    
        
            {
            "src" : "/_upload/article/images/9f/c4/bf4976ee4e96b89d6ac0ee4163f9/7ba13915-b31f-4e50-8247-387a1bbf8f0e_s.png",
            "title" : "<font style='font-weight:bold;'>场馆中心开展安全检查工作</font>",
            "url" : "/2018/1220/c2881a117119/page.htm"
            },
        
    
        
            {
            "src" : "/_upload/article/images/51/ad/7403883d428fb2127e727b4c9e81/421fa2c0-5ee4-4820-8a5b-1d1df48fa844_s.jpg",
            "title" : "【组图】运动南开&nbsp;活力无限！（2）",
            "url" : "/2017/1009/c2881a74804/page.htm"
            },
        
    
        
            {
            "src" : "/_upload/article/images/6b/11/b32d29d64c14a0f92a525c5cf77e/a85feff0-67c8-4c90-bc06-c7842f89d385_s.jpg",
            "title" : "【组图】运动南开&nbsp;活力无限！（1）",
            "url" : "/2017/1009/c2881a74803/page.htm"
            },
        
    
        
            {
            "src" : "/_upload/article/images/87/ed/f33d2a6644769c52ff1336b29158/987df9eb-1e97-49ad-8d0f-3891eb81a5f1_s.jpg",
            "title" : "南开学子全运会象棋比赛斩获两银",
            "url" : "/2017/0717/c2881a71346/page.htm"
            },
        
    
        
            {
            "src" : "/_upload/article/images/ca/e2/48352ce046e0a124cba08b3774bc/246a5e65-ae54-427b-9ad5-c44b4cfc4b04_s.jpg",
            "title" : "南开大学啦啦队在全国啦啦操锦标赛中夺冠",
            "url" : "/2017/0601/c2881a67474/page.htm"
            }];
        
    
</script>
<script language="JavaScript">
            var w31imgUrl = new Array();
            var w31imgLink = new Array();
            var w31imgTitle = new Array();

            var w31count = 0;
            var w31running = false;
            var w31index = 0;
            var w31nextAdTimer;
            var w31k = 0;
            function w31nextAd(num) {
                if (num >= 0 && num <= w31count - 1) {
                    w31index = num;
                    clearTimeout(w31nextAdTimer);
                } else {
                    num = w31index;
                }
                if (w31index > w31count - 1) {
                    w31index = 0;
                }
                if (!w31running) {
                    w31running = true;

                } else if (document.all) {
                    w31imgShow.filters.revealTrans.Transition = 50;
                    w31imgShow.filters.revealTrans.apply();
                    w31imgShow.filters.revealTrans.play();
                }
                document.getElementById('w31imgShow').src = w31imgUrl[w31index];
                if (w31imgTitle[w31index] != '') {
                    document.getElementById('w31imgTitle').innerHTML = '<a href="javascript:w31openWindow();" title="' + w31imgTitle[w31index] + '">' + w31imgTitle[w31index] + '</a>';
                }
                document.getElementById('w31imgNumber').innerHTML = "";
                w31k = 0;
                for (var i = 0; i < w31count; i++) {
                    w31k++;
                    if (i != w31index) {
                        document.getElementById('w31imgNumber').innerHTML += '<a href="javascript:w31nextAd(' + i + ')" class="nomal">' + w31k + '</a>';
                    } else {
                        document.getElementById('w31imgNumber').innerHTML += '<a href="javascript:w31nextAd(' + i + ')" class="current">' + w31k + '</a>';
                    }
                }

                w31index++;
                if (w31count > 1) {
                    w31nextAdTimer = setTimeout("w31nextAd(-1)", 4000);
                }
            }

            function w31openWindow() {
                var jumpUrl = w31imgLink[w31index - 1];
                if (jumpUrl && jumpUrl != '') {
                    window.open(jumpUrl);
                }
            }

            $().ready(function() {
                try {
                    var objs = w31imgJsons;
                    w31count = objs.length;
                    if (w31count == 0) {
                        document.getElementById('w31imgShow').style.display = "none";
                        document.getElementById('w31imgNumber').style.display = "none";
                        document.getElementById('w31imgTitle').style.display = "none";
                        return;
                    }
                    for (var i = 0; i < objs.length; i++) {
                        w31imgUrl[i] = objs[i].src;
                        w31imgLink[i] = objs[i].url;
                        w31imgTitle[i] = objs[i].title;
                    }
                    w31nextAd(-1);
                } catch (e) {

                }
            });
</script>

          </div>
          </div>
          <div class="con_lr">
          <div class="con_l_top1">
            <div class="cbox" frag="面板32">
              <div class="post post1" frag="窗口32">
                <div class="con_lr_nav">
                  <h3 class="con_nav_title"><span frag="标题">通知公告</span></h3>
                  <div class="con-more">
                    <div class="more-btn" frag="按钮" type="更多"><a href="/2865/list.htm" class="w32_more"><span class="more-text" frag="按钮内容"><a href="javascript:void(0)"></a></span></a></div>
                  </div>
                </div>
                <div class="con">
                  <!-- 图文标题混排-->
<ul class="div_piccontenttitle_ul " >
    <li class=" div_piccontenttitle_li " >
        
            <div class="c_pt_12">
                <div class="c_pic">
                    <a target="_blank" href="/2019/0117/c2865a118532/page.htm" title="体育场馆寒假开放时间及注意事项" >
                        <span class=" " >
                            <img alt="体育场馆寒假开放时间及注意事项" src="/_images/default/NoPicture.gif" width="100px" height="75px" >
                        </span>
                    </a>
                </div>
                <div class="c_txt">
                    <h3>
                        <a target="_blank" href="/2019/0117/c2865a118532/page.htm" title="体育场馆寒假开放时间及注意事项" >
                            <span class=" " >
                                体育场馆寒假开放时间及注意事项
                            </span>
                        </a>
                    </h3>
                    <p>
                        <a target="_blank" href="/2019/0117/c2865a118532/page.htm" title="体育场馆寒假开放时间及注意事项" >
                            <span >
                                根据学校办公室《关于元旦和寒假放假的通知》（南办发[2018]52号）和学工部统计寒假留校学生情况，...
                            </span>
                        </a>
                    </p>
                </div>
            </div>
        
    </li>
</ul>
                </div>
              </div><div frag="窗口4"> 
      
</div>
            </div>
          </div>
            
          <div class="con_l_top2">
            <div class="cbox" frag="面板35">
              <div class="post post4" frag="窗口35">
                <div class="con">
                  <div id="wp_news_w35"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='/2019/0117/c2865a118532/page.htm' target='_blank' title='体育场馆寒假开放时间及注意事项'>体育场馆寒假开放时间及注意事项</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>01-17</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i2"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>2</span> 
             <span class='Article_Title'><a href='/2019/0117/c2865a118529/page.htm' target='_blank' title='体育场馆寒假开放时间及注意事项'>体育场馆寒假开放时间及注意事项</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>01-17</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i3"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>3</span> 
             <span class='Article_Title'><a href='/2019/0114/c2865a118359/page.htm' target='_blank' title='重庆大学体育学院来我校体育部进行交流座谈'>重庆大学体育学院来我校体育部进行交流座谈</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>01-14</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i4"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>4</span> 
             <span class='Article_Title'><a href='/2019/0103/c2865a117771/page.htm' target='_blank' title='校领导检查场馆安全工作'>校领导检查场馆安全工作</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>01-03</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i5"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>5</span> 
             <span class='Article_Title'><a href='/2019/0102/c2865a117718/page.htm' target='_blank' title='南开女排与EOTVOS DSE女排队进行比赛交流'>南开女排与EOTVOS DSE女排队进行比赛交流</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>01-02</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i6"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>6</span> 
             <span class='Article_Title'><a href='/2018/1228/c2865a117573/page.htm' target='_blank' title='【在线慕课】《身体素质训练》系列课程：1000米跑'>【在线慕课】《身体素质训练》系列课程：1000米跑</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>12-28</span> 
              
         </div> 
     </li> 
      
</ul> 
</div> 

                </div>
              </div>
            </div>
          </div>
          </div>   
          <div class="clear"></div>
        </div><!--左上-->
           
        <div class="con_l_bot">
          <div class="con_l_l2">
            <div class="cbox" frag="面板33">
              <div class="post post2" frag="窗口33">
                <div class="con_l_l2_nav">
                  <h3 class="con_nav_title"><span frag="标题">办公系统</span></h3>
                  <div class="con-more">
                    <div class="more-btn" frag="按钮" type="更多"><a href="/2867/list.htm" class="w33_more"><span class="more-text" frag="按钮内容"><a href="javascript:void(0)"></a></span></a></div>
                  </div>
                </div>
                <div class="con">
                  <div class="articlecontent " >
    
        
            
                <p style="text-align:center;"><a href="http://tycg.nankai.edu.cn/PE" target="_blank" sudyfile-attr="{'title':'只支持选中一个链接时生效'}"><img style="float:none;" src="/_upload/article/af/13/56810fac4c5e8a28ede303c21201/c0868f3c-38bf-4d55-bbcf-d6317b51e3fd.png" original_name="029759dc-9ec5-46f4-8394-6b8ce2c69afa.png" /></a><img data-layer="photo" src="/_upload/article/af/13/56810fac4c5e8a28ede303c21201/3325f74b-6e5d-4346-9c2a-3058cfe88e10.jpg" original-src="/_upload/article/af/13/56810fac4c5e8a28ede303c21201/3325f74b-6e5d-4346-9c2a-3058cfe88e10_d.jpg" sudyfile-attr="{'title':'未标题-1.jpg'}" width="90" height="114" border="0" hspace="0" vspace="0" style="font-size:14px;width:90px;height:114px;" /></p><p style="text-align:center;"><a href="http://222.30.44.122/PE" target="_blank" sudyfile-attr="{'title':'只支持选中一个链接时生效'}"></a></p>
            
        
    
</div><!--左下左-->          </div>
              </div>
            </div>
          </div>
          <div class="con_l_r2">
            <div class="cbox" frag="面板34">
              <div class="post post1" frag="窗口34">
                <div class="con_lr_nav">
                  <h3 class="con_nav_title"><span frag="标题">校群体活动</span></h3>
                  <div class="con-more">
                    <div class="more-btn" frag="按钮" type="更多"><a href="/2868/list.htm" class="w34_more"><span class="more-text" frag="按钮内容"><a href="javascript:void(0)"></a></span></a></div>
                  </div>
                </div>
                <div class="con">
                  <div id="wp_news_w34"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='/2017/0508/c2868a66193/page.htm' target='_blank' title='2017 New Balance 中国大学生校园路跑接力赛华北赛区南开举行'>2017 New Balance 中国大学生校园路跑接力赛华北...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>05-08</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i2"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>2</span> 
             <span class='Article_Title'><a href='/2017/0410/c2868a62829/page.htm' target='_blank' title='“国华人寿杯”京津四校大学生排球交流赛圆满举办'>“国华人寿杯”京津四校大学生排球交流赛圆满举办</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>04-10</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i3"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>3</span> 
             <span class='Article_Title'><a href='/2016/1220/c2868a54497/page.htm' target='_blank' title='南开大学首次普通学生等级排球运动员、裁判员、教练员考核圆满结束'>南开大学首次普通学生等级排球运动员、裁判员、教...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>12-20</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i4"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>4</span> 
             <span class='Article_Title'><a href='/2016/1219/c2868a54423/page.htm' target='_blank' title='第二届”天南杯“棋类对抗赛圆满举行'>第二届”天南杯“棋类对抗赛圆满举行</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>12-19</span> 
              
         </div> 
     </li> 
      
     <li class="list_item i5"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>5</span> 
             <span class='Article_Title'><a href='/2016/1205/c2868a53670/page.htm' target='_blank' title='天津市大学生啦啦操比赛我校两支代表队获佳绩'>天津市大学生啦啦操比赛我校两支代表队获佳绩</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
             <span class='Article_PublishDate'>12-05</span> 
              
         </div> 
     </li> 
      
</ul> 
</div> 

                </div>
              </div>
            </div>
          </div><!--左下右-->
        </div> <!--左下-->
        
      </div> <!--左-->
      
      
      <div class="con_r">
        <div class="con_r_top">
            <div class="cbox" frag="面板41">
              <div class="post post3" frag="窗口41">
                <div class="con_r_nav">
                  <h3 class="con_r_title"><span frag="标题">政策与下载</span></h3>
                  <div class="con-more1">
                    <div class="more-btn1" frag="按钮" type="更多"><a href="/2863/list.htm" class="w41_more"><span class="more-text1" frag="按钮内容"><img src="/_upload/tpl/00/4b/75/template75/images/more.png"></span></a></div>
                  </div>
                </div>
                <div class="con">
                  <div id="wp_news_w41"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='/2017/0518/c2863a66896/page.htm' target='_blank' title='南开大学体育运动证书评定标准'>南开大学体育运动证书评定标准</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i2"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>2</span> 
             <span class='Article_Title'><a href='/2017/0109/c2863a55666/page.htm' target='_blank' title=' 南发字〔2016〕107号印发《南开大学关于进一步促进学生体质健康的规定（试行）》的通知'> 南发字〔2016〕107号印发《南...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i3"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>3</span> 
             <span class='Article_Title'><a href='/2016/1122/c2863a52439/page.htm' target='_blank' title='高等学校体育工作基本标准'>高等学校体育工作基本标准</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i4"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>4</span> 
             <span class='Article_Title'><a href='/2016/1122/c2863a52437/page.htm' target='_blank' title='《全国普通高等学校体育课程教学指导纲要》'>《全国普通高等学校体育课程教...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i5"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>5</span> 
             <span class='Article_Title'><a href='/2016/1122/c2863a52434/page.htm' target='_blank' title='南开大学“十三五”事业发展规划纲要'>南开大学“十三五”事业发展规...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i6"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>6</span> 
             <span class='Article_Title'><a href='/2016/1122/c2863a52433/page.htm' target='_blank' title='南开大学关于进一步加强和改进体育工作的意见'>南开大学关于进一步加强和改进...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
</ul> 
</div> 

                </div>
              </div><div frag="窗口3"> 
      
</div>
            </div>
        </div><!--右上-->
        <!--右中1-->
        <div class="con_r_m">
          <div class="con_r_m_1" frag="面板43">
            <div frag="窗口66"><div class="articlecontent " >
    
        
            
                <table cellspacing="0" cellpadding="0"><tbody><tr><td style="word-break:break-all;"><a href="http://tycg.nankai.edu.cn" target="_blank"><img src="/_upload/article/4e/a8/1276e8bd40a686aafbc95ead16a3/c5ed6c9d-e00c-4c04-aa87-e7056b36cf78.jpg" /></a><br /></td></tr><tr><td><br /></td></tr></tbody></table>
            
        
    
</div></div>
          </div>
        </div><!--右中2-->
        <div class="con_r_bot">
      <div class="charl"></div>
      <div class="logins">
	 <form id="loginForm" method="post" action="http://nankai.edu.cn/coremail/index.jsp">
	  <span class="input"><input type="text" id="loginUserName" name="uid" value="用户名" onfocus="if(value=='用户名') {value=''}" onblur="if (value=='') {value='用户名'}" style="border:none;" /></span>
	  <span class="input"><input type="password" id="loginPassword" name="password" value="请输入密码" onfocus="if(value=='请输入密码') {value=''}" onblur="if (value=='') {value='请输入密码'}" style="border:none;" /></span>
      <span class="sel">
       <cite id="mailname">教工电子邮箱</cite>
       <a class="switch"></a>
       <ul class="mailslist">
         <li id="js">教工电子邮箱</li>
         <li id="xs">学生电子邮箱</li>
       </ul>
        <select name="loginSelect" id="loginSelect" class="mails">
          <option class="js" selected="selected" value="js">nankai.edu.cn</option>
          <option class="xs" value="xs">mail.nankai.edu.cn</option>
        </select>
      </span>
      <span id="loginParas" style="display:none;"></span>
      <div class="sbt clearfix"><span class="sbt_l fl"><a href="http://222.30.44.136/reg/agreement.htm">注册邮箱</a></span><span class="sbt_r fr"><input name="action:login" type="submit"  value="登 录" /></span></div>
            <input type="hidden" name="locale" value="zh_CN" />                        <input type="hidden" name="domain" value="nankai.edu.cn">
	 </form>
    </div>

        </div>
      </div><!--右-->
    <div class="clear"></div>
    </div>
  </div>
</div>

<div class="wrapper" id="footer">
  <div class="inner foot_inner">
     <div class="foot_link" frag="面板62">
   
    <div class="foot white">
      <div id="copyright" frag="面板61">
        <p class="copyright" frag="窗口61"></p>
      </div>
    </div>
  </div>
</div>

</body>
</html>
 <image src="/_visitcount?siteId=57&type=1&columnId=2853" style="display:none" width="0" height="0"></image>