<base href="http://nkjd.nankai.edu.cn/"><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<title>南开大学接待服务中心</title>
<meta name="keywords" content="南开大学接待服务中心">
<meta name="description" content="南开大学接待服务中心成立于2007年1月30日，系学校直属正处级经营性服务单位，由原国际学术交流处、后勤服务集团所属的客房、餐厅、车队和票务中心整合、重组而成，现有员工700余人。接待服务中心的主要职责是负责学校服务性资源的经营与管理，承担着为国内外学者、留学生以及其他宾客提供优质的住宿、餐饮、会务、客运、订票等服务的职能;负责策划、制作、销售带有南开大学标志的校园文化产品。
　　接待服务中心在八里台校区和津南校区共拥有楼宇15栋，总建筑面积76000多平方米。其中包含客房1200余间，合计床位2000多个;餐厅7个，总营业面积3100多平方米，可同时提供约1800个餐位;各类大中小型会议室24个;贵宾厅4个。此外还拥有洗衣房、小超市、咖啡厅、票务中心和南开大学品牌文化店等配套设施。中心客运部现拥有各种车辆48部，可满足宾客对住宿、餐饮、出行等不同层次的需求。
　　2015年9月，随着南开大学津南校区的投入使用，接待服务中心走上了发展壮大的快车道。以南开大学津南校区投入使用为契机，接待服务中心重新梳理了组织架构，进一步完善了内部管理制度、工作标准和工作流程。现设有中心办公室、人力资源部、财务部、采购部、营销部、客房部、餐饮部、客运部、网络与信息化部、工程部、安保部、南开大学品牌文化店等12个部门。中心实行企业化的经营与治理模式，在学校的直接领导下，实行中心主任负责制，中心主任对学校负责;中心所属各部门实行部长负责制，部长对中心负责;在人事管理上，实行全员岗位聘用制，定岗定编，岗位公开，择优上岗;在财务管理上，实行现代企业财务管理制度，严格成本核算，逐步向企业化的全成本核算方向在推进;中心对所辖各部门实行目标管理，进行绩效考核。中心的目标是逐步理顺管理体制和运行机制，营造和谐、诚信、向上的工作氛围，充分调动全体员工的积极性与能动性，强化主人翁责任感，从而使学校的接待服务资源得到充分有效地利用，使国有资产实现保值、增值。
　　中心重组运行8年来，一手抓经营管理，一手抓优质服务，双管齐下，始终坚持以服务学校工作为大局，以“为学校服好务，为广大师生员工服好务”为目标，积极主动地承担学校的各类重大活动和重要接待任务，并高水平、高质量地完成，精心安排好外籍专家和留学生的生活，接待服务的层次和水平不断提升。
　　今后，我们将继续本着“严谨、有序、团结、高效、奉献”的宗旨，以“企业化经营，制度化管理，规范化运作，人性化服务”为理念，不断深化内部管理体制和运行机制的改革，发扬优良传统，强化自身建设，努力探索和发展具有南开特色的接待服务之路，将接待服务中心打造成为展现南开对外形象，提升南开品牌效应的平台，为南开大学创建世界一流大学做出更多更大的贡献。">
<link type="text/css" rel="stylesheet" href="/template/style.css" />
<script type="text/javascript" language="javascript" src="/template/base.js"></script>
<script type="text/javascript" src="/template/jquery-1.8.0.min.js"></script>
<script type="text/javascript" src="/template/jquery.nivo.js"></script>
<script src="/template/jq_scroll.js" type="text/javascript"></script>

<script type="text/javascript" src="/js/Common.js"></script>
<script type="text/javascript" src="/js/zh-cn/Xmlhttp.js"></script>
</head>

<body>
<style type="text/css">
.slider .nivo-controlNav{left:0;}
</style>
<div class="top">
<div class="logo"><a href="http://nkjd.nankai.edu.cn" target="_blank"><img src="/template/images/logo.gif" title="返回首页" /></a></div>

</div>

<div class="nav" style="z-index:200; position:relative;">
<ul id="subnav">
<li><a href="/">首页</a>
<dl>

</dl>
</li><li><a href="/Column/1/2.aspx">中心概况</a>
<dl>
<dd><a href="/Column/1/9.aspx">中心简介</a></dd><dd><a href="/Column/1/10.aspx">经营理念</a></dd><dd><a href="/Column/1/11.aspx">历史资料</a></dd><dd><a href="/Column/1/12.aspx">机构设置</a></dd><dd><a href="/Column/1/13.aspx">新闻公告</a></dd><dd><a href="/Column/1/14.aspx">对外合作</a></dd><dd><a href="/Column/1/15.aspx">大事记</a></dd>
</dl>
</li><li><a href="/Column/1/3.aspx">服务项目</a>
<dl>
<dd><a href="/Column/1/18.aspx">会议服务</a></dd><dd><a href="/Column/1/19.aspx">客房服务</a></dd><dd><a href="/Column/1/20.aspx">餐饮服务</a></dd><dd><a href="/Column/1/21.aspx">车务服务</a></dd><dd><a href="/Column/1/22.aspx">校园纪念品</a></dd><dd><a href="/Column/1/23.aspx">票务服务</a></dd><dd><a href="/Column/1/24.aspx">特别推荐</a></dd>
</dl>
</li><li><a href="/Column/1/4.aspx">网上预订</a>
<dl>
<dd><a href="/Column/1/38.aspx">预订须知</a></dd><dd><a href="/Column/1/39.aspx">会议预定</a></dd><dd><a href="/Column/1/40.aspx">客房预订</a></dd><dd><a href="/Column/1/41.aspx">餐饮预订</a></dd><dd><a href="/Column/1/42.aspx">车辆预定</a></dd><dd><a href="http://www.12306.cn">票务预订</a></dd>
</dl>
</li><li><a href="/Column/1/5.aspx">校园文化产品</a>
<dl>
<dd><a href="/Column/1/44.aspx">办公文具</a></dd><dd><a href="/Column/1/45.aspx">生活休闲</a></dd><dd><a href="/Column/1/46.aspx">水杯茶具</a></dd><dd><a href="/Column/1/47.aspx">美工艺品</a></dd><dd><a href="/Column/1/48.aspx">衣帽服饰</a></dd><dd><a href="/Column/1/49.aspx">电子产品</a></dd><dd><a href="/Column/1/50.aspx">其他产品</a></dd>
</dl>
</li><li><a href="/Column/1/6.aspx">员工天地</a>
<dl>
<dd><a href="/Column/1/51.aspx">培训学习</a></dd><dd><a href="/Column/1/52.aspx">员工心声</a></dd><dd><a href="/Column/1/53.aspx">员工生活</a></dd><dd><a href="/Column/1/54.aspx">好人好事</a></dd><dd><a href="/Column/1/55.aspx">员工风采</a></dd><dd><a href="/Column/1/56.aspx">健康生活</a></dd>
</dl>
</li><li><a href="/Column/1/7.aspx">人才招聘</a>
<dl>
<dd><a href="/Column/1/57.aspx">招聘须知</a></dd><dd><a href="/Column/1/58.aspx">招聘信息</a></dd>
</dl>
</li><li><a href="/Column/1/8.aspx">联系我们</a>
<dl>
<dd><a href="/Column/1/59.aspx">中心地图</a></dd><dd><a href="/Column/1/60.aspx">联系方式</a></dd><dd><a href="/Column/1/61.aspx">我要留言</a></dd>
</dl>
</li>
</ul>
</div>
<script language="javascript">show('subnav')</script>

<div class="slider">
<div id="nivoslider-54" class="nivoSlider"><img src="/upload/Article/201510/22/2015102217513049735.jpg" alt="" /><img src="/upload/Article/201510/22/2015102217534627435.jpg" alt="" /><img src="/upload/Article/201510/22/2015102217552940817.jpg" alt="" /><img src="/upload/Article/201510/22/2015102217563096644.jpg" alt="" /><img src="/upload/Article/201510/22/2015102218023436652.jpg" alt="" /></div>
</div>
<script type="text/javascript">jQuery(window).load(function(){jQuery("#nivoslider-54").nivoSlider({effect:"random",slices:15,boxCols:8,boxRows:4,animSpeed:500,pauseTime:6000,startSlide:0,directionNav:true,directionNavHide:true,controlNav:true,controlNavThumbs:false,controlNavThumbsFromRel:true,keyboardNav:true,pauseOnHover:true,manualAdvance:false});});</script>

<div class="row clearfix">
<div class="idx_news">
<div class="hd"><div id="tab-switch-0" class="tab"><a href="/Column/1/13.aspx" target="_blank">新闻公告</a><a href="/Column/1/15.aspx" target="_blank">大事记</a></div></div>
<div id="tab-switch-0-body" class="bd">
<div>
<ul class="pictxt">
<li>
<div class="pic"><a href="/Info/1/13/706.aspx" target="_blank"><img src="/upload/Article/201903/08/2019030817142225453.jpg" /></a></div>
<div class="txt"><h3><a href="/Info/1/13/706.aspx" target="_blank">接待服务中心顺利完成爱知大学现地教学项目留学生报到入住</a></h3><span class="date">2019-03-08</span></div>
</li><li>
<div class="pic"><a href="/Info/1/13/705.aspx" target="_blank"><img src="/upload/Article/201902/27/2019022712201816103.png" /></a></div>
<div class="txt"><h3><a href="/Info/1/13/705.aspx" target="_blank">接待服务中心津南校区专家公寓餐厅增设早餐的通知</a></h3><span class="date">2019-02-27</span></div>
</li><li>
<div class="pic"><a href="/Info/1/13/704.aspx" target="_blank"><img src="/upload/Article/201902/19/2019021916111662828.jpg" /></a></div>
<div class="txt"><h3><a href="/Info/1/13/704.aspx" target="_blank">接待服务中心安排公交专线迎新学期学生返校</a></h3><span class="date">2019-02-18</span></div>
</li>
</ul>
</div>
<div style="display:none;">
<ul class="pictxt">
<li>
<div class="pic"><a href="/Info/1/15/654.aspx" target="_blank"><img src="/images/noimage.gif" /></a></div>
<div class="txt"><h3><a href="/Info/1/15/654.aspx" target="_blank">2016年度大事记</a></h3><span class="date">2017-01-23</span></div>
</li><li>
<div class="pic"><a href="/Info/1/15/653.aspx" target="_blank"><img src="/images/noimage.gif" /></a></div>
<div class="txt"><h3><a href="/Info/1/15/653.aspx" target="_blank">2015年度大事记</a></h3><span class="date">2016-01-18</span></div>
</li><li>
<div class="pic"><a href="/Info/1/15/652.aspx" target="_blank"><img src="/images/noimage.gif" /></a></div>
<div class="txt"><h3><a href="/Info/1/15/652.aspx" target="_blank">2014年度大事记</a></h3><span class="date">2015-01-12</span></div>
</li>
</ul>
</div>
</div>
</div>
<script language="javascript" type="text/javascript">inittab("tab-switch-0",'a','div');</script>

<div class="receive">
<div class="hd"><h2><a href="/Column/1/2.aspx" target="_blank">中心概况</a>Reception&nbsp;Service</h2><div class="more"><a href="/Column/1/2.aspx" target="_blank">MORE+</a></div></div>
<div class="bd clearfix">
<div class="pic"><a href="/Column/1/2.aspx" target="_blank"><img src="/template/images/receive.jpg" /></a></div>
<div class="txt">
<p>南开大学接待服务中心成立于2007年1月30日，系学校直属正处级经营性服务单位，由原国际学术交流处、后勤服务集团所属的客房、餐厅、车队和票务中心整合、重组而成，现有员工700余人。接待服务中心将秉承“企		
业化经营、制度化管理、规范化运作、人性化服务”的经营理念……<a href="/Column/1/2.aspx" target="_blank">详情>></a></p>
<div class="receive_link"><a href="/Column/1/7.aspx" target="_blank"><img src="/template/images/recruitment.jpg" /></a><a href="/Column/1/6.aspx" target="_blank"><img src="/template/images/personnel.jpg" /></a></div>
</div>
</div>
</div>

</div>

<div class="rowbd">
<div class="row">
<div class="service">
<h2><a href="/Column/1/24.aspx" target="_blank" onmouseover="this.className='current'" onmouseout="this.className=''">特别推荐</a></h2>
<div class="bd">
<h3><a href="/Column/1/19.aspx" target="_blank">客房</a></h3>
<p>接待服务中心辖有专家楼餐厅、明珠园餐厅、谊园餐厅、南开爱大会馆……</p>
<span><a href="/Column/1/40.aspx" target="_blank">我要预定→</a></span>
</div>
<div class="bd">
<h3><a href="/Column/1/20.aspx" target="_blank">餐饮</a></h3>
<p>学校接待国内外专家学者、政要名流的主要场所，餐厅以雅间为主……</p>
<span><a href="/Column/1/41.aspx" target="_blank">我要预定→</a></span>
</div>
<div class="bd service_bd">
<h3><a href="/Column/1/18.aspx" target="_blank">会议</a></h3>
<p> 接待服务中心辖有专家楼餐厅、明珠园餐厅、谊园餐厅、南开爱大会馆……</p>
<span><a href="/Column/1/39.aspx" target="_blank">我要预定→</a></span>
</div>
<div class="bd service_bd" style="width:138px; margin:0 170px 0 0;">
<h3><a href="/Column/1/21.aspx" target="_blank">车务</a></h3>
<p>接待服务中心设有客运部现拥有经营性车辆16辆，其中商务别克车……</p>
<span><a href="/Column/1/42.aspx" target="_blank">我要预定→</a></span>
</div>
<div class="bd service_bd" style="width:137px">
<h3><a href="/Column/1/23.aspx" target="_blank">票务</a></h3>
<p>预订国内、国际机票，火车票、船票。同时承接各大会议、团体票预定……</p>
<span><a href="http://www.12306.cn" target="_blank">我要预定→</a></span>
</div>
</div>

</div>
</div>


<div class="row">
<div class="souvenir">
<div class="hd"><h2><span><a href="/Column/1/5.aspx">校园文化产品</a></span>Campus&nbsp;Cultural&nbsp;Products</h2><div class="more"><span class="tabup" id="but_up01"></span><span id="but_down01"></span></div></div>
<div id="scrollDiv01" class="bd">
<ul>

<li class="clearfix">
<div class="souvenir_li"><a class="pic" href="/Info/1/49/44.aspx" target="_blank"><img src="/upload/Article/201509/30/2015093017071082958.jpg" /></a><span class="tit">南开大学16G水晶U盘</span><p><span>时间：2014-07-14</span><span class="num">货号：0080005</span></p><a class="buy" href="/Info/1/49/44.aspx" target="_blank">预约购买</a></div>


<div class="souvenir_li"><a class="pic" href="/Info/1/45/130.aspx" target="_blank"><img src="/upload/Article/201510/02/2015100220560728076.jpg" /></a><span class="tit">毛绒玩具类</span><p><span>时间：2014-07-13</span><span class="num">货号：0030014</span></p><a class="buy" href="/Info/1/45/130.aspx" target="_blank">预约购买</a></div>

<div class="souvenir_li"><a class="pic" href="/Info/1/45/126.aspx" target="_blank"><img src="/upload/Article/201510/02/2015100220511174411.jpg" /></a><span class="tit">南开大学野营三件套</span><p><span>时间：2014-07-13</span><span class="num">货号：0050022</span></p><a class="buy" href="/Info/1/45/126.aspx" target="_blank">预约购买</a></div>


<div class="souvenir_li"><a class="pic" href="/Info/1/45/125.aspx" target="_blank"><img src="/upload/Article/201510/02/2015100220472824068.jpg" /></a><span class="tit">四轮行李箱</span><p><span>时间：2014-07-13</span><span class="num">货号：</span></p><a class="buy" href="/Info/1/45/125.aspx" target="_blank">预约购买</a></div>
</li>


<li class="clearfix">
<div class="souvenir_li"><a class="pic" href="/Info/1/46/116.aspx" target="_blank"><img src="/upload/Article/201510/02/2015100220225013923.jpg" /></a><span class="tit">学生卡通保温杯</span><p><span>时间：2014-07-13</span><span class="num">货号：F0040002、1000046</span></p><a class="buy" href="/Info/1/46/116.aspx" target="_blank">预约购买</a></div>


<div class="souvenir_li"><a class="pic" href="/Info/1/47/89.aspx" target="_blank"><img src="/upload/Article/201510/02/2015100219234439591.jpg" /></a><span class="tit">南开大学范曾钟馗月关摆盘</span><p><span>时间：2014-07-13</span><span class="num">货号：0070112</span></p><a class="buy" href="/Info/1/47/89.aspx" target="_blank">预约购买</a></div>

<div class="souvenir_li"><a class="pic" href="/Info/1/47/88.aspx" target="_blank"><img src="/upload/Article/201510/02/2015100219204181653.jpg" /></a><span class="tit">南开大学范曾春牛图摆盘</span><p><span>时间：2014-07-13</span><span class="num">货号：0070111</span></p><a class="buy" href="/Info/1/47/88.aspx" target="_blank">预约购买</a></div>


<div class="souvenir_li"><a class="pic" href="/Info/1/48/69.aspx" target="_blank"><img src="/upload/Article/201510/02/2015100218284160855.jpg" /></a><span class="tit">南开大学帽子</span><p><span>时间：2014-07-13</span><span class="num">货号：0030017</span></p><a class="buy" href="/Info/1/48/69.aspx" target="_blank">预约购买</a></div>
</li>


<li class="clearfix">
<div class="souvenir_li"><a class="pic" href="/Info/1/48/68.aspx" target="_blank"><img src="/upload/Article/201510/02/2015100218261547813.jpg" /></a><span class="tit">南开大学黑金帽子</span><p><span>时间：2014-07-13</span><span class="num">货号：0030020</span></p><a class="buy" href="/Info/1/48/68.aspx" target="_blank">预约购买</a></div>


<div class="souvenir_li"><a class="pic" href="/Info/1/48/67.aspx" target="_blank"><img src="/upload/Article/201510/02/2015100218235683259.jpg" /></a><span class="tit">南开大学帆布袋</span><p><span>时间：2014-07-13</span><span class="num">货号：0060017</span></p><a class="buy" href="/Info/1/48/67.aspx" target="_blank">预约购买</a></div>

<div class="souvenir_li"><a class="pic" href="/Info/1/48/66.aspx" target="_blank"><img src="/upload/Article/201510/02/2015100218220731788.jpg" /></a><span class="tit">南开大学POLO衫</span><p><span>时间：2014-07-13</span><span class="num">货号：0020029</span></p><a class="buy" href="/Info/1/48/66.aspx" target="_blank">预约购买</a></div>


<div class="souvenir_li"><a class="pic" href="/Info/1/48/65.aspx" target="_blank"><img src="/upload/Article/201510/02/2015100218204935222.jpg" /></a><span class="tit">南开大学69元T恤</span><p><span>时间：2014-07-13</span><span class="num">货号：0020031</span></p><a class="buy" href="/Info/1/48/65.aspx" target="_blank">预约购买</a></div>
</li>

</ul>
</div>
<script type="text/javascript">
$(document).ready(function(){
        $("#scrollDiv01").Scroll({line:1,speed:500,timer:3000,up:"but_up01",down:"but_down01"});
});
</script>
</div>
</div>

<div class="row">
<div class="link">
<div class="hd">友情链接：</div>
<div class="bd"><a href="http://www.nankai.edu.cn" target="_blank" title="南开大学">南开大学</a>
<a href="http://hqfw.nankai.edu.cn/" target="_blank" title="南开大学后勤服务">南开大学后勤服务</a>
<a href="http://www.pkusy.com" target="_blank" title="北京大学勺园">北京大学勺园</a>
<a href="http://hq.tsinghua.edu.cn" target="_blank" title="清华大学后勤服务">清华大学后勤服务</a>
<a href="http://zulg.zju.edu.cn" target="_blank" title="浙江大学后勤服务">浙江大学后勤服务</a>
<a href="http://hqjt.nju.edu.cn" target="_blank" title="南京大学后勤服务">南京大学后勤服务</a>
</div>
</div>
</div>

<div class="footerbg">
<div class="footer">
<div class="footernav"><a href="/" target="_blank">首页</a>|<a href="/Column/1/2.aspx" target="_blank">中心概况</a>|<a href="/Column/1/3.aspx" target="_blank">服务项目</a>|<a href="/Column/1/4.aspx" target="_blank">网上预订</a>|<a href="/Column/1/5.aspx" target="_blank">校园文化产品</a>|<a href="/Column/1/6.aspx" target="_blank">员工天地</a>|<a href="/Column/1/7.aspx" target="_blank">人才招聘</a>|<a href="/Column/1/8.aspx" target="_blank">联系我们</a></div>
<div class="txt clearfix">
<div class="txt_l">
版权所有 © 南开大学接待服务中心<br />
All Rrights Reserved.<br />
地址：天津南开区卫津路94号<br />
津ICP备12003308号
</div>
<div class="txt_m"><span>津南校区</span>
会议承办：85358968<br />
客房预订：85358917<br />
车辆预订：85358918
</div>
<div class="txt_r"><span>八里台校区</span>
会议承办：23501981<br />
客房预订：23501555<br />
车辆预订：23508350
</div>
<div class="pic"><img title="微信公众号：南开大学品牌文化店" src="/template/images/weixin-ppd.jpg" /><span>品牌文化店</span></div>
<div class="pic"><img title="微信公众号：南开大学接待服务中心" src="/template/images/weixin.jpg" /><span>接待服务中心</span></div>
</div>
</div>
</div>
</body>
</html>