<base href="http://study.nankai.edu.cn/"><!DOCTYPE html>
<html lang="zh">
    <head>
		<meta name="renderer" content="webkit">
        <meta charset="utf-8">
        
        
    <title>Office for International Academic Exchanges, International Students Section</title>
    <meta name="keywords" content="南开大学, 学术交流处, 对外交流, 国际化, 港澳台事务, 孔子学院" />
    <meta name="description" content="南开大学国际学术交流处、港澳台事务办公室、孔子学院工作办公室官方网站" />
    <meta name="author" content="" />



    <link rel="shortcut icon" href="/Public/Home/jlc/images/favicon.ico" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />






    <link rel="stylesheet" href="/Public/Home/jlc/css/style.css?_=1552201664" />
    <link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


    <!-- <link href="/Public/Home/jlc/css/study-nku.css" rel="stylesheet" /> -->

    <!--[if IE]>
        <link href="/Public/Home/jlc/css/ie-fix.css" rel="stylesheet" />
    <![endif]-->

    <link href="//cdnjs.cloudflare.com/ajax/libs/jquery-nivoslider/3.2/nivo-slider.min.css" rel="stylesheet" />
    <style type="text/css">
        .nivo-caption{
            opacity: 0.6;
        }
        .nivo-caption a{
            display: block;
        }
    </style>



    <!-- jQuery插件 -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <!-- HTML5 元素转换/兼容性处理 -->
    <script type="text/javascript" src="/Public/Home/jlc/js/modernizr.custom.11889.js"></script>


<link href="/Public/Home/jlc/css/study-nku.css" rel="stylesheet" />
<link href="/Public/Home/jlc/css/study-nku-en.css" rel="stylesheet" />
    </head>
    <body>
        
            <div id="wrap">
                <div class="top-bar"></div>
                
    <header id="header" class="container">
        
			<div class="top-link" style="right: 130px;">
    <a href="http://international.nankai.edu.cn" target="_blank" >交流处</a>
</div>
<div class="top-link">
    <a href="/stu"  target="_blank" >中文</a>
</div>            <div class="" id="site-logo">
                <a href="/" style="display: inline-block;">
                    <!--[if lt IE 9]><img src="/Public/Home/jlc/images/jlc/nku.png" /><![endif]-->
                    <!--[if gte IE 9]><!--><img src="/Public/Home/jlc/images/jlc/nku.svg" />
                    <!--<![endif]-->
                </a>
                <div class="row2 site-title">
    <span class="l1">Office for International Academic Exchanges </span>
    <span class="l2">International Students Section</span>
</div>                
                    <form action="/Home/Category/search.html" id="site-search-form">
                            <input type="text" name="keywords" required placeholder="Enter keywords to search..">
                            <input type="search" name="keywords" required placeholder="Enter keywords to search..">
                            <button type="submit"><i class="fa fa-fw fa-search"></i></button>
                            <script type="text/javascript">
                            $(document).ready(function() {
                                if ($(window).width() < 767) {
                                    $('#site-search-form input[type=text]').remove();
                                } else {
                                    $('#site-search-form input[type=search]').remove();
                                }
                            });
                            </script>
                        </form>                
            </div>
        
        
            <nav id="nav-wrap" class="twelve">
                <ul id="nav">
                    <li>
                                <a class="foot" href="/sen">Home</a>
                                                            </li><li>
                                <a class="foot" href="/c/sen-facts.html">About Nankai</a>
                                                                    <ul class="mobile-only">
                                        <li>
                                                    <a class="foot" href="/c/sen-facts.html" title="">Facts & Figures</a>
                                                                                                    </li><li>
                                                    <a class="foot" href="/c/sen-office.html" title="">International Students Office</a>
                                                                                                    </li><li>
                                                    <a class="foot" href="/c/sen-campus.html" title="">NKU Campus</a>
                                                                                                    </li><li>
                                                    <a class="foot" href="/c/sen-calendar.html" title="">Academic Calendar</a>
                                                                                                    </li>                                    </ul>                            </li><li>
                                <a class="foot" href="/c/sen-admission.html">Admissions</a>
                                                                    <ul class="mobile-only">
                                        <li>
                                                    <a class="foot" href="#" title="">Academic Education</a>
                                                                                                            <ul class="mobile-only">
                                                            <li>
                                                                    <a href="/c/sen-bachelor.html" class="foot">Bachelor</a>
                                                                </li><li>
                                                                    <a href="/c/sen-master.html" class="foot">Master</a>
                                                                </li><li>
                                                                    <a href="/c/sen-phd.html" class="foot">PhD</a>
                                                                </li><li>
                                                                    <a href="/c/nku-glasgow.html" class="foot">Nankai-Glasgow Joint Graduate School</a>
                                                                </li>                                                        </ul>                                                </li><li>
                                                    <a class="foot" href="/c/sen-non-academic-education.html" title="">Non-Academic education</a>
                                                                                                    </li><li>
                                                    <a class="foot" href="/c/sen-english-taught.html" title="">English Taught Programs</a>
                                                                                                    </li><li>
                                                    <a class="foot" href="/c/sen-summer-school.html" title="">Belt & Road Initiative Summer School</a>
                                                                                                    </li>                                    </ul>                            </li><li>
                                <a class="foot" href="">Academics</a>
                                                                    <ul class="mobile-only">
                                        <li>
                                                    <a class="foot" href="/c/sen-schools.html" title="">Schools</a>
                                                                                                    </li><li>
                                                    <a class="foot" href="/c/sen-majors.html" title="">Majors</a>
                                                                                                    </li><li>
                                                    <a class="foot" href="/c/sen-school-calender.html" title="">School Calender</a>
                                                                                                    </li>                                    </ul>                            </li><li>
                                <a class="foot" href="/c/sen-postgraduate-program.html">Scholarships</a>
                                                                    <ul class="mobile-only">
                                        <li>
                                                    <a class="foot" href="/c/sen-postgraduate-program.html" title="">Chinese Government Scholarship</a>
                                                                                                            <ul class="mobile-only">
                                                            <li>
                                                                    <a href="/c/sen-postgraduate-program.html" class="foot">University Postgraduate Program</a>
                                                                </li><li>
                                                                    <a href="/c/sen-us-student-program.html" class="foot">Sino-U.S. Cultural Exchange Scholarship</a>
                                                                </li><li>
                                                                    <a href="/c/sen-bilateral-program.html" class="foot">Bilateral Program</a>
                                                                </li>                                                        </ul>                                                </li><li>
                                                    <a class="foot" href="/c/sen-tj-gov-scholarship.html" title="">Tianjin Government Scholarship</a>
                                                                                                    </li><li>
                                                    <a class="foot" href="/c/sen-confucius-scholarship.html" title="">Confucius Institute Scholarship</a>
                                                                                                    </li><li>
                                                    <a class="foot" href="/c/sen-nk-scholarship.html" title="">Nankai University Scholarship</a>
                                                                                                    </li>                                    </ul>                            </li><li>
                                <a class="foot" href="/c/sen-orientation.html">Services</a>
                                                                    <ul class="mobile-only">
                                        <li>
                                                    <a class="foot" href="/c/sen-orientation.html" title="">Orientation</a>
                                                                                                    </li><li>
                                                    <a class="foot" href="/c/sen-visa.html" title="">Visa</a>
                                                                                                    </li><li>
                                                    <a class="foot" href="/c/sen-accommodation.html" title="">Accommodation</a>
                                                                                                    </li><li>
                                                    <a class="foot" href="/c/sen-insurance.html" title="">Insurance</a>
                                                                                                    </li><li>
                                                    <a class="foot" href="/c/sen-tuition.html" title="">Tuition & Fees</a>
                                                                                                    </li><li>
                                                    <a class="foot" href="/c/sen-university-policies.html" title="">University Policies</a>
                                                                                                    </li><li>
                                                    <a class="foot" href="/c/sen-download.html" title="">Download</a>
                                                                                                    </li>                                    </ul>                            </li><li>
                                <a class="foot" href="/c/sen-notice.html">Notice</a>
                                                            </li><li>
                                <a class="foot" href="/c/sen-news.html">News</a>
                                                            </li><li>
                                <a class="foot" href="/c/sen-contact.html">Contact Us</a>
                                                                    <ul class="mobile-only">
                                        <li>
                                                    <a class="foot" href="/c/sen-contact.html" title="">Contact Info</a>
                                                                                                    </li><li>
                                                    <a class="foot" href="/c/sen-staff.html" title="">Staff</a>
                                                                                                    </li><li>
                                                    <a class="foot" href="/c/sen-campus-map.html" title="">Campus Map</a>
                                                                                                    </li>                                    </ul>                            </li><li>
                                <a class="foot" href="http://nkuaa.nankai.edu.cn">Alumni</a>
                                                            </li>                </ul>
                <div style="clear: both;"></div>
            </nav>
        
    </header>


    <section id="full-width">
        
    <div class="theme-default">
        <div id="slider" class="nivoSlider" style="margin-bottom: 0px;">
            <img src="http://international.nankai.edu.cn/p/0/1080_1160-400.jpg" title="#htmlcaption0" /><img src="http://international.nankai.edu.cn/p/0/1081_1160-400.JPG" title="#htmlcaption1" />        </div>
        <div id="htmlcaption0" class="nivo-html-caption"><a href="/n/3418.html" title="INTERNATIONAL STUDENTS OF NANKAI UNIVERSITY EXPERIENCING CHINESE CULTURE IN SHANDONG">INTERNATIONAL STUDENTS OF NANKAI UNIVERSITY EXPERIENCING CHINESE CULTURE IN SHANDONG </a> </div><div id="htmlcaption1" class="nivo-html-caption"><a href="/n/3415.html" title="INTO CHINA AND NANKAI UNIVERSITY INVITED MR. MARWAN EMILE FADDOUL TO GIVE A LECTURE FOR FOREIGN STUDENTS">INTO CHINA AND NANKAI UNIVERSITY INVITED MR. MARWAN EMILE FADDOUL TO GIVE A LECTURE FOR FOREIGN STUDENTS </a> </div>    </div>

    <div class="pic-cards" style="overflow: hidden;">
    <div class="banner-bottom-links">
        <!-- <a href="#"><i class="fa fa-fw fa-cogs"></i> 留学生在线服务系统</a>
        <a href="#"><i class="fa fa-fw fa-certificate"></i> 留学生奖学金申请</a>
        <a href="#"><i class="fa fa-fw fa-info-circle"></i> 留学南开项目/专业介绍</a>
        <a href="#"><i class="fa fa-fw fa-graduation-cap"></i> 留学项目申请入口</a> -->

        <a href="https://nankai.17gz.org/member/login.do"><i class="fa fa-fw fa-cogs"></i> SERVICE SYSTEM</a>
<a href="/c/sen-postgraduate-program.html"><i class="fa fa-fw fa-certificate"></i> SCHOLARSHIPS</a>
<a href="/c/sen-majors.html"><i class="fa fa-fw fa-info-circle"></i> MAJORS INTRO</a>
<a href="https://nankai.17gz.org/member/login.do"><i class="fa fa-fw fa-graduation-cap"></i> PROGRAM APPLY</a>        <div class="clear"></div>
    </div>

    <div class="container announcement">
        <h2><span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span> Notice <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></h2>

        <a href="/n/3540.html" class="one-third column news-item" title="Declaration of Nankai University">
                <div class="content">
                    <div class="time">
                        <div class="day">13</div>
                        <div class="month">2019/01</div>
                    </div>
                    <div class="info">
                        <h3>Declaration of Nankai University</h3>
                        <p>​Recently, we have learned from different channels that there were some social o...</p>
                    </div>
                    <div class="clear"></div>
                </div>
            </a><a href="/n/3397.html" class="one-third column news-item" title="SINO US HUMANITIES SCHOLARSHIP FINAL ADMISSION LIST">
                <div class="content">
                    <div class="time">
                        <div class="day">14</div>
                        <div class="month">2017/08</div>
                    </div>
                    <div class="info">
                        <h3>SINO US HUMANITIES SCHOLARSHIP FINAL ADMISSION LIST</h3>
                        <p>CGS - American Student Program Final List</p>
                    </div>
                    <div class="clear"></div>
                </div>
            </a><a href="/n/3398.html" class="one-third column news-item" title="CHINA GOVERNMENT SCHOLARSHIP FINAL ADMISSION LIST">
                <div class="content">
                    <div class="time">
                        <div class="day">12</div>
                        <div class="month">2017/08</div>
                    </div>
                    <div class="info">
                        <h3>CHINA GOVERNMENT SCHOLARSHIP FINAL ADMISSION LIST</h3>
                        <p>CGS - Silk Road Program Final List/CGS - Silk Road Program (IR) Final List/CGS -...</p>
                    </div>
                    <div class="clear"></div>
                </div>
            </a>
        <div class="clear"></div>

        <!-- <a href="/c/scn-nku-announcement.html" class="more">更多通知信息</a> -->
        <a href="/c/sen-notice.html" class="more">More Notice</a>    </div>

    <ul class="container" id="pic-news">
                    <li class="pic-card two-fourth">
                <a href="/n/3403.html" class="item">
                    <img src="http://international.nankai.edu.cn/p/0/1066_650-400.jpghttp://international.nankai.edu.cn/p/0/937_650-400.jpg" alt="">

                    <div class="news-info">
                        <div class="content">
                            <h3>INTO CHINA AND NANKAI UNIVERSITY INVITED MR. MARWAN EMILE FADDOUL TO GIVE A LECTURE FOR FOREIGN STUDENTS</h3>
                            <p>INTO China and Nankai University invited Mr. Marwan Emile Faddoul, managing partner at Qadisha Consu...</p>
                            <span><i class="fa fa-clock-o"></i> 2017/11/15</span>
                        </div>
                    </div>
                    <div class="clear"></div>
                </a>
            </li>            <li class="pic-card one-fourth">
                <a href="/n/3404.html" class="item">
                    <img src="http://international.nankai.edu.cn/p/0/1067_650-400.jpghttp://international.nankai.edu.cn/p/0/937_650-400.jpg" alt="">

                    <div class="news-info">
                        <div class="content">
                            <h3>TIANJIN IS MY SECOND HOMETOWN , NANKAI IS MY SECOND HOME</h3>
                            <p>There is a group of Pakistanis who has come to Nankai University for pursuing advance studies. Inter...</p>
                            <span><i class="fa fa-clock-o"></i> 2017/04/20</span>
                        </div>
                    </div>
                    <div class="clear"></div>
                </a>
            </li>            <li class="pic-card one-fourth last">
                <a href="/n/3405.html" class="item">
                    <img src="http://international.nankai.edu.cn/p/0/1068_650-400.jpghttp://international.nankai.edu.cn/p/0/937_650-400.jpg" alt="">

                    <div class="news-info">
                        <div class="content">
                            <h3>NICO: MY LIFE ABROAD</h3>
                            <p>We recently received a letter from an Italian student, Nico. He introduced his life at Nankai Univer...</p>
                            <span><i class="fa fa-clock-o"></i> 2017/03/14</span>
                        </div>
                    </div>
                    <div class="clear"></div>
                </a>
            </li>    </ul>

    <!-- <div class="rect"></div> -->
    
</div>

    </section>


                
    <section class="nku-content">
        <div class="introductions container">
            <ul class="introduction-tabs">
                <li class="tab first"><a href="javascript:;" data-target="courses-tab"><i class="fa fa-book"></i> PROGRAMS</a></li>
                <li class="tab"><a href="javascript:;" data-target="voices-tab"><i class="fa fa-comments"></i> NKU VOICE</a></li>
                <li class="tab active"><a href="javascript:;" data-target="apply-tab"><i class="fa fa-paper-plane"></i> APPLY</a></li>
                <li class="clear"></li>
            </ul>
            <div class="tab-content courses " id="courses-tab">
                                <div class="columns four">
                    <a href="" class="course-item">
                        <h3>Chemicobiology</h3>
                        <p><i class="fa fa-graduation-cap"></i> Bachelor</p>                                            </a>
                </div><div class="columns four">
                    <a href="" class="course-item">
                        <h3>Business Administration</h3>
                        <p><i class="fa fa-graduation-cap"></i> Bachelor</p>                                            </a>
                </div><div class="columns four">
                    <a href="" class="course-item">
                        <h3>Human Resource Management</h3>
                        <p><i class="fa fa-graduation-cap"></i> Bachelor</p>                                            </a>
                </div><div class="columns four">
                    <a href="" class="course-item">
                        <h3>Applied Chemistry</h3>
                        <p><i class="fa fa-graduation-cap"></i> Bachelor</p>                                            </a>
                </div>                <div class="clear"></div>
                <!-- <div class="tcenter">
                    <a href="#" class="more-btn">更多课程</a>
                </div> -->
                
            </div>

            <div class="tab-content voices" id="voices-tab">
                <a href="javascript:;" class="switch left">
                    <i class="fa fa-chevron-left"></i>
                </a>
                <a href="javascript:;" class="switch right">
                    <i class="fa fa-chevron-right"></i>
                </a>
                <ul>
                    <li>
                        <div class="columns three offset-by-two">
                            <img src="http://international.nankai.edu.cn/p/0/940_400-320.png" alt="">
                        </div>
                        <div class="columns nine">
                            <p>
                                I am LUKE GILKISON from Wellington University of Newsland. In the March of 2015, I became a Chinese training student of Nankai University by the support of Chinese Government Scholarship. After half year learning, I realize that I really love this university and I made a decision-I should stay here for another semester. With the help of the International Students Office, I got a seat of Exchange student under the Exchange Program between Nankai Univesity and Wellingtong University.. <a href="#">more</a>
                            </p>
                        </div>
                        <div class="clear"></div>
                    </li>
                </ul>
            </div>

            <div class="tab-content apply active" id="apply-tab">
                <div class="columns four">
    <a href="/c/sen-admission.html" class="link-item">
        <h3><i class="fa fa-institution"></i></h3>
        <p>POLICY</p>
    </a>
</div>
<div class="columns four">
    <a href="/c/sch-regist.html" class="link-item">
        <h3><i class="fa fa-info-circle"></i></h3>
        <p>APPLY STEPS</p>
    </a>
</div>
<div class="columns four">
    <a href="/c/sen-majors.html" class="link-item">
        <h3><i class="fa fa-bell"></i></h3>
        <p>RECRUIMENTS</p>
    </a>
</div>
<div class="columns four">
    <a href="https://nankai.17gz.org/member/login.do" class="link-item">
        <h3><i class="fa fa-pencil-square"></i></h3>
        <p>APPLY NOW</p>
    </a>
</div>                <!-- <div class="columns four">
                    <a href="#" class="link-item">
                        <h3><i class="fa fa-institution"></i></h3>
                        <p>政策说明</p>
                    </a>
                </div>
                <div class="columns four">
                    <a href="#" class="link-item">
                        <h3><i class="fa fa-info-circle"></i></h3>
                        <p>申请流程</p>
                    </a>
                </div>
                <div class="columns four">
                    <a href="#" class="link-item">
                        <h3><i class="fa fa-bell"></i></h3>
                        <p>招生公告</p>
                    </a>
                </div>
                <div class="columns four">
                    <a href="#" class="link-item">
                        <h3><i class="fa fa-pencil-square"></i></h3>
                        <p>现在申请</p>
                    </a>
                </div> -->
            </div>
        </div>
    </section>


                

    <footer id="footer" align="center">
        <div class="container footer-in">
            <ul class="study-nku-footer">
                <li class="columns four">
                    <h3>Academics</h3>
                    <div>
                        <div class="item"><a href="/c/sen-schools.html">Schools</a></div>
                        <div class="item"><a href="/c/sen-majors.html">Majors</a></div>
                        <div class="item"><a href="/c/sen-calendar.html">Calendar</a></div>
                        <div class="item"><a href="/c/sen-english-taught.html">English Programs</a></div>
                        <div class="item"><a href="/c/sen-exchange.html">Exchange Programs</a></div>
                    </div>
                </li>

                <li class="columns four">
                    <h3>Scholarships</h3>
                    <div>
                        <div class="item"><a href="/c/sen-postgraduate-program.html">Chinese Government Scholarship</a></div>
                        <div class="item"><a href="/c/sen-csc-scholarshipnder.html">CSC Scholarship for USA Students</a></div>
                        <div class="item"><a href="/c/sen-tj-gov-scholarship.html">Tianjin Government Scholarship</a></div>
                        <div class="item"><a href="/c/sen-confucius-scholarship.html">Confucius Institute Scholarship</a></div>
                        <div class="item"><a href="/c/sen-nk-scholarship.html">Nankai University Scholarship</a></div>
                    </div>
                </li>

                <li class="columns four">
                    <h3>Services</h3>
                    <div>
                        <div class="item"><a href="/c/sen-orientation.html">Orientation</a></div>
                        <div class="item"><a href="/c/sen-visa.html">Visa</a></div>
                        <div class="item"><a href="/c/sen-accommodation.html">Accomodation</a></div>
                        <div class="item"><a href="/c/sen-insurance.html">Insurace</a></div>
                        <div class="item"><a href="/c/sen-tuition.html">Tution & Fees</a></div>
                    </div>
                </li>

                <li class="columns four">
                    <h3>Links</h3>
                    <div>
                        <div class="item"><a href="http://www.nankai.edu.cn">NanKai University</a></div>
                        <div class="item"><a href="http://en.csc.edu.cn/">CSC</a></div>
                        <div class="item"><a href="http://english.hanban.org/">Hanban</a></div>
                        <div class="item"><a href="http://international.nankai.edu.cn/jpk">English Quality Course</a></div>
                        <div class="item"><a href="http://www.intostudy.com/en-gb/universities/nankai-university">INTO</a></div>
                    </div>
                </li>

                <li class="clear"></li>

            </ul>
                    </div>
    </footer>
    
    <div id="footer-addr">
        <div class="container footer-addr">
            <div class="" align="center">
                <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1275855245'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s96.cnzz.com/z_stat.php%3Fid%3D1275855245%26show%3Dpic1' type='text/javascript'%3E%3C/script%3E"));</script>
                <i class="fa fa-map-marker"></i> 94 Weijin Road,Tianjin,P.R.China Zip Code:300071 &nbsp;&nbsp;<i class="fa fa-phone"></i> + 86 (22) 2350 8229 / + 86 (22) 2350 8825</div>
                    </div>
    </div>
    <style>
    @media(min-width: 768px){
        .link-part.left{
            width: 45%;
        }
        .link-part.right{
            width: 27%;
        }
    }
    
    #footer-addr{
        background-color: #333;
        padding-top: 8px;
        padding-bottom: 8px;
    }
    #footer-addr .container.footer-addr{
        color: #ccc;        
    }
    </style>


            </div>
        

        


    <!-- 响应式导航动作 -->
    <script type="text/javascript">
    jQuery(document).ready(function($) {

        /* 加入移动页面下的导航触发按钮 */
        $('#nav-wrap').prepend('<div id="menu-icon">网站 - <span class="mn-clk">栏目导航</span></div>');

        /* 绑定导航按钮动作 */
        $("body").on("click.nav", "#menu-icon", function() {
            $("#nav").slideToggle();
            $(this).toggleClass("active");
        });

        /* 当触摸非导航元素时自动隐藏 */
        $('body').on('click.nav', function(e) {
            if ($(e.target).is(':not(#nav, #nav-warp, #menu-icon)') && $("#menu-icon").is('.active')) {
                $("#nav").slideUp('fast');
                $("#menu-icon").removeClass('active');
            }
        });
    });

    // 列表内容自动播放
    function initSlide($obj){
        return setInterval(function(){
            var $slide = '';
            if($obj.find('.slide-item.active').length == 0){
                $slide = $obj.find('.slide-item:first');
            }else if($obj.find('.slide-item.active').next('.slide-item').length==0){
                $slide = $obj.find('.slide-item:first');
            }else{
                $slide = $obj.find('.slide-item.active').next('.slide-item');
            }

            $slide.siblings('.active').fadeOut('400', function(){
                $(this).removeClass('active');
                $slide.fadeIn('300').addClass('active');
            })
        }, 3000);
    }

    function bindSlide($obj){
        $obj.each(function(index, el) {
            $(this).find('.slide-item:first').addClass('active');

            var interval  = initSlide($(this));
            $(this).hover(function() {
                clearInterval(interval);
            }, function() {
                interval  = initSlide($(this));
            });
        });
    }
    </script>

    <script type="text/javascript">
    $(document).ready(function() {
        $('body').on('click', '.tabs a.tab', function(){
            var id = $(this).data('target');
            var url= $(this).data('url');

            $(this).addClass('active').siblings('.active').removeClass('active');
            $(this).parents('.tabs').find('.tab-item#'+id).addClass('active').siblings('.active').removeClass('active');
            
            if(url){
                $(this).parents('.tabs').find('a.more').attr('href', url);
            }
        });

        $('.tabs a.tab').hover(function() {
            $(this).trigger('click');
        }, function() {
            /* Stuff to do when the mouse leaves the element */
        });
    });
    </script>



    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-nivoslider/3.2/jquery.nivo.slider.min.js"></script>
    <script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider({
            effect: 'random',
            directionNav: true,
            controlNav: true
        });

        bindSlide($('.slide-album'));
    });

    $(document).ready(function() {
        $('.introduction-tabs .tab a').hover(function() {
            $(this).click();
        }, function() {
            /* Stuff to do when the mouse leaves the element */
        });

        $('body').on('click', '.introduction-tabs .tab a', function(event) {
            event.preventDefault();
            $(this).parent('li').addClass('active').siblings('li.active').removeClass('active');

            var id = $(this).data('target');
            if(typeof id != 'unedinfed' && $('#'+id).length>0){
                var $tab = $('#'+id);
                $tab.addClass('active');
                $tab.siblings('.active').removeClass('active');
            }
        });
    });
    </script>



    </body>
</html>