<base href="http://gbpx.nankai.edu.cn/">
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--------以下为允许搜索引擎搜索所有内容-------->
<meta name="robots" content="all" />
<!--------以下作者信息，修改请保留-------->
<meta name="author" content="NKxiaowu" />
<!--------内容版权信息-------->
<meta name="Copyright" content="gbpx.nankai.edu.cn" />
<!--------站点关键词-------->
<meta name="keywords" content="全国干部教育培训南开大学基地 南开大学 干部培训 党政培训 政府培训 企业培训 专业技术培训" />
<!--------站点描述-------->
<meta name="description" content="这是全国干部教育培训南开大学基地，中组部首批13所全国干部教育培训高校基地之一。" />
<title>全国干部教育培训南开大学基地</title>
<link href="Inc/Default.css" rel="stylesheet" type="text/css" />
<style type="text/css">
li {
	list-style-image: none;
	list-style-type: none;
}
</style>
</head>
<body>
<!--页面开始------------------------------------------------------------------------------------------------------->
<!--banner------------------------------------------------------------------------------------------------------->

<div id="banner"><img src="/Img/Banner.png" width="1000" height="120" /></div>
<!--导航菜单栏------------------------------------------------------------------------------------------------------->
<div id="menu">
  <div class="menu"><a href="/" class="a1" style="width:80px; margin-left:10px;">首&nbsp;&nbsp;&nbsp;&nbsp;页</a></div>

  <div class="menu"><a href="Show.asp?labelID=1" class="a1">基地简介</a></div>

  <div class="menu"><a href="Show.asp?labelID=2" class="a1">培训新闻</a></div>

  <div class="menu"><a href="Show.asp?labelID=3" class="a1">党政培训</a></div>

  <div class="menu"><a href="Show.asp?labelID=4" class="a1">企业培训</a></div>

  <div class="menu"><a href="Show.asp?labelID=5" class="a1">专业技术培训</a></div>

  <div class="menu"><a href="Show.asp?labelID=6" class="a1">走近南开</a></div>

  <div class="menu"><a href="Show.asp?labelID=7" class="a1">魅力天津</a></div>
  
</div>
<!--页面主体------------------------------------------------------------------------------------------------------->
<div id="main">
  <!--首页热图横栏------------------------------------------------------------------------------------------------------->
  <div id="topimg">
<!--以下代码修改自南开大学新闻网-->
<script type="text/javascript">
	<!--
	
	var focus_width=700;
	var focus_height=300;
	var text_height=15;
	var swf_height = focus_height + text_height;
	var pics='/upPIC/2016/201604130934255072.jpg'
	var links='http://gbpx.nankai.edu.cn/ShowNews.asp?newsID=42'
	var texts='“应对社会工作事务新挑战”国家级高级研修班举办'
	
	pics=pics+'|'+'/upPIC/2016/201604130934374576.jpg'
	links=links+'|'+'http://gbpx.nankai.edu.cn/ShowNews.asp?newsID=56'
	texts=texts+'|'+'中国井冈山干部学院党员干部在我校培训'
	
	pics=pics+'|'+'/upPIC/2015/201507161204531855.jpg'
	links=links+'|'+'ShowNews.asp?newsID=31'
	texts=texts+'|'+'天津市滨海新区干部实训讲堂'
	
	pics=pics+'|'+'/upPIC/2015/201507132041119739.jpg'
	links=links+'|'+'Show.asp?labelID=1'
	texts=texts+'|'+'全国干部教育培训南开大学基地'
	


	document.write('<object ID="focus_flash" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="'+ focus_width +'" height="'+ swf_height +'">');
	document.write('<param name="allowScriptAccess" value="sameDomain"><param name="movie" value="img/pixviewer.swf"><param name="quality" value="high"><param name="bgcolor" value="#fafafa">');
	document.write('<param name="menu" value="false"><param name=wmode value="transparent">');
	document.write('<param name="FlashVars" value="pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+focus_width+'&borderheight='+focus_height+'&textheight='+text_height+'">');
	document.write('<embed ID="focus_flash" src="img/pixviewer.swf" wmode="opaque" FlashVars="pics='+pics+'&links='+links+'&texts='+texts+'&borderwidth='+focus_width+'&borderheight='+focus_height+'&textheight='+text_height+'" menu="false" bgcolor="#fafafa" quality="high" width="'+ focus_width +'" height="'+ swf_height +'" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" />');		document.write('</object>');

	
	//-->
</script>
<!--代码结束--></div>
  <div id="showimg">
  
    <div id="showimg_top"><a href="Show.asp?labelID=6"><img src="/upPIC/2015/201507141527567498.png" width="280" height="155" border="0" /></a></div>
    <div id="showimg_bottom"><a href="Show.asp?labelID=7"><img src="/upPIC/2015/201507141528042167.png" width="280" height="155" border="0" /></a></div>    
    </div>
  <!--新闻横栏------------------------------------------------------------------------------------------------------->
  <div id="topNewsL">
    <div class="df_bt">
      <div class="df_news_bt"><img src="Img/label.png"/>&nbsp;&nbsp;培训新闻</div>
      <div class="more"><a href="Show.asp?labelID=2">更多…</a></div>
      </div>
    <div class="df_news">
    
       <li class="df_news_lt"><img src="img/list0.png" /><a href="ShowNews.asp?newsID=124" target="_blank">2017年12月08日&nbsp;第七期国家民委少数民族和民族地区高级专家研修班在南开大学开班</a></li>
    
       <li class="df_news_lt"><img src="img/list0.png" /><a href="ShowNews.asp?newsID=121" target="_blank">2017年09月05日&nbsp;内蒙古自治区高校领导干部高级研修班在我校举办</a></li>
    
       <li class="df_news_lt"><img src="img/list0.png" /><a href="ShowNews.asp?newsID=123" target="_blank">2017年08月16日&nbsp;宁夏回族自治区人大地方立法专题培训班开班</a></li>
    
       <li class="df_news_lt"><img src="img/list0.png" /><a href="ShowNews.asp?newsID=120" target="_blank">2017年07月19日&nbsp;贵州省服务型政府领导干部培训班学员学习体会深刻</a></li>
    
       <li class="df_news_lt"><img src="img/list0.png" /><a href="ShowNews.asp?newsID=122" target="_blank">2017年07月18日&nbsp;天津市宜居城市管理研修班举办</a></li>
    
       <li class="df_news_lt"><img src="img/list0.png" /><a href="ShowNews.asp?newsID=119" target="_blank">2017年07月09日&nbsp;南昌市2017年科技管理干部专题研修班开班</a></li>
    
    </div>
      
  </div>
  <div id="topNewsR">
    <div class="df_bt">
      <div class="df_news_bt"><img src="Img/label.png"/>&nbsp;&nbsp;精品课程</div>
      <div class="more"><a href="Show.asp?labelID=3">更多…</a></div>
      </div>
    <div class="df_news">
    
       <li class="df_news_lt"><img src="img/list1.png" /><a href="ShowNews.asp?newsID=44" target="_blank">热点课程：天津和滨海新区经济社会发展研修专题</a></li>
    
       <li class="df_news_lt"><img src="img/list1.png" /><a href="ShowNews.asp?newsID=45" target="_blank">热点课程：转变经济发展方式高级研修班</a></li>
    
       <li class="df_news_lt"><img src="img/list1.png" /><a href="ShowNews.asp?newsID=46" target="_blank">专题课程：发展旅游经济高级研修班</a></li>
    
       <li class="df_news_lt"><img src="img/list1.png" /><a href="ShowNews.asp?newsID=48" target="_blank">专题课程：南开大学领导力与综合素质提升培训班</a></li>
    
       <li class="df_news_lt"><img src="img/list1.png" /><a href="ShowNews.asp?newsID=59" target="_blank">专题课程：南开大学党政干部公共管理课程</a></li>
    
       <li class="df_news_lt"><img src="img/list1.png" /><a href="ShowNews.asp?newsID=60" target="_blank">干部培训模块</a></li>
    
    </div>  
  </div>
</div>
<!--页面底部------------------------------------------------------------------------------------------------------->
<div id="foot">全国干部教育培训南开大学基地 © 版权所有 南开大学组织部：022-23501782<br>
政府干部培训联系电话：022-23502890  18630996246<br>
天津市南开区卫津路94号 南开大学 [<a href="http://www.miibeian.gov.cn/" target="_blank">津ICP备12003308号-1</a>]</a>
</div>
</body>
</html>