<base href="http://nankai.en.school.cucas.cn/en/pages?cid=20&pid=20&spid=1">﻿<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
            <title>Welcome Message</title>
        <meta name="keywords" content="">
        <meta name="description" content="">
        <link href="/themes/1/css/semantic.min.css" rel="stylesheet" type="text/css"/>
    <link href="/themes/1/css/style.css" rel="stylesheet" type="text/css"/>
	<link href="/themes/1/css/smartmenu.css" rel="stylesheet" type="text/css"/>
    <script src="/themes/1/js/core.js" type="text/javascript"></script>
	<script src="/themes/1/js/jquery.SuperSlide.2.1.1.js" type="text/javascript"></script>
	<script src="/themes/1/js/smartmenu-min.js" type="text/javascript"></script>
    <script src="/themes/1/js/common.js" type="text/javascript"></script>
    <!--[if !IE]><!-->
    <script src="/themes/1/js/semantic.min.js" type="text/javascript"></script>
    <script type="text/javascript">
    $(function(){
       $('.ui.dropdown').dropdown({action: 'combo'}); 
    });
    </script>
    <!--<![endif]-->
    <!--[if lte IE 11]
        <script src="/themes/1/js/semantic.min.js" type="text/javascript"></script>
        <script type="text/javascript">
        $(function(){
           $('.ui.dropdown').dropdown({action: 'combo'}); 
        });
        </script>
    <![endif]-->
    <link href="/themes/1/js/tip-twitter/tip-twitter.css" rel="stylesheet" type="text/css"/>
	<script src="/themes/1/js/jquery.poshytip.min.js" type="text/javascript"></script>
    <style>
		#pop_menu { box-shadow:0 0 3px #ccc;border-radius:4px; -moz-border-radius:4px; -webkit-border-radius:4px; overflow:hidden;}
		.tip-twitter .tip-inner {
				font-family: 'helve','微软雅黑', sans-serif;
				font-weight:normal;
			}
		#pop_menu .item a{display:block; font-size:16px;height:30px; line-height:30px; color:#666; text-align:center;}
		#pop_menu .item a:hover{ background:#e5e4e4}
	</style>
    <script>
        jQuery(window).ready(function(){
            jQuery("#navigation").Smartmenu({animationDuration: 350});
			$('#menu').poshytip({
                className: 'tip-twitter',
                alignTo: 'target',
                alignX: 'center',
                offsetY: 2,
                content:'<div class="menu" id="pop_menu" style="width:80px;"><div class="item" style="margin-bottom:5px"><a href="http://www.nankai.edu.cn" target="_blank">中文</div><div class="item item2"><a href="/en/index" >English</a></div></div>'
            });
        });
    </script>
    <script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?371db1b8ae694ce58e3f147ae34512fc";
		  var s = document.getElementsByTagName("script")[0]; 
		  s.parentNode.insertBefore(hm, s);
		})();
	</script>
</head>
<body>
<script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-87479377-1']);
    _gaq.push(['_setDomainName', 'nankai.en.school.cucas.cn']);
    _gaq.push(['_setAllowLinker', false]);
    _gaq.push(['_trackPageview']);

    (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'stats.g.doubleclick.net/dc.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
</script>
<div id="top">
    <div class="w_1200">
        <div class="t_nav fl">
                                    <a href="/en/news?cid=16&pid=16" >News </a><span>|</span>
                                    <a href="/en/event?cid=56&pid=56" >Events </a><span>|</span>
                                    <a href="http://nankai.en.school.cucas.cn/en/article?cid=96&pid=58&spid=57" >Nankai Story </a><span>|</span>
                                    <a href="/en/alumni?cid=11&pid=11" target="_blank">Alumni </a><span>|</span>
                                    <a href="/en/pages?cid=7&pid=7" >Contact Us </a><span></span>
                    </div>
        <div class="t_right fr">
            <div class="ui pointing dropdown link item fl">
                <div class="text" id="menu"></div>
                <!--<div class="menu">
                    <div class="item">
                        <a href="http://www.nankai.edu.cn" style="color:#666;">中文</a>
                    </div>
                    <div class="item">English</div>
                </div>-->
            </div>
            <form class="fl" action="/search/index" method="GET">
                <input type="text" name="search" value=""/>
                <input type="submit" value=""/>
            </form>
        </div>
    </div>
</div>
<div class="header">
    <div class="w_1200">
        <div class="logo fl">
            <a href="/en/index"><img style="height:61px;" src="/themes/1/images/logo4.png" /> </a>
        </div>
        <div  class="nav fr smartmenu " id="navigation">
            <ul >
                                                    <li style="margin-left:30px\9;"><a href="/en/pages?cid=1&pid=1"  >About NKU</a>
                                        <ul style="border-top:3px solid #a3337b;">
                                                                    <li><a href="/en/pages?cid=84&pid=13&spid=1" >Overview</a></li>
                                                                    <li><a href="/en/pages?cid=20&pid=20&spid=1" >Welcome Message</a></li>
                                                                    <li><a href="/en/pages?cid=105&pid=21&spid=1" >History</a></li>
                                                                    <li><a href="/en/pages?cid=111&pid=22&spid=1" >NKU Leadership</a></li>
                                                                    <li><a href="/en/pages?cid=112&pid=23&spid=1" >Administration</a></li>
                                                                    <li><a href="/en/pages?cid=24&pid=24&spid=1" >Facts & Figures</a></li>
                                                                    <li><a href="/en/gallery?cid=25&pid=25&spid=1" >Photo Gallery</a></li>
                                                                    <li><a href="/en/videos?cid=26&pid=26&spid=1" >Video Nankai</a></li>
                                        </ul>

                                    </li>
                                                    <li style="margin-left:30px\9;"><a href="/en/pages?cid=2&pid=2"  >Admission</a>
                                        <ul style="border-top:3px solid #a3337b;">
                                                                    <li><a href="http://222.30.49.13/english/index.html" target="_blank">Undergraduate</a></li>
                                                                    <li><a href="http://graduate.nku.cn/graduateen/index.html" target="_blank">Graduate</a></li>
                                                                    <li><a href="http://nankai.en.school.cucas.cn/en/article?cid=30&pid=29&spid=2" >International Students</a></li>
                                        </ul>

                                    </li>
                                                    <li style="margin-left:30px\9;"><a href="/en/article?cid=3&pid=3"  >Schools</a>
                                    </li>
                                                    <li style="margin-left:30px\9;"><a href="/en/pages?cid=4&pid=4"  >Research</a>
                                        <ul style="border-top:3px solid #a3337b;">
                                                                    <li><a href="/en/pages?cid=39&pid=39&spid=4" >Overview</a></li>
                                                                    <li><a href="/en/article?cid=40&pid=40&spid=4" >Labs & Centers</a></li>
                                                                    <li><a href="/en/article?cid=70&pid=41&spid=4" >Key Programs</a></li>
                                                                    <li><a href="/en/article?cid=94&pid=42&spid=4" >Cooperation</a></li>
                                                                    <li><a href="/en/article?cid=68&pid=43&spid=4" >Awards &Achievements</a></li>
                                                                    <li><a href="/en/article?cid=44&pid=44&spid=4" >Technology Transfer</a></li>
                                        </ul>

                                    </li>
                                                    <li style="margin-left:30px\9;"><a href="/en/pages?cid=5&pid=5"  >International</a>
                                        <ul style="border-top:3px solid #a3337b;">
                                                                    <li><a href="/en/pages?cid=45&pid=45&spid=5" >Overview</a></li>
                                                                    <li><a href="/en/pages?cid=15&pid=15&spid=5" >Partners</a></li>
                                                                    <li><a href="/en/pages?cid=46&pid=46&spid=5" >International Organizations</a></li>
                                                                    <li><a href="/en/scholars?cid=17&pid=17&spid=5" >Scholars</a></li>
                                                                    <li><a href="/en/pages?cid=47&pid=47&spid=5" >Student Exchange</a></li>
                                                                    <li><a href="/en/article?cid=72&pid=48&spid=5" >Sino-foreign Cooperation in Education</a></li>
                                                                    <li><a href="http://study.nankai.edu.cn/" target="_blank">International Students Office</a></li>
                                                                    <li><a href="/en/article?cid=49&pid=49&spid=5" >Confucius Institutes</a></li>
                                                                    <li><a href="/en/pages?cid=50&pid=50&spid=5" >Contacts</a></li>
                                        </ul>

                                    </li>
                                                    <li style="margin-left:30px\9;"><a href="/en/pages?cid=6&pid=6"  >Join Us</a>
                                        <ul style="border-top:3px solid #a3337b;">
                                                                    <li><a href="/en/pages?cid=51&pid=51&spid=6" >Overview</a></li>
                                                                    <li><a href="/en/article?cid=53&pid=53&spid=6" >Positions</a></li>
                                        </ul>

                                    </li>
                                                    <li style="margin-left:30px\9;"><a href="/en/pages?cid=61&pid=61"  >Campus Life</a>
                                        <ul style="border-top:3px solid #a3337b;">
                                                                    <li><a href="http://www.lib.nankai.edu.cn/english/index.htm" target="_blank">Library</a></li>
                                                                    <li><a href="/en/pages?cid=63&pid=63&spid=61" >Academic Calendar</a></li>
                                                                    <li><a href="/en/gallery?cid=64&pid=64&spid=61" >Campus Tour</a></li>
                                                                    <li><a href="/en/article?cid=76&pid=65&spid=61" >Student Research</a></li>
                                                                    <li><a href="/en/pages?cid=85&pid=66&spid=61" >Student Clubs</a></li>
                                        </ul>

                                    </li>
                                                    <li style="margin-left:30px\9;"><a href="/en/pages?cid=55&pid=55" target="_blank" >Giving</a>
                                    </li>
                            </ul>
        </div>
    </div>
</div><div class="i_banner">
    <img src="/uploads/201512/24/FC24492630450746.jpg"/>
    <ul class="sha-bnav">
        <li><a href="/en/index">Home&nbsp;&nbsp;&nbsp;&nbsp;</a>&gt;</li><li>&nbsp;&nbsp;&nbsp<a href="/en/pages?cid=1&pid=1">About NKU&nbsp;&nbsp;&nbsp;&nbsp;</a>&gt;</li><li>&nbsp;&nbsp;&nbsp<a href="/en/pages?cid=20&pid=20&spid=1">Welcome Message&nbsp;&nbsp;&nbsp;&nbsp;</a></li>    </ul>
</div>
<div class="jf_content history">
    <div class="grey_bar2 grey_bar3"></div>
    <div class="w_1200">
        <div class="his_left fl">
    <h2 style=" height: 188px; padding-top: 116px; background: #a3337b url(/uploads/201601/05/G105923694024533.jpg) no-repeat  center; text-align: center;"  ></h2>
    <ul class="fix_nav_hide">
                <li ><a  href="javascript:;">Overview</a>
                        <dl>
                                            <dd data-value="84"><a  href="/en/pages?cid=84&pid=13&spid=1">Overview</a> </dd>
                                            <dd data-value="80"><a  href="/en/pages?cid=80&pid=13&spid=1">Logo</a> </dd>
                                            <dd data-value="81"><a  href="/en/pages?cid=81&pid=13&spid=1">Motto</a> </dd>
                                            <dd data-value="82"><a  href="/en/pages?cid=82&pid=13&spid=1">Color</a> </dd>
                        </dl>
        </li>
                        <li class="no_child"><a  href="/en/pages?cid=20&pid=1&spid=1">Welcome Message</a>
                            <li ><a  href="javascript:;">History</a>
                        <dl>
                                            <dd data-value="105"><a  href="/en/pages?cid=105&pid=21&spid=1">Overview</a> </dd>
                                            <dd data-value="106"><a  href="/en/pages?cid=106&pid=21&spid=1">Private University Period</a> </dd>
                                            <dd data-value="107"><a  href="/en/pages?cid=107&pid=21&spid=1">Period of the Southwest Associated University</a> </dd>
                                            <dd data-value="108"><a  href="/en/pages?cid=108&pid=21&spid=1">Reconstruction Period</a> </dd>
                                            <dd data-value="109"><a  href="/en/pages?cid=109&pid=21&spid=1">Nankai Today</a> </dd>
                        </dl>
        </li>
                        <li ><a  href="javascript:;">NKU Leadership</a>
                        <dl>
                                            <dd data-value="111"><a  href="/en/pages?cid=111&pid=22&spid=1">Current Administrators</a> </dd>
                                            <dd data-value="110"><a  href="/en/article?cid=110&pid=22&spid=1">Former Presidents</a> </dd>
                        </dl>
        </li>
                        <li ><a  href="javascript:;">Administration</a>
                        <dl>
                                            <dd data-value="112"><a  href="/en/pages?cid=112&pid=23&spid=1">Administrative Departments</a> </dd>
                                            <dd data-value="113"><a  href="/en/pages?cid=113&pid=23&spid=1">Directly Affiliated Departments</a> </dd>
                        </dl>
        </li>
                        <li class="no_child"><a  href="/en/pages?cid=24&pid=1&spid=1">Facts & Figures</a>
                            <li class="no_child"><a  href="/en/gallery?cid=25&pid=1&spid=1">Photo Gallery</a>
                            <li class="no_child"><a  href="/en/videos?cid=26&pid=1&spid=1">Video Nankai</a>
                        </ul>
</div>
<script>
    var id = 20;
    var flag = 0;
    $(".fix_nav_hide li").each(function(){
        if($(this).find("dl").length > 0){
            flag = 0;
            $(this).find("dl").find("dd").each(function(){
                if( $(this).attr("data-value") == id){
                    flag = 1;
                }
            });
            if(flag == 1){
//                $(this).find("dl").css("display","block");
//                $(this).find("a").eq(0).attr("class",'active');
            }
        }

    })
</script>        <div class="his_right  his_right2 fr">
            <h1 class="h1_2">Welcome Message</h1>
            <p>
	<strong>Welcome to Nankai University!</strong> 
</p>
<p>
	Founded in 1919, Nankai University is a key multidisciplinary and research-oriented public university. Our university has a full-fledged education system for producing undergraduates, postgraduates on master's and doctoral programs and post-doctoral researchers. Currently, the University has the total enrollments of 24,525 students and 1,986 faculties.
</p>
<p>
	Nankai focuses on the students' all-round capability and creativity in teaching and education.An important character of Nankai’s education is stressed in our university’s motto, which could be expressed by 3 keywords--Responsibility, Capability and Creativity. Our university does lay emphasis on social responsibility, practical capability and creative or innovative spirit in oureducation.Now, we are living in the era of transformation from traditional industrialization to a sustainable development, as stated in the UN’s document of Post 2015 Agenda of Sustainable Development, human being on the earth is facing common challenges of sustainability. We want Nankai students to be conscientious about this and to shoulder their responsibilities to a better future of the Earth.
</p>
<p>
	At the same time, we actively takes the advantages of disciplines, technology, talents and information to enhance the industrialization and commercialization of research fruits serving the national and local economy and social development. Some research institutes have become the "Think Tank" and "Talents Cradle" for central and local governments. According to the "national needs, the world first-class" principle, Nankai implemented the strategy of "innovation driven development" and actively promote the construction of all kinds of collaborative innovation centers, setting up close cooperative relationships with a group of colleges and universities, enterprises, research institutes and government departments.
</p>
<p>
	In the era of globalization, global vision and ability of cross-cultural communication should be an essential skill of students. Keeping this in mind, Nankai University encourages our faculty and students to participate in international exchanges and cooperation. Nankai University has broad international communications by establishing exchanging and collaborative relationships with around 300 international universities and academic institutions. In recent years, about 1000 of our students are sent abroad annually, and even more faculties carry international academic travel annually. On the other hand, we invite internationally distinguishedscholars to visit our University to take part in cooperative researches and give lectures to students.
</p>
<p>
	Thanks for your interest to Nankai University. In the years to come, we will strive to develop towards the goal of building leading university around the world.
</p>        </div>
    </div>
</div>
<script>
     $(function () {
    var w = 0;
    $(this).mousemove(function (e) {
        w = $("#topMenu").offset().top + 30;
        var mouseY = parseInt(e.pageY);
        if (mouseY < w+60 && mouseY > w) {
            var mouseX = parseInt(e.pageX);
            $("#topMenu img").each(function () {
                var obj = $(this);
                var objWidth = obj.css("width");
                //获取图片中心水平坐标 
                var objX = parseInt(obj.offset().left) + parseInt(objWidth.substr(0, objWidth.length - 2)) / 2;
                var x = Math.abs(objX - mouseX);
                if (x < 75) {
                    var w = 70 - ((20 * x * x) / (75 * 75));
                    if (w <= 50) {
                        w = 50 + "px";
                    }
                    else {
                        w = w + "px";
                    }
                    obj.css("width", w).css("height", w);
                    obj.css("padding-bottom", (20 - ((78 * x * x) / (75 * 75))) + "px");
                } else {
                    obj.css("width", "50px").css("height", "50px");
                    obj.css("padding-bottom", "0");
                }
            });
        } else {
            $("#topMenu img").each(function () {
                $(this).css("width", "50px").css("height", "50px");
                $(this).css("padding-bottom", "0");
            });
        }
    });
    // timer=setInterval(function(){
    //         $('.hand').css({'top':515});
    // },1000)
});

</script>
<!-- <script type="text/javascript">
//         window.onload=function(){
//            document.onmousemove=function(ev){
//                var oevent=ev||event;
//                var aimg=document.getElementsByTagName('img');
//                var odiv=document.getElementById('wrapper');
//                for(var i=0;i<aimg.length;i++){
//                       var x=aimg[i].offsetLeft+aimg[i].offsetWidth/2;
//                       var y=aimg[i].offsetTop+odiv.offsetTop+aimg[i].offsetHeight/2;
//                       var a=x-oevent.clientX;
//                       var b=y-oevent.clientY;
//                       var dis=parseInt(Math.sqrt(a*a+b*b));
//                       var scale=1-dis/200;
//                     if(scale<0.5){
//                         scale=0.5;
//                     }
//                     aimg[i].width=scale*128;

//                }
//            }
//         }
// </script>
-->

<div class="bottom" style="min-weight:1200px;">
    <div class="bottom_nav">
        <div class="w_1200">
            <ul>
                                                        <li><a href="/en/pages?cid=1&pid=1" >About NKU</a>
                                                    <ol class="subnav">
                                                                                                        <li><a href="/en/pages?cid=84&pid=13&spid=1" >Overview</a></li>
                                                                                                        <li><a href="/en/pages?cid=20&pid=20&spid=1" >Welcome Message</a></li>
                                                                                                        <li><a href="/en/pages?cid=105&pid=21&spid=1" >History</a></li>
                                                                                                        <li><a href="/en/pages?cid=111&pid=22&spid=1" >NKU Leadership</a></li>
                                                                                                        <li><a href="/en/pages?cid=112&pid=23&spid=1" >Administration</a></li>
                                                                                                        <li><a href="/en/pages?cid=24&pid=24&spid=1" >Facts & Figures</a></li>
                                                                                                        <li><a href="/en/gallery?cid=25&pid=25&spid=1" >Photo Gallery</a></li>
                                                                                                        <li><a href="/en/videos?cid=26&pid=26&spid=1" >Video Nankai</a></li>
                                                            </ol>

                                            </li>
                                                        <li><a href="/en/pages?cid=2&pid=2" >Admission</a>
                                                    <ol class="subnav">
                                                                                                        <li><a href="http://222.30.49.13/english/index.html" target="_blank">Undergraduate</a></li>
                                                                                                        <li><a href="http://graduate.nku.cn/graduateen/index.html" target="_blank">Graduate</a></li>
                                                                                                        <li><a href="http://nankai.en.school.cucas.cn/en/article?cid=30&pid=29&spid=2" >International Students</a></li>
                                                            </ol>

                                            </li>
                                                        <li><a href="/en/article?cid=3&pid=3" >Schools</a>
                                            </li>
                                                        <li><a href="/en/pages?cid=4&pid=4" >Research</a>
                                                    <ol class="subnav">
                                                                                                        <li><a href="/en/pages?cid=39&pid=39&spid=4" >Overview</a></li>
                                                                                                        <li><a href="/en/article?cid=40&pid=40&spid=4" >Labs & Centers</a></li>
                                                                                                        <li><a href="/en/article?cid=70&pid=41&spid=4" >Key Programs</a></li>
                                                                                                        <li><a href="/en/article?cid=94&pid=42&spid=4" >Cooperation</a></li>
                                                                                                        <li><a href="/en/article?cid=68&pid=43&spid=4" >Awards &Achievements</a></li>
                                                                                                        <li><a href="/en/article?cid=44&pid=44&spid=4" >Technology Transfer</a></li>
                                                            </ol>

                                            </li>
                                                        <li><a href="/en/pages?cid=5&pid=5" >International</a>
                                                    <ol class="subnav">
                                                                                                        <li><a href="/en/pages?cid=45&pid=45&spid=5" >Overview</a></li>
                                                                                                        <li><a href="/en/pages?cid=15&pid=15&spid=5" >Partners</a></li>
                                                                                                        <li><a href="/en/pages?cid=46&pid=46&spid=5" >International Organizations</a></li>
                                                                                                        <li><a href="/en/scholars?cid=17&pid=17&spid=5" >Scholars</a></li>
                                                                                                        <li><a href="/en/pages?cid=47&pid=47&spid=5" >Student Exchange</a></li>
                                                                                                        <li><a href="/en/article?cid=72&pid=48&spid=5" >Sino-foreign Cooperation in Education</a></li>
                                                                                                        <li><a href="http://study.nankai.edu.cn/" target="_blank">International Students Office</a></li>
                                                                                                        <li><a href="/en/article?cid=49&pid=49&spid=5" >Confucius Institutes</a></li>
                                                                                                        <li><a href="/en/pages?cid=50&pid=50&spid=5" >Contacts</a></li>
                                                            </ol>

                                            </li>
                                                        <li><a href="/en/pages?cid=6&pid=6" >Join Us</a>
                                                    <ol class="subnav">
                                                                                                        <li><a href="/en/pages?cid=51&pid=51&spid=6" >Overview</a></li>
                                                                                                        <li><a href="/en/article?cid=53&pid=53&spid=6" >Positions</a></li>
                                                            </ol>

                                            </li>
                                                        <li><a href="/en/pages?cid=61&pid=61" >Campus Life</a>
                                                    <ol class="subnav">
                                                                                                        <li><a href="http://www.lib.nankai.edu.cn/english/index.htm" target="_blank">Library</a></li>
                                                                                                        <li><a href="/en/pages?cid=63&pid=63&spid=61" >Academic Calendar</a></li>
                                                                                                        <li><a href="/en/gallery?cid=64&pid=64&spid=61" >Campus Tour</a></li>
                                                                                                        <li><a href="/en/article?cid=76&pid=65&spid=61" >Student Research</a></li>
                                                                                                        <li><a href="/en/pages?cid=85&pid=66&spid=61" >Student Clubs</a></li>
                                                            </ol>

                                            </li>
                                                        <li><a href="/en/pages?cid=55&pid=55" target="_blank">Giving</a>
                                            </li>
                            </ul>
            <div class="webchat">
                <a href="javascript:;"><span>QR CODE:_</span></a>
                <div class="pic">
                    <img width="140" height="140" src="/themes/1/images/erweima.jpg" />
                </div>
            </div>
        </div>
    </div>
    <p>
	<br />
</p>
<p>
	<br />
</p>
<dl class="fl">
	<dt class="fl">
		<img hight="135" src="/themes/1/images/foot_logo.png" width="135" /> 
	</dt>
	<dd>
		<p>
			<span style="color:#FFFFFF;">Nankai University</span>
		</p>
		<p>
			<span style="color:#FFFFFF;">No.38 Tongyan Road, Jinnan District, Tianjin , P.R. China&nbsp;</span><span style="white-space:normal;color:#FFFFFF;">300350</span> 
		</p>
	</dd>
	<dd>
		<p>
			<span style="color:#FFFFFF;">No.94 Weijin Road,&nbsp;&nbsp;Nankai District,&nbsp;Tianjin, P.R.China&nbsp;</span><span style="white-space:normal;color:#FFFFFF;">&nbsp;300071</span> 
		</p>
	</dd>
	<dd>
		<p>
			<span style="color:#FFFFFF;">津教备0061号</span>
		</p>
	</dd>
	<dd>
		<p>
			<span style="color:#FFFFFF;">津ICP备12003308号-1</span>
		</p>
	</dd>
	<dd>
		<p>
			<br />
		</p>
	</dd>
	<dd>
		<p>
			<br />
		</p>
	</dd>
	<dd>
		<p>
			<br />
		</p>
	</dd>
</dl>
<div class="links fl" style="float:right;margin-right:60px;">
	<h4>
		QUICK LINKS
	</h4>
	<ul>
		<li>
			<a href="http://hqb.nankai.edu.cn/nk360/">3-D Campus</a> 
		</li>
		<li>
			<a href="http://nankai.17gz.org/">Online Application</a> 
		</li>
		<li>
			<a href="http://nankai.en.school.cucas.cn/en/article?cid=49&amp;pid=49&amp;spid=5">Confucius Institutes</a> 
		</li>
		<li>
			<a href="http://www.lib.nankai.edu.cn/english/index.htm">Library</a> 
		</li>
		<li>
			<a href="http://urp.nku.cn/ ">Information Portal</a> 
		</li>
	</ul>
</div>
<div class="clear">
</div>
<p>
	<br />
</p>
<p>
	<br />
</p></div>
<div class="footer clear">
    <p>
    <img src="/themes/1/images/eye_w.png" />&nbsp;&nbsp;<span id="read_num" style="margin-right:20px;color:#FFFFFF;">720708</span>
    
		Copyright : Nankai University All Rights Reserved <span style="line-height:45px;float:right;padding-right:20px;"> <a href="http://www.cucas.edu.cn/" target="_blank" style="color:#fff;font-size:12px;" onmouseover="this.style.cssText='color:#fff;font-size:12px;text-decoration:underline;'" onmouseout="this.style.cssText='color:#fff;font-size:12px;text-decoration:none;'">SUPPORT:CUCAS</a> 

    </p>
</div>
<script>
    /*底部二维码*/
    $(".bottom_nav .webchat a").click(function(){
        $(this).next(".pic").toggle();
    })
    
        
        $('.bottom_nav li').hover(function(event) {
            $(this).children('.subnav').show();
        },function(){
            $(this).children('.subnav').hide();
        })
    
</script>
</body>
</html>