<base href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182615.shtml"><HTML>
<HEAD>
<title>南开大学公司治理研究中心创新团队纪实--学风建设专题</title>

<style type="text/css">
<!--
body {
	background-color: #e6e7e9;
}

-->
</style></HEAD>
<BODY LEFTMARGIN=0 TOPMARGIN=0 MARGINWIDTH=0 MARGINHEIGHT=0>


<body>
<div align="center">
  <table width="950" border="0" cellspacing="0" bgcolor="#FFFFFF">
    <tr valign="bottom" bgcolor="#FFFFFF">
      <td colspan="4" height="120"><div id="logo">
<!--enorth cms{ banner-xf }enorth cms-->
<div align="center"><img src="http://news.nankai.edu.cn/pic/0/00/03/53/35304_345297.jpg" width="950" height="126"></div>

<!--enorth cms{ banner-xf }enorth cms-->
</div>        </td>
    </tr>
    <tr valign="top" bgcolor="#FFFFFF">
      <td colspan="4"><table width="950" border="0" cellspacing="0" cellpadding="0">
        <tr bgcolor="CCCDCF">
          <td width="45" height="23">&nbsp;</td>
          <td width="581" height="23">
<!--function position() parse begin-->
您当前的位置 ：<a href=http://news.nankai.edu.cn/xfjs/>学风建设专题</a>&nbsp;正文
<!--function: position() parse end  0ms cost! -->
 </td>
          <td width="324" height="23" valign="middle"><div align="center">
<!--enorth cms{ baidu }enorth cms-->
			 <!--Baidu站内搜索开始-->
<script language="javascript">
function baidusearch () {
var wd=document.getElementsByName("wd")[0].value;
var link="http://www.baidu.com/s?si=news.nankai.edu.cn&cl=3&ct=2097152&tn=baidulocal&word="+wd;
window.open(link); }
</script>
<input type="text" name="wd"/><input type="submit" onclick="javascript:baidusearch()" value="新闻网搜索" />
<!--Baidu站内搜索结束-->
<!--enorth cms{ baidu }enorth cms-->

             </div></td>
        </tr>
        <tr>
          <td colspan="3"><img src="http://news.nankai.edu.cn/images/jiewei/position.jpg" width="950" height="15"></td>
        </tr>
      </table></td>
    </tr>
    <tr>
      <td width="694"><div align="left">　</div></td>
      <td width="3" rowspan="3"><div align="left">
        </div></td>
      <td width="4" rowspan="3" background="http://news.nankai.edu.cn/images/xian2.jpg">&nbsp;</td>
      <td width="245" rowspan="3" valign="top"><div align="center">
<!--enorth cms{ bianlan-xf }enorth cms-->
<HTML>
<HEAD>
<TITLE>南开新闻网</TITLE>
<META HTTP-EQUIV="Content-Type" CONTENT="text/html; charset=gb2312">
<link href="http://news.nankai.edu.cn/css/index.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.STYLE2 {font-size: 16px}
-->
</style>
</HEAD>
<BODY BGCOLOR=#FFFFFF LEFTMARGIN=0 TOPMARGIN=0 MARGINWIDTH=0 MARGINHEIGHT=0>

<style type="text/css">
<!--

-->
</style>
<table width="240" border="0">
  <tr>
    <td valign="top"><img src="http://news.nankai.edu.cn/pic/0/00/12/61/126152_221937.jpg" width="230" height="31" border="0"></td>
  </tr>
  <tr>
    <td>
<!--function guide5(xfjsdt,1,10,false,·,none,none,none) parse begin-->
<table width="100%"  >
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182638.shtml"   target="_blank" >教育部有关负责人就新出台的学风建设文件答记者问 </a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182637.shtml"   target="_blank" >教育部开展高校学风建设专项教育和治理行动 </a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182636.shtml"   target="_blank" >南开大学师德建设工作情况（2013）</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2013/05/29/000128014.shtml"   target="_blank" >南开大学2011年学风建设年度报告</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182639.shtml"   target="_blank" >“南开大学研究生学风建设专题网站”开通</a></td></tr>
</table>

<!--function: guide5(xfjsdt,1,10,false,·,none,none,none) parse end  15ms cost! -->
</td>
  </tr>
  <tr>
    <td> </td>
  </tr>
  <tr>
    <td> </td>
  </tr>
  <tr>
    <td><img src="http://news.nankai.edu.cn/pic/0/00/12/61/126153_700572.jpg" width="230" height="31"></td>
  </tr>
  <tr>
    <td>
<!--function guide5(yxtd,1,10,false,·,none,none,none) parse begin-->
<table width="100%"  >
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182615.shtml"   target="_blank" >南开大学公司治理研究中心创新团队纪实</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182634.shtml"   target="_blank" >学风纯正高尚的楷模 ——记明史大家南开大学历史学院教授南炳文先生</a></td></tr>
<tr><td>·</td><td  ><a href="http://news.nankai.edu.cn/xfjs/system/2014/05/20/000182635.shtml"   target="_blank" >学高为师，身正为范——记南开大学经济学院副教授刘凤义</a></td></tr>
</table>

<!--function: guide5(yxtd,1,10,false,·,none,none,none) parse end  31ms cost! -->
</td>
  </tr>
  <tr>
    <td> </td>
  </tr>
  
  <tr>
    <td><img src="http://news.nankai.edu.cn/pic/0/00/12/61/126154_978978.jpg" width="230" height="31"></td>
  </tr>
  <tr>
    <td><div align="center"><a href="http://ygb.nankai.edu.cn/xfjs/index.html"><img src="http://news.nankai.edu.cn/pic/0/00/08/31/83124_825347.jpg" width="230" height="44" border="0"></a></div></td>
  </tr>
</table>

<!--enorth cms{ bianlan-xf }enorth cms-->
</div></td>
    </tr>
    <tr>
      <td valign="top"><div align="left">
        <table width="85%" border="0" align="center" cellpadding="2" cellspacing="0">
          <tr>
            <td><div align="center"><span class="title">南开大学公司治理研究中心创新团队纪实 </span></div></td>
          </tr>
          <tr>
            <td><div align="center">来源：
<!--function source_without_pub_date() parse begin-->
南开大学
<!--function: source_without_pub_date() parse end  0ms cost! -->
　发稿时间：
<!--function pub_date() parse begin-->
2014-05-20 16:18
<!--function: pub_date() parse end  0ms cost! -->
</div></td>
          </tr>
          <tr>
            <td><hr width="95%" size="1" noshade></td>
          </tr>
          <tr>
            <td><span class="main">
<!--function content() parse begin-->
<p>　　南开大学公司治理研究中心于2000年4月，在《光明日报》首倡&ldquo;我国应制定适合国情的中国公司治理原则&rdquo;。2000年11月，在北京主办的&ldquo;WTO、企业发展与公司治理原则&rdquo;研讨会上，率先提出并研究制定了《中国公司治理原则》。2001年12月，《股份制的安定性研究》专著获得&ldquo;蒋一苇企业改革与发展基金&rdquo;优秀著作奖。2003年3月，《公司治理》专著获得天津市社会科学优秀成果唯一的特等奖、孙冶方经济科学著作奖。论文&ldquo;改革实践的呼唤：中国公司治理原则&rdquo;获教育部社会科学优秀成果一等奖。中心共承担国家级和省部级项目93项、经费1482.8万元；发表论文1079篇、出版专著181部、研究报告47部；承担企业横向课题51项、经费501.7万元；已毕业博士126名、硕士281名；召开全国性会议12次、国际会议7次，来访国外学者93人次，派出149人次。截止2012年，中心共有9名研究人员入选&ldquo;新世纪优秀人才支持计划&rdquo;人员名单。</p>
<p>　　<strong>一、坚持以厚重理论回应重大现实问题</strong></p>
<!--advertisement code begin--><!--advertisement code end--><p>　　1.纵深公司治理基础理论研究，构建基于核心概念的公司治理理论框架。南开大学公司治理研究中心从公司制企业的制度背景出发，构建以法人治理结构为核心制度特征的公司治理边界概念，以此边界为中心，清晰刻画了经济组织围绕公司治理的制度安排，阐释了公司治理的形式和内涵，最终搭建起以公司治理边界、公司治理主客体、治理成本、治理风险为核心概念和基石的理论框架体系。在此理论框架基础上，研究团队跟踪和密切联系中国经济改革和企业改革的实践，针对性提出中国国有企业改革的制度路径为从行政型治理到经济型治理。这一观点是对中国企业管理实践的理论提升和公司治理理论的一个有效补充。以公司治理边界概念构筑的学术专著《公司治理》获得第十届&ldquo;孙冶方经济科学著作奖&rdquo;和省部级优秀成果特等奖；《现代公司治理研究》入选获第十三届中国图书奖的《管理科学文库》。该领域研究获得6项国家自然科学基金和24项省部级课题的资助。</p>
<p>　　2.将公司治理研究边界有效拓展到网络治理等领域，取得了系列成果。网络治理是目前管理学、网络科学、政治科学、社会科学等多学科共同关注的理论命题和热点问题，本研究团队在以往技术层面的网络组织认知框架下，增加了制度安排和组织选择的维度，从公司治理的治理内涵出发，把握治理的关键资源主体合作结构和机制的特征，将公司治理的边界拓展到一般企业、企业集团、跨国公司网络和联盟网络，从而赋予了网络治理研究更为完整的内涵，对网络治理的结构、机制、价值生成模式和网络博弈行为进行了较为深入的研究。相关研究成果获得7项国家自然科学基金和12项省部级课题的资助，在《经济研究》和《管理世界》上发表了有关网络治理中声誉机制、合作机制和私人以及公共秩序替代选择方面的重要论文。网络治理专著《网络组织》获得天津市优秀成果一等奖，引用率居同类成果前列。国家自然科学基金项目&ldquo;网络治理结构、机制与应用研究&rdquo;在结项时获得&ldquo;特优&rdquo;等级评价。</p>
<p>　　3.研究制定公司治理准则，研发公司治理指数，取得了系列成果。以评价公司治理质量为对象，基于公司治理理论研究的成果，探索公司治理评价体系的构建，在国内率先组织制定了《中国公司治理原则》(2001)、构建&ldquo;中国上市公司治理评价指标体系&rdquo;(2003)，推出中国公司治理评价指数(2004)并持续发布《中国公司治理评价报告》(2004～2011)。专著《Corporate Governance in China: Research and Evaluation》2007年由John Wiley &amp; Sons出版发行。独立开发了&ldquo;中国公司治理指数数据库&rdquo;。&ldquo;中国公司治理股价指数&rdquo;。基于公司治理指数评价和应用的团队研究成果，自2003年以来陆续在《管理世界》发表，该研究获得国家自然科学基金首项重点课题资助，以及3项国家自然科学基金和八项省部级课题资助。相关论文专著分别获得教育部优秀成果一等奖一项和二等奖两项。</p>
<p>　　<strong>二、推进学科建设、培养高层次专业治理人才</strong></p>
<p>　　南开大学公司治理研究中心通过长期与国际学术前沿同步的研究，在国内高校最早设立公司治理方向和专业，1999年开始在企业管理专业博士点、硕士点中招收公司治理方向的硕士和博士研究生，培养出国内首批公司治理研究与教学专业人才。多年来，公司治理已发展成为南开大学企业管理国家重点学科、&ldquo;211工程&rdquo;、工商管理一级学科重点建设的专业方向。2004年经批准设立国内最早的公司治理硕士点和博士点，公司治理研究中心成为教育部人文社科重点研究基地，逐渐发展为涵盖公司治理专业本科、硕士、博士多层次专业人才的培养基地。</p>
<p>　　1.教材建设实施精品战略。《公司治理》是我国最早的公司治理著作之一，并获得&ldquo;孙冶方经济科学著作奖&rdquo;。2005年，教学团队针对本科生培养所撰写的《公司治理学》，成为教育部普通高等教育&ldquo;十五&rdquo;及&ldquo;十一五&rdquo;国家级规划教材，&ldquo;公司治理学&rdquo;成为全国公司治理学科唯一的国家精品课程。《公司治理学》已在清华大学、武汉大学、吉林大学、山东大学等高校得到广泛应用与认可，该教材理论与实践相结合，将最新的公司治理实践通过范例形式反映到教学中，有效促进案例教学的推广，并满足学生个性化发展的需要，是国内最早面向本科生教学的公司治理专业教材之一。</p>
<p>　　2002年教学团队编写的研究生教材《公司治理教程》被国家教育部指定为&ldquo;全国研究生推荐教材&rdquo;，在教育部的推荐下得到国内高校的广泛应用。&ldquo;公司治理教材计划&rdquo;被选入&ldquo;高等教育百门精品课程教材建设计划&rdquo;，已编写出版公司治理系列教材5部，并引进和翻译出版了国外本科生、MBA、EMBA权威的公司治理教材及参考书。2005至2008年间，承担了世界银行全球招标课程开发项目，针对财务总监开发了专业教材《公司治理》和《价值管理》。李维安教授撰写的《中国公司治理研究》(日文)被日本多所大学指定为研究生教材。</p>
<p>　　2.教学内容关注创新能力培养。南开大学公司治理研究中心的公司治理教学体系以创新能力为导向，设计出&ldquo;三结合&rdquo;的教学内容。</p>
<p>　　为了加强学生创新意识，团队在教学内容上体现&ldquo;精难结合&rdquo;的原则，在课程设置上&ldquo;文理互涵&rdquo;。通过各种方式扩大学生的知识面，如开设第二课堂，不定期举办来自产学研领域资深人士的讲座，从而使学生知识横向拓宽、纵向加深，提高创新能力。到目前为止，本科生每年都有近百名参加公司治理评价研究原始数据的收集和整理，已有20人次被佐治亚州立大学、犹他州立大学、英国萨瑞大学等国外大学录取为博士研究生或交换生；研究生、博士后已有30人次赴国外合作研究。</p>
<p>　　3.优化师资力量：外引内联，构建创新人才团队。教师队伍学术水平高、成果丰硕。公司治理教学团队成员分别获得孙冶方经济科学著作奖；蒋一苇企业改革与发展优秀著作奖、教育部社会科学优秀成果一、二、三等奖、国家级教学成果二等奖；入选&ldquo;教育部长江学者创新团队发展计划&ldquo;；天津市社会科学优秀成果一、二、三等奖。专业的师资力量保证了教学的水平。</p>
<p>　　任课教师为人师表，事业心强，具有团队精神。团队成员分别获得宝钢全国优秀教师奖、教育部高校青年教师奖、霍英东优秀青年教师奖、天津市&ldquo;十五&rdquo;立功先进个人、天津市青年教师教学基本功竞赛三等奖等。</p>
<p>　　目前团队授课教师中，非本校取得学士、硕士或博士学位的教师占100%；国外进修学习一年以上的教师占40%。</p>
<p>　　聘请国内外著名学者来校讲学、联合研究、联合培养学生。聘请泽尔滕、莫里斯等诺贝尔经济学奖获得者，及巴尔尼等国外著名学者为客座教授，并就理性人行为与公司治理、CEO行为、战略管理前沿等问题来校讲学。引进香港大学、香港中文大学、新加坡国立大学的知名学者为特聘教授。</p>
<p>　　第九届全国人大常委会副委员长成思危教授高度评价该团队的贡献：&ldquo;李维安及其团队首次发布&lsquo;中国公司治理评价指数&rsquo;&hellip;&hellip;，国家发改委、国资委、保监会、CCTV都利用此指数衡量中国企业的公司治理，对于企业管理来说，可谓意义非凡&rdquo;。原国务院发展研究中心副主任、党组书记陈清泰则明确指出：&ldquo;公司治理指数提供了改善公司治理的指引，而且能够用于加强公司的可持续发展。&rdquo; &ldquo;孙冶方经济学奖&rdquo;评审专家对于公司治理边界概念及其延伸给予了高度评价。该奖项的国内权威评审专家认为：&ldquo;由李维安教授带领的南开大学公司治理研究中心，在国家自然科学基金、国家社科基金、教育部人文社科重大攻关项目基金等支持下，长时期对公司治理理论进行了深入系统的研究，构筑了以&ldquo;公司治理边界&rdquo;为核心范畴的理论体系，提出国企改革从行政型治理到经济型治理转变等观点&rdquo;。</p>
<p>　　公司治理实验方向的相关研究得到了诺贝尔经济学奖获得者Selten教授、Mirrlees教授的具体指导，他们认为&ldquo;这是一个创新的团队，是一个有活力的集体&rdquo;。</p>
<p>　　<strong>三、公司治理研究成果，促进国企改革与经济发展成效显著</strong></p>
<p>　　1.发挥特色和优势、实施重大课题研究。南开大学公司治理研究中心研究团队依托管理学和经济学领域的学科优势，结合公司治理领域的前沿发展趋势，以治理边界为切入点，构建了以治理边界、治理成本、治理风险和治理评价为核心概念的理论研究框架，通过对国有控股公司、民营公司、金融机构、跨国公司等进行实证和实验等方面的研究。取得了一系列学术成果，产生了较大的经济和社会效益，在国内外同行中形成了特色和优势。</p>
<p>　　南开大学公司治理研究中心在强化公司治理理论研究的基础上，注重研究成果的应用转化，努力提高自身在公司治理重大实践问题的应急和反映方面的研究能力，积极承担国家自然科学基金委、国务院国资委等有关部门委托的重大应急问题研究，参与地方政府经济规划的论证，为企业的发展战略和治理结构设计提供科学咨询及治理系统参照框架，为国内外公司治理研究建立学术交流平台，培养公司治理专业人才，取得了良好的经济和社会效益。</p>
<p>　　2.为国家有关部委提供公司治理决策服务，参与治理标准的制定。南开大学公司治理研究中心研究团队率先推出《中国公司治理原则》，被中国证监会和国家经贸委联合推出的《上市公司治理准则》吸收采纳； 2003年推出的中国公司治理评价指数被监管决策部门所应用;2003至2011年连续发布&ldquo;中国上市公司治理评价报告&rdquo;，为政府相关部门对上市公司有效监管，科学评价上市公司治理状况提供经验证据；2005至2009年与国务院国资委合作研究&ldquo;中央国有独资公司董事会建设问题研究&rdquo;等系列课题，提出了可操作性的国有公司董事评价体系，使国有公司董事会建设进入评价、提升的新阶段；2007至2009年先后参与中国银监会、中国保监会关于金融机构和保险公司治理评价标准体系的制定；2007年主持联合国贸发会议对中国企业的公司治理状况抽样评价，在日内瓦发布《中国公司治理信息披露》报告。</p>
<p>　　2007年7月，国务院国资委给南开大学发来感谢信，对公司治理研究中心先后完成的重点课题研究工作表示肯定，信中说：&ldquo;南开大学公司治理研究中心的研究报告对确保国有独资公司董事会规范、有效地运行，具有重要的理论意义与实践指导价值，为实现中央企业又好又快发展和国有资产的保值增值必将产生积极作用&rdquo;。</p>
<p>　　3.打造公司治理研究学术交流平台。以公司治理国际研讨会为平台，加强国内公司治理研究与教学的合作与交流。2001年至2011年，南开大学公司治理研究中心已经成功举办六届公司治理国际研讨会，主题分别是&ldquo;跨国公司治理与公司治理原则&rdquo;，&ldquo;公司治理改革与管理创新&rdquo;，&ldquo;公司治理改革与评价：国际化挑战&rdquo;，&ldquo;公司治理新阶段：合规、创新与发展&rdquo;，&ldquo;金融危机与公司治理&rdquo;，&ldquo;公司治理：后危机时代的共同准则&rdquo;，成为汇集国内外著名学者、企业家、实务界，传播公司治理前沿理论，引领国内公司治理研究的重要阵地。中心广泛接收外校进修教师，为国内数十所院校培养了大批公司治理领域的学术带头人和教学师资。中英文网站&ldquo;中国公司治理网&rdquo;，已经成为公司治理研究与交流的平台，目前点击率超过了319万人次。2009年，中国管理现代化研究会公司治理专业委员会成立，标志着公司治理已经作为成熟学科，在中国学术研究、实践应用领域、国际科学研究与合作中发挥越来越重要的作用。</p>
<p>　　4.推进科研成果转化，为企业管理服务。南开大学公司治理研究中心为中国广东核电集团公司、北京万通地产股份有限公司、天津开发区化学工业区总公司、中国中小企业国际合作协会等20余家大型企业提供治理结构和战略规划的咨询，取得显著的经济效益。承担联合国经发组织、世界银行、中国中小企业国际合作协会公司治理研究任务。承担证监会、保监会、银监会、国资委委托的董事长、独立董事培训任务。团队承担的教育部哲学社会科学研究重大课题攻关项目《中国民营经济制度创新与发展问题研究》对民营企业制度创新进行了系统研究，总结出具有普遍意义的多元互动、上下推进的民营经济演进模式，为促进民营经济创新与发展提供政策建议。</p>
<p>　　5.加强社会应用型人才培训，促进公司治理理论在实践领域的应用。南开大学公司治理研究中心已培养从事理论研究与教学工作的专业人才50多人，部分成为多所国内高校或研究机构的公司治理领域科研与教学带头人，为推动国内公司治理研究及教学发挥了重要作用。团队还为国资委、证监会、深交所积极开展董事、独立董事培训，参与课程设计并讲授核心课程；为国家会计学院、中国企业联合会、中国体制改革研究会等机构进行公司治理高级应用人才培训；与深圳证券交易所联合开展博士后培养。为国家国资委、银监会、证监会、保监会、深交所、地方国资委和大中型企业等培训公司治理方面的人。</p>
<p>　　2007年7月，国务院国资委给南开大学发来感谢信，对公司治理研究中心先后完成的重点课题研究工作表示肯定，信中说：&ldquo;南开大学公司治理研究中心的研究报告对确保国有独资公司董事会规范、有效地运行，具有重要的理论意义与实践指导价值，为实现中央企业又好又快发展和国有资产的保值增值必将产生积极作用&rdquo;。中心研究团队与深圳证券交易所合作开展学术研究与人才培养工作，深交所认为公司治理研究中心与深交所的多层次合作与交流，&ldquo;产生了积极地效果，为推进中国上市公司治理水平的提高和治理环境的改善做出了重要的贡献&rdquo;。团队为中海石油海洋工程公司提供管理咨询，研究成果获得了该公司的高度评价，&ldquo;为解决公司的现实问题提供了良策，为公司今后的发展指明了战略方向。对增强公司的竞争力和促进公司未来的快速发展具有重大而深远的理论指导和现实意义&rdquo;。本团队承担的联合国经发组织、世界银行、中国证监会、中国保监会、中国广东核电集团公司、北京万通地产股份有限公司、天津开发区化学工业区总公司、中国中小企业国际合作协会的课题及相关咨询项目均受到高度评价。</p>

<!--function: content() parse end  0ms cost! -->
 </span></td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
          <tr>
            <td>&nbsp;</td>
          </tr>
        </table>
      </div></td>
    </tr>
    <tr>
      <td><div align="center"><br>
        <br>
        <br>
      </div></td>
    </tr>
    <tr>
      <td colspan="4"><div id="footer">
<!--enorth cms{ jiewei-xf }enorth cms-->
<style>
#footer{background-color:#E6E7E9; border-top:4px solid #E6E7E9;text-align:center;}
#footer #friends{background:#fff;padding:8px 50px 8px 50px; text-align:left;margin-bottom:10px;}
#footer p{font-size: 1.2em;}
</style>
<p align="center">
 版权所有&#169; 南开大学　网站制作与维护：南开大学党委宣传部 <br>
 举报电话：022-23508595；电子邮箱：nkxswyh@nankai.edu.cn；联系人：王越超<strong><br>
 津教备0061号 津ICP备12003308号-1</strong></p>	

<!--enorth cms{ jiewei-xf }enorth cms-->
</div></td>
    </tr>
  </table>
</div>
</body>
</html>
<!--<page cms="enorth webpublisher"  version="5.0.0 /2011101201" server_name="svctag-f76553x" parse_date="2014-05-22 15:55:08" cost="62" parse_result="0" input_mode="manual"></page>-->