<base href="http://bs.nankai.edu.cn/"><!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>南开大学商学院</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-status-bar-style" content="black"> 
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="format-detection" content="telephone=no">
  <meta name="keywords" content="商学院,南开大学,管理,Business School,Nankai University,College Education,MBA,EMBA,Management" />
<meta name="description" content="南开大学商学院主页,学院简介,科研成果,师资队伍,学科专业,教育培训" />

<link type="text/css" href="/_css/_system/system.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/1/style/6/6.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/00/87/135/style/128/128.css" rel="stylesheet"/>
<link type="text/css" href="/_js/_portletPlugs/simpleNews/css/simplenews.css" rel="stylesheet" />
<link type="text/css" href="/_js/_portletPlugs/sudyNavi/css/sudyNav.css" rel="stylesheet" />
<link type="text/css" href="/_js/_portletPlugs/datepicker/css/datepicker.css" rel="stylesheet" />

<script language="javascript" src="/_js/sudy-jquery-autoload.js" jquery-src="/_js/jquery-1.9.1.min.js" sudy-wp-context="" sudy-wp-siteId="135"></script>
<script language="javascript" src="/_js/jquery-migrate.min.js"></script>
<script language="javascript" src="/_js/jquery.sudy.wp.visitcount.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/sudyNavi/jquery.sudyNav.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/datepicker/js/jquery.datepicker.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/datepicker/js/datepicker_lang_HK.js"></script>
<link rel="stylesheet" href="/_upload/tpl/01/39/313/template313/extends/layui/css/layui.css?t=20180521"  media="all">
  <link rel="stylesheet" href="/_upload/tpl/01/39/313/template313/css/animate.min.css">
  <link rel="stylesheet" href="/_upload/tpl/01/39/313/template313/css/slick.css">
  <link rel="stylesheet" href="/_upload/tpl/01/39/313/template313/css/global.css?t=20180730" media="all">
    <!-- 让IE8/9支持媒体查询，从而兼容栅格 -->
  <!--[if lt IE 9]>
    <script src="/js/html5.min.js"></script>
    <script src="/js/respond.min.js"></script>
  <![endif]--> 
</head>
<body>
<div class="sxy-header">
  <div class="layui-container">
	<div class="m-top">			
		<a href="http://bs.nankai.edu.cn/en/" target="_blank">English</a> | <a href="http://www.nankai.edu.cn/" target="_blank">南开大学</a>
	</div>
	<div class="headr-logo" frag="面板50">
		<div class="sitelogocon" frag="窗口50" portletmode="simpleSiteAttri">
			<a href="/main.htm" title="返回商学院首页"><img border='0' src='/_upload/site/00/87/135/logo.jpg' /></a> 
		</div>
	</div>
	<div class="headr-nav" >
		<div class="headr-search" frag="面板200">
			<div class="headr-search-form" frag="窗口200">
				<form method="post" action="/_web/search/doSearch.do?locale=zh_CN&request_locale=zh_CN&_p=YXM9MTM1JnQ9MzEzJmQ9MTExOSZwPTEmbT1TTiY_" target="_blank">
    <input id="search_keywords" class="txt" type="text" name="keyword">
<button class="btn" type="submit"><i class="layui-icon layui-icon-search"></i></button>
</form>				
			</div>
			<div class="headr-search-link">			
				<a href="http://ibs.nankai.edu.cn/" target="_blank">旧版入口</a> | <a href="http://ibs.nankai.edu.cn/user/default.php" target="_blank">旧版后台</a> | <a href="http://bs.nankai.edu.cn/en/" target="_blank">English</a> | <a href="http://www.nbronline.cn/" target="_blank">南开管理评论</a> | <a href="http://ibs.nankai.edu.cn/lib/web/" target="_blank">图书资料</a> | <a href="http://www.nankai.edu.cn/" target="_blank">南开大学</a>
			</div>			
		</div>
		<div class="headr-nav-con" frag="面板1">
			<div class="navi-slide-head clearfix">
				<h3 class="navi-slide-title"> 导航 </h3>
				<a class="navi-slide-arrow"></a> 
			</div>
			<div frag="窗口1" portletmode="simpleSudyNavi" contents="{'c2':'0', 'c1':'/学院概况,/师资队伍,/教育教学,/学术与科研,/国际交流,/学生发展,/校友工作,/'}">
			  <div id="wp_nav_w1"> 

 
<ul class="wp_nav" data-nav-config="{drop_v: 'down', drop_w: 'right', dir: 'y', opacity_main: '-1', opacity_sub: '-1', dWidth: '0'}">
      
     <li class="nav-item i1 "> 
         <a href="/xyjj/main.htm" title="学院概况" target="_self"><span class="item-name">学院概况</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i2 "> 
         <a href="/jstd/list.htm" title="师资队伍" target="_self"><span class="item-name">师资队伍</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i3 "> 
         <a href="/jyjx/main.htm" title="教育教学" target="_self"><span class="item-name">教育教学</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i4 "> 
         <a href="/xsyky/main.htm" title="学术与科研" target="_self"><span class="item-name">学术与科研</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i5 "> 
         <a href="/gjjl/main.htm" title="国际交流" target="_self"><span class="item-name">国际交流</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i6 "> 
         <a href="/xsfz/main.htm" title="学生发展" target="_self"><span class="item-name">学生发展</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i7 "> 
         <a href="/xygz/main.htm" title="校友工作" target="_self"><span class="item-name">校友工作</span></a><i class="mark"></i> 
          
     </li> 
      
</ul> 
 
 
 </div>
			</div>
		</div>
	</div>   
  </div>
</div>
<div class="layui-carousel sxy-carousel" id="banner" frag="面板100">
  <div carousel-item="" frag="窗口100">
	
	
	<div style="background-image: url(/_upload/article/images/30/1d/5b98db2e4a3da25ef7c132722b9d/c14dbef6-9241-4c77-ac30-f5b28a3a90e3.jpg);"><a href="/_redirect?siteId=135&columnId=10093&articleId=119008"></a></div>
	
	<div style="background-image: url(/_upload/article/images/e9/b2/cc7d586d410b8bdb2fa0583479bc/44925e84-2a24-49fe-a728-be334d94225d.jpg);"><a href="/_redirect?siteId=135&columnId=10093&articleId=110894"></a></div>
	
	<div style="background-image: url(/_upload/article/images/fe/fa/278a98b74252b5f265228b514dfd/a0e7cd84-f0c8-47f9-b3e2-889068350e4e.jpg);"><a href="/_redirect?siteId=135&columnId=10093&articleId=111340"></a></div>
	
	<div style="background-image: url(/_upload/article/images/05/7a/4ba2b08d4f52a2cc16a9fc9ad597/0d3c6923-f692-4890-a07c-a133cb68ca1d.jpg);"><a href="/_redirect?siteId=135&columnId=10093&articleId=108030"></a></div>
	
	<div style="background-image: url(/_upload/article/images/0d/6e/f15c751540f8b6754f5e4df9d3ab/7c7d7a49-0c4a-49be-aa3e-5a9203d99d6c.jpg);"><a href="/_redirect?siteId=135&columnId=10093&articleId=104563"></a></div>
	
	
  </div>
</div>
<div class="sxy-masterlinks">
	<div class="layui-container" frag="面板900">
		<!--PC-->
		<div class="layui-tab layui-tab-brief layui-tab-pc">
		  <div  class="layui-tab-title" frag="窗口900">		  
		  <ul>
			<li class="layui-this">本科教育</li>
			<li>硕博教育</li>
			
			
			<li>MBA</li>
			
			<li>EMBA</li>
			
			<li>MPAcc</li>
			
			<li>MEM</li>
			
			<li>EXED</li>
			
			<li>MLIS​</li>
			
			
		  </ul>
		  </div>
		  <div class="layui-tab-content" frag="窗口901">
			<div class="layui-tab-item layui-show">
				<div class="masterlinks-content">
					<div class="layui-row layui-col-space20">
						<div class="layui-col-md4 layui-hide-sm layui-show-md-block">
						  <img src="/_upload/tpl/01/39/313/template313/images/xw_bkjy.jpg" width="100%" />
						</div>
						<div class="layui-col-md7">
						  <h3>本科教育</h3>
						  <p>
						  南开大学是国内学科门类齐全的综合性、研究型大学之一。在长期的办学过程中，形成了文理并重、基础宽厚、突出应用与创新的办学特色。有专业学院22个，并设有研究生院、继续教育学院、现代远程教育学院，学科门类覆盖文、史、哲、经、管、法、理、工、农、医、教、艺等。学校积极构建和发展适应21世纪经济社会发展和人才培养需要的学科体系，有本科专业80个（其中国家级特色专业18个），硕士点231个，博士点172个，博士学位授权一级学科29个，博士后科研流动站28个。
						</p>
					  </div>
					  <a href="/bkjy/list.htm" class="layui-btn layui-btn-red" style="position:absolute; bottom:25px; right:5px">了解更多</a>
					</div>
				</div>
			</div>
			<div class="layui-tab-item">
				<div class="masterlinks-content">
					<div class="layui-row layui-col-space20">
						<div class="layui-col-md4 layui-hide-sm layui-show-md-block">
						  <img src="/_upload/tpl/01/39/313/template313/images/xw_sbjy.jpg" width="100%" />
						</div>
						<div class="layui-col-md7">
						  <h3>硕博教育</h3>
						  <p>
						  南开大学是国内学科门类齐全的综合性、研究型大学之一。在长期的办学过程中，形成了文理并重、基础宽厚、突出应用与创新的办学特色。有专业学院22个，并设有研究生院、继续教育学院、现代远程教育学院，学科门类覆盖文、史、哲、经、管、法、理、工、农、医、教、艺等。学校积极构建和发展适应21世纪经济社会发展和人才培养需要的学科体系，有本科专业80个（其中国家级特色专业18个），硕士点231个，博士点172个，博士学位授权一级学科29个，博士后科研流动站28个。
						</p>
					  </div>
					  <a href="/sbjy/list.htm" class="layui-btn layui-btn-red">了解更多</a>
					</div>
				</div>
			</div>
			
			
			<div class="layui-tab-item ">
				<div class="masterlinks-content">
					<div class="layui-row layui-col-space20">
						<div class="layui-col-md4 layui-hide-sm layui-show-md-block">
						  <img src="/_upload/article/images/67/ef/eb11d0c043519bb7b890a7316968/163e3cae-19b2-4951-b9ae-ee36456739f2_s.jpg" width="100%" />
						</div>
						<div class="layui-col-md7">
						  <h3>MBA教育</h3>
						  <p>
						  南开大学早在1983年就与加拿大约克大学、麦克马斯特大学和拉瓦尔大学形成合作培养MBA的著名“南开—约克”模式。1991年教育部开始在全国试点MBA项目，南开大学成为9所试点院校之一。2000年的全国MBA合格性评估中，南开取得了全部院校第三、综合性院校第一的成绩。2011年，受邀加入由前意大利总理普罗迪发起的，由意大利、美国、巴西和俄罗斯的四所大学组织的MBA国际交流联盟，成为该联盟的第五所院校。2013年，通过了国际上专门从事MBA质量认证的AMBA认证；2014年，通过了中国高质量MBA教育认证；2016年，通过了全球最高水平的AACSB认证。
						</p>
					  </div>
					  <a href="/2018/0618/c9470a102197/page.htm" class="layui-btn layui-btn-red">了解更多</a>
					</div>
				</div>
			</div>
			
			<div class="layui-tab-item ">
				<div class="masterlinks-content">
					<div class="layui-row layui-col-space20">
						<div class="layui-col-md4 layui-hide-sm layui-show-md-block">
						  <img src="/_upload/article/images/6d/42/f37219ee4473a4df1acbd3779278/1cc311aa-0f9c-4c96-b926-b7aee8ccc3b1_s.jpg" width="100%" />
						</div>
						<div class="layui-col-md7">
						  <h3>EMBA教育</h3>
						  <p>
						  南开大学EMBA项目成立于2002年。在南开，EMBA，与其说是一种知识学习，不如说是一种基于理论的、对实践经验的反思和提升。EMBA不是简单的单向理论学习，尽管系统知识能够全面提升思维水平，它更是在多方的互动中深入地探寻学习者自身的盲点和缺点。在南开，EMBA，与其说是获得一个学位，不如说是融入一种新的生活方式。这是一种开放的、向上的、积极的生活方式，尽管获得EMBA学位是对合格学习最明确的注脚，但两年的新的生活方式为学习者既定的工作节奏增加更加华彩的音调。在南开，EMBA，与其说是建立广泛的人际关系，不如说是通过与其他...
						</p>
					  </div>
					  <a href="/2018/0618/c9470a102196/page.htm" class="layui-btn layui-btn-red">了解更多</a>
					</div>
				</div>
			</div>
			
			<div class="layui-tab-item ">
				<div class="masterlinks-content">
					<div class="layui-row layui-col-space20">
						<div class="layui-col-md4 layui-hide-sm layui-show-md-block">
						  <img src="/_upload/article/images/42/c2/328845a143269bf7ae2072de6a0b/6415ebdb-c3a9-410a-a219-3dc9bbb3ca15_s.jpg" width="100%" />
						</div>
						<div class="layui-col-md7">
						  <h3>MPAcc教育</h3>
						  <p>
						  1985年6月，根据国家经济建设的需要，我校受国家审计署的委托，在我国首批设立审计专业并于当年开始招收本科生。1987年5月南开大学会计学系正式复建，同年被原国家教委批准为会计学专业硕士学位授权点。1997年起在企业管理专业博士点下设财务管理方向，招收会计学方向的博士研究生。2003年会计学系被教育部批准为会计学专业博士学位授权点，正式招收会计学专业的博士研究生。2004年经国务院学位委员会批准成为首批举办会计硕士专业学位教育的单位之一。
						</p>
					  </div>
					  <a href="/2018/0618/c9470a102200/page.htm" class="layui-btn layui-btn-red">了解更多</a>
					</div>
				</div>
			</div>
			
			<div class="layui-tab-item ">
				<div class="masterlinks-content">
					<div class="layui-row layui-col-space20">
						<div class="layui-col-md4 layui-hide-sm layui-show-md-block">
						  <img src="/_upload/article/images/dd/d8/255682e74a6597eb2d6812baa836/7497fcb5-f86a-4f80-b612-1b556d3034df_s.jpg" width="100%" />
						</div>
						<div class="layui-col-md7">
						  <h3>MEM​教育</h3>
						  <p>
						  工程管理专业硕士是为适应我国经济社会发展对高层次工程管理人才的迫切需求，完善专门人才培养体系，创新工程管理人才培养模式，提高工   程管理人才培养质量，经国家批准而设立的专业学位培养模式。南开大学的MEM教育由商学院管理科学与工程一级学科承办，该学科具有一级学科硕、博士学位授   权点齐备、师资力量雄厚、多学科融合的综合优势，该项目所依托的南开大学商学院曾在全国高校中率先开办MBA、EMBA、MPM、MPAcc等专业学位教  育项目，并在多次全国评比中名列前茅，因此具备承办MEM专业硕士学位项目的坚实基础。
						</p>
					  </div>
					  <a href="/2018/0618/c9470a102198/page.htm" class="layui-btn layui-btn-red">了解更多</a>
					</div>
				</div>
			</div>
			
			<div class="layui-tab-item ">
				<div class="masterlinks-content">
					<div class="layui-row layui-col-space20">
						<div class="layui-col-md4 layui-hide-sm layui-show-md-block">
						  <img src="/_upload/article/images/fe/e3/bc687f724d5d98fe1b6a5dd2397d/336322e4-d1ce-4f2c-b3ab-56aca6e47cb8_s.jpg" width="100%" />
						</div>
						<div class="layui-col-md7">
						  <h3>EXED</h3>
						  <p>
						  南开大学商学院高层管理教育依托于南开大学及商学院丰富的教育资源以及校友资源，汇聚知名教授、标杆企业家导师及跨国公司资深高管、海外学者及国际知名专家等优秀师资团队，力求让每位学员成为适应新时代和新经济的企业领导者。我们致力于为企业高层管理者们及其组织提供应对当今竞争激烈的商业环境的工具和技能，帮助高层管理人员获取管理领域的知识，打造全方位学习体验，培养未来的世界级商业领袖。
						</p>
					  </div>
					  <a href="/2018/0618/c9470a102203/page.htm" class="layui-btn layui-btn-red">了解更多</a>
					</div>
				</div>
			</div>
			
			<div class="layui-tab-item ">
				<div class="masterlinks-content">
					<div class="layui-row layui-col-space20">
						<div class="layui-col-md4 layui-hide-sm layui-show-md-block">
						  <img src="/_upload/article/images/0c/07/83e1a2674900a508595eab9cca99/d691f7eb-4142-4976-9892-6b83256418d3_s.jpg" width="100%" />
						</div>
						<div class="layui-col-md7">
						  <h3>MLIS​教育</h3>
						  <p>
						  图书情报硕士专业学位为适应新形势图书情报事业发展对图书情报专门人才的迫切需求，完善图书情报人才培养体系，创新图书情报人才培养模式，提高图书情报人才培养质 量，经国家批准而设立的专业学位培养模式。南开大学的MLIS教育由商学院信息资源管理系承办，该学科拥有图书馆、情报与档案管理一级学科硕士学位授权 点、图书馆学博士学位授权点、情报学博士学位授权点以及图书馆、情报与档案管理一级学科博士后流动站。
						</p>
					  </div>
					  <a href="/2018/0618/c9470a102202/page.htm" class="layui-btn layui-btn-red">了解更多</a>
					</div>
				</div>
			</div>
			
			
		  </div>
		</div>
		<!--PC End-->
	</div>
	<div class="layui-container" frag="面板902">
		<!--Mobile-->
		<div class="layui-tab layui-tab-brief layui-tab-m"  frag="窗口902">
		  <div  class="layui-tab-title">		  
		  <ul>
			<li  class="layui-this"><a href="/bkjy/list.htm">本科教育</a></li>
			<li><a href="/sbjy/list.htm">硕博教育</a></li>
			
			
			<li><a href="/2018/0618/c9470a102197/page.htm">MBA</a></li>
			
			<li><a href="/2018/0618/c9470a102196/page.htm">EMBA</a></li>
			
			<li><a href="/2018/0618/c9470a102200/page.htm">MPAcc</a></li>
			
			<li><a href="/2018/0618/c9470a102198/page.htm">MEM</a></li>
			
			<li><a href="/2018/0618/c9470a102203/page.htm">EXED</a></li>
			
			<li><a href="/2018/0618/c9470a102202/page.htm">MLIS​</a></li>
			
			
		  </ul>
		  </div>
		</div>
		<!--Mobile End-->
	</div> 
</div>
<div class="sxy-news">
	<div class="layui-container">
		<div class="layui-row layui-col-space20">
			<div class="layui-col-sm12 layui-col-md7" frag="面板10">
				<div frag="窗口10">
					<div class="index-title">
						<h2 class="tit">新闻公告</h2>
						<div class="mores" frag="按钮" type="更多"><a href="/xydt/list.htm" class="w10_more"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span></a></div>
					  </div>
					<div class="layui-row layui-col-space20">
						
						
						<div class="layui-col-sm6">
							<div class="sxy-news-piclist">
							<a href="/2019/0307/c9007a120392/page.htm">
								<img src="/_upload/article/images/80/99/5775d21846afa387f22ce765e3c3/7eebaf6b-31da-4857-8c8c-2f621e5e2a8b_s.jpg" />
								<h2>商学院全院大会聚焦“人的安全”</h2>
								<p><a href='/2019/0307/c9007a120392/page.htm' target='_blank' title='商学院全院大会聚焦“人的安全”'>(通讯员张彤)2月28日，商学院第一次全院大会顺利举行，本次大会邀请南开大学党委副书记、纪委书记李义丹主...</a></p>
							</a>
							</div>						
						</div>
						
						<div class="layui-col-sm6">
							<div class="sxy-news-piclist">
							<a href="/2019/0305/c9007a120169/page.htm">
								<img src="/_upload/article/images/9b/3b/917d86f948cda2575373214289d7/cae8a1d1-a719-4c84-9405-a09099ad247b_s.jpg" />
								<h2>南开大学学生团队获毕马威全国案例大赛优胜奖</h2>
								<p><a href='/2019/0305/c9007a120169/page.htm' target='_blank' title='南开大学学生团队获毕马威全国案例大赛优胜奖'>（通讯员周翠翠）“全英文的专业竞赛，近半年的准备时间，感觉自己在专专业能力、英语水平、团队配合等方面...</a></p>
							</a>
							</div>						
						</div>
						
						
					</div>
				</div>
				<div frag="窗口11">
					<div class="layui-row layui-col-space20">
						
						
						<div class="layui-col-sm6">
							<a class="sxy-news-list" href="/_upload/article/files/08/da/c5b72d8a4cd3b6b82120a3d0d99d/e50f6ea6-d9aa-4215-8d9b-a22a8afbd01a.pdf">
								<div class="date">01/07</div>
								<div class="con">网上民主评议操作方法</div>
							</a>
						</div>
						
						<div class="layui-col-sm6">
							<a class="sxy-news-list" href="/2019/0107/c9012a117932/page.htm">
								<div class="date">01/07</div>
								<div class="con">关于推荐援疆人才的通知</div>
							</a>
						</div>
						
						
					</div>
				</div>
			</div>
			<div class="layui-col-sm12 layui-col-md5">
				<div frag="面板12">
				<div frag="窗口12">
				<div class="index-title">
					<h2><span frag="标题">学术活动</span></h2>
					<div class="mores" frag="按钮" type="更多">
						<a href="/xshd_9465/list.htm" class="w12_more"><span class="more_text" frag="按钮内容">更多&gt;</span></a>
					</div>
				</div>
											
				<ul class="sxy-xueshu">
					
					<li>
					  <div class="date">
						<div class="date-day"> 06 </div>
						<div class="date-month"> 2019.03 </div>
					  </div>
					  <div class="con">
						<div class="bt layui-elip" style="height:25px;overflow:hidden;"> <a href='/2019/0306/c9465a120322/page.htm' target='_blank' title='Addresing climate change and competition in global supply chains'>Addresing climate change and competition in global supply chains</a> </div>
						<div class="bt" style="font-size:14px; color:#666666;"> 时间：2019年3月4日 </div>
						<div class="bt" style="font-size:14px; color:#666666;"> 地点：南开大学商学院B1003 </div>
					  </div>
					</li>	
					
					<li>
					  <div class="date">
						<div class="date-day"> 09 </div>
						<div class="date-month"> 2019.01 </div>
					  </div>
					  <div class="con">
						<div class="bt layui-elip" style="height:25px;overflow:hidden;"> <a href='/2019/0109/c9465a118111/page.htm' target='_blank' title='2019年供应链管理创新学术研讨会年会'>2019年供应链管理创新学术研讨会年会</a> </div>
						<div class="bt" style="font-size:14px; color:#666666;"> 时间：2019年1月15日 </div>
						<div class="bt" style="font-size:14px; color:#666666;"> 地点：南开大学商学院B1003 </div>
					  </div>
					</li>	
					
					<li>
					  <div class="date">
						<div class="date-day"> 02 </div>
						<div class="date-month"> 2019.01 </div>
					  </div>
					  <div class="con">
						<div class="bt layui-elip" style="height:25px;overflow:hidden;"> <a href='/2019/0102/c9465a117724/page.htm' target='_blank' title='全球化与日本企业：初期起飞、长期发展、下行与破解之道'>全球化与日本企业：初期起飞、长期发展、下行与破解之道</a> </div>
						<div class="bt" style="font-size:14px; color:#666666;"> 时间：2019年1月3日  14:00-17:00 </div>
						<div class="bt" style="font-size:14px; color:#666666;"> 地点：商学院B1003 </div>
					  </div>
					</li>	
					
					<li>
					  <div class="date">
						<div class="date-day"> 25 </div>
						<div class="date-month"> 2018.12 </div>
					  </div>
					  <div class="con">
						<div class="bt layui-elip" style="height:25px;overflow:hidden;"> <a href='/_upload/article/files/b2/a3/2af5a42a48bba9ebbc2dc0967d85/4752f596-177b-4edb-ab8f-c096fbd1df87.pdf' target='_blank' title='首届全国图书情报案例学术研讨会暨图书馆创新案例大赛征文通知'>首届全国图书情报案例学术研讨会暨图书馆创新案例大赛征文通知</a> </div>
						<div class="bt" style="font-size:14px; color:#666666;"> 时间： </div>
						<div class="bt" style="font-size:14px; color:#666666;"> 地点： </div>
					  </div>
					</li>	
					
					<li>
					  <div class="date">
						<div class="date-day"> 21 </div>
						<div class="date-month"> 2018.12 </div>
					  </div>
					  <div class="con">
						<div class="bt layui-elip" style="height:25px;overflow:hidden;"> <a href='/2018/1221/c9465a117209/page.htm' target='_blank' title='会议通知：品牌价值评价项目2018年度总结暨企业品牌研讨会'>会议通知：品牌价值评价项目2018年度总结暨企业品牌研讨会</a> </div>
						<div class="bt" style="font-size:14px; color:#666666;"> 时间：2018年12月21-23日 </div>
						<div class="bt" style="font-size:14px; color:#666666;"> 地点：南开大学商学院会议室、天津市津南区商务委 </div>
					  </div>
					</li>	
					
				</ul>
				
				</div>
				</div>
			</div>
		</div>
	</div>
</div>	
<div class="sxy-jsxs">
	<div class="layui-container">			
		<div class="layui-tab layui-tab-brief">
		  <ul class="layui-tab-title">
			<li class="layui-this">教授声音</li>
			<li>学生风采</li>
			<li>视频</li>
		  </ul>
		  <div class="layui-tab-content">
			<div class="layui-tab-item  layui-show">
				<div class="slider" frag="面板13">
					<div class="item" frag="窗口13">
						
						<div class="layui-row  layui-col-space20 jssy-col-1">
							
							<div class="layui-col-sm12 dat-1">
								<a href="/2018/0918/c9014a108009/page.htm" class="con">
									<img src="/_upload/article/images/10/77/a39fd77e464ba75777ffcfde60ab/56871465-222d-4c4a-94e0-912d3ef64314_s.jpg" />
									<div class="txt">天津日报：不断提升中华文化影响力（柯平）</div>
								</a>
							</div>
							
							<div class="layui-col-sm12 dat-2">
								<a href="/2018/0919/c9014a108107/page.htm" class="con">
									<img src="/_upload/article/images/24/a2/e81a4fdf446486fa4215472cf25f/ed95f55b-6c33-49c3-91b3-a06804c818a3_s.jpg" />
									<div class="txt">郝臣：提升我国保险公司治理能力的思考——标准引领与监管推动的视角</div>
								</a>
							</div>
							
							<div class="layui-col-sm12 dat-3">
								<a href="/2018/0617/c9014a102047/page.htm" class="con">
									<img src="/_upload/article/images/cf/12/9cca10e74028ad14d711e248f7ce/ade43bbf-cd77-4c62-8843-864aa6599d29_s.jpg" />
									<div class="txt">张玉利：从创业中探索新时代管理模式</div>
								</a>
							</div>
							
						</div>
							
					</div>
					<div class="item" frag="窗口14">
						
						
						<a href="/2018/0918/c9014a108009/page.htm" class="con" style="padding-top:106%;">
							<img src="/_upload/article/images/10/77/a39fd77e464ba75777ffcfde60ab/56871465-222d-4c4a-94e0-912d3ef64314_s.jpg" />
							<div class="txt">天津日报：不断提升中华文化影响力（柯平）</div>
						</a>
						
						
					</div>
					<div class="item" frag="窗口15">
						
						<div class="layui-row  layui-col-space20 jssy-col-3">
							
							<div class="layui-col-sm12 dat-1">
								<a href="/2018/0918/c9014a108009/page.htm" class="con">
									<img src="/_upload/article/images/10/77/a39fd77e464ba75777ffcfde60ab/56871465-222d-4c4a-94e0-912d3ef64314_s.jpg" />
									<div class="txt">天津日报：不断提升中华文化影响力（柯平）</div>
								</a>
							</div>
							
							<div class="layui-col-sm12 dat-2">
								<a href="/2018/0919/c9014a108107/page.htm" class="con">
									<img src="/_upload/article/images/24/a2/e81a4fdf446486fa4215472cf25f/ed95f55b-6c33-49c3-91b3-a06804c818a3_s.jpg" />
									<div class="txt">郝臣：提升我国保险公司治理能力的思考——标准引领与监管推动的视角</div>
								</a>
							</div>
							
							<div class="layui-col-sm12 dat-3">
								<a href="/2018/0617/c9014a102047/page.htm" class="con">
									<img src="/_upload/article/images/cf/12/9cca10e74028ad14d711e248f7ce/ade43bbf-cd77-4c62-8843-864aa6599d29_s.jpg" />
									<div class="txt">张玉利：从创业中探索新时代管理模式</div>
								</a>
							</div>
							
							<div class="layui-col-sm12 dat-4">
								<a href="/2018/0617/c9014a102053/page.htm" class="con">
									<img src="/_upload/article/images/e3/3e/8a4388774b2ba5318e3d63f9a70d/81b46c8f-9d4b-4aa2-afb1-67f3bba18d73_s.jpg" />
									<div class="txt">人力资源管理的绩效：悖论与出路</div>
								</a>
							</div>
							
							<div class="layui-col-sm12 dat-5">
								<a href="/2018/0617/c9014a102048/page.htm" class="con">
									<img src="/_upload/article/images/da/f4/2e307d0249ce99d5b32b93b28488/6abd8519-28dd-47c9-8a2e-1db5fe2061d5_s.jpg" />
									<div class="txt">杨俊：关于学术研究的几点体会</div>
								</a>
							</div>
							
						</div>
							
					</div>
					<div class="item" frag="窗口40">
						
						<div class="layui-row  layui-col-space20 jssy-col-4">
							
							<div class="layui-col-sm12 dat-1">
								<a href="/2018/0918/c9014a108009/page.htm" class="con">
									<img src="/_upload/article/images/10/77/a39fd77e464ba75777ffcfde60ab/56871465-222d-4c4a-94e0-912d3ef64314_s.jpg" />
									<div class="txt">天津日报：不断提升中华文化影响力（柯平）</div>
								</a>
							</div>
							
							<div class="layui-col-sm12 dat-2">
								<a href="/2018/0919/c9014a108107/page.htm" class="con">
									<img src="/_upload/article/images/24/a2/e81a4fdf446486fa4215472cf25f/ed95f55b-6c33-49c3-91b3-a06804c818a3_s.jpg" />
									<div class="txt">郝臣：提升我国保险公司治理能力的思考——标准引领与监管推动的视角</div>
								</a>
							</div>
							
							<div class="layui-col-sm12 dat-3">
								<a href="/2018/0617/c9014a102047/page.htm" class="con">
									<img src="/_upload/article/images/cf/12/9cca10e74028ad14d711e248f7ce/ade43bbf-cd77-4c62-8843-864aa6599d29_s.jpg" />
									<div class="txt">张玉利：从创业中探索新时代管理模式</div>
								</a>
							</div>
							
							<div class="layui-col-sm12 dat-4">
								<a href="/2018/0617/c9014a102053/page.htm" class="con">
									<img src="/_upload/article/images/e3/3e/8a4388774b2ba5318e3d63f9a70d/81b46c8f-9d4b-4aa2-afb1-67f3bba18d73_s.jpg" />
									<div class="txt">人力资源管理的绩效：悖论与出路</div>
								</a>
							</div>
							
							<div class="layui-col-sm12 dat-5">
								<a href="/2018/0617/c9014a102048/page.htm" class="con">
									<img src="/_upload/article/images/da/f4/2e307d0249ce99d5b32b93b28488/6abd8519-28dd-47c9-8a2e-1db5fe2061d5_s.jpg" />
									<div class="txt">杨俊：关于学术研究的几点体会</div>
								</a>
							</div>
							
							<div class="layui-col-sm12 dat-6">
								<a href="/2018/0617/c9014a102049/page.htm" class="con">
									<img src="/_upload/article/images/9f/ac/65edf405484f9db835932bce685c/0a1730c2-08dc-48ee-b4b0-c58b1623b136_s.jpg" />
									<div class="txt">于良芝：话语成规——农村图书馆事业发展的新瓶颈</div>
								</a>
							</div>
							
							<div class="layui-col-sm12 dat-7">
								<a href="/2018/0617/c9014a102051/page.htm" class="con">
									<img src="/_upload/article/images/a3/25/183420e34010b9270ed7ef35e90a/bdb280e8-0f72-47b9-9a2d-271eecf39cbd_s.png" />
									<div class="txt">全球化和创新时代的领导力</div>
								</a>
							</div>
							
						</div>
							
					</div>
					<div class="item" frag="窗口41">
						
						<div class="layui-row  layui-col-space20 jssy-col-5">
							
							<div class="layui-col-sm12 dat-1">
								<a href="/2018/0918/c9014a108009/page.htm" class="con">
									<img src="/_upload/article/images/10/77/a39fd77e464ba75777ffcfde60ab/56871465-222d-4c4a-94e0-912d3ef64314_s.jpg" />
									<div class="txt">天津日报：不断提升中华文化影响力（柯平）</div>
								</a>
							</div>
							
							<div class="layui-col-sm12 dat-2">
								<a href="/2018/0919/c9014a108107/page.htm" class="con">
									<img src="/_upload/article/images/24/a2/e81a4fdf446486fa4215472cf25f/ed95f55b-6c33-49c3-91b3-a06804c818a3_s.jpg" />
									<div class="txt">郝臣：提升我国保险公司治理能力的思考——标准引领与监管推动的视角</div>
								</a>
							</div>
							
							<div class="layui-col-sm12 dat-3">
								<a href="/2018/0617/c9014a102047/page.htm" class="con">
									<img src="/_upload/article/images/cf/12/9cca10e74028ad14d711e248f7ce/ade43bbf-cd77-4c62-8843-864aa6599d29_s.jpg" />
									<div class="txt">张玉利：从创业中探索新时代管理模式</div>
								</a>
							</div>
							
							<div class="layui-col-sm12 dat-4">
								<a href="/2018/0617/c9014a102053/page.htm" class="con">
									<img src="/_upload/article/images/e3/3e/8a4388774b2ba5318e3d63f9a70d/81b46c8f-9d4b-4aa2-afb1-67f3bba18d73_s.jpg" />
									<div class="txt">人力资源管理的绩效：悖论与出路</div>
								</a>
							</div>
							
							<div class="layui-col-sm12 dat-5">
								<a href="/2018/0617/c9014a102048/page.htm" class="con">
									<img src="/_upload/article/images/da/f4/2e307d0249ce99d5b32b93b28488/6abd8519-28dd-47c9-8a2e-1db5fe2061d5_s.jpg" />
									<div class="txt">杨俊：关于学术研究的几点体会</div>
								</a>
							</div>
							
							<div class="layui-col-sm12 dat-6">
								<a href="/2018/0617/c9014a102049/page.htm" class="con">
									<img src="/_upload/article/images/9f/ac/65edf405484f9db835932bce685c/0a1730c2-08dc-48ee-b4b0-c58b1623b136_s.jpg" />
									<div class="txt">于良芝：话语成规——农村图书馆事业发展的新瓶颈</div>
								</a>
							</div>
							
							<div class="layui-col-sm12 dat-7">
								<a href="/2018/0617/c9014a102051/page.htm" class="con">
									<img src="/_upload/article/images/a3/25/183420e34010b9270ed7ef35e90a/bdb280e8-0f72-47b9-9a2d-271eecf39cbd_s.png" />
									<div class="txt">全球化和创新时代的领导力</div>
								</a>
							</div>
							
							<div class="layui-col-sm12 dat-8">
								<a href="/2018/0617/c9014a102052/page.htm" class="con">
									<img src="/_upload/article/images/69/52/9e17fbef4834ab766b52bc3ce43d/323cfbf7-72b4-4fe4-a454-1d386e9625fb_s.jpg" />
									<div class="txt">商学院要培养学生的竞争气质</div>
								</a>
							</div>
							
							<div class="layui-col-sm12 dat-9">
								<a href="/2018/0617/c9014a102054/page.htm" class="con">
									<img src="/_upload/article/images/7a/8c/51e4c2044e3e930e654dcf3ff155/170d38c1-1e5d-46d3-95a8-e114a8e1c06a_s.png" />
									<div class="txt">中国传统哲学•现代项目管理•新领域</div>
								</a>
							</div>
							
						</div>
							
					</div>	
				</div>
				<div class="layui-row  layui-col-space20">
					<div class="layui-col-sm12" frag="窗口16">
						<div class="mores" frag="按钮" type="更多">
							<a href="/jssy/list.htm" class="w16_more"><span class="more_text" frag="按钮内容">更多&gt;</span></a>
						</div>
						<div style="display:none;">
						
						
						天津日报：不断提升中华文化影响...
						
							
						</div>
					</div>
				</div>		
			</div>
			<div class="layui-tab-item">
				<div class="layui-row layui-col-space20" frag="面板17">
					<div class="layui-col-sm4" frag="窗口17">
						
						<div class="layui-row  layui-col-space20 jssy-col-1">
							
							<div class="layui-col-sm12 dat-1">
								<a href="/2018/0618/c9484a102205/page.htm" class="con">
									<img src="/_upload/article/images/2b/cc/d1bd91dd46239dbe965fedd1932c/72ee21a9-cc2b-468b-aef1-873c1e8fdc8d_s.jpg" />
									<div class="txt">郝珊—2018届优秀毕业生</div>
								</a>
							</div>
							
							<div class="layui-col-sm12 dat-2">
								<a href="/2018/0618/c9484a102204/page.htm" class="con">
									<img src="/_upload/article/images/af/78/4bb7e5bc45018b9fe85e41d35c89/74928ad3-c1b8-48de-a650-7d540db0bd22_s.jpg" />
									<div class="txt">周垚学——2018届优秀毕业生</div>
								</a>
							</div>
							
							<div class="layui-col-sm12 dat-3">
								<a href="/2018/0617/c9484a101982/page.htm" class="con">
									<img src="/_upload/article/images/de/75/d10de1ae41de847d2d93af7c40e5/32fd29d8-c00a-406e-afd1-605715ceffc4_s.jpg" />
									<div class="txt">夏艳——2018届优秀毕业生</div>
								</a>
							</div>
							
						</div>
							
					</div>
					<div class="layui-col-sm4" frag="窗口18">
						
						
						<a href="/2018/0618/c9484a102205/page.htm" class="con" style="padding-top:106%;">
							<img src="/_upload/article/images/2b/cc/d1bd91dd46239dbe965fedd1932c/72ee21a9-cc2b-468b-aef1-873c1e8fdc8d_s.jpg" />
							<div class="txt">郝珊—2018届优秀毕业生</div>
						</a>
						
						
					</div>
					<div class="layui-col-sm4" frag="窗口19">
						
						<div class="layui-row  layui-col-space20 jssy-col-3">
							
							<div class="layui-col-sm12 dat-1">
								<a href="/2018/0618/c9484a102205/page.htm" class="con">
									<img src="/_upload/article/images/2b/cc/d1bd91dd46239dbe965fedd1932c/72ee21a9-cc2b-468b-aef1-873c1e8fdc8d_s.jpg" />
									<div class="txt">郝珊—2018届优秀毕业生</div>
								</a>
							</div>
							
							<div class="layui-col-sm12 dat-2">
								<a href="/2018/0618/c9484a102204/page.htm" class="con">
									<img src="/_upload/article/images/af/78/4bb7e5bc45018b9fe85e41d35c89/74928ad3-c1b8-48de-a650-7d540db0bd22_s.jpg" />
									<div class="txt">周垚学——2018届优秀毕业生</div>
								</a>
							</div>
							
							<div class="layui-col-sm12 dat-3">
								<a href="/2018/0617/c9484a101982/page.htm" class="con">
									<img src="/_upload/article/images/de/75/d10de1ae41de847d2d93af7c40e5/32fd29d8-c00a-406e-afd1-605715ceffc4_s.jpg" />
									<div class="txt">夏艳——2018届优秀毕业生</div>
								</a>
							</div>
							
							<div class="layui-col-sm12 dat-4">
								<a href="/2018/0617/c9484a101981/page.htm" class="con">
									<img src="/_upload/article/images/74/0d/17c1c0b0430a8edaa51addfa4bba/265de1d1-960d-40a5-a134-643a1e076b8b_s.jpg" />
									<div class="txt">卓德麟——2018届优秀毕业生</div>
								</a>
							</div>
							
							<div class="layui-col-sm12 dat-5">
								<a href="/2018/0617/c9484a101979/page.htm" class="con">
									<img src="/_upload/article/images/65/04/770136324386ba54a1d98cb315fa/2274991a-d6ec-4ae5-8de9-d1e9a1cd55f3_s.jpg" />
									<div class="txt">闫敏杰——2018届优秀毕业生</div>
								</a>
							</div>
							
						</div>
							
					</div>									
				</div>
				<div class="layui-row  layui-col-space20">
					<div class="layui-col-sm12" frag="窗口20">
						<div class="mores" frag="按钮" type="更多">
							<a href="/xsfc/list.htm" class="w20_more"><span class="more_text" frag="按钮内容">更多&gt;</span></a>
						</div>
						<div style="display:none;">
						
						
						<a href='/2018/0618/c9484a102205/page.htm' target='_blank' title='郝珊—2018届优秀毕业生'>郝珊—2018届优秀毕业生</a>
						
						<a href='/2018/0618/c9484a102204/page.htm' target='_blank' title='周垚学——2018届优秀毕业生'>周垚学——2018届优秀毕业生</a>
						
						<a href='/2018/0617/c9484a101982/page.htm' target='_blank' title='夏艳——2018届优秀毕业生'>夏艳——2018届优秀毕业生</a>
						
						<a href='/2018/0617/c9484a101981/page.htm' target='_blank' title='卓德麟——2018届优秀毕业生'>卓德麟——2018届优秀毕业生</a>
						
						<a href='/2018/0617/c9484a101979/page.htm' target='_blank' title='闫敏杰——2018届优秀毕业生'>闫敏杰——2018届优秀毕业生</a>
						
						<a href='/2018/0703/c9484a103627/page.htm' target='_blank' title='郝亚楠—2018届优秀毕业生'>郝亚楠—2018届优秀毕业生</a>
						
						
<div class="more"><a class="more-link" href="/xsfc/list.htm" title="显示更多"><span class="moretext"><img src="/_js/_portletPlugs/simpleNews/css/icon_more_1.gif" border="0"/></span></a></div>	
						</div>
					</div>
				</div>
			</div>
			<div class="layui-tab-item" frag="面板21">
				<div class="layui-row layui-col-space20"  frag="窗口21">
					<!-- No Data -->
					<div class="layui-col-sm12">
						<div class="mores" frag="按钮" type="更多">
							<a href="/sp/list.htm" class="w21_more"><span class="more_text" frag="按钮内容">更多&gt;</span></a>
						</div>
					</div>
				</div>				
				
			</div>
		  </div>
		</div>
	</div>
</div>
<div class="sxy-smyj">
	<div class="layui-container">	
		<div class="sxy-smyj-con layui-hide-xs">
			<div class="layui-tab layui-tab-brief">
			  <ul class="layui-tab-title">
				<li class="layui-this">南开精神</li>
				<li>使命与愿景</li>
				<li>价值观</li>
				<li>行为准则</li>
			  </ul>
			  <div class="layui-tab-content">
				<div class="layui-tab-item  layui-show">
					<p>南开精神的核心体现在南开大学的校训 “允公允能，日新月异”这8个字，特别是“公”和“能”这两个字。</p>
				</div>
				<div class="layui-tab-item">
				<p>引领创新，服务社会，培养允公允能的管理精英<br />建设世界知名、国内领先的商学院</p>
				</div>
				<div class="layui-tab-item">
				<p>创新，诚信，责任，商以富国。</p>
				</div>
				<div class="layui-tab-item">
				<p> 开放，关爱，合作（团队），智圆行方。</p>
				</div>
			  </div>
			</div>
		</div>
		
		<div class="layui-row">
			<div class="layui-col-xs6 layui-col-sm3">
				<div class="number" >
					<div class="number-title wow fadeIn" data-wow-delay="0.5s">南开商科建于</div>
					<div class="number-con wow fadeInDown" data-wow-delay="0.8s">1919<span>年</span></div>
				</div>
			</div>
			<div class="layui-col-xs6 layui-col-sm3">
				<div class="number">
					<div class="number-title wow fadeIn" data-wow-delay="0.5s">全院教职工</div>
					<div class="number-con wow fadeInDown" data-wow-delay="0.8s">200<span>人</span></div>
				</div>
			</div>
			<div class="layui-col-xs6 layui-col-sm3">
				<div class="number" >
					<div class="number-title wow fadeIn" data-wow-delay="0.5s">专职教师</div>
					<div class="number-con wow fadeInDown" data-wow-delay="0.8s">119<span>人</span></div>
				</div>
			</div>
			<div class="layui-col-xs6 layui-col-sm3">
				<div class="number">
					<div class="number-title wow fadeIn" data-wow-delay="0.5s">在校生人数</div>
					<div class="number-con wow fadeInDown" data-wow-delay="0.8s">4800+<span>人</span></div>
				</div>
			</div>
			<div class="layui-clear"></div>			
		</div>
	</div>
</div>
<div class="sxy-iconlink">
	<div class="layui-container">
		<div class="layui-row">
			<div class="sxy-iconlink-col">
				<a class="iconlink djgz wow fadeInUp animated" href="/djgz/main.htm">
					<h2>党建工作</h2>
				</a>			
			</div>	
			<div class="sxy-iconlink-col">
				<a class="iconlink rczp wow fadeInUp animated" data-wow-delay="0.6s"  href="/zpxx/list.htm">
					<h2>人才招聘</h2>
				</a>			
			</div>
			<div class="sxy-iconlink-col">
				<a class="iconlink xzzq wow fadeInUp animated" data-wow-delay="0.9s"  href="/xzzq/list.htm">
					<h2>下载专区</h2>
				</a>			
			</div>
			<div class="sxy-iconlink-col sxy-iconlink-col-nkpl">
				<a class="iconlink nkpl wow fadeInUp animated" data-wow-delay="1.2s"  target="_blank" href="http://www.nbronline.cn/">
					<h2>南开管理评论</h2>
				</a>			
			</div>
			<div class="layui-clear"></div>
		</div>		
	</div>
</div>
<div class="sxy-footer">
	<div class="layui-container">	
		<div class="layui-row">			
			<div class="layui-col-md8">
				<div class="layui-row">
					<div class="layui-col-sm4">
						<div class="sxy-footer-rzjg">
						<h2>认证机构</h2>	
						<p>
							<img src="/_upload/tpl/01/39/313/template313/images/rzjg.png" />	
						</p>
						</div>
					</div>
					<div class="layui-col-sm5">
						<div class="sxy-footer-lxfs" frag="面板51">							
							<h2>联系方式</h2>
							<div frag="窗口51" portletmode="simpleSiteAttri">
								<p>天津市南开区白堤路121号， 300071<br />+86-22-2350-1039</p>	
							</div>
						</div>			
					</div>
					<div class="layui-col-sm3  layui-hide-xs">
						<div class="sxy-footer-xyzb">
							<h2>学院周边</h2>
							<p>	
							<a href="/2018/0618/c10086a102247/page.htm">地图</a>
							<br />							
							<a href="/2018/0618/c10086a102248/page.htm">交通</a>
							<br />							
							<a href="/2018/0618/c10086a102249/page.htm">酒店</a>
							</p>
						</div>	
					</div>
				</div>
			</div>
			<div class="layui-col-md4">
				<div class="sxy-footer-gzwm">
					<h2>关注我们</h2>					
					<div class="sxy-footer-gzwm-con">
						<div class="wx">
							<div>
								<div class="i"><i class="layui-icon layui-icon-login-weibo" style="font-size: 30px; "></i></div>
								<div class="z"><a href="http://weibo.com/u/1905063797" target="_blank" style="color:#fff;">商学院官微</a></div>	
							</div>
							<div class="layui-clear"></div>
							<div>
								<div class="i"><i class="layui-icon layui-icon-login-wechat" style="font-size: 30px; "></i></div>
								<div class="z">学院公众号 </div>	
							</div>
						</div>
						<div class="ewm">
							<img src="/_upload/tpl/01/39/313/template313/images/ewm.png" />
						</div>
						<div class="wz">手机扫描二维码<br />关注南开大学商学院<br />官方微信公众号</div>
					</div>
				</div>	
			</div>				
		</div>
		<div class="layui-clear"></div>	
		<div class="sxy-footer-copy" frag="面板52">
			版权所有：<span frag="窗口52" portletmode="simpleSiteAttri">南开大学商学院&nbsp;&nbsp;&nbsp;&nbsp;</span>
		</div>
		<div class="sxy-footer-jbrk">
			<a href="http://ibs.nankai.edu.cn/">旧版入口</a>
		</div>	
	</div>
	<a id="totop" class="totop" href="javascript:;">
		<i class="layui-icon layui-fixbar-top"></i>
	</a>
</div>
<script src="/_upload/tpl/01/39/313/template313/js/wow.min.js"></script>
<script>
if (!(/msie [6|7|8|9]/i.test(navigator.userAgent))){
	new WOW().init();
};
</script>
<script src="/_upload/tpl/01/39/313/template313/extends/layui/layui.js"></script>
<script src="/_upload/tpl/01/39/313/template313/js/slick.min.js"></script>
<script src="/_upload/tpl/01/39/313/template313/js/common.js"></script>
<script>
	layui.use(['jquery'], function(){
		var $ = layui.$;
		$('.sxy-jsxs .slider').slick({
		dots:true,
		arrows:false,
		autoplay:true,
		slidesToShow: 3,
		autoplaySpeed: 5000,
		pauseOnHover:false,
		responsive: [
		  {
			breakpoint: 1200,
			settings: {
			  slidesToShow: 3
			}
		  },{
			breakpoint: 992,
			settings: {
			  slidesToShow: 2
			}
		  },
		  {
			breakpoint: 768,
			settings: {
			  slidesToShow: 1
			}
		  }
		]
	});
	});
</script>
</body>
</html>
 <image src="/_visitcount?siteId=135&type=1&columnId=8365" style="display:none" width="0" height="0"></image>