<base href="http://xcb.nankai.edu.cn/"><!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,user-scalable=0,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0"/>
<title>宣传部</title>
<meta name="keywords" content="部门名称">
<meta name="description" content="学校描述" >

<link type="text/css" href="/_css/_system/system.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/1/style/6/6.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/00/13/19/style/14/14.css" rel="stylesheet"/>
<link type="text/css" href="/_js/_portletPlugs/simpleNews/css/simplenews.css" rel="stylesheet" />
<link type="text/css" href="/_js/_portletPlugs/datepicker/css/datepicker.css" rel="stylesheet" />
<link type="text/css" href="/_js/_portletPlugs/sudyNavi/css/sudyNav.css" rel="stylesheet" />

<script language="javascript" src="/_js/jquery.min.js" sudy-wp-context="" sudy-wp-siteId="19"></script>
<script language="javascript" src="/_js/jquery.sudy.wp.visitcount.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/datepicker/js/jquery.datepicker.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/datepicker/js/datepicker_lang_HK.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/sudyNavi/jquery.sudyNav.js"></script>
<script type="text/javascript" src="/_upload/tpl/01/5a/346/template346/extends/extends.js"></script>
<link rel="stylesheet" href="/_upload/tpl/01/5a/346/template346/style.css" type="text/css" />
<link rel="stylesheet" href="/_upload/tpl/01/5a/346/template346/mobile.css" type="text/css"/>
<link rel="stylesheet" href="/_upload/tpl/01/5a/346/template346/media.css" type="text/css"/>
<!--[if lt IE 9]>
<script src="/_upload/tpl/01/5a/346/template346/extends/libs/html5.js"></script>
<![endif]-->
</head>
<body class="main">
<!--Start||head-->
<div class="wrapper header" id="header">
	<div class="inner">
		<div class="mod clearfix">
			<a class="navi-aside-toggle"></a>
			<div class="head-left" frag="面板01">
				<!--logo开始-->
				<div class="sitelogo" frag="窗口01" portletmode="simpleSiteAttri">
					<a href="/main.htm" title="返回宣传部首页"><img border='0' src='/_upload/site/00/13/19/logo.png' /></a> 
				</div>
				<!--//logo结束-->
			</div>
		</div>
	</div>
</div>
<!--End||head-->
<!--Start||nav-->
<div class="wrapper nav wp-navi" id="nav">
	<div class="inner clearfix">
		<div class="wp-panel">
			<div class="wp-window" frag="窗口1">
				
					<div class="navi-slide-head clearfix">
						<h3 class="navi-slide-title">导航</h3>
						<a class="navi-slide-arrow"></a> 
					</div>
					
					<ul class="wp-menu" data-nav-aside='{"title":"导航","index":0}'>
						
						<li class="menu-item i1"><a class="menu-link" href="http://xcb.nankai.edu.cn/" target="_self">首　页</a>
							
						</li>
						
						<li class="menu-item i2"><a class="menu-link" href="/11346/list.htm" target="_self">机构设置</a>
							
							
							<ul class="sub-menu ">
								
								<li class="sub-item i2-1"><a class="sub-link" href="/11349/list.htm" target="_self">部门简介</a></li>
								
								<li class="sub-item i2-2"><a class="sub-link" href="/11351/list.htm" target="_self">组织机构</a></li>
								
							</ul>
							
						</li>
						
						<li class="menu-item i3"><a class="menu-link" href="/gzzd/list.htm" target="_self">规章制度</a>
							
						</li>
						
						<li class="menu-item i4"><a class="menu-link" href="/11347/list.htm" target="_self">常用下载</a>
							
						</li>
						
						<li class="menu-item i5"><a class="menu-link" href="/11348/list.htm" target="_self">联系我们</a>
							
						</li>
						
					</ul>
					
				
			</div>
		</div>
        <div class="searchbox" frag="窗口03" portletmode="search">
					<div class="wp-search clearfix">
							<form action="/_web/search/doSearch.do?locale=zh_CN&request_locale=zh_CN&_p=YXM9MTkmdD0zNDYmZD0xMjUyJnA9MSZtPVNOJg__" method="post" target="_blank">
								<div class="search-input">
									<input name="keyword" class="search-title" type="text" placeholder="Search..."/>
								</div>
								<div class="search-btn">
									<input name="submit" class="search-submit" type="submit" value=""/>
								</div>
							</form>
						</div>
				</div>
	</div>
</div>
<!--aside导航-->
<div class="wp-navi-aside" id="wp-navi-aside">
  <div class="aside-inner">
    <div class="navi-aside-wrap"></div>
  </div>
  <div class="navi-aside-mask"></div>
</div>
<!--End||nav-->
<!--Start||focus-->
<div class="wrapper mbanner" id="banner">
	<div class="inner clearfix">
		<div frag="窗口2">
			<div class="focus"></div>
			<script type="text/javascript">
				var w2imgJsons = [
				
				{
					title:"八里台校区主楼",
					src:"/_upload/article/images/a8/fc/0c6f88bb4d4692ec9e96f4096f01/ae135b90-77dd-452f-97f2-85a3dc95480e.jpg",
					url:"/2018/1122/c11363a115472/page.htm"
				},
				
				{
					title:"津南校区图书馆",
					src:"/_upload/article/images/5c/50/2e36506843a4adae9388015e21ce/956eea9d-9476-496f-b8b1-98fffb7dd43a.jpg",
					url:"/2018/1122/c11363a115471/page.htm"
				},
				
				{
					title:"新开湖秋景",
					src:"/_upload/article/images/64/2b/242a42324ef0a916ec28f1f81ae5/0adafcf5-0992-4489-9826-361b47692e24.jpg",
					url:"/2018/1122/c11363a115473/page.htm"
				},
				
				{}
				];
				w2imgJsons.pop();							
			</script>
		</div>
	</div>
</div>
<!--End||focus-->
<!--Start||content-->
<div class="wrapper main1" id="container-1">
	<div class="inner">
		<div class="mod clearfix">
			<div class="ml">
            <div class="mod_top clearfix">
				<div class="post post1 post-12 mbox" frag="窗口12">
					<div class="tt">
						<h3 class="tit"><span class="title" frag="标题">重要论述</span> </h3>
						<div class="more_btn" frag="按钮" type="更多"> <a href="/11357/list.htm" class="w12_more"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span></a> </div>
					</div>
						<!-- No Data -->
				</div>
				<div class="post post1 post-13 mbox" frag="窗口13">
					<div class="con tu_text">
						
							<ul class="news_list clearfix">
								
								<li class="news i1 clearfix">
									<div class="news_imgs"><a href='/2019/0118/c11357a118803/page.htm' target='_blank' title='习近平寄语南开师生：只有把小我融入大我，才会有海一样的胸怀，山一样的崇高'><img src='/_upload/article/images/1a/f3/81a25a904387b402d320a947c149/1920e904-9c37-4d65-9b6d-9e22674c1761_s.jpg' width='320' /></a></div>
									<div class="news_wz">
											<div class="news_title"><a href='/2019/0118/c11357a118803/page.htm' target='_blank' title='习近平寄语南开师生：只有把小我融入大我，才会有海一样的胸怀，山一样的崇高'>习近平寄语南开师生：只有把小我融入...</a></div>
											<div class="news_text"><a href='/2019/0118/c11357a118803/page.htm' target='_blank' title='习近平寄语南开师生：只有把小我融入大我，才会有海一样的胸怀，山一样的崇高'>17日上午，习近平在天津南开大学参观了百年校史主题展览，察看了化学学院和元素有机化...</a></div>
									</div>
								</li>
								
							</ul>							
						
					</div>
				</div>
				<div class="post post1 post-14 mbox" frag="窗口14">
					
						<div class="con news_text">
						
							<ul class="news_list clearfix">
								 
								<li class="news n1 clearfix">
									<div class="news_title">
									
									<a href='/2019/0117/c11357a118517/page.htm' target='_blank' title='习近平总书记视察南开大学'><font style='font-weight:bold;'>习近平总书记视察南开大学</font></a>
									
									</div>
									<div class="news_meta">2019-01-17</div>
									
								</li>
								
								<li class="news n2 clearfix">
									<div class="news_title">
									
									<a href='/2019/0217/c11357a119450/page.htm' target='_blank' title='习近平：加强党对全面依法治国的领导'>习近平：加强党对全面依法治国的领导</a>
									
									</div>
									<div class="news_meta">2019-02-17</div>
									
								</li>
								
								<li class="news n3 clearfix">
									<div class="news_title">
									
									<a href='/2019/0217/c11357a119453/page.htm' target='_blank' title='习近平在二〇一九年春节团拜会上的讲话'>习近平在二〇一九年春节团拜会上的讲话</a>
									
									</div>
									<div class="news_meta">2019-02-04</div>
									
								</li>
								
								<li class="news n4 clearfix">
									<div class="news_title">
									
									<a href='/2019/0217/c11357a119452/page.htm' target='_blank' title='习近平：推动我国生态文明建设迈上新台阶'>习近平：推动我国生态文明建设迈上新台阶</a>
									
									</div>
									<div class="news_meta">2019-01-31</div>
									
								</li>
								
								<li class="news n5 clearfix">
									<div class="news_title">
									
									<a href='/2019/0121/c11357a118940/page.htm' target='_blank' title='百年南开：牢记嘱托，立德树人'>百年南开：牢记嘱托，立德树人</a>
									
									</div>
									<div class="news_meta">2019-01-21</div>
									
								</li>
								
								<li class="news n6 clearfix">
									<div class="news_title">
									
									<a href='/2019/0121/c11357a118907/page.htm' target='_blank' title='习近平总书记念念不忘在南开的一幕幕'>习近平总书记念念不忘在南开的一幕幕</a>
									
									</div>
									<div class="news_meta">2019-01-21</div>
									
								</li>
								
								<li class="news n7 clearfix">
									<div class="news_title">
									
									<a href='/2019/0118/c11357a118814/page.htm' target='_blank' title='习近平到访南开，哪些地方吸引了他的目光？'>习近平到访南开，哪些地方吸引了他的目光？</a>
									
									</div>
									<div class="news_meta">2019-01-18</div>
									
								</li>
								
								<li class="news n8 clearfix">
									<div class="news_title">
									
									<a href='/2019/0116/c11357a118450/page.htm' target='_blank' title='习近平：努力造就一支忠诚干净担当的高素质干部队伍'>习近平：努力造就一支忠诚干净担当的高素质干部队伍</a>
									
									</div>
									<div class="news_meta">2019-01-16</div>
									
								</li>
								
							</ul>							
						
					</div>
					
				</div>	
                </div>
                <div class="mod_center clearfix">
                <div class="m-left">
                <div class="post post1 post-15 mbox" frag="窗口15">
					<div class="tt">
						<h3 class="tit"><span class="title" frag="标题">通知公告</span> </h3>
						<div class="more_btn" frag="按钮" type="更多"> <a href="/11358/list.htm" class="w15_more"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span></a> </div>
					</div>
						<div class="con news_text">
						
							<ul class="news_list clearfix">
								
								<li class="news n1 clearfix">
									<div class="news_title">
									
									<a href='/2019/0222/c11358a119698/page.htm' target='_blank' title='关于2019年2-3月理论学习主题的通知'>关于2019年2-3月理论学习主题的通知</a>
									
									</div>
									<div class="news_meta">2019-02-22</div>
									
								</li>
								
								<li class="news n2 clearfix">
									<div class="news_title">
									
									<a href='/2018/1213/c11358a116675/page.htm' target='_blank' title='关于2018年12月理论学习主题的通知'>关于2018年12月理论学习主题的通知</a>
									
									</div>
									<div class="news_meta">2018-12-13</div>
									
								</li>
								
								<li class="news n3 clearfix">
									<div class="news_title">
									
									<a href='/2018/1202/c11358a115855/page.htm' target='_blank' title='关于2018年11月理论学习主题的通知'>关于2018年11月理论学习主题的通知</a>
									
									</div>
									<div class="news_meta">2018-12-02</div>
									
								</li>
								
								<li class="news n4 clearfix">
									<div class="news_title">
									
									<a href='/2018/1202/c11358a115854/page.htm' target='_blank' title='关于开展《习近平谈治国理政》主题学习竞赛的通知'>关于开展《习近平谈治国理政》主题学习竞赛...</a>
									
									</div>
									<div class="news_meta">2018-12-02</div>
									
								</li>
								
								<li class="news n5 clearfix">
									<div class="news_title">
									
									<a href='/2018/1202/c11358a115853/page.htm' target='_blank' title='关于认真组织收听收看 纪念马克思诞辰200 周年大会的通知'>关于认真组织收听收看 纪念马克思诞辰200 ...</a>
									
									</div>
									<div class="news_meta">2018-12-02</div>
									
								</li>
								
								<li class="news n6 clearfix">
									<div class="news_title">
									
									<a href='/2018/1202/c11358a115852/page.htm' target='_blank' title='关于组织广大师生集中观看 纪录影片《厉害了，我的国》的通知'>关于组织广大师生集中观看 纪录影片《厉害...</a>
									
									</div>
									<div class="news_meta">2018-12-02</div>
									
								</li>
								
								<li class="news n7 clearfix">
									<div class="news_title">
									
									<a href='/2018/1202/c11358a115851/page.htm' target='_blank' title='关于做好《以习近平新时代中国特色社会主义思想为引领 奋力开创社会主义现代化大都市建设新征程 ——2018年天津市党员学习读本》学刊用刊工作的通知'>关于做好《以习近平新时代中国特色社会主义...</a>
									
									</div>
									<div class="news_meta">2018-12-02</div>
									
								</li>
								
								<li class="news n8 clearfix">
									<div class="news_title">
									
									<a href='/2018/1202/c11358a115850/page.htm' target='_blank' title='关于制定各单位理论学习中心组 2018年学习计划的通知'>关于制定各单位理论学习中心组 2018年学习...</a>
									
									</div>
									<div class="news_meta">2018-12-02</div>
									
								</li>
								
							</ul>							
						
					</div>
					
				</div>
                </div>
                 <div class="m-right">
                <div class="post post1 post-16 mbox" frag="窗口16">
					<div class="tt">
						<h3 class="tit"><span class="title" frag="标题">理论学习</span> </h3>
						<div class="more_btn" frag="按钮" type="更多"> <a href="/llxx/list.htm" class="w16_more"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span></a> </div>
					</div>
						<div class="con news_text">
						
							<ul class="news_list clearfix">
								
								<li class="news n1 clearfix">
									<div class="news_title">
									
									<a href='/2019/0226/c11361a119793/page.htm' target='_blank' title='牢牢把握我国发展的重要战略机遇期（人民要论）'>牢牢把握我国发展的重要战略机遇期（人民要...</a>
									
									</div>
									<div class="news_meta">2019-02-26</div>
									
								</li>
								
								<li class="news n2 clearfix">
									<div class="news_title">
									
									<a href='/2019/0217/c11361a119442/page.htm' target='_blank' title='人民日报：把小我融入大我 '>人民日报：把小我融入大我 </a>
									
									</div>
									<div class="news_meta">2019-02-17</div>
									
								</li>
								
								<li class="news n3 clearfix">
									<div class="news_title">
									
									<a href='/2019/0217/c11361a119438/page.htm' target='_blank' title='将小我融入大我：南开学子回高中母校宣讲百年南开爱国情怀'>将小我融入大我：南开学子回高中母校宣讲百...</a>
									
									</div>
									<div class="news_meta">2019-02-14</div>
									
								</li>
								
								<li class="news n4 clearfix">
									<div class="news_title">
									
									<a href='/2019/0217/c11361a119437/page.htm' target='_blank' title='【亲切关怀 至高荣耀】习近平总书记视察南开大学在南开师生中引起强烈反响（八）'>【亲切关怀 至高荣耀】习近平总书记视察南...</a>
									
									</div>
									<div class="news_meta">2019-02-05</div>
									
								</li>
								
								<li class="news n5 clearfix">
									<div class="news_title">
									
									<a href='/2019/0217/c11361a119436/page.htm' target='_blank' title='【亲切关怀 至高荣耀】习近平总书记视察南开大学在南开师生中引起强烈反响（七）'>【亲切关怀 至高荣耀】习近平总书记视察南...</a>
									
									</div>
									<div class="news_meta">2019-02-02</div>
									
								</li>
								
								<li class="news n6 clearfix">
									<div class="news_title">
									
									<a href='/2019/0217/c11361a119435/page.htm' target='_blank' title='【亲切关怀 至高荣耀】习近平总书记视察南开大学在南开师生中引起强烈反响（六）'>【亲切关怀 至高荣耀】习近平总书记视察南...</a>
									
									</div>
									<div class="news_meta">2019-01-30</div>
									
								</li>
								
								<li class="news n7 clearfix">
									<div class="news_title">
									
									<a href='/2019/0128/c11361a119161/page.htm' target='_blank' title='【亲切关怀 至高荣耀】习近平总书记视察南开大学在南开师生中引起强烈反响（五）'>【亲切关怀 至高荣耀】习近平总书记视察南...</a>
									
									</div>
									<div class="news_meta">2019-01-28</div>
									
								</li>
								
								<li class="news n8 clearfix">
									<div class="news_title">
									
									<a href='/2019/0128/c11361a119156/page.htm' target='_blank' title='重温习近平总书记殷切嘱托 校领导带队参观百年校史主题展'>重温习近平总书记殷切嘱托 校领导带队参观...</a>
									
									</div>
									<div class="news_meta">2019-01-26</div>
									
								</li>
								
							</ul>							
						
					</div>
					
				</div>
                </div>
                </div>
                <div class="mod_bottom clearfix">
              <div class="m-left">
                <div class="post post1 post-17 mbox" frag="窗口17">
					<div class="tt">
						<h3 class="tit"><span class="title" frag="标题">文化文明</span> </h3>
						<div class="more_btn" frag="按钮" type="更多"> <a href="/11359/list.htm" class="w17_more"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span></a> </div>
					</div>
						<div class="con tu_text">
						
							<ul class="news_list clearfix">
								 
								<li class="news i1 clearfix">
									<div class="news_imgs"><a href='/2018/1202/c11359a115833/page.htm' target='_blank' title='南开大学文化文明建设案例获全国奖项'><img src='/_upload/article/images/d6/03/f08135034d44bf749c411d4bf6c3/5f2947f8-2eb4-4f39-a476-6eeacfaa046f_s.jpg' width='155' height='111' /></a></div>
									<div class="news_wz">
										<div class="news_con">
											<div class="news_title"><a href='/2018/1202/c11359a115833/page.htm' target='_blank' title='南开大学文化文明建设案例获全国奖项'>南开大学文化文明建设案例获全国奖项</a></div>
											
											<div class="news_text"><a href='/2018/1202/c11359a115833/page.htm' target='_blank' title='南开大学文化文明建设案例获全国奖项'>南开新闻网讯(记者高杨)日前，中国高等教育学会第二届高校宣传工作创新发展高层论坛在...</a></div>
										</div>
									</div>
								</li>
								
							</ul>							
						
					</div>
					
				</div>
                <div class="post post1 post-41 mbox" frag="窗口41">
					
						<div class="con news_text">
						
							<ul class="news_list clearfix">
								 
								<li class="news n1 clearfix">
									<div class="news_title">
									
									<a href='/2019/0217/c11359a119429/page.htm' target='_blank' title='叶嘉莹：我与南开大学的因缘'>叶嘉莹：我与南开大学的因缘</a>
									
									</div>
									<div class="news_meta">2019-02-17</div>
									
								</li>
								
								<li class="news n2 clearfix">
									<div class="news_title">
									
									<a href='/2019/0217/c11359a119430/page.htm' target='_blank' title='我校在全国学生“学宪法 讲宪法”活动中获佳绩'>我校在全国学生“学宪法 讲宪法”活动中获...</a>
									
									</div>
									<div class="news_meta">2019-02-16</div>
									
								</li>
								
								<li class="news n3 clearfix">
									<div class="news_title">
									
									<a href='/2019/0217/c11359a119431/page.htm' target='_blank' title='南开大学官方微信、新闻网获第二届全国高校“名站名栏”'>南开大学官方微信、新闻网获第二届全国高校...</a>
									
									</div>
									<div class="news_meta">2019-02-15</div>
									
								</li>
								
								<li class="news n4 clearfix">
									<div class="news_title">
									
									<a href='/2019/0217/c11359a119432/page.htm' target='_blank' title='南开大学出版社获批国家出版基金项目'>南开大学出版社获批国家出版基金项目</a>
									
									</div>
									<div class="news_meta">2019-02-06</div>
									
								</li>
								
							</ul>							
						
					</div>
					
				</div>
                </div>
                 <div class="m-right">
                <div class="post post1 post-18 mbox" frag="窗口18">
					<div class="tt">
						<h3 class="tit"><span class="title" frag="标题">基层风采</span> </h3>
						<div class="more_btn" frag="按钮" type="更多"> <a href="/11360/list.htm" class="w18_more"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span></a> </div>
					</div>
						<div class="con tu_text">
						
							<ul class="news_list clearfix">
								 
								<li class="news i1 clearfix">
									<div class="news_imgs"><a href='/2019/0121/c11360a118908/page.htm' target='_blank' title='学工系统座谈学习习近平总书记视察南开大学重要讲话精神'><img src='/_upload/article/images/99/8f/ecb635c14b1fbe1bcb73e65d074d/4e6e95c1-afe4-45b9-903a-dfe223760ec2_s.jpg' width='155' height='111' /></a></div>
									<div class="news_wz">
										<div class="news_con">
											<div class="news_title"><a href='/2019/0121/c11360a118908/page.htm' target='_blank' title='学工系统座谈学习习近平总书记视察南开大学重要讲话精神'>学工系统座谈学习习近平总书记视察南开大学重要讲话精神</a></div>
											
											<div class="news_text"><a href='/2019/0121/c11360a118908/page.htm' target='_blank' title='学工系统座谈学习习近平总书记视察南开大学重要讲话精神'>南开新闻网讯(记者郝静秋摄影任永华)1月17日，正在天津考察调研的习近平总书记来到南...</a></div>
										</div>
									</div>
								</li>
								
							</ul>							
						
					</div>
					
				</div>
                <div class="post post1 post-42 mbox" frag="窗口42">
					
						<div class="con news_text">
						
							<ul class="news_list clearfix">
								 
								<li class="news n1 clearfix">
									<div class="news_title">
									
									<a href='/2019/0217/c11360a119443/page.htm' target='_blank' title='商学院多举措学习贯彻习近平总书记视察南开大学讲话精神'>商学院多举措学习贯彻习近平总书记视察南开...</a>
									
									</div>
									<div class="news_meta">2019-02-17</div>
									
								</li>
								
								<li class="news n2 clearfix">
									<div class="news_title">
									
									<a href='/2019/0217/c11360a119444/page.htm' target='_blank' title='电光学院寒假作业“集五福”强化思政教育全过程'>电光学院寒假作业“集五福”强化思政教育全...</a>
									
									</div>
									<div class="news_meta">2019-02-12</div>
									
								</li>
								
								<li class="news n3 clearfix">
									<div class="news_title">
									
									<a href='/2019/0217/c11360a119447/page.htm' target='_blank' title='人工智能学院多角度学习落实习近平总书记视察南开大学重要讲话精神'>人工智能学院多角度学习落实习近平总书记视...</a>
									
									</div>
									<div class="news_meta">2019-02-06</div>
									
								</li>
								
								<li class="news n4 clearfix">
									<div class="news_title">
									
									<a href='/2019/0217/c11360a119445/page.htm' target='_blank' title='南开师生赴雄安开展社会实践 深入学习习近平总书记视察雄安、南开大学讲话精神'>南开师生赴雄安开展社会实践 深入学习习近...</a>
									
									</div>
									<div class="news_meta">2019-02-05</div>
									
								</li>
								
							</ul>							
						
					</div>
					
				</div>
                </div>
                </div>			
			</div>
			
			<div class="mr">
				<div class="post post2 post-21 mbox" frag="窗口21">
					<div class="tt">
						<h3 class="tit"><span class="title" frag="标题">视频新闻</span> </h3>
					</div>
					<div class="con news_tu">
					
						<ul class="news_list clearfix">
							
							<li class="news n1">
								<div class="news_box clearfix">
									<div class="news_imgs"><a href='/_redirect?siteId=19&columnId=11354&articleId=115275' target='_blank' title='视频'><img src='/_upload/article/images/bd/63/0023dfe6498f97aaa2831c68dcf2/0fa8d159-6833-4bd9-bb5b-eaac63f850e7_s.jpg' width='352' height='189' /></a></div>
									
								</div>
							</li>
							
						</ul>											
					
				</div>
				</div>			
			
				<div class="post post3 post-22 mbox" frag="窗口22">
					<div class="con news_tu">
					
						<ul class="news_list clearfix">
							
							<li class="news n1">
								<div class="news_box clearfix">
									<div class="news_imgs"><a href='/_redirect?siteId=19&columnId=11355&articleId=115276' target='_blank' title='学校主页'><img src='/_upload/article/images/52/5c/4b189adb42deaa4983b6e41ec7ce/67e1a5a0-5964-4063-8788-15fd9a704815_s.jpg' width='352' height='83' /></a></div>
								</div>
							</li>
							
							<li class="news n2">
								<div class="news_box clearfix">
									<div class="news_imgs"><a href='/_redirect?siteId=19&columnId=11355&articleId=115277' target='_blank' title='新闻网'><img src='/_upload/article/images/d3/ae/06ff241e403494fcad1dfd502f6e/d5bbc9db-78a7-4f08-b741-d411ce22af61_s.jpg' width='352' height='83' /></a></div>
								</div>
							</li>
							
							<li class="news n3">
								<div class="news_box clearfix">
									<div class="news_imgs"><a href='/_redirect?siteId=19&columnId=11355&articleId=115278' target='_blank' title='觉悟网'><img src='/_upload/article/images/57/8e/7bcfe4584e8b8520e804938384db/ce85b6bc-8956-4488-9ce7-988d63661a0f_s.jpg' width='352' height='83' /></a></div>
								</div>
							</li>
							
							<li class="news n4">
								<div class="news_box clearfix">
									<div class="news_imgs"><a href='/_redirect?siteId=19&columnId=11355&articleId=115279' target='_blank' title='校史网'><img src='/_upload/article/images/cc/6d/6c8ee5824569a5dcc847d70737f9/d61bf7c2-4f9f-4821-a38b-dc24314c178d_s.jpg' width='352' height='83' /></a></div>
								</div>
							</li>
							
							<li class="news n5">
								<div class="news_box clearfix">
									<div class="news_imgs"><a href='/_redirect?siteId=19&columnId=11355&articleId=115280' target='_blank' title='大学报'><img src='/_upload/article/images/2f/8b/db04b0fe4029bb2a12393dfb98e5/dd186a45-b3b7-4ea4-a33b-bfa0d8fe3e20_s.jpg' width='352' height='83' /></a></div>
								</div>
							</li>
							
							<li class="news n6">
								<div class="news_box clearfix">
									<div class="news_imgs"><a href='/_redirect?siteId=19&columnId=11355&articleId=115281' target='_blank' title='BBS'><img src='/_upload/article/images/33/56/bc67574f4d81b57b0b6c01ea9892/8dcdce29-4d57-463c-9e08-e0eb2925ff6f_s.jpg' width='352' height='83' /></a></div>
								</div>
							</li>
							
							<li class="news n7">
								<div class="news_box clearfix">
									<div class="news_imgs"><a href='http://xcsx.nankai.edu.cn/manager/' target='_blank' title='数据采集平台'><img src='/_upload/article/images/20/6f/9e27993b4d88b5ad4e383cbba594/61e2459b-a6a7-4ba5-9ad7-b7767cba5fdb_s.jpg' width='352' height='83' /></a></div>
								</div>
							</li>
							
							<li class="news n8">
								<div class="news_box clearfix">
									<div class="news_imgs"><a href='http://online.nankai.edu.cn/' target='_blank' title='网上办事大厅'><img src='/_upload/article/images/c6/84/984bd5a94d158d120e67fbf75a1d/0e26fa0c-322d-40de-8c63-929345b370fc_s.jpg' width='352' height='83' /></a></div>
								</div>
							</li>
							
						</ul>											
					
				</div>					
				</div>
			</div>
		</div>
        <div class="mod">
        <div class="post post1 post-32 mbox" frag="窗口32">
        <div class="tt">
						<h3 class="tit"><span class="title" frag="标题">友情链接</span> </h3>
						<div class="more_btn" frag="按钮" type="更多"> <a href="/11356/list.htm" class="w32_more"><span class="more_text" frag="按钮内容">更多&gt;&gt;</span></a> </div>
					</div>
					<div class="con news_tu">
					
						<ul class="news_list clearfix">
							
							<li class="news n1">
								<div class="news_box clearfix">
									<div class="news_imgs"><a href='/_redirect?siteId=19&columnId=11356&articleId=115284' target='_blank' title='人民网'><img src='/_upload/article/images/b7/e1/cdcf9349492786f0d9def82379d1/af4b767c-30e9-4479-b854-c7ab07ad843d_s.jpg' width='179' height='87' /></a></div>
								</div>
							</li>
							
							<li class="news n2">
								<div class="news_box clearfix">
									<div class="news_imgs"><a href='/_redirect?siteId=19&columnId=11356&articleId=115285' target='_blank' title='新华网'><img src='/_upload/article/images/19/40/ca8391df4496935e459de2bdba19/9a49e8f6-27c5-46dd-923c-4b05b848ae69_s.jpg' width='179' height='87' /></a></div>
								</div>
							</li>
							
							<li class="news n3">
								<div class="news_box clearfix">
									<div class="news_imgs"><a href='/_redirect?siteId=19&columnId=11356&articleId=115286' target='_blank' title='光明网'><img src='/_upload/article/images/b2/8c/ea44d01c45828c557cf3b41298f1/a7ae6759-e635-4265-a80a-bc14079720f0_s.jpg' width='179' height='87' /></a></div>
								</div>
							</li>
							
							<li class="news n4">
								<div class="news_box clearfix">
									<div class="news_imgs"><a href='/_redirect?siteId=19&columnId=11356&articleId=115287' target='_blank' title='中国文明网'><img src='/_upload/article/images/ec/2c/5ca80ffd417daee40db035fe7ce9/1e23afcc-26b3-4354-8b72-b95ed3cb1c42_s.jpg' width='179' height='87' /></a></div>
								</div>
							</li>
							
							<li class="news n5">
								<div class="news_box clearfix">
									<div class="news_imgs"><a href='/_redirect?siteId=19&columnId=11356&articleId=115288' target='_blank' title='中国共产党新闻网'><img src='/_upload/article/images/30/ba/03d688704c039b38de0a4ddf36cc/2efb9256-f43b-4504-b2b1-e7fa3c6277b0_s.jpg' width='179' height='87' /></a></div>
								</div>
							</li>
							
							<li class="news n6">
								<div class="news_box clearfix">
									<div class="news_imgs"><a href='/_redirect?siteId=19&columnId=11356&articleId=115289' target='_blank' title='中国教育新闻网'><img src='/_upload/article/images/aa/30/b3ac1e724e0fa9035b87cc369c06/ada02c7c-6c45-4899-858a-4e8a11de6f9c_s.jpg' width='179' height='87' /></a></div>
								</div>
							</li>
							
						</ul>											
					
				</div>					
				</div>
        </div>
	</div>
</div>

<!--End||content-->
<!--Start||footer-->
<div class="wrapper footer" id="footer">
	<div class="inner">
		<div class="mod clearfix">
			<div class="foot-left">
			<img src="/_upload/tpl/01/5a/346/template346/images/logo_bottom.png">
			</div>
			<div class="foot-right" frag="窗口91">
				
						<ul class="news_list clearfix">
							
							<li class="news n1">
								<div class="news_box clearfix">
									<div class="news_imgs"><a href='/2018/1122/c11362a115464/page.htm' target='_blank' title='南开官微'><img src='/_upload/article/images/24/e6/d7d307984c8281151895e9477e61/67333d0a-9b0a-42ae-902b-e4acbdfccb6c_s.jpg' width='78' height='78' /></a></div>
									<div class="news_wz">
										<div class="news_con">
											<div class="news_title">南开官微</div>
										</div>
									</div>
								</div>
							</li>
							
							<li class="news n2">
								<div class="news_box clearfix">
									<div class="news_imgs"><a href='/2018/1122/c11362a115465/page.htm' target='_blank' title='南开官博'><img src='/_upload/article/images/db/b8/af0eb9424d92ad0f98f0237e6dd5/b8761158-c9db-4698-8018-5bf6522868e6_s.jpg' width='78' height='78' /></a></div>
									<div class="news_wz">
										<div class="news_con">
											<div class="news_title">南开官博</div>
										</div>
									</div>
								</div>
							</li>
							
							<li class="news n3">
								<div class="news_box clearfix">
									<div class="news_imgs"><a href='/2018/1128/c11362a115466/page.htm' target='_blank' title='南开官抖'><img src='/_upload/article/images/e1/74/9d7a9e124bc79b2e5a3dc5fd8f89/b3b87bd5-7cf5-4a77-8ede-ad14f7a62511_s.jpg' width='78' height='78' /></a></div>
									<div class="news_wz">
										<div class="news_con">
											<div class="news_title">南开官抖</div>
										</div>
									</div>
								</div>
							</li>
							
							<li class="news n4">
								<div class="news_box clearfix">
									<div class="news_imgs"><a href='/2018/1122/c11362a115467/page.htm' target='_blank' title='学习南开 '><img src='/_upload/article/images/23/c3/672856494aaaaf53ec8f7a80400d/3956ef64-f522-42ba-9fe8-a4f256ad5bb0_s.jpg' width='78' height='78' /></a></div>
									<div class="news_wz">
										<div class="news_con">
											<div class="news_title">学习南开 </div>
										</div>
									</div>
								</div>
							</li>
							
							<li class="news n5">
								<div class="news_box clearfix">
									<div class="news_imgs"><a href='/2018/1122/c11362a115468/page.htm' target='_blank' title='南开文化周末 '><img src='/_upload/article/images/4b/be/371b73da4e85aaba2edb2cbd3655/8ea1ac38-3c53-4bca-a631-275951805f35_s.jpg' width='78' height='78' /></a></div>
									<div class="news_wz">
										<div class="news_con">
											<div class="news_title">南开文化周末 </div>
										</div>
									</div>
								</div>
							</li>
							
							<li class="news n6">
								<div class="news_box clearfix">
									<div class="news_imgs"><a href='/2018/1122/c11362a115469/page.htm' target='_blank' title='我爱南开BBS'><img src='/_upload/article/images/78/2d/1ac597f94761a63ca13fab47e3f2/f19ddb19-f6db-4a05-a76c-edb66d676e06_s.jpg' width='78' height='78' /></a></div>
									<div class="news_wz">
										<div class="news_con">
											<div class="news_title">我爱南开BBS</div>
										</div>
									</div>
								</div>
							</li>
							
						</ul>											
					
			</div>
		</div>
        <div class="mod">
        <div class="foot-bottom" frag="窗口90" portletmode="simpleSiteAttri">
				<p class="copyright"><span>南开大学党委宣传部 版权所有 Copyright 2008-2014</span></p>
			</div>
        </div>
	</div>
</div>
<!--End||footer-->
</body>
<script type="text/javascript" src="/_upload/tpl/01/5a/346/template346/js/comcus.js"></script>
<script type="text/javascript" src="/_upload/tpl/01/5a/346/template346/js/main.js"></script>
<script type="text/javascript" src="/_upload/tpl/01/5a/346/template346/js/app.js"></script>
<script type="text/javascript">
$(function(){
	// 初始化SDAPP
	new SDAPP({
		"menu":{
			type:"slide,aside"
		}
	});
});
</script>
</html>

 <image src="/_visitcount?siteId=19&type=1&columnId=287" style="display:none" width="0" height="0"></image>