<base href="http://finance.nankai.edu.cn/f">
















<!DOCTYPE html>
<html>
<head>
	<title>首页 - 南开大学金融学院 - Powered By Hysenritz</title>
	<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-store" /><meta http-equiv="Pragma" content="no-cache" /><meta http-equiv="Expires" content="0" />
<meta name="author" content="http://thinkgem.iteye.com"/>
<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
<!-- Mobile Metas -->
<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
<meta name="renderer" content="webkit">
<script src="/static/jquery/jquery-1.9.1.min.js" type="text/javascript"></script>
<script src="/static/jquery/jquery-migrate-1.1.1.min.js" type="text/javascript"></script>

	<link href="/static/modules/cms/front/themes/basic/js/bootstrap/less/bootstrap.css" type="text/css" rel="stylesheet" />
	<link href="/static/modules/cms/front/themes/basic/fonts/iconfont.css" type="text/css" rel="stylesheet" />
	<!-- Banner -->
	<link rel="stylesheet" type="text/css" href="/static/modules/cms/front/themes/basic/js/ResponsiveSlides.js-master/responsiveslides.css">
	<link rel="stylesheet" type="text/css" href="/static/modules/cms/front/themes/basic/css/banner.css">
	<!-- tabs -->
	<link rel="stylesheet" type="text/css" href="/static/modules/cms/front/themes/basic/js/tabs/css/component.css">
	<!-- nankai css -->
	<link rel="stylesheet" href="/static/modules/cms/front/themes/basic/css/main.css" />
	<!--[if lt IE 9]>
		<script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->

	<script src="/static/modules/cms/front/themes/basic/js/bootstrap/dist/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="/static/modules/cms/front/themes/basic/js/puplic.js" type="text/javascript"></script>
	<!--[if lte IE 6]>
	<link href="/static/bootstrap/bsie/css/bootstrap-ie6.min.css" type="text/css" rel="stylesheet" />
	<script src="/static/bootstrap/bsie/js/bootstrap-ie.min.js" type="text/javascript"></script>
	<![endif]-->
	<!-- <link href="/static/common/jeesite.min.css" type="text/css" rel="stylesheet" /> -->
	<!--[if IE 7]> 
	<script>
		$(function(){
			$('.mainlistUl li').css({
				'width': '350px',
				'display':'inline',
				'zoom':'1',
				'float':'left'
			});
			$(".mainRight").css({
				'width': '30%'
			});
			$(".newBox .tabs .navUL > li").css({
				'width' : '49.3%'
				'display':'inline',
				'zoom':'1',
				'float':'left'
			});
		});
	</script> <![endif]-->

	
	
	<meta name="decorator" content="cms_default_basic"/>
	<meta name="description" content="南开大学金融学院" />
	<meta name="keywords" content="南开大学金融学院" />

</head>
<body>
	<div class="topBar"></div>
	<div class="bodyBox" >
		<div class="container-fluid">
			<div class="row">
				<!-- header -->
				<header id="headerBox" class="col-md-12">
					<aside class="topBarDiv">
						<div class="topBarCon">
							<div class="inputBox">
								<form class="wrap-header-search-a custom" action="/f/listt" method="get">
									<input type="text" name="title" id="activityName" placeholder="请输入关键词..." onkeyup="keyupIsFalse()">
								</form>
							</div>
							<div class="iconBox clearfix">
								<a class="pull-left weixin" href="javascript:;" style="margin-right: 5px;"> <i class="iconfont icon-weixin"></i></a>
								<a class="pull-left" href="/finance_ZH/a"> <i class="iconfont icon-guanyuwomen"></i></a>							
								<div class="cordBar"><img src="/static/modules/cms/front/themes/basic/images/erweima.png" alt=""></div>
								<script>
									$(function(){
										$("a.weixin").click(function(event) {
											/* Act on the event */
											var obj = $(".cordBar");
											if(obj.hasClass('in')){
												obj.removeClass('in');
											}else{
												obj.addClass('in');
											}
										});
									});
								</script>
							</div>
							<div class="enBox">
								<i class="iconfont icon-quanqiu"></i>
								<a href="#">English</a>
							</div>
						</div>
					</aside>
					<div class="headerCon_top">
						<a href="/f" class="logo" title="南开金融学院">
							<img src="/static/modules/cms/front/themes/basic/images/LOGO.png" alt="南开金融学院" class="img-responsive"></a>
					</div>	
				</header>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>	
	<section class="headerCon">
		<nav class="navbar navbar-inverse navBox"><!--  navbar-fixed-top -->
			<div class="bodyBox" >
				<!-- nav for better mobile display -->			
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed barButton" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- <a class="navbar-brand" href="#">导航条</a>
				-->
				</div>
				<!-- Collect the nav links, forms, and other content for toggling -->			
				<div class="navbar-collapse collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navUl">
						<li class="active" >
							<a href="/f" title="" >首页</a>
						</li>
						
							
		                    
				    			<li class=""><a href="/f/list-ddd318e1442d45a392c9fda9617779cc.html" target="">学院概况</a></li>
				    		
			    		
							
		                    
				    			<li class=""><a href="/f/list-b7100fb6474d4b6b8d9b2911914c58a2.html" target="">党政工作</a></li>
				    		
			    		
							
		                    
				    			<li class=""><a href="/f/teacher/teacher/qzjs" target="">师资队伍</a></li>
				    		
			    		
							
		                    
				    			<li class=""><a href="/f/list-2c5c97b138f242619796e094f854fda7.html" target="">学术研究</a></li>
				    		
			    		
							
		                    
				    			<li class=""><a href="/f/list-e94aa5ed4ee449c6958997995d3ea614.html" target="">招生信息</a></li>
				    		
			    		
							
		                    
				    			<li class=""><a href="/f/list-7.html" target="">教学培养</a></li>
				    		
			    		
							
		                    
				    			<li class=""><a href="/f/list-5df7ca6ccfaa49609db2af1ffe769020.html" target="">学生工作</a></li>
				    		
			    		
							
		                    
				    			<li class=""><a href="/f/list-1af476e0ff144ddab62140e5c3ba4016.html" target="">国际交流</a></li>
				    		
			    		
							
		                    
				    			<li class=""><a href="/f/list-7ee96355d5314d4d8b0432125153f6df.html" target="">校友工作</a></li>
				    		
			    		
							
		                    
				    			<li class=""><a href="/f/list-38bad32ec33c4117a3f3896616271e35.html" target="">社会服务</a></li>
				    		
			    		
					</ul>
				</div>
			</div>
		</nav>
		<div class="clearfix"></div>
	</section>
	<!-- 主体 -->
	
  <div class="bodyBox">
    <!-- Banner -->     
    <div class="callbacks_container">
      <ul class="rslides" id="banner">
        
        <li>
          <!--<img src="/finance_ZH/userfiles/1/images/cms/article/2019/01/cirf_banner.png" alt="" id="banner_1">-->
		  
		  <!-- <a href="#"><img src="/finance_ZH/userfiles/1/images/cms/article/2019/01/cirf_banner.png" alt="" id="banner_1"></a>-->
		  <a href="http://finance.nankai.edu.cn/jinrong/f/list-cirf2019.html"><img src="/finance_ZH/userfiles/1/images/cms/article/2019/01/cirf_banner.png" alt="" id="banner_1"></a>
		  
        </li>  
        
        <li>
          <!--<img src="/finance_ZH/userfiles/1/images/cms/article/2018/12/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20181218171906.jpg" alt="" id="banner_2">-->
		  
		  <!-- <a href="f/view-3d12694dd24245fbb96f8cfc11ded14d-742c9af5657e44d2868ea7334b07c635.html"><img src="/finance_ZH/userfiles/1/images/cms/article/2018/12/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20181218171906.jpg" alt="" id="banner_2"></a>-->
		  <a href=""><img src="/finance_ZH/userfiles/1/images/cms/article/2018/12/%E5%BE%AE%E4%BF%A1%E5%9B%BE%E7%89%87_20181218171906.jpg" alt="" id="banner_2"></a>
		  
        </li>  
        
        <li>
          <!--<img src="/finance_ZH/userfiles/1/images/cms/article/2018/07/104850.jpg" alt="" id="banner_3">-->
		  
		  <!-- <a href="#"><img src="/finance_ZH/userfiles/1/images/cms/article/2018/07/104850.jpg" alt="" id="banner_3"></a>-->
		  <a href="http://finance.nankai.edu.cn/f/view-3d12694dd24245fbb96f8cfc11ded14d-742c9af5657e44d2868ea7334b07c635.html"><img src="/finance_ZH/userfiles/1/images/cms/article/2018/07/104850.jpg" alt="" id="banner_3"></a>
		  
        </li>  
        
        <li>
          <!--<img src="/userfiles/1/images/cms/article/2018/07/20181015092533.png" alt="" id="banner_4">-->
		  
		  <!-- <a href="#"><img src="/userfiles/1/images/cms/article/2018/07/20181015092533.png" alt="" id="banner_4"></a>-->
		  <a href=""><img src="/userfiles/1/images/cms/article/2018/07/20181015092533.png" alt="" id="banner_4"></a>
		  
        </li>  
        
        <li>
          <!--<img src="/userfiles/1/images/cms/article/2018/07/ban101.png" alt="" id="banner_5">-->
		  
		  <!-- <a href="#"><img src="/userfiles/1/images/cms/article/2018/07/ban101.png" alt="" id="banner_5"></a>-->
		  <a href=""><img src="/userfiles/1/images/cms/article/2018/07/ban101.png" alt="" id="banner_5"></a>
		  
        </li>  
        
        <li>
          <!--<img src="/finance_ZH/userfiles/1/images/cms/article/2018/05/banner101.png" alt="" id="banner_6">-->
		  
		  <!-- <a href="#"><img src="/finance_ZH/userfiles/1/images/cms/article/2018/05/banner101.png" alt="" id="banner_6"></a>-->
		  <a href=""><img src="/finance_ZH/userfiles/1/images/cms/article/2018/05/banner101.png" alt="" id="banner_6"></a>
		  
        </li>  
        
        <li>
          <!--<img src="/finance_ZH/userfiles/1/images/cms/article/2018/05/banner100.png" alt="" id="banner_7">-->
		  
		  <!-- <a href="#"><img src="/finance_ZH/userfiles/1/images/cms/article/2018/05/banner100.png" alt="" id="banner_7"></a>-->
		  <a href=""><img src="/finance_ZH/userfiles/1/images/cms/article/2018/05/banner100.png" alt="" id="banner_7"></a>
		  
        </li>  
        
        <li>
          <!--<img src="/userfiles/1/images/cms/article/2017/11/ban0005.jpg" alt="" id="banner_8">-->
		  
		  <!-- <a href="#"><img src="/userfiles/1/images/cms/article/2017/11/ban0005.jpg" alt="" id="banner_8"></a>-->
		  <a href=""><img src="/userfiles/1/images/cms/article/2017/11/ban0005.jpg" alt="" id="banner_8"></a>
		  
        </li>  
        
        <li>
          <!--<img src="/userfiles/1/images/cms/article/2018/03/banner56.jpg" alt="" id="banner_9">-->
		  
		  <!-- <a href="#"><img src="/userfiles/1/images/cms/article/2018/03/banner56.jpg" alt="" id="banner_9"></a>-->
		  <a href=""><img src="/userfiles/1/images/cms/article/2018/03/banner56.jpg" alt="" id="banner_9"></a>
		  
        </li>  
        
        <li>
          <!--<img src="/userfiles/a4189f2f7ac54407aeaa2a0f2d97aeb7/images/cms/article/2018/02/banner1212.jpg" alt="" id="banner_10">-->
		  
		  <!-- <a href="#"><img src="/userfiles/a4189f2f7ac54407aeaa2a0f2d97aeb7/images/cms/article/2018/02/banner1212.jpg" alt="" id="banner_10"></a>-->
		  <a href=""><img src="/userfiles/a4189f2f7ac54407aeaa2a0f2d97aeb7/images/cms/article/2018/02/banner1212.jpg" alt="" id="banner_10"></a>
		  
        </li>  
        
        <li>
          <!--<img src="/userfiles/1/images/cms/article/2017/11/banner1212.jpg" alt="" id="banner_11">-->
		  
		  <!-- <a href="#"><img src="/userfiles/1/images/cms/article/2017/11/banner1212.jpg" alt="" id="banner_11"></a>-->
		  <a href=""><img src="/userfiles/1/images/cms/article/2017/11/banner1212.jpg" alt="" id="banner_11"></a>
		  
        </li>  
        
        <li>
          <!--<img src="/userfiles/1/images/cms/article/2017/11/c.png" alt="" id="banner_12">-->
		  
		  <!-- <a href="#"><img src="/userfiles/1/images/cms/article/2017/11/c.png" alt="" id="banner_12"></a>-->
		  <a href=""><img src="/userfiles/1/images/cms/article/2017/11/c.png" alt="" id="banner_12"></a>
		  
        </li>  
        
        <li>
          <!--<img src="/userfiles/1/images/cms/article/2017/11/20171116144304.jpg" alt="" id="banner_13">-->
		  
		  <!-- <a href="#"><img src="/userfiles/1/images/cms/article/2017/11/20171116144304.jpg" alt="" id="banner_13"></a>-->
		  <a href=""><img src="/userfiles/1/images/cms/article/2017/11/20171116144304.jpg" alt="" id="banner_13"></a>
		  
        </li>  
        
        <li>
          <!--<img src="/userfiles/1/images/cms/article/2017/09/tushuguan.png" alt="" id="banner_14">-->
		  
		  <!-- <a href="#"><img src="/userfiles/1/images/cms/article/2017/09/tushuguan.png" alt="" id="banner_14"></a>-->
		  <a href=""><img src="/userfiles/1/images/cms/article/2017/09/tushuguan.png" alt="" id="banner_14"></a>
		  
        </li>  
        
        <li>
          <!--<img src="/userfiles/1/images/cms/article/2017/09/999.jpg" alt="" id="banner_15">-->
		  
		  <!-- <a href="#"><img src="/userfiles/1/images/cms/article/2017/09/999.jpg" alt="" id="banner_15"></a>-->
		  <a href=""><img src="/userfiles/1/images/cms/article/2017/09/999.jpg" alt="" id="banner_15"></a>
		  
        </li>  
        
        <!-- <li>
          <img src="/static/modules/cms/front/themes/basic/images/banner-1.jpg" alt=""></li>
        <li>
          <img src="/static/modules/cms/front/themes/basic/js/ResponsiveSlides.js-master/demo/images/2.jpg" alt="">      
        </li>
        <li>
          <img src="/static/modules/cms/front/themes/basic/js/ResponsiveSlides.js-master/demo/images/3.jpg" alt="">      
        </li> -->
      </ul>
    </div>
  </div>
    <!-- Banner end -->   
    <!-- 主体 -->
    <div class="bodyBox">
      <div class="container-fluid">
        <div class="row">
          <!-- left -->
          <section class="col-md-8 mainLeft pl_0">
            <div id="tabs" class="tabs">
              <nav>
                <ul>
				 <li data-id="section-1" class="tab-current"><a href="/f/list-aa2f04974dc745c1b678a1486083ae56.html"><span>综合新闻</span></a></li>
                  <li data-id="section-2"><a href="/f/list-3d12694dd24245fbb96f8cfc11ded14d.html"><span>通知公告</span></a></li>
                  <li data-id="section-3"><a href="/f/list-27.html"><span>招生信息</span></a></li>
                  <li data-id="section-4"><a href="/f/list-6.html"><span>教学培养</span></a></li>
                  <li data-id="section-5"><a href="/f/list-2b234f715aec4dc08268799df1a5becc.html"><span>学者观点</span></a></li> 
                 
                </ul>
              </nav>
              <div class="content">
                
                <section id="section-1" class="content-current">
                  <div class="row">
                    <ul class="mainlistUl">
                      
                        <li style="margin:0px 2px;height: 196px;" class="clearfix"> 
                          <!-- <a href="/f/view-aa2f04974dc745c1b678a1486083ae56-db7bdc14383140ffac0fa9809b010713.html" class="textHidden">恪守南开精神，创新求变，开启南开金融新百年—...</a> -->
                          <a href="/f/view-aa2f04974dc745c1b678a1486083ae56-db7bdc14383140ffac0fa9809b010713.html">恪守南开精神，创新求变，开启南开金融新百年——在第十一期南开金融（大湾区）首席经济学家论坛上的致辞</a>
                          <div class="text-muted description">
                            <p class="text">
                              恪守南开精神，创新求变，开启南开金融新百年
——在第十一期南开金融（大湾区）首...
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2019-01-27 13:40:26</span>
                        </li>
                      
                        <li style="margin:0px 2px;height: 196px;" class="clearfix"> 
                          <!-- <a href="/f/view-aa2f04974dc745c1b678a1486083ae56-6f70f7e2e24045058a37d223293d6ddb.html" class="textHidden">我院李冰清教授荣任九三学社南开大学主委</a> -->
                          <a href="/f/view-aa2f04974dc745c1b678a1486083ae56-6f70f7e2e24045058a37d223293d6ddb.html">我院李冰清教授荣任九三学社南开大学主委</a>
                          <div class="text-muted description">
                            <p class="text">
                              九三学社南开大学委员会代表大会于1月21日召开，换届选举产生了九三学社南开大学第六...
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2019-01-26 10:40:05</span>
                        </li>
                      
                        <li style="margin:0px 2px;height: 196px;" class="clearfix"> 
                          <!-- <a href="/f/view-aa2f04974dc745c1b678a1486083ae56-3f5918f16e7f4355956a80683e9da347.html" class="textHidden">年度校友大会和八里台金融论坛经济金融观点集锦</a> -->
                          <a href="/f/view-aa2f04974dc745c1b678a1486083ae56-3f5918f16e7f4355956a80683e9da347.html">年度校友大会和八里台金融论坛经济金融观点集锦</a>
                          <div class="text-muted description">
                            <p class="text">
                              2018年南开上海校友年会暨第五届金融论坛于12月23日在中国金融信息中心盛大召开。年...
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2019-01-07 09:36:36</span>
                        </li>
                      
                        <li style="margin:0px 2px;height: 196px;" class="clearfix"> 
                          <!-- <a href="/f/view-aa2f04974dc745c1b678a1486083ae56-3c1194c18c9a4cbaacd85edf09f6adc1.html" class="textHidden">金融学院举办“金融国际学术精英”特色班全英文...</a> -->
                          <a href="/f/view-aa2f04974dc745c1b678a1486083ae56-3c1194c18c9a4cbaacd85edf09f6adc1.html">金融学院举办“金融国际学术精英”特色班全英文教学课程开放课堂</a>
                          <div class="text-muted description">
                            <p class="text">
                              为贯彻党和国家关于“以本为本”，培养一流本科人才的重要部署，切实做好“金融国际...
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2019-01-02 09:13:43</span>
                        </li>
                      
                        <li style="margin:0px 2px;height: 196px;" class="clearfix"> 
                          <!-- <a href="/f/view-aa2f04974dc745c1b678a1486083ae56-0ef1b9498c4441f0943b1a2df68a66e5.html" class="textHidden">安青松博士南开大学兼职教授致聘仪式暨学术讲座...</a> -->
                          <a href="/f/view-aa2f04974dc745c1b678a1486083ae56-0ef1b9498c4441f0943b1a2df68a66e5.html">安青松博士南开大学兼职教授致聘仪式暨学术讲座顺利举行</a>
                          <div class="text-muted description">
                            <p class="text">
                              （通讯员：周星淇）2018年12月15日下午，安青松博士南开大学兼职教授致聘仪式暨学术...
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2018-12-17 14:33:48</span>
                        </li>
                      
                        <li style="margin:0px 2px;height: 196px;" class="clearfix"> 
                          <!-- <a href="/f/view-aa2f04974dc745c1b678a1486083ae56-44fe5fda07054d8a8fefbcd32c31b846.html" class="textHidden">南开金融论坛暨庆祝改革开放四十周年座谈会在北...</a> -->
                          <a href="/f/view-aa2f04974dc745c1b678a1486083ae56-44fe5fda07054d8a8fefbcd32c31b846.html">南开金融论坛暨庆祝改革开放四十周年座谈会在北京人民大会堂成功举办</a>
                          <div class="text-muted description">
                            <p class="text">
                              2018年12月16日下午，南开金融论坛暨庆祝改革开放四十周年座谈会在北京人民大会堂隆...
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2018-12-17 14:07:14</span>
                        </li>
                      
                        <li style="margin:0px 2px;height: 196px;" class="clearfix"> 
                          <!-- <a href="/f/view-aa2f04974dc745c1b678a1486083ae56-f70a88157a1b4653bc39e8adc6dd01dd.html" class="textHidden">“南开大学-中国应急管理学会”2018年会暨第二届...</a> -->
                          <a href="/f/view-aa2f04974dc745c1b678a1486083ae56-f70a88157a1b4653bc39e8adc6dd01dd.html">“南开大学-中国应急管理学会”2018年会暨第二届“南开巨灾保险论坛”举行</a>
                          <div class="text-muted description">
                            <p class="text">
                              12月7日，“南开大学-中国应急管理学会”2018年会暨第二届“南开巨灾保险论坛”在我...
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2018-12-12 15:54:27</span>
                        </li>
                      
                        <li style="margin:0px 2px;height: 196px;" class="clearfix"> 
                          <!-- <a href="/f/view-aa2f04974dc745c1b678a1486083ae56-23daf512475e4d80981a73e7a7adcfc7.html" class="textHidden">范小云教授荣获《国际金融研究》2017年度优秀论...</a> -->
                          <a href="/f/view-aa2f04974dc745c1b678a1486083ae56-23daf512475e4d80981a73e7a7adcfc7.html">范小云教授荣获《国际金融研究》2017年度优秀论文一等奖</a>
                          <div class="text-muted description">
                            <p class="text">
                              11月13日，主题为“世界经济与中国2019:全球经济金融体系的未来”中国国际金融学会年...
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2018-11-19 14:50:19</span>
                        </li>
                      
                    </ul>
                  </div>
                </section>
                <section id="section-2">
                  <div class="row">
                    <ul class="mainlistUl">
                      
                        <li style="margin:0px 2px;height: 196px;"> 
                          <a href="/f/view-3d12694dd24245fbb96f8cfc11ded14d-721b38f3e85148ceb0892785c30d0aea.html">南开大学金融学院2019年招聘启事</a>
                          <div class="text-muted description">
                            <p class="text">
                              
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2019-01-27 11:30:41</span>
                        </li>
                      
                        <li style="margin:0px 2px;height: 196px;"> 
                          <a href="/f/view-3d12694dd24245fbb96f8cfc11ded14d-75bb147100224ec7af2c5e07619bba8d.html">金融学院关于百青入选教师中期、期末考核结果的公示</a>
                          <div class="text-muted description">
                            <p class="text">
                              根据学校相关通知要求，我院于11月20日召开教授会、党政联席会，对第二批“百青计划...
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2018-11-21 14:21:39</span>
                        </li>
                      
                        <li style="margin:0px 2px;height: 196px;"> 
                          <a href="/f/view-3d12694dd24245fbb96f8cfc11ded14d-b8da1eda39884f44aa08dfec2c12bb5f.html">金融学院关于百青入选教师中期、期末考核的公示</a>
                          <div class="text-muted description">
                            <p class="text">
                              根据学校相关通知要求，我院将对第二批“百青计划”入选者范小云、第四批“百青计划...
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2018-11-15 13:40:31</span>
                        </li>
                      
                        <li style="margin:0px 2px;height: 196px;"> 
                          <a href="/f/view-3d12694dd24245fbb96f8cfc11ded14d-742c9af5657e44d2868ea7334b07c635.html">南开大学金融学院面向全球诚聘英才</a>
                          <div class="text-muted description">
                            <p class="text">
                              
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2018-10-25 09:45:06</span>
                        </li>
                      
                        <li style="margin:0px 2px;height: 196px;"> 
                          <a href="/f/view-3d12694dd24245fbb96f8cfc11ded14d-876e21fb50024907b4805ef67ec69e0f.html">北美精算师（SOA）2018秋季考试安排</a>
                          <div class="text-muted description">
                            <p class="text">
                              
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2018-10-24 17:28:37</span>
                        </li>
                      
                        <li style="margin:0px 2px;height: 196px;"> 
                          <a href="/f/view-3d12694dd24245fbb96f8cfc11ded14d-64495a5202134f44a1d918321dd522ef.html">南开大学与伯克利加州大学经济系 本科生联合培养项目实施方案</a>
                          <div class="text-muted description">
                            <p class="text">
                              根据南开大学金融学院与伯克利加州大学经济系签署的合作协议，金融学院负责选拔推荐...
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2018-05-30 10:35:45</span>
                        </li>
                      
                        <li style="margin:0px 2px;height: 196px;"> 
                          <a href="/f/view-3d12694dd24245fbb96f8cfc11ded14d-aa903987197b4f749f15f9e0e774e80e.html">关于2018年高知高干体检工作的预通知</a>
                          <div class="text-muted description">
                            <p class="text">
                              
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2018-05-28 15:17:38</span>
                        </li>
                      
                        <li style="margin:0px 2px;height: 196px;"> 
                          <a href="/f/view-3d12694dd24245fbb96f8cfc11ded14d-685d814bbfa7459cb394fb850cbd5f4e.html">南开大学农业保险研究中心2018年学术年会将在郑州举行</a>
                          <div class="text-muted description">
                            <p class="text">
                              为贯彻落实党的十九大精神，共同探讨和交流农业保险服务农业现代化、脱贫攻坚和乡村...
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2018-05-10 11:39:21</span>
                        </li>
                      
                    </ul>
                  </div>
                </section>
                <section id="section-3">
                  <div class="row">
                    <ul class="mainlistUl">
                      
                        <li style="margin:0px 2px;height: 196px;"> 
                          <a href="/f/view-ca8ae70e182f446099d19a848b3cad6c-730ec0ee873645208816a8a2fa95e5c8.html">金融学院2019年全日制硕士研究生复试办法</a>
                          <div class="text-muted description">
                            <p class="text">
                              
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2019-03-06 13:11:57</span>
                        </li>
                      
                        <li style="margin:0px 2px;height: 196px;"> 
                          <a href="/f/view-6a8acc0e5e1b4655b926821978789444-4d9765bc92d54556b6885f2ca8a2622a.html">金融学院2019年博士研究生“申请考核制”招生选拔实施方案</a>
                          <div class="text-muted description">
                            <p class="text">
                              
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2018-09-30 14:09:34</span>
                        </li>
                      
                        <li style="margin:0px 2px;height: 196px;"> 
                          <a href="/f/view-e94aa5ed4ee449c6958997995d3ea614-9b1a883ccf2e42a2b3a7cab05b50d7d8.html">金融学院学术型硕士学制调整获南开大学学位评定委员会审核通过</a>
                          <div class="text-muted description">
                            <p class="text">
                              
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2018-06-21 09:37:35</span>
                        </li>
                      
                        <li style="margin:0px 2px;height: 196px;"> 
                          <a href="/f/view-ca8ae70e182f446099d19a848b3cad6c-485e9acbc9fb441fbb4f8559a954dc4a.html">金融学院2019年全日制硕士研究生入学考试复试名单（3月6日公示）</a>
                          <div class="text-muted description">
                            <p class="text">
                              
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2019-03-06 13:14:55</span>
                        </li>
                      
                        <li style="margin:0px 2px;height: 196px;"> 
                          <a href="/f/view-ca8ae70e182f446099d19a848b3cad6c-acf6ab26b81943489df72bbd5539f4c9.html">金融学院2019年非全日制硕士研究生复试办法及复试名单</a>
                          <div class="text-muted description">
                            <p class="text">
                              
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2019-03-06 13:28:10</span>
                        </li>
                      
                        <li style="margin:0px 2px;height: 196px;"> 
                          <a href="/f/view-ca8ae70e182f446099d19a848b3cad6c-0a5e03bc34e84312b80f759311f4bafe.html">金融学院2019年硕士研究生招生各专业招生人数公示</a>
                          <div class="text-muted description">
                            <p class="text">
                              
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2019-03-05 12:23:54</span>
                        </li>
                      
                        <li style="margin:0px 2px;height: 196px;"> 
                          <a href="/f/view-ca8ae70e182f446099d19a848b3cad6c-132561465c464edb868140a72359401f.html">金融学院2019年硕士研究生复试时间地点通知</a>
                          <div class="text-muted description">
                            <p class="text">
                              
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2019-03-05 12:29:09</span>
                        </li>
                      
                        <li style="margin:0px 2px;height: 196px;"> 
                          <a href="/f/view-ca8ae70e182f446099d19a848b3cad6c-4be168a22029474d864f1e89cf09025d.html">南开大学-伯明翰大学联合培养硕士研究生项目</a>
                          <div class="text-muted description">
                            <p class="text">
                              
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2018-10-11 17:01:07</span>
                        </li>
                      
                    </ul>
                  </div>
                </section>
                <section id="section-4">
                  <div class="row">
                    <ul class="mainlistUl">
                      
                        <li style="margin:0px 2px;height: 196px;"> 
                          <a href="http://jwc.nankai.edu.cn/2018/0930/c24a109407/page.htm">南开大学本科生成绩单、在读证明及各类证书翻译件办理流程须知（2018年10月修订）</a>
                          <div class="text-muted description">
                            <p class="text">
                              
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2018-10-08 09:21:57</span>
                        </li>
                      
                        <li style="margin:0px 2px;height: 196px;"> 
                          <a href="/f/view-e4bbd1a89eb24c6886aeea2a349b9097-14a1d3f2c9b64560b7fae20951f961b3.html">WRDS平台账户申请办法</a>
                          <div class="text-muted description">
                            <p class="text">
                              
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2018-11-15 14:39:38</span>
                        </li>
                      
                        <li style="margin:0px 2px;height: 196px;"> 
                          <a href="/f/view-e4bbd1a89eb24c6886aeea2a349b9097-d4b6e98759254827b30e38751049440c.html">金融计算工作站申请使用流程</a>
                          <div class="text-muted description">
                            <p class="text">
                              
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2018-11-08 11:44:13</span>
                        </li>
                      
                        <li style="margin:0px 2px;height: 196px;"> 
                          <a href="http://jwc.nankai.edu.cn/2019/0306/c24a120287/page.htm">关于认真做好二〇一九届本科生毕业资格审查工作的通知</a>
                          <div class="text-muted description">
                            <p class="text">
                              
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2019-03-07 15:54:03</span>
                        </li>
                      
                        <li style="margin:0px 2px;height: 196px;"> 
                          <a href="/f/view-8-6702232db6624aed903d1b86c8834f5c.html">2015级金融学类本科生申报毕业专业意愿统计公示</a>
                          <div class="text-muted description">
                            <p class="text">
                              
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2019-02-27 09:45:05</span>
                        </li>
                      
                        <li style="margin:0px 2px;height: 196px;"> 
                          <a href="/f/view-e4bbd1a89eb24c6886aeea2a349b9097-256a0835a3514b879727a01852d8324d.html">2018-2019学年第二学期数据资源实验室开放通知</a>
                          <div class="text-muted description">
                            <p class="text">
                              
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2019-02-20 10:19:37</span>
                        </li>
                      
                        <li style="margin:0px 2px;height: 196px;"> 
                          <a href="/f/view-8-5da951316093403f88be39ffd960bbb6.html">关于进行2015级金融学类本科生申报毕业专业的通知</a>
                          <div class="text-muted description">
                            <p class="text">
                              
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2019-02-18 15:56:35</span>
                        </li>
                      
                        <li style="margin:0px 2px;height: 196px;"> 
                          <a href="/f/view-8-e6a052f47bd547069150b57bbf528cb7.html">金融双修班2018-2019学年第一学期考试安排</a>
                          <div class="text-muted description">
                            <p class="text">
                              
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2018-12-12 13:36:25</span>
                        </li>
                      
                    </ul>
                  </div>
                </section>
                <section id="section-5">
                  <div class="row">
                    <ul class="mainlistUl">
                      
                        <li style="margin:0px 2px;height: 196px;"> 
                          <a href="/f/view-2b234f715aec4dc08268799df1a5becc-83c982554e114339aa6a52b326dc9d81.html">范小云：自贸区要对接“一带一路”金融需求</a>
                          <div class="text-muted description">
                            <p class="text">
                              市政协委员、南开大学金融学院副院长范小云在会议期间上交自己的提案。
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2016-07-13 16:46:57</span>
                        </li>
                      
                        <li style="margin:0px 2px;height: 196px;"> 
                          <a href="/f/view-2b234f715aec4dc08268799df1a5becc-c5094b9bdd284f0f8f5b8b1b3a4c05c3.html">制造业对中国崛起到底有多重要？</a>
                          <div class="text-muted description">
                            <p class="text">
                              无“农”不稳，无“工”不强，无“商”不富。由于农业受制于相对有限的产出，在三个...
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2016-04-11 17:33:37</span>
                        </li>
                      
                        <li style="margin:0px 2px;height: 196px;"> 
                          <a href="/f/view-2b234f715aec4dc08268799df1a5becc-a126c9f8b3424fdab6190d1af9d96367.html">对近三十年中国社会基本矛盾运动的分析</a>
                          <div class="text-muted description">
                            <p class="text">
                              苏东剧变的教训表明，社会主义条件下生产力与生产关系的矛盾，集中表现在上层建筑与...
                            </p>
                          </div>
                          <span class="text-muted"><i class="glyphicon glyphicon-time"></i>&nbsp;2016-04-11 17:32:47</span>
                        </li>
                      
                    </ul>
                  </div>
                </section>
              </div><!-- /content -->
            </div><!-- /tabs -->
          </section>
          <!-- right -->
          <section class="col-md-4  mainRight pr_0" style="padding-top: 25px; ">
            <div class="newBox newBox2">
              <div id="tabs_2" class="tabs">
                <nav>
                  <ul class="navUl">
                    <li data-id="section2-1" class="tab-current"><a href="/f/list-ab012c43bfff4c1b94cc00bfdf0da7d4.html"><span>南开金融学术港</span></a></li>
                    <li data-id="section2-2"><a href="/f/list-7d77f39dab894221abe6ae108d8f9efc.html"><span>南开金融(北京)论坛</span></a></li>
                  </ul>
                </nav>
                <div class="content">
                  <section id="section2-1" class="content-current">
                  
                    <img src="/finance_ZH/userfiles/1/images/cms/category/2017/04/4.png" alt="">
                    <ul class="list-unstyled">
                      
                      <li>
                        <a href="/f/view-ab012c43bfff4c1b94cc00bfdf0da7d4-32107a113e68439ca6a5b3f3e0564800.html" title="讲座预告|Bernard Salanié：Fast, Robust, and Approximately Correct:  Estimating Mixed Demand Systems">讲座预告|Bernard Salanié：Fast, Robu...</a>
                      </li>
                      
                      <li>
                        <a href="/f/view-ab012c43bfff4c1b94cc00bfdf0da7d4-c49db90a6ba247d6a71badf893439170.html" title="讲座预告|程婷婷：Time-varying skills (versus luck) in U.S. active mutual funds and hedge funds">讲座预告|程婷婷：Time-varying skills ...</a>
                      </li>
                      
                      <li>
                        <a href="/f/view-ab012c43bfff4c1b94cc00bfdf0da7d4-df13f9aad0614a76baac52d56ac95e4f.html" title="讲座预告|李全：政府投融资与债务风险防范">讲座预告|李全：政府投融资与债务风险防...</a>
                      </li>
                      
                      <li>
                        <a href="/f/view-ab012c43bfff4c1b94cc00bfdf0da7d4-2f8d95e9123e4a8bb51cc97937c60ef1.html" title="讲座预告|李学峰：不同类型投资者的噪声交易与市场有效性">讲座预告|李学峰：不同类型投资者的噪声...</a>
                      </li>
                      
                      <li>
                        <a href="/f/view-ab012c43bfff4c1b94cc00bfdf0da7d4-40ca8bf5aa98443abe5ecb451842391d.html" title="讲座预告|欧阳夫：Semiparametric Estimation of Multinomial Choice Models with Rank-Order Property">讲座预告|欧阳夫：Semiparametric Estim...</a>
                      </li>
                      
                    </ul>
                  </section>
                  <section id="section2-2">
                  
                    <img src="/finance_ZH/userfiles/1/images/cms/category/2017/04/9.png" alt="">
                    <ul class="list-unstyled">
                      
                      <li>
                        <a href="/f/view-7d77f39dab894221abe6ae108d8f9efc-caaad7e4eebc4700a7a07d044ad65feb.html" title="南开金融（北京）论坛第十七期暨南开金融校友2017年会在京举行">南开金融（北京）论坛第十七期暨南开金...</a>
                      </li>
                      
                      <li>
                        <a href="/f/view-7d77f39dab894221abe6ae108d8f9efc-3b270aeead2e41e8afc366dda6e84bed.html" title="南开金融（北京）论坛暨纪念钱荣堃先生诞辰100周年座谈会">南开金融（北京）论坛暨纪念钱荣堃先生...</a>
                      </li>
                      
                      <li>
                        <a href="/f/view-7d77f39dab894221abe6ae108d8f9efc-f41ef8e8cd1f430c90e4d2361f3abeec.html" title="李东荣：健全金融科技监管框架、推动金融科技健康发展|南开金融（北京）论坛">李东荣：健全金融科技监管框架、推动金...</a>
                      </li>
                      
                      <li>
                        <a href="/f/view-7d77f39dab894221abe6ae108d8f9efc-736fbc4258874e1a98c9b8d4a1ce95f4.html" title="张文才：亚洲区域合作一体化面临的机遇与挑战 |南开金融（北京）论坛">张文才：亚洲区域合作一体化面临的机遇...</a>
                      </li>
                      
                      <li>
                        <a href="/f/view-7d77f39dab894221abe6ae108d8f9efc-da3c19a011a14668b077c822d94cf051.html" title="余永定：中国国际收支结构调整与汇率政策 |南开金融（北京）论坛">余永定：中国国际收支结构调整与汇率政...</a>
                      </li>
                      
                    </ul>
                  </section>
                </div>
              </div>            
            </div>
            <div class="newBox newBox2">
              <div id="tabs_3" class="tabs">
                <nav>
                  <ul class="navUl">
                    <li data-id="section3-1" class="tab-current"><a href="/f/list-b396e3359a0549e4bc7fadcb6e84f099.html"><span>南开应用金融研究中心</span></a></li>
                    <li data-id="section3-2"><a href="/f/list-4fd69f9e2a1743d4a49ded535cb1ae3d.html"><span>南开金融校友会</span></a></li>
                  </ul>
                </nav>
                <div class="content">
                  <section id="section3-1" class="content-current">
                    
                    <img src="/userfiles/1/images/cms/category/2017/04/7.png" alt="">
                    <ul class="list-unstyled">
                      
                      <li>
                        <a href="/f/view-b396e3359a0549e4bc7fadcb6e84f099-29df13d48afc4b08964b1da0f1b6e000.html" title="【专栏】高凤勇：收入确认环节往往是IPO审核的侧重点">【专栏】高凤勇：收入确认环节往往是IPO...</a>
                      </li>
                      
                      <li>
                        <a href="/f/view-b396e3359a0549e4bc7fadcb6e84f099-74af1a337cc24c72922efe993401031e.html" title="独家｜北美第二届区块链全球峰会&区块链主题游学">独家｜北美第二届区块链全球峰会&区块链...</a>
                      </li>
                      
                      <li>
                        <a href="/f/view-b396e3359a0549e4bc7fadcb6e84f099-0cdb4711d5554b358b32e15282c1582b.html" title="“三板投资老千化？ ——各种风险案例探讨”—滦海新三板沙龙第三十七期">“三板投资老千化？ ——各种风险案例探...</a>
                      </li>
                      
                      <li>
                        <a href="/f/view-b396e3359a0549e4bc7fadcb6e84f099-cc88006b34c249cfb7f69949bb1dc571.html" title="【校外导师专访】包虹剑----永葆好奇，追求卓越，智慧舍得">【校外导师专访】包虹剑----永葆好奇，...</a>
                      </li>
                      
                      <li>
                        <a href="/f/view-b396e3359a0549e4bc7fadcb6e84f099-b7d04daa1ef549719dbb824e362afc08.html" title="东北药方：通过国企公司治理创新破解“东北困局” | 点金录">东北药方：通过国企公司治理创新破解“...</a>
                      </li>
                      
                    </ul>
                  </section>
                  <section id="section3-2">
                    
                    <img src="/finance_ZH/userfiles/1/images/cms/category/2017/04/6.png" alt="">
                    <ul class="list-unstyled">
                      
                    </ul>
                  </section>
                </div>
              </div>   
            </div>
          </section>
        </div>
      </div>
    </div>
    <script src="/static/modules/cms/front/themes/basic/js/ResponsiveSlides.js-master/responsiveslides.min.js" type="text/javascript"></script>
    <script src="/static/modules/cms/front/themes/basic/js/tabs/js/cbpFWTabs.js" type="text/javascript"></script>
    <script>
      $(function(){
            // ** banner
        $("#banner").responsiveSlides({
              // auto: true,
              // pager: true,
              nav: true,
              speed: 500,
              namespace: "callbacks",
              before: function () {
                $('.events').append("<li>before event fired.</li>");
              },
              after: function () {
                $('.events').append("<li>after event fired.</li>");
              }
          });
          // **tabs
          // new CBPFWTabs( document.getElementById( 'tabs' ) );
          // new CBPFWTabs( document.getElementById( 'tabs_2' ) );
          // new CBPFWTabs( document.getElementById( 'tabs_3' ) );
          $("body").on('mouseover', '.tabs nav li', function(event) {
            event.preventDefault();
            /* Act on the event */
            tabFun(this);
          });
          $("body").on('mouseover', '.tabs_2 nav li', function(event) {
            event.preventDefault();
            /* Act on the event */
            tabFun(this);
          });
          $("body").on('mouseover', '.tabs_3 nav li', function(event) {
            event.preventDefault();
            /* Act on the event */
            tabFun(this);
          });
          
          
      });
    </script>

	<!-- //主体 -->
	<!-- footer -->
	<footer>
		<div class="footerCon">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<div class="footerCon">
							<div class="row">
								<!-- <div class="col-md-5 col-sm-6">
									Copyright©2017
									<a href="http://www.nankai.edu.cn">南开大学</a>
									<a href="http://finance.nankai.edu.cn/f">金融学院</a>
								</div> -->
								<div class="col-md-12 col-sm-12 text-center">
									<!-- <a href="" class="footerNav"><i class="iconfont icon-guanyuwomen"></i> 关于我们</a> -->
									<a href="mailto:finance@nankai.edu.cn" "email me" class="footerNav"><i class="iconfont icon-lianxiwomen"></i> 联系我们</a>
									<a href="/f/map-1.html" target="_blank" class="footerNav"><i class="iconfont icon-guanyuwomen"></i> 网站地图</a>
									<a href="/f/list-f16cce28fb8744abb4a98dd2a06cfe87.html" target="_blank" class="footerNav"><i class="iconfont icon-dingwei"></i> 全景地图</a>
									<a class="footerNav" href="javascript:;">地址：天津海河教育园区同砚路38号</a>
									<!-- <a href="" class="footerNav"><i class="iconfont icon-wenhao"></i> 使用条款</a>
									<a href="" class="footerNav"><i class="iconfont icon-zhengce"></i> 隐私政策</a> -->
								</div>
							</div>
							<div class="row">
								<div class="col-md-12 text-center" style="padding-top:15px;">
								<a  href="http://www.tjjw.gov.cn/">廉韵津沽 </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										
									<a  href="http://nankai.mooc-cloud.com">技术支持 </a> <a  href="http://www.hysenritz.com/">：海鑫融智</a>
								</div>
							</div>
						</div>
					</div>	
				</div>
			</div>
		</div>
	</footer>
	<script>
        var specialKey = "「」[`~!@#$%^&*()=|{}':;',\\[\\].<>/?~！#￥……&*（）——|{}【】‘；：”“'。，、？《》]‘’". split('');
        function keyupIsFalse() {
            var value = document.getElementById('activityName').value;
            for (var i = 0; i < specialKey.length; i++) {
                if (value.indexOf(specialKey[i]) > -1) {
                    document.getElementById('activityName').value = value.replace(specialKey[i], '');
                    break;
                }
            }
        }
	</script>
</body>
</html>