<base href="http://news.nankai.edu.cn/nkgb/index.shtml"><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="">


<link href="/2014ceshi/css/style.css" rel="stylesheet" />
<link href="/2014ceshi/css/third.css" rel="stylesheet" />
<title>南开新闻网</title>
</head>

<body>
<div class="wrap">
<!-- banner starts -->

<!--enorth cms{ new_second_banner }enorth cms-->
<style type="text/css">
.banner {
	position: relative;
	width: 1000px;
	height: 125px;
	background-repeat: no-repeat;
	background-image: url(/2014ceshi/images/banner.png);
	padding-bottom: 5px;
}

.mainmenu {
	position: relative;
	float: left;
	margin-left: 480px;
	margin-top: 95px;
}

.mainmenu a {
	color: #989898;
	text-decoration: none;
}

.mainmenu a:hover {
	color: #4f4f4f;
}

.link {
	position: relative;
	float: left;
	margin: 0 5px;
	font: bold 16px 'Microsoft YaHei';
}

.form {
	position: relative;
	float: left;
	line-height: 12px;
	padding-left: 24px;
	top: -2px;
}

.form input[type="text"] {
	float: left;
	width: 125px;
	height: 12px;
	padding-left: 3px;
	text-indent: 5px;
	border: none;
	border-radius: 1px;
	box-shadow: 0 0 0 2px #ababab;
}

.form input[type="text"]:focus {
	outline: 0 none;
	box-shadow: 0 0 0 2px #7e7e7e;
}
</style>
<body>
	<div class="banner">
		<a href="http://news.nankai.edu.cn/" style="position: absolute;left: 60px;top: 15px;display: block;width: 380px;height: 100px;">&nbsp;</a>
		<div class="mainmenu">
			<div class="link">
				<a href="http://news.nankai.edu.cn/" target="_blank">首页</a>
			</div>
			<div class="link">
				<a href="http://jw.nankai.edu.cn/" target="_blank">觉悟网</a>
			</div>
			<div class="link">
				<a href="http://theory.nankai.edu.cn/" target="_blank">学习网</a>
			</div>
			<div class="link">
				<a
					href="http://news.nankai.edu.cn/xwzt/system/2014/03/06/000168359.shtml"
					target="_blank">大学报</a>
			</div>
			<div class="link">
				<a href="http://news.nankai.edu.cn/xs/" target="_blank">校史网</a>
			</div>
			<div class="link">
				<a href="http://bbs.nankai.edu.cn/" target="_blank">BBS</a>
			</div>
			<div class="form">
				<form method="get" id="searchform" action="#" class="form-search"
					style="padding-top: 7px;" />

				<!--Baidu站内搜索开始-->
				<script language="javascript">
					function baidusearch() {
						var wd = document.getElementsByName("wd")[0].value;
						var link = "http://www.baidu.com/s?si=news.nankai.edu.cn&cl=3&ct=2097152&tn=baidulocal&word="
								+ wd;
						window.open(link);
					}
				</script>
				<input name="wd" type="text" size="10" /> <input type="image"
					onclick="javascript:baidusearch()" src="/2014ceshi/images/find.png"
					alt="搜索"
					style=" width:16px; height:16px;position: relative;
float: left;
padding-left: 8px;" />
				<!--Baidu站内搜索结束-->
				</form>
			</div>
		</div>
	</div>
</body>
<!--enorth cms{ new_second_banner }enorth cms-->

<!-- banner ends -->
<!-- content starts -->
<div class="con-wrap">
<div class="third-content">
	<div class="third-left">
            <div class=" news-position">
<!--function position() parse begin-->
您当前的位置 ：<a href=http://news.nankai.edu.cn/nkgb/>广播</a>&nbsp;正文
<!--function: position() parse end  0ms cost! -->
</div>
        <div class=" news-content">
          
<!--function latest5(/nkgb/,1,50,false,<IMG SRC="http://news.nankai.edu.cn/images/index_27.gif">,yyyy-MM-dd,class=news,none) parse begin-->
<table width="100%"  >
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/07/19/000400800.shtml"   target="_blank" class=news>校党委常委会议传达学习全国组织工作会议精神</a>&nbsp;&nbsp; 2018-07-19</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/07/19/000400799.shtml"   target="_blank" class=news>南开大学统战工作领导小组会议召开</a>&nbsp;&nbsp; 2018-07-19</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/07/19/000400798.shtml"   target="_blank" class=news>“不忘初心 牢记使命”2018年南开大学党务干部党性教育培训班举办</a>&nbsp;&nbsp; 2018-07-19</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/07/19/000400797.shtml"   target="_blank" class=news>中国科学院院士阎锡蕴访问南开并作学术报告</a>&nbsp;&nbsp; 2018-07-19</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/07/19/000400796.shtml"   target="_blank" class=news>2018年天津市高校辅导员岗前培训班南开开班</a>&nbsp;&nbsp; 2018-07-19</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/07/19/000400795.shtml"   target="_blank" class=news>学校启动2018年“知行南开”师生同行暑期社会实践活动</a>&nbsp;&nbsp; 2018-07-19</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/07/19/000400794.shtml"   target="_blank" class=news>“中国史学史研究的反思与展望”暨纪念杨翼骧先生百年诞辰国际学术研讨会举行</a>&nbsp;&nbsp; 2018-07-19</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/07/19/000400793.shtml"   target="_blank" class=news>中共南开大学纪律检查委员会召开第八次全体会议</a>&nbsp;&nbsp; 2018-07-19</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/07/19/000400792.shtml"   target="_blank" class=news>数学与经济、数学与金融国际学术研讨会暨史树中先生逝世十周年纪念会举行</a>&nbsp;&nbsp; 2018-07-19</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/07/19/000400791.shtml"   target="_blank" class=news>南开团队在人工血管再生机制研究领域取得重要进展</a>&nbsp;&nbsp; 2018-07-19</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/07/19/000400790.shtml"   target="_blank" class=news>南开主办第二届“中国的‘自然’思想：学说与演变”学术研讨会</a>&nbsp;&nbsp; 2018-07-19</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/07/19/000400789.shtml"   target="_blank" class=news>我校学生合唱团凭借有表演民谣合唱《精忠报国》在巴塞罗那金色之声国际合唱比赛摘得总冠军</a>&nbsp;&nbsp; 2018-07-19</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/07/19/000400788.shtml"   target="_blank" class=news>我校教授入选全国新闻出版行业领军人才</a>&nbsp;&nbsp; 2018-07-19</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/07/19/000400787.shtml"   target="_blank" class=news>南开教师论文发表于国际顶级金融学期刊</a>&nbsp;&nbsp; 2018-07-19</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/07/19/000400785.shtml"   target="_blank" class=news>【南开新闻】20180716</a>&nbsp;&nbsp; 2018-07-19</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/07/06/000398574.shtml"   target="_blank" class=news>南开大学庆祝中国共产党成立97周年表彰大会举行</a>&nbsp;&nbsp; 2018-07-06</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/07/06/000398606.shtml"   target="_blank" class=news>南开大学召开2018年全校人才工作会议</a>&nbsp;&nbsp; 2018-07-06</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/07/06/000398605.shtml"   target="_blank" class=news>南开大学2018届本科生、硕士研究生、博士研究生毕业典礼暨学位授予仪式举行</a>&nbsp;&nbsp; 2018-07-06</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/07/06/000398607.shtml"   target="_blank" class=news>南开大学召开全面从严治党工作会议</a>&nbsp;&nbsp; 2018-07-06</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/07/06/000398604.shtml"   target="_blank" class=news>南开大学2018届本科生、硕士研究生、博士研究生毕业典礼暨学位授予仪式举行</a>&nbsp;&nbsp; 2018-07-06</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/07/06/000398603.shtml"   target="_blank" class=news>校领导会见周海冰校友</a>&nbsp;&nbsp; 2018-07-06</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/07/06/000398601.shtml"   target="_blank" class=news>校领导巡视期末考试考场</a>&nbsp;&nbsp; 2018-07-06</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/07/06/000398600.shtml"   target="_blank" class=news>学校表彰2018届赴西部基层就业毕业生、优秀毕业生</a>&nbsp;&nbsp; 2018-07-06</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/07/06/000398599.shtml"   target="_blank" class=news>专题培训助力庄浪扶贫</a>&nbsp;&nbsp; 2018-07-06</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/07/06/000398598.shtml"   target="_blank" class=news>2018年滇西全域旅游与旅游扶贫专题培训班南开开班</a>&nbsp;&nbsp; 2018-07-06</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/07/06/000398597.shtml"   target="_blank" class=news>南开大学统计与数据科学学院揭牌 中科院院士马志明任院长</a>&nbsp;&nbsp; 2018-07-06</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/07/06/000398596.shtml"   target="_blank" class=news>49名南开大学—格拉斯哥大学联合培养硕士生获中英“双学位”</a>&nbsp;&nbsp; 2018-07-06</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/07/06/000398595.shtml"   target="_blank" class=news>曹雪涛会见陈宜瑜院士</a>&nbsp;&nbsp; 2018-07-06</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/07/06/000398594.shtml"   target="_blank" class=news>南开大学举行2018年校园开放日 提供高招咨询服务</a>&nbsp;&nbsp; 2018-07-06</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/07/06/000398576.shtml"   target="_blank" class=news>南开校友唐际清先生家藏古籍特藏文献捐赠仪式举行</a>&nbsp;&nbsp; 2018-07-06</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/07/06/000398575.shtml"   target="_blank" class=news>南开新闻20180702</a>&nbsp;&nbsp; 2018-07-06</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/06/16/000391617.shtml"   target="_blank" class=news>实践出真知——胸怀报国之志 坚定创新信心</a>&nbsp;&nbsp; 2018-06-16</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/06/14/000390971.shtml"   target="_blank" class=news>专家学者南开聚焦“中国特色社会主义经济改革发展回顾与展望”</a>&nbsp;&nbsp; 2018-06-14</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/06/14/000390964.shtml"   target="_blank" class=news>南开大学在中央直属单位2017年定点扶贫工作考核中获佳绩</a>&nbsp;&nbsp; 2018-06-14</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/06/14/000390962.shtml"   target="_blank" class=news>南开学者史学译著《瘟疫与人》再版</a>&nbsp;&nbsp; 2018-06-14</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/06/14/000390974.shtml"   target="_blank" class=news>【南开新闻】20180611</a>&nbsp;&nbsp; 2018-06-14</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/06/14/000390972.shtml"   target="_blank" class=news>校党委常委会传达学习习近平总书记在两院院士大会上的重要讲话精神</a>&nbsp;&nbsp; 2018-06-14</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/06/14/000390970.shtml"   target="_blank" class=news>“牢记嘱托 勇担使命”南开大学学生代表座谈会举行</a>&nbsp;&nbsp; 2018-06-14</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/06/14/000390969.shtml"   target="_blank" class=news>广西民族大学党委书记一行来南开访问交流</a>&nbsp;&nbsp; 2018-06-14</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/06/14/000390968.shtml"   target="_blank" class=news>南开大学召开第七届教职工代表大会第二次会议</a>&nbsp;&nbsp; 2018-06-14</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/06/14/000390967.shtml"   target="_blank" class=news>“南开系”校长郑州共话新时代教育改革发</a>&nbsp;&nbsp; 2018-06-14</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/06/14/000390966.shtml"   target="_blank" class=news>南开大学召开智能技术研讨会</a>&nbsp;&nbsp; 2018-06-14</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/06/14/000390965.shtml"   target="_blank" class=news>延边大学校长金雄来校访问</a>&nbsp;&nbsp; 2018-06-14</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/06/14/000390963.shtml"   target="_blank" class=news>学校表彰本科生创新实践 启动2018年新立项项目</a>&nbsp;&nbsp; 2018-06-14</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/06/05/000388256.shtml"   target="_blank" class=news>校党委发出通知要求学习贯彻习近平总书记在纪念马克思诞辰200周年大会上重要讲话精神</a>&nbsp;&nbsp; 2018-06-05</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/06/05/000388257.shtml"   target="_blank" class=news>中国高校生态文明教育联盟在南开大学成立</a>&nbsp;&nbsp; 2018-06-05</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/06/05/000388267.shtml"   target="_blank" class=news>南开学者著作《马克思政治哲学研究》出版</a>&nbsp;&nbsp; 2018-06-05</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/06/05/000388266.shtml"   target="_blank" class=news>南开科研团队“破译”河豚毒素潜在靶点基因</a>&nbsp;&nbsp; 2018-06-05</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/06/05/000388265.shtml"   target="_blank" class=news>南开大学科研团队在恶性肿瘤血道转移中发现新靶标</a>&nbsp;&nbsp; 2018-06-05</td></tr>
<tr><td><IMG SRC="http://news.nankai.edu.cn/images/index_27.gif"></td><td class=news ><a href="http://news.nankai.edu.cn/nkgb/system/2018/06/05/000388264.shtml"   target="_blank" class=news>南开3篇文章在天津市理论征文活动中获奖</a>&nbsp;&nbsp; 2018-06-05</td></tr>
</table>

<!--function: latest5(/nkgb/,1,50,false,<IMG SRC="http://news.nankai.edu.cn/images/index_27.gif">,yyyy-MM-dd,class=news,none) parse end  141ms cost! -->

        <div align="center">
        <br>
<!--function selectpage() parse begin-->
<a href="http://news.nankai.edu.cn/nkgb/system/more/36000000/0000/36000000_00000028.shtml">下一页</a>
<!--function: selectpage() parse end  15ms cost! -->
<br>
        <br>
      </div>
        </div>
	</div>
        <div class="third-right">
	
<!--enorth cms{ 2014new-bl }enorth cms-->
<style type="text/css">
.third-right {
	position: relative;
	float: left;
	width: 260px;
	height: auto;
}

.third-menu {
	width: 255px;
	height: auto;
	background-image: url(/2014ceshi/images/zhulou.png);
	background-repeat: no-repeat;
}

.menu-title {
	position: relative;
	padding: 28px 0 0 210px;
}

.menu-title a {
	font: bold 16px 'Microsoft YaHei';
	color: #701a5e;
	text-decoration: none;
}

.guanbo {
	padding: 5px;
}

.zhuanti {
	width: 230px;
	height: 130px;
	padding: 5px 5px;
}

.zhuanti-title {
	position: relative;
	float: left;
	width: 120px;
	margin-top: 15px;
}

.zhuanti-title a {
	font: bold 13px 'Microsoft YaHei';
	text-decoration: none;
}

.zhuanti-content {
	padding-top: 2px;
	position: relative;
	float: left;
	width: 120px;
	font: 12px 'Microsoft YaHei';
	line-height: 16px;
	text-align: justify;
	text-justify: inter-ideograph;
}

.zhuanti-img {
	position: relative;
	float: left;
	width: 100px;
	height: 100px;
	margin: 15px 5px 15px 0;
}

.zhuanti img {
	width: 100px;
	height: 100px;
        border:none;
}

.guanzhu {
	padding-top: 5px;
}

.guanzhu td a {
	width: 220px;
	overflow: hidden;
	text-overflow: ellipsis;
	font: 13px 'Microsoft YaHei';
	line-height: 15px;
	text-decoration: none;
	color: #000;
	display: inline-block;
	white-space: nowrap;
	margin: 2px 0 1px 0;
}
</style>
<body>
<div class="third-menu">
        <div class="menu-title"><a href="http://weibo.com/nankaiuni" target="_blank">官博</a></div>
        <div class="guanbo">
<iframe width="245" height="400" class="share_self"  frameborder="0" scrolling="no" src="http://widget.weibo.com/weiboshow/index.php?language=zh_cn&width=0&height=550&fansRow=2&ptype=1&speed=0&skin=1&isTitle=0&noborder=1&isWeibo=1&isFans=0&uid=1851774145&verifier=4e1ba554&colors=7f0d6f,ffffff,666666,0082cb,ecfbfd&dpc=1"></iframe>
        </div>
        </div>
        <div class="third-menu">
        	<div class="menu-title"><a href="http://news.nankai.edu.cn/xwzt/system/2010/03/07/000028950.shtml" target="_blank">专题</a></div>
         
<!--function guide_model(zttj,1,2,1,/2014ceshi/small_template/zhuanti.html) parse begin-->
<table width="100%"  >
<tr><td ><div class="zhuanti">
<div class="zhuanti-img"><a href="http://news.nankai.edu.cn/zttj/system/2018/03/01/000369676.shtml" target="_blank"><img src=http://news.nankai.edu.cn/pic/0/00/29/62/296245_618433.jpg /></a></div>
<div class="zhuanti-title"><a href="http://news.nankai.edu.cn/zttj/system/2018/03/01/000369676.shtml"   target="_blank" >【专题】纪念杰出校友周恩来总理诞辰120周年</a></div>
<div class="zhuanti-content">&nbsp;&nbsp;在南开大学杰出校友周恩来诞辰120周年之际，南开师生举办相关纪念活动，共同缅怀周总理的伟大人格和精神风范。</div></td></tr>
<tr><td ><div class="zhuanti">
<div class="zhuanti-img"><a href="http://news.nankai.edu.cn/xwzt/system/2018/04/15/000376955.shtml" target="_blank"><img src=http://news.nankai.edu.cn/pic/0/00/29/63/296365_959782.jpg /></a></div>
<div class="zhuanti-title"><a href="http://news.nankai.edu.cn/xwzt/system/2018/04/15/000376955.shtml"   target="_blank" ><b><font color=#FF0000>【专题】学习贯彻党的十九大精神</font></b></a></div>
<div class="zhuanti-content">&nbsp;&nbsp;不忘初心，牢记使命，高举中国特色社会主义伟大旗帜，决胜全面建成小康社会</div></td></tr>
</table>

<!--function: guide_model(zttj,1,2,1,/2014ceshi/small_template/zhuanti.html) parse end  16ms cost! -->

         </div>
        <div class="third-menu">
        	<div class="menu-title"><a href="http://news.nankai.edu.cn/nkyw/index.shtml" target="_blank">关注</a></div>
         <div class="guanzhu">
         
<!--function guide5($hot7_0,1,10,false,none,none,none,none) parse begin-->
<table width="100%"  >
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000430054.shtml"   target="_blank" >独家V观：习近平鼓励南开学子：志存高远，脚踏实地</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/spxw/system/2019/01/19/000430034.shtml"   target="_blank" >【独家V观】习近平鼓励南开学子：志存高远，脚踏实地</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/spxw/system/2019/01/19/000430017.shtml"   target="_blank" >【新闻联播】央视快评：共同努力把京津冀协同发展这件大事办好</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/spxw/system/2019/01/19/000430016.shtml"   target="_blank" >【新闻联播】牢记总书记嘱托 谱写京津冀协同发展新篇章</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000429974.shtml"   target="_blank" >中国教育报：习近平在京津冀三省市考察并主持召开京津冀协同发展座谈会时强调 稳扎稳打勇于担当敢于创新善作善成 推动京津冀协同发展取得新的更大进展</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000429975.shtml"   target="_blank" >人民日报海外版：在京津冀三省市考察并主持召开京津冀协同发展座谈会 习近平：稳扎稳打 勇于担当 敢于创新 善作善成</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/mtnk/system/2019/01/19/000429976.shtml"   target="_blank" >人民日报海外版：习近平在京津冀三省市考察并主持京津冀协同发展座谈会时强调 稳扎稳打勇于担当敢于创新善作善成 推动京津冀协同发展取得新的更大进展</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/19/000429994.shtml"   target="_blank" >化学学院座谈学习习近平总书记视察南开大学重要讲话精神</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/19/000430015.shtml"   target="_blank" >【新闻联播】牢记总书记嘱托 谱写京津冀协同发展新篇章</a></td></tr>
<tr><td></td><td  ><a href="http://news.nankai.edu.cn/nkyw/system/2019/01/19/000429995.shtml"   target="_blank" >我校学工系统座谈学习习近平总书记视察南开大学重要讲话精神</a></td></tr>
</table>

<!--function: guide5($hot7_0,1,10,false,none,none,none,none) parse end  31ms cost! -->

         </div>
        </div>
</body>
<!--enorth cms{ 2014new-bl }enorth cms-->

	</div>			
</div>

<!-- content ends -->
<!-- footer starts -->

<!--enorth cms{ new_footer }enorth cms-->
<style type="text/css">
.footer {
	position: relative;
	float: left;
	width: 940px;
	height: 60px;
	color: #717171;
	font-size: 12px !important;
	font-size: 10px;
	line-height: 14px;
}

.footer-left {
	position: relative;
	float: left;
	padding-left: 35px;
}

.footer-right {
	position: relative;
	float: left;
	padding-left: 25px;
}

.footer p {
	margin: 0 0 10px 0;
}

.footer a {
	text-decoration: none;
	color: #717171;
}

.footer a:hover {
	color: #000;
}
</style>

<body>

<div class="footer">
    <div class="footer-left">
        <p>本网站由南开大学新闻中心设计维护 Copyright@2014 津ICP备12003308号-1</p>
        <p>新闻热线：022-85358737  022-23508464  投稿信箱：nknews@nankai.edu.cn</p>
    </div>
    <div class="footer-right">
        <p><a href="http://www.people.com.cn/" target="_blank">人民网</a>
        <a href="http://www.xinhuanet.com/" target="_blank">新华网</a>
        <a href="http://www.gmw.cn/" target="_blank">光明网</a>      
        <a href="http://www.jyb.cn/" target="_blank">中国教育新闻网</a>
        <a href="http://www.stdaily.com/" target="_blank">中国科技网</a>
 <a href="http://www.youth.cn/" target="_blank">中国青年网</a>
       
        <a href="http://world.chinadaily.com.cn/" target="_blank">中国日报网</a>
 <a href="http://www.chinanews.com/" target="_blank">中新网</a >
   
        <p><a href="http://www.nankai.edu.cn/" target="_blank">南开大学</a>
        <a href="http://nankai.en.school.cucas.cn/" target="_blank">英文资讯</a>
        <a href="http://xxgk.nankai.edu.cn/" target="_blank">信息公开网</a>
        <a href="http://urp.nankai.edu.cn/" target="_blank">信息门户</a>
        <a href="http://nkuaa.nankai.edu.cn/ " target="_blank">校友会</a>
        <a href="http://nkuef.nankai.edu.cn/" target="_blank">基金会</a>
        <a href="http://zsb.nankai.edu.cn/" target="_blank">招生办 </a>
        <a href="http://www.lib.nankai.edu.cn/" target="_blank">图书馆</a>
 <a href="http://xuebao.nankai.edu.cn/noscript/xuebao/" target="_blank">学报编辑部</a></p>
      </div>
</div>
</body>
<!--enorth cms{ new_footer }enorth cms-->

<!-- footer ends -->
</div>
</div>
</body>
</html><!--<page cms="enorth webpublisher"  version="5.0.0 /2011101201" server_name="svctag-f76553x" parse_date="2019-03-10 13:13:05" cost="266" parse_result="0" input_mode="manual"></page>-->