<base href="http://ifd.nankai.edu.cn/"><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>金融发展研究院</title>

<link type="text/css" href="/_css/_system/system.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/1/style/6/6.css" rel="stylesheet"/>
<link type="text/css" href="/_upload/site/00/38/56/style/25/25.css" rel="stylesheet"/>
<link type="text/css" href="/_js/_portletPlugs/simpleNews/css/simplenews.css" rel="stylesheet" />
<link type="text/css" href="/_js/_portletPlugs/sudyNavi/css/sudyNav.css" rel="stylesheet" />

<script language="javascript" src="/_js/jquery.min.js" sudy-wp-context="" sudy-wp-siteId="56"></script>
<script language="javascript" src="/_js/jquery.sudy.wp.visitcount.js"></script>
<script type="text/javascript" src="/_js/_portletPlugs/sudyNavi/jquery.sudyNav.js"></script>
<link rel="stylesheet" href="/_upload/tpl/00/4a/74/template74/style.css" type="text/css" media="all" />
</head>

<body>
<div class="wrapper" id="header">
	<div class="inner">
  	<div class="head" >
    	<span class="English"><a href="http://ifd.nankai.edu.cn/ifden/">English</a></span>
    </div>
    <div class="navbar" frag="面板1">
    	<div class="navbox" frag="窗口1">
      	<div id="wp_nav_w1"> 

 
<ul class="wp_nav" data-nav-config="{drop_v: 'down', drop_w: 'right', dir: 'y', opacity_main: '1', opacity_sub: '0.8', dWidth: '0'}">
      
     <li class="nav-item i1 "> 
         <a href="/main.htm" title="首页" target="_self"><span class="item-name">首页</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i2 "> 
         <a href="/2808/list.htm" title="学院简介" target="_self"><span class="item-name">学院简介</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i2-1 "> 
                 <a href="/ycjy/list.htm" title="院长寄语" target="_self"><span class="item-name">院长寄语</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i2-2 "> 
                 <a href="/xyjj/list.htm" title="学院简介" target="_self"><span class="item-name">学院简介</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i3 "> 
         <a href="/2809/list.htm" title=" 师资团队" target="_self"><span class="item-name"> 师资团队</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i3-1 "> 
                 <a href="/nkjs/list.htm" title="南开教授" target="_self"><span class="item-name">南开教授</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-2 "> 
                 <a href="/jzjs/list.htm" title="兼职教授" target="_self"><span class="item-name">兼职教授</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-3 "> 
                 <a href="/tpyjy/list.htm" title="特聘研究员" target="_self"><span class="item-name">特聘研究员</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-4 "> 
                 <a href="/bshldz/list.htm" title="博士后流动站" target="_self"><span class="item-name">博士后流动站</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i3-5 "> 
                 <a href="/jszp/list.htm" title="教师招聘" target="_self"><span class="item-name">教师招聘</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i4 "> 
         <a href="/2810/list.htm" title=" 学生校友" target="_self"><span class="item-name"> 学生校友</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i5 "> 
         <a href="/2811/list.htm" title="学术研究" target="_self"><span class="item-name">学术研究</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i6 "> 
         <a href="/2812/list.htm" title="教学培训" target="_self"><span class="item-name">教学培训</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i7 "> 
         <a href="/2813/list.htm" title="交流合作" target="_self"><span class="item-name">交流合作</span></a><i class="mark"></i> 
          
     </li> 
      
     <li class="nav-item i8 "> 
         <a href="/2814/list.htm" title="会议专栏" target="_self"><span class="item-name">会议专栏</span></a><i class="mark"></i> 
          
         <ul class="sub-nav"> 
              
             <li class="nav-item i8-1 "> 
                 <a href="/dejzgjrfzxslt/list.htm" title="第二届中国金融发展学术论坛" target="_self"><span class="item-name">第二届中国金融发展学...</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i8-2 "> 
                 <a href="/sjzgjrfzxslt/list.htm" title="首届中国金融发展学术论坛" target="_self"><span class="item-name">首届中国金融发展学术...</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i8-3 "> 
                 <a href="/wqyxlwschjyzgwqwxsyth/list.htm" title="“企业效率、市场环境与中国崛起”学术研讨会" target="_self"><span class="item-name">“企业效率、市场环境...</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i8-4 "> 
                 <a href="/zgjrtzggwbhxqjrcxbshlt/list.htm" title="中国金融体制改革暨滨海新区金融创新博士后论坛" target="_self"><span class="item-name">中国金融体制改革暨滨...</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i8-5 "> 
                 <a href="/wjjfzyxjrwxslt/list.htm" title="“经济发展与新金融”学术论坛" target="_self"><span class="item-name">“经济发展与新金融”...</span></a><i class="mark"></i> 
                  
             </li> 
              
             <li class="nav-item i8-6 "> 
                 <a href="/nkjbwrmbgjhwzbsckfhjrggwyth/list.htm" title="南开举办“人民币国际化、资本市场开放和金融改革”研讨会" target="_self"><span class="item-name">南开举办“人民币国际...</span></a><i class="mark"></i> 
                  
             </li> 
              
         </ul> 
          
     </li> 
      
     <li class="nav-item i9 "> 
         <a href="/2815/list.htm" title="联系我们" target="_self"><span class="item-name">联系我们</span></a><i class="mark"></i> 
          
     </li> 
      
</ul> 
 
 
 </div>
      </div>
    </div>
  </div>
</div>

<div class="wrapper" id="container">
	<div class="inner inner2">
  	   <div class="m1"></div>
       <div class="m2">
          <div class="m2-1" frag="面板2">
             <div frag="窗口2">
                 <div id="wp_news_w2"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='/2018/0917/c2816a107987/page.htm' target='_blank' title='首届津门金融沙龙举办'>首届津门金融沙龙举办</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i2"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>2</span> 
             <span class='Article_Title'><a href='/2018/0607/c2816a100746/page.htm' target='_blank' title='校企合作应更多关注学生发展与变革高校教学模式'>校企合作应更多关注学生发展与变革高校...</a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i3"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>3</span> 
             <span class='Article_Title'><a href='/2018/0529/c2816a100135/page.htm' target='_blank' title='改革新意频现 退市制度仍需完善'><font style='font-weight:bold;'>改革新意频现 退市制度仍需完善</font></a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i4"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>4</span> 
             <span class='Article_Title'><a href='/2018/0329/c2816a92958/page.htm' target='_blank' title='产融协同：防范系统性金融风险的基础'><font style='font-weight:bold;'>产融协同：防范系统性金融风险的基础</font></a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i5"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>5</span> 
             <span class='Article_Title'><a href='/2018/0329/c2816a92947/page.htm' target='_blank' title='A股现金分红监管规则有望进一步完善'><font style='font-weight:bold;'>A股现金分红监管规则有望进一步完善</font></a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i6"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>6</span> 
             <span class='Article_Title'><a href='/2018/0329/c2816a92946/page.htm' target='_blank' title='中国证券报：A股现金分红是什么水平，什么企业爱现金分红？大数据告诉你'><font style='font-weight:bold;'>中国证券报：A股现金分红是什么水平，...</font></a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
</ul> 

<div class="more"><a class="more-link" href="/2816/list.htm" title="显示更多"><span class="moretext"><font style='color: #2e7aac;font-family: 宋体;font-size: 10;'>更多&gt;&gt;</font></span></a></div></div> 

             </div>
          </div>
          <div class="m2-2" frag="面板3">
             <div frag="窗口3">
                 <div id="wp_news_w3"> 
 
<ul class="wp_article_list"> 
      
     <li class="list_item i1"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>1</span> 
             <span class='Article_Title'><a href='/2019/0219/c2817a119523/page.htm' target='_blank' title='师资博士后招募'><font style='font-weight:bold;color:#FF9924;'>师资博士后招募</font></a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i2"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>2</span> 
             <span class='Article_Title'><a href='/2018/1010/c2817a110552/page.htm' target='_blank' title='金融发展研究院2019年学术型硕士研究生招生简章'><font style='font-weight:bold;color:#EBA486;'>金融发展研究院2019年学术型硕士研究生...</font></a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i3"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>3</span> 
             <span class='Article_Title'><a href='/2019/0222/c2817a119691/page.htm' target='_blank' title='北京大学出版社编审做客金融发展研究院'><font style='font-weight:bold;color:#FFDF3D;'>北京大学出版社编审做客金融发展研究院</font></a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i4"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>4</span> 
             <span class='Article_Title'><a href='/2018/1203/c2817a115900/page.htm' target='_blank' title='金融发展研究院2019年&quot;申请考核制&quot;博士招生综合考核结果公示'><font style='font-weight:bold;'>金融发展研究院2019年&quot;申请考核制&quot;博士...</font></a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i5"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>5</span> 
             <span class='Article_Title'><a href='/2018/0929/c2817a108968/page.htm' target='_blank' title='金融发展研究院2019年“申请考核制”博士招生实施细则'><font style='font-weight:bold;'>金融发展研究院2019年“申请考核制”博...</font></a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
     <li class="list_item i6"> 
         <div class="fields pr_fields"> 
             <span class='Article_Index'>6</span> 
             <span class='Article_Title'><a href='/2018/0922/c2817a108457/page.htm' target='_blank' title='南开大学金融发展研究院2018级新生开学典礼举行'><font style='font-weight:bold;'>南开大学金融发展研究院2018级新生开学...</font></a></span> 
         </div> 
         <div class="fields ex_fields"> 
              
         </div> 
     </li> 
      
</ul> 

<div class="more"><a class="more-link" href="/2817/list.htm" title="显示更多"><span class="moretext"><font style='color: #2e7aac;font-family: 宋体;font-size: 10;'>更多&gt;&gt;</font></span></a></div></div> 

             </div>
          </div>
          <div class="m2-3" >
             <ul>
               <li class="li-1"><span class="a-1"><a href="/2821/list.htm">讲座论坛</a></span><span><a href="/2822/list.htm">金融资讯</a></span></li>
               <li class="li-2"><span class="a-1"><a href="/2823/list.htm">科研成果</a></span><span><a href="/2824/list.htm">教师招聘</a></span></li>
               <li class="li-3"><span class="a-1"><a href="/2825/list.htm">金融文摘</a></span><span><a href="/2826/list.htm">联系方式</a></span></li>
             </ul>
          </div>
          <div class="clear"></div>
       </div>
    
  </div>
</div>

<div class="wrapper" id="footer">
	<div class="inner">
  	<div class="foot">
    	<p>&copy;2014 Institute of Finance and Development, Nankai University. Powered by Webplus PRO</p>
    </div>
  </div>
</div><div id=ipv6_enabled_www_test_logo></div>
<script language="JavaScript" type="text/javascript">
            var Ipv6_Js_Server = (("https:" == document.location.protocol) ? "https://" : "http://");
        document.write(unescape("%3Cscript src='" + Ipv6_Js_Server + "www.ipv6forum.com/ipv6_enabled/sa/SA1.php?id=5741' type='text/javascript'%3E%3C/script%3E"));
</script>
</body>
</html>
 <image src="/_visitcount?siteId=56&type=1&columnId=2806" style="display:none" width="0" height="0"></image>